<div class="qi-oql">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <h3><%- helpers.t('report:oql:title:ppm') %></h3>
  <div id="<%- idPrefix %>-ppm-chart"></div>
  <div id="<%- idPrefix %>-ppm-table" class="qi-oql-table-container"></div>
  <div class="row">
    <div class="col-lg-6">
      <h3><%- helpers.t('report:oql:title:where') %></h3>
      <div id="<%- idPrefix %>-where-chart"></div>
      <div id="<%- idPrefix %>-where-table" class="qi-oql-table-container"></div>
    </div>
    <div class="col-lg-6">
      <h3><%- helpers.t('report:oql:title:what') %></h3>
      <div id="<%- idPrefix %>-what-chart"></div>
      <div id="<%- idPrefix %>-what-table" class="qi-oql-table-container"></div>
    </div>
  </div>
  <h3><%- helpers.t('report:oql:title:results') %></h3>
  <div id="<%- idPrefix %>-results" style="margin-top: 10px"></div>
</div>
