<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th class="is-min text-right" style="border-left: none"><%- helpers.t('report:oql:' + property) %></th>
    <% weeks.forEach(function(week) { %>
    <th class="is-min text-center"><%- week %></th>
    <% }) %>
    <th class="is-min text-center"></th>
  </tr>
  </thead>
  <tbody>
  <% rows.forEach(function(row) { %>
  <tr data-id="<%= row._id %>">
    <th class="is-min text-right" title="<%= row.title %>">
      <%= row.label %>: <span class="small"><%= row.title %></span>
    </th>
    <% row.data.forEach(function(d) { %>
    <td class="is-min is-number" style="width: 46px" title="<%- d.absolute %>/<%- d.total %>">
      <% if (d.relative) { %>
      <%- d.relative %>%
      <% } %>
    </td>
    <% }) %>
    <th class="is-min is-number text-right" title="<%- row.total.absolute %>/<%- row.total.total %>">
      <%- row.total.relative %>%
    </th>
  </tr>
  <% }) %>
  </tbody>
</table>
