<table class="table table-bordered table-condensed qi-oqlReport-table-ppm">
  <thead>
  <tr>
    <th class="is-min text-right" style="border-left: none"></th>
    <% data.forEach(function(d) { %>
    <th class="is-min text-center"><%- d.week %></th>
    <% }) %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th class="is-min text-right" style="border-left: none"><%- helpers.t('report:oql:series:oqlTarget') %></th>
    <% data.forEach(function(d) { %>
    <td class="is-min is-number" <% if (canManage) { %> data-key="<%- d.key %>" <% } %>><%- d.target %></td>
    <% }) %>
  </tr>
  <tr>
    <th class="is-min text-right" style="border-left: none"><%- helpers.t('report:oql:series:oql') %></th>
    <% data.forEach(function(d) { %>
    <td class="is-min is-number"><%- d.oql %></td>
    <% }) %>
  </tr>
  </tbody>
</table>
