<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Outgoing quality</title>
  <style>
    @page {
      size: A4 landscape;
      margin: 10mm;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      color: #000;
      text-align: center;
      font-size: 14px;
      font-family: Arial, sans-serif;
      line-height: 1;
      text-rendering: geometricPrecision;
    }
    .page {
      position: relative;
      width: 100%;
    }
    .page + .page {
      page-break-before: always;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }
    .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 24px;
      text-align: right;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }
    #where-what {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
    }
    table {
      margin: auto;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ccc;
    }
    th, td {
      padding: 5px 5px;
      border: 1px solid #ccc;
    }
    .text-center {
      text-align: center;
    }
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .is-number {
      font-family: Consolas, monospace;
      text-align: right;
    }
    .overflow {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 310px;
    }
    .small {
      font-weight: normal;
      font-size: 12px;
    }
    ol {
      list-style-position: inside;
    }
    .legend {
      position: absolute;
      text-align: left;
    }
    .legend-top {
      top: -10px;
      left: 10px;
    }
    .legend-bot {
      top: 30px;
      right: 10px;
      align-self: end;
    }
    .legend-items {
      padding: 4px 0;
      border: 1px solid #ccc;
    }
    .legend-item {
      padding: 4px 8px;
    }
    .legend-indicator {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #000;
    }
    .legend-arrow {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    .legend-top .legend-arrow {
      margin-left: auto;
      text-align: right;
      border-bottom: 8px solid #ccc;
    }
    .legend-bot .legend-arrow {
      border-top: 8px solid #ccc;
    }
    <% include ../../assets/oql.css %>
    .qi-oql-results {
      margin-top: 10px;
      text-align: left;
    }
    .qi-oql-result {
      flex: 1 1 auto;
      min-width: 33.3%;
    }
    .qi-oql-props {
      line-height: 1.2;
    }
    .qi-oql-props + .qi-oql-props {
      margin-top: 8px;
    }
    .qi-oql-prop + .qi-oql-prop {
      margin-left: 15px;
    }
    .qi-oql-prop-name {
      margin-bottom: 4px;
      font-weight: bold;
    }
    .qi-oql-prop-value {
      font-size: 12px;
      line-height: 1.4;
    }
    .text-lines {
      font-size: 10px;
    }
  </style>
</head>
<body class="qi-oql-printable">
<div class="page">
  <div class="title"><%- t('BREADCRUMB:reports:outgoingQuality') %></div>
  <div class="date"><%- week %></div>
  <div>
    <h3><%- t('report:oql:title:ppm') %></h3>
    <img src="data:image/png;base64,<%- charts.ppm %>" width="1031" height="250">
    <div style="display: flex; position: relative">
      <div class="legend legend-top">
        <div class="legend-arrow"></div>
        <div class="legend-items">
          <div class="legend-item">
            <span class="legend-indicator" style="background: #d9534f"></span>
            <span class="legend-label"><%- t('report:oql:ppmOver') %></span>
          </div>
          <div class="legend-item">
            <span class="legend-indicator" style="background: #5cb85c"></span>
            <span class="legend-label"><%- t('report:oql:ppmUnder') %></span>
          </div>
          <div class="legend-item">
            <span class="legend-indicator" style="background: #f00"></span>
            <span class="legend-label"><%- t('report:oql:target') %></span>
          </div>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th class="text-right"></th>
          <% tables.ppm.forEach(function(d) { %>
          <th class="text-center"><%- d.week %></th>
          <% }) %>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th class="text-right"><%- t('report:oql:series:oqlTarget') %></th>
          <% tables.ppm.forEach(function(d) { %>
          <td class="is-number"><%- d.target %></td>
          <% }) %>
        </tr>
        <tr>
          <th class="text-right"><%- t('report:oql:series:oql') %></th>
          <% tables.ppm.forEach(function(d) { %>
          <td class="is-number"><%- d.oql %></td>
          <% }) %>
        </tr>
        </tbody>
      </table>
      <div class="legend legend-bot">
        <div class="legend-items">
          <div class="legend-item">
            <span class="legend-indicator" style="background: #337ab7"></span>
            <span class="legend-label">
              <%- t('report:oql:where') %>/<%- t('report:oql:what') %>
            </span>
          </div>
          <div class="legend-item">
            <span class="legend-indicator" style="background: #f0ad4e"></span>
            <span class="legend-label"><%- t('report:oql:pareto') %></span>
          </div>
          <div class="legend-item">
            <span class="legend-indicator" style="background: #f00"></span>
            <span class="legend-label"><%- t('report:oql:series:oqlTarget') %></span>
          </div>
        </div>
        <div class="legend-arrow"></div>
      </div>
    </div>
  </div>
  <div id="where-what">
    <div>
      <h3><%- t('report:oql:title:where') %></h3>
      <img src="data:image/png;base64,<%- charts.where %>">
      <table>
        <thead>
        <tr>
          <th class="text-right"><%- t('report:oql:' + tables.where.property) %></th>
          <% tables.where.weeks.forEach(function(week) { %>
          <th class="text-center"><%- week %></th>
          <% }) %>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <% tables.where.rows.forEach(function(row) { %>
        <tr>
          <th class="text-right">
            <span class="overflow"><%= row.label %>: <span class="small"><%= row.title %></span></span>
          </th>
          <% row.data.forEach(function(d) { %>
          <td class="is-number" style="width: 46px">
            <% if (d.relative) { %>
            <%- d.relative %>%
            <% } %>
          </td>
          <% }) %>
          <th class="is-number"><%- row.total.relative %>%</th>
        </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
    <div>
      <h3><%- t('report:oql:title:what') %></h3>
      <img src="data:image/png;base64,<%- charts.what %>">
      <table>
        <thead>
        <tr>
          <th class="text-right"><%- t('report:oql:' + tables.what.property) %></th>
          <% tables.what.weeks.forEach(function(week) { %>
          <th class="text-center"><%- week %></th>
          <% }) %>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <% tables.what.rows.forEach(function(row) { %>
        <tr>
          <th class="text-right">
            <span class="overflow"><%= row.label %>: <span class="small"><%= row.title %></span></span>
          </th>
          <% row.data.forEach(function(d) { %>
          <td class="is-number" style="width: 46px">
            <% if (d.relative) { %>
            <%- d.relative %>%
            <% } %>
          </td>
          <% }) %>
          <th class="is-number"><%- row.total.relative %>%</th>
        </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if (results.length) { %>
<div class="page">
  <div class="title"><%- t('BREADCRUMB:reports:outgoingQuality') %></div>
  <div class="date"><%- week %></div>
  <h3><%- t('report:oql:title:results') %></h3>
  <% canManage = false %>
  <% include results.ejs %>
</div>
<% } %>
</body>
</html>
