<div class="list is-clickable">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed text-left">
      <thead>
      <tr>
        <th data-column-id="kpi site date concern pareto" style="max-width: 125px">
          <%- t('PROPERTY:kpi') %> / <%- t('PROPERTY:site') %> ...<!--<br>
          <%- t('PROPERTY:date') %><br>
          <%- t('PROPERTY:concern') %><br>
          <%- t('PROPERTY:pareto') %>//-->
        </th>
        <th data-column-id="rootCause"><%- t('PROPERTY:rootCause') %></th>
        <th data-column-id="problem"><%- t('PROPERTY:problem') %></th>
        <th data-column-id="countermeasure"><%- t('PROPERTY:countermeasure') %></th>
        <th data-column-id="check standard who when" class="is-min">
          <%- t('PROPERTY:check') %>...<!--<br>
          <%- t('PROPERTY:standard') %><br>
          <%- t('PROPERTY:who') %><br>
          <%- t('PROPERTY:when') %>//-->
        </th>
      </tr>
      </thead>
      <tbody>
      <% rows.forEach(function(row) { %>
      <tr class="list-item" data-id="<%- row._id %>">
        <td data-id="kpi site date concern pareto" style="max-width: 125px">
          <%= row.kpi %> / <%= row.site %> / <br>
          <%- row.date %> / <%= row.concern %> /<br>
          <%= row.pareto %>
        </td>
        <td data-id="rootCause"><%- row.rootCause %></td>
        <td data-id="problem"><%= row.problem %></td>
        <td data-id="countermeasure"><%= row.countermeasure %></td>
        <td data-id="when" class="is-min">
          <%= row.check || '-' %> /<br>
          <%= row.standard || '-' %> /<br>
          <%- row.who || '-' %> /<br>
          <%- row.when || '-' %>
        </td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</div>
