<div class="panel panel-default osh-attachments-panel">
  <div class="panel-heading">
    <%- t('attachments:panelTitle') %>
  </div>
  <div class="panel-body">
    <div class="osh-attachments">
      <% attachments.forEach(attachment => { %>
      <div class="osh-attachment" data-id="<%- attachment._id %>">
        <% if (attachment.image) { %>
        <a class="osh-attachment-img" href="<%- attachment.url %>" style="background-image: url('<%- attachment.url %>?min=1')"></a>
        <% } else { %>
        <a class="osh-attachment-icon" href="<%- attachment.url %>" target="_blank">
          <i class="fa <%- attachment.icon %>"></i>
        </a>
        <% } %>
        <div class="osh-attachment-name"><%= attachment.name %></div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
