<form class="mechOrders-import">
  <div class="form-group">
    <label for="<%- idPrefix %>-file"><%- t('mechOrders', 'import:file') %></label>
    <input id="<%- idPrefix %>-file" name="mechOrders" class="form-control" type="file" autofocus>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('mechOrders', 'import:submit') %></button>
    <button type="button" class="cancel btn btn-link"><%- t('mechOrders', 'import:cancel') %></button>
  </div>
</form>
