<div id="<%- idPrefix %>-editor-backdrop" class="kanban-editor-backdrop"></div>
<form id="<%- idPrefix %>-editor-form" class="kanban-editor-form" data-column-id="<%- columnId %>" autocomplete="off">
  <input id="<%- idPrefix %>-editor-input"
         type="text" autocomplete="new-password"
         class="form-control kanban-editor-input"
         value="<%= value %>"
         pattern="<%- pattern %>"
         placeholder="<%- placeholder %>"
         maxlength="<%- maxLength %>"
         autocomplete="off">
</form>
