<form class="printers-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- t('printers', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" autofocus required maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label is-required"><%- t('printers', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" name="label" required maxlength="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-tags" class="control-label"><%- t('printers', 'PROPERTY:tags') %></label>
        <input id="<%- idPrefix %>-tags" type="text" name="tags">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
