<div class="ct-report-results-page">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <h3><%- t('resultsReport:vs:title') %></h3>
  <div id="<%- idPrefix %>-vs"></div>
  <h3><%- t('resultsReport:avgOutput:title') %></h3>
  <div id="<%- idPrefix %>-avgOutput"></div>
  <div id="<%- idPrefix %>-table"></div>
</div>
