<div class="opinionSurveyScanTemplates-details">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, ['survey', 'pageNumber', 'name']) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- t('opinionSurveyScanTemplates', 'PANEL:TITLE:params') %></div>
    <div class="panel-details">
      <div class="row">
        <div class="col-md-4">
          <%- helpers.props(model, ['dp', 'cannyThreshold', 'circleAccumulatorThreshold']) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['minimumRadius', 'maximumRadius', 'minimumDistance']) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['filledThreshold', 'markedThreshold']) %>
        </div>
      </div>
    </div>
  </div>
  <div class="opinionSurveyScanTemplates-page-container">
    <div class="opinionSurveyScanTemplates-page-wrapper">
      <div class="opinionSurveyScanTemplates-page">
        <img class="opinionSurveyScanTemplates-page-image" src="/opinionSurveys/scanTemplates/<%- model.image %>.jpg" width="<%- model.width %>" height="<%- model.height %>">
        <% regions.forEach(function(region) { %>
        <%- renderRegion(region) %>
        <% }) %>
      </div>
    </div>
  </div>
</div>
