<div class="opinionSurveyScanTemplates-region" style="left: <%- region.left %>px; top: <%- region.top %>px; width: <%- region.width %>px; height: <%- region.height %>px" data-question="<%- region.question || '' %>" data-options="<%- region.options %>"><div class="opinionSurveyScanTemplates-region-label"><%= label %></div></div>
