<div class="panel panel-default">
  <div class="panel-heading is-with-actions">
    <span class="panel-heading-title"></span>
    <% include _stationPanelActions.ejs %>
  </div>
  <div class="panel-body has-lastElementRow">
    <div class="form-row">
      <div class="form-group">
        <label for="<%- idPrefix %>-lampIp" class="control-label"><%- helpers.t('PROPERTY:stations:lampIp') %></label>
        <input id="<%- idPrefix %>-lampIp" class="form-control" type="text" name="stations[<%- stationIndex %>].lampIp" style="width: 150px">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-redLampI" class="control-label"><%- helpers.t('PROPERTY:stations:redLampI') %></label>
        <input id="<%- idPrefix %>-redLampI" class="form-control" type="text" name="stations[<%- stationIndex %>].redLampI" style="width: 150px">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-orangeLampI" class="control-label"><%- helpers.t('PROPERTY:stations:orangeLampI') %></label>
        <input id="<%- idPrefix %>-orangeLampI" class="form-control" type="text" name="stations[<%- stationIndex %>].orangeLampI" style="width: 150px">
      </div>
    </div>
  </div>
</div>
