<div id="<%- idPrefix %>-corroborateExtra" class="prodDowntimes-corroborate-extra">
  <div class="form-group prodDowntimes-corroborate-statuses">
    <label for="<%- idPrefix %>-status" class="control-label"><%- t('prodDowntimes', 'corroborate:status') %></label>
    <div id="<%- idPrefix %>-status" class="btn-group btn-block" data-toggle="buttons">
      <% if (showRejectedStatus) { %>
      <label class="btn btn-default"><input type="checkbox" name="status" value="rejected"><i class="fa fa-thumbs-o-down text-danger"></i><span><%- t('prodDowntimes', 'PROPERTY:status:rejected') %></span></label>
      <% } %>
      <% if (showConfirmedStatus) { %>
      <label class="btn btn-default"><input type="checkbox" name="status" value="confirmed"><i class="fa fa-thumbs-o-up text-success"></i><span><%- t('prodDowntimes', 'PROPERTY:status:confirmed') %></span></label>
      <% } %>
    </div>
  </div>
  <div class="form-group has-required-select2">
    <label for="<%- idPrefix %>-reason" class="control-label is-required"><%- t('prodDowntimes', 'corroborate:reason') %></label>
    <input id="<%- idPrefix %>-reason" name="reason" required>
  </div>
  <div class="form-group has-required-select2">
    <label for="<%- idPrefix %>-aor" class="control-label is-required"><%- t('prodDowntimes', 'corroborate:aor') %></label>
    <input id="<%- idPrefix %>-aor" name="aor">
  </div>
</div>