<div id="<%- idPrefix %>-props" class="panel panel-<%- model.statusClassName %> prodDowntimes-details">
  <div class="panel-heading"><%- t('core', 'PANEL:TITLE:details') %></div>
  <div class="panel-details row">
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: '!pressWorksheet', visible: !!model.productName, value: function(pw)
        {
          if (pw)
          {
            if (user.isAllowedTo('PRESS_WORKSHEETS:VIEW'))
            {
              return '<a href="#pressWorksheets/' + model.pressWorksheet + '">' + t('core', 'BOOL:true') + '</a>';
            }

            return t('core', 'BOOL:true');
          }

          return t('core', 'BOOL:false');
        }},
        {id: '!shift', value: model.prodShiftText},
        {id: '!order', visible: !!model.productName, value: function()
        {
          if (model.prodShiftOrder && user.isAllowedTo('PROD_DATA:VIEW'))
          {
            return '<a href="#prodShiftOrders/' + model.prodShiftOrder._id + '">' + model.orderId + '</a>: '
              + _.escape(model.productName);
          }

          return model.orderId + ': ' + _.escape(model.productName);
        }},
        {
          id: 'operation',
          visible: !!model.productName,
          value: model.operationNo + (model.operationName ? (': ' + model.operationName) : '')
        },
        {id: '!order', visible: !model.productName},
        {id: '!master', value: model.masterInfo},
        {id: '!leader', value: model.leaderInfo},
        {id: '!operator', value: model.operatorInfo}
      ]) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: 'status', value: model.statusText},
        'reason',
        'aor',
        '!startedAt',
        '!finishedAt',
        'duration'
      ]) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        'division',
        'subdivision',
        {id: '!mrpControllers', value: function(mrps)
        {
          var value = _.escape(mrps);

          if (model.orderMrp)
          {
            value += ' ' + helpers.t('details:orderMrp', {mrp: model.orderMrp});
          }

          return value;
        }},
        'prodFlow',
        'workCenter',
        'prodLine'
      ]) %>
    </div>
  </div>
</div>
