<div>
  <div class="well">
    <form id="<%- idPrefix %>-form" class="filter-form is-vertical prodDowntimes-filter-form">
      <div class="form-group">
        <label for="<%- idPrefix %>-from-date"><%- t('prodDowntimes', 'FILTER:DATE:FROM') %></label>
        <div id="<%- idPrefix %>-from" class="form-group-datetime">
          <input id="<%- idPrefix %>-from-date" class="form-control" name="from-date" type="date" placeholder="YYYY-MM-DD">
          <input id="<%- idPrefix %>-from-time" class="form-control" name="from-time" type="time" placeholder="hh:mm">
        </div>
      </div><div
        class="form-group">
        <label for="<%- idPrefix %>-to-date"><%- t('prodDowntimes', 'FILTER:DATE:TO') %></label>
        <div id="<%- idPrefix %>-to" class="form-group-datetime">
          <input id="<%- idPrefix %>-to-date" class="form-control" name="to-date" type="date" placeholder="YYYY-MM-DD">
          <input id="<%- idPrefix %>-to-time" class="form-control" name="to-time" type="time" placeholder="hh:mm">
        </div>
      </div><div
        class="form-group">
        <label for="<%- idPrefix %>-orgUnit"><%- t('prodDowntimes', 'PROPERTY:orgUnit') %></label>
        <input id="<%- idPrefix %>-orgUnit" name="orgUnit" type="text" data-placeholder="<%- t('prodDowntimes', 'FILTER:PLACEHOLDER:orgUnit') %>">
      </div><div
        class="form-group">
        <label for="<%- idPrefix %>-aor">
          <input id="<%- idPrefix %>-aorIn" class="filter-inLabel" name="aorIn" type="checkbox" value="true" title="<%- t('prodDowntimes', 'FILTER:TOOLTIP:in') %>">
          <%- t('prodDowntimes', 'PROPERTY:aor') %>
        </label>
        <input id="<%- idPrefix %>-aor" name="aor" type="text" data-placeholder="<%- t('prodDowntimes', 'FILTER:PLACEHOLDER:aor') %>">
      </div><div
        class="form-group">
        <label for="<%- idPrefix %>-reason">
          <input id="<%- idPrefix %>-reasonIn" class="filter-inLabel" name="reasonIn" type="checkbox" value="true" title="<%- t('prodDowntimes', 'FILTER:TOOLTIP:in') %>">
          <%- t('prodDowntimes', 'PROPERTY:reason') %>
        </label>
        <input id="<%- idPrefix %>-reason" name="reason" type="text" data-placeholder="<%- t('prodDowntimes', 'FILTER:PLACEHOLDER:reason') %>">
      </div><div
        class="form-group">
        <label class="control-label"><%- t('prodDowntimes', 'PROPERTY:status') %></label>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="status[]" value="undecided">
            <%- t('prodDowntimes', 'PROPERTY:status:undecided') %>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="status[]" value="confirmed">
            <%- t('prodDowntimes', 'PROPERTY:status:confirmed') %>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="status[]" value="rejected">
            <%- t('prodDowntimes', 'PROPERTY:status:rejected') %>
          </label>
        </div>
      </div><div
        class="form-group">
        <label for="<%- idPrefix %>-limit"><%- t('prodDowntimes', 'FILTER:LIMIT') %></label>
        <input id="<%- idPrefix %>-limit" class="form-control" name="limit" type="number" value="25" min="5" max="100" step="1">
      </div><div
        class="form-group filter-actions">
        <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodDowntimes', 'FILTER:BUTTON') %></span></button>
      </div>
    </form>
  </div>
  <div class="message message-inline message-info prodDowntimes-filter-message">
    <i class="fa fa-info-circle fa-5x"></i>
    <%- t('prodDowntimes', 'filter:message') %>
  </div>
</div>
