<form class="prodDowntimes-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%= formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <% if (isChangeRequest) { %>
    <div class="message message-inline message-warning"><%- helpers.t('changeRequest:warning:' + (editMode ? 'edit' : 'add')) %></div>
    <% } %>
    <div class="panel-body">
      <% if (isChangeRequest) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-requestComment" class="control-label"><%- helpers.t('changeRequest:commentLabel') %></label>
        <textarea id="<%- idPrefix %>-requestComment" class="form-control" name="requestComment" rows="2"></textarea>
      </div>
      <% } %>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-master" class="control-label"><%- helpers.t('PROPERTY:master') %></label>
          <input id="<%- idPrefix %>-master" type="text" autocomplete="new-password" name="master">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-leader" class="control-label"><%- helpers.t('PROPERTY:leader') %></label>
          <input id="<%- idPrefix %>-leader" type="text" autocomplete="new-password" name="leader">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-operator" class="control-label"><%- helpers.t('PROPERTY:operator') %></label>
          <input id="<%- idPrefix %>-operator" type="text" autocomplete="new-password" name="operator">
        </div>
      </div>
      <% if (!editMode) { %>
      <div class="row">
        <div class="form-group col-md-4 has-required-select2">
          <label for="<%- idPrefix %>-reason" class="control-label is-required"><%- helpers.t('PROPERTY:reason') %></label>
          <input id="<%- idPrefix %>-reason" type="text" autocomplete="new-password" name="reason" required>
        </div>
        <div class="form-group col-md-4 has-required-select2">
          <label for="<%- idPrefix %>-aor" class="control-label is-required"><%- helpers.t('PROPERTY:aor') %></label>
          <input id="<%- idPrefix %>-aor" type="text" autocomplete="new-password" name="aor" required>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-reasonComment" class="control-label"><%- helpers.t('PROPERTY:reasonComment') %></label>
        <textarea id="<%- idPrefix %>-reasonComment" class="form-control" name="reasonComment" rows="3"></textarea>
      </div>
      <% } %>
      <div class="form-group">
        <label for="<%- idPrefix %>-startedAtDate" class="control-label is-required"><%- helpers.t('PROPERTY:startedAt') %></label>
        <div class=" form-group-datetime">
          <input id="<%- idPrefix %>-startedAtDate" class="form-control" name="startedAtDate" type="date" required>
          <input id="<%- idPrefix %>-startedAtTime" class="form-control" name="startedAtTime" type="time" required step="1">
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-finishedAtDate" class="control-label is-required"><%- helpers.t('PROPERTY:finishedAt') %></label>
        <div class=" form-group-datetime">
          <input id="<%- idPrefix %>-finishedAtDate" class="form-control" name="finishedAtDate" type="date" required>
          <input id="<%- idPrefix %>-finishedAtTime" class="form-control" name="finishedAtTime" type="time" required step="1">
        </div>
      </div>
      <% if (!editMode) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-status" class="control-label is-required"><%- helpers.t('PROPERTY:status') %></label>
        <div class="radio">
          <label><input type="radio" name="status" value="undecided" required> <%- helpers.t('PROPERTY:status:undecided') %></label>
        </div>
        <div class="radio">
          <label><input type="radio" name="status" value="confirmed" required> <%- helpers.t('PROPERTY:status:confirmed') %></label>
        </div>
        <div class="radio">
          <label><input type="radio" name="status" value="rejected" required> <%- helpers.t('PROPERTY:status:rejected') %></label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-decisionComment" class="control-label"><%- helpers.t('PROPERTY:decisionComment') %></label>
        <textarea id="<%- idPrefix %>-decisionComment" class="form-control" name="decisionComment" rows="3"></textarea>
      </div>
      <% } %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
