<div class="heff-timeline-item" data-type="<%- type %>" data-id="<%- id %>" data-execution="<%- execution %>" style="width: <%- width %>%; left: <%- left %>%">
  <div class="heff-timeline-item-inner">
    <%- label %>
  </div>
</div>
