<div class="heff">
  <div class="heff-hd">
    <div id="<%- id('date') %>" class="heff-date"></div>
    <div id="<%- id('shift') %>" class="heff-shift"></div>
    <div class="heff-line">
      <div><%- t('line') %></div>
      <div><span id="<%- id('line') %>" style="cursor: pointer"></span></div>
    </div>
  </div>
  <div id="<%- id('title') %>" class="heff-title"></div>
  <div id="<%- id('hourlyEfficiency') %>"></div>
  <div id="<%- id('shiftEfficiency') %>" class="hidden"></div>
</div>
