<dl>
  <dt><%- t('kanbanPrintQueues', 'job:_id') %></dt>
  <dd><%- jobNo %>/<%- jobTotal %>. <span class="text-mono"><%- job._id %></span></dd>
  <dt><%- t('kanbanPrintQueues', 'job:line') %></dt>
  <dd><%= job.line %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:ccn') %></dt>
  <dd class="text-mono"><%= job.data.ccn %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:nc12') %></dt>
  <dd class="text-mono"><%= job.data.nc12 %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:description') %></dt>
  <dd class="text-mono"><%= job.data.description %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:storageBin') %></dt>
  <dd class="text-mono"><%= job.data.storageBin %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:kanbanId') %></dt>
  <dd class="text-mono"><%= job.kanbanIds %></dd>
  <dt><%- t('kanbanPrintQueues', 'job:labels') %></dt>
  <dd>
    <% Object.keys(job.layoutCount).forEach(function(layout) { %>
    <% if (job.layoutCount[layout]) { %>
    ▪	<%- t('kanbanPrintQueues', 'layoutCount:' + layout, {count: job.layoutCount[layout]}) %>
    <% } %>
    <% }) %>
  </dd>
  <dt><%- t('kanbanPrintQueues', 'job:status') %></dt>
  <dd><%= t('kanbanPrintQueues', error ? 'status:error' : ('status:' + job.status), {error: error}) %></dd>
</dl>
