<form class="well filter-form" autocomplete="off">
  <div class="form-group">
    <label for="<%- idPrefix %>-todo"><%- helpers.t('job:status') %></label>
    <div id="<%- idPrefix %>-todo" class="btn-group filter-btn-group" data-toggle="buttons">
      <% [true, false].forEach(function(todo) { %>
      <label class="btn btn-default">
        <input type="radio" name="todo" value="<%- todo %>"> <%- helpers.t('todo:' + todo) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- helpers.t('filter:submit') %></span></button>
    <hr>
    <button id="<%- idPrefix %>-groupByWorkstations" type="button" class="btn btn-default"><%- helpers.t('filter:groupByWorkstations') %></button>
  </div>
</form>
