<form class="action-form">
  <div class="form-group">
    <label class="control-label"><%- t('mor', 'editProdFunction:section') %></label>
    <p class="form-control-static"><%= section %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('mor', 'editProdFunction:mrp') %></label>
    <p class="form-control-static"><%= mrp %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('mor', 'editProdFunction:prodFunction') %></label>
    <p class="form-control-static"><%= prodFunction %></p>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-users" class="control-label"><%- t('mor', 'editProdFunction:users') %></label>
    <input id="<%- idPrefix %>-users" type="text">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('mor', 'editProdFunction:submit') %></button>
    <button type="button" class="cancel btn btn-link"><%- t('mor', 'editProdFunction:cancel') %></button>
  </div>
</form>
