<div class="mor">
  <% sections.forEach(function(section) { %>
  <div class="mor-section <%- section.collapsed ? 'is-collapsed' : '' %>" data-section-id="<%- section._id %>">
    <h3>
      <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i><span class="mor-section-name" draggable="<%- draggable %>"><%= section.label %></span>
      <div class="btn-group">
        <% if (watchActionsVisible && section.addWatchVisible) { %>
        <button class="btn btn-default" data-action="addWatch" title="<%- t('mor', 'action:addWatch') %>"><i class="fa fa-plus"></i></button>
        <% } %>
        <% if (sectionActionsVisible) { %>
        <button class="btn btn-default" data-action="editSection" title="<%- t('mor', 'action:editSection') %>"><i class="fa fa-edit"></i></button>
        <button class="btn btn-default" data-action="removeSection" title="<%- t('mor', 'action:removeSection') %>"><i class="fa fa-remove"></i></button>
        <% } %>
      </div>
    </h3>
    <% if (section.watchVisible) { %>
    <table class="mor-watch">
      <tbody>
      <% section.watch.forEach(function(watch) { %>
      <tr data-user-id="<%- watch.user._id %>">
        <td><i class="fa fa-user-circle-o mor-user-presence <%- watch.user.presence ? 'mor-user-present' : 'mor-user-notPresent' %>" data-user-id="<%- watch.user._id %>"></i><span><%- watch.user.label %></span></td>
        <td><i class="fa fa-wrench"></i><span><%- watch.user.prodFunction %></span></td>
        <% if (section.watchDaysVisible) { %>
        <td><i class="fa fa-calendar"></i><span><%- watch.user.days %></span></td>
        <% } %>
        <% if (section.watchHoursVisible) { %>
        <td><i class="fa fa-clock-o"></i><span><%- watch.user.hours || '06:00-06:00' %></span></td>
        <% } %>
        <td><i class="fa fa-phone"></i><span><%- watch.user.mobile %></span></td>
        <td>
          <% if (linkEmails) { %>
          <a href="mailto:<%= watch.user.email %>"><i class="fa fa-envelope"></i><span><%= watch.user.email %></span></a>
          <% } else { %>
          <i class="fa fa-envelope"></i><span><%= watch.user.email %></span>
          <% } %>
        </td>
        <% if (watchActionsVisible) { %>
        <td class="actions">
          <div class="btn-group">
            <button class="btn btn-default" data-action="editWatch"><i class="fa fa-edit"></i></button>
            <button class="btn btn-default" data-action="removeWatch"><i class="fa fa-remove"></i></button>
          </div>
        </td>
        <% } %>
      </tr>
      <% }) %>
      </tbody>
    </table>
    <% } %>
    <% if (section.mrpsVisible) { %>
    <table class="table table-bordered table-condensed table-hover mor-mrps">
      <thead>
      <tr>
        <% if (section.mrpColumnVisible) { %>
        <th class="is-min mor-is-editable">
          MRP
          <% if (mrpActionsVisible) { %>
          <div class="btn-group">
            <button class="btn btn-default" data-action="addMrp"><i class="fa fa-plus"></i></button>
          </div>
          <% } %>
        </th>
        <% } %>
        <% section.prodFunctions.forEach(function(prodFunction) { %>
        <th class="is-min"><%= prodFunction.label %></th>
        <% }) %>
      </tr>
      </thead>
      <tbody>
      <% section.mrps.forEach(function(mrp) { %>
      <tr data-mrp-id="<%- mrp._id %>">
        <% if (section.mrpColumnVisible) { %>
        <td class="mor-mrp mor-is-editable">
          <span class="mor-mrp-name"><%= mrp.name %></span>
          <span class="mor-mrp-desc"><%= mrp.description %></span>
          <% if (mrpActionsVisible) { %>
          <div class="btn-group">
            <button class="btn btn-default" data-action="editMrp"><i class="fa fa-edit"></i></button>
            <button class="btn btn-default" data-action="removeMrp"><i class="fa fa-remove"></i></button>
          </div>
          <% } %>
        </td>
        <% } %>
        <% mrp.prodFunctions.forEach(function(prodFunction) { %>
        <td class="is-min mor-is-editable <%- prodFunction.common ? 'mor-is-common' : '' %>" data-prod-function-id="<%- prodFunction._id %>" rowspan="<%= prodFunction.rowspan %>">
          <% prodFunction.users.forEach(function(user) { %>
          <%- user.no %><span class="mor-user mor-user-presence <%- user.presence ? 'mor-user-present' : 'mor-user-notPresent' %>" data-user-id="<%- user._id %>"><%= user.label %></span><br>
          <% }) %>
          <div class="btn-group">
            <button class="btn btn-default" data-action="editProdFunction"><i class="fa fa-edit"></i></button>
          </div>
        </td>
        <% }) %>
      </tr>
      <% }) %>
      </tbody>
    </table>
    <% } %>
  </div>
  <% }) %>
  <div id="<%- idPrefix %>-jumpList" class="list-group mor-jumpList">
    <% sections.forEach(function(section) { %>
    <a href="#" data-section-id="<%- section._id %>" class="list-group-item"><%= section.label %></a>
    <% }) %>
  </div>
  <% if (editModeVisible) { %>
  <button id="<%- idPrefix %>-editMode" class="btn btn-default mor-btn-editMode" type="button"><i class="fa fa-edit"></i><span><%- t.bound('mor', 'PAGE_ACTION:editMode') %></span></button>
  <% } %>
</div>
