<div class="trw-testing">
  <div class="trw-testing-hd">
    <div class="trw-testing-app">TRW</div>
    <% ['workstation', 'order', 'program'].forEach(function(prop) { %>
    <div class="trw-testing-prop" data-prop="<%- prop %>">
      <div class="trw-testing-prop-name"><%- helpers.t('PROPERTY:' + prop) %></div>
      <div class="trw-testing-prop-value">?</div>
    </div>
    <% }) %>
    <div class="trw-testing-hd-action">
      <i id="<%- idPrefix %>-menu" class="fa fa-wrench"></i>
    </div>
  </div>
  <div class="trw-testing-ft">
    <p id="<%- idPrefix %>-message" class="trw-testing-message">???</p>
    <div id="<%- idPrefix %>-step" class="trw-testing-app"></div>
    <% ['source', 'target', 'length', 'color'].forEach(function(prop) { %>
    <div class="trw-testing-prop is-unclickable" data-prop="<%- prop %>">
      <div class="trw-testing-prop-name"><%- helpers.t('PROPERTY:' + prop) %></div>
      <div class="trw-testing-prop-value">?</div>
    </div>
    <% }) %>
  </div>
  <div id="<%- idPrefix %>-preview" class="trw-base-canvas-outer trw-base-canvas-no-endpoints">
    <div id="<%- idPrefix %>-canvas" class="trw-base-canvas-inner"></div>
  </div>
  <div id="<%- idPrefix %>-vkb"></div>
</div>
