<form class="trw-testerPicker">
  <div class="form-group">
    <label for="<%- idPrefix %>-filter" class="control-label"><%- helpers.t('testerPicker:filter') %></label>
    <input id="<%- idPrefix %>-filter" name="filter" class="form-control" type="text" data-vkb="alpha numeric">
  </div>
  <div id="<%- idPrefix %>-testerGroup" class="form-group">
    <label class="control-label"><%- helpers.t('testerPicker:testers') %></label>
    <div id="<%- idPrefix %>-testers" class="trw-testing-list" style="height: 64px">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    </div>
  <div class="form-actions">
    <button class="btn btn-lg btn-primary"><%- helpers.t('testerPicker:submit') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- helpers.t('testerPicker:cancel') %></button>
  </div>
</form>
