<form class="mrpControllers-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-_id" class="control-label"><%- t('mrpControllers', 'PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-_id" class="form-control" type="text" name="_id" autofocus required maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-description" class="control-label"><%- t('mrpControllers', 'PROPERTY:description') %></label>
        <input id="<%- idPrefix %>-description" class="form-control" type="text" name="description" required maxlength="150">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-subdivision" class="control-label"><%- t('mrpControllers', 'PROPERTY:subdivision') %></label>
        <select id="<%- idPrefix %>-subdivision" name="subdivision">
          <% divisions.forEach(function(division) { %>
          <optgroup label="<%= division.label %>">
            <% division.subdivisions.forEach(function(subdivision) { %>
            <option value="<%- subdivision.value %>"><%= subdivision.label %>
            <% }) %>
          </optgroup>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
