<form class="companies-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: '_id',
        label: 'PROPERTY:',
        required: true,
        maxLength: 50,
        pattern: '^[a-zA-Z][a-zA-Z0-9_-]*$'
      }) %>
      <%- helpers.formGroup({
        name: 'name',
        label: 'PROPERTY:',
        required: true,
        maxLength: 100
      }) %>
      <%- helpers.formGroup({
        name: 'shortName',
        label: 'PROPERTY:',
        required: true,
        maxLength: 50
      }) %>
      <%- renderColorPicker({idPrefix: idPrefix, property: 'color', label: t('companies', 'PROPERTY:color'), value: model.color}) %>
      <%- helpers.formGroup({
        name: 'syncPatterns',
        type: 'textarea',
        label: 'PROPERTY:',
        rows: 5,
        inputClassName: 'text-fixed'
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
