<div class="wh-delivery-page">
  <div id="<%- idPrefix %>-completed" class="wh-delivery-section-container" data-status="completed"></div>
  <div id="<%- idPrefix %>-pending" class="wh-delivery-section-container" data-status="pending"></div>
  <div id="<%- idPrefix %>-delivering" class="wh-delivery-section-container" data-status="delivering"></div>
  <div id="<%- idPrefix %>-messageOverlay" class="wh-message-overlay"></div>
  <div id="<%- idPrefix %>-message" class="wh-message message message-inline"></div>
</div>
