<div class="wh-delivery-set">
  <p id="<%- id('completedSapOrders') %>" class="message message-inline message-warning <%- completedSapOrders.length ? '' : 'hidden' %>" style="margin-bottom: 15px">
    <%- t('delivery:set:completedSapOrders') %>
  </p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="is-min"><%- t('delivery:set:cart') %></th>
      <th class="is-min"><%- t('delivery:set:line') %></th>
      <th class="is-min"><%- t('delivery:set:date') %></th>
      <th class="is-min"><%- t('delivery:set:set') %></th>
      <th><%- t('delivery:set:sapOrders') %></th>
    </tr>
    </thead>
    <tbody>
    <% setCarts.forEach(function(setCart) { %>
    <tr>
      <td class="is-min text-fixed"><%- setCart.cart %></td>
      <td class="is-min text-fixed"><%- setCart.line %></td>
      <td class="is-min"><%- setCart.date %></td>
      <td class="is-min text-fixed"><%- setCart.set %></td>
      <td class="text-fixed"><%- setCart.sapOrders %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="form-actions wh-delivery-set-actions">
    <% if (canManage) { %>
    <button id="<%- idPrefix %>-finish" class="btn btn-lg btn-success" type="button">
      <i class="fa fa-spinner fa-spin hidden"></i>
      <span><%- t('delivery:set:finish') %></span>
    </button>
    <button id="<%- idPrefix %>-addCarts" class="btn btn-lg btn-primary" type="button">
      <i class="fa fa-spinner fa-spin hidden"></i>
      <span><%- t('delivery:set:addCarts') %></span>
    </button>
    <% } %>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('delivery:set:cancel') %></button>
    <% if (canManage) { %>
    <p style="margin-left: auto"><%- t('delivery:set:msg') %></p>
    <% } %>
  </div>
</div>
