<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- id('description') %>" class="control-label is-required"><%- t('PROPERTY:description') %></label>
        <input id="<%- id('description') %>" class="form-control" type="text" name="description" autofocus required maxlength="100">
      </div>
      <div class="form-group">
        <label class="control-label is-required"><%- t('PROPERTY:type') %></label>
        <br>
        <% ['other', 'balluff'].forEach(function(type) { %>
          <label class="radio-inline">
            <input type="radio" name="type" value="<%- type %>" required>
            <%- t('type:' + type) %>
          </label>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- id('cards') %>" class="control-label"><%- t('PROPERTY:cards') %></label>
        <textarea id="<%- id('cards') %>" class="form-control text-fixed" name="cards" rows="6"></textarea>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
