<div>
  <div id="<%- idPrefix %>-details" class="prodShiftOrders-details-container"></div>
  <div id="<%- idPrefix %>-downtimes" class="panel panel-danger prodShiftOrders-downtimes-container">
    <div class="panel-heading"><%- t('prodShiftOrders', 'PANEL:TITLE:downtimes') %></div>
  </div>
  <div id="<%- idPrefix %>-order" class="prodShiftOrders-order-container"></div>
  <div id="<%- idPrefix %>-operations" class="prodShiftOrders-operations-container"></div>
  <div id="<%- idPrefix %>-serialNumbers" class="prodShiftOrders-serialNumbers-container"></div>
</div>
