<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-from"><%- t('core', 'filter:date:from') %></label>
    <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to"><%- t('core', 'filter:date:to') %></label>
    <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-shift-any"><%- t('prodShiftOrders', 'PROPERTY:shift') %></label>
    <div class="filter-radio-group">
      <% [0, 1, 2, 3].forEach(function(shift) { %>
      <label class="radio-inline">
        <input id="<%- idPrefix %>-shift-<%- shift %>" name="shift" type="radio" value="<%- shift %>">
        <%- t('core', 'SHIFT:' + shift) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-orderId"><%- t('prodShiftOrders', 'filter:orderId') %></label>
    <input id="<%- idPrefix %>-orderId" class="form-control prodShiftOrders-filter-orderId" name="orderId" type="text" placeholder="<%- t('prodShiftOrders', 'filter:placeholder:orderId') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-operationNo"><%- t('prodShiftOrders', 'filter:operationNo') %></label>
    <input id="<%- idPrefix %>-operationNo" class="form-control prodShiftOrders-filter-operationNo" name="operationNo" type="text" placeholder="<%- t('prodShiftOrders', 'filter:placeholder:operationNo') %>" maxlength="4" pattern="[0-9]+">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-prodLine"><%- t('prodShiftOrders', 'PROPERTY:prodLine') %></label>
    <input id="<%- idPrefix %>-prodLine" name="prodLine" type="text" data-placeholder="<%- t('prodShiftOrders', 'filter:placeholder:prodLine') %>">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodShiftOrders', 'filter:submit') %></span></button>
  </div>
</form>
