<div class="panel panel-default is-with-actions prodShiftOrders-serialNumbers-panel">
  <div class="panel-heading">
    <div class="panel-heading-title"><%- helpers.t('serialNumbers:panel:title') %></div>
    <div class="panel-heading-actions">
      <div id="<%- idPrefix %>-totals" style="margin-right: 12px"></div>
      <a class="btn btn-default" href="#prodSerialNumbers?sort(scannedAt)&limit(20)&prodShiftOrder=<%- prodShiftOrderId %>" title="<%- t('serialNumbers:panel:openList') %>"><i class="fa fa-list"></i></a>
    </div>
  </div>
  <div class="panel-body">
    <div class="prodShiftOrders-serialNumbers-list">
      <% serialNumbers.forEach(function(sn) { %>
      <div class="prodShiftOrders-serialNumbers-item <%- sn.taktTime > sn.sapTaktTime * 1000 ? 'is-over' : 'is-under' %>">
        #<%- sn.serialNo %>
        <%- time.format(sn.scannedAt, 'LTS') %>
        <%- Math.round(sn.taktTime / 1000) %>s
      </div>
      <% }) %>
    </div>
    <div id="<%- idPrefix %>-chart" class="prodShiftOrders-serialNumbers-chart"></div>
  </div>
</div>
