<div class="panel panel-default">
  <div class="panel-heading is-with-actions">
    <%- helpers.t('PANEL:TITLE:serialNumbers') %>
    <div class="panel-actions">
      <a class="btn btn-default" href="#prodSerialNumbers?sort(scannedAt)&limit(20)&prodShiftOrder=<%- prodShiftOrderId %>"><i class="fa fa-list"></i></a>
    </div>
  </div>
  <div class="panel-body">
    <% if (!serialNumbers.length) { %>
    <%- t('core', 'LIST:NO_DATA') %>
    <% } %>
    <% serialNumbers.forEach(function(sn) { %>
    <span class="label label-<%- sn.taktTime > sn.sapTaktTime * 1000 ? 'warning' : 'success' %> prodShiftOrders-serialNumber">
      #<%- sn.serialNo %> <%- time.format(sn.scannedAt, 'LTS') %> /<%- Math.round(sn.taktTime / 1000) %>s
      <% if (sn.iptTaktTime) { %>
      /<%- Math.round(sn.iptTaktTime / 1000) %>s
      <% } %>
    </span>
    <% }) %>
  </div>
</div>
