<table class="table table-condensed <%- bordered ? 'table-bordered table-hover' : '' %>">
  <thead>
  <tr>
    <th class="is-min"><%- t('correctiveActions:#') %></th>
    <th class="is-min"><%- t('correctiveActions:status') %></th>
    <th class="is-min"><%- t('correctiveActions:when') %></th>
    <th><%- t('correctiveActions:who') %></th>
    <th><%- t('correctiveActions:what') %></th>
  </tr>
  </thead>
  <tbody>
  <% correctiveActions.forEach(function(action, i) { %>
  <tr>
    <td class="is-min"><%- i + 1 %></td>
    <td class="is-min"><%= action.status %></td>
    <td class="is-min"><%= action.when %></td>
    <td class="is-min qiResults-correctiveActions-who"><%- action.who %></td>
    <td><% if (action.rid) { %><a href="#suggestions/<%- action.rid %>">#<%- action.rid %>: <%= action.what %></a><% } else { %> <%= action.what %><% } %></td>
  </tr>
  <% }) %>
  </tbody>
</table>
