<div class="qiResults-countReport">
  <div class="filter-container"></div>
  <h3><%- t('qiResults', 'report:title:totalNokCount') %></h3>
  <div id="<%- idPrefix %>-totalNokCount"></div>
  <h3><%- t('qiResults', 'report:title:nokCountPerDivision') %></h3>
  <div id="<%- idPrefix %>-nokCountPerDivision"></div>
  <h3><%- t('qiResults', 'report:title:nokQtyPerFamily') %> (<span id="<%- idPrefix %>-selectedGroup"></span>)</h3>
  <div id="<%- idPrefix %>-nokQtyPerFamily" style="height: 500px"></div>
</div>
