<form class="well filter-form qiResults-countReport-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix
  }) %>
  <div class="form-group">
    <label><%- t('reports', 'filter:interval') %></label>
    <div id="<%- idPrefix %>-interval" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['year', 'quarter', 'month', 'week', 'day'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input type="radio" name="interval" value="<%- interval %>"> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-productFamilies"><%- helpers.t('PROPERTY:productFamily') %></label>
    <input id="<%- idPrefix %>-productFamilies" name="productFamilies" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-kinds"><%- helpers.t('PROPERTY:kind') %></label>
    <input id="<%- idPrefix %>-kinds" name="kinds" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-errorCategories"><%- helpers.t('PROPERTY:errorCategory') %></label>
    <input id="<%- idPrefix %>-errorCategories" name="errorCategories" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-faultCodes"><%- helpers.t('PROPERTY:faultCode') %></label>
    <input id="<%- idPrefix %>-faultCodes" name="faultCodes" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-inspector"><%- helpers.t('PROPERTY:inspector') %></label>
    <input id="<%- idPrefix %>-inspector" name="inspector" type="text" autocomplete="new-password">
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
</form>
