<div class="qiResults-details">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:' + model.source) %>
        </div>
        <div class="panel-details">
          <%- helpers.props(model, [
            {id: '!orderNo', visible: model.source === 'prod', value: function(orderNo)
            {
              if (user.isAllowedTo('ORDERS:VIEW'))
              {
                return '<a href="#orders/' + orderNo + '">' + orderNo + '</a>';
              }

              return orderNo;
            }},
            {id: 'serialNumbers', visible: model.source === 'prod'},
            {id: '!nc12', label: helpers.t('PROPERTY:nc12:' + model.source), value: function(nc12)
              {
                if (user.isAllowedTo('ORDERS:VIEW'))
                {
                  return '<a href="#orders?exclude(operations,bom,documents,changes)&sort(-scheduledStartDate)&limit(-1337)&scheduledStartDate=ge=' + time.getMoment(model.inspectedAtTime).startOf('day').subtract(7, 'days').valueOf() + '&nc12=string:' + nc12 + '">' + nc12 + '</a>';
                }

                return nc12;
              }},
            {id: 'productFamily', visible: model.source === 'prod'},
            {id: 'productName', label: helpers.t('PROPERTY:productName:' + model.source)},
            'division',
            {id: 'line', label: helpers.t('PROPERTY:line:' + model.source)},
            {id: 'qtyOrder', visible: model.source === 'prod'}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-<%- model.ok ? 'success' : 'danger' %>">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:inspection') %>
        </div>
        <div class="panel-details">
          <%- helpers.props(model, [
            'kind',
            'inspectedAt',
            '!inspector',
            '!coach',
            {id: '!leader', label: helpers.t('PROPERTY:leader:' + model.source)},
            {id: '!nokOwner', visible: !model.ok},
            'qtyInspected',
            {id: 'qtyNokInspected', visible: !model.ok},
            {id: 'qtyToFix', visible: !model.ok},
            {id: 'qtyNok', visible: !model.ok}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:extra') %>
        </div>
        <div class="panel-details">
          <%- helpers.props(model, ['createdAt', '!creator', 'updatedAt', '!updater']) %>
        </div>
      </div>
    </div>
  </div>
  <% if (!model.ok) { %>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:inspection:nok') %>
        </div>
        <div class="panel-details">
          <%- helpers.props(model, [
            'errorCategory',
            'faultCode',
            {id: 'faultDescription', valueClassName: 'text-lines'},
            {id: 'problem', valueClassName: 'text-lines'},
            {id: 'immediateActions', valueClassName: 'text-lines'}
          ].concat(model.rootCause.map(function(rootCause, i)
          {
            return {
              id: '!rootCause' + i,
              valueClassName: 'text-lines',
              label: t('FORM:rootCause:label', {n: i + 1, total: model.rootCause.length}),
              value: function()
              {
                if (!Array.isArray(rootCause) || !rootCause.length)
                {
                  return '';
                }

                var html = '<ol>';

                rootCause.forEach(function(why)
                {
                  html += '<li>' + _.escape(why) + '</li>';
                });

                html += '</ol>';

                return html;
              }
            }
          }))) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:attachments:ok') %>
        </div>
        <div class="panel-body qiResults-details-attachment">
          <% if (model.okFile) { %>
          <a href="/qi/results/<%- model._id %>/attachments/<%- model.rid %>%20OK" data-file="ok">
            <% if (model.okFile.icon === 'file-image-o') { %>
            <img src="/qi/results/<%- model._id %>/attachments/okFile?min=<%- model.okFile._id %>">
            <% } else { %>
            <i class="fa fa-<%- model.okFile.icon %>"></i>
            <% } %>
            <span><%= model.okFile.name %></span>
          </a>
          <% } else { %>
          <i class="fa fa-ban"></i>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <%- helpers.t('PANEL:TITLE:details:attachments:nok') %>
        </div>
        <div class="panel-body qiResults-details-attachment">
          <% if (model.nokFile) { %>
          <a href="/qi/results/<%- model._id %>/attachments/<%- model.rid %>%20NOK" data-file="nok">
            <% if (model.nokFile.icon === 'file-image-o') { %>
            <img src="/qi/results/<%- model._id %>/attachments/nokFile?min=<%- model.nokFile._id %>">
            <% } else { %>
            <i class="fa fa-<%- model.nokFile.icon %>"></i>
            <% } %>
            <span><%= model.nokFile.name %></span>
          </a>
          <% } else { %>
          <i class="fa fa-ban"></i>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%- helpers.t('PANEL:TITLE:details:actions') %>
    </div>
    <% if (model.correctiveActions.length) { %>
    <%- renderCorrectiveActionsTable({
      helpers: helpers,
      bordered: true,
      correctiveActions: model.correctiveActions
    }) %>
    <% } else { %>
    <div class="panel-body">
      <p><%- helpers.t('correctiveActions:empty') %></p>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
