<table class="table table-condensed table-hover table-bordered qiResults-okRatioReport-table">
  <thead>
  <tr>
    <th><%- helpers.t('report:column:division') %></th>
    <th><%- helpers.t('report:column:nok') %></th>
    <th><%- helpers.t('report:column:all') %></th>
    <th><%- helpers.t('report:column:ratio') %></th>
  </tr>
  </thead>
  <tbody>
  <% columns.forEach(function(column) { %>
  <tr>
    <td><%= column.label %></td>
    <td class="is-number"><%- total[column._id].nok.toLocaleString() %></td>
    <td class="is-number"><%- total[column._id].all.toLocaleString() %></td>
    <td class="is-number"><%- (Math.round(total[column._id].ratio * 100) / 100).toLocaleString() %>%</td>
  </tr>
  <% }) %>
  </tbody>
</table>
