<div class="qiResults-print">
  <h1 class="qiResults-print-date"><%- time.format(model.inspectedAt, 'LL') %></h1>
  <h1 class="qiResults-print-title"><%- helpers.t('print:title', {rid: model.rid}) %></h1>
  <h2 class="qiResults-print-product"><span class="qiResults-print-label"><%- helpers.t('print:product') %></span> <%= model.productName %></h2>
  <h2 class="qiResults-print-quantities">
    <span class="qiResults-print-quantity">
      <span class="qiResults-print-label"><%- helpers.t('print:qtyInspected') %></span> <%- model.qtyInspected %>
    </span>
    <span class="qiResults-print-quantity">
      <span class="qiResults-print-label"><%- helpers.t('print:qtyToFix') %></span> <%- model.qtyToFix %>
    </span>
    <span class="qiResults-print-quantity">
      <span class="qiResults-print-label"><%- helpers.t('print:qtyNok') %></span> <%- model.qtyNok %>
    </span>
  </h2>
  <h2 class="qiResults-print-problem"><span class="qiResults-print-label"><%- helpers.t('print:problem') %></span> <%= model.problem %></h2>
  <div class="qiResults-print-images">
    <div class="qiResults-print-ok">
      <% if (model.okFile && /^image/.test(model.okFile.type)) { %>
      <img class="qiResults-print-image" src="/qi/results/<%- model._id %>/attachments/okFile?min=<%- model.okFile._id %>">
      <span class="qiResults-print-image-label">OK</span>
      <% } %>
    </div>
    <div class="qiResults-print-nok">
      <% if (model.nokFile && /^image/.test(model.nokFile.type)) { %>
      <img class="qiResults-print-image" src="/qi/results/<%- model._id %>/attachments/nokFile?min=<%- model.nokFile._id %>">
      <span class="qiResults-print-image-label">NOK</span>
      <% } %>
    </div>
  </div>
</div>
