<div class="production-controls">
  <div class="production-controls-group">
    <a id="<%- id('componentLabels') %>" class="fa fa-print" title="<%- t('controls:componentLabels') %>"></a>
  </div>
  <div class="production-controls-group">
    <a id="<%- id('mor') %>" class="fa fa-group" title="<%- t('controls:mor') %>"></a>
    <a class="fa fa-warning production-controls-addNearMiss" title="<%- t('controls:addNearMiss') %>"></a>
    <a class="fa fa-lightbulb-o production-controls-addSuggestion" title="<%- t('controls:addSuggestion') %>"></a>
    <a class="fa fa-eye production-controls-addObservation" title="<%- t('controls:addObservation') %>"></a>
    <a class="fa fa-unlock production-controls-lock" title="<%- t('controls:lock') %>"></a>
    <a class="fa fa-lock production-controls-unlock" title="<%- t('controls:unlock') %>" accesskey="a"></a>
    <i class="fa fa-signal production-controls-sync" title="<%- t('controls:sync') %>"></i>
  </div>
</div>
