<form class="production-downtimePicker">
  <div class="form-group">
    <label for="<%- idPrefix %>-startedAt"><%- t('production', 'downtimePicker:startedAt') %></label>
    <% if (mode === 'start') { %>
    <div class="input-group">
      <input id="<%- idPrefix %>-startedAt" class="form-control" type="text" value="<%- time.format(startedAt, 'YYYY-MM-DD, HH:mm:ss') %>" readonly data-time="<%- startedAt.getTime() %>">
      <span class="input-group-btn">
        <button class="btn btn-default production-downtimePicker-now" type="button"><%- t('production', 'downtimePicker:startedAt:now') %></button>
      </span>
    </div>
    <% } else { %>
    <input id="<%- idPrefix %>-startedAt" class="form-control" type="text" value="<%- time.format(startedAt, 'YYYY-MM-DD, HH:mm:ss') %>" readonly data-time="<%- startedAt.getTime() %>">
    <% } %>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-reason"><%- t('production', 'downtimePicker:reason:label') %></label>
    <input id="<%- idPrefix %>-reason" type="text" placeholder="<%- t('production', 'downtimePicker:reason:placeholder') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-aor"><%- t('production', 'downtimePicker:aor:label') %></label>
    <input id="<%- idPrefix %>-aor" type="text" placeholder="<%- t('production', 'downtimePicker:aor:placeholder') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-reasonComment"><%- t('production', 'downtimePicker:reasonComment:label') %></label>
    <textarea id="<%- idPrefix %>-reasonComment" class="form-control" rows="4" placeholder="<%- t('production', 'downtimePicker:reasonComment:placeholder') %>"></textarea>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-<%- mode === 'start' ? 'danger' : 'primary' %>"><%- t('production', 'downtimePicker:submit:' + mode) %></button>
    <button type="button" class="cancel btn btn-link"><%- t('production', 'downtimePicker:cancel') %></button>
  </div>
</form>
