<form class="production-endWorkDialog" autocomplete="off">
  <p class="message message-inline message-warning"><%- t('endWorkDialog:warning', {downtime: downtime}) %></p>
  <% if (spigot) { %>
  <div id="<%- id('spigot') %>" class="form-group">
    <label for="<%- id('spigot-nc12') %>"><%- t('endWorkDialog:spigot:nc12') %></label>
    <input id="<%- id('spigot-nc12') %>" class="form-control production-spigot-nc12 <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" value="" placeholder="<%- t('endWorkDialog:spigot:placeholder') %>" required>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- id('quantitiesDone') %>"><%- t('endWorkDialog:quantitiesDone', {hourRange: hourRange}) %></label>
    <input id="<%- id('quantitiesDone') %>" class="form-control small <%- embedded ? 'is-embedded' : '' %>" type="<%- embedded ? 'text' : 'number' %>" value="<%- quantitiesDone %>" min="0" max="<%- maxQuantitiesDone %>" data-ignore-key="1" data-vkb="numeric">
  </div>
  <div class="form-group">
    <label for="<%- id('quantityDone') %>"><%- t('endWorkDialog:quantityDone') %></label>
    <input id="<%- id('quantityDone') %>" class="form-control small <%- embedded ? 'is-embedded' : '' %>" type="<%- embedded ? 'text' : 'number' %>" value="<%- quantityDone %>" max="<%- maxQuantityDone %>" data-ignore-key="1" data-vkb="numeric">
  </div>
  <div class="form-group">
    <label for="<%- id('workerCount') %>"><%- t('endWorkDialog:workerCount') %></label>
    <input id="<%- id('workerCount') %>" class="form-control small <%- embedded ? 'is-embedded' : '' %>" type="<%- embedded ? 'text' : 'number' %>" value="<%- workerCount.toLocaleString() %>" min="1" max="<%- maxWorkerCount %>" pattern="^[0-9]{1,2}([,.][0-9]{1})?$" data-ignore-key="1" data-vkb="numeric decimal">
  </div>
  <div id="<%- id('ft') %>" class="hidden" style="margin-bottom: 15px">
    <p class="message message-inline message-error"><%- t('ft:warning') %></p>
    <div class="form-group">
      <label for="<%- id('ft-login') %>"><%- t('ft:login') %></label>
      <input id="<%- id('ft-login') %>" class="form-control is-embedded" type="text" required data-ignore-key="1" data-vkb="alpha numeric">
    </div>
    <div class="form-group">
      <label for="<%- id('ft-password') %>"><%- t('ft:password') %></label>
      <input id="<%- id('ft-password') %>" class="form-control is-embedded" type="password" required autocomplete="new-password" data-ignore-key="1" data-vkb="alpha numeric extended">
    </div>
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" class="btn btn-lg btn-warning" type="submit"><%- t('endWorkDialog:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('endWorkDialog:no') %></button>
  </div>
</form>
