<div class="production-timeline-item" data-type="<%- type %>" data-id="<%- id %>" data-takt-time="<%- taktTime %>" style="width: <%- width %>%; left: <%- left %>%">
  <div class="production-timeline-item-inner">
    <%- label %>
  </div>
</div>
