<div class="production-header">
  <h1 class="production-pageHeader"></h1>
  <div class="production-properties">
    <div class="production-property production-property-currentTime">
      <div class="production-property-name"><%- t('production', 'property:currentTime') %></div>
      <div class="production-property-value"></div>
    </div>
    <div class="production-property production-property-shift">
      <div class="production-property-name"><%- t('production', 'property:shift') %></div>
      <div class="production-property-value"></div>
    </div>
    <div class="production-property production-property-orgUnit">
      <div class="production-property-name"><%- t('production', 'property:orgUnit') %></div>
      <div class="production-property-value"></div>
    </div>
    <div class="production-property production-property-master">
      <div class="production-property-name"><%- t('production', 'property:master') %></div>
      <div class="production-property-value is-editable"></div>
    </div>
    <div class="production-property production-property-leader">
      <div class="production-property-name"><%- t('production', 'property:leader') %></div>
      <div class="production-property-value is-editable"></div>
    </div>
    <div class="production-property production-property-operator">
      <div class="production-property-name"><%- t('production', 'property:operator') %></div>
      <div class="production-property-value is-editable"></div>
    </div>
  </div>
</div>
