<div class="production-isa-sections">
  <div class="production-isa-section">
    <div class="production-isa-status <%- pickupIndicatorColor %>">
      <span class="production-isa-status-label"><%- pickupStatusLabel %></span>
    </div>
    <button id="<%- id('pickup') %>" class="btn btn-lg btn-block btn-default production-isa-btn <%- pickupActive ? 'active' : '' %>" <%- pickupDisabled ? 'disabled' : '' %>>
      <%- t('isa:pickup') %>
    </button>
  </div>
  <div class="production-isa-section">
    <div class="production-isa-status <%- deliveryIndicatorColor %>">
      <span class="production-isa-status-label"><%- deliveryStatusLabel %></span>
    </div>
    <div class="dropup">
      <button id="<%- id('deliver') %>" class="btn btn-lg btn-block btn-default production-isa-btn <%- deliveryActive ? 'active' : '' %>" <%- deliveryDisabled ? 'disabled' : '' %>>
        <% if (selectedPalletKind) { %>
        <%- t('isa:deliver:specific', {qty: selectedQty, palletKind: selectedPalletKind}) %>
        <% } else { %>
        <%- t('isa:deliver') %>
        <% } %>
      </button>
    </div>
  </div>
</div>
