<div>
  <div class="production-isa-statuses">
    <div id="<%- idPrefix %>-request" class="production-isa-status <%- requestIndicatorColor %>"></div>
    <div id="<%- idPrefix %>-response" class="production-isa-status <%- responseIndicatorColor %>"></div>
  </div>
  <div class="btn-group-vertical production-isa-actions">
    <button id="<%- idPrefix %>-pickup" class="btn btn-lg btn-block btn-default <%- pickupActive ? 'active' : '' %>" <%- pickupDisabled ? 'disabled' : '' %>><%- t('production', 'isa:pickup') %></button>
    <div class="btn-group dropup">
      <button id="<%- idPrefix %>-deliver" class="btn btn-lg btn-block btn-default dropdown-toggle <%- deliveryActive ? 'active' : '' %>" <%- deliveryDisabled ? 'disabled' : '' %> data-toggle="<%- dropdownEnabled ? 'dropdown' : '' %>">
        <span id="<%- idPrefix %>-deliverLabel">
          <% if (selectedPalletKind) { %>
          <%- t('production', 'isa:deliver:specific', {palletKind: selectedPalletKind}) %>
          <% } else { %>
          <%- t('production', 'isa:deliver') %>
          <% } %>
        </span>
        <% if (!deliveryDisabled) { %>
        <span class="<%- dropdownEnabled ? 'caret' : 'fa fa-remove' %>"></span>
        <% } %>
      </button>
      <ul class="dropdown-menu production-isa-palletKinds">
        <% palletKinds.forEach(function(palletKind) { %>
        <li><a data-pallet-kind="<%- palletKind._id %>"><%= palletKind.fullName || palletKind.shortName %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
