<form class="production-isa-palletDelivery">
  <div class="form-group">
    <label for="<%- id('qty') %>"><%- t('isa:deliver:qty') %></label>
    <input id="<%- id('qty') %>" class="form-control" type="text" autocomplete="new-password" data-vkb="numeric" required>
  </div>
  <div id="<%- id('palletKind') %>" class="production-form-btn-group">
    <label><%- t('isa:deliver:palletKind') %></label>
    <div class="btn-group-vertical">
      <% palletKinds.forEach(function(palletKind) { %>
      <button type="button" class="btn btn-lg btn-default" data-id="<%- palletKind.id %>"><%= palletKind.text %></button>
      <% }) %>
    </div>
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-lg btn-primary" disabled><%- t('isa:deliver:submit') %></button>
    <button type="button" class="cancel btn btn-lg btn-link"><%- t('isa:deliver:cancel') %></button>
  </div>
</form>
