<form class="production-multiPersonnelPicker">
  <div class="production-multiPersonnelPicker-picked">
    <div class="production-form-btn-group">
      <label><%- t('multiPersonnelPicker:picked') %></label>
      <div id="<%- id('picked-list') %>" class="btn-group-vertical"><p><%- t('multiPersonnelPicker:empty') %></p></div>
    </div>
    <div class="form-actions" style="display: flex">
      <button id="<%- id('picked-submit') %>" type="submit" class="btn btn-lg btn-primary"><%- t('multiPersonnelPicker:submit') %></button>
      <button type="button" class="cancel btn btn-lg btn-link"><%- t('multiPersonnelPicker:cancel') %></button>
      <button id="<%- id('picked-switch') %>" type="button" class="btn btn-lg btn-default" style="margin-left: auto"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="production-multiPersonnelPicker-picker">
    <% if (offline) { %>
    <p class="message message-inline message-warning"><%- t('multiPersonnelPicker:offline:warning') %></p>
    <% } %>
    <div class="form-group">
      <label for="<%- id('picker-user') %>"><%= label %></label>
      <input id="<%- id('picker-user') %>" class="form-control" type="text" autocomplete="new-password" data-vkb="<%- offline ? 'numeric' : 'alpha' %>">
    </div>
    <div id="<%- id('picker-list') %>" class="production-form-btn-group">
      <label><%- t('multiPersonnelPicker:recent') %></label>
      <div class="btn-group-vertical"><p><i class="fa fa-spinner fa-spin"></i></p></div>
    </div>
    <div class="form-actions">
      <button id="<%- id('picker-submit') %>" type="button" class="btn btn-lg btn-default"><%- t('multiPersonnelPicker:pick') %></button>
      <button id="<%- id('picker-switch') %>" type="button" class="btn btn-lg btn-link"><%- t('multiPersonnelPicker:back') %></button>
    </div>
  </div>
</form>
