<form class="production-newOrderPicker">
  <% if (replacingOrder) { %>
  <p class="message message-inline message-warning"><%- t('production', 'newOrderPicker:checkData:warning') %></p>
  <div class="form-group">
    <label for="<%- idPrefix %>-quantityDone"><%- t('production', 'newOrderPicker:quantityDone') %></label>
    <input id="<%- idPrefix %>-quantityDone" class="form-control small" type="number" value="<%- quantityDone %>" autofocus min="0" max="<%- maxQuantityDone %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-workerCount"><%- t('production', 'newOrderPicker:workerCount') %></label>
    <input id="<%- idPrefix %>-workerCount" class="form-control small" type="number" value="<%- workerCount %>" min="1" max="<%- maxWorkerCount %>">
  </div>
  <div class="modal-header">
    <h3 class="modal-title"><%- t('production', 'newOrderPicker:title') %></h3>
  </div>
  <% } %>
  <% if (!correctingOrder) { %>
  <% if (offline) { %>
  <p class="message message-inline message-warning"><%- t('production', 'newOrderPicker:offline:warning:' + orderIdType) %></p>
  <% } else { %>
  <p class="message message-inline message-info"><%- t('production', 'newOrderPicker:online:info:' + orderIdType) %></p>
  <% } %>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-order"><%- t('production', 'newOrderPicker:order:label') %></label>
    <input id="<%- idPrefix %>-order" class="form-control" type="text" placeholder="<%- t('production', 'newOrderPicker:order:placeholder:' + orderIdType) %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-operation"><%- t('production', 'newOrderPicker:operation:label') %></label>
    <input id="<%- idPrefix %>-operation" class="form-control" type="text" placeholder="<%- t('production', 'newOrderPicker:offline:operation:placeholder') %>" maxlength="4" pattern="^[0-9]+$">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-<%- correctingOrder ? 'primary' : 'success' %>">
      <%- t('production', 'newOrderPicker:submit' + (replacingOrder ? ':replacing' : correctingOrder ? ':correcting' : '')) %>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('production', 'newOrderPicker:cancel') %></button>
  </div>
</form>
