<form class="production-newOrderPicker" autocomplete="off">
  <% if (replacingOrder) { %>
  <p class="message message-inline message-warning"><%- t('newOrderPicker:checkData:warning') %></p>
  <% if (spigot) { %>
  <div id="<%- id('spigot') %>" class="form-group">
    <label for="<%- id('spigot-nc12') %>"><%- t('endWorkDialog:spigot:nc12') %></label>
    <input id="<%- id('spigot-nc12') %>" class="form-control production-spigot-nc12 <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" value="" placeholder="<%- t('endWorkDialog:spigot:placeholder') %>" required>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- id('quantityDone') %>"><%- t('newOrderPicker:quantityDone') %></label>
    <input id="<%- id('quantityDone') %>" class="form-control small <%- embedded ? 'is-embedded' : '' %>" type="<%- embedded ? 'text' : 'number' %>" value="<%- quantityDone %>"min="0" max="<%- maxQuantityDone %>" pattern="^[0-9]{1,3}$" data-ignore-key="1" data-vkb="numeric">
  </div>
  <div class="form-group">
    <label for="<%- id('workerCount') %>"><%- t('newOrderPicker:workerCount') %></label>
    <input id="<%- id('workerCount') %>" class="form-control small <%- embedded ? 'is-embedded' : '' %>" type="<%- embedded ? 'text' : 'number' %>" value="<%- workerCount.toLocaleString() %>" min="1" max="<%- maxWorkerCount %>" pattern="^[0-9]{1,2}([,.][0-9]{1})?$" data-ignore-key="1" data-vkb="numeric decimal">
  </div>
  <div id="<%- id('ft') %>" class="hidden" style="margin-bottom: 15px">
    <p class="message message-inline message-error"><%- t('ft:warning') %></p>
    <div class="form-group">
      <label for="<%- id('ft-login') %>"><%- t('ft:login') %></label>
      <input id="<%- id('ft-login') %>" class="form-control is-embedded" type="text" required data-ignore-key="1" data-vkb="alpha numeric">
    </div>
    <div class="form-group">
      <label for="<%- id('ft-password') %>"><%- t('ft:password') %></label>
      <input id="<%- id('ft-password') %>" class="form-control is-embedded" type="password" required autocomplete="new-password" data-ignore-key="1" data-vkb="alpha numeric extended">
    </div>
  </div>
  <div class="modal-header">
    <h3 class="modal-title"><%- t('newOrderPicker:title') %></h3>
  </div>
  <% } %>
  <% if (!correctingOrder) { %>
  <% if (offline) { %>
  <p class="message message-inline message-warning"><%- t('newOrderPicker:offline:warning:' + orderIdType) %></p>
  <% } else { %>
  <p class="message message-inline message-info"><%- t('newOrderPicker:online:info:' + orderIdType) %></p>
  <% } %>
  <% } %>
  <% if (correctingOrder || !embedded) { %>
  <div class="form-group">
    <label for="<%- id('order') %>"><%- t('newOrderPicker:order:label:' + orderIdType) %></label>
    <input id="<%- id('order') %>" class="form-control <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" placeholder="<%- orderPlaceholder %>" maxlength="<%- orderMaxLength %>" data-ignore-key="1" data-vkb="numeric" <%- embedded || offline ? 'required' : '' %>>
  </div>
  <% } else { %>
  <div class="production-newOrderPicker-row">
    <div class="form-group">
      <label for="<%- id('order') %>"><%- t('newOrderPicker:order:label:' + orderIdType) %></label>
      <input id="<%- id('order') %>" class="form-control <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" placeholder="<%- orderPlaceholder %>" maxlength="<%- orderMaxLength %>" data-ignore-key="1" data-vkb="numeric" <%- embedded || offline ? 'required' : '' %>>
    </div>
    <div class="form-group">
      <label for="<%- id('newWorkerCount') %>"><%- t('newOrderPicker:newWorkerCount') %></label>
      <input id="<%- id('newWorkerCount') %>" class="form-control <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" maxlength="3" min="1" max="15" pattern="^[0-9]{1,2}([,.][0-9]{1})?$" data-ignore-key="1" data-vkb="numeric decimal" required>
    </div>
  </div>
  <% } %>
  <% if (!offline && embedded) { %>
  <div id="<%- id('operationGroup') %>" class="production-form-btn-group">
    <label><%- t('newOrderPicker:operation:label:online') %></label>
    <div class="btn-group-vertical"><p><%- t('newOrderPicker:order:tooShort') %></p></div>
  </div>
  <% } else { %>
  <div id="<%- id('operationGroup') %>" class="form-group">
    <label for="<%- id('operation') %>"><%- t('newOrderPicker:operation:label:' + (offline ? 'offline' : 'online')) %></label>
    <input id="<%- id('operation') %>" class="form-control <%- embedded ? 'is-embedded' : '' %>" type="text" autocomplete="new-password" placeholder="<%- operationPlaceholder %>" maxlength="4" pattern="^[0-9]+$" data-ignore-key="1" data-vkb="numeric">
  </div>
  <% } %>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-lg btn-success">
      <%- submitLabel %>
    </button>
    <button type="button" class="cancel btn btn-lg btn-link"><%- t('newOrderPicker:cancel') %></button>
  </div>
</form>
