<tr data-order="<%- order.no %>" data-operation="<%- operation.no %>">
  <td class="is-min production-orderQueue-no"><%- no %>.</td>
  <td class="production-orderQueue-order">
    <%- order.no %>: <%- productName || '?' %><br>
    <%- operation.no %>: <%- operation.name || '?' %></td>
  <td class="actions">
    <div class="actions-group">
      <button type="button" class="btn btn-lg btn-default" data-action="moveUp"><i class="fa fa-arrow-up"></i></button>
      <button type="button" class="btn btn-lg btn-default" data-action="moveDown"><i class="fa fa-arrow-down"></i></button>
      <button type="button" class="btn btn-lg btn-default" data-action="remove"><i class="fa fa-remove"></i></button>
    </div>
  </td>
</tr>
