<form class="production-personnelPicker">
  <% if (offline) { %>
  <p class="message message-inline message-warning"><%- t('personnelPicker:offline:warning') %></p>
  <% } %>
  <div class="form-group">
    <label for="<%- id('user') %>"><%= label %></label>
    <input id="<%- id('user') %>" class="form-control" type="text" autocomplete="new-password" data-vkb="<%- offline ? 'numeric' : 'alpha' %>">
  </div>
  <div id="<%- id('list') %>" class="production-form-btn-group">
    <label><%- t('personnelPicker:recent') %></label>
    <div class="btn-group-vertical"><p><i class="fa fa-spinner fa-spin"></i></p></div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-lg btn-primary"><%- t('personnelPicker:submit') %></button>
    <button type="button" class="cancel btn btn-lg btn-link"><%- t('personnelPicker:cancel') %></button>
  </div>
</form>
