<div class="production is-<%- locked ? 'locked' : 'unlocked' %> <%- state ? ('is-' + state) : '' %> <%- mechOrder ? 'is-mechOrder' : '' %> hidden">
  <div id="<%- idPrefix %>-controls"></div>
  <div id="<%- idPrefix %>-header"></div>
  <div id="<%- idPrefix %>-data"></div>
  <div class="production-ft">
    <div class="production-downtimes">
      <h2 id="<%- idPrefix %>-downtimes-header" class="production-sectionHeader"><%- t('production', 'section:downtimes') %></h2>
      <div id="<%- idPrefix %>-downtimes"></div>
    </div>
    <div class="production-quantities">
      <h2 class="production-sectionHeader"><%- t('production', 'section:quantities') %></h2>
      <div id="<%- idPrefix %>-quantities"></div>
    </div>
    <div class="production-isa">
      <h2 class="production-sectionHeader"><%- t('production', 'isa:header') %></h2>
      <div id="<%- idPrefix %>-isa"></div>
    </div>
  </div>
  <div id="<%- idPrefix %>-currentDowntime" class="production-currentDowntime hidden">
    <div id="<%- idPrefix %>-currentDowntime-message" class="production-currentDowntime-message">
      <div id="<%- idPrefix %>-currentDowntime-reason"></div>
      <div id="<%- idPrefix %>-currentDowntime-aor" class="production-currentDowntime-aor"></div>
      <div id="<%- idPrefix %>-currentDowntime-duration" class="production-currentDowntime-duration"></div>
      <div id="<%- idPrefix %>-currentDowntime-elapsedTime"></div>
    </div>
  </div>
  <% if (showBottomControls) { %>
  <div class="production-controls-bottom">
    <button id="<%- idPrefix %>-switchApps" class="btn btn-default" title="<%- t('production', 'controls:switchApps') %>"><i class="fa fa-window-restore"></i></button>
    <button id="<%- idPrefix %>-reboot" class="btn btn-default" title="<%- t('production', 'controls:reboot') %>"><i class="fa fa-refresh"></i></button>
    <button id="<%- idPrefix %>-shutdown" class="btn btn-default" title="<%- t('production', 'controls:shutdown') %>"><i class="fa fa-power-off"></i></button>
  </div>
  <% } %>
  <div id="<%- idPrefix %>-snMessage" class="production-snMessage hidden">
    <p id="<%- idPrefix %>-snMessage-text" class="production-snMessage-text">Lorem ipsum dolor sit amet...</p>
    <div class="production-snMessage-props">
      <% ['scannedValue', 'orderNo', 'serialNo'].forEach(function(prop) { %>
      <p class="production-snMessage-prop">
        <span class="production-snMessage-prop-name"><%- t('production', 'snMessage:' + prop) %></span>
        <span id="<%- idPrefix %>-snMessage-<%- prop %>" class="production-snMessage-prop-value">?</span>
      </p>
      <% }) %>
    </div>
  </div>
</div>
