<div class="production is-<%- locked ? 'locked' : 'unlocked' %> <%- state ? ('is-' + state) : '' %> <%- mechOrder ? 'is-mechOrder' : '' %> hidden">
  <div id="<%- idPrefix %>-controls"></div>
  <div id="<%- idPrefix %>-header"></div>
  <div id="<%- idPrefix %>-data"></div>
  <div id="<%- idPrefix %>-execution"></div>
  <div class="production-ft">
    <div class="production-downtimes">
      <h2 id="<%- idPrefix %>-downtimes-header" class="production-sectionHeader"><%- t('production', 'section:downtimes') %></h2>
      <div id="<%- idPrefix %>-downtimes"></div>
    </div>
    <div class="production-taktTime">
      <h2 class="production-sectionHeader"><%- t('production', 'section:taktTime') %></h2>
      <div id="<%- idPrefix %>-taktTime"></div>
    </div>
    <div class="production-quantities">
      <h2 class="production-sectionHeader"><%- t('production', 'section:quantities') %></h2>
      <div id="<%- idPrefix %>-quantities"></div>
    </div>
    <div class="production-isa">
      <h2 class="production-sectionHeader"><%- t('production', 'isa:header') %></h2>
      <div id="<%- idPrefix %>-isa"></div>
    </div>
  </div>
  <div id="<%- idPrefix %>-currentDowntime" class="production-currentDowntime hidden">
    <div id="<%- idPrefix %>-currentDowntime-message" class="production-currentDowntime-message">
      <div id="<%- idPrefix %>-currentDowntime-reason"></div>
      <div id="<%- idPrefix %>-currentDowntime-aor" class="production-currentDowntime-aor"></div>
      <div id="<%- idPrefix %>-currentDowntime-duration" class="production-currentDowntime-duration"></div>
      <div id="<%- idPrefix %>-currentDowntime-elapsedTime"></div>
    </div>
  </div>
  <div id="<%- idPrefix %>-vkb"></div>
  <div id="<%- idPrefix %>-message" class="production-message hidden">
    <div id="<%- idPrefix %>-message-outer" class="production-message-outer">
      <div id="<%- idPrefix %>-message-inner" class="production-message-inner"></div>
    </div>
  </div>
</div>
