<div class="production is-<%- locked ? 'locked' : 'unlocked' %> <%- state ? ('is-' + state) : '' %> <%- mechOrder ? 'is-mechOrder' : '' %> hidden">
  <div id="<%- id('controls') %>"></div>
  <div id="<%- id('header') %>"></div>
  <div id="<%- id('data') %>"></div>
  <div id="<%- id('execution') %>"></div>
  <div class="production-ft">
    <div class="production-sequence">
      <h2 id="<%- id('sequence-header') %>" class="production-sectionHeader"><%- t('section:sequence') %></h2>
      <div id="<%- id('sequence') %>"></div>
    </div>
    <div class="production-taktTime">
      <h2 class="production-sectionHeader"><%- t('section:taktTime') %></h2>
      <div id="<%- id('taktTime') %>"></div>
    </div>
    <div class="production-quantities">
      <h2 class="production-sectionHeader"><%- t('section:quantities') %></h2>
      <div id="<%- id('quantities') %>"></div>
    </div>
    <div class="production-isa">
      <h2 class="production-sectionHeader"><%- t('isa:header') %></h2>
      <div id="<%- id('isa') %>"></div>
    </div>
  </div>
  <div class="production-ft">
    <div class="production-downtimes">
      <h2 id="<%- id('downtimes-header') %>" class="production-sectionHeader"><%- t('section:downtimes') %></h2>
      <div id="<%- id('downtimes') %>"></div>
    </div>
  </div>
  <div id="<%- id('currentDowntime') %>" class="production-currentDowntime hidden">
    <div id="<%- id('currentDowntime-message') %>" class="production-currentDowntime-message">
      <div id="<%- id('currentDowntime-reason') %>"></div>
      <div id="<%- id('currentDowntime-aor') %>" class="production-currentDowntime-aor"></div>
      <div id="<%- id('currentDowntime-duration') %>" class="production-currentDowntime-duration"></div>
      <div id="<%- id('currentDowntime-elapsedTime') %>"></div>
    </div>
  </div>
  <div id="<%- id('vkb') %>"></div>
  <div id="<%- id('message') %>" class="production-message hidden">
    <div id="<%- id('message-outer') %>" class="production-message-outer">
      <div id="<%- id('message-inner') %>" class="production-message-inner"></div>
    </div>
  </div>
</div>
