<form class="production-propertyEditorDialog">
  <div class="form-group">
    <label for="<%- idPrefix %>-value"><%- t('production', 'propertyEditorDialog:label:' + property) %></label>
    <input id="<%- idPrefix %>-value" class="form-control small is-embedded" type="text" value="<%- value %>" min="<%- min %>" max="<%- max %>" data-vkb="numeric">
  </div>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-lg btn-primary" type="submit"><%- t('production', 'propertyEditorDialog:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('production', 'propertyEditorDialog:no') %></button>
  </div>
</form>
