<form class="production-propertyEditorDialog">
  <div class="form-group">
    <label for="<%- id('value') %>"><%- t('propertyEditorDialog:label:' + property) %></label>
    <input id="<%- id('value') %>" class="form-control small is-embedded" type="text" autocomplete="new-password" value="<%- value %>" min="<%- min %>" max="<%- max %>" data-vkb="numeric">
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" class="btn btn-lg btn-primary" type="submit"><%- t('propertyEditorDialog:yes') %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('propertyEditorDialog:no') %></button>
  </div>
</form>
