<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th class="is-min"><%- t('quantities:column:time') %></th>
      <th class="is-min"><%- t('quantities:column:planned') %></th>
      <th><%- t('quantities:column:actual') %></th>
    </tr>
  </thead>
  <tbody>
    <% quantityRows.forEach(function(row, i) { %>
    <tr>
      <td class="is-min"><%- row.time %></td>
      <td class="is-min"><%- row.planned %> <%- t('quantities:unit') %></td>
      <td class="production-quantities-actual" data-hour="<%- i %>">
        <span><%- row.actual %> <%- t('quantities:unit') %></span>
        <% if (row.editable) { %>
        <button class="btn btn-link"><%- t('quantities:change') %></button>
        <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
