<form class="production-quantityEditor">
  <div class="form-group">
    <label for="<%- idPrefix %>-quantity"><%= t('production', 'quantityEditor:label', {from: from, to: to}) %></label>
    <input id="<%- idPrefix %>-quantity" class="form-control input-lg" type="number" value="<%= currentQuantity %>" min="0" max="<%- maxQuantity %>">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('production', 'quantityEditor:submit') %></button>
    <button type="button" class="cancel btn btn-link"><%- t('production', 'quantityEditor:cancel') %></button>
  </div>
</form>
