<form class="settings">
  <div class="list-group">
    <a class="list-group-item" href="#production;settings?tab=operator" data-tab="operator"><%- t('production', 'settings:tab:operator') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body has-subtabs" data-tab="operator">
      <div class="settings">
        <div class="list-group">
          <% [
            'taktTime',
            'downtimes',
            'spigot'
            ].forEach(function(subtab) { %>
          <a class="list-group-item" href="#production;settings?tab=operator&subtab=<%- subtab %>" data-tab="operator" data-subtab="<%- subtab %>"><%- t('production', 'settings:tab:' + subtab) %></a>
          <% }) %>
        </div>
        <div class="panel panel-primary">
          <div class="panel-body" data-subtab="taktTime">
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-taktTime-enabled" name="production.taktTime.enabled" type="checkbox" value="true">
                <%- t('production', 'settings:taktTime:enabled') %>
              </label>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-lines"><%- t('production', 'settings:taktTime:lines') %></label>
              <input id="<%- idPrefix %>-taktTime-lines" name="production.taktTime.lines" type="text" data-setting>
            </div>
            <% ['sap', 'last', 'avg', 'smiley'].forEach(function(p) { %>
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-taktTime-<%- p %>" name="production.taktTime.<%- p %>" type="checkbox" value="true">
                <%- t('production', 'settings:taktTime:' + p) %>
              </label>
            </div>
            <% }) %>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-ignoredDowntimes"><%- t('production', 'settings:taktTime:ignoredDowntimes') %></label>
              <input id="<%- idPrefix %>-taktTime-ignoredDowntimes" name="production.taktTime.ignoredDowntimes" type="text" data-setting>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-coeffs"><%- t('production', 'settings:taktTime:coeffs') %></label>
              <span class="help-block"><%- t('production', 'settings:taktTime:coeffs:help') %></span>
              <textarea id="<%- idPrefix %>-taktTime-coeffs" class="form-control text-mono" name="production.taktTime.coeffs" rows="5" data-keyup-delay="10000" data-change-delay="0"></textarea>
            </div>
          </div>
          <div class="panel-body" data-subtab="downtimes">
            <div class="form-group">
              <label for="<%- idPrefix %>-initialDowntimeWindow"><%- t('production', 'settings:initialDowntimeWindow') %></label>
              <input id="<%- idPrefix %>-initialDowntimeWindow" class="form-control" name="production.initialDowntimeWindow" type="number" step="1" min="0" max="60">
            </div>
          </div>
          <div class="panel-body" data-subtab="spigot">
            <div class="form-group">
              <label for="<%- idPrefix %>-rearmDowntimeReason"><%- t('production', 'settings:rearmDowntimeReason') %></label>
              <input id="<%- idPrefix %>-rearmDowntimeReason" name="production.rearmDowntimeReason" type="text" data-setting>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotLines"><%- t('production', 'settings:spigotLines') %></label>
              <input id="<%- idPrefix %>-spigotLines" name="production.spigotLines" type="text" data-setting>
            </div>
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-spigotFinish" name="production.spigotFinish" type="checkbox" value="true">
                <%- t('production', 'settings:spigotFinish') %>
              </label>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotPatterns"><%- t('production', 'settings:spigotPatterns') %></label>
              <textarea id="<%- idPrefix %>-spigotPatterns" name="production.spigotPatterns" class="form-control text-mono" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotNotPatterns"><%- t('production', 'settings:spigotNotPatterns') %></label>
              <textarea id="<%- idPrefix %>-spigotNotPatterns" name="production.spigotNotPatterns" class="form-control text-mono" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotGroups"><%- t('production', 'settings:spigotGroups') %></label>
              <textarea id="<%- idPrefix %>-spigotGroups" name="production.spigotGroups" class="form-control text-mono" rows="7" data-keyup-delay="2000"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
