<form class="settings production-settings">
  <div class="list-group">
    <a class="list-group-item" href="#production;settings?tab=operator" data-tab="operator"><%- t('production', 'settings:tab:operator') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body has-subtabs" data-tab="operator">
      <div class="settings">
        <div class="list-group">
          <% subtabs.forEach(function(subtab) { %>
          <a class="list-group-item" href="#production;settings?tab=operator&subtab=<%- subtab %>" data-tab="operator" data-subtab="<%- subtab %>" data-redirect="<%- subtab === 'bomChecker' ? '#orderBomMatchers' : '' %>"><%- t('production', 'settings:tab:' + subtab) %></a>
          <% }) %>
        </div>
        <div class="panel panel-primary">
          <% if (_.includes(subtabs, 'taktTime')) { %>
          <div class="panel-body" data-subtab="taktTime">
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-taktTime-enabled" name="production.taktTime.enabled" type="checkbox" value="true">
                <%- t('production', 'settings:taktTime:enabled') %>
              </label>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-ignoredLines"><%- t('production', 'settings:taktTime:ignoredLines') %></label>
              <input id="<%- idPrefix %>-taktTime-ignoredLines" name="production.taktTime.ignoredLines" type="text" autocomplete="new-password" data-setting>
            </div>
            <% ['sap', 'last', 'avg', 'smiley'].forEach(function(p) { %>
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-taktTime-<%- p %>" name="production.taktTime.<%- p %>" type="checkbox" value="true">
                <%- t('production', 'settings:taktTime:' + p) %>
              </label>
            </div>
            <% }) %>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-ignoredDowntimes"><%- t('production', 'settings:taktTime:ignoredDowntimes') %></label>
              <input id="<%- idPrefix %>-taktTime-ignoredDowntimes" name="production.taktTime.ignoredDowntimes" type="text" autocomplete="new-password" data-setting>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-taktTime-coeffs"><%- t('production', 'settings:taktTime:coeffs') %></label>
              <span class="help-block"><%- t('production', 'settings:taktTime:coeffs:help') %></span>
              <textarea id="<%- idPrefix %>-taktTime-coeffs" class="form-control text-mono" name="production.taktTime.coeffs" rows="5" data-keyup-delay="10000" data-change-delay="0"></textarea>
            </div>
          </div>
          <% } %>
          <% if (_.includes(subtabs, 'downtimes')) { %>
          <div class="panel-body" data-subtab="downtimes">
            <div class="form-group">
              <label for="<%- idPrefix %>-initialDowntimeWindow"><%- t('production', 'settings:initialDowntimeWindow') %></label>
              <input id="<%- idPrefix %>-initialDowntimeWindow" class="form-control" name="production.initialDowntimeWindow" type="number" step="1" min="0" max="60">
            </div>
            <hr>
            <div class="form-group">
              <label for="<%- idPrefix %>-lineAutoDowntimes-groups"><%- t('production', 'settings:lineAutoDowntimes:groups:label') %></label>
              <input id="<%- idPrefix %>-lineAutoDowntimes-groups" type="text" autocomplete="new-password">
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-lineAutoDowntimes-group"><%- t('production', 'settings:lineAutoDowntimes:group:label') %></label>
              <input id="<%- idPrefix %>-lineAutoDowntimes-group" class="form-control" type="text" autocomplete="new-password">
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-lineAutoDowntimes-lines"><%- t('production', 'settings:lineAutoDowntimes:lines:label') %></label>
              <input id="<%- idPrefix %>-lineAutoDowntimes-lines" type="text" autocomplete="new-password">
            </div>
            <table class="table table-condensed table-with-tfoot production-settings-lineAutoDowntimes">
              <thead>
              <tr>
                <th class="is-min"><%- t('production', 'settings:lineAutoDowntimes:reason') %></th>
                <th class="is-min" colspan="2"><%- t('production', 'settings:lineAutoDowntimes:init') %></th>
                <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
                <th></th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <td colspan="5"><input id="<%- idPrefix %>-lineAutoDowntimes-reasons" type="text" autocomplete="new-password"></td>
              </tr>
              </tfoot>
              <tbody id="<%- idPrefix %>-lineAutoDowntimes-body"></tbody>
            </table>
          </div>
          <% } %>
          <% if (_.includes(subtabs, 'spigot')) { %>
          <div class="panel-body" data-subtab="spigot">
            <div class="form-group">
              <label for="<%- idPrefix %>-rearmDowntimeReason"><%- t('production', 'settings:rearmDowntimeReason') %></label>
              <input id="<%- idPrefix %>-rearmDowntimeReason" name="production.rearmDowntimeReason" type="text" autocomplete="new-password" data-setting <%- onlySpigot ? 'disabled' : '' %>>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotLines"><%- t('production', 'settings:spigotLines') %></label>
              <input id="<%- idPrefix %>-spigotLines" name="production.spigotLines" type="text" autocomplete="new-password" data-setting>
            </div>
            <div class="checkbox">
              <label class="control-label">
                <input id="<%- idPrefix %>-spigotFinish" name="production.spigotFinish" type="checkbox" value="true" <%- onlySpigot ? 'disabled' : '' %>>
                <%- t('production', 'settings:spigotFinish') %>
              </label>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotPatterns"><%- t('production', 'settings:spigotPatterns') %></label>
              <textarea id="<%- idPrefix %>-spigotPatterns" name="production.spigotPatterns" class="form-control text-mono" rows="4" <%- onlySpigot ? 'disabled' : '' %>></textarea>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotNotPatterns"><%- t('production', 'settings:spigotNotPatterns') %></label>
              <textarea id="<%- idPrefix %>-spigotNotPatterns" name="production.spigotNotPatterns" class="form-control text-mono" rows="4" <%- onlySpigot ? 'disabled' : '' %>></textarea>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotGroups"><%- t('production', 'settings:spigotGroups') %></label>
              <span class="help-block"><%- t('production', 'settings:spigotGroups:help') %></span>
              <textarea id="<%- idPrefix %>-spigotGroups" name="production.spigotGroups" class="form-control text-mono" rows="7" data-keyup-delay="2000" <%- onlySpigot ? 'disabled' : '' %>></textarea>
            </div>
            <div class="form-group">
              <label for="<%- idPrefix %>-spigotInsertGroups"><%- t('production', 'settings:spigotInsertGroups') %></label>
              <span class="help-block"><%- t('production', 'settings:spigotInsertGroups:help') %></span>
              <textarea id="<%- idPrefix %>-spigotInsertGroups" name="production.spigotInsertGroups" class="form-control text-mono" rows="7" data-keyup-delay="2000" <%- onlySpigot ? 'disabled' : '' %>></textarea>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</form>
