<form class="production-snChecker" autocomplete="off">
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
        <label for="<%- id('orderNo') %>"><%- t('taktTime:check:orderNo') %></label>
        <input id="<%- id('orderNo') %>" class="form-control" type="text" autocomplete="new-password" value="<%- orderNo %>" required pattern="^[0-9]{9}$" data-sn-accept>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="<%- id('serialNo') %>"><%- t('taktTime:check:serialNo') %></label>
        <input id="<%- id('serialNo') %>" class="form-control" type="number" min="1" max="9999" required data-sn-accept>
      </div>
    </div>
  </div>
  <div id="<%- id('message') %>" class="message message-inline message-warning">
    <%- t('taktTime:check:help') %>
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-lg btn-primary"><%- t('taktTime:check:submit') %></button>
    <button id="<%- id('list') %>" type="button" class="btn btn-lg btn-link"><%- t('taktTime:check:list') %></button>
  </div>
</form>
