<form class="production-<%- type %>Dialog" autocomplete="off">
  <% if (type === 'unlock') { %>
  <div class="production-form-btn-group">
    <label class="control-label is-required"><%- t('unlockDialog:prodLine') %></label>
    <div id="<%- idPrefix %>-list" class="btn-group-vertical">
      <p>
        <i class="fa fa-spinner fa-spin"></i>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label is-required"><%- t('unlockDialog:station') %></label>
    <br>
    <div class="btn-group production-unlockDialog-stations" data-toggle="buttons">
      <% [1, 2, 3, 4, 5, 6, 7].forEach(function(n) { %>
      <label class="btn btn-default">
        <input type="radio" name="station" value="<%- n %>"> <%- n %>
      </label>
      <% }) %>
    </div>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-login" class="control-label is-required"><%- t('unlockDialog:login') %></label>
    <input id="<%- idPrefix %>-login" class="form-control is-embedded" type="text" autocomplete="new-password" required data-vkb="alpha numeric">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-password" class="control-label is-required"><%- t('unlockDialog:password') %></label>
    <input id="<%- idPrefix %>-password" class="form-control is-embedded" type="password" autocomplete="new-password" required data-vkb="alpha numeric extended">
  </div>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-lg btn-primary" type="submit"><%- t('unlockDialog:' + type) %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
