<form class="production-<%- type %>Dialog" autocomplete="off">
  <p class="message message-inline message-info"><%- t('unlockDialog:message:' + type, {prodLine: prodLine}) %></p>
  <% if (type === 'unlock') { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-prodLine" class="control-label is-required"><%- t('unlockDialog:prodLine') %></label>
    <input id="<%- idPrefix %>-prodLine" class="form-control" type="text" autocomplete="new-password" required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-station" class="control-label is-required"><%- t('unlockDialog:station') %></label>
    <input id="<%- idPrefix %>-station" class="form-control" type="number" min="1" max="7" required>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-login" class="control-label is-required"><%- t('unlockDialog:login') %></label>
    <input id="<%- idPrefix %>-login" class="form-control" type="text" autocomplete="new-password" required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-password" class="control-label is-required"><%- t('unlockDialog:password') %></label>
    <input id="<%- idPrefix %>-password" class="form-control" type="password" autocomplete="new-password" required>
  </div>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-lg btn-primary" type="submit"><%- t('unlockDialog:' + type) %></button>
    <button class="btn btn-lg btn-link cancel" type="button"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
