<div class="production-vkb hidden <%- mode.alpha ? 'is-alpha' : '' %> <%- mode.numeric ? 'is-numeric' : '' %> <%- mode.multiline ? 'is-multiline' : '' %> <%- mode.extended ? 'is-extended' : '' %> <%- extended ? 'is-vkb-extended' : '' %>">
  <% if (mode.alpha) { %>
  <% if (mode.extended) { %>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="`" data-extended-key="~">`</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="[" data-extended-key="{">[</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="]" data-extended-key="}">]</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="\" data-extended-key="|">\</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key=";" data-extended-key=":">;</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="'" data-extended-key="&quot;">'</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="," data-extended-key="<">,</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="." data-extended-key=">">.</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="/" data-extended-key="?">/</button>
    <button class="btn btn-default <%- extended ? 'active' : '' %>" type="button" tabindex="-1" data-key="EXTENDED">Shift</button>
  </div>
  <% } %>
  <% if (mode.numeric) { %>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="1" data-extended-key="!">1</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="2" data-extended-key="@">2</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="3" data-extended-key="#">3</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="4" data-extended-key="$">4</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="5" data-extended-key="%">5</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="6" data-extended-key="^">6</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="7" data-extended-key="&">7</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="8" data-extended-key="*">8</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="9" data-extended-key="(">9</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="0" data-extended-key=")">0</button>
  </div>
  <% } %>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="Q" data-extended-key="q">Q</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="W" data-extended-key="w">W</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="E" data-extended-key="e">E</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="R" data-extended-key="r">R</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="T" data-extended-key="t">T</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="Y" data-extended-key="y">Y</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="U" data-extended-key="u">U</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="I" data-extended-key="i">I</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="O" data-extended-key="o">O</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="P" data-extended-key="p">P</button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="A" data-extended-key="a">A</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="S" data-extended-key="s">S</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="D" data-extended-key="d">D</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="F" data-extended-key="f">F</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="G" data-extended-key="g">G</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="H" data-extended-key="h">H</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="J" data-extended-key="j">J</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="K" data-extended-key="k">K</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="L" data-extended-key="l">L</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="BACKSPACE" data-extended-key="="></button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="Z" data-extended-key="z">Z</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="X" data-extended-key="x">X</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="C" data-extended-key="c">C</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="V" data-extended-key="v">V</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="B" data-extended-key="b">B</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="N" data-extended-key="n">N</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="M" data-extended-key="m">M</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="LEFT" data-extended-key="-">&lt</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="RIGHT" data-extended-key="_">&gt</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="CLEAR" data-extended-key="+"></button>
  </div>
  <% if (mode.multiline) { %>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key=",">,</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key=".">.</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="?">?</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="(">(</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key=")">)</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key=":">:</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="&quot;">&quot;</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="SPACE">____</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="ENTER"><i class="fa fa-level-down fa-rotate-90"></i></button>
  </div>
  <% } %>
  <% } else if (mode.numeric) { %>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="1">1</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="2">2</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="3">3</button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="4">4</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="5">5</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="6">6</button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="7">7</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="8">8</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="9">9</button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="LEFT">&lt;</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="0">0</button>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="RIGHT">&gt;</button>
  </div>
  <div class="production-vkb-row">
    <button class="btn btn-default" type="button" tabindex="-1" data-key="BACKSPACE"><i class="fa fa-long-arrow-left"></i></button>
    <% if (mode.negative) { %>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="-">-</button>
    <% } else if (mode.decimal) { %>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="<%- decimalSeparator %>"><%- decimalSeparator %></button>
    <% } else { %>
    <button class="btn btn-default" type="button" tabindex="-1" disabled>&nbsp;</button>
    <% } %>
    <button class="btn btn-default" type="button" tabindex="-1" data-key="CLEAR"><i class="fa fa-eraser"></i></button>
  </div>
  <% } %>
</div>
