<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    required: true
  }) %>
  <div class="form-group">
    <label><%- t('reports', 'filter:interval') %></label>
    <div id="<%- idPrefix %>-intervals" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['year', 'quarter', 'month', 'week', 'day', 'shift'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input type="radio" name="interval" value="<%- interval %>"> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label><%- t('reports', 'filter:shifts') %></label>
    <div id="<%- idPrefix %>-shifts" class="btn-group filter-btn-group" data-toggle="buttons">
      <% [1, 2, 3].forEach(function(shift) { %>
      <label class="btn btn-default">
        <input type="checkbox" name="shifts[]" value="<%- shift %>"> <%- t('core', 'SHIFT:' + shift) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label><%- t('reports', 'filter:divisions') %></label>
    <div id="<%- idPrefix %>-divisions" class="btn-group filter-btn-group" data-toggle="buttons">
      <% divisions.forEach(function(division) { %>
      <label class="btn btn-default" title="<%= division.title %>">
        <input type="checkbox" name="divisions[]" value="<%= division.id %>"> <%= division.label %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <div class="filter-radioLabels">
      <label>
        <input name="mode" type="radio" value="shift">
        <%- t('reports', 'operator:filter:mode:shift') %>
      </label><label>
        <input name="mode" type="radio" value="masters">
        <%- t('reports', 'operator:filter:mode:masters') %>
      </label><label>
        <input name="mode" type="radio" value="operators">
        <%- t('reports', 'operator:filter:mode:operators') %>
      </label>
    </div>
    <div id="<%- idPrefix %>-shift" class="btn-group filter-btn-group"></div>
    <input id="<%- idPrefix %>-users" name="users" type="hidden">
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('reports', 'filter:submit') %></span></button>
  </div>
</form>
