<div class="panel panel-default reports-4-notes">
  <div class="panel-heading is-with-actions">
    <%- t('reports', 'operator:notes:title') %>
    <div class="panel-actions">
      <% if (orders.length) { %>
      <button id="<%- idPrefix %>-toggle" type="button" class="btn btn-default"><i class="fa fa-chevron-up"></i></button>
      <% } else { %>
      <button id="<%- idPrefix %>-load" type="button" class="btn btn-default" <%- notes ? '' : 'disabled' %>>
        <i class="fa fa-refresh"></i><span><%- t('reports', 'operator:notes:load' + (notes ? '' : ':noData'), {notes: notes, worksheets: worksheets}) %></span>
      </button>
      <% } %>
    </div>
  </div>
  <% if (!notes) { %>
  <div class="panel-body">
    <p><%- t('reports', 'operator:notes:noData') %></p>
  </div>
  <% } %>
  <% if (orders.length) { %>
  <div id="<%- idPrefix %>-table">
    <%- renderOrderList({
      helpers: helpers,
      extended: true,
      orders: orders
    }) %>
  </div>
  <% } %>
</div>
