<form class="settings reports-settings">
  <div class="list-group">
    <% [
      'rewards'
    ].forEach(function(tab) { %>
      <a class="list-group-item" href="#osh/reports;settings?tab=<%- tab %>" data-tab="<%- tab %>"><%- t(`settings:tab:${tab}`) %></a>
    <% }) %>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="rewards">
      <div class="form-group">
        <label for="<%- id('rewards-minPayout') %>"><%- t('settings:rewards:minPayout') %></label>
        <div class="input-group" style="width: 143px">
          <input id="<%- id('rewards-minPayout') %>" class="form-control text-right" name="osh.rewards.minPayout" type="number" min="0" max="1000000" step="1">
          <span class="input-group-addon">PLN</span>
        </div>
      </div>
      <% ['default', 'nom', 'kom'].forEach(type => { %>
      <div class="form-group">
        <label for="<%- id(`rewards-kaizens-${type}`) %>"><%- t(`settings:rewards:kaizens:${type}`) %></label>
        <div class="input-group" style="width: 143px">
          <input id="<%- id(`rewards-kaizens-${type}`) %>" class="form-control text-right" name="osh.rewards.kaizens.<%- type %>" type="number" min="0" max="1000000" step="1">
          <span class="input-group-addon">PLN</span>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</form>
