<form class="osh-entries-form osh-kaizens-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: 'subject',
        label: 'PROPERTY:',
        required: true,
        maxLength: 150,
        visible: !hidden.subject
      }) %>
      <% if (!hidden.creator) { %>
      <div class="row">
        <%- helpers.formGroup({
          name: 'creator',
          type: 'static',
          label: 'FORM:',
          groupClassName: 'col-lg-4',
          value: editMode ? model.creator.label : user.getLabel()
        }) %>
        <%- helpers.formGroup({
          name: 'userWorkplace',
          type: 'select2',
          label: 'PROPERTY:',
          required: true,
          groupClassName: 'col-lg-4'
        }) %>
        <%- helpers.formGroup({
          name: 'userDepartment',
          type: 'select2',
          label: 'PROPERTY:',
          required: true,
          groupClassName: 'col-lg-4'
        }) %>
      </div>
      <% } %>
      <div class="panel panel-success">
        <div class="panel-heading"><%- t('FORM:subtitle') %></div>
        <div class="panel-body has-lastElementRow">
          <% if (!hidden.kind && (!relation || !model.kind)) { %>
            <div class="form-group">
              <label class="control-label is-required"><%- t('PROPERTY:kind') %></label>
              <br>
              <% kinds.forEach(option => { %>
              <label class="checkbox-inline" title="<%= option.title %>">
                <input name="kind[]" type="checkbox" value="<%- option.value %>">
                <%= option.label %>
              </label>
              <% }) %>
            </div>
          <% } %>
          <% if (!relation && !hidden.orgUnits) { %>
            <div class="row">
              <%- helpers.formGroup({
                name: 'division',
                type: 'select2',
                label: 'PROPERTY:',
                required: true,
                groupClassName: 'col-lg-4'
              }) %>
              <%- helpers.formGroup({
                name: 'workplace',
                type: 'select2',
                label: 'PROPERTY:',
                required: true,
                groupClassName: 'col-lg-4'
              }) %>
              <%- helpers.formGroup({
                name: 'department',
                type: 'select2',
                label: 'PROPERTY:',
                required: true,
                groupClassName: 'col-lg-4'
              }) %>
            </div>
            <div class="row">
              <%- helpers.formGroup({
                name: 'building',
                type: 'select2',
                label: 'PROPERTY:',
                groupClassName: 'col-lg-4'
              }) %>
              <%- helpers.formGroup({
                name: 'location',
                type: 'select2',
                label: 'PROPERTY:',
                groupClassName: 'col-lg-4'
              }) %>
              <%- helpers.formGroup({
                name: 'station',
                type: 'select2',
                label: 'PROPERTY:',
                groupClassName: 'col-lg-4'
              }) %>
            </div>
          <% } %>
          <% if (!hidden.categories) { %>
          <div class="row">
            <%- helpers.formGroup({
              name: 'kaizenCategory',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
          </div>
          <% } %>
          <% if (!hidden.implementers) { %>
          <div class="row">
            <%- helpers.formGroup({
              name: 'implementers',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
            <% if (!relation || relation.getModelType() !== 'nearMiss') { %>
              <%- helpers.formGroup({
                name: 'plannedAt',
                type: 'date',
                label: 'FORM:',
                required: true,
                groupClassName: 'col-lg-4'
              }) %>
            <% } %>
          </div>
          <% } %>
          <% if (!hidden.descriptions) { %>
          <div class="row">
            <%- helpers.formGroup({
              name: 'problem',
              type: 'textarea',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
            <%- helpers.formGroup({
              name: 'reason',
              type: 'textarea',
              label: 'PROPERTY:',
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
            <%- helpers.formGroup({
              name: 'suggestion',
              type: 'textarea',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
          </div>
          <% } %>
          <% if (editMode) { %>
            <div class="row">
              <%- helpers.formGroup({
                name: 'solution',
                type: 'textarea',
                label: 'PROPERTY:',
                groupClassName: 'col-lg-12',
                rows: 4
              }) %>
            </div>
          <% } %>
          <% if (model.status === 'verification' || model.status === 'finished') { %>
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="<%- id('reward') %>" class="control-label"><%- t('PROPERTY:reward') %></label>
                <% [1, 2].forEach(kom => { %>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="kom" value="<%- kom %>">
                    <%- t(`kom:${kom}`) %> <i class="fa <%- komIcons[kom] %>"></i>
                  </label>
                </div>
                <% }) %>
                <div class="input-group" style="width: 143px; margin-top: 5px">
                  <input id="<%- id('reward') %>" name="reward" class="form-control text-right" type="number" min="0" max="1000" step="0.01">
                  <span class="input-group-addon">PLN</span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <% if (editMode) { %>
        <div class="row">
          <%- helpers.formGroup({
            name: 'attachments.before',
            type: 'file',
            label: 'FORM:attachments:before:edit',
            accept: '.png,.jpeg,.jpg,.tiff,.webp',
            multiple: true,
            groupClassName: 'col-lg-4',
            inputAttrs: {'data-max': 2}
          }) %>
          <%- helpers.formGroup({
            name: 'attachments.after',
            type: 'file',
            label: 'FORM:attachments:after',
            accept: '.png,.jpeg,.jpg,.tiff,.webp',
            multiple: true,
            groupClassName: 'col-lg-4',
            inputAttrs: {'data-max': 2}
          }) %>
          <%- helpers.formGroup({
            name: 'attachments.other',
            type: 'file',
            label: 'FORM:attachments:other',
            accept: '.txt,.pdf,.docx,.xlsx,.png,.jpeg,.jpg,.tiff,.webp,.mp4',
            multiple: true,
            groupClassName: 'col-lg-4',
            inputAttrs: {'data-max': 4}
          }) %>
        </div>
        <%- helpers.formGroup({
          name: 'comment',
          type: 'textarea',
          label: 'PROPERTY:',
          rows: 3
        }) %>
      <% } else { %>
        <%- helpers.formGroup({
          name: 'attachments.before',
          type: 'file',
          label: 'FORM:attachments:before:add',
          accept: '.png,.jpeg,.jpg,.tiff,.webp',
          multiple: true,
          inputAttrs: {'data-max': 2}
        }) %>
      <% } %>
    </div>
    <div class="form-actions">
      <button id="<%- id('save') %>" type="submit" class="btn btn-primary" title="<%- editMode ? t('wmes-osh-common', 'FORM:ACTION:title:edit') : '' %>">
        <% if (editMode) { %>
          <i class="fa fa-save"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:edit') %></span>
        <% } else { %>
          <i class="fa fa-plus"></i><span><%- t('FORM:ACTION:add') %></span>
        <% } %>
      </button>
      <% if (editMode) { %>
        <% if (can.inProgress) { %>
          <button id="<%- id('inProgress') %>" type="button" class="btn btn-info" title="<%- t('wmes-osh-common', 'FORM:ACTION:title:status', {status: t('wmes-osh-common', 'status:inProgress')}) %>">
            <% if (model.status === 'verification') { %>
              <i class="fa fa-thumbs-down"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:correction') %></span>
            <% } else { %>
              <i class="fa fa-check"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:inProgress') %></span>
            <% } %>
          </button>
        <% } %>
        <% if (can.verification) { %>
          <button id="<%- id('verification') %>" type="button" class="btn btn-secondary" title="<%- t('wmes-osh-common', 'FORM:ACTION:title:status', {status: t('wmes-osh-common', 'status:verification')}) %>">
            <i class="fa fa-gavel"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:verification') %></span>
          </button>
        <% } %>
        <% if (can.finished) { %>
          <button id="<%- id('finished') %>" type="button" class="btn btn-success" title="<%- t('wmes-osh-common', 'FORM:ACTION:title:status', {status: t('wmes-osh-common', 'status:finished')}) %>">
            <i class="fa fa-thumbs-up"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:finished') %></span>
          </button>
        <% } %>
        <% if (can.paused) { %>
          <button id="<%- id('paused') %>" type="button" class="btn btn-warning" title="<%- t('wmes-osh-common', 'FORM:ACTION:title:status', {status: t('wmes-osh-common', 'status:paused')}) %>">
            <i class="fa fa-hourglass-o"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:paused') %></span>
          </button>
        <% } %>
        <% if (can.cancelled) { %>
          <button id="<%- id('cancelled') %>" type="button" class="btn btn-danger" title="<%- t('wmes-osh-common', 'FORM:ACTION:title:status', {status: t('wmes-osh-common', 'status:cancelled')}) %>">
            <i class="fa fa-ban"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:cancelled') %></span>
          </button>
        <% } %>
      <% } %>
      <button id="<%- id('cancel') %>" type="button" class="btn btn-link" title="<%- t('wmes-osh-common', `FORM:ACTION:title:cancel:${editMode ? 'edit' : 'add'}`) %>">
        <%- t('wmes-osh-common', `FORM:ACTION:cancel:${editMode ? 'edit' : 'add'}`) %>
      </button>
    </div>
  </div>
</form>
