<div class="well">
  <form id="<%- idPrefix %>-form" class="filter-form">
    <div class="orgUnitDropdowns-container"></div><div
      class="form-group">
      <label for="<%- idPrefix %>-date"><%- t('fte', 'FILTER:DATE') %></label>
      <input id="<%- idPrefix %>-date" class="form-control" name="date" type="date">
    </div><div
      class="form-group">
      <label for="<%- idPrefix %>-shift-any"><%- t('fte', 'FILTER:SHIFT') %></label>
      <div class="filter-radio-group">
        <label class="radio-inline">
          <input id="<%- idPrefix %>-shift-any" name="shift" type="radio" value="0">
          <%- t('core', 'SHIFT:ANY') %>
        </label>
        <label class="radio-inline">
          <input name="shift" type="radio" value="1">
          <%- t('core', 'SHIFT:1') %>
        </label>
        <label class="radio-inline">
          <input name="shift" type="radio" value="2">
          <%- t('core', 'SHIFT:2') %>
        </label>
        <label class="radio-inline">
          <input name="shift" type="radio" value="3">
          <%- t('core', 'SHIFT:3') %>
        </label>
      </div>
    </div><div
      class="form-group">
      <label for="<%- idPrefix %>-limit"><%- t('fte', 'FILTER:LIMIT') %></label>
      <input id="<%- idPrefix %>-limit" class="form-control" name="limit" type="number" value="25" min="5" max="100" step="1">
    </div><div
      class="form-group filter-actions">
      <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('fte', 'FILTER:BUTTON') %></span></button>
    </div>
  </form>
</div>
