<form class="well filter-form">
  <div class="orgUnitDropdowns-container"></div>
  <div class="form-group">
    <label for="<%- idPrefix %>-date"><%- t('fte', 'filter:date') %></label>
    <input id="<%- idPrefix %>-date" class="form-control" name="date" type="date">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-shift-0"><%- t('fte', 'filter:shift') %></label>
    <div class="filter-radio-group">
      <% [0, 1, 2, 3].forEach(function(shift) { %>
      <label class="radio-inline">
        <input id="<%- idPrefix %>-shift-<%- shift %>" name="shift" type="radio" value="<%- shift %>">
        <%- t('core', 'SHIFT:' + shift) %>
      </label>
      <% }) %>
    </div>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('fte', 'filter:submit') %></span></button>
  </div>
</form>
