<div>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- t('core', 'SHIFT:' + shift) %></span>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- t('fte', 'leaderEntry:panel:title' + (editable ? ':editable': '')) %></div>
    <table class="table table-bordered table-condensed table-hover fte-leaderEntry">
      <thead>
      <tr>
        <th><%- t('fte', 'leaderEntry:column:task') %>
        <th class="fte-leaderEntry-total-overall"><%- t('fte', 'leaderEntry:column:taskTotal') %>
        <% companies.forEach(function(company) { %>
        <th class="fte-leaderEntry-total-company"><%= company.name %>
        <% }) %>
      <thead>
      <tr>
        <th><%- t('fte', 'leaderEntry:column:companyTotal') %>
        <td class="fte-leaderEntry-total-overall"><%- round(total) %>
        <% companies.forEach(function(company, companyIndex) { %>
        <td class="fte-leaderEntry-total-company" data-company="<%= companyIndex %>"><%- round(company.total) %>
        <% }) %>
      <tbody>
      <% tasks.forEach(function(task, taskIndex) { %>
      <tr>
        <td><%= task.name %>
        <td class="fte-leaderEntry-total-task"><%- round(task.total) %>
        <% task.companies.forEach(function(company, companyIndex) { %>
        <td <%- editable ? '' : 'class="fte-leaderEntry-count"' %>>
          <% if (editable) { %>
          <input
            class="form-control fte-leaderEntry-count"
            type="number"
            min="0"
            max="9999"
            value="<%- company.count %>"
            data-value="<%- company.count %>"
            data-task="<%- taskIndex %>"
            data-company="<%- companyIndex %>">
          <% } else { %>
          <%- company.count %>
          <% } %>
        <% }) %>
      <% }) %>
    </table>
  </div>
</div>
