<div>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- shift %></span>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- t('fte', 'leaderEntry:panel:title' + (editable ? ':editable': '')) %></div>
    <% if (editable) { %>
    <div class="message message-inline message-info"><%- t('fte', 'panel:info') %></div>
    <% } %>
    <% if (totalByProdFunction) { %>
    <% include leaderEntryTableWFunctions.ejs %>
    <% } else { %>
    <% include leaderEntryTableWoFunctions.ejs %>
    <% } %>
  </div>
</div>
