<div>
  <% if (withFunctions) { %>
  <div class="message message-inline message-warning fte-changeRequest-warning">
    <p><%- t('fte', 'changeRequest:warning:edit') %></p>
  </div>
  <textarea id="<%- idPrefix %>-comment" class="form-control fte-changeRequest-comment" rows="3" placeholder="<%- t('fte', 'changeRequest:comment:placeholder') %>"></textarea>
  <% } %>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- shift %></span>
    </div>
  </div>
  <div id="<%- idPrefix %>-entryPanel" class="panel panel-primary fte-entryPanel is-colored">
    <div class="panel-heading"><%- t('fte', 'leaderEntry:panel:title' + (editable ? ':editable': '')) %></div>
    <% if (withFunctions) { %>
    <% include leaderEntryTableWFunctions.ejs %>
    <% } else { %>
    <% include leaderEntryTableWoFunctions.ejs %>
    <% } %>
  </div>
</div>
