<div>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- t('core', 'SHIFT:' + shift) %></span>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- t('fte', 'leaderEntry:panel:title' + (editable ? ':editable': '')) %></div>
    <table class="table table-bordered table-condensed table-hover fte-leaderEntry">
      <thead>
        <tr>
          <th class="fte-leaderEntry-taskColumn fte-nbb"><%- t('fte', 'leaderEntry:column:task') %>
          <th class="fte-nbb"><%- t('fte', 'leaderEntry:column:taskTotal') %>
          <% companies.forEach(function(company) { %>
          <th class="fte-nbb" colspan="<%- divisions.length %>"><%= company.name %>
          <% }) %>
        </tr>
        <tr>
          <th class="fte-ntb fte-nbb">
          <th class="fte-leaderEntry-total-overall fte-nbb"><%- round(total) %>
          <% companies.forEach(function(company, companyIndex) { %>
          <th class="fte-leaderEntry-total-company fte-nbb" data-company="<%= companyIndex %>" colspan="<%- divisions.length %>"><%- round(company.total) %>
          <% }) %>
        </tr>
        <% if (divisions.length) { %>
        <tr>
          <th class="fte-ntb">
          <th class="fte-ntb">
          <% companies.forEach(function(company, companyIndex) { %>
          <% divisions.forEach(function(division) { %>
          <th><%- division %>
          <% }) %>
          <% }) %>
        </tr>
        <% } %>
      </thead>
      <tbody>
        <% tasks.forEach(function(task, taskIndex) { %>
        <tr>
          <td><%= task.name %>
          <td class="fte-leaderEntry-total-task"><%- round(task.total) %>
          <% task.companies.forEach(function(company, companyIndex) { %>
          <% if (Array.isArray(company.count)) { %>
          <% company.count.forEach(function(companyCount, divisionIndex) { %>
          <td <%- editable ? '' : 'class="fte-leaderEntry-count"' %>>
            <% if (editable) { %>
            <input
              class="form-control fte-leaderEntry-count"
              type="number"
              min="0"
              max="9999"
              value="<%- companyCount.value %>"
              data-value="<%- companyCount.value %>"
              data-task="<%- taskIndex %>"
              data-company="<%- companyIndex %>"
              data-division="<%- divisionIndex %>">
            <% } else { %>
            <%- companyCount.value %>
            <% } %>
          </td>
          <% }) %>
          <% } else { %>
          <td <%- editable ? '' : 'class="fte-leaderEntry-count"' %> colspan="<%- divisions.length %>">
            <% if (editable) { %>
            <input
              class="form-control fte-leaderEntry-count"
              type="number"
              min="0"
              max="9999"
              value="<%- company.count %>"
              data-value="<%- company.count %>"
              data-task="<%- taskIndex %>"
              data-company="<%- companyIndex %>">
            <% } else { %>
            <%- company.count %>
            <% } %>
          </td>
          <% } %>
          <% }) %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
