<div>
  <div class="message message-inline message-warning fte-changeRequest-warning">
    <p><%- t('fte', 'changeRequest:warning:edit') %></p>
  </div>
  <textarea id="<%- idPrefix %>-comment" class="form-control fte-changeRequest-comment" rows="3" placeholder="<%- t('fte', 'changeRequest:comment:placeholder') %>"></textarea>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- shift %></span>
    </div>
  </div>
  <div id="<%- idPrefix %>-entryPanel" class="panel panel-primary fte-entryPanel">
    <div class="panel-heading"><%- t('fte', 'masterEntry:tasksPanel:title' + (editable ? ':editable': '')) %></div>
    <% if (editable) { %>
    <div class="message message-inline message-info"><%- t('fte', 'panel:info') %></div>
    <% } %>
    <table class="table table-bordered table-condensed table-hover fte-masterEntry">
      <thead>
      <tr>
        <th class="fte-masterEntry-column-task" rowspan="4"><%- t('fte', 'masterEntry:column:task') %>
        <th class="fte-masterEntry-column-noPlan even" rowspan="4"><%- t('fte', 'masterEntry:column:noPlan') %>
        <th colspan="<%- companyCount %>"><%- t('fte', 'masterEntry:column:total') %></th>
        <% Object.keys(totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <th class="fte-masterEntry-column-prodFunction <%- functionIndex % 2 ? '' : 'even' %>" colspan="<%- Object.keys(totalByProdFunction[prodFunctionId].companies).length %>" data-column="<%- functionIndex %>"><%- totalByProdFunction[prodFunctionId].prodFunction %></th>
        <% }) %>
      </tr>
      <tr>
        <th colspan="<%- companyCount %>" class="fte-masterEntry-total"><%- round(total) %>
        <% Object.keys(totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <th class="fte-masterEntry-total-prodFunction <%- functionIndex % 2 ? '' : 'even' %>" colspan="<%- Object.keys(totalByProdFunction[prodFunctionId].companies).length %>" class="fte-masterEntry-total-prodFunction" data-column="<%- functionIndex %>" data-functionId="<%- prodFunctionId %>"><%- round(totalByProdFunction[prodFunctionId].total) %>
        <% }) %>
      </tr>
      <tr>
        <% Object.keys(totalByCompany).forEach(function(companyId) { %>
        <th class="fte-masterEntry-column-company" ><%- totalByCompany[companyId].name %>
        <% }) %>
        <% Object.keys(totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <% Object.keys(totalByProdFunction[prodFunctionId].companies).forEach(function(companyId, companyIndex) { %>
        <th class="fte-masterEntry-column-company <%- functionIndex % 2 ? '' : 'even' %>" data-column="<%- functionIndex %>:<%- companyIndex %>"><%= totalByCompany[companyId].name %>
        <% }) %>
        <% }) %>
      </tr>
      <tr>
        <% Object.keys(totalByCompany).forEach(function(companyId) { %>
        <th class="fte-masterEntry-total-company" data-companyId="<%- companyId %>"><%- round(totalByCompany[companyId].total) %>
        <% }) %>
        <% Object.keys(totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <% Object.keys(totalByProdFunction[prodFunctionId].companies).forEach(function(companyId, companyIndex) { %>
        <th class="fte-masterEntry-total-prodFunction-company <%- functionIndex % 2 ? '' : 'even' %>" data-functionId="<%- prodFunctionId %>" data-companyId="<%- companyId %>" data-column="<%- functionIndex %>:<%- companyIndex %>"><%- round(totalByProdFunction[prodFunctionId].companies[companyId]) %>
        <% }) %>
        <% }) %>
      </tr>
      </thead>
      <tbody>
      <% tasks.forEach(function(task, taskIndex) { %>
      <tr>
        <td class="fte-masterEntry-cell-task">
          <% if (task.type === 'prodFlow') { %>
          <%= task.name %>
          <% } else { %>
          <em><%= task.name %></em>
          <% } %>
        <td class="even <% if (editable) { %>fte-masterEntry-noPlan-container<% } %>">
          <% if (editable) { %>
          <input class="fte-masterEntry-noPlan" type="checkbox" data-taskId="<%- task.id %>" data-task="<%- taskIndex %>" <%- task.noPlan ? 'checked' : '' %>>
          <% } else { %>
          <i class="fa fa-<%- task.noPlan ? 'check' : 'times' %>"></i>
          <% } %>
        </td>
        <% Object.keys(task.totalByCompany).forEach(function(companyId, companyIndex) { %>
        <td class="fte-masterEntry-total-company-task" data-companyId="<%- companyId %>" data-companyIndex="<%- companyIndex %>"><%- round(task.totalByCompany[companyId]) %></td>
        <% }) %>
        <% task.functions.forEach(function(prodFunction, functionIndex) { %>
        <% prodFunction.companies.forEach(function(company, companyIndex) { %>
        <td class="fte-count-container <%- functionIndex % 2 ? '' : 'even' %>" data-key="<%- taskIndex %>:<%- functionIndex %>:<%- companyIndex %>">
          <% if (editable) { %>
          <input
            class="form-control no-controls fte-masterEntry-count"
            type="number"
            min="0"
            max="9999"
            value="<%- company.count %>"
            data-value="<%- company.count %>"
            data-task="<%- taskIndex %>"
            data-function="<%- functionIndex %>"
            data-company="<%- companyIndex %>"
            data-functionId="<%- prodFunction.id %>"
            data-companyId="<%- company.id %>"
            <%- task.noPlan ? 'disabled' : '' %>>
          <% } else { %>
          <span class="fte-count"><%- round(company.count) %></span>
          <% } %>
        </td>
        <% }) %>
        <% }) %>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-primary fte-masterEntry-absence">
    <div class="panel-heading"><%- t('fte', 'masterEntry:absencePanel:title' + (editable ? ':editable': '')) %></div>
    <% if (editable) { %>
    <div class="fte-masterEntry-absence-userFinder-container">
      <input class="fte-masterEntry-absence-userFinder" type="text">
    </div>
    <% } %>
    <table class="table table-bordered table-condensed table-hover fte-masterEntry-absence">
      <thead>
      <tr>
        <th><%- t('users', 'PROPERTY:personellId') %>
        <th><%- t('users', 'PROPERTY:name') %>
        <% if (editable) { %>
        <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
        <% } %>
      </tr>
      </thead>
      <tbody class="fte-masterEntry-absence-noEntries">
      <tr>
        <td colspan="3"><%- t('core', 'LIST:NO_DATA') %>
      <tbody class="fte-masterEntry-absence-entries">
      <% absentUsers.forEach(function(absentUser) { %>
      <%- renderAbsentUserRow({absentUser: absentUser, editable: editable}) %>
      <% }) %>
    </table>
  </div>
</div>
