<div>
  <div class="message message-inline message-warning fte-changeRequest-warning">
    <p><%- t('fte', 'changeRequest:warning:edit') %></p>
  </div>
  <textarea id="<%- idPrefix %>-comment" class="form-control fte-changeRequest-comment" rows="3" placeholder="<%- t('fte', 'changeRequest:comment:placeholder') %>"></textarea>
  <div class="well">
    <div class="fte-property">
      <span class="fte-property-name"><%- t('core', 'ORG_UNIT:subdivision') %></span>
      <span class="fte-property-value"><%- subdivision %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:date') %></span>
      <span class="fte-property-value"><%- date %></span>
    </div>
    <div class="fte-property">
      <span class="fte-property-name"><%- t('fte', 'property:shift') %></span>
      <span class="fte-property-value"><%- shift %></span>
    </div>
  </div>
  <div id="<%- idPrefix %>-entryPanel" class="panel panel-primary fte-entryPanel <%- editable ? '': 'is-colored' %>">
    <div class="panel-heading"><%- t('fte', 'masterEntry:tasksPanel:title' + (editable ? ':editable': '')) %></div>
    <table class="table table-bordered table-condensed table-hover fte-masterEntry <%- editable ? 'is-editing': '' %>">
      <thead>
      <tr>
        <th class="fte-masterEntry-column-task" rowspan="5">
          <%- t('fte', 'masterEntry:column:task') %>
          <% if (editable) { %>
          <div class="btn-group fte-masterEntry-noPlan-dropdown" style="display: none">
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" title="<%- t('fte', 'showHidden') %>">
              <i class="fa fa-low-vision"></i>
            </button>
            <ul class="dropdown-menu"></ul>
          </div>
          <% } %>
        </th>
        <% if (absence.available) { %>
        <th class="fte-masterEntry-demand fte-masterEntry-totalColumn" rowspan="3" colspan="<%- demand.columnCount %>">
          <%- t('fte', 'masterEntry:column:demand') %>
        </th>
        <th class="fte-masterEntry-shortage fte-masterEntry-totalColumn" rowspan="2" colspan="<%- shortage.columnCount %>">
          <%- t('fte', 'masterEntry:column:shortage') %>
        </th>
        <% } %>
        <% if (editable) { %>
        <th class="fte-masterEntry-column-noPlan even" rowspan="5">
          <%- t('fte', 'masterEntry:column:noPlan') %>
        </th>
        <% } %>
        <th class="fte-masterEntry-supply fte-masterEntry-totalColumn" colspan="<%- supply.columnCount %>">
          <%- t('fte', 'masterEntry:column:supply') %>
        </th>
      </tr>
      <tr>
        <th class="fte-masterEntry-supply fte-masterEntry-totalColumn" colspan="<%- companyCount %>">
          <%- t('fte', 'masterEntry:column:total') %>
        </th>
        <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-column-prodFunction" colspan="<%- Object.keys(supply.totalByProdFunction[prodFunctionId].companies).length %>" data-column="<%- functionIndex %>">
          <%- supply.totalByProdFunction[prodFunctionId].name %>
        </th>
        <% }) %>
      </tr>
      <tr>
        <% if (absence.available) { %>
        <th class="fte-masterEntry-shortage fte-masterEntry-shortage-diff-total fte-masterEntry-totalColumn"><%- round(absence.overallTotal) %></th>
        <% _.forEach(companies, function(companyName, companyId) { %>
        <th class="fte-masterEntry-shortage fte-masterEntry-shortage-diff" data-companyid="<%- companyId %>">
          <%- round(absence.totalByCompany[companyId]) %>
        </th>
        <% }) %>
        <% } %>

        <th class="fte-masterEntry-supply fte-masterEntry-total fte-masterEntry-totalColumn" colspan="<%- companyCount %>"><%- round(supply.overallTotal) %></th>
        <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-total-prodFunction" colspan="<%- Object.keys(supply.totalByProdFunction[prodFunctionId].companies).length %>" class="fte-masterEntry-total-prodFunction" data-column="<%- functionIndex %>" data-functionId="<%- prodFunctionId %>">
          <%- round(supply.totalByProdFunction[prodFunctionId].total) %>
        </th>
        <% }) %>
      </tr>
      <tr>
        <% if (absence.available) { %>
        <th class="fte-masterEntry-demand fte-masterEntry-totalColumn"><%- t('fte', 'masterEntry:column:total') %></th>
        <% _.forEach(companies, function(companyName) { %>
        <th class="fte-masterEntry-demand fte-masterEntry-column-company"><%= companyName %></th>
        <% }) %>
        <th class="fte-masterEntry-shortage fte-masterEntry-totalColumn"><%- t('fte', 'masterEntry:column:total') %></th>
        <% _.forEach(companies, function(companyName) { %>
        <th class="fte-masterEntry-shortage fte-masterEntry-column-company"><%= companyName %></th>
        <% }) %>
        <% } %>

        <% _.forEach(supply.totalByCompany, function(companyTotal) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-column-company fte-masterEntry-totalColumn"><%= companyTotal.name %></th>
        <% }) %>
        <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <% Object.keys(supply.totalByProdFunction[prodFunctionId].companies).forEach(function(companyId, companyIndex) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-column-company" data-column="<%- functionIndex %>:<%- companyIndex %>">
          <%= supply.totalByCompany[companyId].name %>
        </th>
        <% }) %>
        <% }) %>
      </tr>
      <tr>
        <% if (absence.available) { %>
        <th class="fte-masterEntry-demand fte-masterEntry-total-demand"><%- round(demand.overallTotal) %></th>
        <% _.forEach(companies, function(companyName, companyId) { %>
        <th class="fte-masterEntry-demand fte-masterEntry-total-demand-company fte-count-container" data-key="demand:<%- companyId %>" data-companyId="<%- companyId %>">
          <% if (editable) { %>
          <input
            class="form-control no-controls fte-masterEntry-count"
            type="number"
            min="0"
            max="9999"
            value="<%- demand.totalByCompany[companyId] || '' %>"
            data-kind="demand"
            data-value="<%- demand.totalByCompany[companyId] %>"
            data-companyId="<%- companyId %>">
          <% } else { %>
          <span class="fte-count"><%- round(demand.totalByCompany[companyId]) %></span>
          <% } %>
        </th>
        <% }) %>
        <th class="fte-masterEntry-shortage fte-masterEntry-total-shortage"><%- round(shortage.overallTotal) %></th>
        <% _.forEach(companies, function(companyName, companyId) { %>
        <th class="fte-masterEntry-shortage fte-masterEntry-total-shortage-company" data-companyId="<%- companyId %>">
          <%- round(shortage.totalByCompany[companyId]) %>
        </th>
        <% }) %>
        <% } %>

        <% Object.keys(supply.totalByCompany).forEach(function(companyId) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-total-company" data-companyId="<%- companyId %>">
          <%- round(supply.totalByCompany[companyId].total) %>
        </th>
        <% }) %>
        <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId, functionIndex) { %>
        <% Object.keys(supply.totalByProdFunction[prodFunctionId].companies).forEach(function(companyId, companyIndex) { %>
        <th class="fte-masterEntry-supply fte-masterEntry-total-prodFunction-company" data-functionId="<%- prodFunctionId %>" data-companyId="<%- companyId %>" data-column="<%- functionIndex %>:<%- companyIndex %>">
          <%- round(supply.totalByProdFunction[prodFunctionId].companies[companyId]) %>
        </th>
        <% }) %>
        <% }) %>
      </tr>
      </thead>
      <tbody>
      <% tasks.forEach(function(task, taskIndex) { %>
      <% if (!changing && !editable && (task.noPlan || !task.total)) return %>
      <tr data-task-index="<%- taskIndex %>" style="display: <%- !changing && task.noPlan ? 'none': 'table-row' %>">
        <td class="fte-masterEntry-cell-task" colspan="<%- 1 + (absence.available ? (demand.columnCount + shortage.columnCount) : 0) %>">
          <% if (task.type === 'prodFlow') { %>
          <span class="fte-masterEntry-cell-task-container">
            <span class="fte-masterEntry-cell-task-name"><%= task.name %></span>
            <span class="fte-masterEntry-cell-task-lines" title="<%= task.lines.title %>"><%= task.lines.label %></span>
          </span>
          <% } else { %>
          <em><%= task.name %></em>
          <% } %>
        </td>
        <% if (editable) { %>
        <td class="fte-masterEntry-noPlan-container even">
          <% if (task.absence) { %>
          &nbsp;
          <% } else { %>
          <% if (editable) { %>
          <input class="fte-masterEntry-noPlan" type="checkbox" data-taskId="<%- task.id %>" data-task="<%- taskIndex %>" <%- task.noPlan ? 'checked' : '' %>>
          <% } else { %>
          <i class="fa fa-<%- task.noPlan ? 'check' : 'times' %>"></i>
          <% } %>
          <% } %>
        </td>
        <% } %>
        <% Object.keys(task.totalByCompany).forEach(function(companyId, companyIndex) { %>
        <td class="fte-masterEntry-<%- task.absence ? 'shortage' : 'supply' %> fte-masterEntry-total-company-task" data-companyId="<%- companyId %>" data-companyIndex="<%- companyIndex %>">
          <%- round(task.totalByCompany[companyId]) %>
        </td>
        <% }) %>
        <% task.functions.forEach(function(prodFunction, functionIndex) { %>
        <% prodFunction.companies.forEach(function(company, companyIndex) { %>
        <td class="fte-masterEntry-<%- task.absence ? 'shortage' : 'supply' %> fte-count-container" data-key="<%- taskIndex %>:<%- functionIndex %>:<%- companyIndex %>">
          <% if (editable) { %>
          <input
            class="form-control no-controls fte-masterEntry-count"
            type="number"
            min="0"
            max="9999"
            value="<%- company.count || '' %>"
            data-kind="supply"
            data-value="<%- company.count %>"
            data-task="<%- taskIndex %>"
            data-function="<%- functionIndex %>"
            data-company="<%- companyIndex %>"
            data-functionId="<%- prodFunction.id %>"
            data-companyId="<%- company.id %>"
            <%- task.noPlan ? 'disabled' : '' %>>
          <% } else { %>
          <span class="fte-count"><%- round(company.count) %></span>
          <% } %>
        </td>
        <% }) %>
        <% }) %>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-primary fte-masterEntry-absence">
    <div class="panel-heading"><%- t('fte', 'masterEntry:absencePanel:title' + (editable ? ':editable': '')) %></div>
    <% if (editable) { %>
    <div class="fte-masterEntry-absence-userFinder-container">
      <input class="fte-masterEntry-absence-userFinder" type="text" autocomplete="new-password">
    </div>
    <% } %>
    <table class="table table-bordered table-condensed table-hover fte-masterEntry-absence">
      <thead>
      <tr>
        <th><%- t('users', 'PROPERTY:personellId') %>
        <th><%- t('users', 'PROPERTY:name') %>
        <% if (editable) { %>
        <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
        <% } %>
      </tr>
      </thead>
      <tbody class="fte-masterEntry-absence-noEntries">
      <tr>
        <td colspan="3"><%- t('core', 'LIST:NO_DATA') %>
      <tbody class="fte-masterEntry-absence-entries">
      <% absentUsers.forEach(function(absentUser) { %>
      <%- renderAbsentUserRow({absentUser: absentUser, editable: editable}) %>
      <% }) %>
    </table>
  </div>
</div>
