<table class="table table-bordered table-condensed fte-masterEntry fte-masterEntry-print">
  <thead>
  <tr>
    <th class="fte-masterEntry-column-task"><%- t('fte', 'masterEntry:column:task') %>
    <th colspan="<%- companyCount %>"><%- t('fte', 'masterEntry:column:total') %></th>
    <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId) { %>
    <th colspan="<%- Object.keys(supply.totalByProdFunction[prodFunctionId].companies).length %>"><%- supply.totalByProdFunction[prodFunctionId].name %></th>
    <% }) %>
  <tr>
    <th>
    <% Object.keys(supply.totalByCompany).forEach(function(companyId) { %>
    <th><%- supply.totalByCompany[companyId].name %>
    <% }) %>
    <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId) { %>
    <% Object.keys(supply.totalByProdFunction[prodFunctionId].companies).forEach(function(companyId) { %>
    <th><%= supply.totalByCompany[companyId].name %>
    <% }) %>
    <% }) %>
  </thead>
  <tbody>
  <tr>
    <th>
    <th colspan="<%- companyCount %>"><%- round(supply.overallTotal) %>
    <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId) { %>
    <th colspan="<%- Object.keys(supply.totalByProdFunction[prodFunctionId].companies).length %>"><%- round(supply.totalByProdFunction[prodFunctionId].total) %>
    <% }) %>
  <tr>
    <th>
    <% Object.keys(supply.totalByCompany).forEach(function(companyId) { %>
    <th><%- round(supply.totalByCompany[companyId].total) %>
    <% }) %>
    <% Object.keys(supply.totalByProdFunction).forEach(function(prodFunctionId) { %>
    <% Object.keys(supply.totalByProdFunction[prodFunctionId].companies).forEach(function(companyId) { %>
    <th><%- round(supply.totalByProdFunction[prodFunctionId].companies[companyId]) %>
    <% }) %>
    <% }) %>
  <% tasks.forEach(function(task) { %>
  <% if (task.noPlan || !task.total) return %>
  <tr>
    <td class="fte-masterEntry-cell-task">
      <% if (task.type === 'prodFlow') { %>
      <%= task.name %>
      <% } else { %>
      <em><%= task.name %></em>
      <% } %>
    <% Object.keys(task.totalByCompany).forEach(function(companyId) { %>
    <td><%- round(task.totalByCompany[companyId]) %></td>
    <% }) %>
    <% task.functions.forEach(function(prodFunction) { %>
    <% prodFunction.companies.forEach(function(company) { %>
    <td><%- round(company.count) %>
    <% }) %>
    <% }) %>
  <% }) %>
</table>
