<form class="settings fte-settings">
  <div class="list-group">
    <a class="list-group-item" href="#fte;settings?tab=general" data-tab="general"><%- t('fte', 'settings:tab:general') %></a>
    <a class="list-group-item" href="#fte;settings?tab=structure" data-tab="structure"><%- t('fte', 'settings:tab:structure') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="general">
      <div class="form-group">
        <label for="<%- idPrefix %>-general-absenceTasks" class="control-label"><%- t('fte', 'settings:general:absenceTasks') %></label>
        <input id="<%- idPrefix %>-general-absenceTasks" name="fte.absenceTasks" type="text" autocomplete="new-password" data-setting>
      </div>
    </div>
    <div class="panel-body" data-tab="structure">
      <div class="form-group">
        <input id="<%- idPrefix %>-structure-subdivision" type="text" autocomplete="new-password">
      </div>
      <table class="table table-condensed table-with-tfoot">
        <thead>
        <tr>
          <th class="is-min"><%- t('core', '#') %></th>
          <th class="is-min"><%- t('fte', 'settings:structure:prodFunction') %></th>
          <th><%- t('fte', 'settings:structure:companies') %></th>
          <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="4"><input id="<%- idPrefix %>-structure-prodFunction" type="text" autocomplete="new-password"></td>
        </tr>
        </tfoot>
        <tbody id="<%- idPrefix %>-structure"></tbody>
      </table>
    </div>
  </div>
</form>
