<form class="settings planning-settings" autocomplete="off">
  <div class="list-group">
    <a class="list-group-item" href="#wh/settings?tab=planning" data-tab="planning" data-privileges="WH:MANAGE"><%- t('settings:tab:planning') %></a>
    <a class="list-group-item" href="#wh/settings?tab=pickup" data-tab="pickup" data-privileges="WH:MANAGE"><%- t('settings:tab:pickup') %></a>
    <a class="list-group-item" href="#wh/settings?tab=delivery" data-tab="delivery" data-privileges="WH:MANAGE"><%- t('settings:tab:delivery') %></a>
    <a class="list-group-item" href="#wh/settings?tab=users" data-tab="users" data-privileges="WH:MANAGE:USERS"><%- t('settings:tab:users') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="planning">
      <%- helpers.formGroup({
        name: 'wh.planning.groupDuration',
        label: 'settings:',
        type: 'number', min: 1, max: 24
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.groupExtraItems',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 0, max: 100
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.ignoredMrps',
        label: 'settings:',
        helpBlock: true,
        type: 'select2', rows: 6,
        inputAttrs: {
          'data-setting': null
        }
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.enabledMrps',
        label: 'settings:',
        helpBlock: true,
        type: 'select2', rows: 6,
        inputAttrs: {
          'data-setting': null
        }
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.lineGroups',
        label: 'settings:',
        helpBlock: true,
        type: 'textarea', rows: 6,
        inputClassName: 'text-fixed',
        inputAttrs: {
          'data-keyup-delay': 10000
        }
      }) %>
    </div>
    <div class="panel-body" data-tab="pickup">
      <div class="form-group">
        <label class="control-label"><%- t('settings:wh.planning.ignorePsStatus') %></label>
        <span class="help-block" style="margin-bottom: 0"><%- t('settings:wh.planning.ignorePsStatus:help') %></span>
        <div class="checkbox" style="margin-top: 5px">
          <label>
            <input type="checkbox" disabled>
            <%- t('planning', 'orders:psStatus:unknown') %>
          </label>
        </div>
        <% ['new', 'aside', 'started', 'startedMsp', 'partial', 'finished', 'cancelled'].forEach(function(psStatus) { %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="wh.planning.ignorePsStatus[]" value="<%- psStatus %>">
            <%- t('planning', 'orders:psStatus:' + psStatus) %>
          </label>
        </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('settings:wh.planning.psPickupStatus') %></label>
        <span class="help-block" style="display: block; margin-bottom: -5px"><%- t('settings:wh.planning.psPickupStatus:help') %></span>
        <% ['new', 'aside', 'started', 'startedMsp', 'partial', 'finished', 'cancelled'].forEach(function(psStatus) { %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="wh.planning.psPickupStatus[]" value="<%- psStatus %>">
            <%- t('planning', 'orders:psStatus:' + psStatus) %>
          </label>
        </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('settings:wh.planning.psPickupReadyFuncs') %></label>
        <span class="help-block" style="display: block; margin-bottom: -5px"><%- t('settings:wh.planning.psPickupReadyFuncs:help') %></span>
        <% ['fmx', 'kitter', 'platformer', 'packer'].forEach(function(func) { %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="wh.planning.psPickupReadyFuncs[]" value="<%- func %>">
              <%- t('func:' + func) %>
            </label>
          </div>
        <% }) %>
      </div>
      <%- helpers.formGroup({
        name: 'wh.planning.maxSetSize',
        label: 'settings:',
        type: 'number', min: 1, max: 20
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.minSetDuration',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 600
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxSetDuration',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 600
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxSetDifference',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 600
      }) %>
      <div class="checkbox">
        <label class="control-label">
          <input name="wh.planning.pendingOnly" type="checkbox" value="true">
          <%- t('settings:wh.planning.pendingOnly') %>
        </label>
        <span class="help-block" style="margin-bottom: 0"><%- t('settings:wh.planning.pendingOnly:help') %></span>
      </div>
      <%- helpers.formGroup({
        name: 'wh.planning.maxSetsPerLine',
        label: 'settings:',
        type: 'number', min: 1, max: 100
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.availableTimeThreshold',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 0, max: 1440
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.minPickupDowntime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 28800
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxPickupDowntime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 1440
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.unassignSetDelay',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 0, max: 475
      }) %>
    </div>
    <div class="panel-body" data-tab="delivery">
      <div class="form-group">
        <label for="<%- id('wh-planning-deliveryFuncs') %>" style="display: block; margin-bottom: -5px"><%- t('settings:wh.planning.deliveryFuncs') %></label>
        <% ['fmx', 'kitter', 'platformer', 'packer', 'painter', 'dist-components', 'dist-packaging'].forEach(function(func) { %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="wh.planning.deliveryFuncs[]" value="<%- func %>">
            <%- t('func:' + func) %>
          </label>
        </div>
        <% }) %>
      </div>
      <%- helpers.formGroup({
        name: 'wh.planning.minTimeForDelivery',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 480
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.lateDeliveryTime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 480
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxDeliveryStartTime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 10080
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxFifoCartsPerDelivery',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 100
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxPackCartsPerDelivery',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 100
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.minDeliveryDowntime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 28800
      }) %>
      <%- helpers.formGroup({
        name: 'wh.planning.maxDeliveryDowntime',
        label: 'settings:',
        helpBlock: true,
        type: 'number', min: 1, max: 1440
      }) %>
    </div>
    <div class="panel-body" data-tab="users">
      <% ['fmx', 'kitter', 'platformer', 'packer', 'painter', 'dist-components', 'dist-packaging'].forEach(function(func) { %>
      <div class="form-group">
        <label><%- t('func:' + func) %></label>
        <input type="text" autocomplete="new-password" data-user-func="<%- func %>">
      </div>
      <% }) %>
    </div>
  </div>
</form>
