<form class="settings planning-settings" autocomplete="off">
  <div class="list-group">
    <a class="list-group-item" href="#wh/settings?tab=planning" data-tab="planning" data-privileges="WH:MANAGE"><%- t('settings:tab:planning') %></a>
    <a class="list-group-item" href="#wh/settings?tab=pickup" data-tab="pickup" data-privileges="WH:MANAGE"><%- t('settings:tab:pickup') %></a>
    <a class="list-group-item" href="#wh/settings?tab=delivery" data-tab="delivery" data-privileges="WH:MANAGE"><%- t('settings:tab:delivery') %></a>
    <a class="list-group-item" href="#wh/settings?tab=users" data-tab="users" data-privileges="WH:MANAGE:USERS"><%- t('settings:tab:users') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="planning">
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-groupDuration"><%- t('settings:planning:groupDuration') %></label>
        <input id="<%- idPrefix %>-planning-groupDuration" class="form-control" name="wh.planning.groupDuration" type="number" step="1" min="1" max="24">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-groupExtraItems"><%- t('settings:planning:groupExtraItems') %></label>
        <span class="help-block"><%- t('settings:planning:groupExtraItems:help') %></span>
        <input id="<%- idPrefix %>-planning-groupExtraItems" class="form-control" name="wh.planning.groupExtraItems" type="number" step="1" min="0" max="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-ignoredMrps"><%- t('settings:planning:ignoredMrps') %></label>
        <span class="help-block"><%- t('settings:planning:ignoredMrps:help') %></span>
        <input id="<%- idPrefix %>-planning-ignoredMrps" name="wh.planning.ignoredMrps" type="text" autocomplete="new-password" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-enabledMrps"><%- t('settings:planning:enabledMrps') %></label>
        <span class="help-block"><%- t('settings:planning:enabledMrps:help') %></span>
        <input id="<%- idPrefix %>-planning-enabledMrps" name="wh.planning.enabledMrps" type="text" autocomplete="new-password" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-lineGroups"><%- t('settings:planning:lineGroups') %></label>
        <span class="help-block"><%- t('settings:planning:lineGroups:help') %></span>
        <textarea id="<%- idPrefix %>-planning-lineGroups" name="wh.planning.lineGroups" class="form-control text-fixed" rows="6" data-keyup-delay="10000"></textarea>
      </div>
    </div>
    <div class="panel-body" data-tab="pickup">
      <div class="checkbox">
        <label class="control-label">
          <input id="<%- idPrefix %>-planning-ignorePsStatus" name="wh.planning.ignorePsStatus" type="checkbox" value="true">
          <%- t('settings:planning:ignorePsStatus') %>
        </label>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxSetSize"><%- t('settings:planning:maxSetSize') %></label>
        <input id="<%- idPrefix %>-planning-maxSetSize" class="form-control" name="wh.planning.maxSetSize" type="number" step="1" min="1" max="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-minSetDuration"><%- t('settings:planning:minSetDuration') %></label>
        <span class="help-block"><%- t('settings:planning:minSetDuration:help') %></span>
        <input id="<%- idPrefix %>-planning-minSetDuration" class="form-control" name="wh.planning.minSetDuration" type="number" step="1" min="1" max="600">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxSetDuration"><%- t('settings:planning:maxSetDuration') %></label>
        <span class="help-block"><%- t('settings:planning:maxSetDuration:help') %></span>
        <input id="<%- idPrefix %>-planning-maxSetDuration" class="form-control" name="wh.planning.maxSetDuration" type="number" step="1" min="1" max="600">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxSetDifference"><%- t('settings:planning:maxSetDifference') %></label>
        <span class="help-block"><%- t('settings:planning:maxSetDifference:help') %></span>
        <input id="<%- idPrefix %>-planning-maxSetDifference" class="form-control" name="wh.planning.maxSetDifference" type="number" step="1" min="1" max="600">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxSetsPerLine"><%- t('settings:planning:maxSetsPerLine') %></label>
        <input id="<%- idPrefix %>-planning-maxSetsPerLine" class="form-control" name="wh.planning.maxSetsPerLine" type="number" step="1" min="0" max="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-availableTimeThreshold"><%- t('settings:planning:availableTimeThreshold') %></label>
        <input id="<%- idPrefix %>-planning-availableTimeThreshold" class="form-control" name="wh.planning.availableTimeThreshold" type="number" step="1" min="0" max="1440">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-minPickupDowntime"><%- t('settings:planning:minPickupDowntime') %></label>
        <span class="help-block"><%- t('settings:planning:minPickupDowntime:help') %></span>
        <input id="<%- idPrefix %>-planning-minPickupDowntime" class="form-control" name="wh.planning.minPickupDowntime" type="number" step="1" min="1" max="28800">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxPickupDowntime"><%- t('settings:planning:maxPickupDowntime') %></label>
        <span class="help-block"><%- t('settings:planning:maxPickupDowntime:help') %></span>
        <input id="<%- idPrefix %>-planning-maxPickupDowntime" class="form-control" name="wh.planning.maxPickupDowntime" type="number" step="1" min="1" max="1440">
      </div>
    </div>
    <div class="panel-body" data-tab="delivery">
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-minTimeForDelivery"><%- t('settings:planning:minTimeForDelivery') %></label>
        <span class="help-block"><%- t('settings:planning:minTimeForDelivery:help') %></span>
        <input id="<%- idPrefix %>-planning-minTimeForDelivery" class="form-control" name="wh.planning.minTimeForDelivery" type="number" step="1" min="1" max="480">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-lateDeliveryTime"><%- t('settings:planning:lateDeliveryTime') %></label>
        <span class="help-block"><%- t('settings:planning:lateDeliveryTime:help') %></span>
        <input id="<%- idPrefix %>-planning-lateDeliveryTime" class="form-control" name="wh.planning.lateDeliveryTime" type="number" step="1" min="1" max="480">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxDeliveryStartTime"><%- t('settings:planning:maxDeliveryStartTime') %></label>
        <span class="help-block"><%- t('settings:planning:maxDeliveryStartTime:help') %></span>
        <input id="<%- idPrefix %>-planning-maxDeliveryStartTime" class="form-control" name="wh.planning.maxDeliveryStartTime" type="number" step="1" min="1">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxSetCartsPerDelivery"><%- t('settings:planning:maxSetCartsPerDelivery') %></label>
        <span class="help-block"><%- t('settings:planning:maxSetCartsPerDelivery:help') %></span>
        <input id="<%- idPrefix %>-planning-maxSetCartsPerDelivery" class="form-control" name="wh.planning.maxSetCartsPerDelivery" type="number" step="1" min="1" max="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-minDeliveryDowntime"><%- t('settings:planning:minDeliveryDowntime') %></label>
        <span class="help-block"><%- t('settings:planning:minDeliveryDowntime:help') %></span>
        <input id="<%- idPrefix %>-planning-minDeliveryDowntime" class="form-control" name="wh.planning.minDeliveryDowntime" type="number" step="1" min="1" max="28800">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-planning-maxDeliveryDowntime"><%- t('settings:planning:maxDeliveryDowntime') %></label>
        <span class="help-block"><%- t('settings:planning:maxDeliveryDowntime:help') %></span>
        <input id="<%- idPrefix %>-planning-maxDeliveryDowntime" class="form-control" name="wh.planning.maxDeliveryDowntime" type="number" step="1" min="1" max="1440">
      </div>
    </div>
    <div class="panel-body" data-tab="users">
      <% ['fmx', 'kitter', 'platformer', 'packer', 'dist-components', 'dist-packaging'].forEach(function(func) { %>
      <div class="form-group">
        <label><%- t('func:' + func) %></label>
        <input type="text" autocomplete="new-password" data-user-func="<%- func %>">
      </div>
      <% }) %>
    </div>
  </div>
</form>
