<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('prodTasks', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('prodTasks', 'PROPERTY:name') %></div>
        <div class="prop-value"><%= model.name %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('prodTasks', 'PROPERTY:tags') %></div>
        <div class="prop-value"><%= model.tags.length ? model.tags.join(', ') : '-' %></div>
      </div>
    </div>
  </div>
</div>
