<form class="prodTasks-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label"><%- t('prodTasks', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" value="" autofocus required maxlength="150">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-aors" class="control-label"><%- t('prodTasks', 'PROPERTY:aors') %></label>
        <select id="<%- idPrefix %>-aors" name="aors[]" multiple data-placeholder="<%- t('prodTasks', 'FORM:PLACEHOLDER:aors') %>">
          <% aors.forEach(function(aor) { %>
          <option value="<%= aor._id %>"><%= aor.name %>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
