<div class="list is-colored wh-lines-list">
  <div class="table-responsive">
    <table class="table <%- tableClassName %>">
      <thead>
      <tr>
        <th class="is-min wh-lines-group-start" rowspan="2"><%- t('PROPERTY:_id') %></th>
        <th class="is-min wh-lines-group-start" colspan="3"><%- t('PROPERTY:pickup:started') %></th>
        <th class="is-min wh-lines-group-start" colspan="3"><%- t('PROPERTY:pickup:finished') %></th>
        <th class="is-min wh-lines-group-start" colspan="2"><%- t('PROPERTY:available') %></th>
        <th class="is-min" rowspan="2"><%- t('PROPERTY:redirLine') %></th>
        <th class="is-min" rowspan="2"><%- t('PROPERTY:working') %></th>
        <th class="is-min" rowspan="2"><%- t('PROPERTY:planned') %></th>
        <th class="is-min" rowspan="2" style="line-height: 1.2"><%- t('LIST:COLUMN:nextShiftAt') %></th>
        <th class="is-min" rowspan="2"><%- t('LIST:COLUMN:startedPlan') %></th>
        <th rowspan="2"><%- t('PROPERTY:mrps') %></th>
      </tr>
      <tr>
        <td class="is-min text-center"><%- t('PROPERTY:sets') %></td>
        <td class="is-min text-center"><%- t('PROPERTY:qty') %></td>
        <td class="is-min text-center wh-lines-group-start"><%- t('PROPERTY:time') %></td>
        <td class="is-min text-center"><%- t('PROPERTY:sets') %></td>
        <td class="is-min text-center"><%- t('PROPERTY:qty') %></td>
        <td class="is-min text-center wh-lines-group-start"><%- t('PROPERTY:time') %></td>
        <td class="is-min text-center"><%- t('PROPERTY:qty') %></td>
        <td class="is-min text-center wh-lines-group-start"><%- t('PROPERTY:time') %></td>
      </tr>
      </thead>
      <tbody>
        <% rows.forEach(function(row) { %>
        <%- renderRow({row: row, canManage: canManage}) %>
        <% }) %>
        <tr id="<%- id('details-outer') %>" class="wh-lines-details hidden">
          <td id="<%- id('details-inner') %>" colspan="14">?</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container"></div>
</div>
