<div class="list">
  <div class="table-responsive">
    <table class="table <%- tableClassName %>">
      <thead>
      <tr>
        <th class="is-min" rowspan="2"><%- t('PROPERTY:_id') %></th>
        <th class="is-min" colspan="3"><%- t('PROPERTY:pickup') %></th>
        <th class="is-min" colspan="2"><%- t('PROPERTY:components') %></th>
        <th class="is-min" rowspan="2"><%- t('PROPERTY:redirLine') %></th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <td class="is-min"><%- t('PROPERTY:sets') %></td>
        <td class="is-min"><%- t('PROPERTY:qty') %></td>
        <td class="is-min"><%- t('PROPERTY:time') %></td>
        <td class="is-min"><%- t('PROPERTY:qty') %></td>
        <td class="is-min"><%- t('PROPERTY:time') %></td>
      </tr>
      </thead>
      <tbody>
        <% if (!rows.length) { %>
        <tr>
          <td colspan="8"><%- noData %></td>
        </tr>
        <% } %>
        <% rows.forEach(function(row) { %>
        <%- renderRow({row: row}) %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="pagination-container"></div>
</div>
