<tr class="list-item" data-id="<%= row._id %>">
  <td class="is-min text-fixed"><%= row._id %></td>
  <td class="is-min is-number"><%- row.pickup.sets.toLocaleString() %></td>
  <td class="is-min is-number"><%- row.pickup.qty.toLocaleString() %></td>
  <td class="is-min is-number"><%- time.toString(row.pickup.time / 1000, true, false) %></td>
  <td class="is-min is-number">
    <a href="#wh/deliveredOrders?line=<%= row._id %>&status=in=(todo,blocked)&sort(date,set,startTime)&limit(-1337)">
      <%- row.components.qty.toLocaleString() %>
    </a>
  </td>
  <td class="is-min is-number">
    <a href="#wh/deliveredOrders?line=<%= row._id %>&status=in=(todo,blocked)&sort(date,set,startTime)&limit(-1337)">
      <%- time.toString(row.components.time / 1000, true, false) %>
    </a>
  </td>
  <td class="is-min text-fixed" data-id="redirLine">
    <% if (canManage) { %>
    <% if (row.redirLine) { %>
    <a href="javascript:void(0)" data-action="redirLine" title="<%- t('redirLine:stop') %>" style="display: block"><i class="fa fa-arrow-right"></i><span><%= row.redirLine %></span></a>
    <% } else { %>
    <a href="javascript:void(0)" data-action="redirLine" title="<%- t('redirLine:start') %>" style="display: block"><i class="fa fa-plus"></i></a>
    <% } %>
    <% } else { %>
    <%= row.redirLine || '' %>
    <% } %>
  </td>
  <td class="is-min text-center">
    <% if (row.working) { %>
    <i class="fa fa-check"></i>
    <% } %>
  </td>
  <td class="is-min"><%- row.nextShiftAt %></td>
  <td class="is-min">
    <% if(canManage) { %>
    <a href="javascript:void(0)" data-action="editStartedPlan" title="<%- t('editStartedPlan:tooltip') %>" style="display: block; text-align: right"><span style="margin-right: 7px"><%- row.startedPlan %></span><i class="fa fa-edit"></i></a>
    <% } else { %>
    <%- row.startedPlan %>
    <% } %>
  </td>
  <td></td>
</tr>
