<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    type: 'date+time',
    startHour: 6,
    property: 'time',
    required: true,
    labels: [{text: t('PROPERTY:time'), ranges: '+shifts'}]
  }) %>
  <div class="form-group">
    <label for="<%- id('line') %>"><%- t('PROPERTY:_id') %></label>
    <input id="<%- id('line') %>" name="line" type="text" autocomplete="new-password">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('core', 'filter:submit') %></span></button>
  </div>
</form>
