<li class="list-group-item list-group-item-<%- className %> xiconf-hidLamps-hidLamp">
  <div class="xiconf-hidLamps-status"><i class="fa <%- statusIcon %>"></i></div>
  <div class="xiconf-hidLamps-scanResult" title="<%= fullScanResult %>"><%- shortScanResult %></div>
  <div class="xiconf-hidLamps-info" title="<%= name %>">
    <span class="xiconf-hidLamps-name"><%= name %></span>
    <span class="xiconf-hidLamps-nc12"><%= nc12 %></span>
  </div>
  <div class="xiconf-hidLamps-error"><%- error %></div>
</li>
