<%
  var r = 0;
  var g = 0;
  var b = 0;
  var matches = color.match(/^#([a-fA-F0-9]{3,6})$/);

  if (matches)
  {
    var hex = matches[1];

    if (hex.length === 3)
    {
      r = hex.substr(0, 1);
      g = hex.substr(1, 1);
      b = hex.substr(2, 1);
      r += r;
      g += g;
      b += b;
    }
    else
    {
      r = hex.substr(0, 2);
      g = hex.substr(2, 2);
      b = hex.substr(4, 2);
    }

    r = parseInt(r, 16);
    g = parseInt(g, 16);
    b = parseInt(b, 16);
  }

  var contrast = (1 - (0.299 * r + 0.587 * g + 0.114 * b) / 255) < 0.3;
%>
<span class="label color <%- contrast ? 'is-contrast' : '' %> <%- typeof className === 'string' ? className : '' %>" style="background-color: <%- color %>" title="<%= typeof title === 'string' ? title : '' %>"><%= typeof label === 'string' ? label : color %></span>
