<div class="well">
  <p><%- message %></p>
  <% if (notify) { %>
  <hr style="margin: 0 0 10px 0">
  <form>
    <textarea id="<%- id('comment') %>" class="form-control" rows="3" required placeholder="<%- t('core', 'ERROR:notify:placeholder') %>"></textarea>
    <button id="<%- id('notify') %>" type="submit" class="btn btn-default" style="margin-top: -1px">
      <i class="fa fa-envelope"></i><span><%- t('core', 'ERROR:notify:message') %></span>
    </button>
  </form>
  <% } %>
</div>
