<div class="navbar-inner">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only"><%- t('core', 'NAVBAR:TOGGLE') %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand fa fa-cogs" href="#"></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <li data-online data-privilege="EVENTS:VIEW"><a href="#events"><%- t('core', 'NAVBAR:EVENTS') %></a>
      <li data-online data-privilege="ORDERS:VIEW"><a href="#orders"><%- t('core', 'NAVBAR:ORDERS') %></a>
      <li data-online data-privilege="ORDERS:VIEW"><a href="#emptyOrders"><%- t('core', 'NAVBAR:EMPTY_ORDERS') %></a>
      <li data-online data-privilege="LINES:VIEW"><a href="#lines"><%- t('core', 'NAVBAR:LINES') %></a>
      <li data-online data-privilege="USERS:VIEW"><a href="#users"><%- t('core', 'NAVBAR:USERS') %></a>
      <li data-online data-privilege="DICTIONARIES:VIEW" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <%- t('core', 'NAVBAR:DICTIONARIES') %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li data-online><a href="#orderStatuses"><%- t('core', 'NAVBAR:ORDER_STATUSES') %></a>
          <li data-online><a href="#downtimeReasons"><%- t('core', 'NAVBAR:DOWNTIME_REASONS') %></a>
          <li data-online><a href="#aors"><%- t('core', 'NAVBAR:AORS') %></a>
          <li data-online><a href="#workCenters"><%- t('core', 'NAVBAR:WORK_CENTERS') %></a>
        </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-account-dropdown">
        <a href="#account" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user fa-lg navbar-account-status"></i>
          <%- user.data.name || user.data.login %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li data-online><a href="#users/<%- user.data._id %>"><%- t('core', 'NAVBAR:MY_ACCOUNT') %></a>
          <li class="divider">
          <li class="dropdown-header"><%- t('core', 'NAVBAR:UI_LOCALE') %>
          <li><a class="navbar-account-locale" href="#" data-locale="pl"><%- t('core', 'NAVBAR:LOCALE_PL') %></a>
          <li><a class="navbar-account-locale" href="#" data-locale="en"><%- t('core', 'NAVBAR:LOCALE_US') %></a>
          <li class="divider">
          <li data-loggedin="false"><a class="navbar-account-logIn" href="#login"><%- t('core', 'NAVBAR:LOG_IN') %></a>
          <li data-loggedin><a class="navbar-account-logOut" href="/logout"><%- t('core', 'NAVBAR:LOG_OUT') %></a>
        </ul>
      </li>
    </ul>
  </div>
</div>
