<% if (formGroup) { %>
<div class="form-group <%- hidden ? 'hidden' : '' %>" data-filter="<%- property %>">
<% } %>
<div id="<%- idPrefix %>-dateTimeRange-<%- property %>" class="dateTimeRange" data-property="<%- property %>" data-utc="<%- utc %>" data-set-time="<%- setTime %>" data-type="<%- type %>" data-start-hour="<%- startHour %>" data-shift-length="<%- shiftLength %>">
  <div class="dateTimeRange-labels">
    <% labels.forEach(function(label) { %>
    <div class="dateTimeRange-label <%- label.dropdown || label.ranges ? 'dropdown' : '' %> <%- label.input ? 'dateTimeRange-is-input' : '' %>">
      <label
        class="control-label <%- label.dropdown || label.ranges ? 'dropdown-toggle' : '' %>"
        <%- label.dropdown || label.ranges ? 'data-toggle="dropdown"' : '' %>
        <% if (label.input) { %>for="<%- idPrefix %>-<%- label.input.name %>-<%- label.input.value %>"<% } %>
      >
        <% if (label.input) { %>
        <input id="<%- idPrefix %>-<%- label.input.name %>-<%- label.input.value %>" class="dateTimeRange-label-input" type="<%- label.input.type %>" name="<%- label.input.name %>" value="<%- label.input.value %>">
        <% } %>
        <%- label.text %>
        <% if (label.dropdown || label.ranges) { %><span class="caret"></span><% } %>
      </label>
      <% if (label.ranges) { %>
      <table class="dropdown-menu dateTimeRange-ranges">
        <% Object.keys(label.ranges).forEach(function(group) { %>
        <tr>
          <th><%- t('core', 'dateTimeRange:' + group) %></th>
          <% label.ranges[group].forEach(function(range) { %>
          <td>
            <% if (range) { %>
            <a href="javascript:void(0)" data-date-time-group="<%- group %>" data-date-time-range="<%- range %>">
              <% if (t.has('core', 'dateTimeRange:' + group + ':' + range)) { %>
              <%- t('core', 'dateTimeRange:' + group + ':' + range) %>
              <% } else if (t.has('core', 'dateTimeRange:' + range)) { %>
              <%- t('core', 'dateTimeRange:' + range) %>
              <% } else { %>
              <%- range %>
              <% } %>
            </a>
            <% } %>
          </td>
          <% }) %>
        </tr>
        <% }) %>
        <tr>
          <td colspan="999" class="dateTimeRange-help"><%- t('core', 'dateTimeRange:help') %></td>
        </tr>
      </table>
      <% } else if (label.dropdown) { %>
      <ul class="dropdown-menu">
        <% label.dropdown.forEach(function(item) { %>
        <li><a <%- item.attrs %>><%- item.text %></a></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
    <% }) %>
  </div>
  <div class="dateTimeRange-fields">
    <div class="dateTimeRange-field dateTimeRange-from">
      <% if (/date|month/.test(type)) { %>
        <input id="<%- idPrefix %>-from-date" name="from-date" class="form-control" type="<%- /month/.test(type) ? 'month' : 'date' %>" placeholder="<%- t('core', 'dateTimeRange:placeholder:date') %>" min="<%- minDate %>" max="<%- maxDate %>" <%- required.date ? 'required' : '' %>>
      <% } %>
      <% if (/time/.test(type)) { %>
      <input id="<%- idPrefix %>-from-time" name="from-time" class="form-control" type="time" placeholder="<%- t('core', 'dateTimeRange:placeholder:time') %>" <%- required.time ? 'required' : '' %>>
      <% } %>
    </div>
    <div class="dateTimeRange-separator"><%- separator %></div>
    <div class="dateTimeRange-field dateTimeRange-to">
      <% if (/date|month/.test(type)) { %>
      <input id="<%- idPrefix %>-to-date" name="to-date" class="form-control" type="<%- /month/.test(type) ? 'month' : 'date' %>" placeholder="<%- t('core', 'dateTimeRange:placeholder:date') %>" min="<%- minDate %>" max="<%- maxDate %>" <%- required.date ? 'required' : '' %>>
      <% } %>
      <% if (/time/.test(type)) { %>
      <input id="<%- idPrefix %>-to-time" name="to-time" class="form-control" type="time" placeholder="<%- t('core', 'dateTimeRange:placeholder:time') %>" <%- required.time ? 'required' : '' %>>
      <% } %>
    </div>
  </div>
</div>
<% if (formGroup) { %>
</div>
<% } %>
