<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:DICTIONARIES') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="ORDERS:VIEW" data-module="orders"><a href="#mechOrders"><%- t('core', 'NAVBAR:MECH_ORDERS') %></a>
    <li data-privilege="ORDERS:VIEW" data-module><a href="#orders"><%- t('core', 'NAVBAR:OTHER_ORDERS') %></a>
    <li data-privilege="ORDERS:VIEW" data-module="orders"><a href="#emptyOrders"><%- t('core', 'NAVBAR:EMPTY_ORDERS') %></a>
    <li data-privilege="ORDERS:VIEW" data-module="orders"><a href="#invalidOrders"><%- t('core', 'NAVBAR:INVALID_ORDERS') %></a>
    <li class="divider">
    <li data-privilege="USERS:VIEW" data-module><a href="#users"><%- t('core', 'NAVBAR:USERS') %></a>
    <li class="divider">
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#divisions"><%- t('core', 'NAVBAR:DIVISIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#subdivisions"><%- t('core', 'NAVBAR:SUBDIVISIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#mrpControllers"><%- t('core', 'NAVBAR:MRP_CONTROLLERS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodFlows"><%- t('core', 'NAVBAR:PROD_FLOWS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#workCenters"><%- t('core', 'NAVBAR:WORK_CENTERS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodLines"><%- t('core', 'NAVBAR:PROD_LINES') %></a>
    <li class="divider">
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#companies"><%- t('core', 'NAVBAR:COMPANIES') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodFunctions"><%- t('core', 'NAVBAR:PROD_FUNCTIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodTasks"><%- t('core', 'NAVBAR:PROD_TASKS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#orderStatuses"><%- t('core', 'NAVBAR:ORDER_STATUSES') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#delayReasons"><%- t('core', 'NAVBAR:DELAY_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#downtimeReasons"><%- t('core', 'NAVBAR:DOWNTIME_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#lossReasons"><%- t('core', 'NAVBAR:LOSS_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#aors"><%- t('core', 'NAVBAR:AORS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#isaPalletKinds"><%- t('core', 'NAVBAR:ISA_PALLET_KINDS') %></a>
    <li class="divider">
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#licenses"><%- t('core', 'NAVBAR:LICENSES') %></a>
  </ul>
