<li data-online data-loggedin class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:OPINION:main') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-module="opinionSurveys"><a href="/opinion" target="_blank"><%- t('core', 'NAVBAR:OPINION:current') %></a>
    <li data-module="opinionSurveys"><a href="#opinionSurveyReport"><%- t('core', 'NAVBAR:OPINION:report') %></a>
    <li data-module="opinionSurveys"><a href="#opinionSurveyActions"><%- t('core', 'NAVBAR:OPINION:actions') %></a>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyResponses"><%- t('core', 'NAVBAR:OPINION:responses') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:OPINION:scanning') %>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyScanTemplates"><%- t('core', 'NAVBAR:OPINION:scanTemplates') %></a>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyOmrResults"><%- t('core', 'NAVBAR:OPINION:omrResults') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:OPINION:dictionaries') %>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveys"><%- t('core', 'NAVBAR:OPINION:surveys') %></a>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyEmployers"><%- t('core', 'NAVBAR:OPINION:employers') %></a>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyDivisions"><%- t('core', 'NAVBAR:OPINION:divisions') %></a>
    <li data-privilege="OPINION_SURVEYS:MANAGE" data-module="opinionSurveys"><a href="#opinionSurveyQuestions"><%- t('core', 'NAVBAR:OPINION:questions') %></a>
  </ul>
