<li data-online data-privilege="XICONF:VIEW" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:PROGRAMMING') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:XICONF:RESULTS') %>
    <li data-module><a href="#xiconf/orders"><%- t('core', 'NAVBAR:XICONF:ORDERS') %></a>
    <li data-module><a href="#xiconf/results"><%- t('core', 'NAVBAR:XICONF:HISTORY') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:XICONF:DICTIONARIES') %>
    <li data-module><a href="#xiconf/clients"><%- t('core', 'NAVBAR:XICONF:CLIENTS') %></a>
    <li data-module><a href="#xiconf/programs"><%- t('core', 'NAVBAR:XICONF:PROGRAMS') %></a>
    <li data-module="xiconf"><a href="#snf/programs"><%- t('core', 'NAVBAR:SNF:PROGRAMS') %></a>
    <li data-module><a href="#xiconf/hidLamps"><%- t('core', 'NAVBAR:XICONF:HID_LAMPS') %></a>
    <li data-module><a href="#xiconf/componentWeights"><%- t('core', 'NAVBAR:XICONF:COMPONENT_WEIGHTS') %></a>
  </ul>
