<li data-online data-privilege="QI:RESULTS:VIEW FN:master FN:leader FN:manager FN:prod_whman" data-module="qi" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:QI:main') %>
    <span class="qi-counter hidden"><span class="qi-counter-actual">0</span>/<span class="qi-counter-required">0</span></span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:QI:results') %>
    <li><a href="#qi/results"><%- t('core', 'NAVBAR:QI:results:all') %></a>
    <li class="navbar-with-button"><a href="#qi/results;ok"><%- t('core', 'NAVBAR:QI:results:good') %></a><button class="btn btn-success" data-privilege="QI:INSPECTOR QI:MANAGE" data-href="#qi/results;add?ok"><i class="fa fa-plus"></i></button>
    <li class="navbar-with-button"><a href="#qi/results;nok"><%- t('core', 'NAVBAR:QI:results:bad') %></a><button class="btn btn-danger" data-privilege="QI:INSPECTOR QI:MANAGE" data-href="#qi/results;add?nok"><i class="fa fa-plus"></i></button>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:QI:reports') %>
    <li><a href="#qi/reports/count"><%- t('core', 'NAVBAR:QI:reports:count') %></a>
    <li><a href="#qi/reports/okRatio"><%- t('core', 'NAVBAR:QI:reports:okRatio') %></a>
    <li><a href="#qi/reports/nokRatio"><%- t('core', 'NAVBAR:QI:reports:nokRatio') %></a>
    <li><a href="#qi/reports/outgoingQuality"><%- t('core', 'NAVBAR:QI:reports:outgoingQuality') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:QI:dictionaries') %>
    <li data-privilege="QI:DICTIONARIES:VIEW"><a href="#qi/kinds"><%- t('core', 'NAVBAR:QI:kinds') %></a>
    <li data-privilege="QI:DICTIONARIES:VIEW"><a href="#qi/errorCategories"><%- t('core', 'NAVBAR:QI:errorCategories') %></a>
    <li data-privilege="QI:DICTIONARIES:VIEW"><a href="#qi/faults"><%- t('core', 'NAVBAR:QI:faults') %></a>
    <li data-privilege="QI:DICTIONARIES:VIEW"><a href="#qi/standards"><%- t('core', 'NAVBAR:QI:standards') %></a>
    <li data-privilege="QI:DICTIONARIES:VIEW"><a href="#qi/actionStatuses"><%- t('core', 'NAVBAR:QI:actionStatuses') %></a>
  </ul>
