<li class="dropdown" data-online>
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:REPORTS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="REPORTS:VIEW"><a href="#reports/1"><%- t('core', 'NAVBAR:REPORTS:1') %></a>
    <li data-privilege="REPORTS:VIEW"><a href="#reports/2"><%- t('core', 'NAVBAR:REPORTS:2') %></a>
    <li data-privilege="REPORTS:VIEW"><a href="#reports/3"><%- t('core', 'NAVBAR:REPORTS:3') %></a>
    <li data-privilege="REPORTS:VIEW"><a href="#reports/4"><%- t('core', 'NAVBAR:REPORTS:4') %></a>
    <li data-privilege="REPORTS:VIEW" class="divider">
    <li data-privilege="REPORTS:VIEW"><a href="#vis/structure"><%- t('core', 'NAVBAR:VIS:STRUCTURE') %></a>
  </ul>
