<li class="dropdown" data-online data-module="reports">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:REPORTS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="REPORTS:VIEW REPORTS:1:VIEW" data-module="production"><a href="#reports/1"><%- t('NAVBAR:REPORTS:1') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:2:VIEW" data-module="production"><a href="#reports/clip"><%- t('NAVBAR:REPORTS:clip') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:3:VIEW" data-module="production"><a href="#reports/3"><%- t('NAVBAR:REPORTS:3') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:4:VIEW" data-module="production"><a href="#reports/4"><%- t('NAVBAR:REPORTS:4') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:5:VIEW" data-module="production"><a href="#reports/5"><%- t('NAVBAR:REPORTS:5') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:6:VIEW" data-module="production"><a href="#reports/6"><%- t('NAVBAR:REPORTS:6') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:7:VIEW" data-module="production"><a href="#reports/7"><%- t('NAVBAR:REPORTS:7') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:8:VIEW" data-module="production"><a href="#reports/8"><%- t('NAVBAR:REPORTS:8') %></a>
    <li data-privilege="REPORTS:VIEW REPORTS:9:VIEW" data-module="production"><a href="#reports/9"><%- t('NAVBAR:REPORTS:9') %></a>
    <li class="divider">
    <li data-privilege="REPORTS:VIEW" data-module="vis"><a href="#vis/structure"><%- t('NAVBAR:VIS:STRUCTURE') %></a>
  </ul>
