<ul class="nav navbar-nav navbar-right">
  <li class="dropdown navbar-account-dropdown">
    <a href="#account" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user fa-lg navbar-account-status"></i>
      <%- user.getLabel() %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li data-online data-loggedin><a href="#users/<%- user.data._id %>"><%- t('NAVBAR:MY_ACCOUNT') %></a>
      <li class="divider">
      <li class="dropdown-header"><%- t('NAVBAR:UI_LOCALE') %>
      <li><a class="navbar-account-locale" href="#" data-locale="pl"><%- t('NAVBAR:LOCALE_PL') %></a>
      <li><a class="navbar-account-locale" href="#" data-locale="en"><%- t('NAVBAR:LOCALE_US') %></a>
      <li class="divider">
      <li data-online data-loggedin=0><a class="navbar-account-logIn" href="#login"><%- t('NAVBAR:LOG_IN') %></a>
      <li data-online data-loggedin><a class="navbar-account-logOut" href="/logout"><%- t('NAVBAR:LOG_OUT') %></a>
    </ul>
  </li>
</ul>
