<ul id="<%- idPrefix %>-searchResults" class="dropdown-menu navbar-search-results">
  <% if (results.from) { %>
  <li class="dropdown-header">
    <%- time.format(results.from, 'LL') %><!--
    //--><%- results.shift ? (', ' + t('core', 'SHIFT:' + results.shift)) : '' %><!--
    //--><%- results.division ? (', ' + results.division) : '' %>
  </li>
  <% if (user.isAllowedTo('PLANNING:VIEW')) { %>
  <li class="navbar-search-result"><a href="#planning/plans/<%- time.format(results.from, 'YYYY-MM-DD') %>"><%- t('core', 'NAVBAR:SEARCH:plan:prod') %></a></li>
  <li class="navbar-search-result"><a href="#planning/wh/<%- time.format(results.from, 'YYYY-MM-DD') %>"><%- t('core', 'NAVBAR:SEARCH:plan:wh') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PAINT_SHOP:VIEW')) { %>
  <li class="navbar-search-result"><a href="#paintShop/<%- time.format(results.from, 'YYYY-MM-DD') %>"><%- t('core', 'NAVBAR:SEARCH:plan:ps') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orders?limit(-1337)&scheduledStartDate>=<%- results.from %>&scheduledStartDate<=<%- results.to %>"><%- t('core', 'NAVBAR:SEARCH:sapOrdersStart') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('HOURLY_PLANS:VIEW')) { %>
  <% if (results.division) { %>
  <li class="navbar-search-result"><a href="#hourlyPlans/<%- results.fromShift %>/<%- results.division %>"><%- t('core', 'NAVBAR:SEARCH:hourlyPlan') %></a></li>
  <% } else { %>
  <li class="navbar-search-result"><a href="#hourlyPlans?limit(-1337)&date>=<%- results.fromShift %>&date<<%- results.toShift %>"><%- t('core', 'NAVBAR:SEARCH:hourlyPlans') %></a></li>
  <% } %>
  <% } %>
  <% if (user.isAllowedTo('FTE:MASTER:VIEW')) { %>
  <li class="navbar-search-result"><a href="#fte/master?limit(-1337)&date>=<%- results.fromShift %>&date<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:fte:master') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('FTE:WH:VIEW')) { %>
  <li class="navbar-search-result"><a href="#fte/wh?limit(-1337)&date>=<%- results.fromShift %>&date<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:fte:wh') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('FTE:LEADER:VIEW')) { %>
  <li class="navbar-search-result"><a href="#fte/leader?limit(-1337)&date>=<%- results.fromShift %>&date<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:fte:leader') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodShifts?sort(createdAt)&limit(-1337)&date>=<%- results.fromShift %>&date<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:prodShifts') %></a></li>
  <li class="navbar-search-result"><a href="#prodShiftOrders?sort(startedAt)&limit(-1337)&startedAt>=<%- results.fromShift %>&startedAt<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:prodShiftOrdersList') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW', 'PROD_DOWNTIMES:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodDowntimes?sort(startedAt)&limit(-1337)&startedAt>=<%- results.fromShift %>&startedAt<<%- results.toShift %><%- results.shift ? ('&shift=' + results.shift) : '' %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:prodDowntimes') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/orders?sort(-reqDate)&limit(-1337)&reqDate>=<%- results.from %>&reqDate<<%- results.to %>"><%- t('core', 'NAVBAR:SEARCH:xiconfOrders') %></a></li>
  <li class="navbar-search-result"><a href="#xiconf/results?exclude(log,metrics,leds)&sort(startedAt)&limit(-1337)&startedAt>=<%- results.shiftStart %>&startedAt<<%- results.shiftEnd %>"><%- t('core', 'NAVBAR:SEARCH:xiconfResults') %></a></li>
  <% } %>
  <li class="divider"></li>
  <% } %>

  <% if (results.fullOrderNo) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:fullOrderNo', {orderNo: results.fullOrderNo}) %></li>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orders/<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:sapDetails') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/orders/<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:xiconfDetails') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodShiftOrders?sort(startedAt)&limit(-1337)&orderId=string:<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:prodShiftOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW', 'PROD_DOWNTIMES:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodDowntimes?sort(startedAt)&limit(-1337)&orderId=string:<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:prodDowntimes') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/results?exclude(log,metrics,leds)&sort(startedAt)&limit(-1337)&orderNo=string:<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:xiconfResults') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('QI:RESULTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#qi/results?sort(-inspectedAt,-rid)&limit(-1337)&orderNo=string:<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:qiResults') %></a></li>
  <% } %>
  <li class="navbar-search-result"><a href="#fap/entries?exclude(changes)&sort(-createdAt)&limit(-1337)&orderNo=string:<%- results.fullOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:fapEntries') %></a></li>
  <li class="divider"></li>
  <% } %>

  <% if (results.entryId && user.isAllowedTo()) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:entryId', {entryId: results.entryId}) %></li>
  <% if (user.isAllowedTo('QI:RESULTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#qi/results/<%- results.entryId %>"><%- t('core', 'NAVBAR:SEARCH:qi') %></a></li>
  <% } %>
  <li class="navbar-search-result"><a href="#fap/entries/<%- results.entryId %>"><%- t('core', 'NAVBAR:SEARCH:fap') %></a></li>
  <% ['kaizenOrders', 'suggestions', 'behaviorObsCards', 'minutesForSafetyCards'].forEach(function(type) { %>
  <li class="navbar-search-result"><a href="#<%- type %>/<%- results.entryId %>"><%- t('core', 'NAVBAR:SEARCH:' + type) %></a></li>
  <% }) %>
  <% if (user.isAllowedTo('D8:VIEW')) { %>
  <li class="navbar-search-result"><a href="#d8/entries/<%- results.entryId %>"><%- t('core', 'NAVBAR:SEARCH:d8') %></a></li>
  <% } %>
  <li class="divider"></li>
  <% } %>

  <% if (results.fullNc12) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:fullNc12', {nc12: results.fullNc12}) %></li>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#mechOrders/<%- results.fullNc12 %>">szczegóły zlecenia mechanicznego</a></li>
  <li class="navbar-search-result"><a href="#orders?sort(scheduledStartDate)&limit(-1337)&nc12=string:<%- results.fullNc12 %>"><%- t('core', 'NAVBAR:SEARCH:sapOrders') %></a></li>
  <li class="navbar-search-result"><a href="#orders?sort(scheduledStartDate)&limit(-1337)&bom.nc12=string:<%- results.fullNc12 %>"><%- t('core', 'NAVBAR:SEARCH:sapOrdersBom') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/orders?sort(-reqDate)&limit(-1337)&nc12=string:<%- results.fullNc12 %>"><%- t('core', 'NAVBAR:SEARCH:xiconfOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodShiftOrders?sort(startedAt)&limit(100)&mechOrder=true&orderId=string:<%- results.fullNc12 %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:worksheetOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/results?exclude(log,metrics,leds)&sort(startedAt)&limit(-1337)&nc12=string:<%- results.fullNc12 %>"><%- t('core', 'NAVBAR:SEARCH:xiconfResults') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('QI:RESULTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#qi/results?sort(-inspectedAt,-rid)&limit(-1337)&nc12=string:<%- results.fullNc12 %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:qiResults') %></a></li>
  <% } %>
  <li class="divider"></li>
  <% } %>

  <% if (results.partialOrderNo) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:partialOrderNo', {orderNo: results.partialOrderNo}) %></li>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orders?sort(scheduledStartDate)&limit(-1337)&_id=regex=%5E<%- results.partialOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:sapList') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/orders?sort(-reqDate)&limit(-1337)&_id=regex=%5E<%- results.partialOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:xiconfList') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodShiftOrders?sort(startedAt)&limit(-1337)&orderId=regex=%5E<%- results.partialOrderNo %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:prodShiftOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW', 'PROD_DOWNTIMES:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodDowntimes?sort(startedAt)&limit(-1337)&orderId=regex=%5E<%- results.partialOrderNo %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:prodDowntimes') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/results?exclude(log,metrics,leds)&sort(startedAt)&limit(-1337)&orderNo=regex=%5E<%- results.partialOrderNo %>"><%- t('core', 'NAVBAR:SEARCH:xiconfResults') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('QI:RESULTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#qi/results?sort(-inspectedAt,-rid)&limit(-1337)&orderNo=regex=%5E<%- results.partialOrderNo %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:qiResults') %></a></li>
  <% } %>
  <li class="divider"></li>
  <% } %>

  <% if (results.partialNc12) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:partialNc12', {nc12: results.partialNc12}) %></li>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orders?sort(scheduledStartDate)&limit(-1337)&nc12=regex=%5E<%- results.partialNc12 %>"><%- t('core', 'NAVBAR:SEARCH:sapOrders') %></a></li>
  <li class="navbar-search-result"><a href="#mechOrders?limit(-1337)&_id=regex=%5E<%- results.partialNc12 %>"><%- t('core', 'NAVBAR:SEARCH:mechOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/orders?sort(-reqDate)&limit(-1337)&nc12=regex=%5E<%- results.partialNc12 %>"><%- t('core', 'NAVBAR:SEARCH:xiconfOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW')) { %>
  <li class="navbar-search-result"><a href="#prodShiftOrders?sort(startedAt)&limit(100)&mechOrder=true&orderId=regex=%5E<%- results.partialNc12 %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:worksheetOrders') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('XICONF:VIEW')) { %>
  <li class="navbar-search-result"><a href="#xiconf/results?exclude(log,metrics,leds)&sort(startedAt)&limit(-1337)&nc12=regex=%5E<%- results.partialNc12 %>"><%- t('core', 'NAVBAR:SEARCH:xiconfResults') %></a></li>
  <% } %>
  <% if (user.isAllowedTo('QI:RESULTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#qi/results?sort(-inspectedAt,-rid)&limit(-1337)&nc12=regex=%5E<%- results.partialNc12 %><%- results.division ? ('&division=' + results.division) : '' %>"><%- t('core', 'NAVBAR:SEARCH:qiResults') %></a></li>
  <% } %>
  <% } %>

  <% if (results.fullNc15) { %>
  <li class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:fullNc15', {nc15: results.fullNc15}) %></li>
  <% if (user.isAllowedTo('DOCUMENTS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orderDocuments/tree?file=<%- results.fullNc15 %>"><%- t('core', 'NAVBAR:SEARCH:document') %></a></li>
  <% } %>
  <li class="navbar-search-result"><a href="/orderDocuments/<%- results.fullNc15 %>" target="_blank"><%- t('core', 'NAVBAR:SEARCH:documentFile') %></a></li>
  <% if (user.isAllowedTo('ORDERS:VIEW')) { %>
  <li class="navbar-search-result"><a href="#orders?sort(scheduledStartDate)&limit(-1337)&documents.nc15=string:<%- results.fullNc15 %>"><%- t('core', 'NAVBAR:SEARCH:sapOrdersDoc') %></a></li>
  <% } %>
  <% } %>

  <% if (results.searchName && user.isAllowedTo('USERS:VIEW')) { %>
  <li id="<%- idPrefix %>-searchName" class="dropdown-header"><%- t('core', 'NAVBAR:SEARCH:searchName', {nc12: results.searchName}) %></li>
  <li class="navbar-search-result"><a href="#users?limit(-1337)&searchName=regex=%5E<%- results.searchName %>"><i class="fa fa-spinner fa-spin"></i></a></li>
  <% } %>
</ul>
