<li data-online data-loggedin class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:SUGGESTIONS:main') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:SUGGESTIONS:orders') %>
    <li data-module="suggestions" class="navbar-with-button"><a href="#suggestions"><%- t('core', 'NAVBAR:SUGGESTIONS:all') %></a><button class="btn btn-default" data-href="#suggestions;add"><i class="fa fa-plus"></i></button>
    <li data-module="suggestions"><a href="#suggestions?status=in=(new,accepted,todo,inProgress,paused)&sort(-date)&limit(20)"><%- t('core', 'NAVBAR:SUGGESTIONS:open') %></a>
    <li data-module="suggestions"><a href="#suggestions?observers.user.id=mine&sort(-date)&limit(20)"><%- t('core', 'NAVBAR:SUGGESTIONS:mine') %></a>
    <li data-module="suggestions"><a href="#suggestions?observers.user.id=unseen&sort(-date)&limit(20)"><%- t('core', 'NAVBAR:SUGGESTIONS:unseen') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:SUGGESTIONS:reports') %>
    <li data-module="suggestions"><a href="#suggestionCountReport"><%- t('core', 'NAVBAR:SUGGESTIONS:reports:count') %></a>
    <li data-module="suggestions"><a href="#suggestionSummaryReport"><%- t('core', 'NAVBAR:SUGGESTIONS:reports:summary') %></a>
    <li data-module="suggestions"><a href="#suggestionEngagementReport"><%- t('core', 'NAVBAR:SUGGESTIONS:reports:engagement') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('core', 'NAVBAR:SUGGESTIONS:dictionaries') %>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="suggestions"><a href="#kaizenSections"><%- t('core', 'NAVBAR:SUGGESTIONS:sections') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="suggestions"><a href="#kaizenCategories"><%- t('core', 'NAVBAR:SUGGESTIONS:categories') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="suggestions"><a href="#kaizenProductFamilies"><%- t('core', 'NAVBAR:SUGGESTIONS:productFamilies') %></a>
    <li class="divider">
    <li data-module="suggestions"><a href="#suggestionHelp"><%- t('core', 'NAVBAR:SUGGESTIONS:help') %></a>
  </ul>
