<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:testing') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header"><%- t('NAVBAR:xiconf') %>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/clients"><%- t('NAVBAR:xiconf:clients') %></a>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/orders"><%- t('NAVBAR:xiconf:orders') %></a>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/results"><%- t('NAVBAR:xiconf:results') %></a>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/programs"><%- t('NAVBAR:xiconf:programs') %></a>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/hidLamps"><%- t('NAVBAR:xiconf:hidLamps') %></a>
    <li data-privilege="XICONF:VIEW" data-module><a href="#xiconf/componentWeights"><%- t('NAVBAR:xiconf:componentWeights') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('NAVBAR:snf') %>
    <li data-privilege="SNF:VIEW" data-module="wmes-snf"><a href="#snf/tests"><%- t('NAVBAR:snf:results') %></a>
    <li data-privilege="SNF:VIEW" data-module="wmes-snf"><a href="#snf/programs"><%- t('NAVBAR:snf:programs') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('NAVBAR:trw') %>
    <li data-privilege="TRW:VIEW" data-module="wmes-trw"><a href="#trw/tests"><%- t('NAVBAR:trw:results') %></a>
    <li data-privilege="TRW:VIEW" data-module="wmes-trw"><a href="#trw/programs"><%- t('NAVBAR:trw:programs') %></a>
    <li data-privilege="TRW:VIEW" data-module="wmes-trw"><a href="#trw/bases"><%- t('NAVBAR:trw:bases') %></a>
    <li data-privilege="TRW:VIEW" data-module="wmes-trw"><a href="#trw/testers"><%- t('NAVBAR:trw:testers') %></a>
  </ul>
