<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('core', 'NAVBAR:TOOLS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-loggedin data-module><a href="#kanban"><%- t('core', 'NAVBAR:kanban') %></a>
    <li data-loggedin data-module><a href="#pfep/entries"><%- t('core', 'NAVBAR:pfep') %></a>
    <li data-privilege="TOOLCAL:VIEW" data-module="wmes-toolcal"><a href="#toolcal/tools"><%- t('core', 'NAVBAR:toolcal') %></a>
    <li data-privilege="LUMA2:VIEW" data-module="wmes-luma2-frontend"><a href="#luma2/events"><%- t('core', 'NAVBAR:luma2') %></a>
    <li data-privilege="ORDERS:VIEW" data-module="orders"><a href="#invalidOrders"><%- t('core', 'NAVBAR:INVALID_ORDERS') %></a></li>
    <li data-privilege="ORDERS:VIEW" data-module="orders">
      <a href="http://pww.ket.lighting.philips.com/php/ipt-check/" target="_blank">
        <%- t('core', 'NAVBAR:IPT_CHECK') %>
        &nbsp;
        <i class="fa fa-external-link"></i>
      </a>
    </li>
    <li class="divider"></li>
    <li data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('core', 'NAVBAR:EVENTS') %></a>
  </ul>
</li>
