<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:TOOLS') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-loggedin data-module><a href="#kanban"><%- t('NAVBAR:kanban') %></a>
    <li data-loggedin data-module><a href="#pfep/entries"><%- t('NAVBAR:pfep') %></a>
    <li data-privilege="TOOLCAL:VIEW" data-module="wmes-toolcal"><a href="#toolcal/tools"><%- t('NAVBAR:toolcal') %></a>
    <li data-privilege="LUMA2:VIEW" data-module="wmes-luma2-frontend"><a href="#luma2/events"><%- t('NAVBAR:luma2') %></a>
    <li data-privilege="LUCA:VIEW" data-module="wmes-luca-frontend"><a href="#luca/events"><%- t('NAVBAR:luca') %></a>
    <li data-privilege="ORDERS:VIEW" data-module="orders"><a href="#invalidOrders"><%- t('NAVBAR:INVALID_ORDERS') %></a></li>
    <li data-privilege="ORDERS:VIEW" data-module="orders">
      <a href="http://plrketchr8ms612.lux.intra.lighting.com/php/ipt-check/" target="_blank">
        <%- t('NAVBAR:IPT_CHECK') %>
        &nbsp;
        <i class="fa fa-external-link"></i>
      </a>
    </li>
    <li class="divider"></li>
    <li data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('NAVBAR:EVENTS') %></a>
    <li data-privilege="SUPER" data-module><a href="#logs/browserErrors"><%- t('NAVBAR:logs:browserErrors') %></a>
  </ul>
</li>
