<div class="osh-entries-details">
  <div id="<%- id('props') %>"></div>
  <div class="row">
    <div class="col-lg-6">
      <div id="<%- id('problem') %>"></div>
      <div id="<%- id('reason') %>"></div>
      <div id="<%- id('before') %>"></div>
    </div>
    <div class="col-lg-6">
      <div id="<%- id('suggestion') %>"></div>
      <div id="<%- id('solution') %>"></div>
      <div id="<%- id('after') %>"></div>
    </div>
  </div>
  <div id="<%- id('attachments') %>"></div>
  <div id="<%- id('history') %>"></div>
</div>
