<div class="osh-entries-details">
  <div id="<%- id('props') %>"></div>
  <div class="row">
    <div id="<%- id('before') %>" class="col-lg-4"></div>
    <div id="<%- id('solution') %>" class="col-lg-4"></div>
    <div id="<%- id('after') %>" class="col-lg-4"></div>
  </div>
  <div id="<%- id('attachments') %>"></div>
  <div id="<%- id('history') %>"></div>
</div>
