<form id="<%- idPrefix %>-form" class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'createdAt',
    type: 'date+time',
    startHour: 6,
    labels: {text: t('prodLogEntries', 'PROPERTY:createdAt'), ranges: '+shifts'}
  }) %>
  <div id="<%- idPrefix %>-orgUnit" class="form-group"></div>
  <div class="form-group">
    <label for="<%- idPrefix %>-type"><%- t('prodLogEntries', 'PROPERTY:type') %></label>
    <select id="<%- idPrefix %>-type" name="type" data-placeholder="<%- t('prodLogEntries', 'filter:placeholder:type') %>">
      <option></option>
      <% [
          'changeShift', 'changeMaster', 'changeLeader', 'changeOperator', 'changeOperators',
          'changeQuantitiesDone',
          'changeOrder', 'correctOrder', 'setNextOrder', 'changeQuantityDone', 'changeWorkerCount', 'finishOrder',
          'startDowntime', 'finishDowntime', 'corroborateDowntime',
          'endWork',
          'addShift', 'addOrder', 'addDowntime',
          'editShift', 'editOrder', 'editDowntime',
          'deleteShift', 'deleteOrder', 'deleteDowntime',
          'checkSpigot', 'checkSerialNumber'
        ].forEach(function(type) { %>
      <option value="<%- type %>"><%- t('prodLogEntries', 'type:' + type) %></option>
      <% }) %>
    </select>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodLogEntries', 'filter:submit') %></span></button>
  </div>
</form>
