<form id="<%- idPrefix %>-form" class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-from-date"><%- t('core', 'filter:date:from') %></label>
    <div id="<%- idPrefix %>-from" class="form-group-datetime">
      <input id="<%- idPrefix %>-from-date" class="form-control" name="from-date" type="date" placeholder="YYYY-MM-DD">
      <input id="<%- idPrefix %>-from-time" class="form-control" name="from-time" type="time" placeholder="hh:mm">
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to-date"><%- t('core', 'filter:date:to') %></label>
    <div id="<%- idPrefix %>-to" class="form-group-datetime">
      <input id="<%- idPrefix %>-to-date" class="form-control" name="to-date" type="date" placeholder="YYYY-MM-DD">
      <input id="<%- idPrefix %>-to-time" class="form-control" name="to-time" type="time" placeholder="hh:mm">
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-prodLine"><%- t('prodLogEntries', 'PROPERTY:prodLine') %></label>
    <input id="<%- idPrefix %>-prodLine" name="prodLine" type="text" data-placeholder="<%- t('prodLogEntries', 'filter:placeholder:prodLine') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-type"><%- t('prodLogEntries', 'PROPERTY:type') %></label>
    <select id="<%- idPrefix %>-type" name="type" data-placeholder="<%- t('prodLogEntries', 'filter:placeholder:type') %>">
      <option></option>
      <% [
          'changeShift', 'changeMaster', 'changeLeader', 'changeOperator',
          'changeQuantitiesDone',
          'changeOrder', 'correctOrder', 'changeQuantityDone', 'changeWorkerCount', 'finishOrder',
          'startDowntime', 'finishDowntime', 'corroborateDowntime',
          'endWork',
          'addShift', 'addOrder', 'addDowntime',
          'editShift', 'editOrder', 'editDowntime',
          'deleteShift', 'deleteOrder', 'deleteDowntime'
        ].forEach(function(type) { %>
      <option value="<%- type %>"><%- t('prodLogEntries', 'type:' + type) %></option>
      <% }) %>
    </select>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodLogEntries', 'filter:submit') %></span></button>
  </div>
</form>
