<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: '_id',
        label: 'PROPERTY:',
        type: 'text',
        maxLength: 20,
        required: true,
        pattern: '^[A-Za-z0-9-]+$'
      }) %>
      <%- helpers.formGroup({
        name: 'name',
        label: 'PROPERTY:',
        type: 'text',
        maxLength: 100,
        required: true
      }) %>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'position',
        label: 'PROPERTY:',
        type: 'number',
        min: 0,
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'mrps',
        label: 'PROPERTY:',
        type: 'select2'
      }) %>
      <div id="<%- id('coordSections') %>" class="kaizen-coordSections-form"></div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
