<div class="col-md-<%- kaizenColumnSize %>">
  <div class="panel panel-success">
    <div class="panel-heading"><%- t('kaizenOrders', 'type:kaizen') %></div>
    <div class="panel-details <%- model.changed.all ? 'is-changed' : '' %>">
      <div class="props first">
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenOwners ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenOwners') %></div>
          <div class="prop-value">
            <% if (model.kaizenOwners.length) { %>
            <ul>
              <% model.kaizenOwners.forEach(function(owner) { %>
              <li><%- owner %></li>
              <% }) %>
            </ul>
            <% } else { %>
            -
            <% } %>
          </div>
        </div>
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenStartDate ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenStartDate') %></div>
          <div class="prop-value"><%- model.kaizenStartDate || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenFinishDate ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenFinishDate') %></div>
          <div class="prop-value"><%- model.kaizenFinishDate || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenStartDate || model.changed.kaizenFinishDate ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenDuration') %></div>
          <div class="prop-value"><%- model.kaizenDuration || '-' %></div>
        </div>
        <% if (!showSuggestionPanel) { %>
        <div class="prop">
          <div class="prop-name <%- model.changed.suggestion ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:suggestion') %></div>
          <div class="prop-value text-lines"><%- model.suggestion || '-' %></div>
        </div>
        <% } %>
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenImprovements ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenImprovements') %></div>
          <div class="prop-value text-lines"><%= model.kaizenImprovements || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name <%- model.changed.kaizenEffect ? 'is-changed' : '' %>"><%- t('kaizenOrders', 'PROPERTY:kaizenEffect') %></div>
          <div class="prop-value text-lines"><%= model.kaizenEffect || '-' %></div>
        </div>
      </div>
    </div>
  </div>
</div>