<form class="well filter-form kaizenOrders-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'eventDate',
    type: 'date',
    labels: {text: helpers.t('PROPERTY:eventDate'), ranges: true}
  }) %>
  <div class="form-group">
    <div class="filter-radioLabels">
      <label>
        <input name="userType" type="radio" value="mine">
        <%- helpers.t('filter:user:mine') %>
      </label><label>
        <input name="userType" type="radio" value="unseen">
        <%- helpers.t('filter:user:unseen') %>
      </label><label>
        <input name="userType" type="radio" value="owner">
        <%- helpers.t('filter:user:owner') %>
      </label><label>
        <input name="userType" type="radio" value="others">
        <%- helpers.t('filter:user:others') %>
      </label>
    </div>
    <input id="<%- idPrefix %>-user" name="user" type="text" autocomplete="new-password">
  </div>
  <% if (multi) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-types"><%- helpers.t('PROPERTY:types') %></label>
    <select id="<%- idPrefix %>-types" name="types" class="form-control" size="1">
      <option></option>
      <% types.forEach(function(type) { %>
      <option value="<%- type %>"><%- helpers.t('type:short:' + type) %></option>
      <% }) %>
    </select>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-status"><%- helpers.t('PROPERTY:status') %></label>
    <select id="<%- idPrefix %>-status" name="status" class="form-control" size="1">
      <option></option>
      <option value="open"><%- helpers.t('status:open') %></option>
      <% statuses.forEach(function(status) { %>
      <option value="<%- status %>"><%- helpers.t('status:' + status) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-area"><%- helpers.t('PROPERTY:area') %></label>
    <select id="<%- idPrefix %>-area" name="area" class="form-control" size="1">
      <option></option>
      <% areas.forEach(function(area) { %>
      <option value="<%- area._id %>"><%= area.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-cause"><%- helpers.t('filter:cause') %></label>
    <select id="<%- idPrefix %>-cause" name="cause" class="form-control" size="1">
      <option></option>
      <% causes.forEach(function(cause) { %>
      <option value="<%- cause._id %>"><%= cause.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-risk"><%- helpers.t('PROPERTY:risk') %></label>
    <select id="<%- idPrefix %>-risk" name="risk" class="form-control" size="1">
      <option></option>
      <% risks.forEach(function(risk) { %>
      <option value="<%- risk._id %>"><%= risk.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-category"><%- helpers.t('PROPERTY:category') %></label>
    <select id="<%- idPrefix %>-category" name="category" class="form-control" size="1">
      <option></option>
      <% if (multi) { %>
      <optgroup label="<%- helpers.t('type:nearMiss') %>">
        <% nearMissCategories.forEach(function(category) { %>
        <option value="nearMiss.<%- category._id %>"><%= category.name %></option>
        <% }) %>
      </optgroup>
      <optgroup label="<%- helpers.t('type:suggestion') %>">
        <% suggestionCategories.forEach(function(category) { %>
        <option value="suggestion.<%- category._id %>"><%= category.name %></option>
        <% }) %>
      </optgroup>
      <% } else { %>
      <% nearMissCategories.forEach(function(category) { %>
      <option value="nearMiss.<%- category._id %>"><%= category.name %></option>
      <% }) %>
      <% } %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-section"><%- helpers.t('PROPERTY:section') %></label>
    <select id="<%- idPrefix %>-section" name="section" class="form-control" size="1">
      <option></option>
      <% sections.forEach(function(section) { %>
      <option value="<%- section._id %>"><%= section.name %></option>
      <% }) %>
    </select>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= helpers.t('filter:submit') %></span></button>
  </div>
</form>
