<form class="kaizenOrders-form <%- multiType ? 'is-multi' : '' %>" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group clearfix">
        <label for="<%- idPrefix %>-status" class="control-label"><%- helpers.t('PROPERTY:status') %></label>
        <div id="<%- idPrefix %>-status" class="btn-group kaizenOrders-form-statusBtnGroup" data-toggle="buttons">
          <% statuses.forEach(function(status) { %>
          <label class="btn btn-default">
            <input type="radio" name="status" value="<%- status %>"><%- helpers.t('status:' + status) %>
          </label>
          <% }) %>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-subject" class="control-label is-required"><%- helpers.t('PROPERTY:subject') %></label>
        <input id="<%- idPrefix %>-subject" class="form-control" type="text" autocomplete="new-password" name="subject" required placeholder="<%- helpers.t('FORM:help:subject') %>">
      </div>
      <div class="row">
        <div class="form-group col-lg-4 has-required-select2">
          <label for="<%- idPrefix %>-section" class="control-label is-required"><%- helpers.t('PROPERTY:section') %></label>
          <input id="<%- idPrefix %>-section" type="text" autocomplete="new-password" name="section" required placeholder="<%- helpers.t('FORM:help:section') %>">
        </div>
        <div class="form-group col-lg-8 has-required-select2">
          <label for="<%- idPrefix %>-confirmer" class="control-label is-required"><%- helpers.t('PROPERTY:confirmer') %></label>
          <input id="<%- idPrefix %>-confirmer" type="text" autocomplete="new-password" name="confirmer" required placeholder="<%- helpers.t('FORM:help:confirmer') %>">
        </div>
      </div>
      <% if (multiType) { %>
      <div id="<%- idPrefix %>-chooseTypes" class="message message-inline message-info">
        <p><%- helpers.t('FORM:MSG:chooseTypes', {gender: user.data.gender}) %></p>
      </div>
      <% } %>
      <div id="<%- idPrefix %>-panel-nearMiss" class="panel panel-default kaizenOrders-form-typePanel is-collapsed" data-type="nearMiss" data-expanded-class="panel-danger">
        <div class="panel-heading" role="togglePanel" <% if (multiType) { %>tabindex="0"<% } %>>
          <i class="fa fa-times kaizenOrders-form-collapsedIcon"></i><i class="fa fa-check kaizenOrders-form-expandedIcon"></i><span><%- helpers.t('type:nearMiss') %></span>
        </div>
        <div class="panel-body">
          <div id="<%- idPrefix %>-nearMissOwnersFormGroup" class="form-group has-required-select2">
            <label for="<%- idPrefix %>-nearMissOwners" class="control-label is-required"><%- helpers.t('PROPERTY:nearMissOwner' + (multiOwner ? 's' : '')) %></label>
            <input id="<%- idPrefix %>-nearMissOwners" type="text" autocomplete="new-password" name="nearMissOwners">
          </div>
          <div id="<%- idPrefix %>-eventDateAreaRow" class="row">
            <div class="form-group col-lg-2">
              <label for="<%- idPrefix %>-eventDate" class="control-label is-required"><%- helpers.t('PROPERTY:eventDate') %></label>
              <div class=" form-group-datetime">
                <input id="<%- idPrefix %>-eventDate" class="form-control" name="eventDate" type="date" max="<%- today %>">
                <input id="<%- idPrefix %>-eventTime" class="form-control" name="eventTime" type="text" autocomplete="new-password" placeholder="<%- helpers.t('FORM:MSG:eventTime') %>" title="<%- helpers.t('FORM:MSG:eventTime') %>">
              </div>
            </div>
            <div class="form-group col-lg-10 has-required-select2">
              <label for="<%- idPrefix %>-area" class="control-label is-required"><%- helpers.t('PROPERTY:area') %></label>
              <input id="<%- idPrefix %>-area" type="text" autocomplete="new-password" name="area">
            </div>
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-description" class="control-label is-required"><%- helpers.t('PROPERTY:description') %></label>
            <textarea id="<%- idPrefix %>-description" class="form-control" name="description" rows="3"></textarea>
          </div>
          <% if (!editMode) { %>
          <div id="<%- idPrefix %>-fm24-group" class="form-group hidden">
            <label class="control-label">
              <input id="<%- idPrefix %>-fm24-confirmation" type="checkbox" name="fm24.confirmation" value="1">
              <%- helpers.t('FORM:fm24:confirmation') %>
            </label>
            <input id="<%- idPrefix %>-fm24-email" class="form-control" type="email" autocomplete="new-password" name="fm24.email" disabled>
          </div>
          <% } %>
          <div id="<%- idPrefix %>-nearMissOptional" class="message message-inline message-info kaizenOrders-form-msg-optional">
            <p><%- helpers.t('FORM:MSG:optional', {gender: user.data.gender}) %></p>
          </div>
          <div id="<%- idPrefix %>-causeTextFormGroup" class="form-group">
            <label for="<%- idPrefix %>-causeText" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:causeText') %></label>
            <textarea id="<%- idPrefix %>-causeText" class="form-control" name="causeText" rows="3"></textarea>
          </div>
          <div id="<%- idPrefix %>-causeCategoryRiskRow" class="row">
            <div class="form-group col-md-3">
              <label for="<%- idPrefix %>-cause" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:cause') %></label>
              <input id="<%- idPrefix %>-cause" type="text" autocomplete="new-password" name="cause">
            </div>
            <div class="form-group col-md-3">
              <label for="<%- idPrefix %>-risk" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:risk') %></label>
              <input id="<%- idPrefix %>-risk" type="text" autocomplete="new-password" name="risk">
            </div>
            <div class="form-group col-md-6">
              <label for="<%- idPrefix %>-nearMissCategory" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:nearMissCategory') %></label>
              <input id="<%- idPrefix %>-nearMissCategory" type="text" autocomplete="new-password" name="nearMissCategory">
            </div>
          </div>
          <div id="<%- idPrefix %>-correctiveMeasuresFormGroup" class="form-group">
            <label for="<%- idPrefix %>-correctiveMeasures" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:correctiveMeasures') %></label>
            <textarea id="<%- idPrefix %>-correctiveMeasures" class="form-control" name="correctiveMeasures" rows="3"></textarea>
            <p class="help-block"><%- helpers.t('FORM:help:correctiveMeasures') %></p>
          </div>
          <% if (relatedSuggestion) { %>
          <div id="<%- idPrefix %>-preventiveMeasuresFormGroup" class="form-group">
            <label class="control-label is-requiredToFinish" data-required="preventiveMeasures"><%- helpers.t('PROPERTY:preventiveMeasures') %></label>
            <br>
            <label class="checkbox-inline">
              <input id="<%- idPrefix %>-stdReturn" name="stdReturn" type="checkbox" value="true">
              <%- helpers.t('PROPERTY:stdReturn') %>
            </label>
            <div id="<%- idPrefix %>-relatedSuggestion">
              <label class="checkbox-inline">
                <input id="<%- idPrefix %>-relatedSuggestion-checkbox" type="checkbox" value="true">
                <%- helpers.t('FORM:relatedSuggestion:message') %>
              </label>
              <input class="kaizenOrders-form-rid-value" name="relatedSuggestion" type="text" tabindex="-1">
              <span id="<%- idPrefix %>-relatedSuggestion-message" class="kaizenOrders-form-rid-message">
                <% if (model.relatedSuggestion) { %>
                <%- helpers.t('FORM:relatedSuggestion:edit', {rid: model.relatedSuggestion}) %>
                <% } else { %>
                <%- helpers.t('FORM:relatedSuggestion:add') %>
                <% } %>
              </span>
            </div>
          </div>
          <% } else { %>
          <div id="<%- idPrefix %>-preventiveMeasuresFormGroup" class="form-group">
            <label for="<%- idPrefix %>-preventiveMeasures" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:preventiveMeasures') %></label>
            <textarea id="<%- idPrefix %>-preventiveMeasures" class="form-control" name="preventiveMeasures" rows="3"></textarea>
            <p class="help-block"><%- helpers.t('FORM:help:preventiveMeasures') %></p>
          </div>
          <% } %>
        </div>
      </div>
      <div id="<%- idPrefix %>-panel-suggestion" class="panel panel-default kaizenOrders-form-typePanel is-collapsed <%- multiType ? '' : 'hidden' %>" data-type="suggestion" data-expanded-class="panel-warning">
        <div class="panel-heading" role="togglePanel" tabindex="0">
          <i class="fa fa-times kaizenOrders-form-collapsedIcon"></i><i class="fa fa-check kaizenOrders-form-expandedIcon"></i><span><%- helpers.t('type:suggestion') %></span>
        </div>
        <div id="<%- idPrefix %>-suggestionPanelBody" class="panel-body">
          <div id="<%- idPrefix %>-suggestionOwnersFormGroup" class="form-group has-required-select2">
            <label for="<%- idPrefix %>-suggestionOwners" class="control-label is-required"><%- helpers.t('PROPERTY:suggestionOwners') %></label>
            <input id="<%- idPrefix %>-suggestionOwners" type="text" autocomplete="new-password" name="suggestionOwners">
          </div>
          <div id="<%- idPrefix %>-suggestionFormGroup" class="form-group">
            <label for="<%- idPrefix %>-suggestion" class="control-label is-required"><%- helpers.t('PROPERTY:suggestion') %></label>
            <textarea id="<%- idPrefix %>-suggestion" class="form-control" name="suggestion" rows="3"></textarea>
          </div>
          <div id="<%- idPrefix %>-suggestionOptional" class="message message-inline message-info kaizenOrders-form-msg-optional">
            <p><%- helpers.t('FORM:MSG:optional', {gender: user.data.gender}) %></p>
          </div>
          <div id="<%- idPrefix %>-suggestionCategoryFormGroup" class="form-group">
            <label for="<%- idPrefix %>-suggestionCategory" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:suggestionCategory') %></label>
            <input id="<%- idPrefix %>-suggestionCategory" type="text" autocomplete="new-password" name="suggestionCategory">
          </div>
        </div>
      </div>
      <div id="<%- idPrefix %>-panel-kaizen" class="panel panel-default kaizenOrders-form-typePanel is-collapsed <%- multiType ? '' : 'hidden' %>" data-type="kaizen" data-expanded-class="panel-success">
        <div class="panel-heading" role="togglePanel" tabindex="0">
          <i class="fa fa-times kaizenOrders-form-collapsedIcon"></i><i class="fa fa-check kaizenOrders-form-expandedIcon"></i><span><%- helpers.t('type:kaizen') %></span>
        </div>
        <div class="panel-body has-lastElementRow">
          <div id="<%- idPrefix %>-kaizenOwnersFormGroup" class="form-group has-required-select2">
            <label for="<%- idPrefix %>-kaizenOwners" class="control-label is-required"><%- helpers.t('PROPERTY:kaizenOwners') %></label>
            <input id="<%- idPrefix %>-kaizenOwners" type="text" autocomplete="new-password" name="kaizenOwners">
          </div>
          <div class="row">
            <div class="form-group col-lg-2">
              <label for="<%- idPrefix %>-kaizenStartDate" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:kaizenStartDate') %></label>
              <input id="<%- idPrefix %>-kaizenStartDate" class="form-control" type="date" name="kaizenStartDate" max="<%- today %>" placeholder="<%- t('core', 'placeholder:date') %>">
            </div>
            <div class="form-group col-lg-2">
              <label for="<%- idPrefix %>-kaizenFinishDate" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:kaizenFinishDate') %></label>
              <input id="<%- idPrefix %>-kaizenFinishDate" class="form-control" type="date" name="kaizenFinishDate" max="<%- today %>" placeholder="<%- t('core', 'placeholder:date') %>">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="<%- idPrefix %>-kaizenImprovements" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:kaizenImprovements') %></label>
              <textarea id="<%- idPrefix %>-kaizenImprovements" class="form-control" name="kaizenImprovements" rows="3"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="<%- idPrefix %>-kaizenEffect" class="control-label is-requiredToFinish"><%- helpers.t('PROPERTY:kaizenEffect') %></label>
              <textarea id="<%- idPrefix %>-kaizenEffect" class="form-control" name="kaizenEffect" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <% if (editMode) { %>
      <div class="message message-inline message-warning">
        <p><%- helpers.t('FORM:MSG:attachmentEdit') %></p>
      </div>
      <div class="row kaizenOrders-form-attachments">
        <% ['scan', 'before', 'after'].forEach(function(attachment) { %>
        <div class="col-md-4 form-group">
          <label class="control-label"><%- helpers.t('attachments:' + attachment + ':current') %></label>
          <p class="form-control-static">
            <% if (attachments[attachment]) { %>
            <a href="/kaizen/orders/<%- model._id %>/attachments/<%- attachments[attachment]._id %>"><%= attachments[attachment].name %></a>
            <% } else { %>
            -
            <% }%>
          </p>
        </div>
        <% }) %>
      </div>
      <% } %>
      <div class="row">
        <% ['scan', 'before', 'after'].forEach(function(attachment) { %>
        <div class="col-md-4 form-group">
          <label for="<%- idPrefix %>-attachments-<%- attachment %>" class="control-label"><%- helpers.t('attachments:' + attachment + (editMode ? ':new' : '')) %></label>
          <input id="<%- idPrefix %>-attachments-<%- attachment %>" class="form-control" type="file" data-name="<%- attachment %>">
        </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-subscribers" class="control-label"><%- helpers.t('PROPERTY:subscribers') %></label>
        <input id="<%- idPrefix %>-subscribers" type="text" autocomplete="new-password" name="subscribers">
        <p class="help-block"><%- helpers.t('FORM:help:subscribers') %></p>
      </div>
      <% if (editMode) { %>
      <div class="form-group kaizenOrders-form-comment">
        <label for="<%- idPrefix %>-comment" class="control-label"><%- helpers.t('PROPERTY:comment') %></label>
        <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
      </div>
      <% } %>
    </div>
    <div class="panel-footer">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary">
        <i class="fa fa-spinner fa-spin"></i>
        <span><%- backTo ? backTo.submitLabel : formActionText %></span>
      </button>
      <% if (backTo) { %>
      <a class="btn btn-link" href="<%- backTo.cancelUrl %>"><%- backTo.cancelLabel %></a>
      <% } %>
    </div>
  </div>
</form>
