<div class="panel panel-default kaizenOrders-history">
  <div class="panel-heading"><%- t('kaizenOrders', 'PANEL:TITLE:changes') %></div>
  <% items.forEach(function(item, itemIndex) { %>
  <% include historyItem.ejs %>
  <% }) %>
  <form class="kaizenOrders-history-form">
    <% if (canEdit) { %>
    <div class="message message-inline message-info">
      <p><%- t('kaizenOrders', 'history:editMessage', {editUrl: editUrl}) %></p>
    </div>
    <% } %>
    <div class="form-group">
      <label for="<%- idPrefix %>-comment" class="control-label"><%- t('kaizenOrders', 'PROPERTY:comment') %></label>
      <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
    </div>
    <div class="panel-footer">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary">
        <i class="fa fa-comment-o"></i><span><%- t('kaizenOrders', 'history:submit') %></span>
      </button>
    </div>
  </form>
</div>