<div class="kaizenOrders-report">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <% ['ipr', 'ips', 'ipc'].forEach(function(metric) { %>
  <h3>
    <%- t('kaizenOrders', 'report:title:' + metric) %>
    <a class="kaizenOrders-report-grouping <%- grouping[metric] === 'bySection' ? 'active' : '' %>" data-metric="<%- metric %>" data-grouping="bySection" href="#"><%- t('kaizenOrders', 'report:title:grouping:bySection') %></a><a
      class="kaizenOrders-report-grouping <%- totalGroupingVisible ? '' : 'hidden' %> <%- grouping[metric] === 'total' ? 'active' : '' %>" data-metric="<%- metric %>" data-grouping="total" href="#"><%- t('kaizenOrders', 'report:title:grouping:total') %></a>
  </h3>
  <h4 id="<%- idPrefix %>-<%- metric %>-total"></h4>
  <div id="<%- idPrefix %>-<%- metric %>-report"></div>
  <% }) %>
  <% ['count', 'users', 'fte'].forEach(function(metric) { %>
  <h3><%- t('kaizenOrders', 'report:title:' + metric) %></h3>
  <h4 id="<%- idPrefix %>-<%- metric %>-total"></h4>
  <div id="<%- idPrefix %>-<%- metric %>-report"></div>
  <% }) %>
</div>
