<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-from"><%- t('core', 'filter:date:from') %></label>
    <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" placeholder="<%- t('core', 'placeholder:date') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to"><%- t('core', 'filter:date:to') %></label>
    <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" placeholder="<%- t('core', 'placeholder:date') %>">
  </div>
  <div class="form-group">
    <label><%- t('reports', 'filter:interval') %></label>
    <div id="<%- idPrefix %>-interval" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['none', 'year', 'quarter', 'month', 'week', 'day'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input type="radio" name="interval" value="<%- interval %>"> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-sections"><%- t('kaizenOrders', 'PROPERTY:section') %></label>
    <input id="<%- idPrefix %>-sections" name="sections" type="text" autocomplete="new-password">
  </div>
  <div class="form-group filter-actions">
    <div class="btn-group">
      <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% ['currentWeek', 'prevWeek', 'lastTwoWeeks', 'currentMonth', 'prevMonth', 'q1', 'q2', 'q3', 'q4', 'currentYear', 'prevYear'].forEach(function(range) { %>
        <li><a data-range="<%- range %>"><%= t('reports', 'filter:submit:' + range) %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
</form>
