<table class="table table-bordered table-condensed table-hover kaizenOrders-details-observers">
  <thead>
    <tr>
      <th class="is-min"><%- t('kaizenOrders', 'PROPERTY:observers:name') %></th>
      <th class="is-min"><%- t('kaizenOrders', 'PROPERTY:observers:role') %></th>
      <th><%- t('kaizenOrders', 'PROPERTY:observers:lastSeenAt') %></th>
    </tr>
  </thead>
  <tbody>
    <% if (!model.observers.length) { %>
    <tr>
      <td colspan="3"><%- t('kaizenOrders', 'observers:noData') %></td>
    </tr>
    <% } %>
    <% model.observers.forEach(function(observer) { %>
    <tr>
      <td class="is-min"><%= observer.user.label %></td>
      <td class="is-min"><%= t('kaizenOrders', 'role:' + observer.role) %></td>
      <td><%= observer.lastSeenAt ? time.format(observer.lastSeenAt, 'LLLL') : '-' %></td>
    </tr>
    <% }) %>
  </tbody>
</table>