<form class="settings kaizen-settings">
  <div class="list-group">
    <a class="list-group-item" href="#kaizenOrders;settings?tab=fm24" data-tab="fm24"><%- t('kaizenOrders', 'settings:tab:fm24') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="fm24">
      <div class="form-group">
        <label for="<%- idPrefix %>-fm24-subject"><%- t('kaizenOrders', 'settings:fm24:subject') %></label>
        <input id="<%- idPrefix %>-fm24-subject" class="form-control" name="kaizen.fm24.subject" type="text" autocomplete="new-password" data-change-delay="0">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-fm24-message"><%- t('kaizenOrders', 'settings:fm24:message') %></label>
        <textarea id="<%- idPrefix %>-fm24-message" class="form-control text-mono" name="kaizen.fm24.message" rows="10" data-keyup-delay="10000" data-change-delay="0"></textarea>
      </div>
    </div>
  </div>
</form>
