<div class="kaizenOrders-report">
  <div class="filter-container"></div>
  <h3><%- t('kaizenOrders', 'report:title:summary:averageDuration') %></h3>
  <h4 id="<%- idPrefix %>-averageDuration"></h4>
  <div class="kaizenOrders-report-summary-averageDuration"></div>
  <h3><%- t('kaizenOrders', 'report:title:summary:count') %></h3>
  <h4 id="<%- idPrefix %>-count"></h4>
  <div class="kaizenOrders-report-summary-count"></div>
  <h3><%- t('kaizenOrders', 'report:title:summary:nearMissOwners') %></h3>
  <div class="kaizenOrders-report-summary-nearMissOwners"></div>
</div>
