<div class="osh-entries-details">
  <div id="<%- id('props') %>"></div>
  <div id="<%- id('rootCauses') %>"></div>
  <div id="<%- id('solution') %>"></div>
  <div id="<%- id('resolutions') %>"></div>
  <div id="<%- id('attachments') %>"></div>
  <div id="<%- id('history') %>"></div>
</div>
