<div class="panel panel-success is-colored osh-details-panel osh-details-actions-resolutions <%- hidden ? 'hidden' : '' %>">
  <div class="panel-heading"><%- t('PROPERTY:resolutions') %></div>
  <% if (!resolutions.length) { %>
  <div class="panel-body">
    <p><i><%- t('resolutions:empty') %></i></p>
  </div>
  <% } else { %>
  <div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover <%- unseen ? 'osh-unseen' : '' %>">
    <thead>
    <tr>
      <th class="is-min"><%- t('resolutions:rid') %></th>
      <th class="is-min"><%- t('resolutions:status') %></th>
      <th><%- t('resolutions:subject') %></th>
      <th class="is-min"><%- t('resolutions:implementers') %></th>
    </tr>
    </thead>
    <tbody>
    <% resolutions.forEach(r => { %>
    <tr class="<%- r.className %>">
      <td class="is-min text-fixed">
        <a href="<%- r.url %>"><%- r.rid %></a>
      </td>
      <td class="is-min"><%- r.status %></td>
      <td><%= r.subject %></td>
      <td class="is-min"><%- r.implementers %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  </div>
  <% } %>
</div>
