<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th class="is-min"><%- t('todo:time') %></th>
    <th class="is-min"><%- t('todo:line') %></th>
    <th class="is-min"><%- t('todo:station') %></th>
    <th class="is-min"><%- t('todo:action') %></th>
    <th><%- t('todo:data') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
