<tr class="highlight <%- row.ignored ? 'warning' : '' %>">
  <td class="is-min"><%- row.time %></td>
  <td class="is-min"><%= row.line %></td>
  <td class="is-min"><%- row.station %></td>
  <td class="is-min"><%- row.action %></td>
  <td><%- row.data %></td>
</tr>
