<div class="ct-report-groups-product">
  <h2>
    <% if (canViewGroups) { %>
    <a href="#planning/orderGroups/<%- group._id %>"><%= group.name %></a>
    <% } else { %>
    <%= group.name %>
    <% } %>
  </h2>
  <div id="<%- id('chart') %>"></div>
  <div id="<%- id('table') %>"></div>
</div>
