<form class="xiconfPrograms-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- helpers.t('PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" autocomplete="new-password" name="name" maxlength="100" required autofocus>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-prodLines" class="control-label"><%- helpers.t('PROPERTY:prodLines') %></label>
        <input id="<%- idPrefix %>-prodLines" class="form-control" type="text" autocomplete="new-password" name="prodLines" maxlength="200" placeholder="<%- helpers.t('PROPERTY:prodLines:all') %>">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-type" class="control-label is-required"><%- helpers.t('PROPERTY:type') %></label>
        <% programTypes.forEach(function(programType) { %>
        <div class="radio">
          <label>
            <input id="<%- idPrefix %>-type-<%- programType %>" name="type" type="radio" value="<%- programType %>" required>
            <%- helpers.t('type:' + programType) %>
          </label>
        </div>
        <% }) %>
      </div>
      <div id="<%- idPrefix %>-steps" class="xiconfPrograms-form-steps"></div>
      <div class="form-group">
        <select id="<%- idPrefix %>-stepType" class="form-control xiconfPrograms-form-stepType">
          <option value="" disabled selected><%- helpers.t('form:steps:placeholder') %></option>
          <% stepTypes.forEach(function(stepType) { %>
          <option value="<%- stepType %>"><%- helpers.t('step:' + stepType) %></option>
          <% }) %>
        </select>
        <button id="<%- idPrefix %>-addStep" class="btn btn-default" type="button"><i class="fa fa-plus"></i><span><%- helpers.t('form:steps:add') %></span></button>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
