<form class="well filter-form prodChangeRequests-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-division"><%- t('prodChangeRequests', 'PROPERTY:division') %></label>
    <input id="<%- idPrefix %>-division" name="division" type="text">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-prodLine"><%- t('prodChangeRequests', 'PROPERTY:prodLine') %></label>
    <input id="<%- idPrefix %>-prodLine" name="prodLine" type="text">
  </div>
  <div class="form-group">
    <label><%- t('prodChangeRequests', 'PROPERTY:status') %></label>
    <div id="<%- idPrefix %>-status" class="btn-group filter-btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="status" value="new"> <%- t('prodChangeRequests', 'status:new') %>
      </label>
      <label class="btn btn-default">
        <input type="radio" name="status" value="old"> <%- t('prodChangeRequests', 'status:old') %>
      </label>
    </div>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodChangeRequests', 'filter:submit') %></span></button>
  </div>
</form>
