<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('subdivisions', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('subdivisions', 'PROPERTY:division') %></div>
        <div class="prop-value"><%- model.division || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('subdivisions', 'PROPERTY:type') %></div>
        <div class="prop-value"><%= model.type %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('subdivisions', 'PROPERTY:name') %></div>
        <div class="prop-value"><%= model.name || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('subdivisions', 'PROPERTY:prodTaskTags') %></div>
        <div class="prop-value"><%= model.prodTaskTags || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('subdivisions', 'PROPERTY:aor') %></div>
        <div class="prop-value"><%= model.aor || '-' %></div>
      </div>
    </div>
  </div>
</div>
