<form class="subdivisions-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="orgUnitDropdowns-container"></div>
      <div class="form-group">
        <label for="<%- idPrefix %>-type" class="control-label is-required"><%- helpers.t('PROPERTY:type') %></label>
        <% ['assembly', 'press', 'storage', 'paintShop', 'other'].forEach(function(type) { %>
        <div class="radio">
          <label><input type="radio" name="type" value="<%- type %>" checked> <%- helpers.t('TYPE:' + type) %></label>
        </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- helpers.t('PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" autocomplete="new-password" name="name" required maxlength="150">
      </div>
      <% ['prodTaskTags', 'aor'].forEach(function(prop) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-<%- prop %>" class="control-label"><%- helpers.t('PROPERTY:' + prop) %></label>
        <input id="<%- idPrefix %>-<%- prop %>" type="text" autocomplete="new-password" name="<%- prop %>">
      </div>
      <% }) %>
      <table class="table table-condensed table-with-tfoot subdivisions-form-autoDowntimes">
        <thead>
        <tr>
          <th class="is-min"><%- helpers.t('autoDowntimes:reason') %></th>
          <th class="is-min"><%- helpers.t('autoDowntimes:when') %></th>
          <th class="is-min"></th>
          <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
          <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="subdivisions-form-autoDowntimes-actions" colspan="4">
            <input id="<%- idPrefix %>-autoDowntimeReason" type="text" autocomplete="new-password">
            <button id="<%- idPrefix %>-addAutoDowntime" class="btn btn-default" type="button"><i class="fa fa-plus"></i><span><%- helpers.t('autoDowntimes:add') %></span></button>
        </tr>
        </tfoot>
        <tbody id="<%- idPrefix %>-autoDowntimes"></tbody>
      </table>
      <div class="form-group">
        <label for="<%- idPrefix %>-deactivatedAt" class="control-label"><%- helpers.t('PROPERTY:deactivatedAt') %></label>
        <input id="<%- idPrefix %>-deactivatedAt" class="form-control" type="date" name="deactivatedAt" maxlength="10">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
