<form class="subdivisions-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="orgUnitDropdowns-container"></div>
      <div class="form-group">
        <label for="<%- id('type') %>" class="control-label is-required"><%- t('PROPERTY:type') %></label>
        <% ['assembly', 'press', 'storage', 'paintShop', 'other'].forEach(function(type) { %>
        <div class="radio">
          <label><input type="radio" name="type" value="<%- type %>" checked> <%- t('TYPE:' + type) %></label>
        </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- id('name') %>-" class="control-label is-required"><%- t('PROPERTY:name') %></label>
        <input id="<%- id('') %>" class="form-control" type="text" name="name" required maxlength="150">
      </div>
      <% ['prodTaskTags', 'aor'].forEach(function(prop) { %>
      <div class="form-group">
        <label for="<%- id(prop) %>" class="control-label"><%- t('PROPERTY:' + prop) %></label>
        <input id="<%- id(prop) %>" type="text" name="<%- prop %>">
      </div>
      <% }) %>
      <table class="table table-condensed table-with-tfoot subdivisions-form-autoDowntimes">
        <thead>
        <tr>
          <th class="is-min"><%- t('autoDowntimes:reason') %></th>
          <th class="is-min"><%- t('autoDowntimes:when') %></th>
          <th class="is-min"></th>
          <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
          <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="subdivisions-form-autoDowntimes-actions" colspan="5">
            <input id="<%- id('autoDowntimeReason') %>" type="text">
            <button id="<%- id('addAutoDowntime') %>" class="btn btn-default" type="button"><i class="fa fa-plus"></i><span><%- t('autoDowntimes:add') %></span></button>
          </td>
        </tr>
        </tfoot>
        <tbody id="<%- id('autoDowntimes') %>"></tbody>
      </table>
      <div class="form-group">
        <label for="<%- id('deactivatedAt') %>" class="control-label"><%- t('PROPERTY:deactivatedAt') %></label>
        <input id="<%- id('deactivatedAt') %>" class="form-control" type="date" name="deactivatedAt" maxlength="10">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
