<div class="panel panel-primary">
  <div class="panel-heading"><%- t('prodFunctions', 'PANEL:TITLE:details') %></div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('prodFunctions', 'PROPERTY:_id') %></div>
        <div class="prop-value"><%= model._id %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('prodFunctions', 'PROPERTY:label') %></div>
        <div class="prop-value"><%= model.label || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('prodFunctions', 'PROPERTY:direct') %></div>
        <div class="prop-value"><%= model.direct %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('prodFunctions', 'PROPERTY:position') %></div>
        <div class="prop-value"><%= model.position %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('prodFunctions', 'PROPERTY:companies') %></div>
        <div class="prop-value"><%= model.companies %></div>
      </div>
    </div>
  </div>
</div>
