<form class="prodFunctions-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label is-required"><%- helpers.t('PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" autocomplete="new-password" name="_id" autofocus required pattern="^[a-z][a-zA-Z0-9_-]*$" maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label is-required"><%- helpers.t('PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" autocomplete="new-password" name="label" required maxlength="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-direct-true" class="control-label"><%- helpers.t('PROPERTY:direct') %></label>
        <div class="radio">
          <label>
            <input id="<%- idPrefix %>-direct-true" type="radio" name="direct" value="true"> <%- helpers.t('direct:true') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="direct" value="false"> <%- helpers.t('direct:false') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-dirIndirRatio" class="control-label"><%- helpers.t('PROPERTY:dirIndirRatio') %></label>
        <input id="<%- idPrefix %>-dirIndirRatio" class="form-control small" type="number" name="dirIndirRatio" min="0" max="100">
      </div>
      <%- renderColorPicker({idPrefix: idPrefix, property: 'color', label: helpers.t('PROPERTY:color'), value: model.color}) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
