<form class="prodFunctions-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label"><%- t('prodFunctions', 'PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" name="_id" autofocus required pattern="^[a-z][a-zA-Z0-9_-]*$" maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label"><%- t('prodFunctions', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" name="label" required maxlength="100">
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="direct" value="true"> <%- t('prodFunctions', 'direct:true') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="direct" value="false"> <%- t('prodFunctions', 'direct:false') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-position" class="control-label"><%- t('prodFunctions', 'PROPERTY:position') %></label>
        <input id="<%- idPrefix %>-position" class="form-control" type="number" name="position" min="0">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-companies" class="control-label"><%- t('prodFunctions', 'PROPERTY:companies') %></label>
        <input id="<%- idPrefix %>-companies" type="text" name="companies">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
