<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-_id" class="control-label is-required"><%- helpers.t('PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-_id" class="form-control" type="text" autocomplete="new-password" name="_id" required maxlength="40" pattern="^[A-Za-z0-9-]{1,40}$">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- helpers.t('PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" autocomplete="new-password" name="name" required maxlength="100">
      </div>
      <div class="form-group">
        <label class="control-label"><%- helpers.t('PROPERTY:io') %></label>
        <table class="table table-bordered table-condensed">
          <thead>
          <tr>
            <th style="width: 175px"><%- helpers.t('PROPERTY:io._id') %></th>
            <th style="width: 250px"><%- helpers.t('PROPERTY:io.name') %></th>
            <th class="is-min"><%- helpers.t('PROPERTY:io.type') %></th>
            <th style="width: 125px"><%- helpers.t('PROPERTY:io.device') %></th>
            <th style="width: 125px"><%- helpers.t('PROPERTY:io.channel') %></th>
            <th style="width: 100px"><%- helpers.t('PROPERTY:io.min') %></th>
            <th style="width: 100px"><%- helpers.t('PROPERTY:io.max') %></th>
            <th></th>
            <th class="actions"></th>
          </tr>
          </thead>
          <tbody id="<%- idPrefix %>-io">
          <tr>
            <td><input name="io[]._id" class="form-control" type="text" maxlength="40" pattern="^[A-Za-z0-9-_.]{1,40}$"></td>
            <td><input name="io[].name" class="form-control" type="text" maxlength="100"></td>
            <td class="is-min">
              <% ioTypes.forEach(function(ioType, i) { %>
              <label class="radio-inline">
                <input name="io[].type" type="radio" value="<%- ioType %>" <%- i === 0 ? 'checked' : '' %>> <%- helpers.t('ioType:' + ioType) %>
              </label>
              <% }) %>
            </td>
            <td><input name="io[].device" class="form-control" type="number" min="0" max="127"></td>
            <td><input name="io[].channel" class="form-control" type="number" min="0" max="24"></td>
            <td><input name="io[].min" class="form-control" type="number" min="0" max="1024"></td>
            <td><input name="io[].max" class="form-control" type="number" min="0" max="1024"></td>
            <td></td>
            <td class="actions">
              <div class="actions-group">
                <button class="btn btn-default" type="button" data-action="removeIo"><i class="fa fa-times"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button id="<%- idPrefix %>-addIo" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
