<div class="panel panel-default orders-changes">
  <div class="panel-heading">
    <%- t('orders', 'PANEL:TITLE:changes') %>
  </div>
  <% if (changes.length) { %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%- t('orders', 'CHANGES:time') %>
        <th><%- t('orders', 'CHANGES:property') %>
        <th><%- t('orders', 'CHANGES:oldValue') %>
        <th><%- t('orders', 'CHANGES:newValue') %>
      </tr>
    </thead>
    <% if (changes.length > 5) { %>
    <tfoot>
      <tr>
        <td class="orders-changes-more" colspan="4">Pokaż starsze zmiany...</td>
      </tr>
    </tfoot>
    <% } %>
    <% changes.forEach(function(change, i) { %>
    <% if (i % 5 === 0) { %>
    <tbody class="orders-changes-page <%- i ? 'hidden' : '' %>">
    <% } %>
      <tr>
        <td rowspan="<%- change.values.length %>"><%- change.timeText %></td>
        <td class="orders-changes-property"><%= t('orders', 'PROPERTY:' + change.values[0].property) %></td>
        <td><%- renderValueChange(change.values[0], i, 'oldValue') %></td>
        <td><%- renderValueChange(change.values[0], i, 'newValue') %></td>
      </tr>
      <% change.values.forEach(function(valueChange, j) { %>
      <% if (j === 0) return %>
      <tr>
        <td class="orders-changes-property"><%= t('orders', 'PROPERTY:' + valueChange.property) %></td>
        <td><%- renderValueChange(valueChange, i, 'oldValue') %></td>
        <td><%- renderValueChange(valueChange, i, 'newValue') %></td>
      </tr>
      <% }) %>
    <% }) %>
  </table>
  <% } else { %>
  <div class="panel-body">
    <%- t('orders', 'CHANGES:NO_DATA') %>
  </div>
  <% } %>
</div>
