<div class="pos-details">
  <div class="panel panel-<%- model.open ? 'primary' : 'success'%> pos-details-props">
    <div class="panel-heading">
      <%- t('purchaseOrders', 'panel:details:props') %>
    </div>
    <div class="panel-details row">
      <div class="col-md-4">
        <div class="props first">
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:_id') %></div>
            <div class="prop-value"><%- model._id %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:docDate') %></div>
            <div class="prop-value"><%- model.docDate %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:vendorId') %></div>
            <div class="prop-value"><%- model.vendor %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:vendorName') %></div>
            <div class="prop-value"><%= model.vendorName %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="props">
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:pOrg') %></div>
            <div class="prop-value"><%- model.pOrg %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:pGr') %></div>
            <div class="prop-value"><%- model.pGr %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:plant') %></div>
            <div class="prop-value"><%- model.plant %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="props">
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:importedAt') %></div>
            <div class="prop-value"><%- model.importedAtText %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:createdAt') %></div>
            <div class="prop-value"><%- model.createdAtText %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('purchaseOrders', 'PROPERTY:updatedAt') %></div>
            <div class="prop-value"><%- model.updatedAtText || '' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default pos-details-items">
    <div class="panel-heading is-with-actions">
      <%- t('purchaseOrders', 'panel:details:items') %>
      <div class="panel-actions">
        <% if (model.open) { %>
        <div id="<%- idPrefix %>-itemStatus" class="btn-group filter-btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="checkbox" name="status[]" value="open" checked> <%- t('purchaseOrders', 'filter:status:open') %>
          </label>
          <label class="btn btn-default <%- model.open ? '' : 'active' %>">
            <input type="checkbox" name="status[]" value="closed" <%- model.open ? '' : 'checked' %>> <%- t('purchaseOrders', 'filter:status:closed') %>
          </label>
        </div>
        <% } %>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%- t('purchaseOrders', 'PROPERTY:item._id') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:item.nc12') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:item.unit') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:item.qty') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:item.name') %></th>
          <% if (model.open) {%>
          <th><%- t('purchaseOrders', 'PROPERTY:item.schedule.date') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:item.schedule.qty') %></th>
          <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% model.items.forEach(function(item, itemIndex) { %>
        <tr class="is-<%- item.status %>">
          <td colspan="999" class="pos-details-rowSeparator"></td>
        </tr>
        <tr class="pos-details-item is-<%- item.status %>" data-schedule-length="<%- item.schedule.length %>">
          <td rowspan="<%- item.rowSpan %>"><%- item._id %></td>
          <td rowspan="<%- item.rowSpan %>"><%- item.nc12 %></td>
          <td rowspan="<%- item.rowSpan %>"><%- item.unit %></td>
          <td rowspan="<%- item.rowSpan %>" class="pos-details-item-qty"><%- item.qty.toLocaleString() %></td>
          <td rowspan="<%- item.rowSpan %>" class="pos-details-item-name"><%= item.name %></td>
          <% if (model.open) { %>
          <td class="pos-details-item-schedule-date"><%- item.schedule.length ? time.format(item.schedule[0].date, 'YYYY-MM-DD') : '' %></td>
          <td class="pos-details-item-schedule-qty"><%- item.schedule.length ? item.schedule[0].qty.toLocaleString() : '' %></td>
          <td rowspan="<%- item.rowSpan %>" class="actions">
            <% if (item.schedule.length) { %>
            <button type="button" data-order="<%- model._id %>" data-item="<%- item._id %>" class="btn btn-lg btn-default action-print"><i class="fa fa-print"></i></button>
            <% } %>
          </td>
          <% } %>
        </tr>
        <% if (model.open) { %>
        <% item.schedule.forEach(function(schedule, i) { %>
        <% if (i === 0) return %>
        <tr class="pos-details-item-schedule is-<%- item.status %>" data-item-index="<%- itemIndex %>">
          <td class="pos-details-item-schedule-date"><%- time.format(schedule.date, 'YYYY-MM-DD') %></td>
          <td class="pos-details-item-schedule-qty"><%- schedule.qty.toLocaleString() %></td>
        </tr>
        <% }) %>
        <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default pos-details-changes">
    <div class="panel-heading">
      <%- t('purchaseOrders', 'panel:details:changes') %>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%- t('purchaseOrders', 'PROPERTY:changes.date') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:changes.property') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:changes.oldValue') %></th>
          <th><%- t('purchaseOrders', 'PROPERTY:changes.newValue') %></th>
        </tr>
      </thead>
      <tbody>
        <% model.changes.forEach(function(changes, i) { %>
        <% if (i === 1 && model.changes.length > 3) { %>
        <tr>
          <td colspan="999" class="pos-details-changes-more"><%- t('purchaseOrders', 'changes:more') %></td>
        </tr>
        <% } %>
        <tr class="<%- changes.visible ? '' : 'hidden'%>">
          <td colspan="999" class="pos-details-rowSeparator"></td>
        </tr>
        <tr class="pos-details-change <%- changes.visible ? '' : 'hidden'%>">
          <td rowspan="<%- changes.properties.length %>" class="pos-details-changes-date"><%- changes.date %></td>
          <td><%- changes.properties[0].name %></td>
          <td><%- changes.properties[0].oldValue %></td>
          <td class="pos-details-change-value" data-property="<%- changes.properties[0].key %>"><%- changes.properties[0].newValue %></td>
        </tr>
        <% changes.properties.forEach(function(change, i) { %>
        <% if (i === 0) return %>
        <tr class="<%- changes.visible ? '' : 'hidden'%>">
          <td><%- change.name %></td>
          <td><%- change.oldValue %></td>
          <td class="pos-details-change-value" data-property="<%- change.key %>"><%- change.newValue %></td>
        </tr>
        <% }) %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <form id="<%- idPrefix %>-printDialog" class="well pos-printDialog" autocomplete="off">
    <div class="form-group">
      <label for="<%- idPrefix %>-shippingNo"><%- t('purchaseOrders', 'printDialog:shippingNo') %></label>
      <input id="<%- idPrefix %>-shippingNo" name="shippingNo" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-packages"><%- t('purchaseOrders', 'printDialog:packages') %></label>
      <input id="<%- idPrefix %>-packages" name="packages" class="form-control" type="number" required value="1" min="1" max="100">
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-components"><%- t('purchaseOrders', 'printDialog:components') %></label>
      <input id="<%- idPrefix %>-components" name="components" class="form-control" type="number" required value="" min="1" max="99999">
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-remainder"><%- t('purchaseOrders', 'printDialog:remainder') %></label>
      <input id="<%- idPrefix %>-remainder" name="remainder" class="form-control" type="number" required value="0" min="0" max="99999">
    </div>
    <div class="form-group">
      <div id="<%- idPrefix %>-qr" class="btn-group filter-btn-group" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="checkbox" name="qr" value="1"> <%- t('purchaseOrders', 'printDialog:qr') %>
        </label>
      </div>
    </div>
    <div class="form-group">
      <button id="<%- idPrefix %>-print" class="btn btn-primary"><i class="fa fa-print"></i></button>
    </div>
  </form>
  <iframe id="<%- idPrefix %>-pdfPreview"></iframe>
</div>
