<div class="panel panel-default pos-items">
  <div class="panel-heading is-with-actions"><%- helpers.t('panel:items') %></div>
  <% if (toolbarVisible) { %>
  <div class="btn-toolbar">
    <div id="<%- idPrefix %>-statuses" class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="status" value="waiting"> <i class="fa fa-unlock-alt"></i><span><%- helpers.t('items:status:waiting', {count: waitingCount}) %></span>
      </label>
      <label class="btn btn-default" title="<%- helpers.t('items:status:inProgress:title') %>">
        <input type="radio" name="status" value="inProgress">
        <i class="fa fa-star-half-o"></i><span><%- helpers.t('items:status:inProgress', {count: inProgressCount}) %></span>
      </label>
      <label class="btn btn-default">
        <input type="radio" name="status" value="completed"> <i class="fa fa-lock"></i><span><%- helpers.t('items:status:completed', {count: completedCount}) %></span>
      </label>
    </div>
    <div class="btn-group">
      <button id="<%- idPrefix %>-selectAll" class="btn btn-default"><i class="fa fa-check-square"></i><span><%- helpers.t('items:select:all') %></span></button>
      <button id="<%- idPrefix %>-selectNone" class="btn btn-default"><i class="fa fa-square"></i><span><%- helpers.t('items:select:none') %></span></button>
    </div>
    <button id="<%- idPrefix %>-print" class="btn btn-primary"><i class="fa fa-print"></i><span><%- helpers.t('items:print') %></span></button><!--
    //--><button id="<%- idPrefix %>-printVendor" class="btn btn-default"><i class="fa fa-print"></i><span><%- helpers.t('items:printVendor') %></span></button>
  </div>
  <% } %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%- helpers.t('PROPERTY:item._id') %></th>
        <th><%- helpers.t('PROPERTY:item.nc12') %></th>
        <th><%- helpers.t('PROPERTY:item.unit') %></th>
        <th><%- helpers.t('PROPERTY:item.qty') %></th>
        <th><%- helpers.t('PROPERTY:item.printedQty') %></th>
        <% if (open) {%>
        <th><%- helpers.t('PROPERTY:item.schedule.qty') %></th>
        <th><%- helpers.t('PROPERTY:item.schedule.date') %></th>
        <% } %>
        <th><%- helpers.t('PROPERTY:item.name') %></th>
        <% if (vendorNc12Visible) { %>
        <th class="is-min"><%- t('vendorNc12s', 'PROPERTY:value') %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(item, itemIndex) { %>
      <tr class="<%- item.rowClassName %>" data-item-id="<%- item._id %>">
        <td colspan="999" class="pos-rowSeparator"></td>
      </tr>
      <tr class="pos-items-item <%- item.rowClassName %>" data-item-id="<%- item._id %>" data-schedule-length="<%- item.schedule.length %>">
        <td rowspan="<%- item.rowSpan %>" class="pos-items-item-no"><%- +item._id %></td>
        <td rowspan="<%- item.rowSpan %>"><%- item.nc12 %></td>
        <td rowspan="<%- item.rowSpan %>"><%- item.unit %></td>
        <td rowspan="<%- item.rowSpan %>" class="is-number"><%- item.qty.toLocaleString() %></td>
        <td rowspan="<%- item.rowSpan %>" class="pos-items-item-printedQty is-number <%- itemToPrints[item._id] ? 'is-clickable' : '' %>"><span class="pos-items-item-prints"><%- item.printedQty.toLocaleString() %></span></td>
        <% if (open) { %>
        <td class="is-number"><%- item.schedule.length ? item.schedule[0].qty.toLocaleString() : '' %></td>
        <td><%- item.schedule.length ? time.format(item.schedule[0].date, 'L') : '' %></td>
        <% } %>
        <td rowspan="<%- item.rowSpan %>" class="pos-items-item-name"><%= item.name %></td>
        <% if (vendorNc12Visible) { %>
        <td rowspan="<%- item.rowSpan %>" class="is-min">
          <% if (item.vendorNc12) { %>
          <%= item.vendorNc12.value %> <%= item.vendorNc12.unit %>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% if (open) { %>
      <% item.schedule.forEach(function(schedule, i) { %>
      <% if (i === 0) return %>
      <tr class="pos-items-item-schedule <%- item.rowClassName %>" data-item-id="<%- item._id %>" data-item-index="<%- itemIndex %>">
        <td class="is-number"><%- schedule.qty.toLocaleString() %></td>
        <td><%- time.format(schedule.date, 'L') %></td>
      </tr>
      <% }) %>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>
