<table class="table table-bordered table-hover pos-changes-newItems">
  <thead>
    <tr>
      <th><%- helpers.t('PROPERTY:item._id') %>
      <th><%- helpers.t('PROPERTY:item.nc12') %>
      <th><%- helpers.t('PROPERTY:item.unit') %>
      <th><%- helpers.t('PROPERTY:item.qty') %>
      <th><%- helpers.t('PROPERTY:item.name') %>
      <th><%- helpers.t('PROPERTY:item.schedule') %>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item) { %>
    <tr>
      <td><%- item._id %>
      <td><%- item.nc12 %>
      <td><%- item.unit %>
      <td class="is-number"><%- item.qty %>
      <td class="pos-changes-item-name"><%= item.name %>
      <td><%- item.schedule %>
    </tr>
    <% }) %>
  </tbody>
</table>
