<table class="table table-bordered table-condensed table-hover pos-prints">
  <thead>
    <tr>
      <th><%- helpers.t('PROPERTY:print.printedAt') %>
      <th><%- helpers.t('PROPERTY:print.shippingNo') %>
      <th><%- helpers.t('PROPERTY:print.printer') %>
      <th><%- helpers.t('PROPERTY:print.paper') %>
      <th><%- helpers.t('PROPERTY:print.barcode') %>
      <th><%- helpers.t('PROPERTY:print.packageQty') %>
      <th><%- helpers.t('PROPERTY:print.componentQty') %>
      <th><%- helpers.t('PROPERTY:print.remainingQty') %>
      <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% prints.forEach(function(print, i) { %>
    <tr class="pos-prints-print <%- print.cancelled ? 'is-cancelled' : '' %>" data-print-id="<%- print._id %>">
      <td><%- time.format(print.printedAt, 'LLL') %></td>
      <td><%- print.shippingNo || '-' %></td>
      <td><%- print.printer %></td>
      <td><%- print.paperText %></td>
      <td><%- print.barcodeText %></td>
      <td class="is-number"><%- print.packageQty.toLocaleString() %></td>
      <td class="is-number"><%- print.componentQty.toLocaleString() %></td>
      <td class="is-number"><%- print.remainingQty.toLocaleString() %></td>
      <td class="actions">
        <div class="actions-group">
          <a class="btn btn-default action-showPrintPdf" href="/purchaseOrders/<%- orderId %>/prints/<%- print._id %>.pdf" title="<%- helpers.t('prints:showPrintPdf') %>"><i class="fa fa-file-pdf-o"></i></a>
          <% if (user.isAllowedTo('PURCHASE_ORDERS:MANAGE')) { %>
          <button type="button" class="btn btn-<%- print.cancelled ? 'success' : 'danger' %> action-toggleCancelled" title="<%- helpers.t('prints:' + (print.cancelled ? 'restore' : 'cancel')) %>"><i class="fa fa-thumbs-<%- print.cancelled ? 'up' : 'down' %>"></i></button>
          <% } %>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
