<div class="panel panel-<%- model.open ? 'primary' : 'success'%> pos-details-props">
  <div class="panel-heading"><%- helpers.t('panel:props') %></div>
  <div class="panel-details row">
    <div class="col-md-4">
      <%- helpers.props(model, ['_id', 'docDate', 'vendorId', 'vendorName']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, ['pOrg', 'pGr', 'plant']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: 'importedAt', value: model.importedAtText},
        {id: 'createdAt', value: model.createdAtText},
        {id: 'updatedAt', value: model.updatedAtText}
      ]) %>
    </div>
  </div>
</div>
