<div class="osh-report">
  <div id="<%- id('filter') %>" class="filter-container"></div>
  <h3><%- t(`metrics:yearlyAccidents:title`) %></h3>
  <div id="<%- id('yearlyAccidents') %>"></div>
  <h3><%- t(`metrics:trc:title`) %></h3>
  <div id="<%- id('trc') %>"></div>
  <h3><%- t(`metrics:ipr:title`) %></h3>
  <div id="<%- id('ipr') %>"></div>
  <h3><%- t(`metrics:ipp:title`) %></h3>
  <div id="<%- id('ipp') %>"></div>
  <h3><%- t(`metrics:obsPlan:title`) %></h3>
  <div id="<%- id('obsPlan') %>"></div>
  <h3><%- t(`metrics:contact:title`) %></h3>
  <div id="<%- id('contact') %>"></div>
  <h3><%- t(`metrics:riskyObs:title`) %></h3>
  <div id="<%- id('riskyObs') %>"></div>
  <h3><%- t(`metrics:observers:title`) %></h3>
  <div id="<%- id('observers') %>"></div>
</div>
