<div>
  <div class="panel panel-primary pressWorksheets-details">
    <div class="panel-heading">
      <%- panelTitle %>
    </div>
    <div class="panel-details row">
      <div class="col-md-6">
        <%- helpers.props(model, ['type', 'date', 'shift', 'master', 'operator']) %>
      </div>
      <div class="col-md-6">
        <%- helpers.props(model, [
          'createdAt',
          'creator',
          {id: '!operators', value: function(operators)
          {
            if (operators.length)
            {
              return '<ol>' + operators.map(function(op) { return '<li>' + _.escape(op); }) + '</ol>';
            }

            return '';
          }}
        ]) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default pressWorksheets-details-orders">
    <div class="panel-heading">
      <%- helpers.t('PANEL:TITLE:details:orders') %>
    </div>
    <%- renderOrdersList({
      helpers: helpers,
      worksheet: model,
      losses: model.losses,
      orders: model.orders,
      extended: extended
    }) %>
  </div>
</div>
