<form class="pressWorksheets-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div id="<%- idPrefix %>-typeChangeWarning" class="message message-inline message-warning"><%- helpers.t('FORM:typeChangeWarning') %></div>
      <div class="form-group">
        <label class="radio-inline">
          <input id="<%- idPrefix %>-type" type="radio" name="type" value="mech">
          <%- helpers.t('PROPERTY:type:mech') %>
        </label>
        <label class="radio-inline">
          <input type="radio" name="type" value="optics">
          <%- helpers.t('PROPERTY:type:optics') %>
        </label>
        <label class="radio-inline">
          <input type="radio" name="type" value="paintShop">
          <%- helpers.t('PROPERTY:type:paintShop') %>
        </label>
      </div>
      <div class="row">
        <div class="col-md-3 form-group has-required-select2">
          <label for="<%- idPrefix %>-operators" class="control-label is-required"><%- helpers.t('PROPERTY:operators') %></label>
          <input id="<%- idPrefix %>-operators" type="text" autocomplete="new-password" name="operators" required>
        </div>
        <div class="col-md-3 pressWorksheets-form-dateAndShift">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="<%- idPrefix %>-date" class="control-label is-required"><%- helpers.t('PROPERTY:date') %></label>
              <input id="<%- idPrefix %>-date" class="form-control" type="date" name="date" required>
            </div>
            <div class="col-md-6 form-group pressWorksheets-form-group-shift">
              <label for="<%- idPrefix %>-shift-1" class="control-label is-required"><%- helpers.t('PROPERTY:shift') %></label>
              <div class="pressWorksheets-form-group-shift-checkboxes">
                <label class="radio-inline"><input id="<%- idPrefix %>-shift-1" name="shift" type="radio" value="1" checked> <%- t('core', 'SHIFT:1') %></label>
                <label class="radio-inline"><input name="shift" type="radio" value="2"> <%- t('core', 'SHIFT:2') %></label>
                <label class="radio-inline"><input name="shift" type="radio" value="3"> <%- t('core', 'SHIFT:3') %></label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 form-group has-required-select2">
          <label for="<%- idPrefix %>-operator" class="control-label is-required"><%- helpers.t('PROPERTY:operator') %></label>
          <input id="<%- idPrefix %>-operator" type="text" autocomplete="new-password" name="operator" required>
        </div>
        <div class="col-md-3 form-group has-required-select2">
          <label for="<%- idPrefix %>-master" class="control-label is-required"><%- helpers.t('PROPERTY:master') %></label>
          <input id="<%- idPrefix %>-master" type="text" autocomplete="new-password" name="master" required>
        </div>
      </div>
      <div id="<%- idPrefix %>-existingWarning" class="message message-inline message-warning"></div>
      <div class="pressWorksheets-form-group-paintShop">
        <div class="form-group">
          <label for="<%- idPrefix %>-startedAt" class="control-label"><%- helpers.t('PROPERTY:startedAt') %></label>
          <input id="<%- idPrefix %>-startedAt" class="form-control pressWorksheets-form-time" type="time" name="startedAt">
        </div>
        <div class="form-group">
          <label for="<%- idPrefix %>-finishedAt" class="control-label"><%- helpers.t('PROPERTY:finishedAt') %></label>
          <input id="<%- idPrefix %>-finishedAt" class="form-control pressWorksheets-form-time" type="time" name="finishedAt">
        </div>
      </div>
      <div id="<%- idPrefix %>-ordersTable" class="table-responsive"></div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
      <button type="submit" class="btn btn-danger"><%- helpers.t('FROM:ACTION:saveOverlapping') %></button>
    </div>
  </div>
</form>
