<% t = t.forDomain ? t.forDomain('pressWorksheets') : t %>
<table class="table table-bordered table-condensed table-hover pressWorksheets-orders-table">
  <thead>
    <tr>
      <th class="is-min"><%- t('core', '#') %></th>
      <% if (extended) { %>
      <th class="is-min"><%- t('PROPERTY:pressWorksheet') %></th>
      <th class="is-min"><%- t('PROPERTY:user') %></th>
      <th class="is-min"><%- t('PROPERTY:shift') %></th>
      <% } %>
      <th class="is-min"><%- t('PROPERTY:order.nc12') %></th>
      <th><%- t('PROPERTY:order.name') %></th>
      <th><%- t('PROPERTY:order.operationName') %></th>
      <th class="is-min"><%- t('PROPERTY:order.operationNo') %></th>
      <th class="is-min"><%- t('PROPERTY:order.division') %></th>
      <th class="is-min"><%- t('PROPERTY:order.prodLine') %></th>
      <th class="is-min"><%- t('PROPERTY:order.quantityDone') %></th>
      <th class="is-min"><%- t('PROPERTY:order.startedAt') %></th>
      <th class="is-min"><%- t('PROPERTY:order.finishedAt') %></th>
      <th class="is-min"><%- t('PROPERTY:order.opWorkDuration') %></th>
      <% if (typeof worksheet !== 'undefined') { %>
      <th class="is-min"><%- t('PROPERTY:order.machineManHours') %></th>
      <% } %>
      <% if (typeof losses !== 'undefined' && losses) { %>
      <th><%- t('PROPERTY:order.losses') %></th>
      <% } %>
      <th><%- t('PROPERTY:order.downtimes') %></th>
    </tr>
  </thead>
  <% if (typeof worksheet !== 'undefined') { %>
  <tfoot>
  <tr>
    <td colspan="<%- extended ? 14 : 11 %>"></td>
    <td class="is-min is-number"><%- worksheet.machineManHours.toLocaleString() %></td>
    <td colspan="<%- typeof losses !== 'undefined' && losses ? 2 : 1 %>"></td>
  </tr>
  </tfoot>
  <% } %>
  <tbody>
    <% orders.forEach(function(order, i) { %>
    <tr class="<%- i % 2 !== 0 ? '' : 'is-odd' %>">
      <td class="is-min is-number" rowspan="<%- order.notes ? 2 : 1 %>"><%- i + 1 %>.</td>
      <% if (extended) { %>
      <td class="is-min is-number"><a href="#pressWorksheets/<%- order.pressWorksheet._id %>"><%= order.pressWorksheet.rid %></a></td>
      <td class="is-min"><%= order.pressWorksheet.user %></td>
      <td class="is-min"><%- t('core', 'SHIFT', {date: time.format(order.pressWorksheet.date, 'L'), shift: t('core', 'SHIFT:' + order.pressWorksheet.shift)}) %></td>
      <% } %>
      <td class="is-min">
        <% if (order.prodShiftOrder && user.isAllowedTo('PROD_DATA:VIEW')) { %>
        <a href="#prodShiftOrders/<%- order.prodShiftOrder %>"><%= order.nc12 %></a>
        <% } else { %>
        <%= order.nc12 %>
        <% } %>
      </td>
      <td><%= order.name %></td>
      <td><%= order.operationName || '-' %></td>
      <td class="is-min is-number"><%= order.operationNo %></td>
      <td class="is-min"><%= order.division %></td>
      <td class="is-min"><%= order.prodLine %></td>
      <td class="is-min is-number"><%= order.quantityDone.toLocaleString() %></td>
      <td class="is-min"><%= order.startedAt %></td>
      <td class="is-min"><%= order.finishedAt %></td>
      <td class="is-min"><%= order.opWorkDuration %></td>
      <% if (typeof worksheet !== 'undefined') { %>
      <td class="is-min is-number"><%- (order.machineManHours || 0).toLocaleString() %></td>
      <% } %>
      <% if (typeof losses !== 'undefined' && losses) { %>
      <td class="prodWorksheets-orders-lossesTable">
        <% if (order.losses.length) { %>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <% order.losses.forEach(function(loss) { %>
              <th><%= loss.label %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% order.losses.forEach(function(loss) { %>
              <td><%= loss.count %></td>
              <% }) %>
            </tr>
          </tbody>
        </table>
        <% } %>
      </td>
      <% } %>
      <td class="prodWorksheets-orders-lossesTable">
        <% if (order.downtimes.length) { %>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <% order.downtimes.forEach(function(downtime) { %>
              <th>
                <% if (downtime.prodDowntime && user.isAllowedTo('PROD_DOWNTIMES:VIEW')) { %>
                <a href="#prodDowntimes/<%- downtime.prodDowntime %>"><%= downtime.label %></a>
                <% } else { %>
                <%= downtime.label %>
                <% } %>
              </th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% order.downtimes.forEach(function(downtime) { %>
              <td><%= downtime.duration %></td>
              <% }) %>
            </tr>
          </tbody>
        </table>
        <% } %>
      </td>
    </tr>
    <% if (order.notes) { %>
    <tr class="pressWorksheets-orders-notes <%- i % 2 !== 0 ? '' : 'is-odd' %>">
      <td colspan="<%- (extended ? 14 : 11) + (typeof losses !== 'undefined' && losses ? 2 : 1) %>"><%= order.notes %></td>
    </tr>
    <% } %>
    <% }) %>
  </tbody>
</table>
