<table class="table table-bordered table-condensed pressWorksheets-form-orders">
  <thead>
    <tr>
      <th rowspan="<%- rowspan %>"><%- t('core', '#') %></th>
      <th rowspan="<%- rowspan %>" data-column="part">
        <%- helpers.t('PROPERTY:order.part') %>
        <span class="pressWorksheets-form-focusLastPart"><%- helpers.t('FORM:focusLastPart') %></span>
      </th>
      <th rowspan="<%- rowspan %>" data-column="operation"><%- helpers.t('PROPERTY:order.operation') %></th>
      <th class="pressWorksheets-form-min" rowspan="<%- rowspan %>" data-column="prodLine"><%- helpers.t('PROPERTY:order.prodLine') %></th>
      <th class="pressWorksheets-form-min" rowspan="<%- rowspan %>" data-column="quantityDone"><%- helpers.t('PROPERTY:order.quantityDone') %></th>
      <th class="pressWorksheets-form-min pressWorksheets-form-timeCell" rowspan="<%- rowspan %>" data-column="startedAt"><%- helpers.t('PROPERTY:order.startedAt') %></th>
      <th class="pressWorksheets-form-min pressWorksheets-form-timeCell" rowspan="<%- rowspan %>" data-column="finishedAt"><%- helpers.t('PROPERTY:order.finishedAt') %></th>
      <% if (lossReasons.length) { %>
      <th class="pressWorksheets-form-lossCell pressWorksheets-form-min pressWorksheets-form-separator" colspan="<%- lossReasons.length %>"><%- helpers.t('PROPERTY:order.losses') %></th>
      <% } %>
      <% if (downtimeReasons.length) { %>
      <th class="pressWorksheets-form-downtimeCell pressWorksheets-form-min pressWorksheets-form-separator" colspan="<%- downtimeReasons.length %>"><%- helpers.t('PROPERTY:order.downtimes') %></th>
      <% } %>
      <th class="actions" rowspan="<%- rowspan %>"></th>
    </tr>
    <% if (rowspan) { %>
    <tr class="pressWorksheets-form-losses">
      <% lossReasons.forEach(function(lossReason, i) { %>
      <th class="pressWorksheets-form-lossCell <%- i ? '' : 'pressWorksheets-form-separator' %>" data-column="loss.<%- i %>"><span class="pressWorksheets-form-loss"><%- lossReason.label %></span></th>
      <% }) %>
      <% downtimeReasons.forEach(function(downtimeReason, i) { %>
      <th class="pressWorksheets-form-downtimeCell <%- i ? '' : 'pressWorksheets-form-separator' %>" data-column="downtime.<%- i %>" data-type="<%- downtimeReason.type %>"><span class="pressWorksheets-form-loss"><%- downtimeReason.label %></span></th>
      <% }) %>
    </tr>
    <% } %>
  </thead>
  <tbody></tbody>
</table>
