<tr class="pressWorksheets-form-order">
  <td class="pressWorksheets-form-no">0.</td>
  <td><input class="pressWorksheets-form-part" type="text" autocomplete="new-password" name="orders[<%- no %>].part" data-column="part" placeholder="<%- t('pressWorksheets', 'FORM:PLACEHOLDER:part') %>"></td>
  <td><input class="form-control pressWorksheets-form-operation" type="text" autocomplete="new-password" name="orders[<%- no %>].operation" data-column="operation" placeholder="<%- t('pressWorksheets', 'FORM:PLACEHOLDER:operation') %>"></td>
  <td><input class="pressWorksheets-form-prodLine" type="text" autocomplete="new-password" name="orders[<%- no %>].prodLine" data-column="prodLine" placeholder="<%- t('pressWorksheets', 'FORM:PLACEHOLDER:prodLine') %>"></td>
  <td><input class="form-control no-controls pressWorksheets-form-quantityDone" type="number" name="orders[<%- no %>].quantityDone" data-column="quantityDone"></td>
  <td class="pressWorksheets-form-timeCell"><input class="form-control no-controls pressWorksheets-form-time pressWorksheets-form-startedAt" type="text" name="orders[<%- no %>].startedAt" pattern="^[0-9]{2}:[0-9]{2}$" data-column="startedAt"></td>
  <td class="pressWorksheets-form-timeCell"><input class="form-control no-controls pressWorksheets-form-time pressWorksheets-form-finishedAt" type="text" name="orders[<%- no %>].finishedAt" pattern="^[0-9]{2}:[0-9]{2}$" data-column="finishedAt"></td>
  <td class="pressWorksheets-form-timeCell"><input class="form-control no-controls pressWorksheets-form-time pressWorksheets-form-opWorkDuration" type="text" name="orders[<%- no %>].opWorkDuration" pattern="^[0-9]{2}:[0-9]{2}$" data-column="opWorkDuration"></td>
  <% lossReasons.forEach(function(lossReason, i) { %>
  <td class="pressWorksheets-form-lossCell <%- i ? '' : 'pressWorksheets-form-separator' %>"><input class="form-control no-controls pressWorksheets-form-count is-loss" type="number" name="orders[<%- no %>].losses.<%- lossReason._id %>" data-column="loss.<%- i %>" data-reason="<%- lossReason._id %>"></td>
  <% }) %>
  <% downtimeReasons.forEach(function(downtimeReason, i) { %>
  <td class="pressWorksheets-form-downtimeCell <%- i ? '' : 'pressWorksheets-form-separator' %>" data-type="<%- downtimeReason.type %>"><input class="form-control no-controls pressWorksheets-form-count is-downtime" type="number" name="orders[<%- no %>].downtimes.<%- downtimeReason._id %>" data-column="downtime.<%- i %>" data-reason="<%- downtimeReason._id %>"></td>
  <% }) %>
  <td class="actions">
    <div class="actions-group">
      <button type="button" class="btn btn-default pressWorksheets-form-comment"><i class="fa fa-comment"></i></button>
    </div>
  </td>
</tr>
