<form class="well filter-form" autocomplete="off">
  <div class="form-group">
    <label for="<%- idPrefix %>-s"><%- t('pkhdStrategies', 'PROPERTY:s') %></label>
    <input id="<%- idPrefix %>-s" class="form-control no-controls" name="s" type="number" min="0" max="999">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-t"><%- t('pkhdStrategies', 'PROPERTY:t') %></label>
    <input id="<%- idPrefix %>-t" class="form-control no-controls" name="t" type="number" min="0" max="999">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-name"><%- t('pkhdStrategies', 'PROPERTY:name') %></label>
    <input id="<%- idPrefix %>-name" class="form-control" name="name" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('pkhdStrategies', 'filter:submit') %></span></button>
  </div>
</form>
