<form class="well filter-form">
  <% if (!user.data.vendor) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-vendor"><%- helpers.t('PROPERTY:vendor') %></label>
    <input id="<%- idPrefix %>-vendor" name="vendor" type="text" autocomplete="new-password">
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-nc12"><%- helpers.t('PROPERTY:nc12') %></label>
    <input id="<%- idPrefix %>-nc12" class="form-control" name="nc12" type="text" autocomplete="new-password">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= helpers.t('filter:submit') %></span></button>
  </div>
</form>
