<form class="vendorNc12s-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body has-lastElementRow">
      <div class="form-group">
        <label for="<%- idPrefix %>-vendor" class="control-label is-required"><%- helpers.t('PROPERTY:vendor') %></label>
        <% if (editMode || user.data.vendor) { %>
        <p class="form-control-static"><%= model.vendor || user.data.vendor || '?' %></p>
        <% } else { %>
        <input id="<%- idPrefix %>-vendor" type="text" autocomplete="new-password" name="vendor" required>
        <% } %>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-nc12" class="control-label is-required"><%- helpers.t('PROPERTY:nc12') %></label>
        <% if (editMode) { %>
        <p class="form-control-static"><%= model.nc12 %></p>
        <% } else { %>
        <input id="<%- idPrefix %>-nc12" class="form-control" type="text" autocomplete="new-password" name="nc12" required pattern="^[0-9]{12}$">
        <% } %>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <label for="<%- idPrefix %>-value" class="control-label"><%- helpers.t('PROPERTY:value') %></label>
          <input id="<%- idPrefix %>-value" class="form-control" type="text" autocomplete="new-password" name="value">
        </div>
        <div class="col-md-4 form-group">
          <label for="<%- idPrefix %>-unit" class="control-label"><%- helpers.t('PROPERTY:unit') %></label>
          <input id="<%- idPrefix %>-unit" class="form-control" type="text" autocomplete="new-password" name="unit">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
