<form class="aors-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label"><%- t('aors', 'PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" autofocus required maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-description" class="control-label"><%- t('aors', 'PROPERTY:description') %></label>
        <input id="<%- idPrefix %>-description" class="form-control" type="text" name="description" required maxlength="100">
      </div>
      <%- renderColorPicker({idPrefix: idPrefix, property: 'color', label: t('aors', 'PROPERTY:color'), value: model.color}) %>
      <div class="form-group-horizontal">
        <%- renderColorPicker({idPrefix: idPrefix, property: 'refColor', label: t('aors', 'PROPERTY:refColor'), value: model.refColor}) %>
        <div class="form-group">
          <label for="<%- idPrefix %>-refValue" class="control-label"><%- t('aors', 'PROPERTY:refValue') %></label>
          <input id="<%- idPrefix %>-refValue" class="form-control small" type="number" name="refValue" min="0" step="0.1">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
