<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'workplace',
        type: 'select2',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'shortName',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'longName',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'manager',
        type: 'select2',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'coordinators',
        type: 'select2',
        label: 'PROPERTY:'
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
