<table class="table table-bordered table-condensed">
  <thead class="reports-9-table-options">
  <tr></tr>
  <tr>
    <th colspan="4">
      <table>
        <tr>
          <td class="reports-9-table-options-name"><%- t('reports', '9:summary:daysInMonth') %></td>
          <td class="reports-9-table-options-value reports-9-editable <%- summary.customDaysInMonth ? 'reports-9-custom' : '' %>" data-editor="daysInMonth">
            <span class="reports-9-editable-value"><%- summary.daysInMonth.toLocaleString() %></span>
          </td>
        </tr>
        <tr>
          <td class="reports-9-table-options-name"><%- t('reports', '9:summary:shiftsInDay') %></td>
          <td class="reports-9-table-options-value reports-9-editable <%- summary.customShiftsInDay ? 'reports-9-custom' : '' %>" data-editor="shiftsInDay">
            <span class="reports-9-editable-value"><%- summary.shiftsInDay.toLocaleString() %></span>
          </td>
        </tr>
        <tr>
          <td class="reports-9-table-options-name"><%- t('reports', '9:summary:hoursInShift') %></td>
          <td class="reports-9-table-options-value reports-9-editable <%- summary.customHoursInShift ? 'reports-9-custom' : '' %>" data-editor="hoursInShift">
            <span class="reports-9-editable-value"><%- summary.hoursInShift.toLocaleString() %></span>
          </td>
        </tr>
      </table>
    </th>
  </tr>
  </thead>
  <thead>
  <tr>
    <th colspan="4"><%- t('reports', '9:summary:header') %></th>
  </tr>
  <tr>
    <th><%- t('reports', '9:summary:avgQPerShift') %></th>
    <th><%- t('reports', '9:summary:maxOnLine') %></th>
    <th><%- t('reports', '9:summary:lineCount') %></th>
    <th><%- t('reports', '9:summary:maxOnLines') %></th>
  </tr>
  </thead>
  <tbody id="<%- idPrefix %>-summaryRows">
  <% _.forEach(cags, function(cag, cagI) { %>
  <% include summaryTr.ejs %>
  <% }) %>
  </tbody>
</table>
