<div class="reports-9-tables">
  <div id="<%- idPrefix %>-cags" class="reports-9-table-cags">
    <% include cagsTable.ejs %>
  </div>
  <div class="reports-9-table-lines-container">
    <div class="reports-9-table-lines-header"><%- t('reports', '9:lines:header') %></div>
    <div id="<%- idPrefix %>-lines" class="reports-9-table-lines reports-9-table-numeric">
      <% include linesTable.ejs %>
    </div>
  </div>
  <div id="<%- idPrefix %>-summary" class="reports-9-table-summary reports-9-table-numeric">
    <% include summaryTable.ejs %>
  </div>
  <div id="<%- idPrefix %>-months" class="reports-9-table-months reports-9-table-numeric">
    <% include monthsTable.ejs %>
  </div>
</div>
