<div class="paintShopLoad">
  <div id="<%- idPrefix %>-stats" class="paintShopLoad-stats-container"></div>
  <% if (embedded) { %>
  <div class="paintShop-parentControls">
    <button id="<%- idPrefix %>-switchApps" class="btn btn-default" title="<%- t('paintShop', 'parent:switchApps') %>"><i class="fa fa-window-restore"></i></button>
    <button id="<%- idPrefix %>-reboot" class="btn btn-default" title="<%- t('paintShop', 'parent:reboot') %>"><i class="fa fa-refresh"></i></button>
    <button id="<%- idPrefix %>-shutdown" class="btn btn-default" title="<%- t('paintShop', 'parent:shutdown') %>"><i class="fa fa-power-off"></i></button>
  </div>
  <% } %>
</div>
