<div class="reports-2-orders-list is-colored">
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th class="is-min"><%- t('orders', 'PROPERTY:_id') %></th>
          <th class="is-min"><%- t('orders', 'PROPERTY:name') %></th>
          <th class="is-min"><%- t('orders', 'PROPERTY:mrp') %></th>
          <th class="is-min"><%- t('reports', 'orders:qty') %></th>
          <th class="is-min"><%- t('reports', 'orders:cnf:status') %></th>
          <th class="is-min"><%- t('reports', 'orders:dlv:status') %></th>
          <th id="<%- idPrefix %>-dateProperty" class="is-min"><%- t('reports', 'orders:' + dateProperty) %></th>
          <th class="is-min"><%- t('reports', 'orders:cnf:date') %></th>
          <th class="is-min"><%- t('reports', 'orders:dlv:date') %></th>
          <th class="is-min"><%- t('reports', 'orders:planner') %></th>
          <th class="is-min"><%- t('orders', 'PROPERTY:delayReason') %></th>
          <th><%- t('reports', 'orders:comment') %></th>
        </tr>
      </thead>
      <tbody id="<%- idPrefix %>-empty" class="<%- orders.length ? 'hidden' : '' %>">
        <tr>
          <td colspan="12"><%- t('reports', 'orders:empty') %></td>
        </tr>
      </tbody>
      <tbody id="<%- idPrefix %>-orders" class="<%- orders.length ? '' : 'hidden' %>">
        <% orders.forEach(function(order) { %>
        <%- renderOrderRow({
          canViewOrders: canViewOrders,
          order: order
        }) %>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="pagination-container"></div>
</div>
