<tr class="<%- order.className %>" data-id="<%- order.no %>">
  <td class="is-min">
    <% if (canViewOrders) { %>
    <a href="#orders/<%- order.no %>"><%- order.no %></a>
    <% } else { %>
    <%- order.no %>
    <% } %>
  </td>
  <td class="is-min reports-2-orders-name">
    <% if (order.eto) { %><i class="fa fa-wrench" title="ETO"></i><% } %><span><%= order.name %></span>
    <% (order.faps || []).forEach(function(fap) { %>
    <a href="#fap/entries/<%- fap._id %>" class="reports-2-fap label label-<%- fap.label %>"><%- fap.rid %></a>
    <% }) %>
  </td>
  <td class="is-min"><%- order.mrp %></td>
  <td class="is-min is-number reports-2-orders-qty"><%- order.qty %></td>
  <td class="is-min reports-2-confirm reports-2-confirm-<%- order.cnfClassName %>"><%- order.cnfStatus %></td>
  <td class="is-min reports-2-confirm reports-2-confirm-<%- order.dlvClassName %>"><%- order.dlvStatus %></td>
  <td class="is-min"><%- order.date %></td>
  <td class="is-min"><%- order.cnfTime %></td>
  <td class="is-min"><%- order.dlvTime %></td>
  <td class="is-min"><%- order.planner %></td>
  <td class="reports-2-orders-delayReason">
    <%- order.delayReason %>
    <% if (order.m4) { %>(<%- t('orders', 'm4:' + order.m4) + (order.drm ? ('; ' + order.drm) : '') + (order.delayComponent ? ('; ' + order.delayComponent) : '') %>)<% } %>
  </td>
  <td class="reports-2-orders-comment"><%- order.comment %></td>
</tr>
