<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details row">
      <div class="col-md-6">
        <%- helpers.props(model, ['rid', 'survey', 'status', 'division', '!superior', '!owners']) %>
      </div>
      <div class="col-md-6">
        <%- helpers.props(model, ['startDate', 'finishDate', 'createdAt', '!creator', 'updatedAt', '!updater']) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading"><%- helpers.t('PROPERTY:question') %></div>
        <div class="panel-body">
          <p class="opinionSurveyActions-details-text"><%= model.question %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-danger">
        <div class="panel-heading"><%- helpers.t('PROPERTY:problem') %></div>
        <div class="panel-body">
          <p class="opinionSurveyActions-details-text"><%= model.problem %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-warning">
        <div class="panel-heading"><%- helpers.t('PROPERTY:cause') %></div>
        <div class="panel-body">
          <p class="opinionSurveyActions-details-text"><%= model.cause %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-success">
        <div class="panel-heading"><%- helpers.t('PROPERTY:action') %></div>
        <div class="panel-body">
          <p class="opinionSurveyActions-details-text"><%= model.action %></p>
        </div>
      </div>
    </div>
  </div>
</div>
