<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group has-required-select2">
        <label for="<%- idPrefix %>-survey" class="control-label is-required"><%- helpers.t('PROPERTY:survey') %></label>
        <input id="<%- idPrefix %>-survey" name="survey" type="text" autocomplete="new-password" required>
      </div>
      <div class="form-group has-required-select2">
        <label for="<%- idPrefix %>-division" class="control-label is-required"><%- helpers.t('PROPERTY:division') %></label>
        <input id="<%- idPrefix %>-division" name="division" type="text" autocomplete="new-password" required>
      </div>
      <div class="form-group has-required-select2">
        <label for="<%- idPrefix %>-owners" class="control-label is-required"><%- helpers.t('PROPERTY:owners') %></label>
        <input id="<%- idPrefix %>-owners" name="owners" type="text" autocomplete="new-password" required>
      </div>
      <div class="form-group has-required-select2">
        <label for="<%- idPrefix %>-superior" class="control-label is-required"><%- helpers.t('PROPERTY:superior') %></label>
        <input id="<%- idPrefix %>-superior" name="superior" type="text" autocomplete="new-password" required>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-questionList" class="control-label is-required"><%- helpers.t('PROPERTY:question') %></label>
        <input id="<%- idPrefix %>-questionList" type="text" autocomplete="new-password">
        <textarea id="<%- idPrefix %>-question" name="question" class="form-control opinionSurveyActions-form-question" rows="3" required></textarea>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-problem" class="control-label"><%- helpers.t('PROPERTY:problem') %></label>
          <textarea id="<%- idPrefix %>-problem" name="problem" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-cause" class="control-label"><%- helpers.t('PROPERTY:cause') %></label>
          <textarea id="<%- idPrefix %>-cause" name="cause" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-action" class="control-label"><%- helpers.t('PROPERTY:action') %></label>
          <textarea id="<%- idPrefix %>-action" name="action" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-status" class="control-label"><%- helpers.t('PROPERTY:status') %></label>
        <input id="<%- idPrefix %>-status" name="status" type="text" autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-startDate" class="control-label"><%- helpers.t('PROPERTY:startDate') %></label>
        <input id="<%- idPrefix %>-startDate" name="startDate" class="form-control" type="date">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-finishDate" class="control-label"><%- helpers.t('PROPERTY:finishDate') %></label>
        <input id="<%- idPrefix %>-finishDate" name="finishDate" class="form-control" type="date">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
