<div class="<%- cn('tester') %>">
  <div id="<%- id('headers') %>" class="<%- cn('headers') %>">
    <% groups.forEach(group => { %>
      <div class="<%- cn('header') %>">
        <h3><a href="#planning/orderGroups/<%- group._id %>" target="_blank"><%= group.label %></a></h3>
      </div>
    <% }) %>
  </div>
  <div id="<%- id('groups') %>" class="<%- cn('groups') %>">
    <% groups.forEach(function(group) { %>
      <div class="<%- cn('group') %>">
        <table class="<%- cn('orders') %>">
          <% group.orders.forEach(function(order) { %>
          <tbody class="<%- cn('order') %> <%- order.color ? cn('multi') : '' %>" data-id="<%- order._id %>">
          <tr>
            <td class="is-min"><a href="#orders/<%- order._id %>" target="_blank"><%- order._id %></a></td>
            <td class="is-min <%- cn('nc12') %>"><%- order.nc12 %></td>
            <td class="is-min text-right"><%- order.qty.toLocaleString() %></td>
            <td class="is-min">&nbsp;PCE</td>
            <td class="<%- cn('color') %>">
              <% if (order.color) { %>
                <span class="<%- cn('color') %>" style="background: <%- order.color %>"></span>
              <% } %>
            </td>
          </tr>
          <tr>
            <td colspan="5"><%= order.name %></td>
          </tr>
          <% if (order.description && order.description !== order.name) { %>
          <tr>
            <td colspan="5"><%= order.description %></td>
          </tr>
          <% } %>
          </tbody>
          <% }) %>
        </table>
      </div>
    <% }) %>
  </div>
</div>
