<tr>
  <td class="is-min behaviorObsCards-form-checkbox">
    <input type="hidden" name="observations[<%- i %>].behavior" value="<%- observation.id %>">
    <input type="checkbox" name="observations[<%- i %>].enabled" value="1" <%- observation.enabled ? 'checked' : '' %>>
    <%= observation.behavior %>
  </td>
  <td class="is-min behaviorObsCards-form-radio"><input type="radio" name="observations[<%- i %>].safe" value="1" <%- observation.safe === true ? 'checked' : '' %> <%- observation.enabled ? 'required' : '' %>></td>
  <td class="is-min behaviorObsCards-form-radio"><input type="radio" name="observations[<%- i %>].safe" value="0" <%- observation.safe === false ? 'checked' : '' %> <%- observation.enabled ? 'required' : '' %>></td>
  <td class="behaviorObsCards-form-textarea"><textarea class="form-control" name="observations[<%- i %>].observation" rows="2" <%- observation.enabled ? 'required' : '' %>><%= observation.observation %></textarea></td>
  <td class="behaviorObsCards-form-textarea"><textarea class="form-control" name="observations[<%- i %>].cause" rows="2" <%- observation.enabled ? 'required' : '' %>><%= observation.cause %></textarea></td>
  <td class="is-min behaviorObsCards-form-radio"><input type="radio" name="observations[<%- i %>].easy" value="1" <%- observation.easy === true ? 'checked' : '' %> <%- observation.enabled ? 'required' : '' %>></td>
  <td class="is-min behaviorObsCards-form-radio"><input type="radio" name="observations[<%- i %>].easy" value="0" <%- observation.easy === false ? 'checked' : '' %> <%- observation.enabled ? 'required' : '' %>></td>
</tr>
