<tr>
  <td class="behaviorObsCards-form-textarea behaviorObsCards-form-difficulty">
    <textarea class="form-control" name="difficulties[<%- i %>].problem" rows="2" <%- difficulty.behavior !== null || difficulty.solution ? 'required' : '' %>><%= difficulty.problem %></textarea>
  </td>
  <td class="behaviorObsCards-form-textarea">
    <textarea class="form-control" name="difficulties[<%- i %>].solution" rows="2"><%= difficulty.solution %></textarea>
  </td>
  <td class="is-min behaviorObsCards-form-radio">
    <input type="radio" name="difficulties[<%- i %>].behavior" value="1" <%- difficulty.behavior === true ? 'checked' : '' %> <%- difficulty.problem ? 'required' : '' %>>
  </td>
  <td class="is-min behaviorObsCards-form-radio">
    <input type="radio" name="difficulties[<%- i %>].behavior" value="0" <%- difficulty.behavior === false ? 'checked' : '' %> <%- difficulty.problem ? 'required' : '' %>>
    <input type="radio" name="difficulties[<%- i %>].behavior" value="-1" tabindex="-1" <%- difficulty.behavior === null ? 'checked' : '' %> <%- difficulty.problem ? 'required' : '' %>>
  </td>
</tr>
