<div class="behaviorObsCards-report">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <% metrics.forEach(function(metric) { %>
  <h3><%- t('behaviorObsCards', 'report:title:' + metric) %></h3>
  <div id="<%- idPrefix %>-<%- metric %>" class="behaviorObsCards-report-<%- metric %>"></div>
  <% }) %>
</div>
