<div class="behaviorObsCards-details">
  <div class="panel panel-info behaviorObsCards-details-props">
    <div class="panel-heading">
      <%- t('behaviorObsCards', 'PANEL:TITLE:details') %>
    </div>
    <div class="panel-details">
      <div class="row">
        <div class="col-md-4">
          <div class="props first">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:section') %></div>
              <div class="prop-value"><%= model.section %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:line') %></div>
              <div class="prop-value"><%= model.line || '-' %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:position') %></div>
              <div class="prop-value"><%= model.position || '-' %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:observer') %></div>
              <div class="prop-value"><%- model.observer %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:creator') %></div>
              <div class="prop-value"><%- model.creator %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:updater') %></div>
              <div class="prop-value"><%- model.updater %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:date') %></div>
              <div class="prop-value"><%- model.date %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:createdAt') %></div>
              <div class="prop-value"><%- model.createdAt %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:updatedAt') %></div>
              <div class="prop-value"><%- model.updatedAt %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (model.observations.length) { %>
  <div class="panel panel-default">
    <div class="panel-heading"><%- t('behaviorObsCards', 'PANEL:TITLE:observations') %></div>
    <table class="table table-bordered table-hover behaviorObsCards-details-observations">
      <thead>
      <tr>
        <th class="is-min"><%- t('behaviorObsCards', 'PROPERTY:observations:category') %></th>
        <th class="is-min text-center">
          <%- t('behaviorObsCards', 'PROPERTY:observations:safe:true') %>
          /<br>
          <%- t('behaviorObsCards', 'PROPERTY:observations:safe:false') %>
        </th>
        <th><%- t('behaviorObsCards', 'PROPERTY:observations:observation') %></th>
        <th><%- t('behaviorObsCards', 'PROPERTY:observations:cause') %></th>
        <th class="is-min text-center">
          <%- t('behaviorObsCards', 'PROPERTY:observations:easy:true') %>
          /<br>
          <%- t('behaviorObsCards', 'PROPERTY:observations:easy:false') %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% model.observations.forEach(function(observation) { %>
      <tr>
        <td class="is-min"><%= observation.behavior %></td>
        <td class="is-min text-center"><%- t('behaviorObsCards', 'PROPERTY:observations:safe:' + observation.safe) %></td>
        <td class="text-lines"><%= observation.observation %></td>
        <td class="text-lines"><%= observation.cause %></td>
        <td class="is-min text-center"><%- t('behaviorObsCards', 'PROPERTY:observations:easy:' + observation.easy) %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <% if (model.risks.length) { %>
  <div class="panel panel-danger">
    <div class="panel-heading"><%- t('behaviorObsCards', 'PANEL:TITLE:risks') %></div>
    <table class="table table-bordered table-hover behaviorObsCards-details-risks">
      <thead>
      <tr>
        <th><%- t('behaviorObsCards', 'PROPERTY:risks:risk') %></th>
        <th><%- t('behaviorObsCards', 'PROPERTY:risks:cause') %></th>
        <th class="is-min text-center">
          <%- t('behaviorObsCards', 'PROPERTY:risks:easy:true') %>
          /<br>
          <%- t('behaviorObsCards', 'PROPERTY:risks:easy:false') %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% model.risks.forEach(function(risk) { %>
      <tr>
        <td class="text-lines"><%= risk.risk %></td>
        <td class="text-lines"><%= risk.cause %></td>
        <td class="is-min text-center"><%- t('behaviorObsCards', 'PROPERTY:risks:easy:' + risk.easy) %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <p class="message message-inline message-<%- model.easyDiscussed ? 'info' : 'default' %>">
    <i class="fa fa-thumbs-<%- model.easyDiscussed ? 'up' : 'down' %>"></i> <%- t('behaviorObsCards', 'PROPERTY:easyDiscussed') %>
  </p>
  <% if (model.difficulties.length) { %>
  <div class="panel panel-warning">
    <div class="panel-heading"><%- t('behaviorObsCards', 'PANEL:TITLE:difficulties') %></div>
    <table class="table table-bordered table-hover behaviorObsCards-details-difficulties">
      <thead>
      <tr>
        <th><%- t('behaviorObsCards', 'PROPERTY:difficulties:problem') %></th>
        <th><%- t('behaviorObsCards', 'PROPERTY:difficulties:solution') %></th>
        <th class="is-min text-center">
          <%- t('behaviorObsCards', 'PROPERTY:difficulties:behavior:true') %>
          /<br>
          <%- t('behaviorObsCards', 'PROPERTY:difficulties:behavior:false') %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% model.difficulties.forEach(function(difficulty) { %>
      <tr>
        <td class="text-lines"><%= difficulty.problem %></td>
        <td class="text-lines"><%= difficulty.solution %></td>
        <td class="is-min text-center"><%- t('behaviorObsCards', 'PROPERTY:difficulties:behavior:' + difficulty.behavior) %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>
