<div class="behaviorObsCards-details">
  <div class="panel panel-info behaviorObsCards-details-props">
    <div class="panel-heading"><%- helpers.t('core', 'PANEL:TITLE:details') %></div>
    <div class="panel-details">
      <div class="row">
        <div class="col-md-4">
          <%- helpers.props(model, {
            first: true,
            props: ['section', 'line', 'position', 'companyName']
          }) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['date', '!observer', 'observerSection', '!superior']) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['createdAt', '!creator', 'updatedAt', '!updater']) %>
        </div>
      </div>
    </div>
  </div>
  <% if (model.observations.length) { %>
  <% include observationsPanel.ejs %>
  <% } %>
  <% if (model.risks.length || model.nearMiss) { %>
  <% include risksPanel.ejs %>
  <% } %>
  <% if (showEasyDiscussed) { %>
  <p class="message message-inline message-<%- model.easyDiscussed ? 'info' : 'default' %>">
    <i class="fa fa-thumbs-<%- model.easyDiscussed ? 'up' : 'down' %>"></i> <%- helpers.t('PROPERTY:easyDiscussed') %>
  </p>
  <% } %>
  <% if (model.difficulties.length || model.suggestion) { %>
  <% include difficultiesPanel.ejs %>
  <% } %>
</div>
