<div class="behaviorObsCards-details">
  <div class="panel panel-info behaviorObsCards-details-props">
    <div class="panel-heading">
      <%- t('behaviorObsCards', 'PANEL:TITLE:details') %>
    </div>
    <div class="panel-details">
      <div class="row">
        <div class="col-md-4">
          <div class="props first">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:section') %></div>
              <div class="prop-value"><%= model.section %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:line') %></div>
              <div class="prop-value"><%= model.line || '-' %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:position') %></div>
              <div class="prop-value"><%= model.position || '-' %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:observer') %></div>
              <div class="prop-value"><%- model.observer %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:superior') %></div>
              <div class="prop-value"><%- model.superior %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:creator') %></div>
              <div class="prop-value"><%- model.creator %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:updater') %></div>
              <div class="prop-value"><%- model.updater %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:date') %></div>
              <div class="prop-value"><%- model.date %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:createdAt') %></div>
              <div class="prop-value"><%- model.createdAt %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('behaviorObsCards', 'PROPERTY:updatedAt') %></div>
              <div class="prop-value"><%- model.updatedAt %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (model.observations.length) { %>
  <% include observationsPanel.ejs %>
  <% } %>
  <% if (model.risks.length) { %>
  <% include risksPanel.ejs %>
  <% } %>
  <% if (showEasyDiscussed) { %>
  <p class="message message-inline message-<%- model.easyDiscussed ? 'info' : 'default' %>">
    <i class="fa fa-thumbs-<%- model.easyDiscussed ? 'up' : 'down' %>"></i> <%- t('behaviorObsCards', 'PROPERTY:easyDiscussed') %>
  </p>
  <% } %>
  <% if (model.difficulties.length) { %>
  <% include difficultiesPanel.ejs %>
  <% } %>
</div>
