<form class="well filter-form behaviorObsCards-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    labels: {text: t('PROPERTY:date'), ranges: true}
  }) %>
  <div class="form-group" data-filter="user">
    <div class="filter-radioLabels">
      <label>
        <input name="userType" type="radio" value="mine">
        <%- t('filter:user:mine') %>
      </label><label>
        <input name="userType" type="radio" value="observer">
        <%- t('filter:user:observer') %>
      </label><label>
        <input name="userType" type="radio" value="superior">
        <%- t('filter:user:superior') %>
      </label><label>
        <input name="userType" type="radio" value="others">
        <%- t('filter:user:others') %>
      </label>
    </div>
    <input id="<%- idPrefix %>-user" name="user" type="text" autocomplete="new-password">
  </div>
  <div class="form-group" data-filter="observerSection">
    <label for="<%- idPrefix %>-observerSection"><%- t('filter:observerSection') %></label>
    <select id="<%- idPrefix %>-observerSection" name="observerSection[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="width: 175px">
      <% sections.forEach(function(section) { %>
      <option value="<%- section._id %>"><%= section.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group" data-filter="section">
    <label for="<%- idPrefix %>-section"><%- t('filter:section') %></label>
    <select id="<%- idPrefix %>-section" name="section[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="width: 175px">
      <% sections.forEach(function(section) { %>
      <option value="<%- section._id %>"><%= section.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group" data-filter="line">
    <label for="<%- idPrefix %>-line"><%- t('PROPERTY:line') %></label>
    <input id="<%- idPrefix %>-line" name="line" type="text" autocomplete="new-password">
  </div>
  <div class="form-group" data-filter="anyHard">
    <label><%- t('filter:anyHard') %></label>
    <div id="<%- idPrefix %>-anyHard" class="btn-group filter-btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="checkbox" name="anyHard[]" value="observations"> <%- t('filter:anyHard:observations') %>
      </label>
      <label class="btn btn-default">
        <input type="checkbox" name="anyHard[]" value="risks"> <%- t('filter:anyHard:risks') %>
      </label>
    </div>
  </div>
  <div class="form-group" data-filter="riskyBehaviors">
    <label for="<%- idPrefix %>-riskyBehaviors"><%- t('PROPERTY:riskyBehaviors') %></label>
    <select id="<%- idPrefix %>-riskyBehaviors" name="riskyBehaviors[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15">
      <% behaviors.forEach(function(behavior) { %>
      <option value="<%= behavior._id %>"><%= behavior.name %></option>
      <% }) %>
      <option value="OTHER"><%- t('filter:riskyBehaviors:other') %></option>
    </select>
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
