<form class="behaviorObsCards-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-lg-4 has-required-select2">
          <label for="<%- idPrefix %>-observer" class="control-label is-required"><%- helpers.t('PROPERTY:observer') %></label>
          <input id="<%- idPrefix %>-observer" type="text" autocomplete="new-password" name="observer" required>
        </div>
        <div class="form-group col-lg-4 has-required-select2">
          <label for="<%- idPrefix %>-observerSection" class="control-label is-required"><%- helpers.t('FORM:observerSection') %></label>
          <input id="<%- idPrefix %>-observerSection" type="text" autocomplete="new-password" name="observerSection" required>
        </div>
        <div class="form-group col-lg-4 has-required-select2">
          <label for="<%- idPrefix %>-superior" class="control-label is-required"><%- helpers.t('FORM:superior') %></label>
          <input id="<%- idPrefix %>-superior" type="text" autocomplete="new-password" name="superior" required>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4" style="display: flex">
          <div class="form-group">
            <label for="<%- idPrefix %>-date" class="control-label is-required"><%- helpers.t('PROPERTY:date') %></label>
            <input id="<%- idPrefix %>-date" class="form-control" type="date" name="date" required min="2017-01-01" max="<%- time.format(Date.now(), 'YYYY-MM-DD') %>">
          </div>
          <div class="form-group" style="margin-left: 15px">
            <label class="control-label is-required"><%- helpers.t('PROPERTY:shift') %></label>
            <div id="<%- idPrefix %>-shift" class="btn-group filter-btn-group" data-toggle="buttons">
              <% [1, 2, 3].forEach(function(shift) { %>
              <label class="btn btn-default">
                <input type="radio" name="shift" value="<%- shift %>" required> <%- t('core', 'SHIFT:' + shift) %>
              </label>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 form-group has-required-select2">
          <label for="<%- idPrefix %>-company" class="control-label is-required"><%- helpers.t('FORM:company') %></label>
          <input id="<%- idPrefix %>-company" type="text" autocomplete="new-password" name="company" required>
        </div>
        <div class="col-lg-4 form-group">
          <label for="<%- idPrefix %>-companyName" class="control-label is-required"><%- helpers.t('FORM:companyName') %></label>
          <input id="<%- idPrefix %>-companyName" class="form-control" type="text" autocomplete="new-password" name="companyName" required>
        </div>
      </div>
      <hr style="margin-top: 5px">
      <h4 class="control-label"><%- helpers.t('PANEL:TITLE:where') %></h4>
      <div class="row">
        <div class="form-group col-lg-4 has-required-select2">
          <label for="<%- idPrefix %>-section" class="control-label is-required"><%- helpers.t('PROPERTY:section') %></label>
          <input id="<%- idPrefix %>-section" type="text" autocomplete="new-password" name="section" required>
        </div>
        <div class="form-group col-lg-4">
          <label for="<%- idPrefix %>-line" class="control-label"><%- helpers.t('PROPERTY:line') %></label>
          <input id="<%- idPrefix %>-line" type="text" autocomplete="new-password" name="line">
        </div>
        <div class="form-group col-lg-4">
          <label for="<%- idPrefix %>-position" class="control-label is-required"><%- helpers.t('PROPERTY:position') %></label>
          <input id="<%- idPrefix %>-position" class="form-control" type="text" autocomplete="new-password" name="position" required>
        </div>
      </div>
      <hr style="margin-top: 5px">
      <h4 class="control-label"><%- helpers.t('PANEL:TITLE:observations') %></h4>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed behaviorObsCards-form-observations">
          <thead>
          <tr>
            <th class="is-min"><%- helpers.t('PROPERTY:observations:category') %></th>
            <th class="is-min text-center"><%- helpers.t('PROPERTY:observations:safe:true') %></th>
            <th class="is-min text-center"><%- helpers.t('PROPERTY:observations:safe:false') %></th>
            <th class="behaviorObsCards-form-half"><label class="control-label is-required"><%- helpers.t('PROPERTY:observations:observation') %></label></th>
            <th class="behaviorObsCards-form-half"><label class="control-label is-required"><%- helpers.t('PROPERTY:observations:cause') %></label></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:observations:easy:true') %></label></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:observations:easy:false') %></label></th>
          </tr>
          </thead>
          <tbody id="<%- idPrefix %>-observations"></tbody>
        </table>
      </div>
      <button id="<%- idPrefix %>-addObservation" class="btn btn-default behaviorObsCards-form-button" type="button">
        <i class="fa fa-plus"></i><span><%- helpers.t('FORM:BTN:add') %></span>
      </button>
      <hr>
      <h4 class="control-label"><%- helpers.t('PANEL:TITLE:risks') %></h4>
      <p id="<%- idPrefix %>-nearMiss" class="message message-inline message-error">
        <input class="behaviorObsCards-form-rid-required" name="nearMiss" type="text" autocomplete="new-password" tabindex="-1">
        <span class="behaviorObsCards-form-rid-message">
          <% if (model.nearMiss) { %>
          <%- helpers.t('FORM:MSG:nearMiss:edit', {rid: model.nearMiss}) %>
          <% } else { %>
          <%- helpers.t('FORM:MSG:nearMiss:add') %>
          <% } %>
        </span>
      </p>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
          <tr>
            <th class="behaviorObsCards-form-risk"><label class="control-label"><%- helpers.t('PROPERTY:risks:risk') %></label></th>
            <th><%- helpers.t('PROPERTY:risks:cause') %></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:risks:easy:true') %></label></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:risks:easy:false') %></label></th>
          </tr>
          </thead>
          <tbody id="<%- idPrefix %>-risks"></tbody>
        </table>
      </div>
      <button id="<%- idPrefix %>-addRisk" class="btn btn-default behaviorObsCards-form-button" type="button">
        <i class="fa fa-plus"></i><span><%- helpers.t('FORM:BTN:add') %></span>
      </button><!--
      //--><button id="<%- idPrefix %>-removeRisk" class="btn btn-default behaviorObsCards-form-button" type="button">
        <i class="fa fa-remove"></i><span><%- helpers.t('FORM:BTN:remove') %></span>
      </button>
      <hr>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="easyDiscussed" value="true" required>
          <%- helpers.t('PROPERTY:easyDiscussed') %>
        </label>
      </div>
      <hr>
      <h4 class="control-label"><%- helpers.t('PANEL:TITLE:difficulties') %></h4>
      <p id="<%- idPrefix %>-nearMiss" class="message message-inline message-warning">
        <input class="behaviorObsCards-form-rid-required" name="suggestion" type="text" autocomplete="new-password" tabindex="-1">
        <span class="behaviorObsCards-form-rid-message">
          <% if (model.suggestion) { %>
          <%- helpers.t('FORM:MSG:suggestion:edit', {rid: model.suggestion}) %>
          <% } else { %>
          <%- helpers.t('FORM:MSG:suggestion:add') %>
          <% } %>
        </span>
      </p>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
          <tr>
            <th class="behaviorObsCards-form-difficulty"><label class="control-label"><%- helpers.t('PROPERTY:difficulties:problem') %></label></th>
            <th><%- helpers.t('PROPERTY:difficulties:solution') %></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:difficulties:behavior:true') %></label></th>
            <th class="is-min text-center"><label class="control-label is-required"><%- helpers.t('PROPERTY:difficulties:behavior:false') %></label></th>
          </tr>
          </thead>
          <tbody id="<%- idPrefix %>-difficulties"></tbody>
        </table>
      </div>
      <button id="<%- idPrefix %>-addDifficulty" class="btn btn-default behaviorObsCards-form-button" type="button">
        <i class="fa fa-plus"></i><span><%- helpers.t('FORM:BTN:add') %></span>
      </button><!--
      //--><button id="<%- idPrefix %>-removeDifficulty" class="btn btn-default behaviorObsCards-form-button" type="button">
        <i class="fa fa-remove"></i><span><%- helpers.t('FORM:BTN:remove') %></span>
      </button>
    </div>
    <div class="panel-footer">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
