<div class="pfepEntries-details">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%- panelTitle %>
        </div>
        <div class="panel-details">
          <div class="props first">
            <% [
                'nc12',
                'description',
                'vendor',
                'unit',
                'packType',
                'externalPackQty',
                'internalPackQty',
                'packLength',
                'packWidth',
                'packHeight',
                'packGrossWeight',
                'componentNetWeight',
                'componentGrossWeight',
                'qtyPerLayer',
                'qtyOnPallet',
                'palletLength',
                'palletWidth',
                'palletHeight',
                'moq',
                'roundingValue',
                'notes'
              ].forEach(function(p) { %>
              <div class="prop">
                <div class="prop-name"><%- t('pfepEntries', 'PROPERTY:' + p) %></div>
                <div class="prop-value">
                  <% if (typeof model[p] === 'number') { %>
                  <%- model[p].toLocaleString() %>
                  <% } else { %>
                  <%= model[p] || '-' %>
                  <% } %>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%- t('pfepEntries', 'PANEL:TITLE:details:extra') %>
        </div>
        <div class="panel-details">
          <%- helpers.props(model, ['createdAt', '!creator', 'updatedAt', '!updater']) %>
        </div>
      </div>
    </div>
  </div>
</div>
