<div class="panel panel-<%- model.className %>">
  <div class="panel-heading">
    <%- panelTitle %>
  </div>
  <div class="panel-details row">
    <div class="col-md-4">
      <%- helpers.props(model, ['status', 'type', 'name', 'sn']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, ['interval', 'lastDate', 'nextDate', 'remaining']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, ['!users']) %>
    </div>
  </div>
</div>
