<div class="panel panel-default toolcal-tools-history">
  <div class="panel-heading"><%- helpers.t('PANEL:TITLE:changes') %></div>
  <% items.forEach(function(item, itemIndex) { %>
  <% include historyItem.ejs %>
  <% }) %>
  <form class="toolcal-tools-history-form">
    <div class="form-group">
      <label for="<%- idPrefix %>-comment" class="control-label"><%- helpers.t('PROPERTY:comment') %></label>
      <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
    </div>
    <div class="panel-footer">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary">
        <i class="fa fa-comment-o"></i><span><%- helpers.t('history:submit') %></span>
      </button>
    </div>
  </form>
</div>
