<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, ['base', 'name']) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:steps') %></div>
    <div class="panel-body trw-programs-details-steps">
      <% model.steps.forEach(function(step, i) { %>
      <div class="trw-programs-details-step">
        <div class="trw-programs-details-step-no"><%- i + 1 %></div>
        <% ['source', 'target', 'length', 'color'].forEach(function(prop) { %>
        <div class="trw-programs-details-step-prop">
          <div class="trw-programs-details-step-label"><%- helpers.t('PROPERTY:steps.' + prop) %></div>
          <div class="trw-programs-details-step-value"><%= step[prop] %></div>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </div>
</div>
