<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WMES PO LABELS PAPER=<%- paper %> BARCODE=<%- barcode %></title>
  <style type="text/css">
    * {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    body {
      font-family: Verdana, sans-serif;
      text-align: center;
      text-rendering: optimizeLegibility;
      letter-spacing: 0;
    }
    .page {
      position: relative;
      padding: 3.5mm 3mm 0 3mm;
    }
    .page + .page {
      page-break-before: always;
    }
    table {
      border-collapse: collapse;
      border: 0;
      width: 100%;
    }
    th {
      font-size: 3mm;
      font-weight: normal;
      text-transform: uppercase;
      padding: 3mm 0 0 0;
    }
    th:first-child,
    th:last-child {
      width: 1%;
      white-space: nowrap;
    }
    td {
      font-size: 4mm;
      padding: 0;
    }
    .qr {
      padding: 0;
    }
    .qr .barcode-container {
      margin: 0;
      position: absolute;
      top: 6mm;
      left: 5mm;
    }
    .qr table {
      position: absolute;
      top: 5mm;
      left: 35mm;
      width: 1%;
      text-align: left;
      white-space: nowrap;
    }
    .qr th {
      padding: 0 0 0 5mm;
    }
    .qr td {
      padding: 1mm 0 5mm 5mm;
    }
    .qr tr:last-child td {
      padding-bottom: 0;
    }
  </style>
</head>
<body>
<% pages.forEach(function(page) { %>
<div class="page <%- barcode %>">
  <div class="barcode-container">
    <img src="data:image/png;base64,<%- page.png %>">
  </div>
  <table>
    <% if (barcode === 'qr') { %>
    <tr>
      <th>Order no</th>
      <th>Line no</th>
    </tr>
    <tr>
      <td><%- page.orderNo || '-' %></td>
      <td><%- page.itemNo || '-' %></td>
    </tr>
    <tr>
      <th>Product 12NC</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td><%- page.nc12 || '-' %></td>
      <td><%- page.quantity || '-' %></td>
    </tr>
    <tr>
      <th>Shipping no</th>
      <th>Vendor no</th>
    </tr>
    <tr>
      <td><%- page.shippingNo || '-' %></td>
      <td><%- page.vendorNo || '-' %></td>
    </tr>
    <% } else { %>
    <tr>
      <th>Order no</th>
      <th>Product 12NC</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td><%- page.orderNo || '-' %></td>
      <td><%- page.nc12 || '-' %></td>
      <td><%- page.quantity || '-' %></td>
    </tr>
    <tr>
      <th>Line no</th>
      <th>Shipping no</th>
      <th>Vendor no&nbsp;</th>
    </tr>
    <tr>
      <td><%- page.itemNo || '-' %></td>
      <td><%- page.shippingNo || '-' %></td>
      <td><%- page.vendorNo || '-' %></td>
    </tr>
    <% } %>
  </table>
</div>
<% }) %>
</body>
</html>
