<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WMES PO=<%- orderId %> PRINT=<%- printId %></title>
  <link rel="stylesheet" href="<%- mainCssFile %>">
  <style type="text/css">
  body {
    overflow: hidden;
    margin: 0;
  }
  #pdf {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  </style>
</head>
<body>
<iframe id="pdf" src="about:blank"></iframe>
<i id="loading" class="fa fa-spinner fa-spin"></i>
<script>

function printPdf(iframe)
{
  try
  {
    iframe.contentWindow.focus();
    iframe.contentWindow.print();
  }
  catch (err)
  {
    alert(err.message);
  }
}

window.onload = function()
{
  var iframe = document.getElementById('pdf');

  iframe.src = '/purchaseOrders/<%- orderId %>/prints/<%- printId %>.pdf';

  iframe.onload = function()
  {
    var loading = document.getElementById('loading');

    if (iframe.src.indexOf('pdf') === -1)
    {
      loading.classList.remove('fa-spin');
      loading.classList.add('error');

      return;
    }

    loading.style.color = '#00af00';

    setTimeout(function()
    {
      loading.parentNode.removeChild(loading);
      iframe.style.visibility = 'visible';
      printPdf(iframe);
    }, 333);
  };
};

window.onbeforeunload = function()
{
  if (window.opener && window.opener.WMES_PO_PRINT_DONE)
  {
    window.opener.WMES_PO_PRINT_DONE();
  }
};

</script>
</body>
</html>
