<div class="opinionSurveyOmrResults-details">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'status',
        'survey',
        'pageNumber',
        {id: 'inputFileName', value: model.inputDirName + '\\' + model.inputFileName},
        'startedAt',
        'finishedAt',
        'duration',
        {id: '!scanTemplate', value: function(scanTemplate)
        {
          if (scanTemplate)
          {
            return '<a href="#opinionSurveyScanTemplates/' +  scanTemplate._id + '">' + _.escape(scanTemplate.name) + '</a>';
          }

          return '';
        }},
        'qrCode',
        'matchScore',
        'errorCode',
        'errorMessage'
      ]) %>
    </div>
  </div>
  <div class="opinionSurveyOmrResults-details-tabs">
    <ul class="nav nav-tabs">
      <% ['omrPreview', 'omrInput', 'omrOutput', 'answers'].forEach(function(tab) { %>
      <li data-tab="<%- tab %>"><a href="#<%- idPrefix %>-<%- tab %>" data-toggle="tab"><%- t('opinionSurveyOmrResults', 'tabs:' + tab) %></a></li>
      <% }) %>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active opinionSurveyOmrResults-omrPreview-tab" id="<%- idPrefix %>-omrPreview">
        <div class="opinionSurveyOmrResults-omrPreview-wrapper">
          <img src="/opinionSurveys/omrResults/<%- model._id %>.jpg" width="1280" alt="">
          <% circles.forEach(function(circle) { %>
          <div class="opinionSurveyOmrResults-omrPreview-circle <%- circle.marked ? 'is-marked' : '' %>" style="top: <%- circle.top %>px; left: <%- circle.left %>px; width: <%- circle.width %>px; height: <%- circle.height %>px;"></div>
          <% }) %>
        </div>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-omrInput">
        <% if (model.omrInput) { %>
        <pre><%= JSON.stringify(model.omrInput, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-omrOutput">
        <% if (model.omrOutput) { %>
        <pre><%= JSON.stringify(model.omrOutput, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-answers">
        <% if (model.answers) { %>
        <pre><%= JSON.stringify(model.answers, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
    </div>
  </div>
</div>
