<div class="opinionSurveyOmrResults-details">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- t('opinionSurveyOmrResults', 'PANEL:TITLE:details') %></div>
    <div class="panel-details">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:status') %></div>
          <div class="prop-value"><%- model.status %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:survey') %></div>
          <div class="prop-value">
            <%= model.survey %>
          </div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:pageNumber') %></div>
          <div class="prop-value"><%- model.pageNumber %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:inputFileName') %></div>
          <div class="prop-value"><%= model.inputDirName %>\<%= model.inputFileName %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:startedAt') %></div>
          <div class="prop-value"><%- model.startedAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:finishedAt') %></div>
          <div class="prop-value"><%- model.finishedAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:duration') %></div>
          <div class="prop-value"><%- model.duration %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:scanTemplate') %></div>
          <div class="prop-value">
            <% if (model.scanTemplate) { %>
            <a href="#opinionSurveyScanTemplates/<%- model.scanTemplate._id %>"><%= model.scanTemplate.name %></a>
            <% } else { %>
            -
            <% } %>
          </div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:qrCode') %></div>
          <div class="prop-value"><%= model.qrCode || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:matchScore') %></div>
          <div class="prop-value"><%- model.matchScore %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:errorCode') %></div>
          <div class="prop-value"><%= model.errorCode || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('opinionSurveyOmrResults', 'PROPERTY:errorMessage') %></div>
          <div class="prop-value"><%= model.errorMessage || '-' %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="opinionSurveyOmrResults-details-tabs">
    <ul class="nav nav-tabs">
      <% ['omrPreview', 'omrInput', 'omrOutput', 'answers'].forEach(function(tab) { %>
      <li data-tab="<%- tab %>"><a href="#<%- idPrefix %>-<%- tab %>" data-toggle="tab"><%- t('opinionSurveyOmrResults', 'tabs:' + tab) %></a></li>
      <% }) %>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active opinionSurveyOmrResults-omrPreview-tab" id="<%- idPrefix %>-omrPreview">
        <div class="opinionSurveyOmrResults-omrPreview-wrapper">
          <img src="/opinionSurveys/omrResults/<%- model._id %>.jpg" width="1280" alt="">
          <% circles.forEach(function(circle) { %>
          <div class="opinionSurveyOmrResults-omrPreview-circle <%- circle.marked ? 'is-marked' : '' %>" style="top: <%- circle.top %>px; left: <%- circle.left %>px; width: <%- circle.width %>px; height: <%- circle.height %>px;"></div>
          <% }) %>
        </div>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-omrInput">
        <% if (model.omrInput) { %>
        <pre><%= JSON.stringify(model.omrInput, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-omrOutput">
        <% if (model.omrOutput) { %>
        <pre><%= JSON.stringify(model.omrOutput, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-answers">
        <% if (model.answers) { %>
        <pre><%= JSON.stringify(model.answers, null, 2) %></pre>
        <% } else { %>
        -
        <% } %>
      </div>
    </div>
  </div>
</div>
