<ul class="dropdown-menu planning-menu" style="top: <%- top %>px; left: <%- left %>px">
  <% menu.forEach(function(item, i) { %>
  <% if (item.type === 'header') { %>
  <li class="dropdown-header"><%- item.label %></li>
  <% } else if (item.type === 'divider') { %>
  <li class="divider"></li>
  <% } else { %>
  <li><a data-action="<%- i %>"><%- item.label %></a></li>
  <% } %>
  <% }) %>
</ul>
