<form autocomplete="off">
  <div class="form-group">
    <label class="control-label"><%- t('copySettings:source') %></label>
    <p class="form-control-static"><%= source %></p>
  </div>
  <div class="form-group">
    <label for="<%- id('target') %>" class="control-label"><%- t('copySettings:target') %></label>
    <input id="<%- id('target') %>" name="target" type="text">
  </div>
  <div class="form-group has-required-select2">
    <div style="display: flex">
      <label for="<%- id('mrps') %>" class="control-label is-required"><%- t('copySettings:mrps') %></label>
      <a id="<%- id('allMrps') %>" href="javascript:void(0)" style="margin-left: auto"><%- t('copySettings:mrps:all') %></a>
    </div>
    <input id="<%- id('mrps') %>" name="mrps" type="text" required>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('copySettings:what') %></label>
    <% _.forEach(what, (checked, prop) => { %>
      <div class="checkbox">
        <label>
          <input name="what[]" type="checkbox" value="<%- prop %>" <%- checked ? 'checked' : '' %>>
          <%- t(`copySettings:what:${prop}`) %>
        </label>
      </div>
    <% }) %>
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-primary">
      <span class="fa fa-spinner fa-spin hidden"></span>
      <span><%- t('copySettings:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
