<form>
  <% lines.forEach(function(line, i) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-line-<%- i %>" class="control-label"><%= line._id %></label>
    <input id="<%- idPrefix %>-line-<%- i %>" data-line-id="<%= line._id %>" class="form-control" type="number" min="0" max="20" value="<%- line.workerCount %>">
  </div>
  <% }) %>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary">
      <span class="fa fa-spinner fa-spin hidden"></span>
      <span><%- t('planning', 'lines:menu:workerCount:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
