<div class="planning-mrp-list-container planning-mrp-lines">
  <div class="planning-mrp-list-hd"><%- t('planning', 'lines:hd') %></div>
  <button id="<%- idPrefix %>-edit" class="planning-mrp-list-action btn btn-default" title="<%- t('planning', 'lines:edit') %>" disabled>
    <i class="fa fa-edit"></i>
  </button>
  <div id="<%- idPrefix %>-list" class="planning-mrp-list">
    <% lines.forEach(function(line) { %>
    <div class="planning-mrp-list-item is-line" data-id="<%= line._id %>">
      <div class="planning-mrp-list-item-inner">
        <%= line._id %>
        <span class="planning-mrp-list-property <%- line.workerCount ? '' : 'is-invalid' %>" data-property="workerCount"><i class="fa fa-user"></i><span><%- line.workerCount %></span></span>
        <span class="planning-mrp-list-property <%- line.customTimes ? '' : 'hidden' %>" data-property="customTimes"><i class="fa fa-clock-o"></i><span><%- line.customTimes %></span></span>
      </div>
    </div>
    <% }) %>
    <div class="planning-mrp-list-ending"></div>
  </div>
  <div id="<%- idPrefix %>-scrollIndicator" class="planning-mrp-list-scrollIndicator hidden"></div>
</div>
