<table>
  <tbody>
  <tr>
    <th><%- t('planning', 'lineOrders:orderNo') %></th>
    <td><%= lineOrder.orderNo %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'lineOrders:qty:planned') %></th>
    <td><%- lineOrder.quantityPlanned.toLocaleString() %></td>
  </tr>
  <% if (lineOrder.quantityDone >= 0) { %>
  <tr>
    <th><%- t('planning', 'lineOrders:qty:done') %></th>
    <td><%- lineOrder.quantityDone.toLocaleString() %></td>
  </tr>
  <% } %>
  <% if (lineOrder.quantityRemaining) { %>
  <tr>
    <th><%- t('planning', 'lineOrders:qty:remaining') %></th>
    <td><%- lineOrder.quantityRemaining.toLocaleString() %></td>
  </tr>
  <% } %>
  <tr>
    <th><%- t('planning', 'lineOrders:qty:total') %></th>
    <td><%- lineOrder.quantityTotal.toLocaleString() %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'lineOrders:pceTime') %></th>
    <td><%- time.toString(lineOrder.pceTime) %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'lineOrders:manHours') %></th>
    <td><%- lineOrder.manHours.toLocaleString() %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'lineOrders:time') %></th>
    <td><%= time.utc.format(lineOrder.startAt, 'HH:mm:ss') %>-<%= time.utc.format(lineOrder.finishAt, 'HH:mm:ss') %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'lineOrders:duration') %></th>
    <td><%- time.toString(lineOrder.duration) %></td>
  </tr>
  <% if (lineOrder.comment) { %>
  <tr>
    <th style="vertical-align: top"><%- t('planning', 'lineOrders:comment') %></th>
    <td style="vertical-align: top; max-width: 200px;"><%- lineOrder.comment %></td>
  </tr>
  <% } %>
  </tbody>
</table>
