<div class="planning-mrp-lineOrders-list <%- expanded ? 'is-expanded' : '' %>">
  <table class="planning-mrp-lineOrders-table">
    <thead>
      <tr>
        <% ['no', 'shift', 'orderNo', 'status', 'nc12', 'name', 'qty:header', 'startTime', 'finishTime', 'dropZone', 'lines'].forEach(function(prop) { %>
        <th class="is-min"><%- t('planning', 'lineOrders:list:' + prop) %></th>
        <% }) %>
        <th><%- t('planning', 'lineOrders:list:comment') %></th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(function(order, i) { %>
      <tr data-id="<%- order.orderNo %>" data-index="<%- i %>">
        <td class="is-min text-right"><%- order.no %>.</td>
        <td class="is-min"><%- t('core', 'SHIFT:' + order.shift) %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.orderNo %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.statuses %></td>
        <td class="is-min"><%= order.nc12 %></td>
        <td class="is-min"><%= order.name %></td>
        <td class="is-min text-right">
          <% if (order.qtyPlan === order.qtyTodo) { %>
          <%- order.qtyPlan.toLocaleString() %>
          <% } else { %>
          <%- t('planning', 'lineOrders:list:qty:value', {plan: order.qtyPlan, todo: order.qtyTodo}) %>
          <% } %>
        </td>
        <td class="is-min text-right"><%- order.startTime %></td>
        <td class="is-min text-right"><%- order.finishTime %></td>
        <td class="is-min planning-mrp-lineOrders-dropZone"><%- order.dropZone %></td>
        <td class="is-min"><%= order.lines %></td>
        <td class="planning-mrp-lineOrders-comment"><%- order.comment %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
