<form>
  <% lines.forEach(function(line, i) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-line-<%- i %>-1" class="control-label"><%= line._id %></label>
    <div class="planning-lineSettings-workerCount" data-line-id="<%= line._id %>">
      <% [1, 2, 3].forEach(function(shiftNo) { %>
      <label for="<%- idPrefix %>-line-<%- i %>-<%- shiftNo %>" class="planning-lineSettings-workerCount-label"><%- t('planning', 'settings:workerCount:shift', {shiftNo: t('core', 'SHIFT:' + shiftNo)}) %></label>
      <input id="<%- idPrefix %>-line-<%- i %>-<%- shiftNo %>" data-shift-no="<%- shiftNo %>" class="form-control planning-lineSettings-workerCount-input" type="number" value="<%- line.workerCount[shiftNo - 1] %>" required min="0" max="20" step="0.01">
      <% }) %>
    </div>
  </div>
  <% }) %>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary">
      <span class="fa fa-spinner fa-spin hidden"></span>
      <span><%- t('planning', 'lines:menu:workerCount:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
