<table data-item-type="line" data-item-id="<%- line._id %>">
  <tbody>
  <tr>
    <th><%- t('lines:division') %></th>
    <td><span class="planning-mrp-popover-value"><%= line.division %></span></td>
  </tr>
  <tr>
    <th><%- t('lines:prodFlow') %></th>
    <td><span class="planning-mrp-popover-value"><%= line.prodFlow %></span></td>
  </tr>
  <% if (line.activeTime !== '06:00-06:00') { %>
  <tr>
    <th><%- t('lines:activeTime') %></th>
    <td><%= line.activeTime %></td>
  </tr>
  <% } %>
  <tr>
    <th><%- t('lines:workerCount') %></th>
    <td><%= line.workerCount.toLocaleString() %></td>
  </tr>
  <tr>
    <th><%- t('lines:orderPriority') %></th>
    <td><%= line.orderPriority %></td>
  </tr>
  <tr>
    <th><%- t('lines:mrpPriority') %></th>
    <td><%= line.mrpPriority %></td>
  </tr>
  <% if (line.redirLine) { %>
  <tr>
    <th><%- t('lines:redirLine') %></th>
    <td><%= line.redirLine %></td>
  </tr>
  <% } %>
  <% if (line.whLine) { %>
  <tr>
    <th><%- t('lines:wh:pickup:started') %></th>
    <td>
      <strong><%- t('lines:wh:sets') %>: </strong><%= line.whLine.pickup.started.sets.toLocaleString() %>&nbsp;&nbsp;
      <strong><%- t('lines:wh:qty') %>: </strong><%= line.whLine.pickup.started.qty.toLocaleString() %>&nbsp;&nbsp;
      <strong><%- t('lines:wh:time') %>: </strong><%= time.toString(line.whLine.pickup.started.time / 1000, true) %>
    </td>
  </tr>
  <tr>
    <th><%- t('lines:wh:pickup:finished') %></th>
    <td>
      <strong><%- t('lines:wh:sets') %>: </strong><%= line.whLine.pickup.finished.sets.toLocaleString() %>&nbsp;&nbsp;
      <strong><%- t('lines:wh:qty') %>: </strong><%= line.whLine.pickup.finished.qty.toLocaleString() %>&nbsp;&nbsp;
      <strong><%- t('lines:wh:time') %>: </strong><%= time.toString(line.whLine.pickup.finished.time / 1000, true) %>
    </td>
  </tr>
  <tr>
    <th><%- t('lines:wh:available') %></th>
    <td>
      <strong><%- t('lines:wh:qty') %>: </strong><%= line.whLine.available.qty.toLocaleString() %>&nbsp;&nbsp;
      <strong><%- t('lines:wh:time') %>: </strong><%= time.toString(line.whLine.available.time / 1000, true) %>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
