<form class="planning-freezeOrders">
  <div class="row">
    <div class="col-md-4 form-group">
      <label class="control-label"><%- t('lines:menu:freezeOrders:line') %></label>
      <p class="form-control-static"><%= line %></p>
    </div>
    <div class="col-md-8">
      <div class="btn-group">
        <% [1, 2, 3].forEach(function(shift) { %>
        <button type="button" class="btn btn-default" data-shift="<%- shift %>">
          <%- t('lines:menu:freezeOrders:shift:' + shift) %>
        </button>
        <% }) %>
        <button type="button" class="btn btn-default" data-shift="0">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- id('availableOrders') %>" class="control-label"><%- t('lines:menu:freezeOrders:availableOrders') %></label>
    <input id="<%- id('availableOrders') %>" type="text" autocomplete="new-password" value="">
  </div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th class="is-min"><%- t('lines:menu:freezeOrders:no') %></th>
      <th><%- t('lines:menu:freezeOrders:order') %></th>
      <th class="is-min"><%- t('lines:menu:freezeOrders:quantity') %></th>
      <th class="is-min actions"><%- t('lines:menu:freezeOrders:actions') %></th>
    </tr>
    </thead>
    <tbody id="<%- id('frozenOrders') %>">
    <tr>
      <td class="is-min text-right"></td>
      <td class="planning-freezeOrders-order">
        <input name="frozenOrders[].orderNo" type="hidden">
        <span></span>
      </td>
      <td class="is-min"><input class="form-control no-controls planning-freezeOrders-quantity" name="frozenOrders[].quantity" type="number" min="1" max="999"></td>
      <td class="actions">
        <div class="actions-group">
          <button data-action="up" class="btn btn-default" type="button"><i class="fa fa-arrow-up"></i></button>
          <button data-action="down" class="btn btn-default" type="button"><i class="fa fa-arrow-down"></i></button>
          <button data-action="remove" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-primary">
      <span class="fa fa-spinner fa-spin hidden"></span>
      <span><%- t('lines:menu:freezeOrders:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
