<div class="planning-mrp-list-container planning-mrp-orders">
  <div class="planning-mrp-list-hd"><%- hdLabel %></div>
  <% if (showEditButton) { %>
  <button id="<%- idPrefix %>-add" class="planning-mrp-list-action btn btn-default" title="<%- t('planning', 'orders:add') %>">
    <i class="fa fa-plus"></i>
  </button>
  <% } else { %>
  <span class="planning-mrp-list-action"></span>
  <% } %>
  <div id="<%- idPrefix %>-list" class="planning-mrp-list">
    <% orders.forEach(function(order) { %>
    <div class="planning-mrp-list-item is-order <%- order.started ? 'is-started' : '' %> <%- order.completed ? 'is-completed' : '' %> <%- order.surplus ? 'is-surplus' : '' %> <%- order.invalid ? 'is-invalid' : '' %> <%- order.ignored ? 'is-ignored' : '' %> <%- order.incomplete ? 'is-incomplete' : '' %>" data-id="<%= order._id %>">
      <div class="planning-mrp-list-item-inner <%- order.confirmed ? 'is-cnf' : '' %> <%- order.delivered ? 'is-dlv' : '' %>">
        <span class="planning-mrp-list-item-label"><%= order._id %></span>
        <% if (order.kind && order.kind !== 'unclassified') { %>
        <span class="planning-mrp-list-property" data-property="kind" title="<%- t('planning', 'orderPriority:' + order.kind) %>"><i class="fa fa-<%- order.kind === 'small' ? 'star-o' : order.kind === 'easy' ? 'star-half-full' : 'star' %>"></i></span>
        <% } %>
        <% if (order.customQuantity) { %>
        <span class="planning-mrp-list-property" data-property="customQuantity" title="<%- t('planning', 'orders:customQuantity') %>"><i class="fa fa-sort-numeric-desc"></i></span>
        <% } %>
        <% if (order.late) { %>
        <span class="planning-mrp-list-property" data-property="late" title="<%- t('planning', 'orders:late') %>"><i class="fa fa-hourglass-end"></i></span>
        <% } %>
        <% if (order.added) { %>
        <span class="planning-mrp-list-property" data-property="added" title="<%- t('planning', 'orders:added') %>"><i class="fa fa-plus"></i></span>
        <% } %>
        <% if (order.urgent) { %>
        <span class="planning-mrp-list-property" data-property="urgent" title="<%- t('planning', 'orders:urgent') %>"><i class="fa fa-exclamation"></i></span>
        <% } %>
      </div>
    </div>
    <% }) %>
    <div class="planning-mrp-list-ending"></div>
  </div>
  <div id="<%- idPrefix %>-scrollIndicator" class="planning-mrp-list-scrollIndicator hidden"></div>
</div>
