<div class="planning-mrp-list-container planning-mrp-orders">
  <div class="planning-mrp-list-hd"><%- hdLabel %></div>
  <% if (showEditButton) { %>
  <button id="<%- idPrefix %>-add" class="planning-mrp-list-action btn btn-default" title="<%- actionLabel %>">
    <i class="fa fa-plus"></i>
  </button>
  <% } else { %>
  <span class="planning-mrp-list-action"></span>
  <% } %>
  <div id="<%- idPrefix %>-list" class="planning-mrp-list">
    <% orders.forEach(function(order) { %>
    <div class="planning-mrp-list-item is-order <%- icons ? 'with-icons' : '' %> <%- order.started %> <%- order.completed %> <%- order.surplus %> <%- order.ignored %> <%- order.incomplete %> <%- order.unplanned %> <%- order.invalid %> <%- order.deleted %>" data-id="<%= order._id %>">
      <div class="planning-mrp-list-item-inner <%- order.confirmed %> <%- order.delivered %>">
        <span class="planning-mrp-list-item-label"><%= order._id %></span>
        <%- order.statusIcons %>
      </div>
    </div>
    <% }) %>
    <div class="planning-mrp-list-ending"></div>
  </div>
  <div id="<%- idPrefix %>-scrollIndicator" class="planning-mrp-list-scrollIndicator hidden"></div>
</div>
