<form autocomplete="off">
  <div class="form-group">
    <label class="control-label"><%- t('orders:_id') %></label>
    <p class="form-control-static"><%- orderNo %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('orders:mrp') %></label>
    <p class="form-control-static"><%= mrp %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('orders:kind') %></label>
    <p class="form-control-static"><%- t('orderPriority:' + kind) %></p>
  </div>
  <% if (version === 1) { %>
  <div class="checkbox">
    <label class="control-label">
      <input id="<%- id('urgent') %>" type="checkbox" value="1" <%- urgent ? 'checked' : '' %>>
      <%- t('orders:menu:lines:urgent') %>
    </label>
    <p class="help-block"><%- t('orders:menu:lines:urgent:help') %></p>
  </div>
  <% } %>
  <div class="form-group">
    <label class="control-label"><%- t('orders:lines') %></label>
    <input id="<%- id('lines') %>" name="lines" type="text" value="">
  </div>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-primary">
      <span class="fa fa-spinner fa-spin hidden"></span>
      <span><%- t('orders:menu:lines:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
