<table data-item-type="order" data-item-id="<%- order._id %>">
  <tbody>
  <% if (order.date) { %>
  <tr>
    <th><%- t('planning', 'orders:date') %></th>
    <td><%= order.date %></td>
  </tr>
  <% } %>
  <% if (order.delayReason) { %>
  <tr>
    <th><%- t('planning', 'orders:delayReason') %></th>
    <td><%= order.delayReason %></td>
  </tr>
  <% } %>
  <tr>
    <th><%- t('planning', 'orders:name') %></th>
    <td><span class="planning-mrp-popover-value"><%= order.name %></span></td>
  </tr>
  <tr>
    <th><%- t('planning', 'orders:nc12') %></th>
    <td><%= order.nc12 %></td>
  </tr>
  <tr>
    <th><%- t('planning', 'orders:qty') %></th>
    <td>
      <span class="<%- order.completed ? 'is-completed': '' %> <%- order.surplus ? 'is-surplus': '' %>">
        <% if (order.quantityPlan) { %>
        <%- (order.quantityDone || 0).toLocaleString() %>/<strike><%- order.quantityTodo.toLocaleString() %></strike>
        <% } else { %>
        <%- (order.quantityDone || 0).toLocaleString() %>/<%- order.quantityTodo.toLocaleString() %>
        <% } %>
      </span>
      <% if (order.quantityPlan) { %>
      <%- order.quantityPlan %>
      <% } %>
      <% if (order.incomplete) { %>
      <span class="is-incomplete"><%- t('planning', 'orders:incomplete', {qty: order.incomplete}) %></span>
      <% } %>
    </td>
  </tr>
  <% if (order.laborTime) { %>
  <tr>
    <th><%- t('planning', 'orders:laborTime') %></th>
    <td><%= order.laborTime.toLocaleString() %></td>
  </tr>
  <% } %>
  <% if (order.manHours) { %>
  <tr>
    <th><%- t('planning', 'orders:manHours') %></th>
    <td><%= order.manHours.toLocaleString() %></td>
  </tr>
  <% } %>
  <tr>
    <th><%- t('planning', 'orders:statuses') %></th>
    <td><span class="planning-mrp-popover-value planning-mrp-popover-statuses"><%- order.statuses.join(' ') %></span></td>
  </tr>
  </tbody>
</table>
