<div class="planning-mrp-list-container planning-mrp-orders">
  <div class="planning-mrp-list-hd"><%- t('planning', 'orders:hd') %></div>
  <button id="<%- idPrefix %>-edit" class="planning-mrp-list-action btn btn-default" title="<%- t('planning', 'orders:edit') %>" disabled>
    <i class="fa fa-edit"></i>
  </button>
  <div id="<%- idPrefix %>-list" class="planning-mrp-list">
    <% orders.forEach(function(order) { %>
    <div class="planning-mrp-list-item is-order <%- order.completed ? 'is-completed' : '' %> <%- order.surplus ? 'is-surplus' : '' %> <%- order.invalid ? 'is-invalid' : '' %> <%- order.ignored ? 'is-ignored' : '' %> <%- order.incomplete ? 'is-incomplete' : '' %>" data-id="<%= order._id %>">
      <div class="planning-mrp-list-item-inner <%- order.confirmed ? 'is-cnf' : '' %> <%- order.delivered ? 'is-dnf' : '' %>">
        <%= order._id %>
        <span class="planning-mrp-list-property" data-property="kind"><i class="fa fa-<%- order.kind === 'small' ? 'star-o' : order.kind === 'easy' ? 'star-half-full' : 'star' %>"></i></span>
        <span class="planning-mrp-list-property <%- order.customQuantity ? '' : 'hidden' %>" data-property="qtyPlan"><i class="fa fa-sort-numeric-desc"></i></span>
      </div>
    </div>
    <% }) %>
    <div class="planning-mrp-list-ending"></div>
  </div>
  <div id="<%- idPrefix %>-scrollIndicator" class="planning-mrp-list-scrollIndicator hidden"></div>
</div>
