<form class="well filter-form planning-mrp-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-date" class="control-label"><%- t('planning', 'filter:date') %></label>
    <input id="<%- idPrefix %>-date" name="date" class="form-control" type="date" value="<%- date %>" min="<%- minDate %>" max="<%- maxDate %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-mrps" class="control-label"><%- t('planning', 'filter:mrps:1') %></label>
    <input id="<%- idPrefix %>-mrps" name="mrps" value="<%- mrps %>">
  </div>
  <% if (showToggles) { %>
  <div class="form-group filter-actions">
    <div class="btn-group">
      <button id="<%- idPrefix %>-lineOrdersList" type="button" class="btn btn-default <%- lineOrdersList ? 'active' : '' %>">
        <i class="fa fa-list-ol"></i>
        <span><%- t('planning', 'filter:lineOrdersList') %></span>
      </button>
      <button id="<%- idPrefix %>-useDarkerTheme" type="button" class="btn btn-default <%- useDarkerTheme ? 'active' : '' %>">
        <i class="fa fa-adjust"></i>
        <span><%- t('planning', 'filter:useDarkerTheme') %></span>
      </button>
    </div>
  </div>
  <% } %>
  <div class="form-group filter-actions">
    <div id="<%- idPrefix %>-copyOrderList" class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-clipboard"></i><span><%- t('planning', 'filter:copyOrderList') %></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <% [0, 1, 2, 3].forEach(function(shiftNo) { %>
        <li><a role="copyOrderList" data-shift="<%- shiftNo %>" href="javascript:void(0)"><%- t('planning', 'toolbar:copyOrderList:' + shiftNo) %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <% if (showStats) { %>
  <div class="form-group" style="flex-grow: 1"></div>
  <div class="form-group" style="margin: 0">
    <table class="planning-mrp-stats" style="margin: 0">
      <tbody>
      <tr class="planning-mrp-stats-bd">
        <th></th>
        <% ['todo', 'late', 'plan', 'remaining'].forEach(function(subgroup) { %>
        <th style="padding: 0 7px; text-align: center"><%- t('planning', 'filter:stats:' + subgroup) %></th>
        <% }) %>
        <th colspan="2" style="min-width: 141px"><%- t('planning', 'filter:stats:execution') %></th>
      </tr>
      <% ['manHours', 'quantity', 'orders'].forEach(function(group, i) { %>
      <tr class="planning-mrp-stats-bd">
        <th><%- t('planning', 'filter:stats:' + group) %></th>
        <% ['todo', 'late', 'plan', 'remaining'].forEach(function(subgroup) { %>
        <td data-group="<%- group %>" data-subgroup="<%- subgroup %>" title="<%- t('planning', 'filter:stats:tooltip:' + subgroup) %>">0</td>
        <% }) %>
        <% if (i === 0) { %>
        <td rowspan="3" data-group="execution" data-subgroup="percent" title="<%- t('planning', 'toolbar:stats:tooltip:execution:percent') %>">0</td>
        <% } %>
        <td data-group="execution<%- i + 1 %>" data-subgroup="percent" data-shift-no="<%- i + 1 %>" title="<%- t('planning', 'toolbar:stats:tooltip:execution:percent:shift', {shiftNo: t('core', 'SHIFT:' + (i + 1))}) %>">0</td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
</form>
