<div class="planning-mrp <%- locked ? 'is-locked' : '' %>" data-id="<%= mrp._id %>">
  <div id="<%- idPrefix %>-toolbar"></div>
  <div class="planning-mrp-hd">
    <span class="planning-mrp-hd-id">
      <i class="fa fa-lock"></i>
      <%= mrp.name %>
    </span>
    <span class="planning-mrp-hd-name"><%= mrp.description %></span>
  </div>
  <div id="<%- idPrefix %>-messages" class="planning-mrp-messages"></div>
  <div id="<%- idPrefix %>-lines" class="planning-mrp-bd"></div>
  <div id="<%- idPrefix %>-orders" class="planning-mrp-bd"></div>
  <div id="<%- idPrefix %>-lateOrders" class="planning-mrp-bd"></div>
  <div id="<%- idPrefix %>-lineOrders" class="planning-mrp-bd"></div>
  <div id="<%- idPrefix %>-timeline" class="planning-mrp-timeline">
    <div class="planning-mrp-timeline-h">1</div>
    <div class="planning-mrp-timeline-h">2</div>
    <div class="planning-mrp-timeline-h">3</div>
    <div class="planning-mrp-timeline-h">4</div>
    <div class="planning-mrp-timeline-h">5</div>
    <div class="planning-mrp-timeline-h">6</div>
    <div class="planning-mrp-timeline-h">7</div>
    <div class="planning-mrp-timeline-h">8</div>
    <div id="<%- idPrefix %>-time" class="planning-mrp-timeline-time hidden">00:00:00</div>
  </div>
  <div id="<%- idPrefix %>-crosshair" class="planning-mrp-crosshair"></div>
</div>
