<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-date" class="control-label"><%- t('planning', 'filter:date') %></label>
    <input id="<%- idPrefix %>-date" name="date" class="form-control" type="date" value="<%- date %>" min="<%- minDate %>" max="<%- maxDate %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-mrp" class="control-label">
      <%- t('planning', 'filter:mrp') %>
      <% if (showOwnMrps) { %>
      (<a id="<%- idPrefix %>-ownMrps" href="#"><%- t('orgUnits', 'filter:ownMrps') %></a>)
      <% } %>
    </label>
    <input id="<%- idPrefix %>-mrp" name="mrp" value="<%- mrp %>">
  </div>
</form>
