<div class="planning-plan <%- wrap ? 'wrap' : '' %>">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-empty" class="message message-inline message-warning">
    <p><%- t('planning', 'empty') %></p>
  </div>
  <div id="<%- idPrefix %>-mrps"></div>
</div>
