<form class="planning-settings-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-freezeHour"><%- t('planning', 'settings:freezeHour') %></label>
        <p class="help-block"><%- t('planning', 'settings:freezeHour:help') %></p>
        <input id="<%- idPrefix %>-freezeHour" name="freezeHour" class="form-control" type="text" required pattern="^(1?[0-9]|2[0-3])$" data-object="plan" style="width: 100px">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-schedulingRate"><%- t('planning', 'settings:schedulingRate') %></label>
        <p class="help-block"><%- t('planning', 'settings:schedulingRate:help') %></p>
        <textarea id="<%- idPrefix %>-schedulingRate" name="schedulingRate" class="form-control text-mono" required data-object="plan" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-requiredStatuses"><%- t('planning', 'settings:requiredStatuses') %></label>
        <p class="help-block"><%- t('planning', 'settings:requiredStatuses:help') %></p>
        <input id="<%- idPrefix %>-requiredStatuses" name="requiredStatuses" type="text" data-object="plan">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-ignoredStatuses"><%- t('planning', 'settings:ignoredStatuses') %></label>
        <p class="help-block"><%- t('planning', 'settings:ignoredStatuses:help') %></p>
        <input id="<%- idPrefix %>-ignoredStatuses" name="ignoredStatuses" type="text" data-object="plan">
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input id="<%- idPrefix %>-ignoreCompleted" name="ignoreCompleted" type="checkbox" value="true" data-object="plan">
          <%- t('planning', 'settings:ignoreCompleted') %>
        </label>
        <p class="help-block"><%- t('planning', 'settings:ignoreCompleted:help') %></p>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input id="<%- idPrefix %>-useRemainingQuantity" name="useRemainingQuantity" type="checkbox" value="true" data-object="plan">
          <%- t('planning', 'settings:useRemainingQuantity') %>
        </label>
        <p class="help-block"><%- t('planning', 'settings:useRemainingQuantity:help') %></p>
      </div>
      <hr>
      <div class="form-group">
        <label for="<%- idPrefix %>-line"><%- t('planning', 'settings:line') %></label>
        <input id="<%- idPrefix %>-line" type="text">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-mrpPriority"><%- t('planning', 'settings:mrpPriority') %></label>
        <p class="help-block"><%- t('planning', 'settings:mrpPriority:help') %></p>
        <input id="<%- idPrefix %>-mrpPriority" type="text">
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-activeFrom"><%- t('planning', 'settings:activeFrom') %></label>
          <input id="<%- idPrefix %>-activeFrom" name="activeFrom" class="form-control" type="text" placeholder="hh:mm" pattern="^[0-9]{2}:[0-9]{2}$" data-object="line">
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-activeTo"><%- t('planning', 'settings:activeTo') %></label>
          <input id="<%- idPrefix %>-activeTo" name="activeTo" class="form-control" type="text" placeholder="hh:mm" pattern="^[0-9]{2}:[0-9]{2}$" data-object="line">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="<%- idPrefix %>-mrp"><%- t('planning', 'settings:mrp') %></label>
        <p class="help-block"><%- t('planning', 'settings:mrp:help') %></p>
        <input id="<%- idPrefix %>-mrp" type="text">
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-extraOrderSeconds"><%- t('planning', 'settings:extraOrderSeconds') %></label>
          <input id="<%- idPrefix %>-extraOrderSeconds" name="extraOrderSeconds" class="form-control" type="number" min="0" max="600" step="1" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:extraOrderSeconds:help') %></p>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-extraShiftSeconds-1"><%- t('planning', 'settings:extraShiftSeconds:1') %></label>
          <input id="<%- idPrefix %>-extraShiftSeconds-1" name="extraShiftSeconds" class="form-control" type="number" min="0" max="3600" step="1" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:extraShiftSeconds:help') %></p>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-extraShiftSeconds-2"><%- t('planning', 'settings:extraShiftSeconds:2') %></label>
          <input id="<%- idPrefix %>-extraShiftSeconds-2" name="extraShiftSeconds" class="form-control" type="number" min="0" max="3600" step="1" data-object="mrp">
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-extraShiftSeconds-3"><%- t('planning', 'settings:extraShiftSeconds:3') %></label>
          <input id="<%- idPrefix %>-extraShiftSeconds-3" name="extraShiftSeconds" class="form-control" type="number" min="0" max="3600" step="1" data-object="mrp">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-bigOrderQuantity"><%- t('planning', 'settings:bigOrderQuantity') %></label>
          <input id="<%- idPrefix %>-bigOrderQuantity" name="bigOrderQuantity" class="form-control" type="number" min="0" max="9999" step="1" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:bigOrderQuantity:help') %></p>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-hardOrderManHours"><%- t('planning', 'settings:hardOrderManHours') %></label>
          <input id="<%- idPrefix %>-hardOrderManHours" name="hardOrderManHours" class="form-control" type="number" min="0" max="9999" step="0.001" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:hardOrderManHours:help') %></p>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-splitOrderQuantity"><%- t('planning', 'settings:splitOrderQuantity') %></label>
          <input id="<%- idPrefix %>-splitOrderQuantity" name="splitOrderQuantity" class="form-control" type="number" min="0" max="9999" step="1" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:splitOrderQuantity:help') %></p>
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-maxSplitLineCount"><%- t('planning', 'settings:maxSplitLineCount') %></label>
          <input id="<%- idPrefix %>-maxSplitLineCount" name="maxSplitLineCount" class="form-control" type="number" min="0" max="99" step="1" data-object="mrp">
          <p class="help-block"><%- t('planning', 'settings:maxSplitLineCount:help') %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-hardComponents"><%- t('planning', 'settings:hardComponents') %></label>
        <p class="help-block"><%- t('planning', 'settings:hardComponents:help') %></p>
        <input id="<%- idPrefix %>-hardComponents" name="hardComponents" type="text" data-object="mrp">
      </div>
      <hr>
      <div class="form-group">
        <label for="<%- idPrefix %>-mrpLine"><%- t('planning', 'settings:mrpLine') %></label>
        <p class="help-block"><%- t('planning', 'settings:mrpLine:help') %></p>
        <input id="<%- idPrefix %>-mrpLine" type="text">
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-workerCount"><%- t('planning', 'settings:workerCount') %></label>
          <input id="<%- idPrefix %>-workerCount" name="workerCount" class="form-control" type="number" min="0" max="9999" step="1" data-object="mrpLine">
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-orderPriority"><%- t('planning', 'settings:orderPriority') %></label>
        <p class="help-block"><%- t('planning', 'settings:orderPriority:help') %></p>
        <input id="<%- idPrefix %>-orderPriority" type="text">
      </div>
    </div>
    <div class="panel-footer">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
