<form class="settings planning-settings">
  <div class="list-group">
    <a class="list-group-item" href="#planning/settings?tab=wh" data-tab="wh"><%- t('planning', 'settings:tab:wh') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="wh">
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-groupDuration"><%- t('planning', 'settings:wh:groupDuration') %></label>
        <input id="<%- idPrefix %>-wh-groupDuration" class="form-control" name="planning.wh.groupDuration" type="number" step="1" min="1" max="24">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-groupExtraItems"><%- t('planning', 'settings:wh:groupExtraItems') %></label>
        <span class="help-block"><%- t('planning', 'settings:wh:groupExtraItems:help') %></span>
        <input id="<%- idPrefix %>-wh-groupExtraItems" class="form-control" name="planning.wh.groupExtraItems" type="number" step="1" min="0" max="100">
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input id="<%- idPrefix %>-wh-sortByLines" name="planning.wh.sortByLines" type="checkbox" value="true">
            <%- t('planning', 'settings:wh:sortByLines') %>
        </label>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-ignoredMrps"><%- t('planning', 'settings:wh:ignoredMrps') %></label>
        <input id="<%- idPrefix %>-wh-ignoredMrps" name="planning.wh.ignoredMrps" type="text" autocomplete="new-password" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-newIncludedMrps"><%- t('planning', 'settings:wh:newIncludedMrps') %></label>
        <input id="<%- idPrefix %>-wh-newIncludedMrps" name="planning.wh.newIncludedMrps" type="text" autocomplete="new-password" data-setting>
      </div>
    </div>
  </div>
</form>
