<div>
  <%- t('toggleLock:message:' + locked, {mrp: mrp}) %>
  <p id="<%- idPrefix %>-warning" class="message message-inline message-warning hidden">
    <%- t('toggleLock:message:warning') %>
  </p>
  <div class="form-actions">
    <button id="<%- idPrefix %>-yes" class="btn btn-primary dialog-answer" type="button" autofocus data-answer="yes" <%- locked ? 'disabled' : '' %>><%- t('toggleLock:yes:' + locked) %></button>
    <button class="btn btn-link cancel" type="button"><%- t('toggleLock:no:' + locked) %></button>
  </div>
</div>
