<div class="btn-toolbar planning-mrp-toolbar">
  <div class="btn-group" role="group">
    <div id="<%- idPrefix %>-printDropdown" class="btn-group" role="group">
      <button id="<%- idPrefix %>-printPlan" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%- t('planning', 'toolbar:printPlan') %>" <%- lines.length ? '' : 'disabled' %>>
        <i class="fa fa-print"></i>
      </button>
      <ul id="<%- idPrefix %>-printList" class="dropdown-menu dropdown-menu-right">
        <% include toolbarPrintLineList.ejs %>
      </ul>
    </div>
  </div>
</div>
