<% if (lines.length > 1) { %>
<li><a role="printLines" data-line="__ALL__" href="javascript:void(0)"><%= t('planning', 'toolbar:printPlan:all') %></a></li>
<% } %>
<% lines.forEach(function(line) { %>
<li><a role="printLines" data-line="<%= line %>" href="javascript:void(0)"><%= line %></a></li>
<% }) %>
<li class="divider"></li>
<li>
  <a id="<%- idPrefix %>-showTimes" class="planning-mrp-toolbar-showTimes" href="javascript:void(0)">
    <span><%- t('planning', 'toolbar:showTimes') %></span><span class="fa fa-check"></span>
  </a>
</li>
