<form class="well filter-form planning-mrp-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-date" class="control-label"><%- t('planning', 'filter:date') %></label>
    <input id="<%- idPrefix %>-date" name="date" class="form-control" type="date" value="<%- date %>" min="<%- minDate %>" max="<%- maxDate %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-mrps" class="control-label"><%- t('planning', 'filter:mrps:exclude') %></label>
    <input id="<%- idPrefix %>-mrps" name="mrps" value="<%- mrps %>">
  </div>
</form>
