<div class="planning-mrp-lineOrders-list is-expanded">
  <table class="planning-mrp-lineOrders-table">
    <thead>
      <tr>
        <% ['group', 'no', 'shift', 'mrp', 'orderNo', 'status', 'nc12', 'name', 'qty:header', 'startTime', 'finishTime', 'dropZone', 'line'].forEach(function(prop) { %>
        <th class="is-min"><%- t('planning', 'lineOrders:list:' + prop) %></th>
        <% }) %>
        <th><%- t('planning', 'lineOrders:list:comment') %></th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(function(order, i) { %>
      <% if (order.newGroup) { %>
      <tr>
        <td class="planning-wh-newGroup" colspan="999">&nbsp;</td>
      </tr>
      <% } else if (order.newLine) { %>
      <tr>
        <td class="planning-wh-newLine" colspan="999"></td>
      </tr>
      <% } %>
      <tr class="<%- order.rowClassName %>" data-id="<%- order.orderNo %>" data-index="<%- i %>" data-group="<%- order.group %>" data-line="<%= order.line %>">
        <td class="is-min text-right"><%- order.group %>.</td>
        <td class="is-min text-right"><%- order.no %>.</td>
        <td class="is-min"><%- t('core', 'SHIFT:' + order.shift) %></td>
        <td class="is-min"><%- order.mrp %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.orderNo %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.statuses %></td>
        <td class="is-min"><%= order.nc12 %></td>
        <td class="is-min"><%= order.name %></td>
        <td class="is-min text-right"><%- order.qtyPlan.toLocaleString() %>/<%- order.qtyTodo.toLocaleString() %></td>
        <td class="is-min text-right"><%- order.startTime %></td>
        <td class="is-min text-right"><%- order.finishTime %></td>
        <td class="is-min planning-mrp-lineOrders-dropZone"><%- order.dropZone %></td>
        <td class="is-min"><%= order.line %></td>
        <td class="planning-mrp-lineOrders-comment"><%- order.comment %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
