<div class="planning-mrp-lineOrders-list is-expanded">
  <table class="planning-mrp-lineOrders-table">
    <thead>
      <tr>
        <% [
          {id: 'group', class: 'is-min', width: 29},
          {id: 'no', class: 'is-min', width: 35},
          {id: 'shift', class: 'is-min', width: 35},
          {id: 'mrp', class: 'is-min', width: 42},
          {id: 'orderNo', class: 'is-min', width: 71},
          {id: 'status', class: 'is-min', width: 71},
          {id: 'nc12', class: 'is-min', width: 91},
          {id: 'name', class: 'is-min', width: 315},
          {id: 'qty:header', class: 'is-min', width: 50},
          {id: 'startTime', class: 'is-min', width: 68},
          {id: 'finishTime', class: 'is-min', width: 58},
          {id: 'line', class: 'is-min', width: 50},
          {id: 'whStatus', class: 'is-min', width: 105},
          {id: 'comment'}
        ].forEach(function(column) { %>
        <th class="<%- column.class || '' %>" style="min-width: <%- column.width ? column.width : '1' %>px"><%- t('planning', 'lineOrders:list:' + column.id) %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(function(order, i) { %>
      <% if (order.newGroup) { %>
      <tr class="planning-wh-newGroup-tr">
        <td class="planning-wh-newGroup" colspan="999">&nbsp;</td>
      </tr>
      <% } else if (order.newLine) { %>
      <tr class="planning-wh-newLine-tr">
        <td class="planning-wh-newLine" colspan="999"></td>
      </tr>
      <% } %>
      <tr class="planning-wh-order <%- order.rowClassName %>" data-id="<%- order.orderNo %>" data-index="<%- i %>" data-group="<%- order.group %>" data-line="<%= order.line %>" data-line-order-no="<%- order.lineOrderNo %>" data-key="<%- order.key %>" data-pce-time="<%- order.pceTime %>">
        <td class="is-min text-right" style="min-width: 29px"><%- order.group %>.</td>
        <td class="is-min text-right" style="min-width: 35px"><%- order.no %>.</td>
        <td class="is-min" style="min-width: 35px"><%- t('core', 'SHIFT:' + order.shift) %></td>
        <td class="is-min"><%- order.mrp %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.orderNo %></td>
        <td class="is-min planning-mrp-lineOrders-status" data-status="<%- order.status %>"><%- order.statuses %></td>
        <td class="is-min"><%= order.nc12 %></td>
        <td class="is-min"><%= order.name %></td>
        <td class="is-min text-right"><%- order.qtyPlan.toLocaleString() %>/<%- order.qtyTodo.toLocaleString() %></td>
        <td class="is-min text-right"><%- order.startTime %></td>
        <td class="is-min text-right"><%- order.finishTime %></td>
        <td class="is-min"><%= order.line %></td>
        <td class="is-min planning-wh-status <%- canChangeStatus ? 'is-clickable': '' %>" data-status="<%- order.whStatus.status %>">
          <%- order.whStatus.label %>
        </td>
        <td class="planning-mrp-lineOrders-comment"><%- order.comment %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <form id="<%- idPrefix %>-qtySent-form" class="planning-wh-qtySent hidden">
    <label for="<%- idPrefix %>-qtySent-value"><%- t('planning', 'wh:sent:label') %></label>
    <input id="<%- idPrefix %>-qtySent-value" class="form-control" type="number" min="-999" max="999" required>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button>
  </form>
</div>
