<div class="planning-mrp planning-wh-mrp" data-id="<%= mrp._id %>">
  <div id="<%- idPrefix %>-toolbar"></div>
  <div class="planning-mrp-hd">
    <span class="planning-mrp-hd-id"><%= mrp.name %>&nbsp;</span>
    <span class="planning-mrp-hd-name"><%= mrp.description %></span>
  </div>
  <div id="<%- idPrefix %>-orders" class="planning-mrp-bd"></div>
</div>
