<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-truck"></i><span><%- t('planning', 'PAGE_ACTION:wh') %></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#planning/wh/<%- id %>"><%- t('planning', 'PAGE_ACTION:wh:old') %></a></li>
    <li><a href="#wh/plans/<%- id %>"><%- t('planning', 'PAGE_ACTION:wh:new') %></a></li>
    <li><a href="#wh/problems"><%- t('planning', 'PAGE_ACTION:wh:problems') %></a></li>
  </ul>
</div>
