<div class="mrl">
  <div class="mrl-row">
    <div class="mrl-box mrl-props">
      <% ['order', 'orderQty', 'action', 'sn'].forEach(function(prop) { %>
      <div class="mrl-prop">
        <h3 class="mrl-prop-name"><%- t('mrl', 'prop:' + prop) %></h3>
        <span class="mrl-prop-value" data-tag="<%- prop %>">?</span>
      </div>
      <% }) %>
    </div>
    <div class="mrl-box mrl-tests">
      <div class="mrl-test">
        <span class="mrl-led mrl-off" data-tag="pe"></span> PE
      </div>
      <div class="mrl-test">
        <span class="mrl-led mrl-off" data-tag="iso"></span> ISO
      </div>
    </div>
  </div>
  <div class="mrl-row">
    <% ['activeProbes', 'removeProbes'].forEach(function(tag) { %>
    <table id="<%- idPrefix %>-<%- tag %>" class="mrl-box probes">
      <thead>
      <tr>
        <th colspan="6">
          <h3><%- t('mrl', 'title:' + tag) %></h3>
          <span class="mrl-bits" data-tag="<%- tag %>">[]</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <th><%- t('mrl', 'source') %></th>
        <th><%- t('mrl', 'title:probe1') %></th>
        <th><%- t('mrl', 'title:probe2') %></th>
        <th><%- t('mrl', 'title:probe3') %></th>
        <th><%- t('mrl', 'title:probe4') %></th>
      </tr>
      <tr>
        <td>1</td>
        <% [0, 2, 4, 6, 8].forEach(function(bit) { %>
        <td><span class="mrl-led mrl-off" data-tag="<%- tag %>" data-bit="<%- bit %>"></span></td>
        <% }) %>
      </tr>
      <tr>
        <td>2</td>
        <% [1, 3, 5, 7, 9].forEach(function(bit) { %>
        <td><span class="mrl-led mrl-off" data-tag="<%- tag %>" data-bit="<%- bit %>"></span></td>
        <% }) %>
      </tr>
      </tbody>
    </table>
    <% }) %>
    <% [1, 2, 3, 4].forEach(function(n) { %>
    <table id="<%- idPrefix %>-probe<%- n %>" class="mrl-box probes probe">
      <thead>
      <tr>
        <th colspan="8">
          <h3><%- t('mrl', 'title:probe' + n) %></h3>
          <span class="mrl-bits" data-tag="probe<%- n %>">[]</span>
          <span class="mrl-bits" data-tag="probe<%- n %>x">[]</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%- t('mrl', 'source') %></td>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
      </tr>
      <tr data-tag="probe<%- n %>">
        <td>1</td>
        <% [0, 1, 2, 3, 4, 5, 6].forEach(function(bit) { %>
        <td><span class="mrl-led mrl-off" data-tag="probe<%- n %>" data-bit="<%- bit %>"></span></td>
        <% }) %>
      </tr>
      <tr data-tag="probe<%- n %>x">
        <td>2</td>
        <% [0, 1, 2, 3, 4, 5, 6].forEach(function(bit) { %>
        <td><span class="mrl-led mrl-off" data-tag="probe<%- n %>x" data-bit="<%- bit %>"></span></td>
        <% }) %>
      </tr>
      </tbody>
    </table>
    <% }) %>
  </div>
  <i id="<%- idPrefix %>-connection" class="fa fa-signal"></i>
  <% if (embedded) { %>
  <div id="<%- idPrefix %>-buttons" class="mrl-buttons">
    <button id="<%- idPrefix %>-start" class="btn btn-primary"><i class="fa fa-play"></i><span><%- t('mrl', 'button:start') %></span></button>
    <button id="<%- idPrefix %>-reset" class="btn btn-danger"><i class="fa fa-undo"></i><span><%- t('mrl', 'button:reset') %></span></button>
  </div>
  <div class="mrl-parentControls">
    <button id="<%- idPrefix %>-switchApps" class="btn btn-default" title="<%- t('mrl', 'parent:switchApps') %>"><i class="fa fa-window-restore"></i></button>
    <button id="<%- idPrefix %>-reboot" class="btn btn-default" title="<%- t('mrl', 'parent:reboot') %>"><i class="fa fa-refresh"></i></button>
    <button id="<%- idPrefix %>-shutdown" class="btn btn-default" title="<%- t('mrl', 'parent:shutdown') %>"><i class="fa fa-power-off"></i></button>
  </div>
  <% } %>
</div>
