<div class="planning-mrp-lineOrders-list">
  <table class="planning-mrp-lineOrders-table">
    <thead>
      <tr>
        <% [
          {id: 'no', class: 'is-min text-center', width: 35},
          {id: 'group', class: 'is-min text-center', width: 29},
          {id: 'mrp', class: 'is-min', width: 42},
          {id: 'order', class: 'is-min', width: 75},
          {id: 'planStatus', class: 'is-min', width: 120},
          {id: 'nc12', class: 'is-min', width: 95},
          {id: 'name', class: 'is-min', width: 315},
          {id: 'qty', class: 'is-min', width: 55},
          {id: 'shift', class: 'is-min text-center', width: 35},
          {id: 'startTime', class: 'is-min', width: 68},
          {id: 'finishTime', class: 'is-min', width: 60},
          {id: 'line', class: 'is-min', width: 50},
          {id: 'whStatus', class: 'is-min', width: 80},
          {id: 'set', class: 'is-min text-center', width: 35},
          {id: 'pickup', class: 'is-min text-center', width: 250, rowSpan: 1, colSpan: 5},
          {id: 'delivery', class: 'is-min text-center', width: 100, rowSpan: 1, colSpan: 2},
          {id: 'comment'}
        ].forEach(function(column) { %>
        <th class="<%- column.class || '' %>" rowspan="<%- column.rowSpan || 2 %>" colspan="<%- column.colSpan || 1 %>" style="min-width: <%- column.width ? column.width : '1' %>px"><%- t('wh', 'prop:' + column.id) %></th>
        <% }) %>
      </tr>
      <tr>
        <% [
          {id: 'picklist', class: 'is-min text-center', width: 50},
          {id: 'fmx', class: 'is-min text-center', width: 50},
          {id: 'kitter', class: 'is-min text-center', width: 50},
          {id: 'platformer', class: 'is-min text-center', width: 50},
          {id: 'packer', class: 'is-min text-center', width: 50},
          {id: 'fifoStatus', class: 'is-min text-center', width: 50},
          {id: 'packStatus', class: 'is-min text-center', width: 50}
        ].forEach(function(column) { %>
        <th class="<%- column.class || '' %>" style="min-width: <%- column.width ? column.width : '1' %>px"><%- t('wh', 'prop:' + column.id) %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(function(row) { %>
      <% if (row.newGroup) { %>
      <tr class="planning-wh-newGroup-tr">
        <td class="planning-wh-newGroup" colspan="999"></td>
      </tr>
      <% } else if (row.newLine) { %>
      <tr class="planning-wh-newLine-tr">
        <td class="planning-wh-newLine" colspan="999"></td>
      </tr>
      <% } %>
      <%- renderRow({row: row}) %>
      <% }) %>
    </tbody>
  </table>
</div>
