<div class="planning-plan <%- darker ? 'planning-darker' : '' %>">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-list" class="planning-wh-list"></div>
  <div id="<%- idPrefix %>-status" class="wh-pickup-status-container"></div>
  <div id="<%- idPrefix %>-messageOverlay" class="wh-message-overlay"></div>
  <div id="<%- idPrefix %>-message" class="wh-message message message-inline"></div>
</div>
