<div class="planning-plan <%- darker ? 'planning-darker' : '' %>">
  <div id="<%- id('filter') %>" class="filter-container"></div>
  <div id="<%- id('list') %>" class="planning-wh-list"></div>
  <div id="<%- id('status') %>" class="wh-pickup-status-container"></div>
  <div id="<%- id('messageOverlay') %>" class="wh-message-overlay"></div>
  <div id="<%- id('message') %>" class="wh-message message message-inline"></div>
  <div id="<%- id('vkb') %>"></div>
</div>
