<tr class="wh-list-item <%- row.rowClassName %>" data-id="<%- row._id %>" data-order="<%- row.order %>" data-status="<%- row.status %>" data-group="<%- row.group %>" data-line="<%= row.line %>" data-start-time="<%- row.startTimeMs %>">
  <td data-column-id="no" class="is-min text-right" style="min-width: 35px"><%- row.no %>.</td>
  <td data-column-id="group" class="is-min text-center" style="min-width: 29px"><%- row.group %></td>
  <td data-column-id="mrp" class="is-min"><%- row.mrp %></td>
  <td data-column-id="order" class="is-min planning-mrp-lineOrders-status" data-status="<%- row.planStatus %>"><%- row.order %></td>
  <td data-column-id="planStatus" class="is-min planning-mrp-lineOrders-status" data-status="<%- row.planStatus %>"><%- row.planStatusIcons %></td>
  <td data-column-id="nc12" class="is-min"><%= row.nc12 %></td>
  <td data-column-id="name" class="is-min"><%= row.name %></td>
  <td data-column-id="qty" class="is-min text-right <%- row.lines.length > 1 ? 'wh-has-popover' : '' %>"><%- row.qty %>/<%- row.qtyTodo %></td>
  <td data-column-id="shift" class="is-min text-center" style="min-width: 35px"><%- t('core', 'SHIFT:' + row.shift) %></td>
  <td data-column-id="startTime" class="is-min text-right"><%- row.startTime %></td>
  <td data-column-id="finishTime" class="is-min text-right"><%- row.finishTime %></td>
  <td data-column-id="line" class="is-min wh-has-popover">
    <% if (row.redirLine) { %>
    <i class="fa fa-arrow-right"></i>
    <% } %>
    <%= row.line %>
  </td>
  <td data-column-id="whStatus" class="is-min wh-list-status" data-status="<%- row.status %>"><%- t('wh', 'status:' + row.status) %></td>
  <td data-column-id="set" class="is-min text-center <%- row.set ? 'is-clickable' : '' %>" style="min-width: 35px"><%- row.set %></td>
  <td data-column-id="picklist" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.picklistDoneIcon %>"></i></td>
  <td data-column-id="fmx" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.funcIcons.fmx %>"></i></td>
  <td data-column-id="kitter" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.funcIcons.kitter %>"></i></td>
  <td data-column-id="platformer" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.funcIcons.platformer %>"></i></td>
  <td data-column-id="packer" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.funcIcons.packer %>"></i></td>
  <td data-column-id="fifoStatus" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.distIcons.fifo %>"></i></td>
  <td data-column-id="packStatus" class="is-min text-center wh-list-icon wh-has-popover"><i class="fa <%- row.distIcons.pack %>"></i></td>
  <td data-column-id="comment" class="planning-mrp-lineOrders-comment"><%- row.comment %></td>
</tr>
