<div class="panel-body" data-tab="other">
  <div class="form-group">
    <label for="<%- id('extendedDowntimeDelay') %>"><%- t('settings:extendedDowntimeDelay') %></label>
    <input id="<%- id('extendedDowntimeDelay') %>" class="form-control" name="factoryLayout.extendedDowntimeDelay" type="number" step="1" min="5" max="1440">
  </div>
  <div class="form-group">
    <label for="<%- id('outOfSyncWindow') %>"><%- t('settings:outOfSyncWindow') %></label>
    <input id="<%- id('outOfSyncWindow') %>" class="form-control" name="factoryLayout.outOfSyncWindow" type="number" step="1" min="0" max="100">
  </div>
  <div class="form-group">
    <label for="<%- id('qiKinds') %>"><%- t('settings:qiKinds') %></label>
    <input id="<%- id('qiKinds') %>" name="factoryLayout.qiKinds" type="text" data-setting>
  </div>
</div>
