<form class="well filter-form" autocomplete="off">
  <%- helpers.formGroup({
    name: 'status',
    type: 'select',
    label: 'PROPERTY:',
    expandable: true,
    options: statuses,
    groupAttrs: {'data-filter': 'status'}
  }) %>
  <%- forms.dateTimeRange({
    idPrefix,
    hidden: true,
    labels: ['date', 'createdAt', 'finishedAt'].map(value => ({
      text: t(`PROPERTY:${value}`),
      ranges: true,
      value,
      utc: value === 'date'
    }))
  }) %>
  <div class="form-group" style="min-width: 280px">
    <input id="<%- id('userType') %>" name="userType" type="hidden" value="others">
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <div id="<%- id('locationPath') %>" class="form-group hidden" data-filter="locationPath"></div>
  <%- helpers.formGroup({
    name: 'observationKind',
    type: 'select',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'observationKind'},
    expandable: true,
    options: observationKinds
  }) %>
  <div class="form-group" style="min-width: 280px">
    <div style="display: flex">
      <input id="<%- id('obsType') %>" name="obsType" type="hidden" value="any">
      <input id="<%- id('obsFilter') %>" name="obsFilter" type="hidden" value="any">
      <abbr id="<%- id('clearObs') %>" class="filter-clear-label"></abbr>
    </div>
    <input id="<%- id('obsCategory') %>" name="obsCategory" type="text">
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
