<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label is-required"><%- helpers.t('PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" autocomplete="new-password" name="_id" autofocus required maxlength="30" pattern="^[A-Za-z0-9-_]+$">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-short" class="control-label is-required"><%- helpers.t('PROPERTY:short') %></label>
        <input id="<%- idPrefix %>-short" class="form-control" type="text" autocomplete="new-password" name="short" required maxlength="30">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-full" class="control-label is-required"><%- helpers.t('PROPERTY:full') %></label>
        <input id="<%- idPrefix %>-full" class="form-control" type="text" autocomplete="new-password" name="full" required maxlength="250">
      </div>
      <%- renderColorPicker({idPrefix: idPrefix, property: 'color', label: helpers.t('PROPERTY:color'), value: model.color}) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
