<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label is-required"><%- helpers.t('PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" autocomplete="new-password" name="_id" autofocus required maxlength="20" pattern="^[A-Za-z0-9-]+$">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- helpers.t('PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" autocomplete="new-password" name="name" required maxlength="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-description" class="control-label"><%- helpers.t('PROPERTY:description') %></label>
        <textarea id="<%- idPrefix %>-description" class="form-control" name="description" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-active-true" class="control-label"><%- helpers.t('PROPERTY:active') %></label>
        <div class="radio">
          <label>
            <input id="<%- idPrefix %>-active-true" type="radio" name="active" value="true" required> <%- helpers.t('active:true') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="active" value="false" required> <%- helpers.t('active:false') %>
          </label>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
