<form class="well filter-form dailyMrpPlans-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-date" class="control-label"><%- t('hourlyPlans', 'planning:filter:date') %></label>
    <input id="<%- idPrefix %>-date" name="date" class="form-control" type="date" min="2017-01-01" max="<%- time.getMoment().add(7, 'days').format('YYYY-MM-DD') %>" required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-mrp" class="control-label"><%- t('hourlyPlans', 'planning:filter:mrp') %></label>
    <select id="<%- idPrefix %>-mrp" name="mrp[]" class="form-control is-expandable" multiple size="1" required data-expanded-length="15">
      <% mrpControllers.forEach(function(mrp) { %>
      <option value="<%= mrp.id %>"><%= mrp.text %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group filter-actions">
    <hr><button id="<%- idPrefix %>-wrap" type="button" class="btn btn-default"><i class="fa fa-exchange"></i></button><!--
    //--><hr><button id="<%- idPrefix %>-generatePlans" type="button" class="btn btn-default"><span class="fa fa-calculator"></span><span><%- t('hourlyPlans', 'planning:filter:generatePlans') %></span></button>
    <button id="<%- idPrefix %>-savePlans" type="button" class="btn btn-primary"><span class="fa fa-save"></span><span><%- t('hourlyPlans', 'planning:filter:savePlans') %></span></button>
    <button id="<%- idPrefix %>-setHourlyPlans" type="button" class="btn btn-warning"><span class="fa fa-calendar"></span><span><%- t('hourlyPlans', 'planning:filter:setHourlyPlans') %></span></button>
  </div>
</form>
