<table>
  <tbody>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:orderNo') %>
    <td><%= lineOrder.orderNo %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:qty:planned') %>
    <td><%- lineOrder.qtyPlanned.toLocaleString() %>
  <% if (lineOrder.qtyRemaining) { %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:qty:remaining') %>
    <td><%- lineOrder.qtyRemaining.toLocaleString() %>
  <% } %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:qty:total') %>
    <td><%- lineOrder.qtyTotal.toLocaleString() %>
  <% if (lineOrder.incomplete) { %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:qty:incomplete') %>
    <td><%- lineOrder.incomplete.toLocaleString() %>
  <% } %>
  <% if (lineOrder.pceTime) { %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:pceTime') %>
    <td><%- time.toString(lineOrder.pceTime) %>
  <% } %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:time') %>
    <td><%= time.format(lineOrder.startAt, 'HH:mm:ss') %>-<%= time.format(lineOrder.finishAt, 'HH:mm:ss') %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lineOrders:duration') %>
    <td><%- time.toString(lineOrder.duration) %>
  </tbody>
</table>
