<table class="<%- editable ? 'dailyMrpPlan-popover-editable' : '' %>" data-plan="<%- line.plan %>" data-item-type="line" data-item-id="<%- line._id %>">
  <tbody>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:division') %>
    <td><span class="dailyMrpPlan-popover-value"><%= line.division %></span>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:prodFlow') %>
    <td><span class="dailyMrpPlan-popover-value"><%= line.prodFlow %></span>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:prodLine') %>
    <td><span class="dailyMrpPlan-popover-value"><%= line.prodLine %></span>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:workerCount') %>
    <td>
      <% if (editable) { %>
      <input class="dailyMrpPlan-popover-input" name="workerCount" type="number" value="<%- line.workerCount %>" min="0" max="99" step="1">
      <% } else { %>
      <%= line.workerCount.toLocaleString() %>
      <% } %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:activeFrom') %>
    <td>
      <% if (editable) { %>
      <input class="dailyMrpPlan-popover-input" name="activeFrom" type="time" value="<%- line.activeFrom || '' %>" step="60">
      <% } else { %>
      <%- line.activeFrom || '-' %>
      <% } %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:lines:activeTo') %>
    <td>
      <% if (editable) { %>
      <input class="dailyMrpPlan-popover-input" name="activeTo" type="time" value="<%- line.activeTo || '' %>" step="60">
      <% } else { %>
      <%- line.activeTo || '-' %>
      <% } %>
  </tbody>
</table>
