<div class="dailyMrpPlan-lineOrders-container">
  <% if (!shifts.length) { %>
  <div class="dailyMrpPlan-list-container dailyMrpPlan-lineOrders">
    <div class="dailyMrpPlan-list-hd"><%= line %></div>
    <div class="dailyMrpPlan-lineOrders-shift"></div>
    <div id="<%- idPrefix %>-list-0" class="dailyMrpPlan-list"></div>
  </div>
  <% } %>
  <% _.forEach(shifts, function(shift, i) { %>
  <div class="dailyMrpPlan-list-container dailyMrpPlan-lineOrders">
    <% if (i == 0) { %>
    <div class="dailyMrpPlan-list-hd"><%= line %></div>
    <% } %>
    <div class="dailyMrpPlan-lineOrders-shift" data-shift="<%- shift.no%>"><%- t('core', 'SHIFT:' + shift.no) %></div>
    <div id="<%- idPrefix %>-list-<%- shift.no %>" class="dailyMrpPlan-list dailyMrpPlan-lineOrders-list">
      <% shift.orders.forEach(function(shiftOrder) { %>
      <div class="dailyMrpPlan-list-item is-lineOrder <%- shiftOrder.incomplete ? 'is-incomplete' : ''%>" data-id="<%- shiftOrder._id %>" style="width: <%- shiftOrder.width %>%; margin-left: <%- shiftOrder.margin %>%">
        <div class="dailyMrpPlan-list-item-inner">
          <%- shiftOrder.orderNo %>, <%- shiftOrder.qty %> <%- t('hourlyPlans', 'planning:unit') %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <% }) %>
</div>
