<div class="dailyMrpPlanList-container">
  <a class="dailyMrpPlanList-prev" href="<%- prevLink %>"><i class="fa fa-caret-left"></i></a>
  <% rows.forEach(function(day) { %>
  <div class="dailyMrpPlanList-day">
    <div class="dailyMrpPlanList-hd">
      <%- day.moment.format('llll').replace(day.moment.format('LT'), '') %>
    </div>
    <% day.mrps.forEach(function(mrp) { %>
    <a class="dailyMrpPlanList-mrp" href="#dailyMrpPlans?date=<%- day.date %>">
      <span class="dailyMrpPlanList-mrp-id"><%- mrp._id %></span>
      <span class="dailyMrpPlanList-mrp-lines">
        <% mrp.lines.forEach(function(line) { %>
        <span class="dailyMrpPlanList-mrp-line"><%- line._id %> (<%- line.workerCount %>)</span>
        <% }) %>
        <% if (!mrp.lines.length) { %>
        &nbsp;
        <% } %>
      </span>
    </a>
    <% }) %>
  </div>
  <% }) %>
  <a class="dailyMrpPlanList-next" href="<%- nextLink %>"><i class="fa fa-caret-right"></i></a>
</div>
