<div class="dailyMrpPlan-list-container dailyMrpPlan-orders">
  <div class="dailyMrpPlan-list-hd"><%- t('hourlyPlans', 'planning:orders:hd') %></div>
  <button id="<%- idPrefix %>-edit" class="dailyMrpPlan-list-action btn btn-default" title="<%- t('hourlyPlans', 'planning:orders:edit') %>">
    <i class="fa fa-edit"></i>
  </button>
  <div id="<%- idPrefix %>-list" class="dailyMrpPlan-list">
    <% orders.forEach(function(order) { %>
    <div class="dailyMrpPlan-list-item is-order is-selectable <%- order.completed ? 'is-completed' : '' %> <%- order.surplus ? 'is-surplus' : '' %> <%- order.invalid ? 'is-invalid' : '' %> <%- order.ignored ? 'is-ignored' : '' %>" data-id="<%= order._id %>">
      <div class="dailyMrpPlan-list-item-inner <%- order.confirmed ? 'is-cnf' : '' %> <%- order.delivered ? 'is-dnf' : '' %>">
        <%= order._id %>
        <span class="dailyMrpPlan-list-property <%- order.customQty ? '' : 'hidden' %>" data-property="qtyPlan"><i class="fa fa-sort-numeric-desc"></i></span>
      </div>
    </div>
    <% }) %>
    <div class="dailyMrpPlan-list-ending"></div>
  </div>
  <div id="<%- idPrefix %>-scrollIndicator" class="dailyMrpPlan-list-scrollIndicator hidden"></div>
</div>
