<table class="<%- editable ? 'dailyMrpPlan-popover-editable' : '' %>" data-plan="<%- order.plan %>" data-item-type="order" data-item-id="<%- order._id %>">
  <tbody>
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:name') %>
    <td>
      <% if (editable) { %>
      <a class="dailyMrpPlan-popover-value" href="#orders/<%- order._id %>" target="_blank"><%= order.name %></a>
      <% } else { %>
      <span class="dailyMrpPlan-popover-value"><%= order.name %></span>
      <% } %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:nc12') %>
    <td><%= order.nc12 %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:qty') %>
    <td>
      <% if (editable) { %>
      <input class="dailyMrpPlan-popover-input" name="qtyPlan" type="number" value="<%- order.qtyPlan || '' %>" placeholder="<%- order.qtyTodo %>" min="0" max="999" step="1">
      <% } else { %>
      <span class="<%- order.completed ? 'is-completed': '' %> <%- order.surplus ? 'is-surplus': '' %>">
        <% if (order.qtyPlan) { %>
        <%- order.qtyDone.toLocaleString() %>/<strike><%- order.qtyTodo.toLocaleString() %></strike>
        <% } else { %>
        <%- order.qtyDone.toLocaleString() %>/<%- order.qtyTodo.toLocaleString() %>
        <% } %>
      </span>
      <% if (order.qtyPlan) { %>
      <%- order.qtyPlan %>
      <% } %>
      <% } %>
  <!--
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:operation') %>
    <td>
      <% if (editable) { %>
      <select name="operation" class="dailyMrpPlan-popover-input dailyMrpPlan-popover-value">
        <% if (order.operation) { %>
        <option value="<%- order.operation.no %>" data-labor-time="<%- order.operation.laborTime %>"><%= order.operation.name || order.operation.no %></option>
        <% } %>
      </select>
      <% } else { %>
      <span class="dailyMrpPlan-popover-value"><%= order.operation ? (order.operation.name || order.operation.no) : '-' %></span>
      <% } %>
  //-->
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:laborTime') %>
    <td data-property="laborTime"><%= order.laborTime ? order.laborTime.toLocaleString() : '-' %>
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:statuses') %>
    <td><span class="dailyMrpPlan-popover-value"><%- order.statuses.join(' ') %></span>
  <tr>
    <th><%- t('hourlyPlans', 'planning:orders:ignored') %>
    <td>
      <% if (editable) { %>
      <label><input type="radio" name="ignored" value="0" <%- order.ignored ? '' : 'checked' %>> <%- t('core', 'BOOL:false') %></label>
      <label><input type="radio" name="ignored" value="1" <%- order.ignored ? 'checked' : '' %>> <%- t('core', 'BOOL:true') %></label>
      <% } else { %>
      <%- t('core', 'BOOL:' + !!order.ignored) %>
      <% } %>
  </tbody>
</table>
