<div class="dailyMrpPlan">
  <div id="<%- idPrefix %>-toolbar"></div>
  <div class="dailyMrpPlan-hd">
    <span class="dailyMrpPlan-hd-id"><%= mrp._id %>&nbsp;</span>
    <span class="dailyMrpPlan-hd-name"><%= mrp.name %></span>
  </div>
  <div id="<%- idPrefix %>-lines" class="dailyMrpPlan-bd"></div>
  <div id="<%- idPrefix %>-orders" class="dailyMrpPlan-bd"></div>
  <div id="<%- idPrefix %>-lineOrders" class="dailyMrpPlan-bd"></div>
  <div id="<%- idPrefix %>-timeline" class="dailyMrpPlan-timeline">
    <div class="dailyMrpPlan-timeline-h">1</div>
    <div class="dailyMrpPlan-timeline-h">2</div>
    <div class="dailyMrpPlan-timeline-h">3</div>
    <div class="dailyMrpPlan-timeline-h">4</div>
    <div class="dailyMrpPlan-timeline-h">5</div>
    <div class="dailyMrpPlan-timeline-h">6</div>
    <div class="dailyMrpPlan-timeline-h">7</div>
    <div class="dailyMrpPlan-timeline-h">8</div>
  </div>
  <div id="<%- idPrefix %>-crosshair" class="dailyMrpPlan-crosshair"></div>
</div>
