<div class="btn-toolbar dailyMrpPlan-toolbar">
  <div class="btn-group" role="group">
    <button id="<%- idPrefix %>-generatePlan" type="button" class="btn btn-default" title="<%- t('hourlyPlans', 'planning:toolbar:generatePlan') %>"><i class="fa fa-calculator"></i></button>
    <button id="<%- idPrefix %>-savePlan" type="button" class="btn btn-default" title="<%- t('hourlyPlans', 'planning:toolbar:savePlan') %>"><i class="fa fa-save"></i></button>
    <button id="<%- idPrefix %>-setHourlyPlan" type="button" class="btn btn-default" title="<%- t('hourlyPlans', 'planning:toolbar:setHourlyPlan') %>"><i class="fa fa-calendar"></i></button>
  </div>
  <div class="btn-group" role="group">
    <div id="<%- idPrefix %>-printDropdown" class="btn-group" role="group">
      <button id="<%- idPrefix %>-printPlan" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%- t('hourlyPlans', 'planning:toolbar:printPlan') %>" <%- lines.length ? '' : 'disabled' %>>
        <i class="fa fa-print"></i>
      </button>
      <ul id="<%- idPrefix %>-printList" class="dropdown-menu dropdown-menu-right">
        <% include _printLineList.ejs %>
      </ul>
    </div>
  </div>
</div>
