<div class="panel panel-primary">
  <div class="panel-heading"><%- t('opinionSurveyDivisions', 'PANEL:TITLE:details') %></div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('opinionSurveyDivisions', 'PROPERTY:_id') %></div>
        <div class="prop-value"><%= model._id %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('opinionSurveyDivisions', 'PROPERTY:short') %></div>
        <div class="prop-value"><%= model.short %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('opinionSurveyDivisions', 'PROPERTY:full') %></div>
        <div class="prop-value"><%= model.full %></div>
      </div>
    </div>
  </div>
</div>
