<div class="panel panel-default is-with-actions osh-history-panel">
  <div class="panel-heading">
    <div class="panel-heading-title"><%- t('history:panelTitle') %></div>
    <div class="panel-heading-actions">
      <button id="<%- id('commentsOnly') %>" class="btn btn-default <%- commentsOnly ? 'active' : '' %>" type="button">
        <i class="fa fa-comments-o"></i><span><%- t('history:commentsOnly') %></span>
      </button>
    </div>
  </div>
  <% items.forEach(item => { %>
  <%- renderItem({item}) %>
  <% }) %>
  <form class="panel-footer osh-history-form">
    <textarea id="<%- id('comment') %>" class="form-control" rows="3" required placeholder="<%- t('history:comment:placeholder') %>"></textarea>
    <button id="<%- id('submit') %>" class="btn btn-primary"><i class="fa fa-comment-o"></i><span><%- t('history:comment:submit') %></span></button>
  </form>
</div>
