<tr id="<%- idPrefix %>-<%- entry._id %>" data-model-id="<%- entry._id %>" data-model-index="<%- modelIndex %>" class="<%- modelIndex % 2 ? 'kanban-is-even' : 'kanban-is-odd' %> <%- entry.rowClassName %>">
  <% columns.list.forEach(function(column) { %>
  <% if (column.arrayIndex) { %>
  <% entry[column._id].forEach(function(value, i) { %>
  <td class="kanban-td <%- column.tdClassName(value, column, i, entry) %>" data-column-id="<%- column._id %>" data-array-index="<%- i %>" tabindex="0">
    <span class="kanban-td-value <%- column.valueClassName(value, column, i, entry) %>"><span class="kanban-td-value-inner"><%- column.renderValue(value, column, i, entry) %></span></span>
  </td>
  <% }) %>
  <% } else { %>
  <td class="kanban-td <%- column.tdClassName(entry[column._id], column, -1, entry) %>" data-column-id="<%- column._id %>" tabindex="0">
    <span class="kanban-td-value <%- column.valueClassName(entry[column._id], column, -1, entry) %>"><span class="kanban-td-value-inner"><%- column.renderValue(entry[column._id], column, -1, entry) %></span></span>
  </td>
  <% } %>
  <% }) %>
  <td class="kanban-td" data-column-id="filler2" colspan="2"></td>
</tr>
