<tbody>
<tr>
  <% columns.list.forEach(function(column) { %>
  <td class="kanban-td <%- column.thClassName %>" data-column-id="<%- column._id %>" rowspan="<%- column.rowSpan %>" colspan="<%- column.colSpan %>" title="<%- column.title %>">
    <span class="kanban-td-label <%- column.labelClassName %>"><%- column.label %></span>
  </td>
  <% }) %>
  <td class="kanban-td" data-column-id="filler1" rowspan="2"></td>
  <td class="kanban-td" data-column-id="filler2" rowspan="2"></td>
</tr>
<% if (columns.map.workstations.visible || columns.map.locations.visible) { %>
<tr>
  <% if (columns.map.workstations.visible) { %>
  <% for (var i = 0; i < columns.map.workstations.colSpan; ++i){ %>
  <td class="kanban-td" data-column-id="workstations" data-array-index="<%- i %>" title="<%- t('kanban', 'column:workstation:title', {n: i + 1}) %>">
    <span class="kanban-td-label"><%- i + 1 %></span>
  </td>
  <% } %>
  <% } %>
  <% if (columns.map.locations.visible) { %>
  <% for (var i = 0; i < columns.map.locations.colSpan; ++i){ %>
  <td class="kanban-td" data-column-id="locations" data-array-index="<%- i %>" title="<%- t('kanban', 'column:location:title', {n: i + 1}) %>">
    <span class="kanban-td-label"><%- i + 1 %></span>
  </td>
  <% } %>
  <% } %>
</tr>
<% } %>
</tbody>
