<div class="gft-section">
  <div class="gft-prop">
    <div class="gft-prop-name"><%- t('prop:pcbCode') %></div>
    <div class="gft-prop-value"><%= order.pcbCode || '-' %></div>
  </div>
  <div class="gft-prop">
    <div class="gft-prop-name"><%- t('prop:pcbName') %></div>
    <div class="gft-prop-value"><%= order.pcbName || '-' %></div>
  </div>
  <div class="gft-prop">
    <div class="gft-prop-name"><%- t('prop:numberOfPcbs') %></div>
    <div class="gft-prop-value"><%= order.numberOfPcbs || '-' %></div>
  </div>
</div>
