<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: '_id',
        label: 'PROPERTY:',
        type: 'text',
        maxLength: 20,
        required: true,
        pattern: '^[A-Za-z0-9-]+$'
      }) %>
      <%- helpers.formGroup({
        name: 'name',
        label: 'PROPERTY:',
        type: 'text',
        maxLength: 100,
        required: true
      }) %>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'description',
        label: 'PROPERTY:',
        type: 'textarea',
        rows: 3
      }) %>
      <%- helpers.formGroup({
        name: 'position',
        label: 'PROPERTY:',
        type: 'number',
        min: 0,
        required: true
      }) %>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="inNearMiss" value="true">
          <%- t('PROPERTY:inNearMiss') %>
        </label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="inSuggestion" value="true">
          <%- t('PROPERTY:inSuggestion') %>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('PROPERTY:coordSections') %></label>
        <table class="table table-bordered table-condensed">
          <thead>
          <tr>
            <th class="is-min"><%- t('coordSections:section') %></th>
            <th class="is-min"><%- t('coordSections:funcs') %></th>
            <th><%- t('coordSections:mor') %></th>
            <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
          </tr>
          </thead>
          <tbody id="<%- id('coordSections') %>"></tbody>
        </table>
        <button data-action="addCoordSection" type="button" class="btn btn-default"><i class="fa fa-plus"></i><span><%- t('coordSections:add') %></span></button>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
