<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input id="<%- id('active') %>" type="checkbox" name="active" value="true">
            <%- t('PROPERTY:active') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('PROPERTY:target') %></label>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="target[]" value="plan">
            <%- t('target:plan') %>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="target[]" value="ct">
            <%- t('target:ct') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- id('name') %>" class="control-label is-required"><%- t('PROPERTY:name') %></label>
        <input id="<%- id('name') %>" class="form-control" type="text" name="name" required maxlength="200">
      </div>
      <div class="form-group">
        <label for="<%- id('description') %>" class="control-label"><%- t('PROPERTY:description') %></label>
        <textarea id="<%- id('description') %>" class="form-control" type="text" name="description" rows="3" style="resize: vertical"></textarea>
      </div>
      <div class="form-group">
        <label for="<%- id('mrp') %>" class="control-label"><%- t('PROPERTY:mrp') %></label>
        <input id="<%- id('mrp') %>" type="text" name="mrp">
      </div>
      <% ['productInclude', 'productExclude', 'bomInclude', 'bomExclude'].forEach(function(prop) { %>
      <div class="form-group">
        <label for="<%- id(prop) %>" class="control-label"><%- t('PROPERTY:' + prop) %></label>
        <% if (t.has('FORM:help:' + prop)) { %>
        <p class="help-block"><%- t('FORM:help:' + prop) %></p>
        <% } %>
        <textarea id="<%- id(prop) %>" class="form-control text-mono" rows="7" name="<%- prop %>" style="resize: vertical"></textarea>
      </div>
      <% }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
