<form class="well filter-form" autocomplete="off">
  <%- helpers.formGroup({
    name: 'status',
    type: 'select',
    label: 'PROPERTY:',
    expandable: true,
    options: statuses,
    groupAttrs: {'data-filter': 'status'}
  }) %>
  <%- forms.dateTimeRange({
    idPrefix,
    hidden: true,
    labels: ['eventDate', 'createdAt', 'startedAt', 'finishedAt'].map(value => ({
      text: t(`PROPERTY:${value}`),
      ranges: true,
      value,
      utc: value === 'eventDate'
    }))
  }) %>
  <div class="form-group" style="min-width: 280px">
    <input id="<%- id('userType') %>" name="userType" type="hidden" value="others">
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <div id="<%- id('locationPath') %>" class="form-group hidden" data-filter="locationPath"></div>
  <%- helpers.formGroup({
    name: 'kind',
    type: 'select',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'kind'},
    expandable: true,
    options: kinds
  }) %>
  <%- helpers.formGroup({
    name: 'eventCategory',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'eventCategory'}
  }) %>
  <%- helpers.formGroup({
    name: 'reasonCategory',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'reasonCategory'}
  }) %>
  <%- helpers.formGroup({
    name: 'priority',
    type: 'select',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'priority'},
    expandable: true,
    options: priorities
  }) %>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
