<form class="well filter-form" autocomplete="off">
  <%- helpers.formGroup({
    name: 'status',
    type: 'select',
    label: 'PROPERTY:',
    expandable: true,
    options: statuses,
    groupAttrs: {'data-filter': 'status'}
  }) %>
  <%- forms.dateTimeRange({
    idPrefix,
    property: 'createdAt',
    hidden: true
  }) %>
  <div class="form-group" style="min-width: 280px">
    <div class="filter-radioLabels">
      <% ['mine', 'others'].forEach(function(userType) { %>
      <label>
        <input name="userType" type="radio" value="<%- userType %>">
        <%- t('filter:user:' + userType) %>
      </label>
      <% }) %>
    </div>
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <%- helpers.formGroup({
    name: 'workplace',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'workplace'}
  }) %>
  <%- helpers.formGroup({
    name: 'department',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'department'}
  }) %>
  <%- helpers.formGroup({
    name: 'building',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'building'}
  }) %>
  <%- helpers.formGroup({
    name: 'location',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'location'}
  }) %>
  <%- helpers.formGroup({
    name: 'station',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'station'}
  }) %>
  <%- helpers.formGroup({
    name: 'kind',
    type: 'select',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'kind'},
    expandable: true,
    options: kinds
  }) %>
  <%- helpers.formGroup({
    name: 'eventCategory',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'eventCategory'}
  }) %>
  <%- helpers.formGroup({
    name: 'reasonCategory',
    type: 'select2',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'reasonCategory'}
  }) %>
  <%- helpers.formGroup({
    name: 'priority',
    type: 'select',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'priority'},
    expandable: true,
    options: priorities
  }) %>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
