<form class="osh-entries-form osh-nearMisses-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <% if (!editMode) { %>
        <div class="checkbox" style="margin-bottom: 15px">
          <label class="control-label">
            <input id="<%- id('anonymous') %>" type="checkbox" name="anonymous" value="true">
            <%- t('PROPERTY:anonymous') %>
          </label>
        </div>
      <% } %>
      <%- helpers.formGroup({
        name: 'subject',
        label: 'PROPERTY:',
        required: true,
        maxLength: 150
      }) %>
      <div class="row">
        <%- helpers.formGroup({
          name: 'creator',
          type: 'static',
          label: 'FORM:',
          groupClassName: 'col-lg-4',
          value: user.getLabel()
        }) %>
        <%- helpers.formGroup({
          name: 'userWorkplace',
          type: 'select2',
          label: 'PROPERTY:',
          required: true,
          groupClassName: 'col-lg-4'
        }) %>
        <%- helpers.formGroup({
          name: 'userDepartment',
          type: 'select2',
          label: 'PROPERTY:',
          required: true,
          groupClassName: 'col-lg-4'
        }) %>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading"><%- t('FORM:subtitle') %></div>
        <div class="panel-body has-lastElementRow">
          <div class="form-group">
            <label class="control-label"><%- t('PROPERTY:kind') %></label>
            <br>
            <% kinds.forEach(option => { %>
            <label class="radio-inline" title="<%= option.title %>">
              <input name="kind" type="radio" value="<%- option.value %>">
              <%= option.label %>
            </label>
            <% }) %>
          </div>
          <% if (!relation) { %>
          <div class="row">
            <%- helpers.formGroup({
              name: 'workplace',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
            <%- helpers.formGroup({
              name: 'department',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
          </div>
          <div class="row">
            <%- helpers.formGroup({
              name: 'building',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
            <%- helpers.formGroup({
              name: 'location',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
            <%- helpers.formGroup({
              name: 'station',
              type: 'select2',
              label: 'PROPERTY:',
              groupClassName: 'col-lg-4'
            }) %>
          </div>
          <% } %>
          <div class="form-group">
            <label for="<%- id('eventDate') %>" class="control-label is-required"><%- t('PROPERTY:eventDate') %></label>
            <div class="form-group-datetime">
              <input id="<%- id('eventDate') %>" class="form-control" name="eventDate" type="date" required min="<%- window.PRODUCTION_DATA_START_DATE || '2020-01-01' %>" max="<%- today %>">
              <input id="<%- id('eventTime') %>" class="form-control" name="eventTime" type="time" placeholder="<%- t('FORM:eventTime:placeholder') %>" title="<%- t('FORM:eventTime:title') %>">
            </div>
          </div>
          <div class="row">
            <%- helpers.formGroup({
              name: 'eventCategory',
              type: 'select2',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4'
            }) %>
            <%- helpers.formGroup({
              name: 'reasonCategory',
              type: 'select2',
              label: 'PROPERTY:',
              groupClassName: 'col-lg-4'
            }) %>
          </div>
          <div class="row">
            <%- helpers.formGroup({
              name: 'problem',
              type: 'textarea',
              label: 'PROPERTY:',
              required: true,
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
            <%- helpers.formGroup({
              name: 'reason',
              type: 'textarea',
              label: 'PROPERTY:',
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
            <%- helpers.formGroup({
              name: 'suggestion',
              type: 'textarea',
              label: 'PROPERTY:',
              groupClassName: 'col-lg-4',
              rows: 4
            }) %>
          </div>
          <div class="row">
            <% if (editMode) { %>
              <%- helpers.formGroup({
                name: 'implementer',
                type: 'select2',
                label: 'PROPERTY:',
                required: model.status === 'inProgress' || model.status === 'finished',
                groupClassName: 'col-lg-4'
              }) %>
            <% } else { %>
              <div class="form-group col-lg-4">
                <label class="control-label"><%- t('PROPERTY:implementer') %></label>
                <br>
                <label class="checkbox-inline">
                  <input id="<%- id('selfImplement') %>" name="selfImplement" type="checkbox" value="true">
                  <%- t('FORM:selfImplement') %>
                </label>
              </div>
            <% } %>
            <%- helpers.formGroup({
              name: 'plannedAt',
              type: 'date',
              label: 'FORM:',
              required: model.status === 'inProgress' || model.status === 'finished',
              groupClassName: 'col-lg-4'
            }) %>
            <div class="col-lg-4 form-group">
              <label class="control-label"><%- t('PROPERTY:priority') %></label>
              <br>
              <% priorities.forEach(option => { %>
                <label class="radio-inline">
                  <input name="priority" type="radio" value="<%- option.value %>">
                  <%- option.label %>
                </label>
              <% }) %>
            </div>
          </div>
          <% if (resolutionTypes.length) { %>
            <div class="row">
              <div class="col-lg-4 form-group">
                <label class="control-label <%- model.status === 'new' ? '' : 'is-required' %>"><%- t('PROPERTY:resolution') %></label>
                <% resolutionTypes.forEach(type => { %>
                  <div class="radio">
                    <label>
                      <input type="radio" name="resolution.type" value="<%- type %>" <%- model.status === 'new' ? '' : 'required' %> <%- can.editResolutionType ? '' : 'disabled' %>>
                      <%- t(`resolution:desc:${type}`) %>
                    </label>
                  </div>
                <% }) %>
              </div>
              <div id="<%- id('resolutionGroup') %>" class="col-lg-4 form-group osh-nearMisses-form-resolutionId">
                <label for="<%- id('resolutionId') %>" class="control-label"><%- t(`FORM:resolution:unspecified`) %></label>
                <div class="input-group">
                  <input id="<%- id('resolutionId') %>" name="resolution.rid" class="form-control text-mono" type="text" pattern="^([akAK]-)?([0-9]{4}-)?[0-9]{1,6}$" maxlength="13">
                  <span class="input-group-btn">
                    <button id="<%- id('showResolution') %>" type="button" class="btn btn-default" title="<%- t('FORM:resolution:show') %>"><i class="fa fa-info"></i></button>
                    <button id="<%- id('addResolution') %>" type="button" class="btn btn-default" title="<%- t('FORM:resolution:add') %>"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <% if (editMode) { %>
        <%- helpers.formGroup({
          name: 'attachments',
          type: 'file',
          label: 'PROPERTY:',
          accept: '.txt,.pdf,.docx,.xlsx,.png,.jpeg,.jpg,.tiff,.webp,.mp4',
          multiple: true
        }) %>
        <%- helpers.formGroup({
          name: 'comment',
          type: 'textarea',
          label: 'PROPERTY:',
          rows: 3
        }) %>
      <% } else { %>
        <%- helpers.formGroup({
          name: 'attachments',
          type: 'file',
          label: 'PROPERTY:photos',
          accept: '.png,.jpeg,.jpg,.tiff,.webp',
          multiple: true
        }) %>
      <% } %>
    </div>
    <div class="form-actions">
      <button id="<%- id('save') %>" type="submit" class="btn btn-primary" title="<%- editMode ? t('wmes-osh-common', 'FORM:ACTION:title:edit') : '' %>">
        <% if (editMode) { %>
          <i class="fa fa-save"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:edit') %></span>
        <% } else { %>
          <i class="fa fa-plus"></i><span><%- t('FORM:ACTION:add') %></span>
        <% } %>
      </button>
      <% if (editMode) { %>
        <% if (can.inProgress) { %><button id="<%- id('inProgress') %>" type="button" class="btn btn-info"><i class="fa fa-check"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:inProgress') %></span></button><% } %>
        <% if (can.paused) { %><button id="<%- id('paused') %>" type="button" class="btn btn-warning"><i class="fa fa-hourglass-o"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:paused') %></span></button><% } %>
        <% if (can.cancelled) { %><button id="<%- id('cancelled') %>" type="button" class="btn btn-danger"><i class="fa fa-ban"></i><span><%- t('wmes-osh-common', 'FORM:ACTION:cancelled') %></span></button><% } %>
      <% } %>
    </div>
  </div>
</form>
