<div class="osh-entries-details-props">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%- t('details:general') %></div>
        <div class="panel-details">
          <%- helpers.props(details, [
            {id: 'subject', nameClassName: unseen('subject', 1)},
            {id: 'workplace', nameClassName: unseen('workplace', 1)},
            {id: 'division', nameClassName: unseen('division', 1)},
            {id: 'building', nameClassName: unseen('building', 1)},
            {id: 'location', nameClassName: unseen('location', 1)},
            {id: 'station', nameClassName: unseen('station', 1)},
            {id: 'eventDate', nameClassName: unseen('eventDate', 1)},
            {id: '!kind', nameClassName: unseen('kind', 1), value: v =>
              `<span title="${_.escape(details.descriptions.kind)}">${_.escape(v)} `
              + (details.descriptions.kind ? '<i class="fa fa-question-circle"></i>' : '')
              + '</span>'
            },
            {id: 'materialLoss', nameClassName: unseen('materialLoss', 1), visible: model.materialLoss},
            {id: '!eventCategory', nameClassName: unseen('eventCategory', 1), value: v =>
              `<span title="${_.escape(details.descriptions.eventCategory)}">${_.escape(v)} `
              + (details.descriptions.eventCategory ? '<i class="fa fa-question-circle"></i>' : '')
              + '</span>'
            },
            {id: '!reasonCategory', nameClassName: unseen('reasonCategory', 1), value: v =>
              `<span title="${_.escape(details.descriptions.reasonCategory)}">${_.escape(v)} `
              + (details.descriptions.reasonCategory ? '<i class="fa fa-question-circle"></i>' : '')
              + '</span>'
            }
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%- t('details:users') %></div>
        <div class="panel-details">
          <%- helpers.props(details, [
            {id: '!creator', nameClassName: unseen('creator', 1)},
            {id: '!implementer', nameClassName: unseen('implementer', 1)},
            {id: '!coordinators', nameClassName: unseen('coordinators', 1), value: users =>
            {
              if (!users.length)
              {
                return '';
              }

              if (users.length === 1 || users.length > 11)
              {
                return users.join(', ');
              }

              return `<ul><li>${users.join('<li>')}</ul>`;
            }}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%- t('details:extra') %></div>
        <div class="panel-details">
          <%- helpers.props(details, [
            {id: '!status', nameClassName: unseen('status', 1), value: status =>
            {
              let html = status;

              if (model.statusComment)
              {
                html += `<br><span class="small text-lines"><i class="fa fa-comment-o"></i> ${_.escape(model.statusComment)}</span>`;
              }

              return html;
            }},
            {id: 'priority', nameClassName: unseen('priority', 1)},
            {id: 'createdAt', nameClassName: unseen('createdAt', 1)},
            {id: 'startedAt', nameClassName: unseen('startedAt', 1)},
            {id: 'plannedAt', nameClassName: unseen('plannedAt', 1)},
            {id: 'finishedAt', nameClassName: unseen('finishedAt', 1)},
            {id: 'duration', nameClassName: unseen('duration', 1)},
            {id: '!resolution', nameClassName: unseen('resolution', 1)}
          ]) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading"><%- t('PROPERTY:problem') %></div>
        <div class="panel-body text-lines <%- unseen('problem', 1) %>"><%= details.problem %></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading"><%- t('PROPERTY:reason') %></div>
        <div class="panel-body text-lines <%- unseen('reason', 1) %>"><%- _.escape(details.reason) || `<em>${t('details:noReason')}</em>` %></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-secondary">
        <div class="panel-heading"><%- t('PROPERTY:suggestion') %></div>
        <div class="panel-body text-lines <%- unseen('suggestion', 1) %>"><%- _.escape(details.suggestion) || `<em>${t('details:noSuggestion')}</em>` %></div>
      </div>
    </div>
  </div>
</div>
