<dl>
  <dt><%- t('PROPERTY:_id') %></dt>
  <dd><a href="#osh/<%- type %>s/<%- id %>" target="_blank" style="display: block"><%- id %></a></dd>
  <dt><%- t('PROPERTY:subject') %></dt>
  <dd><%= data.subject %></dd>
  <dt><%- t('PROPERTY:status') %></dt>
  <dd><%- t('wmes-osh-common', `status:${data.status}`) %></dd>
</dl>
