<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'time',
    type: 'date+time',
    startHour: 6,
    labels: {text: t('events:time'), ranges: '+shifts'}
  }) %>
  <div id="<%- idPrefix %>-orgUnit" class="form-group"></div>
  <div class="form-group">
    <label for="<%- idPrefix %>-type"><%- t('isa', 'events:action') %></label>
    <select id="<%- idPrefix %>-type" name="type">
      <option></option>
      <% ['pickupRequested', 'deliveryRequested', 'requestCancelled', 'requestAccepted', 'requestFinished', 'shiftPersonnelUpdated'].forEach(function(type) { %>
      <option value="<%- type %>"><%- t('isa', 'events:type:' + type) %></option>
      <% }) %>
    </select>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('isa', 'events:filter') %></span></button>
  </div>
</form>
