<tr class="<%- event.className %>" data-id="<%- event._id %>">
  <td class="is-min"><%- event.time %></td>
  <td class="is-min"><%= event.line %></td>
  <td class="is-min"><%= event.user %></td>
  <td><%- event.action %></td>
</tr>
