<form class="action-form">
  <p><%- t('isa', 'shiftPersonnel:message') %></p>
  <input id="<%- idPrefix %>-users" type="text" autocomplete="new-password" value="<%- users %>">
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('isa', 'shiftPersonnel:submit') %></button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
