<div class="compRel-details-page">
  <div id="<%- id('props') %>"></div>
  <div id="<%- id('funcs') %>" style="margin-top: 15px"></div>
  <div style="margin: 15px auto 0 auto; display: flex; max-width: 1280px">
    <div id="<%- id('chat') %>" style="width: 800px; flex: 0 0 auto"></div>
    <div id="<%- id('attachments') %>" style="flex: 1 1 auto; margin-left: 15px"></div>
  </div>
  <div id="<%- id('orders') %>" style="margin-top: 15px"></div>
</div>
