<form>
  <div class="form-group">
    <label class="control-label"><%- t('orders:mode') %></label>
    <div class="radio">
      <label><input type="radio" name="mode" value="date" checked> <%- t('orders:mode:date') %></label>
    </div>
    <div class="radio">
      <label><input type="radio" name="mode" value="orders"> <%- t('orders:mode:orders') %></label>
    </div>
  </div>
  <div class="form-row">
    <%- helpers.formGroup({
      name: 'validFrom',
      type: 'date',
      label: 'orders:',
      min: minDate,
      max: maxDate
    }) %>
    <%- helpers.formGroup({
      name: 'validTo',
      type: 'date',
      label: 'orders:',
      min: minDate,
      max: maxDate
    }) %>
  </div>
  <%- helpers.formGroup({
    name: 'orders',
    type: 'textarea',
    label: 'orders:',
    rows: 4,
    inputClassName: 'text-mono',
    disabled: true
  }) %>
  <%- helpers.formGroup({
    name: 'comment',
    type: 'textarea',
    label: 'orders:',
    rows: 4
  }) %>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-primary" style="min-width: 125px">
      <i class="fa fa-save"></i><span><%- t('orders:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
