<form>
  <div class="message message-inline message-info" style="margin-bottom: 15px">
    <%- t('orders:removeMany:message') %>
  </div>
  <%- helpers.formGroup({
    name: 'orders',
    type: 'textarea',
    label: 'orders:',
    rows: 4,
    inputClassName: 'text-mono'
  }) %>
  <%- helpers.formGroup({
    name: 'releasedBy',
    type: 'select2',
    label: 'orders:'
  }) %>
  <%- helpers.formGroup({
    name: 'releasedAt',
    type: 'select2',
    label: 'orders:'
  }) %>
  <%- helpers.formGroup({
    name: 'comment',
    type: 'textarea',
    label: 'orders:',
    rows: 4
  }) %>
  <div class="form-actions">
    <button id="<%- id('submit') %>" type="submit" class="btn btn-primary" style="min-width: 125px">
      <i class="fa fa-save"></i><span><%- t('orders:removeMany:submit') %></span>
    </button>
    <button type="button" class="cancel btn btn-link"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
