<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'shortName',
        label: 'PROPERTY:',
        required: true,
        maxLength: 50
      }) %>
      <%- helpers.formGroup({
        name: 'longName',
        label: 'PROPERTY:',
        required: true,
        maxLength: 200
      }) %>
      <%- helpers.formGroup({
        name: 'description',
        type: 'textarea',
        label: 'PROPERTY:',
        rows: 10,
        inputClassName: 'text-mono'
      }) %>
      <%- helpers.formGroup({
        name: 'position',
        type: 'number',
        label: 'PROPERTY:',
        required: true,
        min: -9999999,
        max: 9999999,
        inputStyle: {
          width: '100px'
        }
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
