<div class="hidden">
  <h1>v0.49.2</h1>
  <h2><%- time.format('2014-12-23', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd podczas aktywacji pola z listą rozwijaną w tabelce części na formularzu Karty pracy.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.49.0</h1>
  <h2><%- time.format('2014-12-23', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawniono błąd powodujący zmianę Czasu zakończenia Zlecenia zamiast Przestoju, gdy podczas edycji Przestoju
      zmieniono tylko Czas zakończenia.
    </li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono algorytm wykrywania zmiany Zmiany produkcyjnej, aby nie dokonywał zmiany, jeżeli nowa Zmiana jest
      wcześniejsza niż aktualna (np. o 14:00 rozpoczynana jest zmiana II; za chwilę poprawi się zegar, który był o
      minutę do przodu; rozpoczynana jest zmiana I (znowu); za minutę znowu będzie 14:00 i znowu rozpocznie się zmiana
      II).
    </li>
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Dodano do zadań wykonujących skrypty transakcji twardy limit czasu wykonywania. Po jego upływie skrypt jest
      zatrzymywany na siłę.
    </li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe podziały wartości na osiach Y po wyjściu z trybu pełnoekranowego
      (podwójne kliknięcie na wykresie).
    </li>
    <li>Dodano nowy raport: Magazyn (nie ma danych, bo trzeba skonfigurować Zadania produkcyjne dla Magazynów).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.48.4</h1>
  <h2><%- time.format('2014-12-15', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawniono błąd przerywający operację edycji Zlecenia, gdy zmienione zostały atrybuty, które kopiowane są do
      Przestojów w danym Zleceniu.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.48.3</h1>
  <h2><%- time.format('2014-12-14', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawniono błąd wywalający serwer aplikacji podczas próby zapisania duplikatu operacji z Formatki operatora.
    </li>
  </ul>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Poprawniono błąd powodujący, że przy podziale czasu Kwartał, do kwartału wliczane były dane tylko z pierwszego
      miesiąca danego kwartału.
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że data i zmiana nie były ustawiane na aktualne wartości na formularzu dodawania.
    </li>
    <li>Dodano wyświetlanie Wydziałów i możliwość filtrowania po Wydziałach. Wydziały pobierane są z Maszyn wszystkich
      wykonanych części.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano nowe indeksy dla Zleceń i Przestojów w celu przyśpieszenia niektórych zapytań.</li>
    <li>Zwiększono ilość maksymalnych połączeń do bazy danych z procesu serwera aplikacji z 5 na 15.</li>
    <li>Zaktualizowano bibliotekę wykresów do najnowszej wersji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.48.2</h1>
  <h2><%- time.format('2014-12-07', 'LL') %></h2>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawniono błąd wywalający serwery raportów podczas generowania raportu Wykorzystania zasobów, jeżeli w danych
      pojawi się dezaktywowana Linia produkcyjna.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.48.1</h1>
  <h2><%- time.format('2014-12-07', 'LL') %></h2>
  <h3>Produkcja > Historia operacji</h3>
  <ul>
    <li>Dodano brakujący filtr dla operacji typu Usunięcie zmiany.</li>
  </ul>
  <h3>FTE (magazyn)</h3>
  <ul>
    <li>Poprawiono błąd powodujący nie podliczanie sum po zmianie wartości w Zadaniu produkcyjnym, które nie ma
      przypisanego zadania nadrzędnego.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.48.0</h1>
  <h2><%- time.format('2014-12-07', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Usunięto zapisywanie zdarzeń: Karty pracy: dodanie, FTE: dodanie i Plany godzinowe: dodanie.</li>
  </ul>
  <h3>Zadania produkcyjne</h3>
  <ul>
    <li>Dodano możliwość definiowania nadrzędnego zadania. Tylko zadania bez rodzica mogą zostać wybrane.</li>
  </ul>
  <h3>Funkcje na produkcji</h3>
  <ul>
    <li>Dodano nowe pole: Pozycja w FTE (magazyn).</li>
  </ul>
  <h3>FTE (magazyn)</h3>
  <ul>
    <li>Dodano podział na Funkcje na produkcji.</li>
    <li>Dodano wsparcie dla drugiego poziomu Zadań produkcyjnych.</li>
    <li>Dodano możliwość wpisania komentarza do każdego Zadania.</li>
  </ul>
  <h3>Produkcja > Historia operacji</h3>
  <ul>
    <li>Poprawiono błąd powodujący nie zapisywanie operacji dodawania/edycji zlecenia/przestoju w historii.</li>
  </ul>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Usprawniono sprawdzanie nakładających się na siebie zleceń/przestojów podczas dodawania/edycji, aby można było
      rozpocząć zlecenie/przestój w tej samej sekundzie, w jakiej skończyło się poprzednie zlecenie/przestój (lub
      zakończyć w momencie rozpoczęcia następnego).
    </li>
  </ul>
  <h3>Produkcja</h3>
  <ul>
    <li>Usprawniono aktywację Linii produkcyjnych, które aktywują się na innej zmianie niż jest w danym momencie na
      serwerze, ze względu na różnice zegarów systemowych.
    </li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Dodano filtr Wydział do raportu 4: Operatorzy.</li>
    <li>Wyrzucono generowanie raportów z głównego procesu serwera do dwóch oddzielnych procesów.</li>
  </ul>
  <h3>Xiconf</h3>
  <h3>ICPO</h3>
  <ul>
    <li>Usprawniono importowanie wyników, aby dało się wczytać otwrzymaną paczkę danych o rozmiarze większym niż 16
      MB.
    </li>
  </ul>
  <h3>Zamówienia</h3>
  <ul>
    <li>Usunięto możliwość wybrania kodu QR przy drukowaniu.</li>
    <li>Poprawiono czytelność zaznaczonej pozycji zamówienia.</li>
    <li>Zmieniono importowanie danych z SAP. Dane zrzucane są teraz przez SAP GUI, a nie z e-maila.</li>
    <li>Dodano filtr listy pozycji zamówienia: Niewydane - pokazuje tylko te, których Ilość wydana jest mniejsza od
      Ilości całkowitej.
    </li>
    <li>Dodano specjalne szablony etykiet dla firmy BART-DRUK: <a
        href="http://pos.walkner.pl/purchaseOrders/926841/prints/54747de481e287543ee1b54d.pdf" class="postlink">A5</a>,
      <a href="http://pos.walkner.pl/purchaseOrders/926841/prints/547712afec11d462629271ae.pdf" class="postlink">A6</a>
      i <a href="http://pos.walkner.pl/purchaseOrders/926841/prints/547712caec11d462629271af.pdf"
           class="postlink">A7</a>.
    </li>
    <li>Dodano możliwość drukowania bezpośrednio na drukarkę (w tym termotransferową Zebry 203 DPI). Wymaga
      skonfigurowania dodatkowej wtyczki Java.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano bazę MongoDB, środowisko Node.js i wszystkie zależności do najnowszych wersji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.47.2</h1>
  <h2><%- time.format('2014-11-21', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Przywrócono zapisywanie wartości Ilości osób, Ilości wykonanej w zleceniu oraz Ilości w przedziałach godzinowych
      po utracie fokusa (z małymi usprawnieniami).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.47.1</h1>
  <h2><%- time.format('2014-11-21', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Usprawiono oś czasu, aby zlecenia i przestoje otwierały się w nowym oknie, jeżeli kliknie się na nie środkowym
      przyciskiem myszy lub Ctrl+lewym.
    </li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Usprawniono dodawanie, edycję i usuwanie zleceń i przestojów.</li>
  </ul>
  <h3>Produkcja > Historia operacji</h3>
  <ul>
    <li>Dodano brakujące teksty i filtry operacji dodawania zmiany, zlecenia i przestoju.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono zachowanie edytorów wartości Ilości osób, Ilości wykonanej w zleceniu oraz Ilości w przedziałach
      godzinowych, aby nie znikały po utracie fokusa - od teraz pole zniknie po wciśnięciu Escape (anulowanie) lub Enter
      (zapisanie).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.47.0</h1>
  <h2><%- time.format('2014-11-16', 'LL') %></h2>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Dodano możliwość dezaktywacji Linii produkcyjnych poprzez ustawienie Daty dezaktywacji podczas edycji. Po
      dezaktywacji, Linia może być edytowana i usunięta tylko przez roota.
    </li>
  </ul>
  <h3>Raport: Wskaźniki</h3>
  <h3>Raport: CLIP</h3>
  <ul>
    <li>Dezaktywowane Linie produkcyjne zostają ukryte, jeżeli data w filtrze Od raportu jest po Dacie dezaktywacji
      danej Linii.
    </li>
  </ul>
  <h3>Raport: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że dwie pierwsze kolumny w tabelce zmieniały lekko pozycję, przez co nie pasowały do
      pozostałych kolumn, gdy pasek przewijania został przewinięty na sam dół.
    </li>
    <li>Dezaktywowane Linie produkcyjne zostają ukryte, jeżeli data w filtrze Od raportu jest po Dacie dezaktywacji
      danej Linii. Jeżeli wybrany okres zachodzi na Datę dezaktywacji, to wskaźnik Dyspoz. maszyn całkowita jest
      odpowiednio zmniejszany (od daty Od filtra do Daty dezaktywacji).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający załadowanie aplikacji, jeżeli język przeglądarki ustawiony był na inny niż
      polski.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.46.1</h1>
  <h2><%- time.format('2014-11-12', 'LL') %></h2>
  <h3>Raport: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie niektórych wartości jako NaN zamiast 0, w przypadku przeglądania danych
      z okresu, w którym było 0 dni roboczych.
    </li>
    <li>Zmieniono format liczb w eksportowanym pliku tabeli, aby był bardziej przyjazny Excelowi (tylko cyfry i
      separator dziesiętny).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.46.0</h1>
  <h2><%- time.format('2014-11-11', 'LL') %></h2>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawniono błąd powodujący zwiększanie się wysokości nagłówka po przejściu z pierwszego poziomu raportu na
      głębszy.
    </li>
    <li>Dodano podziały czasu Kwartał i Rok do wszystkich raportów.</li>
  </ul>
  <h3>Raport: Wskaźniki</h3>
  <ul>
    <li>Zmieniono obliczanie Produktywności w przypadku zaznaczenia Typu działu Montaż lub Tłocznia (pod uwagę brane są
      tylko wpisy FTE (produkcja) z działów wybranego typu).
    </li>
  </ul>
  <h3>Raport: Wykorzystanie zasobów</h3>
  <ul>
    <li>Zmieniono obliczanie Dyspoz. maszyn całkowitej [h]: od teraz dla Linii produkcyjnych, które nie wystąpiły w
      wybranym okresie czasu generowane są domyślne wartości (100% bezczynności), aby przy dowolnej konfiguracji filtra,
      występowały takie same wartości wskaźników dla takich samym przedziałów czasu.
    </li>
    <li>Dodano możliwość wyeksportowania aktualnego stanu tabeli do pliku CSV.</li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Dodano nazwę zlecenia i nazwę operacji do eksportowanych danych.</li>
  </ul>
  <h3>Programowanie: Wyniki ICPO</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający pobieranie plików wybranego wyniku programowania.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.45.1</h1>
  <h2><%- time.format('2014-10-26', 'LL') %></h2>
  <h3>Zamówienia</h3>
  <ul>
    <li>Zmieniono importowanie Zamówień: dodano obsługę więcej niż jednego kroku i z każdego kroku wybierane są
      Zamówienia ze zdefiniowanych Purchase Group (PGr).
    </li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono instalator formatki, aby ta nie wymagała zwiększonych uprawnień.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.45.0</h1>
  <h2><%- time.format('2014-10-25', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Dodano zapisywanie adresu dane użytkownika generującego zdarzenie Użytkownicy: nieudane logowanie.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Poprawiono wyświetlanie Układu fabryki w IE11.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono sposób aktywacji/dezaktywacji Linii produkcyjnej.</li>
    <li>Przygotowano instalator klienta formatki (Chrome+aktywacja okna przeglądarki co godz.).</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono za dużą wysokość menu w IE11.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.44.0</h1>
  <h2><%- time.format('2014-10-13', 'LL') %></h2>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono stałą wartość 8 w liczniku Produktywności na opcję konfiguracyjną Raport &gt; Ustawienia &gt;
      Produktywność &gt; Współczynnik.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.43.4</h1>
  <h2><%- time.format('2014-10-12', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że sesja użytkownika Gość zawierała niekompletne dane, jeżeli utworzona była przez
      żądanie nie sprawdzające uprawnień.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.43.3</h1>
  <h2><%- time.format('2014-10-09', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że formatka pozostawała ukryta, jeżeli nie została odblokowana.</li>
    <li>Dodano opóźnienie 5s do wczytywania planowanych ilości po załadowaniu formatki i ukończeniu synchronizacji z
      serwerem.
    </li>
    <li>Dodano opóźnienie 2s do dołączenia do Monitoringu po załadowaniu formatki i ukończeniu synchronizacji z
      serwerem.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.43.2</h1>
  <h2><%- time.format('2014-10-08', 'LL') %></h2>
  <h3>FTE/Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd podczas sprawdzania uprawnień po stronie klienta, który sprawiał, że Użytkownik nie miał dostępu
      do ekranów zarządzania.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.43.1</h1>
  <h2><%- time.format('2014-10-08', 'LL') %></h2>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono sposób rozpoznawania czy dana Linia jest online: teraz, przedstawienie/pożegnanie się z serwerem przez
      połączenie, które różni się od aktualnie przypisanego nadpisuje aktualnie ustawione połączenie (wcześniej
      ignorowało, co mogło spowodować pokazywanie Linii jako offline, mimo że była online).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.43.0</h1>
  <h2><%- time.format('2014-10-08', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Dodano dostęp do danych produkcyjnych dla Gości łączących się z sieci 192.168.</li>
  </ul>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Dodano możliwość monitorowania ostatniej zmiany wybranej Linii produkcyjnej wpisując w adresie ID Linii
      produkcyjnej zamiast ID zmiany (np. /#prodShifts/IM1).
    </li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera podczas aktualizacji aktualnego stanu Linii produkcyjnej.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.42.1</h1>
  <h2><%- time.format('2014-10-05', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono dane w bazie danych i odtworzono Zmiany, Zlecenia i Przestoje z Historii operacji na liniach
      produkcyjnych.<br>Historia ma już ponad 657k operacji. 14408 Zmian, średnio 45,6 operacji na zmianę, najwięcej -
      252 - na <a href="http://161.87.64.46:6080/#prodShifts/hyi4pzcm-qunalb15ytj56nuyg" class="postlink">W1_SM-12_1:
        2014-08-06, I</a>.
    </li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący próbę komunikacji (pobranie przestojów, planowanych ilości oraz dołączenie do
      Monitoringu) z serwerem przy ładowaniu formatki przed wczytaniem lokalnych danych, co mogło powodować wyświetlanie
      nieprawidłowych stanów Linii produkcyjnych na Monitoringu.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.42.0</h1>
  <h2><%- time.format('2014-10-05', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Poprawiono błąd powodujący w szczególnym przypadku zapisywanie nieprawidłowego adresu IP w zdarzeniu
      Użytkownicy: wylogowanie.
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono w bazie danych indeksy, które miały być wykorzystywane podczas szukania kart pracy wg mistrza lub
      operatora.
    </li>
    <li>Usprawniono wygląd listy części.</li>
    <li>Dodano możliwość wpisania komentarza do każdej wykonanej części.</li>
  </ul>
  <h3>Raport Operatorzy</h3>
  <ul>
    <li>Dodano zaokrąglanie wartości do dwóch miejsc po przecinku na wykresie Ilości wykonane/Straty materiałowe.</li>
    <li>Dodano pod wykresami listę wykonanych części z komentarzami.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że lista ostatnich przestojów mogła się nie odświeżyć po pobraniu aktualnych danych
      z serwera.
    </li>
    <li>Usprawniono proces sprawdzania, czy uruchomiono więcej niż jedną formatkę operatora na danym komputerze.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że czcionka ikonek nie była zapisywana w cache przeglądarki razem z resztą
      aplikacji, co mogło powodować wydłużone wczytywanie się aplikacji.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.41.1</h1>
  <h2><%- time.format('2014-09-29', 'LL') %></h2>
  <h3>Xiconf</h3>
  <ul>
    <li>Poprawiono błąd powodujący wysłyłanie drugiej odpowiedzi w przypadku błędu licencji podczas importowania
      wyników.
    </li>
  </ul>
  <h3>ICPO</h3>
  <ul>
    <li>Dodano nowy moduł: ICPO - historia wyników programowań wysyłanych przez aplikacje Walkner ICPO v1.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.40.3</h1>
  <h2><%- time.format('2014-09-14', 'LL') %></h2>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono formularz wyboru Linii produkcyjnych do Listy linii produkcyjnych aby nie pokazywał Wydziałów typu
      Dystrybucja i Działów typu Magazyn.
    </li>
    <li>Zmieniono resetowanie stanu rozłączonych Linii produkcyjnych, aby po pięciu minutach po rozpoczęciu nowej Zmiany
      produkcyjnej dane były resetowane nawet jak Zmiana pozostała w stanie innym niż bezczynność.
    </li>
    <li>Kliknięcie na Linię produkcyjną na Układzie fabryki przeniesie Użytkownika do strony szczegółów aktualnej Zmiany
      produkcyjnej tej Linii.
    </li>
    <li>Kliknięcie na nazwę Linii produkcyjnej na Liście linii produkcyjnych przeniesie Użytkownika do strony szczegółów
      aktualnej Zmiany produkcyjnej tej Linii.
    </li>
    <li>Dodano możliwość ustawienia kolorów Wydziałów.</li>
    <li>Dodano wyświetlanie nazwy Wydziału na Układzie fabryki.</li>
    <li>Dodano nową opcję wyświetlania do Listy linii produkcyjnych: Ignorowane - włączenie jej spowoduje, że Linie
      produkcyjne, które zostały określone jako ignorowane w ustawieniach zostaną pokazane na liście.
    </li>
    <li>Dodano do Listy linii produkcyjnych możliwość wyświetlania historycznych Zmian produkcyjnych (maksymalnie z 7
      dni na raz).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wygląd paska menu: zmniejszono wysokość, kolor czcionki i dodano podświetlenie tła po najechaniu
      myszką.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.40.2</h1>
  <h2><%- time.format('2014-09-07', 'LL') %></h2>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono opcje w menu, aby pokazywały się tylko zalogowanym użytkownikom.</li>
    <li>Dodano resetowanie danych po rozpoczęciu nowej zmiany produkcyjnej, jeżeli formatka operatora zakończyła pracę i
      została wyłączona.
    </li>
    <li>Dodano przerysowywanie Układu fabryki i Listy linii produkcyjnych po zmianach w strukturze organizacyjnej.</li>
    <li>Dodano opcje wyświetlania do Listy linii produkcyjnych (aktualne opcje można zapisać na danym komputerze;
      wczytane będą po wejściu z menu Produkcja &gt; Monitoring &gt; Lista linii produkcyjnych).
    </li>
    <li>Dodano ustawienia (wymagane uprawnienie Monitoring: zarządzanie). Można wybrać jednostki organizacyjne, jakie
      mają być ignorowane oraz ustawić czas po upłynięciu którego Przestój uznawany jest za długi - po tym czasie Linia
      zacznie się poruszać).
    </li>
    <li>Dodano wykres Wykonanych ilości w przedziałach godzinowych do Listy linii produkcyjnych. Dostępny jest po
      kliknięciu na obszar Wykonane ilości (jak jest na niebiesko, tzn. mamy daną Zmianę, tzn. nie jest ?).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.40.1</h1>
  <h2><%- time.format('2014-09-01', 'LL') %></h2>
  <h3>Produkcja > Zlecenia</h3>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Poprawiono błąd powodujący złe sortowanie listy zleceń i przestojów.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Poprawiono błąd powodujący usunięcie z pamięci aktualnego stanu wszystkich linii po przejściu do innego ekranu w
      module Monitoring i upłynięciu 10s (co skutkowało zatrzymaniem aktualizacji wyświetlanych danych).
    </li>
    <li>Poprawiono błąd powodujący, że klient nie był informowany o zakończeniu zlecenia, jeżeli w tym samym kroku
      rozpoczęto nowe zlecenie (na osi czasu powstawała dziura).
    </li>
    <li>Zwiększono czas usuwania z pamięci aktualnego stanu wszystkich linii po opuszczeniu modułu Monitoring z 10s do
      60s (jeżeli w tym czasie użytkownik nie wróci do jakiegoś ekranu Monitoringu, to dane pobierane są z serwera na
      nowo).
    </li>
    <li>Zmieniono wygląd Linii produkcyjnych na liście:<br>
      <ul>
        <li>wartości są pogrubione zamiast nazwy atrybutów,</li>
        <li>atrybuty zajmują teraz jak najmniej miejsca (dopasowanie do zawartości; max 250px),</li>
        <li>zwiększono odstępy między atrybutami,</li>
        <li>dodano linie separujące atrybuty,</li>
        <li>usunięto atrybut WorkCenter,</li>
        <li>dodano atrybuty: Mistrz, Lider i Operator.</li>
      </ul>
    </li>
    <li>Dodano angielskie tłumaczenie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.40.0</h1>
  <h2><%- time.format('2014-09-01', 'LL') %></h2>
  <h3>Monitoring</h3>
  <ul>
    <li>Poprawiono błąd powodujący duplikowanie Linii produkcyjnych na ekranie układu fabryki, jeżeli dana Linia należy
      do kilku kontrolerów MRP.
    </li>
    <li>Zwiększono odstęp czasu, po którym dana Linia porusza się ze względu na długi przestój, z 10 sekund na 15
      minut.
    </li>
    <li>Dodano ekran listy zmian Linii produkcyjnych. Dostępny po kliknięciu na obszar wydziału na ekranie układu
      fabryki.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.39.1</h1>
  <h2><%- time.format('2014-08-31', 'LL') %></h2>
  <h3>Monitoring</h3>
  <ul>
    <li>Dodano brakujące pliki.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.39.0</h1>
  <h2><%- time.format('2014-08-31', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodano indeksy w bazie danych (szybsze wyszukiwanie i można przeglądać wpisy na ostatnich stronach).</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd powodujący usuwanie informacji o aktualnie aktywnych Liniach produkcyjnych, co skutkowało
      nieprawidłowym dzieleniem planowanych ilości.
    </li>
  </ul>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Usunięto liczby dziesiętne na wykresie Wykonanych ilości.</li>
    <li>Poszczególne wartości na wykrsie Wykonanych ilości są teraz wyświetlane nad słupkami.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Poprawiono błąd powodujący podwójne zapisywanie zdarzeń synchronizacji danych.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Dodano ekran układu fabryki wyświetlający aktualne stany wszystkich Linii produkcyjnych. Ekran układu fabryki
      dostępny jest przez menu Produkcja &gt; Monitoring.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.38.0</h1>
  <h2><%- time.format('2014-08-24', 'LL') %></h2>
  <h3>Raport: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe obliczanie dni pracujących w wybranym okresie czasu.</li>
    <li>Ukrywanie wskaźników na wykresach teraz także ukryje daną kolumnę w tabelce.</li>
  </ul>
  <h3>Raport: HR</h3>
  <ul>
    <li>Dodano możliwość zapisywania danych wykresów do pliku CSV.</li>
  </ul>
  <h3>Walkner Xiconf</h3>
  <ul>
    <li>Dodano wsparcie dla opcji Fortimo Solar.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd, który powodował, że niektóre przyciski w filtrach raportów mimo że wyglądały jakby były
      zaznaczone, to tak nie działały (nie dotyczy Google Chrome).
    </li>
    <li>Usunięto boczne i górne obramowanie z paska menu.</li>
    <li>Zmieniono w menu pozycję Dashboard na Pulpit.</li>
    <li>Zaktualizowano bilbiotekę do wyświetlania zaawansowanych tabel (wykorzystywana w raporcie Wykorzystania
      zasobów).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.37.0</h1>
  <h2><%- time.format('2014-08-10', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość ręcznego wpisania nr operacji przy rozpoczynaniu zlecenia w trybie Online, które nie ma w bazie
      żadnych zdefiniowanych operacji.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący zakrywanie zawartości strony przez pasek przewijania w przeglądarce IE11</li>
    <li>Zmieniono kolor podświetlenia właściwości na ekranach szczegółów z szerego na żółty (tak jak listy).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.36.1</h1>
  <h2><%- time.format('2014-08-03', 'LL') %></h2>
  <h3>Raport HR</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że linie dotyczące firm na wykresach miały kolor czarny, zamiast ten ustawiony w
      Słowniku.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.36.0</h1>
  <h2><%- time.format('2014-08-03', 'LL') %></h2>
  <h3>Firmy</h3>
  <ul>
    <li>Dodano nowe pole: Kolor.</li>
  </ul>
  <h3>Funkcje na produkcji</h3>
  <ul>
    <li>Dodano nowe pole: Kolor.</li>
    <li>Dodano nową funkcję: Magazyn (wykorzystywana w raporcie HR dla INDIR z wydziałów Dystrybucji).</li>
  </ul>
  <h3>Raport 2: CLIP</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że odnośniki do wyższych poziomów struktury organizacyjnej znajdujące się w nagłówku
      strony traciły informacje o wybranych opcjach wyświetlania.
    </li>
  </ul>
  <h3>Import zleceń z SAP</h3>
  <ul>
    <li>Zwiększono ilość plików z operacjami z 8 na 11.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że pozycja pionowego paska przewijania po wyjściu z trybu powiększenia wykresu nie
      była ustawiana na wartość, jaką miała przed wejściem w tryb powiększenia.
    </li>
    <li>Dodano wsparcie do przewijania wykresów w raportach Wskaźniki, CLIP i HR w dół/w górę za pomocą klawiszów
      strzałek.
    </li>
    <li>Dodano nowy raport: HR.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Usprawniono dymki w wykresach pokazywane po najechaniu myszką na wartość.</li>
    <li>Wyłączono wszystkie animacje w wykresach.</li>
    <li>Zmieniono czcionkę w polach typu Kolor na czcionkę o stałej szerokości.</li>
    <li>Zmieniono górne menu tak, że nie jest ciągle widoczne na ekranie podczas przewijania w dół.</li>
    <li>Zmieniono stopkę.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.35.2</h1>
  <h2><%- time.format('2014-07-30', 'LL') %></h2>
  <h3>Raport 1: Wskaźniki</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że wartości Produktywność i Produktywność bez magazynu były niewidoczne.</li>
  </ul>
  <h3>Raport 2: CLIP</h3>
  <ul>
    <li>Dodano dymki do pól Od/Do w filtrze informujące o tym, że dane pobierane są od/do godziny 06:00 wybranego
      dnia.
    </li>
  </ul>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że podsumowanie danych do wykresów po pobraniu z serwera, przygotowywane było z
      wszystkich linii produkcyjnych, a nie tylko tych pasujących do filtrów (widocznych w tabeli).
    </li>
    <li>Dodano dymki do pól Od/Do w filtrze informujące o tym, że dane pobierane są od/do godziny 06:00 wybranego
      dnia.
    </li>
  </ul>
  <h3>Raport 4: Operatorzy</h3>
  <ul>
    <li>Dodano dymki do pól Od/Do w filtrze informujące o tym, że dane pobierane są od/do godziny 06:00 wybranego
      dnia.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.35.1</h1>
  <h2><%- time.format('2014-07-28', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono parsowanie liczb w plikach otrzymywanych z SAP. Teraz z wartości będą usuwane wszystkie białe znaki
      oraz kropki, a przecinek będzie traktowany jako separator dziesiętny (np. 1.000.000,123 -&gt; 1000000.123).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.35.0</h1>
  <h2><%- time.format('2014-07-27', 'LL') %></h2>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Dodano nowe pola: kolor wartości, kolor referencji i wartość referencji.</li>
  </ul>
  <h3>Obszary odpowiedzialności</h3>
  <ul>
    <li>Dodano nowe pola: kolor wartości, kolor referencji i wartość referencji.</li>
    <li>Przesunięto pozycję Obszary odpowiedzialności w menu do dolnej grupy.</li>
  </ul>
  <h3>Funkcje na produkcji</h3>
  <ul>
    <li>Dodano nowe pole: DIR/INDIR [%].</li>
  </ul>
  <h3>Puste zlecenia</h3>
  <ul>
    <li>Dodano możliwość filtrowania po nr zlecenia i zakresie dat.</li>
  </ul>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Dodano nowe pole: Nr inwentarzowy.</li>
  </ul>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Kolumna Nr inwentarzowy wyświetla teraz wartość pola Nr inwentarzowy danej Linii produkcyjnej.</li>
  </ul>
  <h3>Raport 1: Wskaźniki</h3>
  <ul>
    <li>Dodano automatyczne odświeżanie raportu co 10 minut w trybie Online.</li>
    <li>Dodano nowy wskaźnik do głównego wykresu: Produktywność bez magazynu.</li>
    <li>Podzielono wskaźnik Przestoje na Przestoje planowane i Przestoje nieplanowane.</li>
    <li>Dodano referencje dla: Produktywności bez magazynu, Przestojów planowanych i Przestojów nieplanowanych.</li>
    <li>Dodano opcje wyświetlania.</li>
  </ul>
  <h3>Raport 2: CLIP</h3>
  <ul>
    <li>Dodano nowy wskaźnik do wykresu DIR/INDIR: Produktywność bez magazynu.</li>
    <li>Zmieniono wykres DIR/INDIR, aby brał pod uwagę wartość DIR/INDIR [%] danej Funkcji na produkcji (jeżeli Funkcja
      jest DIRECT i ma ratio 50%, to połowa zostanie dodana do DIR, a druga połowa do INDIR).
    </li>
    <li>Dodano referencje dla: DIRECT, INDIRECT, WAREHOUSE, DIR/INDIR oraz Zadania produkcyjnego Absencji.</li>
    <li>Dodano opcje wyświetlania.</li>
    <li>Odblokowano schodzenie na niższy poziom niż Przepływ.</li>
  </ul>
  <h3>Ustawienia raportów</h3>
  <ul>
    <li>Dodano możliwość zmiany kolorów, wartości referencyjnych i innych ustawień Raportów 1 i 2.</li>
  </ul>
  <h3>Xiconf</h3>
  <ul>
    <li>Od teraz kliknięcie na wpis na liście trzymając klawisz Alt nie przeniesie użytkownika do strony ze
      szczegółami.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano pakiety zależne.</li>
    <li>Zmieniono niektóre pola typu liczba (stała szerokość i tekst wyrównany do prawej).</li>
    <li>Zmieniono wygląd wykresów (tytuły, legendy, dymki podpowiedzi).</li>
    <li>Zmieniono wyświetlanie wykresów w trybie pełnoekranowym po kliknięciu tytułu z klawiszem Ctrl. Teraz podwójne
      kliknięcie na obszarze wykresu powiększy wykres do wolnego obszaru pod filtrem. Ponowne podwójne kliknięcie (lub
      Esc) przywróci poprzedni rozmiar.
    </li>
    <li>Dodano funkcję otwierania wykresu w nowym oknie po kliknięciu tytułu wykresu środkowym przyciskiem myszy lub
      lewym+Ctrl (dotyczy tylko tytułów wyglądających jak odnośniki).
    </li>
    <li>Zmieniono kolor wszystkich przycisków Filtruj z niebieskiego na biały (+ ikonka).</li>
    <li>Tymczasowo ukryto przycisk Feedback.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-07-06.01</h1>
  <h2><%- time.format('2014-07-06', 'LL') %></h2>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd powodujący duplikowanie się danych w tabeli, jeżeli użytkownik ponownie wcisnął przycisk Filtruj
      podczas ładowania danych.
    </li>
    <li>Zmieniono wskaźnik MTBF: jeżeli nie było na danej Maszynie żadnych awarii, to MTBF przyjmuje wartość Dostępności
      operacyjnej (zamiast 0).
    </li>
  </ul>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer przy usuwaniu zmiany.</li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono dane w bazie danych i odtworzono Zmiany, Zlecenia i Przestoje z Historii operacji na liniach
      produkcyjnych.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający filtrowanie po specjalnych użytkownikach (System i root).</li>
    <li>Poprawiono błąd uniemożliwiający zaznaczenie pola listy po kliknięciu na powiązaną etykietę pola.</li>
    <li>Zmieniono kolor wiersza tabeli po najechaniu myszką z jasnoszarego na jasnożółty.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-07-04.01</h1>
  <h2><%- time.format('2014-07-04', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd nieumożliwiający rozpoczęcia zlecenia, jeżeli utracono połączenie z serwerem mając otwarty
      formularz rozpoczynania zlecenia.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-06-29.01</h1>
  <h2><%- time.format('2014-06-29', 'LL') %></h2>
  <h3>CLIP</h3>
  <ul>
    <li>Dodano sprawdzanie, czy CLIP dla poprzedniego dnia został obliczony. Zwykle CLIP obliczany jest po pierwszym
      imporcie Zleceń reszty działów między 06:00 a 07:00. Teraz o 07:01 CLIP zostanie wyliczony nawet wtedy, gdy
      zlecenia nie zostały zaimportowane.
    </li>
    <li>Obliczenie CLIPu spowoduje od teraz dodanie zdarzenia CLIP: utworzenie.</li>
  </ul>
  <h3>Licencje</h3>
  <ul>
    <li>Dodano nowy moduł po stronie serwera, umożliwiający sprawdzanie poprawności licencji przydzielanych Philipsowi
      (Walkner Xiconf, Xiconf Label Printer).
    </li>
  </ul>
  <h3>Statusy zleceń</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję statusów zleceń.</li>
  </ul>
  <h3>Dostawcy</h3>
  <ul>
    <li>Dodano nowy słownik Dostawców (ID, nazwa), który wykorzystywany będzie w module Zamówień. Każdemu Użytkownikowi
      można przypisać Dostawcę.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera podczas obliczania FTE na potrzeby raportów, jeżeli obliczano
      FTE dla dnia, w którym nie było żadnej aktywnej linii produkcyjnej.
    </li>
    <li>Ukryto pozycję Raporty &gt; Struktura organizacyjna dla użytkowników bez uprawnienia Raporty: przeglądanie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-27.01</h1>
  <h2><%- time.format('2014-05-27', 'LL') %></h2>
  <h3>Raport 1: Wskaźniki</h3>
  <h3>Raport 2: CLIP</h3>
  <ul>
    <li>Zmieniono sposób obliczania wartości INDIRECT, WAREHOUSE oraz FTE w Produktywności: wartości są zmniejszane w
      stosunku do ilorazu aktywnych Linii produkcyjnych w danej jedostce organizacyjnej do wszystkich aktywnych Linii
      produkcyjnych.
    </li>
    <li>Ujednolicono kryteria pobierania zleceń do obliczania Wydajności i Produktywności, aby na różnych wykresach dla
      tych samych jednostek organizacyjnych wychodziły takie same wartości.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-26.02</h1>
  <h2><%- time.format('2014-05-26', 'LL') %></h2>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Usunięto Czas trwania awarii ze wzoru na MTTF.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-26.01</h1>
  <h2><%- time.format('2014-05-26', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd umożliwiający wpisanie większej liczby niż maksymalna w polach Ilość osób i Wykonana ilość, gdy
      pola aktywowano przez przycisk (zmień) i dezaktywowano poprzez kliknięcie na innym obszarze ekranu.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-25.01</h1>
  <h2><%- time.format('2014-05-25', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd umożliwiający wpisanie większej liczby niż 150 jako Ilość wykonana w przedziale godzinowym.</li>
  </ul>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Usunięto sztywne 120 minut planowanych przestojów dodawanych do każdego dnia roboczego przy obliczaniu Dyspoz.
      maszyn oper. [h].
    </li>
    <li>Zmieniono sposób obliczania dni roboczych (teraz bierze pod uwagę dni wolne w Polsce przypadające w pon.-pt.;
      dane dla lat 2013-2018 pobrane z <!-- m --><a class="postlink" href="http://www.kalendarzswiat.pl/">http://www.kalendarzswiat.pl/</a>
      <!-- m -->).
    </li>
    <li>Zmieniono sposób obliczania MTBF (teraz MTBF=MTTF+MTTR).</li>
    <li>Dodano nowy przedział czasowy: rok.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Dodano proste cache'owanie raportów po stronie serwera. Wygenerowany raport zapisywany jest w pamięci na:<br>
      <ol style="list-style-type: lower-alpha">
        <li>2 minuty, jeżeli czas Do jest w przyszłości i różnica między czasem Do a czasem Od jest mniejsza lub równa
          24h,
        </li>
        <li>5 minut, jeżeli czas Do jest w przyszłości i różnica między czasem Do a czasem Od jest większa niż 24h,</li>
        <li>15 minut, jeżeli czas Do jest w przeszłości.</li>
      </ol>
      Przeszłości/Przyszłość porównywana jest do początku aktualnej zmiany, a nie aktualnego czasu. Zmiana dowolnego
      parametru w filtrze generuje nowy raport, który jest oddzielnie cache'owany.<br>Zmiana ta powinna znacząco
      poprawić szybkość wyświetlania się raportów o takich samych parametrach, generowanych przez różnych użytkowników w
      tym samym czasie (lub tego samego użytkownika po przejściu głębiej w strukturę organizacyjną i z powrotem).
    </li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Zmieniono wartości czasów Labor/Machine na liście operacji, aby wyświetlane były w formacie języka przeglądarki
      użytkownika.
    </li>
    <li>Dodano sortowanie listy operacji rosnąco po nr operacji w widoku szczegółów Zlecenia.</li>
  </ul>
  <h3>Feedback</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wysyłanie formularza przez niezalogowanych użytkowników.</li>
  </ul>
  <h3>Dashboard</h3>
  <ul>
    <li>Zmieniono pozycję formularza logowania wyświetlanego niezalogowanym użytkownikom.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-12.01</h1>
  <h2><%- time.format('2014-05-12', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono wyszukiwanie zleceń, aby ignorował operacje bez ustawionego WorkCenter (wcześniej ignorował bez Labor
      Time, teraz bez Labor Time lub WorkCenter).
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono wyszukiwanie zleceń, aby ignorował operacje bez ustawionego WorkCenter lub Labor Time (wcześniej
      wyświetlał wszystkie).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-11.01</h1>
  <h2><%- time.format('2014-05-11', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano pole Czas rozpoczęcia do formularza rozpoczynania przestoju z możliwością zmiany czasu na aktualny
      (domyślnie czas rozpoczęcia ustawiany jest na czas otwarcia okna dialogowego).
    </li>
    <li>Dodano dymek do listy ostatnich przestojów, który pokazuje się po najechaniu na przestój i zawiera komentarz
      powodu.
    </li>
    <li>Dodano możliwość edycji niezatwierdzonych przestojów poprzez kliknięcie na przestój na liście ostatnich
      przestojów.
    </li>
  </ul>
  <h3>Dashboard</h3>
  <ul>
    <li>Dodano formularz logowania na stronie głównej dla niezalogowanych użytkowników.</li>
  </ul>
  <h3>Walkner Xiconf</h3>
  <ul>
    <li>Dodano opis nowych komunikatów przebiegu programowania.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-07.01</h1>
  <h2><%- time.format('2014-05-07', 'LL') %></h2>
  <h3>FTE, Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd w domyślnym filtrze, który ustawiał wydział/dział użytkownika nawet wtedy, gdy typ wydziału
      użytkownika był inny niż Produkcja.
    </li>
    <li>Zmieniono sposób sprawdzania uprawnień do edycji/usuwania. Teraz zarządzać po utworzeniu może nie tylko
      użytkownik, który stworzył dany wpis.
    </li>
  </ul>
  <h3>Walkner Xiconf</h3>
  <ul>
    <li>Dodano opis kodów błędów z wersji 0.6 programu MultiOne Workflow.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-05-03.01</h1>
  <h2><%- time.format('2014-05-03', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono kolor Przestojów typu Inne prace wyświetlanych na formularzu na fioletowy (<a
        href="http://i.imgur.com/TDm58qP.png" class="postlink">podgląd</a>).
    </li>
  </ul>
  <h3>Zadania produkcyjne</h3>
  <ul>
    <li>Dodano nową flagę: Użyj w Produktywności?</li>
  </ul>
  <h3>Raporty Wskaźniki i CLIP</h3>
  <ul>
    <li>Zmieniono obliczanie Produktywności, aby w mianowniku brano pod uwagę tylko te Zadania produkcyjne z wpisów FTE,
      które mają zaznaczoną flagę <span style="font-style: italic">Użyj w Produktywności?</span>.
    </li>
  </ul>
  <h3>Walkner Xiconf</h3>
  <ul>
    <li>Dodano nowy moduł umożliwiający zbieranie, archiwizację i przeglądanie wyników testów przeprowadzanych przez
      aplikację Walkner Xiconf v2.<br>Moduł dostępny jest w menu Produkcja &gt; Wyniki programowania tylko dla
      użytkowników z uprawnieniem Xiconf: przeglądanie.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-25.01</h1>
  <h2><%- time.format('2014-04-25', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer podczas eksportowania niektórych danych.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-24.02</h1>
  <h2><%- time.format('2014-04-24', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Usprawiono eksport danych do CSV poprzez dodanie do pliku <a
        href="http://pl.wikipedia.org/wiki/BOM_(informatyka)" class="postlink">BOM</a>, aby Excel poprawnie wyświetlał
      polskie litery.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-24.01</h1>
  <h2><%- time.format('2014-04-24', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono wyszukiwanie Zleceń po kompletnym 12NC (teraz znalezione Zlecenie reszty działów jest ignorowane,
      jeżeli nie zawiera żadnych operacji).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-23.02</h1>
  <h2><%- time.format('2014-04-23', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono eksportowanie danych zawierających w wartości cudzysłów (&quot;).</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-23.01</h1>
  <h2><%- time.format('2014-04-23', 'LL') %></h2>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję przestoju, jeżeli nie zmieniono czasu rozpoczęcia lub zakończenia.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-21.01</h1>
  <h2><%- time.format('2014-04-21', 'LL') %></h2>
  <h3>Raport 2: CLIP</h3>
  <ul>
    <li>Dodano zaokrąglanie wartości WAREHOUSE.</li>
  </ul>
  <h3>Raport 3: Wykorzystanie zasobów</h3>
  <ul>
    <li>Poprawiono błąd przy obliczaniu ilości dni, w których pracowała Maszyna, jeżeli wybrano tygodniowy podział czasu
      i wybrany zakres czasu przechodził przez zmianę czasu na letni.
    </li>
  </ul>
  <h3>FTE, Plany godzinowe</h3>
  <ul>
    <li>Dodano walidację wartości Data wpisanych ręcznie przy tworzeniu nowych wpisów (można było dodać wpis dla
      dowolnej daty wpisując ją ręcznie).
    </li>
  </ul>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Dodano możliwość usuwania zmian produkcyjnych. Akcja Usuń zmianę dostępna jest na stronie szczegółów danej
      zmiany dla użytkowników z uprawnieniem Dane produkcyjne: zarządzanie.
    </li>
    <li>Dodano możliwość tworzenia zmian produkcyjnych. Akcja Dodaj zmianę dostępna jest na stronie listy zmian dla
      użytkowników z uprawnieniem Dane produkcyjne: zarządzanie.
    </li>
    <li>Dodano do Osi czasu możliwość zarządzania danymi zmiany: dodawanie, edycja i usuwanie zleceń oraz przestojów
      (aby wyświetlić dodatkowe opcje, użytkownik musi mieć uprawnienie Dane produkcyjne: zarządzanie oraz przy
      najeżdżaniu na obszar Bezczynności/Zlecenia/Przestojów trzymać klawisz Ctrl).
    </li>
    <li>Usprawiono działanie Osi czasu: rysowana jest teraz na podstawie utworzonych zleceń i przestojów, a nie historii
      operacji na danej linii produkcyjnej oraz dane odświeżane są w czasie rzeczywistym.
    </li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano możliwość dodawania zleceń. Zlecenia można dodawać na stronie szczegółów wybranej Zmiany produkcyjnej.
      Akcja Dodaj zlecenie dostępna jest na obszarach Bezczynności (pamarańcz).
    </li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Dodano możliwość dodawania przestojów. Przestoje można dodawać na stronie szczegółów wybranej Zmiany
      produkcyjnej. Akcja Dodaj przestój dostępna jest na obszarach Bezczynności (pamarańcz; przestój nie powiązany ze
      zleceniem) lub Zlecenia (zielone; przestój powiązany ze zleceniem).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Okna dialogowe nie powinny już się zamykać, jeżeli mamy otwarte pole listy i wciśniemy klawisz Escape (teraz
      zamyka się tylko otwarta lista).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-14.01</h1>
  <h2><%- time.format('2014-04-14', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono sprawdzanie uprawnień do edycji i usuwania wpisów FTE i Planów godzinowych przez osoby bez
      uprawnienia Dane produkcyjne: zarządzanie.
    </li>
    <li>Poprawiono wyszukiwanie użytkowników w polach, w których nie był zdefiniowany specjalny, dodatkowy, programowy
      filtr.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-13.01</h1>
  <h2><%- time.format('2014-04-13', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Zmieniono kolumnę Użytkownik, aby wyświetlała Nazwisko i Imię, zamiast Login użytkownika.</li>
  </ul>
  <h3>Raport 4: Operatorzy</h3>
  <ul>
    <li>Zmieniono filtr Mistrzowie/Operatorzy, aby wysyłał do serwera użytkowników po ID, a nie nr kadrowym (aby można
      było wygenerować raport dla operatorów, których nr kadrowy się powtarza).
    </li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Dodano więcej danych do eksportu. Eksportowane są teraz następujące wartości: orderNo (nr zlecenia), 12nc,
      operationNo (nr operacji), startedAt (czas rozpoczęcia), finishedAt (czas zakończenia), totalDuration (całkowity
      czas trwania), breakDuration (czas trwania przestojów typu Przerwa), downtimeDuration (czas trwania przestojów o
      innym typie niż Przerwa), workDuration (totalDuration-breakDuration), totalQuantity (wykonana ilość dobrych +
      straty), quantityDone (wykonana ilość dobrych), quantityLost (straty), workerCount (ilość operatorów), laborTime,
      machineTime, master (mistrz), leader (lider), operator, operators (operatorzy), orderMrp (MRP w Zleceniu z SAP),
      operationWorkCenter (WorkCenter operacji z SAP), division (wydział), subdivision (dział), mrp (kontroler MRP),
      prodFlow (przepływ), workCenter, prodLine (linia produkcyjna), orderId (ID zlecenia), shiftId (ID zmiany).
    </li>
    <li>Dodano możliwość usuwania Zleceń (wraz ze Zleceniem usuwane są wszystkie rozpoczęte w nim Przestoje).</li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Poprawiono sprawdzanie uprawnień dla akcji Usuwania po stronie serwera (wcześniej sprawdzał Przestoje:
      przeglądanie, a teraz Dane produkcyjne: zarządzanie).
    </li>
    <li>Dodano brakującą, osobną stronę usuwania Przestoju (dostępna po kliknięciu PPM na akcji Usuń i wyborze Otwórz
      link w nowej karcie).
    </li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Usunięto funkcjonalność zamykania planów godzinowych.</li>
    <li>Zmieniono ikonę akcji Planuj z Edycji na Dodawanie.</li>
    <li>Usprawniono użyteczność formularza: aktywując jakieś pole, podświetlane są powiązane komórki Przepływu oraz
      nagłówka.
    </li>
    <li>Dodano możliwość edycji, usuwania i tworzenia (dla dowolnej daty (nie z przyszłości)) planów godzinowych.
      Dzielenie Planowanych ilości na pracujące Linie produkcyjne odbywa się minutę po ostatniej zmianie jakiejś
      wartości w Planie (wcześniej przy zamknięciu). Użytkownik, który dodał Plan, może edytować go przez 8 godzin.
      Użytkownik z uprawnieniem Dane produkcyjne: zarządzanie - zawsze.
    </li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Usunięto funkcjonalność zamykania wpisów FTE.</li>
    <li>Zmieniono ikonę akcji Przydzielaj zasoby z Edycji na Dodawanie.</li>
    <li>Zmieniono funkcję zaokraglania, aby formatowała liczby zgodnie z ustawieniami regionalnymi przeglądarki (jeżeli
      przeglądarka wspiera taką funkcję).
    </li>
    <li>Usprawniono użyteczność formularzy:<br>
      <ul>
        <li>Aktywując jakieś pole, podświetlane są powiązane komórki Zadania/Przepływu oraz nagłówka.</li>
        <li>W tabelce formularza FTE (produkcja), nagłówek tabeli będzie cały czas widoczny wraz z przewijaniem
          strony.
        </li>
      </ul>
    </li>
    <li>Dodano możliwość edycji, usuwania i tworzenia (dla dowolnej zmiany (nie z przyszłości)) wpisów FTE. Użytkownik,
      który dodał wpis FTE, może edytować go przez 8 godzin. Użytkownik z uprawnieniem Dane produkcyjne: zarządzanie -
      zawsze.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Ujednolicono pola wyszukiwania użytkowników. Teraz wszystkie wyszukują po początku nazwiska lub nr kadrowego
      oraz wyświetlają nr kadrowy obok nazwiska i imienia.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-09.01</h1>
  <h2><%- time.format('2014-04-09', 'LL') %></h2>
  <h3>Raport 4: Operatorzy</h3>
  <ul>
    <li>Zmieniono sposób obliczania Produktywności dla wybranych Operatorów. Wcześniej: do mianownika brano wszystkich
      unikalnych operatorów ze zleceń. Teraz: do mianownika brani są wszyscy operatorzy podani w filtrze.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-08.01</h1>
  <h2><%- time.format('2014-04-08', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Usunięto funkcję zaznaczania ostatniego pola wyszukiwania części po 12NC po wciśnięciu kombinacji ALT+S. Funkcja
      działa z kombinacją ALT+Enter.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-07.02</h1>
  <h2><%- time.format('2014-04-07', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Zmieniono na osi czasu wysokość Przestojów zawierających się w Zleceniu (w celu ich wyróżnienia).</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd w tekście ostrzegającym o wyczyszczeniu listy części przy zmianie typu.</li>
    <li>Zmieniono zachowanie się formularza w momencie wykrycia pokrywających się czasów dla tej samej maszyny.<br>
      <ul>
        <li>Wcześniej: wyświetlał na 5s komunikat, podświetlał nakładające się godziny i nie pozwalał dodać karty.</li>
        <li><a href="http://i.imgur.com/hxAD4Mm.png" class="postlink">Teraz</a>: po kliknięciu niebieskiego przycisku,
          na 5s wyświetla komunikat, podświetla nakładające się godziny i pokazuje dodatkowy czerwony przycisk.
          Użytkownik może wtedy zmienić godziny i wcisnąć niebieski przycisk (jeżeli to błąd), lub zapisać kartę z
          nakładającymi się godzinami wciskając czerwony przycisk.
        </li>
      </ul>
    </li>
    <li>Usprawiono użyteczność formularza:<br>
      <ul>
        <li>Użytkownik dodający/modyfikujący kartę pracy jest informowany o istniejących już kartach pracy dla wybranej
          Daty, Zmiany i Podpisanego operatora (<a href="http://i.imgur.com/FCdkUIY.png" class="postlink">dodawanie
            karty</a>, <a href="http://i.imgur.com/Z7FgnBJ.png" class="postlink">edycja karty</a>).
        </li>
        <li>Po wyszukaniu nowego 12NC, z poprzedniego wiersza kopiowana jest do nowego wiersza wartość Maszyna oraz
          wartość Godz. zak. (do pola Godz. rozp.).
        </li>
        <li>Wciśnięcie kombinacji ALT+S lub ALT+Enter zaznaczy ostatnie pole wyszukiwania części po 12NC (można szybko
          wyszukać nową część, zamiast wciskać kilkakrotnie TAB lub chwytać za myszkę).
        </li>
      </ul>
    </li>
    <li>Dodano możliwość filtrowania kart pracy po wybranym Mistrzu lub jednym z Operatorów.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono w filtrach pozycję etykiet z przyciskami wyboru.</li>
    <li>Zamieniono w menu miejscami Słowniki z Raportami.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-07.01</h1>
  <h2><%- time.format('2014-04-07', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono filtr <span style="font-style: italic">Tylko moje</span> zawsze zwracający zero wyników.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-06.01</h1>
  <h2><%- time.format('2014-04-06', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Poprawiono błąd powodujący nie branie pod uwagę operacji Edycji danych produkcyjnych przy rysowaniu osi czasu.
    </li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie 12NC <span
        style="font-style: italic">zlecenia w momencie utworzenia</span> w zleceniach wygenerowanych z Kart pracy.
    </li>
    <li>Poprawiono pozycję chmurki błędu Wymagane zlecenie/operacja w formularzu Edycji zlecenia.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano 3 sekundowe opóźnienie do procesu aktualizacji listy ostatnich przestojów.</li>
    <li>Poprawiono błąd powodujący pobieranie listy przestojów dla danej linii, gdy formatka była zablokowana.</li>
    <li>Poprawiono błąd usuwający dane o jednostkach organizacyjnych przy blokowaniu formatki (co powodowało
      generowaniem nieprawidłowych operacji, jeżeli odblokowano formatkę bez odświeżania przeglądarki).
    </li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Dodano możliwość usuwania przestojów.</li>
    <li>Dodano nowy atrybut: czytelne ID - unikalny, automatycznie generowany numer. Ze strony Przestojów można szybko
      przeskoczyć do danego Przestoju po ID za pomocą formularza znajdującego obok akcji Eksportuj przestoje.
    </li>
    <li>Dodano więcej danych do eksportu przestojów. Eksportowane są teraz następujące atrybuty: rid (czytelne ID),
      reasonId (ID powodu), reason (opis powodu), reasonComment (komentarz operatora), aor (obszar odp.), orderNo (nr
      zlecenia), 12nc, operationNo (nr operacji), date (data zmiany), shift (nr zmiany), startedAt (czas rozpoczęcia),
      finishedAt (czas zakończenia), duration (czas trwania), master (mistrz), leader (lider), operator, corroborator
      (potwierdzający), corroboratedAt (czas potwierdzenia), status (undecided - niepotwierdzony; confirmed -
      zatwierdzony; rejected - odrzucony), decisionComment (komentarz potwierdzającego), division (wydział), subdivision
      (dział), mrp (kontroler MRP), prodFlow (przepływ), workCenter, prodLine (linia produkcyjna), downtimeId (ID
      przestoju), shiftId (ID zmiany), orderId (ID zlecenia), worksheetId (ID karty pracy).
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodano możliwość edycji i usuwania kart pracy. Użytkownik, może edytować/usuwać swoje karty pracy przez 8 godzin
      od momentu dodania. Użytkownik z uprawnieniem Dane produkcyjne: zarządzanie - kiedy chce.
    </li>
    <li>Dodano nowy atrybut: czytelne ID - unikalny, automatycznie generowany numer. Ze strony Kart pracy można szybko
      przeskoczyć do danej Karty po ID za pomocą formularza znajdującego obok akcji Dodaj kartę pracy.
    </li>
    <li>Dodano do filtru możliwość wyświetlenia Kart stworzonych tylko przez zalogowanego użytkownika (wyniki sortowane
      są wtedy malejąco po Czasie dodania (najnowsze najwyżej), zamiast po Dacie zmiany).
    </li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer przy obliczaniu planowanych ilości z automatycznie zamykanych planów
      godzinowych na początku II zmiany.
    </li>
    <li>Usprawiono algorytm podziału planowanych ilości na linie produkcyjne pracujące w przepływie.</li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Usprawiono oddtwarzanie Zmian, Zleceń i Przestojów z Kart pracy, Historii operacji i Planów godzinowych.</li>
    <li>Poprawiono znalezione, zepsute dane w bazie (nie ma już niezakończonych Zleceń i Przestojów).</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano brakujące tłumaczenie błędu niepowodzenia ładowania danych Zmiany i Zlecenia.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-04-01.01</h1>
  <h2><%- time.format('2014-04-01', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający dodanie karty pracy, w przypadku, gdy próbowano dodać kartę po poprawieniu
      błędu nakładania się godzin zleceń dla tej samej maszyny.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-31.01</h1>
  <h2><%- time.format('2014-03-31', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Dodano możliwość edycji Czasu rozpoczęcia i Czasu zakończenia w Zleceniach i Przestojach.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezmienianie się Zmiany produkcyjnej.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer przy obliczaniu planowanych ilości.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer, jeżeli użytkownik próbował wyeksportować kilka wykresów na raz (zanim
      pierwsze żądanie się zakończy).
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-30.01</h1>
  <h2><%- time.format('2014-03-30', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Ulepszono wysyłanie danych z formatki operatora do serwera.</li>
    <li>Dodano możliwość edycji:<br>
      <ul>
        <li>Zmian - wartości Mistrz, Lider, Operator i Wykonane ilości w przedziałach godzinowych,</li>
        <li>Zleceń - wartości Mistrz, Lider, Operator, Wykonana ilość, Ilość osób pracujących, Zlecenie i Operacja,</li>
        <li>Przestój - wartości Mistrz, Lider, Operator, Powód przestoju, Komentarz powodu, Obszar odpowiedzialności
          oraz Status i Komentarz potwierdzenia (tylko jeżeli Przestój nie jest Niepotwierdzony).
        </li>
      </ul>
      Zmieniając personel Zmiany, zostanie także zmieniony we wszystkich Zleceniach i Przestojach tej Zmiany.<br>Zmieniając
      personel Zlecenia, zostanie także zmieniony we wszystkich Przestojach tego Zlecenia.<br>Można edytować tylko to co
      się zakończyło.<br>Nie można edytować Zleceń i Przestojów wygenerowanych przez Karty pracy (jak będzie można
      edytować Karty pracy, to wtedy Zlecenia i Przestoje zostaną wygenerowane na nowo).
    </li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>W polu wyszukiwania użytkownika zmieniono tekst <span style="font-style: italic">numer personalny</span> na
      <span style="font-style: italic">numer kadrowy</span>.
    </li>
    <li>Poprawiono błąd uniemożliwiający zresetowanie wybranego Mistrza, Lidera i Operatora.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Zmiany produkcyjne aktualizowane są od teraz o Planowane ilości. Planowane ilości obliczane są dla wszystkich
      aktywnych Linii produkcyjnych (z Przepływów danego Planu) podczas zamknięcia Planu godzinowego oraz za każdym
      pierwszym rozpoczęciem zlecenia na Linii produkcyjnej (wtedy Linia staje się 'aktywna' i obliczane są Planowane
      ilości z Przepływu danej Linii). Planowana ilość w danej godzinie dzielona jest przez ilość aktywnych Linii
      produkcyjnych w danym Przepływie.
    </li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Dodano możliwość zapisu wykresów do pliku PDF lub PNG.</li>
  </ul>
  <h3>Raport 4 - Operatorzy</h3>
  <ul>
    <li>Nieznacznie zmieniono kolory w wykresach <span style="font-style: italic">Przepracowany czas/Przestoje</span> i
      <span style="font-style: italic">Ilości wykonane/Straty materiałowe</span>.
    </li>
    <li>Zmieniono sposób obliczania Produktywności: w mianowniku pod uwagę brane są unikalne osoby, a nie ich suma z
      wszystkich zleceń.
    </li>
    <li>Poprawiono obliczanie Produktywości dla przedziałów czasowych innych niż dzień (w liczniku /8 mnożone jest o
      ilość zmian produkcyjnych, w których pracowali wybrani operatorzy w danym przedziale czasowym, np. przedział
      czasowy=tydzień, w tygodniu pracowali na 4 zmianach, więc licznik zostanie podzielony przez 4*8=32, a nie 8).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zamieniono pozycjami w menu pozycję Przestoje z pozycją Zlecenia.</li>
    <li>Zmniejszono domyślną ilość Zdarzeń na stronę z 25 do 20.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-23.01</h1>
  <h2><%- time.format('2014-03-23', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Zlecenia, które zostały poprawione, od teraz będą poprawnie wyświetlać nowy nr zlecenia i nr operacji na osi
      czasu.
    </li>
  </ul>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Dodano nowy typ przestojów: Inne prace.</li>
  </ul>
  <h3>Raport 4 - Operatorzy</h3>
  <ul>
    <li>Dodano nowy raport: Raport 4 - Operatorzy. Raport przedstawia dla wybranej Zmiany, operatorów wybranych Mistrzów
      lub wybranych Operatorów następujące wartości:<br>
      <ul>
        <li>Wydajność Operatorów</li>
        <li>Wydajność Wydziałów</li>
        <li>Produktywność Operatorów</li>
        <li>Przepracowany czas Operatorów</li>
        <li>Czas trwania przestojów Operatorów</li>
        <li>Mediana przezbrojeń Maszyny</li>
        <li>Mediana przezbrojeń Maszyny przez Operatorów</li>
        <li>Czas przepracowany przez Operatora na danej Maszynie</li>
        <li>Ilości wykonane i stracone</li>
      </ul>
    </li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Automatycznie tworzone operacje typu Potwierdzenie przestoju od teraz będą zapisywane z datą utworzenia starszą
      (o 1ms) niż data utworzenia wpisu Zakończenie przestoju.
    </li>
    <li>Zmieniono zlecenia w kartach pracy dla maszyny METALASS na zlecenia dla maszyny METALASS_.</li>
    <li>Odtworzono na nowo Zmiany, Zlecenia i Przestoje z Kart pracy i Historii opracji na liniach produkcyjnych.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-18.01</h1>
  <h2><%- time.format('2014-03-18', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Usprawiono czytelność formularza (w odpowiedzi na feedback):<br>
      <ul>
        <li>Dodano kolumnę Lp.</li>
        <li>Rzędy tabeli na przemian zmieniają kolor tła.</li>
        <li>Sekcja Straty materiałowe jest teraz wyróżniona jasnoniebieskim kolorem tła.</li>
        <li>Sekcja Straty czasu jest teraz wyróżniona jasnoczerwonym kolorem tła.</li>
        <li>Aktywacja pola w tabeli części w formularzu spowoduje zmianę koloru tła na jasnożółty komórki zawierającej
          to pole oraz komórki zawierającej nazwę kolumny.
        </li>
      </ul>
    </li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>W odpowiedzi na feedback, dodano pod filtrem informację o możliwości powrotu do widoku zfiltrowanej listy
      przestojów ze strony szczegółów wybranego przestoju poprzez wciśnięcie przycisku Wstecz przeglądarki lub klawisza
      Backspace.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-16.01</h1>
  <h2><%- time.format('2014-03-16', 'LL') %></h2>
  <h3>Raport 1, Raport 2</h3>
  <ul>
    <li>Zmieniono sposób wyliczania FTE do wskaźnika Produktywności. Na poziomach mniejszych niż Dział, Produktywność
      powinna być lepiej odzwierciedlana.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano moduły zależne wykorzystywane przez serwer aplikacji i serwer importera.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-12.02</h1>
  <h2><%- time.format('2014-03-12', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Typy zdarzeń na liście w filtrze są teraz sortowane alfabetycznie.</li>
    <li>Do opisu zdarzenia <span style="font-style: italic">Zlecenia produkcyjne: synchronizacja</span> dodano
      informację jakie zlecenie zaimportowano (aktualny, poprzedni lub następny dzień).
    </li>
  </ul>
  <h3>Raport Wykorzystanie zasobów</h3>
  <ul>
    <li>Wskaźnik Wykorzystanie maszyny bierze od teraz pod uwagę sumę Wykonanej ilości i Strat materiałowych.</li>
    <li>Dodano obliczanie wskaźnika OEE.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano tłumaczenie interfejsu na język angielski.</li>
    <li>Przywrócono możliwość zmiany języka interfejsu poprzed menu znajdujące się w prawym górnym rogu.</li>
    <li>Aplikacja domyślnie wyświetlana jest w języku przeglądarki użytkownika (angielski lub polski). Jeżeli użytkownik
      zmienił język ręcznie, to od tego momentu interfejs będzie wyświetlany na tej przeglądarce w wybranym jezyku.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-12.01</h1>
  <h2><%- time.format('2014-03-12', 'LL') %></h2>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Liczba wszystkich zleceń, zleceń ze statusem CNF i zleceń ze statusem DLV na dzień poprzedni jest teraz liczona
      po imporcie zleceń z dnia dzisiejszego o godzinie 6. Na wykresie przedstawiane są teraz dane obliczane o 6, a nie
      aktualne z modułu Zlecenia produkcyjne.
    </li>
  </ul>
  <h3>Importer zleceń</h3>
  <ul>
    <li>Wpis o Synchronizacji zleceń pojawi się w Zdarzeniach nawet jeżeli podczas importu nie utworzono żadnych nowych
      zleceń ani nie zmodyfikowano żadnych istniejących zleceń.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-11.01</h1>
  <h2><%- time.format('2014-03-11', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zlecenia wyszukiwane po nr zlecenia nie muszą rozpoczynać się już od 114.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Poprawiono eksport wpisów, gdy w filtrze wybrano cały Wydział.</li>
  </ul>
  <h3>FTE (magazyn)</h3>
  <ul>
    <li>Poprawiono eksport wpisów, gdy w filtrze wybrano cały Wydział.</li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Poprawiono brak wartości dla kolumny `shiftId` (ID wpisu Zmiany produkcyjnej) w eksportowanych danych
      Przestojów.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-10.01</h1>
  <h2><%- time.format('2014-03-10', 'LL') %></h2>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Przyciski szybkiego filtrowania zakresu czasu zostały zamienione na menu dołączone do przycisku Filtruj
      raport.
    </li>
  </ul>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Zlecenia zliczane są od teraz po Dacie startu a nie Dacie ukończenia.</li>
    <li>Przyciski szybkiego filtrowania zakresu czasu zostały zamienione na menu dołączone do przycisku Filtruj
      raport.
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodano możliwość filtrowania listy po Dacie, Zmianie i Typie.</li>
  </ul>
  <h3>Feedback</h3>
  <ul>
    <li>Dodano przycisk Feedback do paska nawigacji, po kliknięciu którego pojawi się formularz z możliwością zgłaszania
      błędów lub wyrażania swoich opinii, uwag lub pomysłów. Z każdym wpisem zapisywane są dane o Użytkowniku
      wysyłającym oraz jego przeglądarce. CZEKAMY NA ODWAŻNYCH!
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-08.01</h1>
  <h2><%- time.format('2014-03-08', 'LL') %></h2>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Dodano nowy typ: Ustawianie/przezbrajanie.</li>
    <li>Zmieniono flagę <span style="font-style: italic">Planowany?</span> (Tak/Nie) na pole <span
        style="font-style: italic">Planowany?</span> z wartościami: Tak, Nie, Nie dotyczy.
    </li>
  </ul>
  <h3>Raport Wykorzystanie zasobów</h3>
  <ul>
    <li>Dodano raport Wykorzystanie zasobów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-06.01</h1>
  <h2><%- time.format('2014-03-06', 'LL') %></h2>
  <h3>Importowanie zleceń</h3>
  <ul>
    <li>Zaimportowane pliki zleceń są od teraz przesuwane w inne miejsce, zamiast usuwane.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-03-02.01</h1>
  <h2><%- time.format('2014-03-02', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Wartość kolumny 12NC Części jest teraz odnośnikiem do szczegółów wygenerowanego zlecenia.</li>
    <li>Nazwa kolumny Przestoju jest teraz odnośnikiem do szczegółów wygenerowanego przestoju.</li>
    <li>Do strony szczegółów zlecenia dodano właściwość Karta pracy, która jest odnośnikiem do Karty pracy, z której
      pochodzi dane zlecenie (jeżeli zostało wygenerowane przez Kartę pracy).
    </li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Potwierdzenie przestoju generuje nową operację w Historii operacji na liniach produkcyjnych: Potwierdzenie
      przestoju.
    </li>
  </ul>
  <h3>Produkcja > Historia operacji</h3>
  <h3>Dane produkcyjne</h3>
</div>
<div class="hidden">
  <h1>2014-02-28.01</h1>
  <h2><%- time.format('2014-02-28', 'LL') %></h2>
  <h3>Zadania produkcyjne</h3>
  <ul>
    <li>Dodano nowe pole: <span style="font-style: italic">Kolor w raporcie CLIP</span></li>
  </ul>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Dodano nową kolumnę do wykresu DIR/INDIR: WAREHOUSE (dla ML: suma FTE (magazyn); dla Wydziałów - suma FTE
      (magazyn), ale zadania bez podziału na Wydziały są dzielone przez ilość Wydziałów Produkcyjnych).
    </li>
    <li>Kolumna DIRECT nie zawiera już wartości FTE (magazyn).</li>
    <li>Zmieniono kolor kolumny DIRECT na pomarańczowy.</li>
    <li>Zmieniono kolory kolumn Funkcji produkcyjnych na pomarańczowy.</li>
    <li>Wszystkie kolumny na wykresie DIR/INDIR w trybie pełnoekranowym są sortowane razem, malejąco.</li>
    <li>Kolumny Zadań produkcyjnych mają kolory zdefiniowane w polu <span style="font-style: italic">Kolor w raporcie CLIP</span>
      danego Zadania produkcyjnego.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-27.01</h1>
  <h2><%- time.format('2014-02-27', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Usprawiono walidację formularza dodawania nowej karty pracy:<br>
      <ul>
        <li>Godz. rozp. i Godz. zak. muszą znajdować się w granicach wybranej zmiany.</li>
        <li>Godz. rozp. musi być przed Godz. zak.</li>
        <li>Suma czasu przestojów w zleceniu musi być mniejsza niż czas trwania tego zlecenia.</li>
        <li>Czasy dwóch różnych zleceń na tej samej Maszynie nie mogą się nakładać.</li>
      </ul>
    </li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono moment sprawdzania, czy nastąpiła zmiana Zmiany produkcyjnej.<br><br>Wcześniej, po załadowaniu Ekranu
      operatora, uruchamiano timer, który wyzwalał się za CzasDoNastępnejZmiany=CzasNastępnejZmiany-AktualnyCzas sekund.
      Po wyzwoleniu timera sprawdzano, czy czas aktualnej zmiany różni się od czasu zmiany wyświetlanej na Ekranie
      operatora. Jeżeli się nie różnił, to timer ustawiany był na nowo. Jeżeli się różnił, to zmieniano Zmianę
      produkcyjną i timer ustawiany był na nowo.<br><br>Od teraz sprawdzanie czy rozpoczęła się nowa zmiana odbywa się
      co sekundę.
    </li>
  </ul>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Poprawiono obliczanie Produktywności, aby wynosiła tyle co w Raporcie Wskaźników.</li>
    <li>Wykres Podział zasobów nie pokazuje już słupków dla Przepływów.</li>
    <li>Słupki INEFF/EFF i DIRECT/INDIRECT sortowane są razem z Zadaniami produkcyjnymi.</li>
    <li>W trybie pełnoekranowym wykresów DIRECT/INDIRECT i Podział zasobów, wyświetlane są pełne nazwy Zadań
      produkcyjnych zamiast skróconych, generowanych w locie.
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Przy ładowaniu aplikacji, kroki sprawdzania nowej wersji i nawiązywania stałego połączenia są pomijane, jeżeli
      użytkownik jest offline.
    </li>
    <li>Przyciski w polach formularzy w Chrome 33 są ponownie widoczne przez cały czas, a nie tylko po najechaniu myszką
      lub aktywacji.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-26.01</h1>
  <h2><%- time.format('2014-02-26', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd podczas obliczania czasu trwania przestojów w zleceniu, skutkujący ujemnymi czasami.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Przycisk poprawy zlecenia nie będzie się już wyświetlał, jeżeli linia znajduje się w stanie bezczynności.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-25.01</h1>
  <h2><%- time.format('2014-02-25', 'LL') %></h2>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Poprawiono zmniejszanie Wydajności w stosunku do czasu trwania w godzinie, jeżeli ostatnie zlecenie w tej
      godzinie nie trwa do końca godziny.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-24.01</h1>
  <h2><%- time.format('2014-02-24', 'LL') %></h2>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Wartości z <span style="font-style: italic">FTE (magazyn)</span> są od teraz dodawane tylko do <span
        style="font-style: italic">INDIRECT</span> dla <span style="font-style: italic">ML</span>.
    </li>
    <li>Poprawiono domyślny filtr na wczorajszy dzień z podziałem czasu Dzień.</li>
    <li>Poprawiono błąd uniemożliwiający obliczanie wskaźników dla zleceń zaimportowanych po ostatniej aktualizacji.
    </li>
  </ul>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Usunięto flagę <span style="font-style: italic">W raporcie 1?</span> (przy obliczaniu <span
        style="font-style: italic">Wydajności</span> i <span style="font-style: italic">Produktywności</span> od czasu
      trwania zlecenia odejmowany jest czas przestojów z powodem typu <span style="font-style: italic">Przerwa</span>).
    </li>
    <li>Dodano pole <span style="font-style: italic">Typ</span>: Konserwacja, Przegląd/remont, Awaria, Przerwa, Inny.
    </li>
    <li>Dodano pole <span style="font-style: italic">Typy działów</span>: Montaż, Tłocznia.</li>
    <li>Dodano flagę <span style="font-style: italic">Planowany?</span></li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Na liście powodów przestojów pojawiają się tylko te powody, których wartość <span style="font-style: italic">Typy działów</span>
      zawiera typ <span style="font-style: italic">Działu</span> danej <span style="font-style: italic">Linii produkcyjnej</span>.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-23.01</h1>
  <h2><%- time.format('2014-02-23', 'LL') %></h2>
  <h3>Wartości referencyjne</h3>
  <ul>
    <li>Zwiększono grubość linii referencyjnych.</li>
  </ul>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Przy obliczaniu Wydajności i Produktywności zlecenia z Wykonaną ilością równą 0 nie są już ignorowane.
      Ignorowane są zlecenia z Ilością osób równą 0.
    </li>
    <li>Przy obliczaniu Wydajności z przedziałem godzinowym, wartość Wydajności w ostatniej godzinie zmniejszana jest w
      stosunku do czasu trwania w tej godzinie, jeżeli jest to ostatnie zlecenie. Np.: mamy jedno zlecenie, lub część
      zlecenia rozpoczętego w poprzedniej godzinie, które trwało w danej godzinie 5 minut, ale obliczona wartość Ilość
      sztuk sprawia, że wydajność dla tej godziny to 600%, bo nie ma już więcej zleceń. Wtedy Wydajność ta zmniejszana
      jest do 8% wartości (czyli 600*0,08=48%, bo 5 min/60 min=0,08).
    </li>
  </ul>
  <h3>Produkcja > Historia operacji</h3>
  <ul>
    <li>Dodano do kolumny Czas operacji różnicę czasów zapisania wpisu operacji w bazie, a utworzeniem tego wpisu w
      przeglądarce. Różnica ta obliczana będzie tylko dla nowych operacji.
    </li>
  </ul>
  <h3>Raport CLIP</h3>
  <ul>
    <li>Dodano raport CLIP.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-21.01</h1>
  <h2><%- time.format('2014-02-21', 'LL') %></h2>
  <h3>Wartości referencyjne</h3>
  <ul>
    <li><span style="font-style: italic">Wydziały</span> i <span style="font-style: italic">Działy</span> są od teraz
      sortowane alfabetycznie, a nie po czasie dodania w systemie.
    </li>
  </ul>
  <h3>Importer</h3>
  <ul>
    <li>Zmniejszono całkowitą liczbę kroków dla wszystkich importerów ponownie z 10 na 8.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Przeniesiono właściwości <span style="font-style: italic">Osoby wg SAP</span> i <span
        style="font-style: italic">Takt [s]</span> do dolnego rzędu i zamnieniono je miejscami.
    </li>
    <li>Ulepszono dostosowywanie się formatki do szerokości okna przeglądarki:<br>
      <ul>
        <li>&lt;1680px - zmniejszane są marginesy i czcionka wartości właściwości,</li>
        <li>&lt;1440px - marginesy i czcionka wartości właściwości jest jeszcze mniejsza oraz zmniejszana jest czcionka
          nagłówków,
        </li>
        <li>&lt;1150px - jak wyżej + przyciski akcji nie są wyświetlane w rzędzie, tylko jeden pod drugim.</li>
      </ul>
    </li>
    <li>Ustawiono wymaganą minimalną wartość dla właściwości <span style="font-style: italic">Osoby pracujące</span> na
      1.
    </li>
    <li>Wartość właściwości <span style="font-style: italic">Osoby pracujące</span> przy edycji ustawiana jest domyślnie
      na wartość właściwości <span style="font-style: italic">Osoby wg SAP</span>.
    </li>
    <li>Czas przestoju liczony jest teraz od momentu wciśnięcia przycisku akcji <span style="font-style: italic">Przestój</span>/<span
        style="font-style: italic">Przerwa</span>, a nie od momentu wciśnięcia przycisku wysłania formularza <span
        style="font-style: italic">Rozpocznij przestój</span>.
    </li>
    <li>Dodano nową operację: <span style="font-style: italic">Poprawa zlecenia</span>.</li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-20.01</h1>
  <h2><%- time.format('2014-02-20', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Powody przestojów dla typu Montaż optyki są teraz sortowane wg pola <span style="font-style: italic">Pozycja na karcie pracy (montaż optyki)</span>,
      a nie <span style="font-style: italic">Pozycja na karcie pracy (inne)</span>.
    </li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Dodano możliwość eksportowania wpisów.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Nowe plany mogą teraz być tworzone tylko na pierwszej zmianie.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Opis zdarzeń związanych z utworzeniem/zamknięciem wpisów FTE i planów godzinowych zawierają teraz odnośnik do
      danego wpisu.
    </li>
  </ul>
  <h3>Raport 1 - Wskaźniki</h3>
  <ul>
    <li>Poprawiono nieprawidłowe odtwarzanie stanu filtra, jeżeli użytkownik odświeżył stronę mając wyfiltrowane dane z
      Zadanego okresu czasu (po odświeżeniu zawsze zamieniał na Online).
    </li>
    <li>Dodano wsparcie dla wartości referencyjnych dla Wydajności i Produktywności.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że przy odświeżeniu przeglądarki nadpisywano nowszych wersji słowników zapisanych
      lokalnie wersją starszą.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-18.01</h1>
  <h2><%- time.format('2014-02-18', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono nie odświeżanie się informacji o zleceniu, gdy ponownie wybrano to samo zlecenie, ale inną
      operację.
    </li>
  </ul>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Zmienio nazwę flagi <span style="font-style: italic">Pozycja na karcie pracy</span> na <span
        style="font-style: italic">Pozycja na karcie pracy (inne)</span>.
    </li>
    <li>Dodano nową flagę <span style="font-style: italic">Pozycja na karcie pracy (montaż optyki)</span>, która
      kontroluje jakie przestoje mają pokazywać się w tabelce przy dodawaniu karty pracy typu <span
        style="font-style: italic">Montaż optyki</span>.
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zamieniono flagę <span style="font-style: italic">Malarnia?</span> na pole <span
        style="font-style: italic">Typ</span>. Karta pracy może być typu:<br>
      <ul>
        <li>Obróbka mechaniczna - domyślny typ, czas rozp., czas zak. i straty dla poszczególnych części. Przestoje
          kontrolowane przez flagę <span style="font-style: italic">Pozycja na karcie pracy (inne)</span>,
        </li>
        <li>Montaż optyki - czas rozp. i czas zak. dla poszczególnych części. Niedostępne straty. Przestoje kontrolowane
          przez flagę <span style="font-style: italic">Pozycja na karcie pracy (montaż optyki)</span>,
        </li>
        <li>Malarnia - czas rozp. i czas zak. dla całej karty, a straty dla poszczególnych części. Przestoje
          kontrolowane przez flagę <span style="font-style: italic">Pozycja na karcie pracy (inne)</span>.
        </li>
      </ul>
    </li>
  </ul>
  <h3>Importowanie zleceń</h3>
  <ul>
    <li>Zmieniono format klucza dopasowującego do siebie pliki kroków z YYYYMMDDHH na YYYYMM, aby można było dopasować
      do siebie kroki, które przyszły na przełomie dwóch godzin.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-18.01</h1>
  <h2><%- time.format('2014-02-18', 'LL') %></h2>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nowe uprawnienie: Przestoje: dostęp do wszystkich działów. Użytkownik z tym uprawnieniem będzie widział
      wszystkie przestoje, nawet wtedy, gdy ma przypisany Wydział/Dział.
    </li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>W filtrze listy i przy wyborze Wydziału, dostępne są tylko Wydziały typu Produkcja.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>W filtrze listy i przy wyborze Wydziału, dostępne są tylko Wydziały typu Produkcja.</li>
  </ul>
  <h3>FTE (magazyn)</h3>
  <ul>
    <li>W filtrze listy i przy wyborze Wydziału, dostępne są tylko Wydziały typu Dystrybucja.</li>
  </ul>
  <h3>Importowanie zleceń</h3>
  <ul>
    <li>Zwiększono liczbę kroków z 8 na 10.</li>
    <li>Importowane są teraz:<br>
      <ul>
        <li>zlecenia reszty działów na dzień dzisiejszy (Job PL02_(ORDER|OPER)_INFO, Step &lt;n&gt;),</li>
        <li>zlecenia reszty działów na następny dzień roboczy (Job PL02_(ORDER|OPER)_INFO_2D, Step &lt;n&gt;),</li>
        <li>zlecenia reszty działów na poprzedni dzień roboczy (Job PL02_(ORDER|OPER)_INFO_3D, Step &lt;n&gt;),</li>
        <li>puste zlecenia (Job PL02_(ORDER|OPER)_INFO_1D, Step &lt;n&gt;).</li>
      </ul>
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-17.01</h1>
  <h2><%- time.format('2014-02-17', 'LL') %></h2>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano wsparcie dla funkcji Kopiuj &amp; Wklej do pola Uprawnienia w formularzu Użytkownika.</li>
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że przycisk Potwierdź przestój pojawiał się Użytkownikowi na stronie szczegółów
      przestoju nawet wtedy, gdy ten nie miał uprawnień do potwierdzenia danego przestoju.
    </li>
    <li>Poprawiono błąd powodujący, że nie można było potwierdzać przestojów.</li>
  </ul>
  <h3>Eksport danych</h3>
  <ul>
    <li>Dodano możliwość eksportu Planów godzinowych i FTE (magazyn) do pliku CSV.</li>
  </ul>
  <h3>Wyszukiwanie zleceń</h3>
  <ul>
    <li>Zwiększono wymaganą długość ciągu znaków do wpisania, aby rozpocząc wyszukiwanie z 3 na 6 znaków (w celu
      ograniczenia ilości zapytań do serwera).
    </li>
    <li>Zlecenia wyszukiwane po 12NC od teraz najpierw biorą pod uwagę Zlecenia produkcyjne o pasującym 12NC, których
      Data ukończenia jest maksymalnie dwa tygodnie wstecz. Jeżeli znaleziono pasujące zlecenia w Zleceniach reszty
      działów, to dla każdego z tych zleceń pobierane są ze Zleceń działu mechanicznego wartości Kontroler MRP i Norma
      materiałowa. Jeżeli nie znaleziono pasujących zleceń w Zleceniach reszty działów, to zlecenia wyszukiwane są po
      12NC w Zleceniach reszty działów.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-16.01</h1>
  <h2><%- time.format('2014-02-16', 'LL') %></h2>
  <h3>FTE (produkcja)</h3>
  <h3>FTE (magazyn)</h3>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono obliczanie godziny w wartości pól Data wpisów FTE (produkcja), FTE (magazyn) i Plany godzinowe,
      jeżeli wpis utworzono między 23:00 a 23:59.
    </li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Pole Nazwa operacji od teraz będzie przyjmować jako wartość pusty ciąg znaków, gdyż niektóre operacje nie mają
      nazwy i jeżeli zostały wybrane, to nie można było zapisać karty pracy.
    </li>
    <li>Formularz nie będzie już wysyłany po wciśnięciu klawisza Enter (trzeba wcisnąć przycisk Dodaj kartę pracy).</li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Poprawiono niepoprawne zapisywanie ID wpisu zmiany, w której rozpoczęto zlecenie, co skutkowało nie możliwością
      powiązania wpisu Zlecenia z wpisem Zmiany.
    </li>
  </ul>
  <h3>Eksport danych</h3>
  <p>
    Dodano możliwość eksportu Zmian, Przestojów i Zleceń do pliku CSV.
  </p>
  <p>
    Aby wyeksportować dane, należy wejść na stronę z listą danych, które chcemy wyeksportować i kliknąć przycisk
    Eksportuj zmiany/przestoje/zlecenia. Eksportowane są dane pasujące do aktualnie wybranych filtrów
    (tzn. że wyeksportowane zostaną te wpisy co widać na liście, ale bez podziału na strony).
  </p>
  <p>
    Jeżeli eksportowanych wpisów będzie więcej niż 10 000, to przycisk zmieni kolor na żółty.
  </p>
  <p>
    Pierwszy rekord to nazwy kolumn.<br>
    Kolumny rozdzielone są znakiem średnika (;).<br>
    Wartości tekstowe zawarte są w cudzysłowach.<br>
    Wartości liczbowe jako znak dziesiętny używają przecinka.<br>
    Daty eksportowane są w formacie YYYY-MM-DD HH:mm:ss.<br>
  </p>
</div>
<div class="hidden">
  <h1>2014-02-14.01</h1>
  <h2><%- time.format('2014-02-14', 'LL') %></h2>
  <h3>Raport 1</h3>
  <ul>
    <li>Poprawiono obliczanie wartości wskaźnika Produktywność dla pierwszej daty na wykresie.</li>
    <li>Poprawiono obliczanie sumy FTE (magazyn), gdy wpis nie zawierał żadnych zadań podzielonych na Wydziały.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono pojawianie się zduplikowanych Przepływów, jeżeli w danym Wydziale jakiś Przepływ należał do kilku
      Kontrolerów MRP
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-13.01</h1>
  <h2><%- time.format('2014-02-13', 'LL') %></h2>
  <ul>
    <li>Poprawiono filtr Linia produkcyjna nie wyświetlający do wyboru dostępnych linii produkcyjnych, jeżeli Użytkownik
      miał przypisany Dział.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-12.02</h1>
  <h2><%- time.format('2014-02-12', 'LL') %></h2>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Dodano nowe pole: Automatyczne potwierdzenie? (przy zakończeniu przestoju, przestój ten jest automatycznie
      zatwierdzany, jeżeli pole jest zaznaczone).
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano nowy przycisk akcji: Przerwa. Przycisk dostępny jest tylko, jeżeli Dział, do którego należy dana
      Linia produkcyjna ma ustawioną wartość Domyślny obszar odp.. Po kliknięciu, pojawia się okno dialogowe
      rozpoczynania przestoju, ale jako Powód zaznaczona jest opcja A - Przerwa, jako Obszar odpowiedzialny
      zaznaczony jest Domyślny obszar odp. i zaznaczany jest przycisk Rozpocznij przestój.
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Użytkownicy widzą teraz przestoje ze wszystkich obszarów odpowiedzialności (wcześniej tylko przypisane),
      ale potwierdzać mogą tylko z tych obszarów, jakie mają przypisane.
    <li>Można teraz filtrować listę przestojów po kilku wybranych obszarach odp./powodach (IN) oraz po wszystkich
      oprócz wybranych (NOT IN; po odznaczeniu checkboxa koło etykiety).
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-12.01</h1>
  <h2><%- time.format('2014-02-12', 'LL') %></h2>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Przy synchronizacji użytkowników z bazą KD brani są od teraz pod uwagę tylko użytkownicy z firmą dokładnie
      pasującą do jednego z ID frim zdefiniowanych w systemie (wcześniej firma z KD mogła się kończyć na ID firmy z
      MES).
    <li>Przy synchronizacji użytkowników z bazą KD, jeżeli nie powiodło się tworzenie rekordu użytkownika z powodu
      duplikatu loginu, to do loginu dodawane jest ID rekordu użytkownika z bazy KD i operacja dodawania jest ponawiana.
  </ul>
  <h3>Zlecenia działu mechanicznego</h3>
  <ul>
    <li>Zamieniono separator kolumn w importowanym pliku zleceń z przecinka na średnik.
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-11.01</h1>
  <h2><%- time.format('2014-02-11', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Dodano nowe pole: Domyślny obszar odpowiedzialności. Aktualnie wykorzystywane do ustawiania
      Obszaru odpowiedzialności przestojów generowanych przez Karty pracy (obszar odp. brany jest z działu w jakim
      znajduje się maszyna, dla której generowany jest przestój). Później będzie wykorzystywane także do automatycznego
      uzupełnienia pola Obszar odpowiedzialności po kliknięciu przycisku Przerwa na Formatce operatora.
  </ul>
  <h3>Firmy</h3>
  <ul>
    <li>Usunięto flagi Dostępna w FTE (produkcja/magazyn)?
    <li>Dodano pola Pozycja w FTE (produkcja) i Pozycja w FTE (magazyn).
  </ul>
  <h3>Funkcje na produkcji</h3>
  <ul>
    <li>Nowy moduł. Zastępuje sztywnie zdefiniowane funkcje na produkcji.
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zamieniono listę checkboxów z uprawnieniami w formularzu użytkownika na listę wielokrotnego wyboru.
    <li>Zamieniono sztywnie zdefiniowane funkcje na produkcji na te zdefiniowane w module Funkcje na produkcji.
      Można wybrać tylko funkcje dostępne w wybranej firmie.
  </ul>
  <h3>FTE (magazyn)</h3>
  <ul>
    <li>Kolumny z firmami pokazują się teraz dla Firm z wartością Pozycja w FTE (magazyn) większą niż -1.
      Firmy sortowane są rosnąco po pozycji (teraz Philips występuje przed APT i można definiować firmy,
      które nie pokażą się na formularzu FTE).
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Kolumny z funkcjami na produkcji pokazują się teraz dla Funkcji na produkcji z wartością
      Pozycja w FTE (produkcja) większą niż -1. Funkcje na produkcji sortowane są rosnąco po pozycji.
    <li>Kolumny z firmami dla danej funkcji brane są z pola Firmy danej funkcji (tylko te jakie wybrano).
      Firma musi także mieć ustawioną wartość Pozycja w FTE (produkcja). Firmy, do następnego restartu, sortowane
      są po kolejności w jakiej zostały wybrane w polu. Po następnym restarcie będą sortowane po wartości
      Pozycja w FTE (produkcja) danej firmy (kolejność i tak wychodzi taka sama, tj. Philips przed APT).
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-10.01</h1>
  <h2><%- time.format('2014-02-10', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Operacje bez wartości Labor Time nie są pokazywane na liście przy rozpoczynaniu nowego zlecenia.
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono sortowanie listy kart pracy z malejącego wg czasu dodania na malejące wg zmiany.
    <li>Dodano wsparcie dla Malarni.
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-07.01</h1>
  <h2><%- time.format('2014-02-07', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd, który sprawiał, że wartość Ilość wykonana w zleceniu, wpisywana w oknie dialogowym Koniec pracy
      nadpisywała wartość Ilość wykonana w przedziale godzinowym.
  </ul>
  <h3>Zlecenia działu mechanicznego</h3>
  <ul>
    <li>Dodano nowe pole: Norma materiałowa [kg].
    <li>Poprawiono importowanie zleceń z pliku CSV, aby uwzględniało dwie nowe kolumny: Norma materiałowa
      i Kontroler MRP.
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Filtry znajdują się teraz po lewej stronie tabeli, a nie nad tabelą.
    <li>Poprawiono czytelność filtra Status.
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zamieniono wszystkie pola w filtrach typu tekstowego, które jako wartość przymowały datę i czas, na dwa
      oddzielne pola typu data i czas (z kalendarzem w Chrome/Opera).
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-06.02</h1>
  <h2><%- time.format('2014-02-06', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Naprawiono błąd podczas obliczania daty ukończenia zlecenia, jeżeli podana godzina mieściła się między 00:00
      a 06:00 (3 zmiana, następny dzień).
  </ul>
  <h3>Produkcja > Przestoje</h3>
  <ul>
    <li>Dodano kolumny Kontroler MRP i Przepływ do listy przestojów.
    <li>W szczegółach przestoju, kliknięcie na wartość atrybutu Zmiana przeniesie użytkownika do wpisu danej zmiany
      produkcyjnej; kliknięcie na wartość atrybutu Wykonywane zlecenie przeniesie użytkownika do wpisu danego zlecenia
      produkcyjnego.
  </ul>
  <h3>Historia zmian produkcyjnych</h3>
  <ul>
    <li>Kliknięcie na obszar zlecenia na osi czasu przeniesie użytkownika do wpisu danego zlecenia produkcyjnego.
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Dodano moduł umożliwiający przeglądanie historię zleceń. Dostępny w menu jako Produkcja > Zlecenia.
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-06.01</h1>
  <h2><%- time.format('2014-02-06', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Naprawiono błąd uniemożliwiający zmianę personelu, jeżeli aktualnie nie była ustawiona żadna wartość.
    <li>Zmieniono wygląd okna dialogowego rozpoczynania nowego zlecenia (dla porównania:
      <a href="http://i.imgur.com/JVwJj3a.png">stare</a> i <a href="http://i.imgur.com/i3nT25B.png">nowe</a>).
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-05.01</h1>
  <h2><%- time.format('2014-02-05', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Okna dialogowe nie będą się już pokazywać kilkakrotnie, jeżeli użytkownik szybko wciska klawisz Enter mając
      zaznaczony odnośnik lub przycisk aktywujący okno dialogowe.
    <li>Przy zmianie mistrza, lidera lub operatora, jeżeli wybrany nowy użytkownik, to ten sam jaki jest aktualnie,
      to nie tworzony jest nowy wpis w historii.
    <li>Zmieniono wygląd okien dialogowych, a w szczególności okno dialogowe przycisku Nowe zlecenie
      (dla porównania: <a href="http://i.imgur.com/CIQAeTR.png">stare</a>
      i <a href="http://i.imgur.com/JVwJj3a.png">nowe</a>).
  </ul>
</div>
<div class="hidden">
  <h1>2014-02-04.01</h1>
  <h2><%- time.format('2014-02-04', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodając użytkownika do pola Nastawiacze/operatorzy, pierwszy użytkownik z listy ustawiany jest w polu Podpisany
      nastawiacz/operator (jeżeli było puste).
    <li>Ulepszono automatyczną konwersje pól Godz. rozp. i Godz. zak.. Z wpisanej wartości usuwane są znaki inne niż 0-9
      i separatory: spacja, dwukropek (:), myślnik (-). Następnie, wartość dopasowywana jest do formatów:
      HH&lt;separator>MM (lub jedna cyfra H, M), HHMM, HMM, MM, M.
    <li>Zwiększono grubość obramowania między sekcjami Straty materiałowe i Straty czasu z polecenia mistrza.
    <li>Dodano jednostki do nagłówków Straty materiałowe (sztuki) i Straty czasu z polecenia mistrza (minuty).
    <li>Wyświetlany jest komunikat błędu, jeżeli czas obliczony z wartości pól Data i Zmiana jest z przyszłości.
  </ul>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Zmieniono sposób obliczania danych do wykresów Czas przestojów - przyczyny i Czas przestojów - obszary odp.
      Wcześnij: suma czasów trwania przestojów w godzinach. Teraz: wartość licznika ze wzoru wskaźnika Przestoje [%].
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Formularze nie będą już wielokrotnie wysyłane, jeżeli użytkownik szybko wciska klawisz Enter.
    <li>Na liście powodów przestojów nie pojawiają się powody, które mają ustawioną wartość Pozycja na karcie pracy.
    <li>Na liniach producyjnych należących do działu typu Montaż można wyszukiwać zlecenia tylko po numerze zlecenia.
      Na liniach typu Tłocznia - tylko po 12NC zlecenia.
    <li>Dodano walidację wartości min-max do pól Ilość wykonana w przedziale godzinowym, Ilość wykonana w zleceniu
      i Ilość osób w zleceniu.
    <li>Jeżeli linia znajduje się w stanie Przestój lub Wykonywanie zlecenia i użytkownik spróbuje zamknąć przeglądarkę,
      to wyświetli się komunikat proszący o potwierdzenie. Tak wygląda
      <a href="http://i.imgur.com/ho56SKb.png">komunikat w stanie Przestój</a>, a tak
      <a href="http://i.imgur.com/oHUXICl.png">w stanie Wykonywanie zlecenia</a>.
  </ul>
  <h3>System aktualizacji</h3>
  <p>Dodano system wspomagający aktualizację aplikacji, głównie ze względu na to, że formatki operatora mogły pracować
    na starych wersjach (aktualizacja była dopiero po zamknięciu/odświeżeniu przeglądarki, a na niektórych liniach nie
    zamykano przeglądarki przez kilka dni).</p>
  <ol>
    <li>Zmiany wgrywane są do repozytorium systemu kontroli wersji w Internecie.
    <li>Przez aplikację wysyła się do serwera komendę (tylko root), która ściągnie zmiany z repozytorium.
    <li>Serwer sprawdza, czy wersja serwera lub klienta się zmieniła.
    <li>Jeżeli zmieniła się wersja serwera, to:
      <ol>
        <li>serwer informuje o tym wszystkich aktualnych użytkowników.
        <li><a href="http://i.imgur.com/1gdrBS7.png">Aktualnym użytkownikom pokazuje się na dole ekranu komunikat</a>.
        <li><a href="http://i.imgur.com/MAx7Pil.png">Nowym użytkownikom pokazuje się specjalna strona z komunikatem</a>.
        <li>Za 10s proces serwera zostaje zamknięty.
        <li>Użytkownicy tracą komunikację z serwerem.
        <li>Proces nadzorujący wskrzesza proces serwera.
        <li>Użytkownicy odzyskują komunikację z serwerem.
        <li>Komunikat znika.
      </ol>
    <li>Jeżeli zmieniła się wersja klienta:
      <ol>
        <li>to informuje o tym wszystkich użytkowników.
        <li>Nowi użytkownicy pobierają najnowszą wersję.
        <li><a href="http://i.imgur.com/Lg31wJE.png">Aktualnym użytkownikom pokazuje się na dole ekranu komunikat.</a>
        <li>Użytkownik może odświeżyć przeglądarkę, żeby pobrać nową wersję aplikacji.
        <li>Jeżeli użytkownik przez 60s nie poruszy myszką lub nie wciśnie żadnego klawisza w aplikacji i ma połączenie
          z serwerem, to ta sama się odświeży.
      </ol>
  </ol>
</div>
