<div class="hidden">
  <h1>v0.101.1</h1>
  <h2><%- time.format('2016-12-18', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący zmianę koloru tekstu wartości 'Cykl [s]' na podstawie wartości średniego czasu cyklu
      zamiast czasu cyklu dla ostatniej sztuki.</li>
    <li>Zmieniono listę kolejki zleceń tak, aby wyświetlany przy każdym zleceniu był wyświetlany jego kolejny numer.</li>
    <li>Dodano nową opcję konfiguracyjną, pozwalającą na ukrycie sekcji 'Czas cyklu'.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Zmieniono wartość 'Ilość planowana [szt]' tak, aby sumowane były planowane ilości godzinowe od początku zmiany do
      końca aktualnej godziny, a nie do końca poprzedniej godziny.
    <li>Zmieniono wartość 'Ilość zrobiona [szt]' tak, aby sumowane były wykonane ilości godzinowe od początku zmiany do
      końca aktualnej godziny, a nie do końca poprzedniej godziny.</li>
    <li>Zmieniono wyświetlanie buźki tak, aby wskazywała czy aktualna ilość zrobiona jest większa lub równa
      ilości planowanej do aktualnego momentu, a nie czy wartość 'Ilość zrobiona [szt]' jest większa lub równa wartości
      'Ilość planowana [szt]'.</li>
  </ul>
  <h3>Dane produkcyje > Zmiany</h3>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono obliczanie wartości 'Wydajność' dla niezakończonych zleceń tak, aby wyświetlały wydajność obliczoną
      z czasów cyklu i taktu, a nie 0%.</li>
    <li>Zmieniono dymki na osi czasu tak, aby nie wyświetlały danych, które nie mają wartości (wcześniej wyświetlany był
      znak zapytania).</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Zmieniono funkcjonalność wklejania wartości do przepływów tak, aby nieprawidłowe wartości na początku i końcu
      wklejonego tekstu były ignorowane, a nie zamieniane na zera (np. nazwa kolumny).</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole 'Data otwarcia 8D'.</li>
    <li>Usunięto z formularza ograniczenie ustawiania dat o różnicy większej niż 60 dni od aktualnej daty.</li>
    <li>Zmieniono uprawnienia na: przeglądanie zgłoszeń, zarządzanie zgłoszeniami, lider oraz kierownik.
      <ul>
        <li>8D: przeglądanie zgłoszeń - użytkownik widzi pozycję 8D w menu i może przeglądać oraz komentować wszystkie
          zgłoszenia,
        <li>8D: zarządzanie zgłoszeniami - użytkownik może dodawać nowe zgłoszenia, edytować wszystkie pola oraz usuwać
          wszystkie zgłoszenia,</li>
        <li>8D: lider - użytkownik może edytować pola: Członkowie zespołu, Data zakończenia D5, Data zakończenia 8D,
          Plik raportu 8D oraz Obserwatorzy zgłoszenia.</li>
        <li>8D: kierownik (przydzielane automatycznie dla użytkowników z funkcją na produkcji 'Kierownik') - użytkownik
          może edytować pola: Lider zespołu, Członkowie zespołu, Akceptacja daty zakończenia D5, Plik raportu 8D
          oraz Obserwatorzy zgłoszenia.</li>
      </ul>
    </li>
    <li>Zmieniono pole 'Data rejestracji CRS' tak, aby przy zmianie jego wartości, wartość pola 'Planowane zakończenie D5'
      była ustawiana na 'Data rejestracji CRS'+28 dni.</li>
    <li>Zmieniono listę zgłoszeń tak, aby po najechaniu na komórkę 'Zespół', w dymku wyświetlani byli wszyscy członkowie
      zespołu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.101.0</h1>
  <h2><%- time.format('2016-12-14', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający przetwarzanie operacji z linii po przeliczeniu ilości na linii,
      która w ID zawiera znak <code>.</code>.</li>
    <li>Zmieniono określanie czy zlecenie jest wykonywane z prawidłowym taktem tak, aby pod uwagę brany był średni czas
      cyklu, a nie czas cyklu dla ostatniej sztuki.</li>
    <li>Zmieniono funkcjonalność 'Następne zlecenie' na 'Kolejka zleceń'.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono domyślny filtr, aby wyświetlane były dane tylko dla aktualnego dnia.</li>
    <li>Dodano filtr 'MRP'.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Dodano możliwość wklejenia do wybranego przepływu wszystkich 24 wartości na raz.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano nowy moduł: <a href="/heff">Wydajność godzinowa</a>.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.100.0</h1>
  <h2><%- time.format('2016-12-11', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący automatyczny start przestoju o okreslonej godzinie nawet wtedy, gdy Linia nie miała
      przypisanego domyślnego Obszaru odpowiedzialności.</li>
    <li>Poprawiono błąd powodujący wyłączenie funkcji sprawdzania uruchomienia kilku Formatek jednocześnie podczas ładowania.</li>
    <li>Zmieniono formularz wybierania nowego personelu linii tak, aby lista ostatnio pracujących osób nie była pokazywana,
      jeżeli jest pusta.</li>
    <li>Zmieniono wyświetlanie wartości 'Cykl [s]' tak, aby nie wyświetlał wartości 'Czas taktu', jeżeli nie został
      jeszcze zeskanowany żadnen numer seryjny.</li>
    <li>Dodano wsparcie dla nowego systemu przechowywania danych offline na komputerach UP.</li>
    <li>Dodano możliwość ustawienia następnego zlecenia. Następne zlecenie pojawia się do wyboru w aplikacji Xiconf
      i zostaje automatycznie wpisane do formularza rozpoczynania nowego zlecenia.</li>
    <li>Dodano wyświetlanie wartości 'Całkowita zrobiona ilość w zleceniu' oraz 'Całkowita ilość do zrobienia'.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Zmieniono oś czasu tak, aby kolor tła zlecenia wskazywał czy 'Średni czas cyklu' został przekroczony.</li>
    <li>Dodano wyświetlanie wartości 'Czas taktu' i 'Średni czas cyklu' w dymkach zleceń. Wartości wydoczne tylko dla
      użytkowników z uprawnieniami 'Dane produkcyjne: zarządzanie'.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono kolumnę 'Zlecenie' tak, aby wyświetlała wartość 'Opis' zamiast 'Nazwa wyrobu' zlecenia (jeżeli
      jest dostępna).</li>
    <li>Zmieniono listę zleceń tak, aby kolor tła wskazywał czy 'Średni czas cyklu' danego zlecenia został przekroczony.</li>
    <li>Zmieniono kolor głównego panelu na stronie ze szczegółami zlecenia tak, aby wskazywał czy 'Średni czas cyklu' danego
      zlecenia został przekroczony.</li>
    <li>Zmieniono kolor tła numerów seryjnych przekraczających 'Czas taktu' na stronie ze szczegółami zlecenia z czerwonego
      na pomarańczowy, aby pasował do koloru stanu linii produkcyjnej.</li>
    <li>Dodano wyświetlanie procentowego stosunku 'Czasu taktu' do 'Średniego czasu cyklu' na stronie ze szczegółami
      zlecenia.</li>
  </ul>
  <h3>Dane produkcyjne > Numery seryjne</h3>
  <ul>
    <li>Zmieniono kolor tła numerów seryjnych przekraczających 'Czas taktu' z czerwonego na pomarańczowy, aby pasował do
      koloru stanu linii produkcyjnej.</li>
  </ul>
  <h3>Baza testów > Zlecenia</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby jako 'Nazwa wyrobu' ze zlecenia kopiowana była wartość 'Opis' zamiast
      'Nazwa wyrobu' (jeżeli jest dostępna).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono kolumnę 'Nazwa wyrobu' tak, aby wyświetlała wartość 'Opis' zamiast 'Nazwa wyrobu' zlecenia (jeżeli
      jest dostępna).</li>
    <li>Zmieniono kolumnę 'Ilość' tak, aby wyświetlała wartości 'Ilość zrobiona' i 'Ilość do zrobienia'.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Dodano możliwość pobieranie załączników przez lokalnych klientów.</li>
  </ul>
  <h3>PSCS</h3>
  <ul>
    <li>Dodano polską wersję prezentacji.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wyświetlanie dat tak, aby miały spójny format.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.99.1</h1>
  <h2><%- time.format('2016-12-04', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zarejestrowanie pierwszego nr seryjnego w zleceniu, jeżeli czas IPT jest wcześniejszy
      niż czas rozpoczęcia zlecenia na Formatce operatora.</li>
    <li>Usunięto efekt pojawiania się/znikania z komunikatów skanowania nr seryjnego oraz z okienek dialogowych, aby
      ograniczyć możliwe zawieszanie się starej wersji przeglądarki.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Poprawiono błąd podczas wyświetlania zleceń na osi czasu zmiany produkcyjnej, jeżeli użytkownik miał zdefiniowaną
      jednostkę organizacyjną inną niż zmiana produkcyjna, dla której oś czasu wyświetlał.</li>
  </ul>
  <h3>PSCS</h3>
  <ul>
    <li>Zmieniono stronę 'Szkolenie' tak, aby wyświetlała prezentację za pomocą przeglądarki PowerPoint z dysku OneDrive,
      zamiast statycznego pliku PDF.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano filtr 'Rodzina produktu' do raportu 'Zestawienie informacji'.</li>
    <li>Dodano wybrane filtry do podtytułu eksportowanego wykresu 'Średnia ilość dni realizacji w poszczególnych tygodniach'
      z raportu 'Zestawienie informacji'.</li>
  </ul>
  <h3>Wydziały</h3>
  <ul>
    <li>Dodano nowe pole: Data dezaktywacji.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wyświetlanie ścieżki jednostek organizacyjnych tak, aby pokazywane były wszystkie Kontrolery MRP,
      jeżeli dany przepływ ma więcej niż nadrzędny jeden MRP.</li>
    <li>Zmieniono wyświetlanie ścieżki jednostek organizacyjnych tak, dezaktywowane jednostki były przekreślone.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.99.0</h1>
  <h2><%- time.format('2016-11-27', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący zapamiętywanie ID linii podczas aktywacji linii, jeżeli przed chwilą linia ta została
      dezaktywowana.</li>
    <li>Poprawiono błąd powodujący otwieranie kilku okien dialogowych, jeżeli szybko wciśnięto na obszar aktywacji
      edycji wartości.</li>
    <li>Zmieniono wyszukiwanie zleceń tak, aby zwracana była pusta lista zamiast błędu, jeżeli podano nieprawidłową wartość
      jako nr zlecenia.</li>
    <li>Zmieniono wyszukiwanie zleceń tak, aby po wybraniu zlecenia domyślnie zaznaczana była możliwie najlepsza
      operacja. Każda operacja dostaje punkty w zależności od spełnionych warunków i wybierana jest ta, która ma ich najwięcej:
      <ul>
        <li>1 pkt, jeżeli 'Labor Time' ma wartość,</li>
        <li>1 pkt, jeżeli 'WorkCenter' ma wartość,</li>
        <li>2 pkt, jeżeli 'Nazwa' zawiera ciąg znaków <code>mont</code>,</li>
        <li>1 pkt, jeżeli 'Nazwa' zawiera ciąg znaków <code>pak</code>,</li>
        <li>1 pkt, jeżeli 'Nazwa' zawiera ciąg znaków <code>kj</code>,</li>
        <li>1 pkt, jeżeli 'Nazwa' zawiera ciąg znaków <code>opra</code>.</li>
      </ul>
    </li>
    <li>Zmieniono 'Nazwa rodziny/detalu' tak, aby wyświetlało wartość 'Opis' ze zlecenia, zamiast 'Nazwa'.</li>
    <li>Zmieniono obszar aktywacji edycji wartości z niebieskiego odnośnika na cały obszar danej wartości.</li>
    <li>Zmieniono rozmiary wszystkich przycisków na większe.</li>
    <li>Zmieniono wybieranie personelu linii tak, aby pod polem wyszukiwania wyświetlane były osoby wybrane na danej linii
      i zmianie produkcyjnej w ostatnich dwóch tygodniach.</li>
    <li>Zmieniono kolory statusu linii:
      <ul>
        <li>szary - nieokreślony,</li>
        <li>czarny - bezczynność,</li>
        <li>zielony - praca, cykl OK,</li>
        <li>pomarańczowy - praca, cykl NOK,</li>
        <li>czerwony - przestój.</li>
      </ul>
    </li>
    <li>Dodano funkcjonalność obliczania czasu cyklu linii na podstawie skanowanych numerów seryjnych.</li>
  </ul>
  <h3>Monitoring > Układ fabryki</h3>
  <ul>
    <li>Dodano dymek wyświetlający informację o aktualnym zleceniu i przestoju po najechaniu na linię produkcyjną.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezaznaczanie statusu 'Aktywny alarm' po wejściu do przestojów z pozycji
      menu 'Alarmy'.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono synchronizację użytkowników z bazą KD tak, aby najpierw porównywała użytkowników po loginie, a dopiero
      potem (jeżeli nie istnieją) po ID z bazy KD.</li>
  </ul>
  <h3><a href="#pscs">PSCS</a></h3>
  <ul>
    <li>Zmieniono szablon dla strony głównej, szkolenia oraz testu.</li>
    <li>Dodano wyświetlanie prezentacji na stronie szkolenia.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd podczas wyciągania z adresu nazwy komputera.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.98.2</h1>
  <h2><%- time.format('2016-11-20', 'LL') %></h2>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Dodano brakujące tłumaczenia zdarzeń.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że przycisku usuwania klienta na liście klientów były aktywne dla klientów, którzy
      aktualnie są połączeni z serwerem, zamiast tylko dla będących offline.</li>
    <li>Zmieniono program do konwertowania plików PDF na obrazy z <em>sejda-console</em> na <em>pdfbox-app</em>
      w celu poprawy renderowania niektórych czcionek.</li>
    <li>Dodano wsparcie dla uruchamiania przeglądarki dokumentów na nowych komputerach UP.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że pole 'Kategoria zachowania' nie było obsługiwane przez historię zmian zgłoszenia.</li>
    <li>Poprawiono błąd powodujący, że nie można było zmienić wartości pól typu lista wyboru na pustą wartość.</li>
    <li>Zmieniono pole 'Kategoria zachowania' tak, aby nie było wymagane.</li>
    <li>Dodano kolumnę 'Kategoria zachowania' do listy zgłoszeń.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zapisanie użytkownika, jeżeli jako wartość pola 'ID (KD)'
      podano <code>-1</code>.</li>
    <li>Zmieniono formularz edycji użytkownika tak, aby użytkownik nie mógł sam sobie zmienić wartości pola 'ID (KD)'
      oraz flagi 'Konto aktywne?'.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono eksportowanie wyników do pliku CSV: usunięto kolumny dotyczące wewnętrznego, lokalnego zlecenia
      oraz dodano kolumny: service tag, linia produkcyjna oraz nazwy LED/HID.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono wyświetlanie wartości 'Nazwa rodziny/detalu' tak, aby wyświetlał wartość 'Opis' ze zlecenia
      zamiast 'Nazwa' (jeżeli jest dostępne).</li>
    <li>Dodano nową opcję konfiguracyjną: Takt Time > Współczynniki operacji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.98.1</h1>
  <h2><%- time.format('2016-11-11', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono filtr 'Rodzina' tak, aby można było wybrać kilka opcji na raz.</li>
    <li>Zmieniono filtr 'Centrum' tak, aby pokazywał także wydziały typu 'Dystrybucja'.</li>
  </ul>
  <h3>Zlecenia</h3>
  <ul>
    <li>Zmieniono wyświetlanie czasów operacji na bardziej czytelne. Teraz czasy wyświetlane są w formacie: <code><em>czas z SAP</em> -> <em>czas przeskalowany</em> (<em>czas zgrupowany</em>)</code>.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Dodano nowy słownik: Kategorie zachowania.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.98.0</h1>
  <h2><%- time.format('2016-11-06', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby ilości z pozycji o takim samym 12NC były sumowane, a nie nadpisywane.</li>
    <li>Dodano wsparcie dla opcji ważenia komponentów.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Dodano wyświetlanie zsumowanych wartości wybranej operacji na liście operacji w szczegółach zlecenia.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący pojawianie się dodatkowego paska przewijania w tabelce na liście klientów.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano do wyszukiwarki szybkich akcji akcję otwierania pliku dokumentacji po wpisaniu 15NC.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.97.0</h1>
  <h2><%- time.format('2016-10-30', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano ponowne wymuszenie skanowania komponentu Spigot po wykonaniu operacji 'Poprawa zlecenia'.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano możliwość skalowania czasów zaimportowanych operacji.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono niedziałające przyciski z numerami stron w nowej przeglądarce dokumentów, w przypadku gdy dokument
      ma mniej niż 10 stron.</li>
  </ul>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Zmieniono sortowanie jednostek organizacyjnych w filtrze 'Wybierz linie produkcyjne' na alfabetyczne.</li>
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd w obliczaniu wartości 'Liczba dni realizacji' powodujący, że liczba dni była zawsze za duża
      o jeden dzień.</li>
  </ul>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd niepozwalający na użycie znaku <code>-</code> w ID linii.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer z powodu cofnięcia zegara systemowego podczas automatycznego potwierdzania
      przestojów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.96.1</h1>
  <h2><%- time.format('2016-10-24', 'LL') %></h2>
  <h3>Przestoje</h3>
  <ul>
    <li>Zmieniono kolumnę MRP na liście przestojów tak, aby pokazywała wartość 'MRP' ze zlecenia w SAP, a nie 'Kontroler
      MRP' linii, na której przestój został rozpoczęty (ta wartość dostępna jest w dymku po najechaniu myszką).</li>
    <li>Zmieniono eksportowanie przestojów tak, aby eksportowane były także: 12NC, ilość w zleceniu, rodzina produktu,
      nazwa produktu oraz MRP zlecenia.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono wyświetlanie numerów stron w nowej przeglądarce dokumentów, gdy dokument ma więcej niż 9 stron tak,
      aby zawsze wyświetlany był przycisk przejścia do pierwszej strony oraz przycisk otwierający formularz
      'Skocz do strony'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.96.0</h1>
  <h2><%- time.format('2016-10-23', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd mogący wywalić serwer podczas eksportu wyników.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano możliwość wyświetlania plików dokumentacji jako obrazów zamiast PDF.</li>
    <li>Dodano usprawnienia dla monitorów dotykowych do przeglądarki dokumentów, jeżeli do adresu strony dodany zostanie
      parametr <code>touch=1</code>.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.95.0</h1>
  <h2><%- time.format('2016-10-16', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono filtr 'Inspektorzy' na liście wyników tak, aby można było wybrać kilku inspektorów na raz.</li>
    <li>Zmieniono formularz wyniku tak, aby można było ręcznie zmienić wartość pola 'Wydział'.</li>
    <li>Dodano brakujący znak '*' do wymaganego pola 'Kategoria błędu'.</li>
    <li>Dodano kolumnę 'Akcje korygujące' do listy wyników.</li>
    <li>Dodano możliwość zmiany wyniku OK/NOK z poziomu formularza.</li>
    <li>Dodano historię zmian na stronie szczegółów wyniku inspekcji wraz z możliwością komentowania.</li>
    <li>Dodano nowe pole: 'Ilość w zleceniu'.</li>
    <li>Dodano filtr 'Status akcji' do listy wyników.</li>
    <li>Dodano eksportowanie akcji korygujących razem z resztą danych.</li>
    <li>Dodano nowy raport: % wyrobów zgodnych.</li>
  </ul>
  <h3>Zlecenia</h3>
  <ul>
    <li>Dodano możliwość grupowania operacji. Operacje z tej samej grupy mają sumowane czasy we wskaźnikach.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.94.0</h1>
  <h2><%- time.format('2016-10-09', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono błąd w nagłówku 'Najaktywniejsi we wrześniu'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd podczas sprawdzania poprawności zeskanowanego 12NC z wykorzystaniem grup 12NC, jeżeli zeskanowany
      kod był na pierwszej pozycji na liście w danej grupie.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano przycisk 'Dodaj zgłoszenie' do strony ze szczegółami zgłoszenia, aby można było szybko przejść
      do formularza dodawania nowego zgłoszenia po dodaniu poprzedniego.</li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Zmieniono eksportowanie zleceń tak, aby eksportowana była także kolumna 'Opis' zlecenia
      (<code>orderDescription</code>).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono filtry nr zlecenia i 12NC tak, aby dopasowywały dany ciąg znaków tylko od początku wartości,
      a nie w dowolnym miejscu.</li>
    <li>Dodano brakujące angielskie tłumaczenie dla akcji 'Drukuj zlecenia'.</li>
  </ul>
  <h3>Zlecenia działu mechanicznego</h3>
  <ul>
    <li>Zmieniono filtr 12NC tak, aby dopasowywał dany ciąg znaków tylko od początku wartości,
      a nie w dowolnym miejscu.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono filtry nr zlecenia i 12NC tak, aby dopasowywały dany ciąg znaków tylko od początku wartości,
      a nie w dowolnym miejscu.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd w filtrze 'Nr zlecenia/12NC' powodujący niewyświetlanie aktualnej wartości filtra po
      odświeżeniu strony.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano wyszukiwarkę akcji na górnym pasku. Wyszukiwarka przyjmuje:
      <ul>
        <li>pełny nr zlecenia - ciąg 9 cyfr rozpoczynających się od cyfry 1,</li>
        <li>częściowy nr zlecenia - mniej niż 9 cyfr rozpoczynających się od cyfry 1,</li>
        <li>pełne 12NC - ciąg 12 cyfr,</li>
        <li>częściowe 12NC - mniej niż 12 cyfr,</li>
        <li>data - w formacie <code>DD.MM.YYYY</code>, <code>DD.MM.YY</code> lub <code>DD.MM</code>
          (przyjmowany jest aktualny rok). Dodatkowo można ograniczyć wyniki do konkretnej zmiany
          (<code>I</code>, <code>II</code> lub <code>III</code>) oraz wydziału
          (<code>LPa</code>, <code>LPb</code>, <code>LD</code>...).
          Podając zmianę, można pominać datę - zostanie wtedy przyjęty aktualny dzień.
        </li>
      </ul>
      Wielkość znaków nie ma znaczenia.
    </li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.6</h1>
  <h2><%- time.format('2016-10-02', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieaktywowanie wybranej pod-zakładki na stronie ustawień po odświeżeniu strony.</li>
    <li>Poprawiono błąd powodujący nadpisywanie wzorców <em>wybierz</em> komponentu Spigot przez wzorce
      <em>ignoruj</em> podczas sprawdzania 12NC komponentu.</li>
    <li>Dodano nową opcję konfiguracyjną: grupy 12NC komponentów Spigot.</li>
    <li>Dodano dodatkowy warunek do procedury rozpoczynania przestoju zabezpieczający przed rozpoczęciem kilku przestojów
      równocześnie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.5</h1>
  <h2><%- time.format('2016-09-25', 'LL') %></h2>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający w niektórych przypadkach pobranie listy przestojów.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Usunięto możliwość wybierania kilku osób zgłaszających przez użytkowników z uprawnieniem 'ZPW: zarządzanie'
      lub przez wybraną osobę zatwierdzającą.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.4</h1>
  <h2><%- time.format('2016-09-18', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający usunięcie wszystkich automatycznych przestojów.</li>
    <li>Zmieniono listę dodawania automatycznych przestojów na stronie formularza tak, aby wraz z nazwą przestoju
      wyświetlane było także ID.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Poprawiono błąd powodujący niepokazywanie się paginacji na liście żądań.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono wybieranie komponentu Spigot tak, aby ignorowane były komponenty bez 12NC.</li>
    <li>Dodano nową opcję konfiguracyjną: ignorowanie wybranego komponentu Spigot, jeżeli pasuje także
      do dodatkowych wzorców.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Poprawiono błąd powodujący brak komunikatu przypomnienia w 20 dniowym e-mailu.</li>
    <li>Poprawiono błąd powodujący wysyłanie powiadomień co 3 dni od daty początkowej, zamiast co 3 dni od 42 dnia.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby ilości w automatycznie dodanej pozycji rodzaju 'Test' były zmienione, gdy
      zmieni się ilość w zleceniu.</li>
    <li>Zmieniono importowanie zleceń tak, aby ilości w pozycji typu 'Program', dodanej z listy dokumentów zlecenia,
      były zmienione, jeżeli zmieni się ilość w zleceniu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.3</h1>
  <h2><%- time.format('2016-08-31', 'LL') %></h2>
  <h3>Przestoje</h3>
  <ul>
    <li>Dodano rodzinę wyrobu do kolumny 'Przepływ' na liście przestojów.
      Po najechaniu na rodzinę, w dymku pojawi się opis lub nazwa wyrobu.</li>
    <li>Dodano opis/nazwę wyrobu oraz nazwę operacji na stronie ze szczegółami przestoju.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować eksport niekompletynych danych.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.2</h1>
  <h2><%- time.format('2016-08-30', 'LL') %></h2>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Poprawiono błąd mogący zablokować przewijanie strony, jeżeli powiększenie strony zostało zmienione.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd mogacy spowodować wywalenie się serwera podczas wylogowania użytkownika.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Poprawiono błąd powodujący brak zakończenia eksportu danych.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.1</h1>
  <h2><%- time.format('2016-08-28', 'LL') %></h2>
  <h3>8D</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer podczas wysyłania powiadomień do zgłoszeń mających zdefiniowaną
      jedną reklamację.</li>
    <li>Poprawniono błąd mogący podować podwójne wysyłanie powiadomień e-mail.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer podczas synchronizacji użytkowników z bazą KD.</li>
    <li>Dodano możliwość zmiany wewnętrznego pola 'ID (KD)' - identyfikator użytkownika w bazie KD, używany
      do porównywania rekordów podczas procesu synchronizacji użytkowników.</li>
    <li>Dodano możliwość dezaktywacji konta użytkownika.</li>
    <li>Dodano możliwość tworzenia kilku użytkowników z tym samym loginem (ale z tylko jeden z nich może mieć aktywne
      konto w tym samym czasie).</li>
  </ul>
  <h3>Przestoje > Alarmy</h3>
  <ul>
    <li>Zmieniono temat wysyłanych e-maili tak, aby zawierał opis lub nazwę produktu ze zlecenia, w którym rozpoczęto
      przestój.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.93.0</h1>
  <h2><%- time.format('2016-08-21', 'LL') %></h2>
  <h3>8D</h3>
  <ul>
    <li>Dodano nowy moduł: 8D.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd podczas logowania mogący powodować, że po zalogowaniu nadal wyświetlany jest formularz logowania.</li>
    <li>Zmieniono logowanie tak, aby wartość nazwy użytkownika nie rozróżniała wielkości liter.</li>
  </ul>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Zmieniono sortowanie na liście tak, aby linie posortowane były według nadrzędnych jednostek organizacyjnych.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono strony z formularzami tak, aby nie były automatycznie odświeżane po utracie i ponownym nawiązaniu połączenia
      z serwerem, w celu uniknięcia utraty wprowadzonych do formularza danych.</li>
    <li>Zaktualizowano pakiety zależne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.92.1</h1>
  <h2><%- time.format('2016-08-04', 'LL') %></h2>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Zmieniono wykres w drugiej kolumnie w trybie jednej grupy tak, aby przy porównywaniu czy wartość rzeczywista
      jest większa od wartości planowanej wartości te były zaokrąglane do dwóch miejsc po przecinku (wcześniej były
      zaokrąglane do trzech miejsc po przecinku, a na wykresie wyswietlane są do dwóch, co mogło spowodować wyświetlanie
      czerwonego słupka, mimo że na wykresie wartość rzeczywista równa jest wartości planowanej).</li>
  </ul>
  <h3>Produkcja</h3>
  <ul>
    <li>Poprawiono błąd powodujący zawieszenie się wykonywania operacji z wszystkich linii produkcyjnych po podwójnym
      sprawdzeniu Spigota na koniec zlecenia.</li>
    <li>Zmieniono formularz sprawdzania Spigota tak, aby nie można było wysłać go kilka razy.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono rozpoznawanie komponentów lamp HID <em>SON-T</em>.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Poprawiono błąd powodujący błędne obliczanie wartości sum poszczególnych zadań i całego wpisu FTE, jeżeli dany
      wpis został stworzony 'pusty' (tzn. przy tworzeniu nowego wpisu nie skopiowano wartości z poprzedniego wpisu).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.92.0</h1>
  <h2><%- time.format('2016-07-31', 'LL') %></h2>
  <h3>ZPW, Usprawnienia</h3>
  <ul>
    <li>Zmieniono wykresy tygodniowe tak, aby na osi poziomej częściej wyświetlały się etykiety tygodni.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować niekończącą się pętlę przeliczania ilości dziennych inspekcji.</li>
  </ul>
  <h3>PSCS</h3>
  <ul>
    <li>Dodano nowy moduł: PSCS - test z wiedzy o Bezpieczeństwie Łańcucha Dostaw Philips.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.91.1</h1>
  <h2><%- time.format('2016-07-17', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono automatyczne przestoje rozpoczynane o konkretnej godzinie tak, aby rozpoczynanie inicjowane było po
      stronie serwera. Teraz przestój rozpocznie się na wszystkich liniach w tym samym czasie (jeżeli formatka będzie
      miała połączenie z serwerem w minucie, w której przestój ma się rozpocząć lub minutę wcześniej).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.91.0</h1>
  <h2><%- time.format('2016-07-13', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Dodano możliwość określenia długości przestoju rozpoczynanego o określonej godzinie poprzez dodanie do godziny
      ilości minut oraz znaku '@', np. <code>15@12:00</code> (15 minutowy przestój o godzinie 12:00).</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano wyświetlanie informacji o aktualnym przestoju w sekcji Przestoje (sekcja przybiera kolor czerwony).</li>
    <li>Dodano odliczanie do automatycznego przestoju rozpoczynanego o określonej godzinie. Odliczanie rozpoczyna się na
      minutę przed startem przestoju (sekcja Przestoje przybiera kolor pomarańczowy).</li>
    <li>Dodano możliwość zgłaszania ZPW po kliknięciu na ikonkę <i class="fa fa-warning"></i>.</li>
    <li>Dodano opisy aktualnego stanu żądań w sekcji Pola odkładcze.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano możliwość zgłaszania ZPW po kliknięciu ikonkę <i class="fa fa-comment"></i>, a potem <i class="fa fa-warning"></i>.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano nową opcję w ustawieniach: 'Powiadamianie o zleceniach bez driverów z zerową ilością zeskanowanych lamp HID'.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że na liście żądań w realizacji wyświetlana była wartość 'Przepływ' zamiast 'Magazynier'.</li>
    <li>Poprawiono błąd powodujący przechowywanie w pamięci serwera wszystkich żądań stworzonych od momentu startu serwera, a nie tylko
      aktualnych (tzn. nowych i zaakceptowanych).</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono uprawnienia wymagane do wyszukiwania użytkowników z lokalny użytkownik lub użytkownik z uprawnieniem
      'Użytkownicy: przeglądanie' na lokalny użytkownik lub zalogowany użytkownik.</li>
    <li>Dodano do listy lokalnych IP adresy rozpoczynające się od '130.139.'.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie dla zdarzenia 'Magazyn: synchronizacja cykli kontrolnych'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.90.0</h1>
  <h2><%- time.format('2016-07-10', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący brak dezaktywacji formatki, jeżeli dana linia została aktywowana na innym komputerze.</li>
    <li>Dodano możliwość automatycznego rozpoczynania przestojów o określonej godzinie. Konfiguracja Automatycznych przestojów
      w słowniku Działy.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano opcję sprawdzania lamp HID.</li>
  </ul>
  <h3>Watchdog</h3>
  <ul>
    <li>Poprawiono błąd powodujący wysyłanie powiadomienia o nieosiągalności serwera zawsze po starcie watchdoga,
      mimo że serwer był osiągalny.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.89.2</h1>
  <h2><%- time.format('2016-07-03', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie akcji dodawania inspekcji na liście inspekcji dla użytkowników
      nie mających odpowiednich uprawnień.</li>
    <li>Zmieniono dzienny licznik tak, aby zliczał wartość 'Ilość sprawdzonych', a nie ilość przeprowadzonych inspekcji.</li>
    <li>Zmieniono pole 'Centrum produkcyjne' na 'Wydział'.</li>
    <li>Dodano możliwość nadpisania wydziału ze zlecenia wydziałem przypisanym do wybranego rodzaju inspekcji.</li>
    <li>Dodano nową rolę: 'Inspekcja Jakości: specjalista'. Specjaliści mogą edytować tylko kategorię błędu,
      przyczynę źródłową oraz akcje korygujące.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.89.1</h1>
  <h2><%- time.format('2016-06-26', 'LL') %></h2>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie komunikatu o zakończeniu żądania w realizacji.</li>
    <li>Poprawiono błąd powodujący zrywanie połączenia z serwerem co 10 sekund po pierwszym ponownym połączeniu z serwerem.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyszukiwanie zleceń po 12NC zamiast ich numerze na formularzu dodawania/modyfikacji zlecenia.</li>
  </ul>
  <h3>Watchdog</h3>
  <ul>
    <li>Dodano informowanie o braku połączenia z bazą danych.</li>
    <li>Dodano informowanie o braku dostępności głównego procesu serwera.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.89.0</h1>
  <h2><%- time.format('2016-06-19', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono wykres 'Ilość czerwonych pasków per centrum produkcyjne' tak, aby kolory centrów produkcyjnych brane były
      z ustawień Układu fabryki.</li>
  </ul>
  <h3>Raport Lean</h3>
  <ul>
    <li>Zmieniono eksportowanie wykresu w drugiej kolumnie tak, aby do trybu jednokolumnowego można było wybrać wartości
      o różnych jednostkach (np. Czas przestojów i Wydajność).</li>
  </ul>
  <h3>Działy</h3>
  <ul>
    <li>Usunięto pola 'Początkowy przestój' i 'Automatyczny przestój'.</li>
    <li>Dodano nowe pole: 'Automatyczne przestoje'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono automatyczne rozpoczynanie przestojów na bardziej elastyczne. Od teraz można zdefiniować dowolnie długą
      kombinację automatycznych przestojów rozpoczynanych po rozpoczęciu nowego zlecenia w danym dziale.</li>
    <li>Zmieniono 'Pola odkładcze' tak, aby można było w tym samy czasie zażądać dostawy i odbioru palety. Od teraz lewy
      wskaźnik statusu dotyczy odbioru palety, a prawy - dostawy. Szary wskaźnik oznacza, że nie ma aktywnego żądania,
      pomarańczowy wskaźnik - jest żądanie, ale jeszcze nie zaakceptowane przez magazyniera, zielone - żądanie jest
      w trakcie realizacji przez magazyniera.</li>
    <li>Dodano komunikat potwierdzenia do akcji anulowania żądania dostawy/odbioru palety.</li>
    <li>Dodano opcję sprawdzania komponentu Spigot po rozpoczęciu wybranego powodu przestoju i przed zakończeniem zlecenia.
      Sprawdzenie komponentu odbywa się przez zeskanowanie 12NC z kodu kreskowego i porównanie tej wartości z 12NC komponentu
      Spigot w danym zleceniu. Konfiguracja opcji dostępna jest dla użytkowników z uprawnieniem 'Dane produkcyjne: zarządzanie'
      w menu 'Produkcja > Ustawienia'.
    </li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Usunięto filtr żądań w realizacji.</li>
    <li>Zmieniono obliczanie wyświetlanego czasu tak, aby nie wskazywał czasu w przyszłości, jeżeli zegar klienta różni
      się od zegara serwera.</li>
    <li>Zmieniono sortowanie żądań do realizacji tak, aby żądania dostawy miały najwyższy priorytet.</li>
    <li>Zmieniono wyświetlanie rodzaju palety w żądaniach dostawy tak, aby wyświetlana była pełna nazwa, a nie skrócona.</li>
    <li>Dodano możliwość obsługi wielu żądań z jednej linii produkcyjnej.</li>
    <li>Dodano możliwość akceptacji i kończenia żądań przez zeskanowanie czytnikiem nr personalnego magazyniera. Po zeskanowaniu
      nr personalnego wyświetli się komunikat informujący o wykonanej akcji. Komunikat zamknie się po 2.5-10s (w zależności
      od akcji) lub po wciśnięciu klawisza Escape, Enter lub Spacja.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono sposób wymuszenia aktualizacji aktywności sesji użytkownika tak, aby sesja była aktualizowana raz na 8 godzin
      (zamiast 20% szansy na aktualizacje przy każdym żądaniu).</li>
    <li>Zmieniono czas wygasania nieaktywnych sesji na 30 dni.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.88.1</h1>
  <h2><%- time.format('2016-06-05', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający usunięcie wartości pól tekstowych (zmianę na puste).</li>
    <li>Zmieniono pobieranie rodziny wyrobu z nazwy, tak aby Rodzina była pierwszymi sześcioma znakami nazwy, jeżeli
      w nazwie nie występują żadne znaki spacji.</li>
    <li>Zmieniono pole 'Ilość do poprawy' na 'Ilość do selekcji'</li>
    <li>Zmieniono eksportowanie wykresu 'Ilość niezgodnych produktów' tak, aby w tytule wykresu odzwierciedlany był
      aktualnie wybrany okres czasu oraz wybrane Wydziały.</li>
    <li>Zmieniono panele załączników na stronie szczegółów wyniku tak, aby ich maksymalna wysokość nie przekraczała 512px
      (jeżeli wysokość będzie większa, to pojawią się paski przewijania).</li>
    <li>Zmieniono wydruk 'Zgłoszenie niezgodności' tak, aby był generowany po stronie serwera (PDF) zamiast po stronie
      klienta (HTML).
    <li>Dodano do wydruku 'Zgłoszenie niezgodności' etykiety pod obrazkami oraz wartości pól: Ilość skontrolowana,
      Ilość do selekcji oraz Ilość niezgodnych.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono obliczanie FTE dla Kontrolerów MRP oraz Przepływów w przypadku, gdy Przepływ na danej zmianie miał
      podane FTE, ale w rzeczywistości żadna linia nie była aktywna.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.88.0</h1>
  <h2><%- time.format('2016-05-24', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Dodano nowe pole: Początkowy przestój - przestój jaki ma być automatycznie uruchomiony po rozpoczęciu nowego
      zlecenia na linii produkcyjnej w ciągu kilku minut od rozpoczęcia zmiany produkcyjnej. Po zakończeniu przestoju
      'początkowego' (Operatywka) rozpoczynany jest przestój 'automatyczny' (Przezbrojenie).</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie czasów rozpoczęcia i zakończenia każdego zlecenia podczas edycji kart
      pracy typu Malarnia.</li>
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Zmieniono raport tak, aby pobierał dane także z działów typu Malarnia, a nie tylko z Tłoczni.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.87.0</h1>
  <h2><%- time.format('2016-05-22', 'LL') %></h2>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono pole 'Czas utworzenia' na 'Czas importu'.</li>
    <li>Dodano nowe pole 'Czas utworzenia', będące wartością 'Doc.Date' oraz 'Doc.Time' ze zrzutu transakcji 'ZOIN' w SAP.</li>
    <li>Dodano akcję 'Skocz do zlecenia po nr' do strony z listą zleceń.</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono stronę ze szczegółami karty tak, aby na 'Liście części' nie wyświetlała się kolumna 'Straty materiałowe',
      jeżeli żadne ze zleceń nie ma żadnych strat.</li>
    <li>Dodano do menu odnośnik do formularza dodawania nowej karty.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Zmieniono menu, tak aby wyświetlały się tylko dwie opcje: Produkcja oraz Inne wraz z odnośnikami do formularza
      przydzielania zasobów.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Dodano brakujące tłumaczenia.</li>
  </ul>
  <h3>ZPW, Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wysyłanie e-maili przypomniających o zalegających zgłoszeniach tylko raz
      po restarcie serwera.</li>
    <li>Zmieniono domyślny filtr raportów tak, aby wyświetlał dane z ostatnich 4 miesięcy.</li>
    <li>Zmieniono algorytm przeliczania czasów trwania otwartych zgłoszeń na bardziej wydajny.</li>
    <li>Zmieniono raporty tak, aby na wykresach 'wg użytkownika' wyświetlane było maksymalnie 15 słupków, a reszta danych
      w tabelce.</li>
    <li>Zmieniono wykresy tak, aby wartości przy słupkach były widoczne, jeżeli na wykresie znajduje się w sumie mniej
      niż 35 słupków.</li>
    <li>Dodano do menu odnośnik do formularza dodawania nowego zgłoszenia.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że po kliknięciu przycisku 'Oznacz jako przeczytane', zmiany nie były oznaczane jako
      przeczytane po stronie klienta do momentu odświeżenia strony.</li>
    <li>Zmieniono wykres 'Ilość zgłoszeń w poszczególnych tygodniach' tak, aby wyświetlał legendę.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że pole 'Inspektor' w formularzu dodawania nowego wyniku nie było automatycznie
      ustawiane na zalogowanego użytkownika-inspektora.</li>
    <li>Zmieniono filtry 'Rodzina produktów' z pola tekstowego na listę wyboru.</li>
    <li>Zmieniono wyświetlanie załączników na stronie szczegółów wyniku inspekcji: załączniki wyświetlane są teraz
      w osobnych panelach.</li>
    <li>Zmieniono wybieranie okresu do wykresu 'Ilość niezgodnych produktów' poprzez kliknięcie na obszarze wykresu
      'Ilość czerwonych pasków per centrum produkcyjne' tak, aby zawsze wybierany był okres wyświetlany aktualnie
      w dymku.</li>
    <li>Dodano filtr 'Inspektor' do raportu 'Ilości'.</li>
    <li>Dodano dodatkowe filtrowanie wykresu 'Ilość niezgodnych produktów' wg wydziałów wybranych w legendzie
      wykresu 'Ilość czerwonych pasków per centrum produkcyjne'.</li>
    <li>Dodano automatyczne generowanie mniejszej wersji dużych zdjęć-załączników.</li>
    <li>Dodano możliwość usuwania wybranych załączników.</li>
    <li>Dodano możliwość wygenerowania 'Zgłoszenia niezgodności' w wersji do druku.</li>
    <li>Dodano licznik dziennych inspekcji: ilość przeprowadzonych inspekcji oraz ilość wymaganych inspekcji wyświetlane
      są dla Inspektorów w menu po wejściu do modułu.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Poprawiono wsparcie dla skrótów klawiszowych w różnych przeglądarkach.</li>
    <li>Dodano zapamiętywanie między ponownymi otwarciami przeglądarki stanu wyświetlania sekcji 'Zdarzenia'.</li>
    <li>Dodano opis skrótów klawiszowych dostępny pod klawiszem F1.</li>
  </ul>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono wyświetlanie 'Top 10' dla poprzedniego miesiąca w przelądarce Internet Explorer.</li>
  </ul>
  <h3>Działy</h3>
  <ul>
    <li>Dodano nowy typ działu: Malarnia.</li>
  </ul>
  <h3>Powody przestojów</h3>
  <ul>
    <li>Dodano wsparcie dla typu działu Malarnia.</li>
  </ul>
  <h3>Raporty > Planowane obciążenie linii</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający dodanie nowych CAGów.</li>
  </ul>
  <h3>Raporty > Wykorzystanie zasobów</h3>
  <ul>
    <li>Dodano wsparcie dla typu działu Malarnia.</li>
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Dodano wsparcie dla typu działu Malarnia.</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Usunięto filtr 'Typy działów'.</li>
    <li>Dodano filtr 'Ignorowane jednostki organizacyjne'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.86.1</h1>
  <h2><%- time.format('2016-05-16', 'LL') %></h2>
  <h3>ZPW, Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że podczas edycji zgłoszenia porównywane jest tylko jedno pole.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.86.0</h1>
  <h2><%- time.format('2016-05-15', 'LL') %></h2>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Poprawiono proces rozpoznawania zaznaczonych odpowiedzi ze zeskanowanych ankiet.</li>
  </ul>
  <h3>Zlecenia działu mechanicznego</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono błąd mogący wywalać serwer podczas nieudanego eksportu wykresu.</li>
    <li>Zmieniono wielkość czcionki w wersji do druku wykresu w drugiej kolumnie raportu Lean.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono niedziałające odnośniki w wiadomości e-mail przypominającej o niezakończonych zgłoszeniach.</li>
  </ul>
  <h3>Zlecenia działu mechanicznego</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia.</li>
  </ul>
  <h3>Historia operacji na liniach</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować zatrzymanie się procesu automatycznego potwierdzania przestojów.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Poprawiono ucięte nagłówki sekcji na głównym ekranie w starszej wersji przeglądarki Google Chrome.</li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd podczas zapisywania danych z Formatki operatora w wypadku, gdy baza danych zwróciła nieoczekiwany
      komunikat błędu.</li>
    <li>Zmieniono proces importowania operacji z Formatki operatora tak, aby za jednym razem zapisywane było maksymalnie
      50 operacji.</li>
    <li>Zmieniono proces przetwarzania operacji z Formatki operatora tak, aby za jednym pobierane było maksymalnie
      25 operacji.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd mogący wywalać serwer podczas wykonywania żądania zakończonego błędem, którego połączenie zostało
      zakończone przed przesłaniem wyniku do klienta.</li>
    <li>Zmieniono konfigurację połączenia z bazą danych tak, aby po jego utracie, serwer próbował ciagle nawiązywać nowe
      połączenie, a nie tylko 30 razy.</li>
    <li>Zaktualizowano środowisko i moduły zależne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.85.1</h1>
  <h2><%- time.format('2016-04-18', 'LL') %></h2>
  <h3>ZPW/Usprawnienia/Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer podczas pobierania załączników, w nazwie których znajdują się specjalne znaki.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.85.0</h1>
  <h2><%- time.format('2016-04-17', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Zmieniono wykres w drugiej kolumnie tak, aby na osi x wyświetlał kategorie zamiast daty, jeżeli wygenerowano dane
      tylko dla jednej grupy (jeden dzień, tydzień lub miesiąc) oraz do wyświetlania wybrano wskaźniki o takiej samej jednostce
      (godz., szt. lub %).</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano wsparcie dla aplikacji Walkner Xiconf v2.19.0.</li>
    <li>Dodano możliwość ładowania paczek aktualizacji aplikacji Walkner Xiconf z poziomu ekranu 'Ustawień'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd mogący powodować utratę operacji podczas zapisywania kilku operacji na raz, jeżeli zapisywanie
      wcześniejszej operacji nie powiodło się, bo została zapisana wcześniej (duplikat).</li>
    <li>Poprawiono błąd powodujący, że czas sprawdzania czy uruchomiono kilka instancji formatki wynosił 2ms zamiast 2s.</li>
    <li>Dodano możliwość zgłaszania sugestii (usprawnień) po kliknięciu ikonki <i class="fa fa-lightbulb-o"></i>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano możliwość zgłaszania sugestii (usprawnień) po kliknięciu ikonki <i class="fa fa-lightbulb-o"></i>.</li>
  </ul>
  <h3>ZPW/Usprawnienia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie dla właściwości 'Pozycja' w słowniku 'Kategorie'.</li>
    <li>Dodano oznaczenia '*' dla wszystkich wymaganych pól w słownikach.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd powodujący aktualizację tylko jednej aktywnej sesji zmodyfikowanego użytkownika.</li>
  </ul>
  <h3>FTE/Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający stworzenie nowego wpisu w przeglądarce IE11.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wyświetlanie akcji w listach tak, aby zajmowały mniej miejsca i zwiększono domyślną ilość rekordów na stronę z 15 na 20.</li>
    <li>Zaktualizowano bibliotekę do generowania wykresów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.3</h1>
  <h2><%- time.format('2016-04-03', 'LL') %></h2>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer przy dodawaniu/edycji użytkownika, jeżeli ustawiono istniejący już login.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.2</h1>
  <h2><%- time.format('2016-03-31', 'LL') %></h2>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd uniemozliwiający załadowanie dokumentów BOM oraz ETO.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.1</h1>
  <h2><%- time.format('2016-03-27', 'LL') %></h2>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono kolumnę '15NC' w tabelce 'Dokumentów' tak, aby wartość po kliknięciu otwierała podczepiony dokument (jeżeli istnieje).</li>
    <li>Dodano sekcję 'ETO' w szczegółach zlecenia, gdzie wyświetlana jest zaimportowana tabelka ETO.</li>
    <li>Dodano funkcjonalność 'Skocz do sekcji' w prawym dolnym rogu strony szczegółów zlecenia.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono formularz tak, aby użytkownicy bez uprawnienia 'ZPW: zarządzanie zgłoszeniami' lub nie będący 'Zatwierdzającym' nie mogli wybrać
      więcej niż jednej 'Osoby zgłaszającej'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano i przeniesiono bazę danych na zewnętrzny serwer (MSD04).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.0</h1>
  <h2><%- time.format('2016-03-20', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Dodano wsparcie dla mniejszych rozdzielczości ekranów.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono zaokrąglanie części ułamkowej w ilości komponentów.</li>
    <li>Zmieniono automatyczne odświeżanie klienta tak, aby odbywało się tylko na przeglądarce Chrome w wersji mniejszej
      niż 49.</li>
    <li>Dodano funkcjonalność automatycznego pojawiania się na liście dokumentów pozycji ETO, jeżeli wcześniej ETO
      nie było dostępne a zostało zaimportowane.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie pełnej paginacji list na mniejszych ekranach
      (zamiast tylko aktualnej strony i przycisków poprzednia/następna).</li>
    <li>Poprawiono brakujące tłumaczenia na podstronach 'wersji do druku'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.2</h1>
  <h2><%- time.format('2016-03-06', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie w formularzu edycji zlecenia produkcyjnego.</li>
  </ul>
  <h3>Produkcja > Żądania zmian</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia w szczegółach żądania zmiany.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd podczas logowania.</li>
    <li>Zmieniono import użytkowników z bazy KD tak, aby dla każdego nowego użytkownika generowane było domyślne hasło
      (takie jak login) oraz adres e-mail (imie.nazwisko@philips.com).</li>
    <li>Ustawiono domyślne hasło wszystkim użytkownikom, którzy nie mieli hasła oraz adres e-mail wszystkim użytkownikom,
      którzy nie mieli adresu e-mail a byli przypisani do firmy Philips.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.1</h1>
  <h2><%- time.format('2016-02-28', 'LL') %></h2>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie przycisku filtrowania listy planów godzinowych.</li>
  </ul>
  <h3>Raporty > HR</h3>
  <ul>
    <li>Zmieniono wskaźnik IND/DIR na wykresie INDIRECT/DIRECT z <code>INDIRECT_FTE / DIRECT_FTE</code>
      na <code>INDIRECT_FTE / TOTAL_FTE</code>.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono czas wykrywania niedziałającego połączenia z serwerem z 60s na 5s oraz
      wysyłanie pakietu sprawdzającego z 25s na 10s.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.0</h1>
  <h2><%- time.format('2016-02-21', 'LL') %></h2>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono pozycję 'Lista komponentów' tak, aby pokazywała się tylko wtedy, gdy zlecenie ma jakieś komponenty.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Czasu zdarzenia'.</li>
    <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
      zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
      i zgłoszenie to miało status 'Nowe').</li>
    <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
      z uprawnieniem 'ZPW: zarządzanie' nadal mogą wybrać dowolną datę.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Daty złożenia wniosku'.</li>
    <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
      zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
      i zgłoszenie to musiało mieć status 'Nowe').</li>
    <li>Dodano wykres 'Ilość sugestii zgłoszonych w kategoriach' do raportu 'Zestawienie informacji'.</li>
    <li>Dodano przycisk 'Wersja do druku' do raportu 'Zestawienie informacji', po wciśnięciu którego raport zostanie
      przystosowany do wydruku na jednej stronie A4 (m.in. brak wykresu 'Ilość zgłoszeń' w poszczególnych tygodniach',
      wyświetlanie maksymalnie 10 pracowników i kategorii).</li>
    <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
      z uprawnieniem 'Usprawnienia: zarządzanie' nadal mogą wybrać dowolną datę.</li>
  </ul>
  <h3>Raport > Przestoje w obszarach</h3>
  <ul>
    <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono niedziałający indeks bazy danych dla wartości 'Kontroler MRP' w 'Zmianach produkcyjnych'.</li>
    <li>Przeniesiono dezaktywowane jednostki organizacyjne w 'KF9' do 'KF9~a', a aktywne jednostki w 'KF9~c' do 'KF9'.</li>
    <li>Dodano tymczasowe zamienianie ID jednostek produkcyjnych w 'KF9~c' tak, aby dane zaliczane były do 'KF9'.
  </ul>
</div>
<div class="hidden">
  <h1>v0.82.0</h1>
  <h2><%- time.format('2016-02-14', 'LL') %></h2>
  <h3>Przestoje</h3>
  <ul>
    <li>Zmieniono listę Powodów przestojów w formularzu Potwierdzania przestoju tak, aby wyświetlały się tylko te
      Powody, które pasują do typu Działu, w którym rozpoczęto dany Przestój.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do Listy komponentów (BOM) dzielenie ilości komponentów przez ilość w zleceniu (działa tak samo jak
      lista komponentów zlecenia w wersji do druku).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono dzielenie ilości komponentów przez ilość w zleceniu w wersji do druku tak, aby było wykonywane zawsze,
      a nie tylko wtedy, gdy ilość komponentów jest większa od ilości w zleceniu.</li>
    <li>Zmieniono wyświetlanie ilości i jednostki komponentów w wersji do druku tak, aby nie były wyświetlane dla
      komponentów, które nie mają 12NC.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano brakujące tłumaczenie dla uprawnienia 'Raporty: Planowane obciążenie linii'.</li>
  </ul>
  <h3>Raporty > Planowane obciążenie linii</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający załadowanie nowego planu.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający przekierowanie na stronę 'Pulpit' po wylogowaniu się użytkownika.</li>
    <li>Dodano funkcję automatycznego wylogowywania użytkowników, którzy zostali usunięci.</li>
    <li>Dodano funkcję powiadamiania zalogowanych użytkowników o zmianie ich uprawnień. Od teraz po zmianie uprawnień
      użytkownikowi, nie musi się on przelogowywać, aby nowe uprawnienia weszły w życie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.81.0</h1>
  <h2><%- time.format('2016-02-07', 'LL') %></h2>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia w dymkach osi czasu zmian produkcyjnych.</li>
  </ul>
  <h3>Badanie opinia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia na stronie szczegółów Odpowiedzi.</li>
    <li>Zmieniono kolejność odpowiedzi w formularzu Odpowiedzi z Tak, Nie, Nie mam zdania na Nie, Nie mam zdania, Tak,
      aby pasowała do kolejności na formularzu fizycznym.</li>
  </ul>
  <h3>Lista zmian</h3>
  <ul>
    <li>Zmieniono listę tak, aby wyświetlała na początku tylko 5 ostatnich wersji. Po kliknięciu 'Pokaż więcej'
      wyświetlone zostanie 10 kolejnych wersji oraz przycisk 'Pokaż wszystkie'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do aplikacji klienta wyświetlanie stałej, pierwszej pozycji 'Listy komponentów'. Po wybraniu dokumentu
      'Lista dokumentów' otworzy się BOM aktualnie wybranego Zlecenia.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.3</h1>
  <h2><%- time.format('2016-01-31', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby w danym zleceniu znajdowała się tylko jedna pozycja rodzaju
      'programowanie driverów' (pozycja utworzona z dokumentów 'Zlecenia produkcyjne' ma większy priorytet niż
      pozycja z komponentów zlecenia).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby odbywało się przez serwer SMTP a nie serwer Exchange.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.2</h1>
  <h2><%- time.format('2016-01-24', 'LL') %></h2>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Poprawiono brak tłumaczenia sekcji 'Szczegóły zlecenia w momencie rozpoczęcia'.
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono rozpoczynanie zleceń i przestojów tak, aby czas rozpoczęcia zawsze był po czasie rozpoczęcia zmiany
      (nawet w przypadku, gdy zaraz po rozpoczęciu zmiany zegar systemowy zostanie przesunięty do tyłu).
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie braku wyników na liście usprawnień, jeżeli podano wartości w filtrze
      'Od-Do', nawet w przypadku, gdy zgłoszenia pasujące do filtrów istnieją.
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono listę komponentów tak, aby wyświetlała różne komponenty z takim samym numerem zamiast wyświetlać
      tylko ostatni.
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie programów z dokumentów 'Zleceń reszty działów' tak, aby ilość driverów zawsze była brana
      ze 'Zlecenia produkcyjne' zamiast ze 'Zlecenia Xiconf'.
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.1</h1>
  <h2><%- time.format('2016-01-20', 'LL') %></h2>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera, gdy w pobieranych Zleceniach lub Przestojach znajdzie się
      rekord, którego Zmiana produkcyjna jest po czasie podanym w filtrze 'Do' raportu (może się tak zdarzyć,
      gdy na komputerze z Formatka operatora zegar systemowy zostanie przesunięty zaraz po rozpoczęciu zmiany
      - w historii wygląda to tak, jakby Zlecenie rozpoczęło się przed Zmianą).
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.0</h1>
  <h2><%- time.format('2016-01-17', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono brak tłumaczenia wartości kolumn 'Status' w tabelkach otwartych ZPW i Usprawnień.
    <li>Poprawiono nagłówek listy Top 10 dla poprzedniego miesiąca wyświetlający tekst 'Najaktywniejsi w miesiącu'
      zamiast 'Najaktywniejsci w grudniu', jeżeli aktualny miesiąc to styczeń.
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera, gdy dwóch użytkownik zażąda w tym samym momencie podglądu
      badania, dla którego plik PDF nie został jeszcze wygenerowany.
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono skrypt transakcji tak, aby SAP zrzucał wynik do lokalnego katalogu. Po zakończeniu transakcji, wynik
      kopiowany jest do ścieżki docelowej.
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieodświeżanie się historii zmian zgłoszenia po wysłaniu komentarza.
    <li>Poprawiono brak tłumaczeń w raporcie 'Zestawienie informacji'.
    <li>Dodano filtr 'Dział zgłaszający' do raportu 'Ilość zgłoszeń'.
    <li>Dodano paski przewijania do dymków w wykresach, gdzie ilość serii danych jest większa niż 10.
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano importowanie do zleceń pozycji programów 'XT' ze zrzutu dokumentów 'Zleceń reszty działów'. Brane są pod
      uwagę dokumenty zaczynające się od 'SETTINGS XT'.
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
  </ul>
  <h3>Raporty > Magazyn</h3>
  <ul>
    <li>Poprawiono błąd powodujący znikanie wykresów po ponownym wygenerowaniu strony (np. po utracie i odzyskaniu
      połączenia z serwerem).
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Usunięto komunikat o wersji testowej raportu.
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono odstępy między niektórymi polami w filtrze listy zleceń.
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > OEE</h3>
  <ul>
    <li>Poprawiono błąd powodujący ignorowanie początkowych wartości filtru z adresu URL.
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano listę zmian w systemie. Lista dostępna jest po kliknięciu na numer wersji w stopce.
    <li>Zoptymalizowano wysyłanie komunikatów od serwera do połączonych klientów.
    <li>Serwer dostępny jest teraz także na porcie 80, tzn.: <a href="http://161.87.64.46/">http://161.87.64.46/</a>
      lub <a href="http://192.168.21.60/">http://192.168.21.60/</a> (nie trzeba podawać w adresie portu 6080).
  </ul>
</div>
