<div class="hidden">
  <h1>v0.85.0</h1>
  <h2><%- time.format('2016-04-16', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Zmieniono wykres w drugiej kolumnie tak, aby na osi x wyświetlał kategorie zamiast daty, jeżeli wygenerowano dane
      tylko dla jednej grupy (jeden dzień, tydzień lub miesiąc) oraz do wyświetlania wybrano wskaźniki o takiej samej jednostce
      (godz., szt. lub %).</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano wsparcie dla aplikacji Walkner Xiconf v2.19.0.</li>
    <li>Dodano możliwość ładowania paczek aktualizacji aplikacji Walkner Xiconf z poziomu ekranu 'Ustawień'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd mogący powodować utratę operacji podczas zapisywania kilku operacji na raz, jeżeli zapisywanie
      wcześniejszej operacji nie powiodło się, bo została zapisana wcześniej (duplikat).</li>
    <li>Poprawiono błąd powodujący, że czas sprawdzania czy uruchomiono kilka instancji formatki wynosił 2ms zamiast 2s.</li>
    <li>Dodano możliwość zgłaszania sugestii (usprawnień) po kliknięciu ikonki <i class="fa fa-lightbulb-o"></i>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano możliwość zgłaszania sugestii (usprawnień) po kliknięciu ikonki <i class="fa fa-lightbulb-o"></i>.</li>
  </ul>
  <h3>ZPW/Usprawnienia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie dla właściwości 'Pozycja' w słowniku 'Kategorie'.</li>
    <li>Dodano oznaczenia '*' dla wszystkich wymaganych pól w słownikach.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd powodujący aktualizację tylko jednej aktywnej sesji zmodyfikowanego użytkownika.</li>
  </ul>
  <h3>FTE/Plany godzinowe</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający stworzenie nowego wpisu w przeglądarce IE11.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wyświetlanie akcji w listach tak, aby zajmowały mniej miejsca i zwiększono domyślną ilość rekordów na stronę z 15 na 20.</li>
    <li>Zaktualizowano bibliotekę do generowania wykresów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.3</h1>
  <h2><%- time.format('2016-04-03', 'LL') %></h2>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer przy dodawaniu/edycji użytkownika, jeżeli ustawiono istniejący już login.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.2</h1>
  <h2><%- time.format('2016-03-31', 'LL') %></h2>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd uniemozliwiający załadowanie dokumentów BOM oraz ETO.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.1</h1>
  <h2><%- time.format('2016-03-27', 'LL') %></h2>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono kolumnę '15NC' w tabelce 'Dokumentów' tak, aby wartość po kliknięciu otwierała podczepiony dokument (jeżeli istnieje).</li>
    <li>Dodano sekcję 'ETO' w szczegółach zlecenia, gdzie wyświetlana jest zaimportowana tabelka ETO.</li>
    <li>Dodano funkcjonalność 'Skocz do sekcji' w prawym dolnym rogu strony szczegółów zlecenia.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono formularz tak, aby użytkownicy bez uprawnienia 'ZPW: zarządzanie zgłoszeniami' lub nie będący 'Zatwierdzającym' nie mogli wybrać
      więcej niż jednej 'Osoby zgłaszającej'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano i przeniesiono bazę danych na zewnętrzny serwer (MSD04).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.84.0</h1>
  <h2><%- time.format('2016-03-20', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Dodano wsparcie dla mniejszych rozdzielczości ekranów.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono zaokrąglanie części ułamkowej w ilości komponentów.</li>
    <li>Zmieniono automatyczne odświeżanie klienta tak, aby odbywało się tylko na przeglądarce Chrome w wersji mniejszej
      niż 49.</li>
    <li>Dodano funkcjonalność automatycznego pojawiania się na liście dokumentów pozycji ETO, jeżeli wcześniej ETO
      nie było dostępne a zostało zaimportowane.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie pełnej paginacji list na mniejszych ekranach
      (zamiast tylko aktualnej strony i przycisków poprzednia/następna).</li>
    <li>Poprawiono brakujące tłumaczenia na podstronach 'wersji do druku'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.2</h1>
  <h2><%- time.format('2016-03-06', 'LL') %></h2>
  <h3>Produkcja > Zmiany</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie w formularzu edycji zlecenia produkcyjnego.</li>
  </ul>
  <h3>Produkcja > Żądania zmian</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia w szczegółach żądania zmiany.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd podczas logowania.</li>
    <li>Zmieniono import użytkowników z bazy KD tak, aby dla każdego nowego użytkownika generowane było domyślne hasło
      (takie jak login) oraz adres e-mail (imie.nazwisko@philips.com).</li>
    <li>Ustawiono domyślne hasło wszystkim użytkownikom, którzy nie mieli hasła oraz adres e-mail wszystkim użytkownikom,
      którzy nie mieli adresu e-mail a byli przypisani do firmy Philips.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.1</h1>
  <h2><%- time.format('2016-02-28', 'LL') %></h2>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję zgłoszeń przez osoby zatwierdzające.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenie przycisku filtrowania listy planów godzinowych.</li>
  </ul>
  <h3>Raporty > HR</h3>
  <ul>
    <li>Zmieniono wskaźnik IND/DIR na wykresie INDIRECT/DIRECT z <code>INDIRECT_FTE / DIRECT_FTE</code>
      na <code>INDIRECT_FTE / TOTAL_FTE</code>.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono czas wykrywania niedziałającego połączenia z serwerem z 60s na 5s oraz
      wysyłanie pakietu sprawdzającego z 25s na 10s.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.83.0</h1>
  <h2><%- time.format('2016-02-21', 'LL') %></h2>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono pozycję 'Lista komponentów' tak, aby pokazywała się tylko wtedy, gdy zlecenie ma jakieś komponenty.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Czasu zdarzenia'.</li>
    <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
      zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
      i zgłoszenie to miało status 'Nowe').</li>
    <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
      z uprawnieniem 'ZPW: zarządzanie' nadal mogą wybrać dowolną datę.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie ilości dni realizacji zgłoszenia po zmianie 'Daty złożenia wniosku'.</li>
    <li>Zmieniono formularz edycji zgłoszenia tak, aby użytkownik mógł wybrać status 'Anulowane', jeżeli jest osobą
      zatwierdzającą w tym zgłoszniu (wcześniej anulować zgłoszenie mógł tylko użytkownik, który dodał zgłoszenie
      i zgłoszenie to musiało mieć status 'Nowe').</li>
    <li>Dodano wykres 'Ilość sugestii zgłoszonych w kategoriach' do raportu 'Zestawienie informacji'.</li>
    <li>Dodano przycisk 'Wersja do druku' do raportu 'Zestawienie informacji', po wciśnięciu którego raport zostanie
      przystosowany do wydruku na jednej stronie A4 (m.in. brak wykresu 'Ilość zgłoszeń' w poszczególnych tygodniach',
      wyświetlanie maksymalnie 10 pracowników i kategorii).</li>
    <li>Dodano wymuszanie wybierania dat nie różniących się o więcej niż 60 dni od aktualnej daty. Użytkownicy
      z uprawnieniem 'Usprawnienia: zarządzanie' nadal mogą wybrać dowolną datę.</li>
  </ul>
  <h3>Raport > Przestoje w obszarach</h3>
  <ul>
    <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono niedziałający indeks bazy danych dla wartości 'Kontroler MRP' w 'Zmianach produkcyjnych'.</li>
    <li>Przeniesiono dezaktywowane jednostki organizacyjne w 'KF9' do 'KF9~a', a aktywne jednostki w 'KF9~c' do 'KF9'.</li>
    <li>Dodano tymczasowe zamienianie ID jednostek produkcyjnych w 'KF9~c' tak, aby dane zaliczane były do 'KF9'.
  </ul>
</div>
<div class="hidden">
  <h1>v0.82.0</h1>
  <h2><%- time.format('2016-02-14', 'LL') %></h2>
  <h3>Przestoje</h3>
  <ul>
    <li>Zmieniono listę Powodów przestojów w formularzu Potwierdzania przestoju tak, aby wyświetlały się tylko te
      Powody, które pasują do typu Działu, w którym rozpoczęto dany Przestój.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do Listy komponentów (BOM) dzielenie ilości komponentów przez ilość w zleceniu (działa tak samo jak
      lista komponentów zlecenia w wersji do druku).</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono dzielenie ilości komponentów przez ilość w zleceniu w wersji do druku tak, aby było wykonywane zawsze,
      a nie tylko wtedy, gdy ilość komponentów jest większa od ilości w zleceniu.</li>
    <li>Zmieniono wyświetlanie ilości i jednostki komponentów w wersji do druku tak, aby nie były wyświetlane dla
      komponentów, które nie mają 12NC.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano brakujące tłumaczenie dla uprawnienia 'Raporty: Planowane obciążenie linii'.</li>
  </ul>
  <h3>Raporty > Planowane obciążenie linii</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający załadowanie nowego planu.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający przekierowanie na stronę 'Pulpit' po wylogowaniu się użytkownika.</li>
    <li>Dodano funkcję automatycznego wylogowywania użytkowników, którzy zostali usunięci.</li>
    <li>Dodano funkcję powiadamiania zalogowanych użytkowników o zmianie ich uprawnień. Od teraz po zmianie uprawnień
      użytkownikowi, nie musi się on przelogowywać, aby nowe uprawnienia weszły w życie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.81.0</h1>
  <h2><%- time.format('2016-02-07', 'LL') %></h2>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia w dymkach osi czasu zmian produkcyjnych.</li>
  </ul>
  <h3>Badanie opinia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia na stronie szczegółów Odpowiedzi.</li>
    <li>Zmieniono kolejność odpowiedzi w formularzu Odpowiedzi z Tak, Nie, Nie mam zdania na Nie, Nie mam zdania, Tak,
      aby pasowała do kolejności na formularzu fizycznym.</li>
  </ul>
  <h3>Lista zmian</h3>
  <ul>
    <li>Zmieniono listę tak, aby wyświetlała na początku tylko 5 ostatnich wersji. Po kliknięciu 'Pokaż więcej'
      wyświetlone zostanie 10 kolejnych wersji oraz przycisk 'Pokaż wszystkie'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do aplikacji klienta wyświetlanie stałej, pierwszej pozycji 'Listy komponentów'. Po wybraniu dokumentu
      'Lista dokumentów' otworzy się BOM aktualnie wybranego Zlecenia.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.3</h1>
  <h2><%- time.format('2016-01-31', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby w danym zleceniu znajdowała się tylko jedna pozycja rodzaju
      'programowanie driverów' (pozycja utworzona z dokumentów 'Zlecenia reszty działów' ma większy priorytet niż
      pozycja z komponentów zlecenia).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby odbywało się przez serwer SMTP a nie serwer Exchange.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.2</h1>
  <h2><%- time.format('2016-01-24', 'LL') %></h2>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Poprawiono brak tłumaczenia sekcji 'Szczegóły zlecenia w momencie rozpoczęcia'.
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono rozpoczynanie zleceń i przestojów tak, aby czas rozpoczęcia zawsze był po czasie rozpoczęcia zmiany
      (nawet w przypadku, gdy zaraz po rozpoczęciu zmiany zegar systemowy zostanie przesunięty do tyłu).
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie braku wyników na liście usprawnień, jeżeli podano wartości w filtrze
      'Od-Do', nawet w przypadku, gdy zgłoszenia pasujące do filtrów istnieją.
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono listę komponentów tak, aby wyświetlała różne komponenty z takim samym numerem zamiast wyświetlać
      tylko ostatni.
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie programów z dokumentów 'Zleceń reszty działów' tak, aby ilość driverów zawsze była brana
      ze 'Zlecenia reszty działów' zamiast ze 'Zlecenia Xiconf'.
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.1</h1>
  <h2><%- time.format('2016-01-20', 'LL') %></h2>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera, gdy w pobieranych Zleceniach lub Przestojach znajdzie się
      rekord, którego Zmiana produkcyjna jest po czasie podanym w filtrze 'Do' raportu (może się tak zdarzyć,
      gdy na komputerze z Formatka operatora zegar systemowy zostanie przesunięty zaraz po rozpoczęciu zmiany
      - w historii wygląda to tak, jakby Zlecenie rozpoczęło się przed Zmianą).
  </ul>
</div>
<div class="hidden">
  <h1>v0.80.0</h1>
  <h2><%- time.format('2016-01-17', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono brak tłumaczenia wartości kolumn 'Status' w tabelkach otwartych ZPW i Usprawnień.
    <li>Poprawiono nagłówek listy Top 10 dla poprzedniego miesiąca wyświetlający tekst 'Najaktywniejsi w miesiącu'
      zamiast 'Najaktywniejsci w grudniu', jeżeli aktualny miesiąc to styczeń.
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalanie się serwera, gdy dwóch użytkownik zażąda w tym samym momencie podglądu
      badania, dla którego plik PDF nie został jeszcze wygenerowany.
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono skrypt transakcji tak, aby SAP zrzucał wynik do lokalnego katalogu. Po zakończeniu transakcji, wynik
      kopiowany jest do ścieżki docelowej.
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieodświeżanie się historii zmian zgłoszenia po wysłaniu komentarza.
    <li>Poprawiono brak tłumaczeń w raporcie 'Zestawienie informacji'.
    <li>Dodano filtr 'Dział zgłaszający' do raportu 'Ilość zgłoszeń'.
    <li>Dodano paski przewijania do dymków w wykresach, gdzie ilość serii danych jest większa niż 10.
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano importowanie do zleceń pozycji programów 'XT' ze zrzutu dokumentów 'Zleceń reszty działów'. Brane są pod
      uwagę dokumenty zaczynające się od 'SETTINGS XT'.
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono pierwsze ładowanie danych raportu tak, aby odbywało się po załadowaniu strony, a nie w trakcie.
  </ul>
  <h3>Raporty > Magazyn</h3>
  <ul>
    <li>Poprawiono błąd powodujący znikanie wykresów po ponownym wygenerowaniu strony (np. po utracie i odzyskaniu
      połączenia z serwerem).
  </ul>
  <h3>Raporty > Lean</h3>
  <ul>
    <li>Usunięto komunikat o wersji testowej raportu.
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono odstępy między niektórymi polami w filtrze listy zleceń.
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Poprawiono brak tłumaczeń kolumn listy zleceń.
  </ul>
  <h3>Raporty > OEE</h3>
  <ul>
    <li>Poprawiono błąd powodujący ignorowanie początkowych wartości filtru z adresu URL.
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano listę zmian w systemie. Lista dostępna jest po kliknięciu na numer wersji w stopce.
    <li>Zoptymalizowano wysyłanie komunikatów od serwera do połączonych klientów.
    <li>Serwer dostępny jest teraz także na porcie 80, tzn.: <a href="http://161.87.64.46/">http://161.87.64.46/</a>
      lub <a href="http://192.168.21.60/">http://192.168.21.60/</a> (nie trzeba podawać w adresie portu 6080).
  </ul>
</div>
