<div class="hidden">
  <h1>v0.118.0</h1>
  <h2><%- time.format('2017-12-03', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli wyfiltrowano listę klientów tak, by była pusta.</li>
    <li>Zmieniono aktualizację klientów tak, aby nie była dostępna dla klientów uruchomionych na Raspberry Pi.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Usunięto oznaczenie wymaganego pola z pól: 'Co zauważono?' oraz '"Trudne" do zmiany zachowania oraz warunki pracy'.</li>
    <li>Poprawiono błąd powodujący niewyświetlanie wartości 'Co zaobserwowano' na liście, jeżeli dana karta ma same łatwe obserwacje.</li>
    <li>Zmieniono listę obserwacji tak, aby kliknięcie na kolumnę pokazującą/ukrywającą szczegóły pokazywała szczegóły
      zamiast je ukrywać, jeżeli wcześniej szczegóły były widoczne i kliknięto na inną kolumnę.</li>
    <li>Dodano nowe pole: Mistrz (przełożony obserwatora).</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Poprawiono błąd powodujący niepotrzebne ładowanie danych produkcyjnych przez wszystkich użytkowników
      po zmianach w strukturze organizacyjnej.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Zmieniono aplikację tak, aby nie łączyła się z serwerem, jeżeli nie wybrano linii produkcyjnej.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono domyślny filtr Od-Do listy na aktualny dzień zamiast aktualny i jutrzejszy.</li>
    <li>Zmieniono drukowanie zleceń na generowanie pliku w formacie PDF a nie HTML.</li>
    <li>Zmieniono importowanie zleceń tak, aby usuwanie przesuniętych zleceń odbywało się po dacie planowanego wykonania,
      a nie podstawowej.</li>
    <li>Dodano możliwość komentowania zleceń dla Mistrzów oraz Liderów.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Dodano kopiowanie wartości Zamówienia z poprzednich wpisów.</li>
  </ul>
  <h3>FTE (inne)</h3>
  <ul>
    <li>Poprawiono błąd powodujący podwójne liczenie wartości FTE dla zadań, które mają podzadania.</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodano wyświetlanie wartości RBH (MT) dla wszystkich zleceń w karcie.</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Dodano wyświetlanie wartości RBH (MT) w pierwszym wykresie dla jednostek organizacyjnych w dziale typu Malarnia.</li>
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie po odświeżeniu strony ID użytkownika w filtrze Mistrzowie/Operatorzy zamiast imienia i nazwiska.</li>
    <li>Dodano filtr: Zmiany.</li>
    <li>Dodano podział czasu: Zmiana</li>
  </ul>
  <h3>Dokumentacja > Dokumenty</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zaznaczenie wyniku wyszukiwania.</li>
    <li>Zmieniono serwowanie plików z katalogu tak, aby serwowany był źródłowy plik PDF, jeżeli dokument o danym 15NC
      istnieje w katalogu, ale jego konwersja na obrazy się nie powiodła.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewliczanie ostatniego zlecenia do wydajności zmiany w niektórych przypadkach.</li>
    <li>Zmieniono listę zmian tak, aby nie była odświeżana po zeskanowaniu nr seryjnego na liniach produkcyjnych.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono listę zleceń tak, aby nie była odświeżana po zeskanowaniu nr seryjnego na liniach produkcyjnych.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd powodujący automatyczne przypisanie niezatwierdzonych przestojów do domyślnego obszaru odpowiedzialności
      działu, w którym rozpoczęto przestój, zamiast do ostatnio przypisanego obszaru.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono moduł planowania tak, aby był generowany automatycznie na podstawie zleceń z SAP, a nie z ręcznie
      importowanego arkusza z kolejką zleceń.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Zmieniono moduł malarnii tak, aby kolejka zleceń była generowana automatycznie na podstawie planu danego dnia,
      a nie z ręcznie importowanego arkusza z kolejką zleceń.</li>
  </ul>
  <h3>Żądania zmian danych produkcyjnych</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera z powodu braku pamięci podczas ładowania osi czasu
      zmiany produkcyjnej.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono ograniczenie mininalnej wykonanej ilości w zleceniu z zera na ilość zeskanowanych nr seryjnych
      (ale nie większą od maksymalnej ilości).</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie w filtrze 'MRP zlecenia' kontrolerów MRP, które nie istnieją w słowniku.</li>
    <li>Dodano komunikat informujący o braku wsparcia dla przeglądarki Internet Explorer.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.117.0</h1>
  <h2><%- time.format('2017-11-01', 'LL') %></h2>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas sprawdzania zleceń bez ustawionej
      wartości ilości zrobionej.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera importu danych podczas importowania zleceń reszty działów.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący nadpisywanie minimalnej wymaganej zrobionej ilości po ustaleniu wartości maksymalnej.</li>
    <li>Poprawiono błąd powodujący zablokowanie przycisku wysyłającego formularz Nowego zlecenia/Końca pracy, jeżeli
      aktualne zlecenie nie miało jeszcze zmienionej ilości wykonanej.</li>
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono wysyłanie zrzutów do serwera WMES tak, aby rozpoczynało się po 20s od ostatniej zmiany pliku
      ze zrzuconymi danymi, a nie po 2s.</li>
    <li>Zmieniono zrzut dokumentów zlecenia tak, aby był robiony w trzech częściach (-2, +0 dni; +1 dzień; +2 dni).
      Wcześnij zrzut robiony był w dwóch częściach (-2, +0 dni; +1, +2 dni), co sprawiało, że drugi zrzut trwał bardzo
      długo lub bardzo często kończył się niepomyślnie.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający import wyników od klientów.</li>
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Dodano możliwość wyboru szablonu ankiety: Kętrzyn lub Piła.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nowe pole: Moje MRP. Wartość wykorzystywana jest we filtrach MRP zleceń.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Zmieniono pole 'Brak planu?' w formularzu edycji wpisu tak, aby po jego zaznaczeniu dany przepływ/zadanie znikało z listy.
      Ukryte przepływy/zadania znajdują się pod przyciskiem
      <i class="fa fa-low-vision" title="Pokaż ukryte"></i> (pokaż ukryte).</li>
    <li>Zmieniono formularz edycji wpisu tak, aby wartości FTE równe 0 były zamieniane na pustą wartość w celu
      poprawy przejrzystości.</li>
    <li>Dodano możliwość ustawiania wartości Zamówienia dla każdej firmy oraz automatyczne wyliczanie wartości Brakującej
      ilości pracowników.</li>
  </ul>
  <h3>Raporty > HR</h3>
  <ul>
    <li>Dodano nowy wykres: Obecność. Przedstawia 'Ilość zamówionych pracowników' (żółta) oraz
      'Ilość brakujących pracowników' (czerwona), po
      podwójnym kliknięciu, zamiast 'Ilość zamówionych pracowników' pokazywana jest wartość
      'Ilość obecnych pracowników' (niebieska).</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas eksportu danych wydajności.</li>
    <li>Zmieniono eksportowanie wydajności tak, aby data od ustawiana była na początkową datę danych produkcyjnych, gdy
      data wybrana przez użytkownika jest wcześniej.</li>
    <li>Zmieniono eksportowanie wydajności tak, aby podział czasu ustawiany był na dzień, jeżeli wybrano zmianę oraz
      zakres czasu większy niż rok lub na tydzień, jeżeli wybrano dzień i zakres czasu większy niż 3 lata w celu
      ograniczenia ilości eksportowanych kolumn.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono funkcjonalność dodatkowych dokumentów tak, aby wzorce dopasowywane były także po 12NC wyrobu (jeżeli
      zawiera litery).</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący niepokazywanie się komunikatu o nowej wersji aplikacji, jeżeli wcześniej pokazywany
      był komunikat o restarcie serwera.</li>
    <li>Zmieniono eksportowanie danych tak, aby opcja eksportu do XLSX nie była dostępna, jeżeli wyeksportowanoby
      więcej niż 30 000 rekordów, a CSV - więcej niż 100 000.</li>
    <li>Zmieniono eksportowanie danych tak, aby było przerywane, jeżeli w eksportowanym pliku byłoby więcej niż
      1100 kolumn.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.116.4</h1>
  <h2><%- time.format('2017-10-08', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący całkowite niedziałanie Formatki na starych wersjach przeglądarki Google Chrome.</li>
    <li>Poprawiono błąd w formularzu 'Koniec pracy' powodujący niesprawdzanie 'Wykonanej ilość aktualnego zlecenia'
      pod kątem minimalnej i maksymalnej wartości, jeżeli operator nie zaznaczył tego pola.</li>
    <li>Zmieniono ograniczenie zrobionej ilości tak, aby pod uwagę brana była wykonywana aktualnie operacja.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Usunięto 'Maksymalną ilość do zrobienia' w zleceniu.</li>
    <li>Zmieniono obliczanie 'Ilości zrobionej'. Wcześnij była to suma 'Wykonanych ilości' ze zleceń spływających
      z Formatki operatora. Teraz obliczana jest suma 'Wykonanych ilości' dla każdej operacji zlecenia, a następnie
      wybierana jest najmniejsza wartość większa od 0.</li>
    <li>Dodano możliwość definiowania 'Maksymalnej ilości do zrobienia' dla każdej operacji zlecenia.</li>
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono zrzut dokumentów zlecenia tak, aby był robiony w trzech częściach (-2, +0 dni; +1 dzień; +2 dni).
      Wcześnij zrzut robiony był w dwóch częściach (-2, +0 dni; +1, +2 dni), co sprawiało, że drugi zrzut trwał bardzo
      długo lub bardzo często kończył się niepomyślnie.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wyświetlanie nazwy użytkownika tak, aby zawsze nazwisko było pierwsze.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.116.3</h1>
  <h2><%- time.format('2017-10-01', 'LL') %></h2>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono wyświetlanie tabelek 'Najaktywniejsi w miesiącu', jeżeli jakiś użytkownik miał 100 lub więcej
      zarejestrowanych zgłoszeń.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono kończenie zlecenia tak, aby sprawdzana była zrobiona ilość. Od teraz każde zlecenie ma maksymalną
      ilość do zrobienia ustawianą na stronie ze szczegółami 'Zlecenia produkcyjne' (wymaga uprawnienia
      'Zlecenia: zarządzanie' lub funkcję 'Mistrz' lub 'Lider'). Domyślnie maksymalna wartość
      jest równa ilości do zrobienia. Przy kończeniu zlecenia na Formatce operatora, suma ilości zrobionych w zleceniach
      produkcyjnych (generowanych przez Formatkę operatora) nie może przekraczać maksymalnej wartości.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono filtry 'Od-Do' tak, aby najwcześniejszą datę jaką można wybrać był 1 grudnia 2013
      (początek danych produkcyjnych w systemie).</li>
    <li>Dodano do raportu 'Wskaźniki' eksport wydajności linii, działów i wydziałów. Dane eksportowane są dla aktualnie
      wyświetlanej jednostki organizacyjnej.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Poprawiono błąd mogący wywalić serwer przez nieskończone dodawanie wpisu 'FTE: usunięcie'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że każda akcja eksportu danych działała tylko za pierwszym użyciem.</li>
    <li>Zmieniono wszystkie filtry MRP zlecenia tak, aby wszędzie działały tak samo:
      <ul>
        <li>na liście pokazywane i przeszukiwane są ID oraz opis MRP,</li>
        <li>na liście pokazywane są wszystkie MRP zdefiniowane w systemie (a nie tylko aktywne),</li>
        <li>do filtra można dodać MRP, które nie znajduje się na liście wpisując je do pola i wciskając spację,</li>
        <li>jeżeli użytkownik ma przypisane MRP w Matrycy odpowiedzialności to może kliknąć dodatkową akcję 'moje',
          aby automatycznie wybrać przypisane do użytkownika MRP.</li>
      </ul>
    </li>
    <li>Zmieniono wyświetlanie komunikatu o nowej wersji aplikacji tak, aby nie był pokazywany jeżeli w tym samym
      czasie restartowany jest serwer.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.116.2</h1>
  <h2><%- time.format('2017-09-17', 'LL') %></h2>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający aktualizację istniejących zleceń podczas importu zrzutu
      SAP ZOIN (przyjęcia zleceń).</li>
    <li>Zmieniono filtr 'Od-Do' tak, aby przeszukiwał po polu 'Data startu (plan.)'.</li>
    <li>Zmieniono pole 'Do' tak, aby korzystało z warunku 'mniejsze niż' zamiast 'mniejsze lub równe'.
      To znaczy, że filtr dla jednego dnia 17 września, to od '17.09.2017' do '18.09.2017'
      (tak jak jest w reszcie systemu).</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający rozpoczęcie zlecenia z kolejki.</li>
    <li>Zmieniono kolejkę zleceń tak, aby można było ją zdefiniować w stanie 'Bezczynności'.</li>
    <li>Zmieniono rozpoczynanie nowego zlecenia z kolejki tak, aby domyśla wartość ilości osób była
      automatycznie wyliczana.</li>
  </ul>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Zmieniono sortowanie listy linii na sortowanie naturalne (tzn. 'LM-9' przed 'LM-10').</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Zmieniono sortowanie listy przepływów podczas tworzenia nowego wpisu na sortowanie naturalne.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nowe uprawnienie: Dane produkcyjne: wydajność - wymagane do wyświetlania wskaźnika wydajności w danych
      produkcyjnych (wcześniej w niektórych miejscach wystarczyło być zalogowanym, w innych mieć uprawnienie
      'Dane produkcyjne: wyświetlanie', a w jeszcze innych 'Dane produkcyjne: zarządzanie').</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.116.1</h1>
  <h2><%- time.format('2017-09-03', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Dodano nowe pola: Linia i Lider.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono wyświetlanie nazw linii tak, aby z nazwy usuwane były spacje, jeżeli nazwa ma więcej niż 10 znaków.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.116.0</h1>
  <h2><%- time.format('2017-08-27', 'LL') %></h2>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono listę wad tak, aby była sortowana po ID.</li>
    <li>Zmieniono formularz wyniku tak, aby po wybraniu 'Kodu wady' do pola 'Klasyfikacja wady' kopiowana była wartość
      'Klasyfikacja wady' i 'Opis wady', a nie tylko 'Opis wady'.</li>
    <li>Dodano flagę 'Aktywna?' do słownika 'Wady'. Nieaktywne wady nie pokazują się w formularzu dodawania nowego
      wyniku inspekcji.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer podczas wykonywania operacji 'Zakończenie zlecenia', jeżeli kończone zlecenie
      nie istnieje w 'Zleceniach reszty działów' (co oznacza, że zlecenie zostało rozpoczęte w trybie off-line i błędnie
      wpisano nr zlecenia).</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono wskaźnik 'IP Structure' w raporcie 'Wskaźniki' tak, aby do sumy w mianowniku dodawana była ilość
      obserwacji z licznika.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono formularz obserwacji tak, aby kliknięcie 'Zgłoś ZPW' oraz 'Zgłość sugestię' zapisywało
      aktualny stan formularza. Po dodaniu ZPW/usprawnienia użytkownik jest przenoszony z powrotem do wypełnionego
      formularza obserwacji.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający pobranie zleceń dla aktualnego dnia.</li>
    <li>Poprawiono błąd uniemożliwiający import dużych arkuszy z kolejką zleceń.</li>
    <li>Poprawiono błąd powodujący brak aktualizacji stanu kolejki po zmianie statusów zleceń.</li>
    <li>Zmieniono uprawnienia do akcji 'Ignoruj' oraz 'Resetuj' tak, aby były zawsze dostępne w trybie dotykowym.</li>
    <li>Zmieniono listę nr zleceń tak, aby wyświetlana była po lewej stronie od kolejki zleceń.</li>
    <li>Zmieniono kolejkę zleceń tak, aby kliknięcie na obszarze kolumn z 'Nr' i 'Zlecenie' przewinęło listę
      do powiązanego zlecenie (jeżeli jakieś zlecenie jest powiązane).</li>
    <li>Dodano listę rozpoczętych i zakończonych zleceń po prawej stronie od kolejki zleceń.</li>
    <li>Dodano wsparcie dla trybu dotykowego.</li>
    <li>Dodano możliwość komentowania zleceń.</li>
    <li>Dodano możliwość filtrowania zleceń po MRP.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono komunikat błędu ładowania danych tak, aby zawierał odnośnik do przeładowania aktualnej strony.</li>
    <li>Zaktualizowano pakiety zależne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.115.2</h1>
  <h2><%- time.format('2017-07-30', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono pole 'Ilość wykonana w zleceniu' podczas kończenia zlecenia tak, aby nie można było wpisać wartości
      mniejszej niż ilość zeskanowanych numerów seryjnych.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Dodano aktualizowanie czasów operacji wykonanych zleceń, jeżeli te zmieniły się podczas importu
      'Zleceń reszty działów'.</li>
  </ul>
  <h3>Linie produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd w formularzu edycji linii powodujący niezaznaczanie MRP Kontrolera, jeżeli dana linia jest
      w przepływie, który ma więcej niż jeden MRP.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.115.1</h1>
  <h2><%- time.format('2017-07-23', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Usunięto z ekranu wizualizacji linii 'LM-Maxos_T' wyświetlanie wyniku ostatniej akcji.</li>
    <li>Zmieniono ekran wizualizacji linii 'LM-Maxos_T', tak aby walidacja przewodu 5-żyłowego sprawdzała podłączenie
      pinów 2, 3, 4, 5, i 6, a nie dowolnych pięciu.</li>
    <li>Dodano do ekranu wizualizacji linii 'LM-Maxos_T' wyświetlanie ilości pomyślnych testów po danej stronie,
      całkowitej ilości pomyślnych testów w zleceniu oraz wymaganą ilość testów do wykonania.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli zmodyfikowano plik dokumentu, który został wyświetlony
      w ciągu ostatnich 60 sekund.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono pole 'Data inspekcji' tak, aby można było wybrać datę maksymalnie dwa tygodnie w przeszłości.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Zmieniono czcionkę etykiety z rodziną produktu na liście przestojów na czcionkę ze stałą szerokością znaków.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Dodano nowy raport: Wskaźniki.</li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd podczas przetwarzania operacji z Formatki operatora mogący spowodować podwójne wykonywanie
      operacji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.115.0</h1>
  <h2><%- time.format('2017-07-16', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Usunięto kolumnę 'Licznik' z listy wyników.</li>
    <li>Zmieniono kolumnę 'Zlecenie' na liście wyników, tak aby kliknięcie na nr zlecenia przeniosło użytkownika
      do strony ze szczegółami danego zlecenia.</li>
    <li>Zmieniono ekran wizualizacji linii 'LM-Maxos_T', tak aby kolor tła zmieniany był na zielony lub czerwony
      w celu sygnalizacji powodzenia lub niepowodzenia testu.</li>
    <li>Dodano przyciski 'Start' i 'Reset' do ekranu wizualizacji linii 'LM-Maxos_T'.</li>
    <li>Dodano wsparcie dla rejestracji wyników z testów okablowania i elektrycznego na linii 'LM-Maxos_T'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano uprawnienie 'Tylko zmiana linii ze spigotem' pozwalające na zmianę ustawienia
      'Formatka operatora > Sprawdzanie Spigota > Linie ze sprawdzaniem Spigota'.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano do raportu 'Obserwacje' wykres 'Ilość kart obserwacji wg obserwatorów'.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Usunięto z formularza komunikat o dodawaniu ZPW na podstawie Obserwacji.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd w katalogu dokumentów powodujący próbę pobierania przez przeglądarkę pliku po kliknięciu na
      datę dokumentu przytrzymując klawisz <kbd>ALT</kbd>.</li>
    <li>Zmieniono dodawanie istniejących plików do listy plików do zmiany przez <kbd>ALT+LPM</kbd> tak, aby pole
      z datą ostatnio dodanego pliku było automatycznie zaznaczane.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano nowy moduł: Malarnia. Umożliwia załadowanie pliku z kolejką zleceń malarnii, wyświetlanie kolejki
      oraz rozpoczynanie, kończenie i ignorowanie zleceń z kolejki na dany dzień.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.114.2</h1>
  <h2><%- time.format('2017-07-09', 'LL') %></h2>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Usunięto ograniczenie wyświetlania danych dla linii, które nie należały do jednostki organizacyjnej przypisanej
      użytkownikowi. Od teraz w filtrze 'Jednostka organizacyjna' domyślnie ustawiany jest przypisany wydział
      lub dział.</li>
    <li>Dodano do wszystkich filtrów 'Kontroler MRP zlecenia' odnośnik '(moje)', po kliknięciu którego do pola
      skopiowane zostaną MRP przypisane do użytkownika w Matrycy odpowiedzialności.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Poprawiono błąd podczas liczenia wydajności dla eksportowanych zleceń.</li>
    <li>Poprawiono błąd powodujący nieustawianie wartości filtra 'Kontroler MRP zlecenia' po załadowaniu strony.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Zmieniono kolumnę 'Kontroler MRP' tak, aby wyświetlał wszystkie MRP ze zleceń jakie były robione na danej
      zmianie produkcyjnej. Przekreślone MRP oznacza, że jest to MRP będące jednostką organizacyjną w jakiej znajduje
      się dana linia produkcyjna i nie było robionego żadego zlecenia z tym MRP.</li>
    <li>Dodano filtr 'Kontroler MRP zlecenia'.</li>
    <li>Dodano wartość 'Wydajność' obliczaną ze wszystkich zleceń robionych na danej zmianie produkcyjnej.</li>
    <li>Dodano kolumnę 'Wykonana ilość' do listy zmian produkcyjnych.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono domyślny filtr listy zleceń tak, aby domyślnie pokazywane były tylko zlecenia z ostatnich 7 dni.</li>
    <li>Zmieniono listę klientów tak, aby była sortowana w porządku naturalnym po ID linii ('CT9' przed 'CT10').</li>
    <li>Dodano do listy klientów kolumnę 'Adres IP'.</li>
    <li>Dodano ekran wizualizacji dla linii 'LM-Maxos_T'.</li>
  </ul>
  <h3>Zdarzenia</h3>
  <ul>
    <li>Wyłączono rejestrowanie zdarzenia 'Karty pracy: edycja'.</li>
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Zmieniono generowanie ankiet w formie elektronicznej i PDF tak, aby do treści wstępu automatycznie dodawane
      były paragrafy (jeżeli nie istnieją) w miejscu nowych linii.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Zmieniono filtr 'Linia produkcyjna' na listach 'Zdarzeń' i 'Żądań' na nowy filtr 'Jednostki organizacyjne'.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono filtr listy 'Obszar' tak, aby jako opcje wyświetlana była nazwa a nie ID obszaru.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano możliwość eksportu danych do formatu XLSX.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.114.1</h1>
  <h2><%- time.format('2017-06-25', 'LL') %></h2>
  <h3>ZPW</h3>
  <ul>
    <li>Usunięto pole 'Kategoria zachowania'.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono algorytm obliczania 'Jakości wyrobu gotowego'
      z <code>Ilość_niezgodnych_w_skontrolowanych / Ilość_niezgodnych</code> tylko wyników NOK
      na <code>Ilość_niezgodnych_w_skontrolowanych / Ilość_skontrolowana</code> wszystkich wyników.</li>
  </ul>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieusuwanie zleceń, których data startu została zmieniona na datę poza
      sprawdzanym zakresem.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby nieprawidłowe zlecenia, dla których zlecenie reszty działów nie istnieje
      było usuwane.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby odbywało się pomiędzy 05:00 a 21:00.</li>
    <li>Dodano powiadamianie wszystkich Konstruktorów ETO o nieprawidłowych zleceniach z 12NC zaczynającym
      się na <code>8</code>.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono rozpoczynanie nowego zlecenia tak, aby wymagane było podanie ilości osób.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono eksportowanie danych tak, aby zawierało dodatkowo: Datę zmiany, Numer zmiany oraz Wydajność.</li>
    <li>Zmieniono filtr 'Linia produkcyjna' na uniwersalny filtr 'Jednostka organizacyjna'.</li>
  </ul>
  <h3>Dane produkcyjne > Historia operacji</h3>
  <h3>Dane produkcyjne > Zmiany</h3>
  <h3>Dane produkcyjne > Przestoje</h3>
  <h3>Dane produkcyjne > Żądania zmian</h3>
  <h3>Dane produkcyjne > Numery seryjne</h3>
  <ul>
    <li>Zmieniono filtr 'Linia produkcyjna' na uniwersalny filtr 'Jednostka organizacyjna'.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby usuwane były zlecenia, które nie znajdują się już w aktualnym zrzucie
      (bo data startu została zmieniona na datę poza importowanym zakresem).</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Dodano wsparcie dla importu ustawień klientów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.114.0</h1>
  <h2><%- time.format('2017-06-18', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono kolumny 'Co zaobserwowano' oraz 'Ryzykowne warunki w miejscu pracy' na liście kart tak,
      aby preferowały wyświetlanie 'Trudnych' wpisów.</li>
    <li>Zmieniono filtr 'Trudne do zmiany' tak, aby wyszukiwał karty wg wpisów w tabeli 'Trudności zmian',
      a nie w 'Obserwacje zachowań' i 'Ryzykowne warunki w miejscu pracy'.</li>
    <li>Dodano nowy raport.</li>
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano okres czasu 'Ostatnie dwa tygodnie' do filtrów raportów.</li>
    <li>Dodano filtr 'Działy' do raportu 'Zaangażowanie'.</li>
    <li>Dodano kolumny 'Obserwacje zachowań' oraz 'Minuty dla Bezpieczeństwa' do raportu 'Zaangażowanie'.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono domyślny filtr raportu 'Ilości' tak, aby pobierane były dane z ostatnich 6 miesięcy.</li>
    <li>Zmieniono raporty tak, aby dezaktywowane Wydziały nie były wyświetlane.</li>
  </ul>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Zmieniono kolumnę 'Komentarz IPT' tak, aby była pusta, jeżeli zawiera taką samą wartość jak kolumna
      'Status IPT'.</li>
    <li>Zmieniono kolumnę 'Data startu' tak, aby kolor tła zmieniał się tylko dla zleceń ze statusem 'Błąd'.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby błędne zlecenia były automatycznie rozwiązywane, jeżeli otrzymają
      status 'TECO'.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby błędne zlecenia, których data startu została zmieniona na datę poza
      sprawdzanym zakresem, były usuwane.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość filtrowania listy przestojów i obszarów odpowiedzialności podczas rozpoczynania nowego
      przestoju w trybie dotykowym.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono filtr 'Nr/12NC zleceń' tak, aby można było wyszukać kilka zleceń na raz podając listę numerów zleceń
      oddzielonych przecinkiem.</li>
    <li>Dodano filtr 'Komponenty' umożliwiający wyszukiwanie zleceń wg numeru lub 12NC komponentów.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono przycisk kopiowania uprawnień użytkownika tak, aby działał nawet jak w przeglądarce nie ma technologii
      Flash.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd w polach wyszukiwania użytkowników powodujący niepreferowanie użytkowników z firmy Philips,
      w przypadku wykrycia zduplikowanego użytkownika.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.113.0</h1>
  <h2><%- time.format('2017-06-11', 'LL') %></h2>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję osób odpowiedzialnych dla funkcji, jeżeli dana funkcja nie miała jeszcze
      przypisanych żadnych osób.</li>
    <li>Zmieniono zarządzanie MRP tak, aby wymagało uprawnienia <em>Matryca odpowiedzialności: zarządzanie</em>.
      Wcześniej zmieniać MRP mogli także kierownicy.</li>
    <li>Zmieniono aktualizację dostępności osób odpowiedzialnych na podstawie bazy KD tak, aby brany był pod uwagę
      czas użycia karty (niekiedy wcześniejsze użycia karty na niektórych czytnikach mogą pojawić się w bazie
      z opóźnieniem i będą w takim wypadku ignorowane).</li>
    <li>Dodano listę grup w prawym dolnym rogu w celu ułatwienia nawigacji między grupami.</li>
    <li>Dodano przycisk 'Tryb edycji' do matrycy wyświetlanej w oknie dialogowym.</li>
    <li>Dodano możliwość ukrycia chmurki z danymi użytkownika po kliknięciu na dowolny obszar.</li>
    <li>Dodano uprawnienie: Matryca odpowiedzialności: edycja osób - użytkownicy mogą przypisywać osoby odpowiedzialne
      do funkcji, ale nie mogą zmieniać struktury.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający dodawanie i edycję użytkowników przez formularz.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Poprawiono filtr 'Trudne do zmiany zachowania' wybierający karty, które miały przynajmniej jedną bezpieczną
      obserwację zachowań i żadnych ryzykownych, trudnych obserwacji.</li>
    <li>Dodano do listy kolumny: Co zaobserwowano, Ryzykowne warunki w miejscu pracy, Trudne do zmiany zachowania oraz
      Trudne do zmiany warunki pracy. W komórce tabeli wyświetla się pierwszy wpis danego typu, a po kliknięciu na nią
      wyświetlana jest dodatkowa tabelka ze wszystkimi wpisami danego typu.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono tryb pracy Formatki na wszystkich komputerach na dotykowy.</li>
    <li>Zmieniono akcję żądania dostarczenia palet tak, aby można było wybrać ilość palet.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Dodano wyświetlanie żądanej ilości palet do dostarczenia.</li>
  </ul>
  <h3>Dokumentacja > Dokumenty</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wybranie pliku do edycji przez klinięcie <kbd>ALT+LPM</kbd>.</li>
  </ul>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że kliknięcie na osobę na liście 'Najaktywniejsi w miesiącu' ustawiało nieprawidłowy
      filtr Od-Do na liście zgłoszeń.</li>
  </ul>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano środowisko i pakiety zależne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.112.0</h1>
  <h2><%- time.format('2017-06-04', 'LL') %></h2>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Dodano nowy moduł. Matryca odpowiedzialności dostępna jest po kliknięciu na ikonę <i class="fa fa-group"></i>
      znajdującą się koło wyszukiwarki w górnym pasku.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano przycisk <i class="fa fa-group"></i> otwierający Matrycę odpowiedzialności.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano filtr 'Trudne do zmiany' do listy kart.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Zmieniono skanowanie numerów seryjnych tak, aby można było zarejestrować numer seryjny nawet podczas
      przestoju linii, jeżeli numer seryjny jest z zakończonego zlecenia.</li>
  </ul>
  <h3>Pulpit</h3>
  <ul>
    <li>Usunięto tekst 'Wersja testowa' z przycisków 'Zarejestruj obserwację'
      i 'Zarejestruj Minuty dla bezpieczeństwa'.</li>
    <li>Zmieniono listę 'Najaktywniejsi w miesiącu' tak, aby można było wyświetlić zgłoszenia danego użytkownika
      po kliknięciu na imię i nazwisko.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.3</h1>
  <h2><%- time.format('2017-05-28', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Poprawiono błąd powodujący automatyczne wpisywanie wartości 'Stanowisko (KD)' danego użytkownika
      do pola 'Obserwowane stanowisko'.</li>
    <li>Zmieniono formularz tak, aby wszystkie kategorie zachowań zawsze były wyświetlane.</li>
    <li>Zmieniono wymagane pola w formularzu.</li>
    <li>Dodano możliwość definiowania nowych obserwacji zachowań z kategorii Inne.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Usunięto pola 'Kto?' i 'Kiedy?' z propozycji.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano możliwość skanowania numerów seryjnych dla wszystkich zleceń rozpoczętych na danej zmianie, a nie tylko
      do aktualnie wykonywanego zlecenia.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono pola wyszukiwania użytkowników tak, aby pokazywał tylko jedną opcję o takim samym imieniu i nazwisku
      (jeżeli w bazie istnieje użytkownik Jan Kowalski trzy razy: w firmie PLP, APT oraz Pozostali, to na liście dostępny
      będzie Jan Kowalski z firmy PLP).</li>
    <li>Zmieniono strony błedów tak, aby w razie pilnej potrzeby można było poinformować administratora o błędzie.</li>
    <li>Dodano strony błędów podczas ładowania danych (wcześniej wyświetlała się tylko biała strona).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.2</h1>
  <h2><%- time.format('2017-05-21', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Dodano możliwość dezaktywowania działów.</li>
  </ul>
  <h3>Raporty > Struktura organizacyjna</h3>
  <ul>
    <li>Dodano zapamiętywanie pozycji poszczególnych jednostek organizacyjnych.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd podczas importu zleceń z SAP powodujący nieprzypisywanie wartości 'Opis', 'Zleceniodawca'
      oraz 'Czas utworzenia' w przypadku, gdy dla danego zlecenia sprzedaży istnieje więcej niż jedno
      zlecenie produkcyjne.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono kolumnę 'Ilość popr.' na liście wyników na 'Ilość do sel.'.</li>
    <li>Zmieniono filtrowanie listy inspekcji tak, aby dodatkowe filtry były domyślnie schowane. Dodatkowe filtry można
      zdefiniować wybierając je z listy rozwijanej lub klikając na nazwę kolumny w tabeli wyników.</li>
    <li>Zmieniono filtr 'Kod wady' tak, aby można było wybrać kilka kodów.</li>
    <li>Dodano filtr i kolumnę 'Właściciel niezgodności - Mistrz' do listy wyników.</li>
    <li>Dodano filtr 'Rodzaj inspekcji' do raportu 'Jakośc wyrobu gotowego'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.1</h1>
  <h2><%- time.format('2017-05-14', 'LL') %></h2>
  <h3>Dokumentacja > Dokumenty</h3>
  <ul>
    <li>Poprawiono błędy wywalające serwer podczas serwowania dokumentów, które nie istnieją w katalogu WMES.</li>
    <li>Poprawiono błąd wywalający serwer podczas otwierania dokumentu z katalogu WMES, jeżeli w nazwie zawiera
      polskie znaki.</li>
    <li>Poprawiono błąd powodujący zmianę nazw wszystkich podkatalogów po zmianie nazwy nadrzędnego katalogu
      (tylko po stronie klienta).</li>
    <li>Poprawiono błąd powodujący latanie po całej stronie ikony ładowania dokumentów.</li>
    <li>Zmieniono dodawanie nowych dokumentów tak, aby nazwa domyślnie była ustawiana na 15NC, jeżeli nie udało
      się pobrać nazwy z nazwy pliku i serwera.</li>
    <li>Zmieniono pola dat dostępności tak, aby można było wkleić wartość ze schowka (<kbd>CTRL+V</kbd>).</li>
    <li>Zmieniono zaznaczanie katalogu/dokumentu na liście tak, aby dokument nie był zaznaczany, jeżeli wcześniej
      zaznaczono jakiś tekst.</li>
    <li>Zmieniono drzewo katalogów tak, aby kliknięcie <kbd>CTRL+PPM</kbd> otwierało katalog w nowej karcie
      przeglądarki.</li>
    <li>Dodano pasek narzędzi do głównego widoku oraz przeniesiono do niego wyszukiwanie po 15NC i zmianę trybu
      wyświetlania.</li>
    <li>Dodano możliwość zmiany dat dostępności istniejących plików dokumentów poprzez kliknięcie <kbd>ALT+LPM</kbd>
      na daną datę dostępności.</li>
    <li>Dodano wsparcie dla historii przeglądarki: zmiana katalogu dodawana jest do historii, dzięki czemu można wrócić
      do poprzedniego katalogu korzystając z akcji <em>Wróć</em> przeglądarki.</li>
    <li>Dodano możliwość bezpowrotnego usuwania katalogów i plików ze śmietnika.</li>
    <li>Dodano możliwość oznaczania wielu plików w aktualnym katalogu w celu usunięcia przypisania do aktualnego katalogu,
      przeniesienia ich do śmietnika, przywrócenia ze śmietnika lub bezpowrotnego usunięcia ze śmietnika.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono listę dokumentów na stronie szczegółów zlecenia tak, aby otwierany był dokument z datą dostępności
      danego zlecenia.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono wysyłanie powiadomień e-mail tak, aby powiadomienia nie były wysyłane po restarcie serwera
      oraz co trzy dni po 42 dniu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.0</h1>
  <h2><%- time.format('2017-05-07', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono pole 'Stanowisko' na 'Obserwowane stanowisko'.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer po dodaniu wyniku inspekcji z wybranym Właścicielem niezgodności.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono importowanie zleceń ZLF1 tak, aby zdarzenie pomyślnego importu było tworzone nawet wtedy, gdy lista
      zleceń do zaimportowania była pusta.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Usunięto filtr 'Operacja'.</li>
    <li>Zmieniono kolumnę 'Kontroler MRP' na liście tak, aby najpierw wyświetlany był MRP ze zlecenia
      (MRP w jakim znajduje się linia jest przekreślone, jeżeli różni się od MRP zlecenia).</li>
    <li>Dodano filtr 'Kontroler MRP zlecenia'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano zarządzanie plikami dokumentacji z poziomu WMES.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.110.0</h1>
  <h2><%- time.format('2017-04-24', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Poprawiono błąd umożliwiający dodanie pustej karty.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający komentowanie użytkowników nie będącym inspektorami.</li>
    <li>Poprawiono błąd umożliwiający zmianę wyniku z NOK na OK przez użytkowników nie będących inspektorami.</li>
    <li>Poprawiono błąd powodujący niewysyłanie e-maili do wybranego właściciela niezgodności.</li>
    <li>Zmieniono eksportowanie wyników tak, aby zawierało kolumnę 'Ilość niezgodnych w skontrolowanych'.</li>
    <li>Zmieniono stronę szczegółów wyniku tak, aby 'Właściciel niezgodności - mistrz' nie był wyświetlany w wynikach OK.</li>
    <li>Zmieniono formularz tak, aby Inspektorzy nie mogli zmieniać akcji korygujących.</li>
    <li>Zmieniono pole 'Właściciel niezgodności - mistrz' tak, aby lista zawierała tylko użytkowników z Funkcją na produkcji
      Mistrz.</li>
    <li>Zmieniono uprawnienia do modułu tak, aby Liderzy, Mistrzowie oraz Kierownicy mogli przegladać wyniki inspekcji.
      Dodatkowo Liderzy i wybrani Mistrzowie mogą zmieniać pola: Akcje natychmiastowe, Przyczyna źródłowa oraz Akcje korygujące.</li>
    <li>Zmieniono powiadamianie o przypisaniu do wyniku inspekcji tak, aby powiadamiany był także Kierownik wydziału, w którym
      znajduje się wybrany Mistrz.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono filtr 'Nazwisko' tak, aby ignorował polskie znaki.</li>
    <li>Dodano filtr 'Funkcja na produkcji'.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Zmieniono tworzenie nowych wpisów 'FTE (inne)' tak, aby dezaktywowane Wydziały były ignorowane.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.109.0</h1>
  <h2><%- time.format('2017-04-17', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie listy ostatnich pracowników podczas wyboru personelu linii, w przypadku
      gdy znaleziono tylko jedną osobę.</li>
    <li>Zmieniono wyszukiwanie personelu tak, aby wyszukiwanie po nazwisku ignorowało polskie znaki.</li>
    <li>Dodano wsparcie dla ekranów dotykowych na komputerach UP.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie dymków ze szczegółami niektórych zleceń.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono stronę ze szczegółami karty tak, aby puste tabele nie były wyświetlane.</li>
    <li>Zmieniono tabelę 'Obserwacje zachowań' na formularzu tak, aby domyślnie była pusta, zamiast zawierać wszystkie
      dostępne kategorie zachowań.</li>
    <li>Zmieniono pole 'Co zaobserwowano?	Co aktywowało ryzykowne zachowanie?' na dwa oddzielne: 'Co zaobserwowano?' oraz
      'Co aktywowało ryzykowne zachowanie?'.</li>
    <li>Dodano napis 'wersja testowa' do przycisku 'Zarejestruj obserwację' dostępnym na Pulpicie.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Dodano nowe pole: Właściciel niezgodności - mistrz'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono filtry 'Linia produkcyjna' tak, aby dla użytkowników z przypisanym wydziałem innego typu niż 'Produkcja'
      wyświetlane były wszystkie linie produkcyjne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.108.0</h1>
  <h2><%- time.format('2017-04-02', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer, gdy przeglądarka z Formatką operatora dla linii, która została usunięta utraci
      połączenie z serwerem.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono listę operacji tak, aby użytkownik bez uprawnień 'Dane produkcyjne: przeglądanie'
      lub 'Zlecenia produkcyjne: przeglądanie' nie mógł widzieć czasów operacji.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono listę zleceń tak, aby użytkownik bez uprawnienia 'Dane produkcyjne: przeglądanie'
      nie mógł widzieć kolumny 'Wydajność'.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Zmieniono oś czasu zmiany tak, aby użytkownik bez uprawnienia 'Dane produkcyjne: przeglądanie'
      nie mógł widzieć wartości 'Wydajność'.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Dodano możliwość przeglądania wszystkich planów.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd powodujący zablokowanie pól podczas edycji dla Inspektorów oraz Specjalistów.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Dodano możliwość rejestrowania 'Kart obserwacji zachowań'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.107.0</h1>
  <h2><%- time.format('2017-03-19', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie aktywnie wykonywanych zleceń po imporcie danych z SAP.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer importera danych z SAP, gdy nie otrzymano danych zleceń (tylko operacje).</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Zmieniono edycję planów tak, aby nie można było edytować planów z przeszłości.</li>
    <li>Dodano aktualizację 'Ilości do zrobienia', 'Ilości zrobionej' oraz 'Statusów' zleceń po każdym imporcie zleceń z SAP.</li>
    <li>Dodano podświetlanie na pomarańczowo zleceń, w których 'Ilość zrobiona' jest większa od 'Ilości do zrobienia'.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono kolumnę 'Akcje korygujące' na liście wyników tak, aby wyświetlana była akcja najbliższa do aktualnego
      dnia mająca status inny niż 'Zakończona'.</li>
    <li>Dodano nowe pole: Ilość niezgodnych w skontrolowanych.</li>
    <li>Dodano nowy raport: Jakość wyrobu gotowego.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.2</h1>
  <h2><%- time.format('2017-03-19', 'LL') %></h2>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd powodujący utracenie części dużego zlecenia podczas generowania planu, gdy druga część zlecenia
      została przydzielona do tej samej linii co pierwsza część (ponieważ czas dostępności linii nawet po przydzieleniu
      części zlecenia nadal jest najwcześniejszy, co czyni tę linię najlepszym kandydatem do drugiej części zlecenia).</li>
    <li>Zmieniono generowanie planu tak, aby pod uwagę brane były automatyczne przestoje zdefiniowane na poziomie linii,
      a nie tylko na poziomie działu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.1</h1>
  <h2><%- time.format('2017-03-13', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono wagi komponentów tak, że można zdefiniować minimalną i maksymalną wagę komponentu.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono listę zgłoszeń tak, żeby zamiast kolumny 'Opis problemu' wyświetlana była kolumna 'Temat'. Opis problemu
      wyświetlany jest teraz w dymku po najechaniu na Temat.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.0</h1>
  <h2><%- time.format('2017-03-05', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość definiowania automatycznych przestojów dla grup linii produkcyjnych, a nie tylko na poziomie
      działu. Jeżeli dana linia ma zdefiniowane automatyczne przestoje, to przestoje zdefiniowane w jej dziale
      są ignorowane.</li>
  </ul>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Usunięto wyświetlanie 12NC zlecenia.</li>
    <li>Zmieniono wyświetlanie personelu linii tak, aby wyświetlany był tylko nazwisko oraz iniciał imienia.</li>
    <li>Zmieniono wyświetlanie nr zlecenia tak, aby wyświetlana była także nazwa produktu.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano możliwość skanowania kodów z numerami seryjnymi (tak jak na Formatce operatora).</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Dodano do menu pozycję 'Ustawienia' (widoczna tylko dla użytkownikó z uprawnieniem
      'Dane produkcyjne: zrządzanie').</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano do raportu 'Ilość zgłoszeń' możliwość filtrowania po kategoriach.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.105.0</h1>
  <h2><%- time.format('2017-02-26', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie ilości zrobionej w nowo wybranym zleceniu jako <code>undefined</code>
      (teraz <code>?</code>).</li>
    <li>Dodano możliwość skanowania wirtualnego kodu z numerem seryjnym w celu zliczania ilości i obliczania czasu cyklu
      linii.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zresetowanie wartości 'Ilość' zlecenia poprzez usunięcie ustawionej wartości
      (zamiast ustawienia na 0).</li>
    <li>Dodano możliwość oznaczania zleceń w kolejce jako ignorowane. Ignorowane zlecenie nie jest brane pod uwagę
      podczas generowania planu.</li>
  </ul>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas generowania raportu z godzinowym podziałem czasu.</li>
  </ul>
  <h3>Zlecenie reszty działów</h3>
  <ul>
    <li>Zmieniono importowanie dokumentów zlecenia tak, aby nowa lista była sortowana po numerze, nazwie i 12NC dokumentu,
      w celu ograniczenia ilości zmian zlecenia, gdy w zleceniu zdefiniowane są dokumenty o takim samym numerze.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole 'Data reklamacji/paska'.</li>
    <li>Poprawiono błąd pokazujący kierownikowi pola 'Data zakończenia D5' oraz 'Data zakończenia 8D' jako możliwe do zmiany,
      mimo że po wysłaniu formularza, zmienione wartości nie będą zapisane.</li>
    <li>Zmieniono etykietę pola 'Data rejestracji CRS' na 'Data rejestracji CRS/niezgodności'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby ignorowane były wysyłki e-maili bez przynajmniej jednego odbiorcy.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.1</h1>
  <h2><%- time.format('2017-02-19', 'LL') %></h2>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano importowanie danych zleceń z transakcji SAP ZLF1.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole: Wydział.</li>
    <li>Poprawiono błąd powodujący wysyłanie podójnych e-maili z powiadomieniami o nieukończonych zgłoszeniach.</li>
    <li>Zmieniono pole ID tak, aby było edytowalne przez użytkownika.</li>
    <li>Dodano nowy słownik: Obszary.</li>
    <li>Dodano nowe pola: Obszar oraz Kierownik obszaru.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas aktualizacji klientów.</li>
    <li>Dodano wsparcie dla aplikacji Walkner Xiconf v2.23.0.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.0</h1>
  <h2><%- time.format('2017-02-05', 'LL') %></h2>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano nowy raport: Zaangażowanie.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono importowanie użytkowników z bazy KD tak, aby nieaktywni użytkownicy nie byli importowani.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezmienianie się wartości Takt Time (SAP) po zmianie ilości osób w zleceniu.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd przy wyświetlaniu zaznaczonego zlecenia ze statusami CNF i DLV.</li>
    <li>Poprawiono błąd w algorytmie powodujący tworzenie pustego zlecenia na początku nowej zmiany.</li>
    <li>Zmieniono menu 'Plany godzinowe' na 'Planowanie'.</li>
    <li>Zmieniono algorytm planowania tak, aby ostatnie nieukończone zlecenie na III zmianie było przydzielane do
      pozostałych linii (jeżeli jakieś są).</li>
    <li>Zmieniono drukowanie planu tak, aby kolumna 'Ilość' znajdowała się po kolumnie 'Wyrób'.</li>
    <li>Zmieniono drukowanie planu tak, aby plan był dzielony na kilka stron, jeżeli w planie jest więcej niż 42 zleceń.</li>
    <li>Zmieniono wyświetlanie planowanych zleceń na zmianie danej linii tak, aby zawsze wyświetlany był plan ze wszystkich
      MRP, w których dana linia jest aktywna.</li>
    <li>Dodano ilość osób pracujących na linii do planu w wersji do druku.</li>
    <li>Dodano możliwość wydrukowania planów dla wszystkich linii z danego MRP za jednym razem.</li>
    <li>Dodano wyświetlanie komunikatu informującego o linii aktywnej w tym samym czasie na kilku różnych MRP.</li>
    <li>Dodano oznaczanie zleceń jako nieprawidłowe (czerwone tło), jeżeli zlecenie nie ma żadnej operacji lub statusu.</li>
    <li>Dodano ustawienia umożliwiające konfigurację algorytmu planowania.</li>
  </ul>
  <h3>Wydziały</h3>
  <h3>Kontrolery MRP</h3>
  <h3>WorkCentra</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający użycia znaku <code>-</code> w ID jednostki organizacyjnej.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe informowanie użytkowników o nowej wersji aplikacji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.103.0</h1>
  <h2><%- time.format('2017-01-15', 'LL') %></h2>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono filtr daty na stronie z listą zleceń tak, aby podanie dat nie było wymagane.</li>
    <li>Zmieniono wyświetlanie nazwy wyrobu tak, aby wyświetlana była wartość 'Nazwa' ze zlecenia, jeżeli rozpoczyna się
      od 6 znaków A-Z0-9, a dopiero potem wartość 'Opis' (jeżeli istnieje).</li>
    <li>Dodano do strony szczegółów zlecenia wyświetlanie komponentów z malarnii znajdujących się w podrzędnych zleceniach.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono domyślny limit wyświetlanych klientów z 50 na 100.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Zmieniono ograniczenie dodawania nowego planu tak, aby można było dodawać plany do 7 dni w przyszłości.</li>
    <li>Zmieniono ograniczenie edycji tak, aby można było edytować plany do 24 godzin po dacie planu.</li>
    <li>Dodano funkcjonalność generowania dziennego planu na podstawie kolejki zleceń.</li>
  </ul>
  <h3>Watchdog</h3>
  <ul>
    <li>Zmieniono sprawdzanie żywotności serwerów tak, aby zapytania zostały automatycznie kończone, jeżeli trwają dłużej
      niż 5 sekund.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.102.0</h1>
  <h2><%- time.format('2017-01-01', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono rozpoznawanie starych numerów seryjnych IPT.</li>
    <li>Poprawiono błąd powodujący nieprzeliczanie wartości 'Czas taktu' po operacji 'Poprawa zlecenia'.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono filtry tak, aby można było wybrać kilka opcji na raz.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Dodano możliwość ustawienia dla każdej linii sztywnej planowanej ilości wyświetlanej na ekranie
      'Wydajność godzinowa'.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie wykonanej ilości jako <code>undefined</code>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono akcję 'Znajdź zlecenie' na 'Znajdź zlecenie/dokument'. Nowy dokument dopisywany jest do lokalnej listy
      dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wpisaniu pełnego 15NC, na liście pojawił się dany dokument.
      Po otwarciu nowego dokumentu, dopisywany jest on do lokalnej listy dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wciśnięciu klawisza <kbd>Enter</kbd> otwierany był pierwszy dokument
      na liście.</li>
    <li>Dodano klawiaturę numeryczną do pola 'Filtruj dokumenty' w trybie dotykowym.</li>
    <li>Dodano do nowego wyświetlacza dokumentów zapamiętywanie ostatnio otwartej strony dokumentu.</li>
  </ul>
</div>
