<div class="hidden">
  <h1>v0.106.1</h1>
  <h2><%- time.format('2017-03-13', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono wagi komponentów tak, że można zdefiniować minimalną i maksymalną wagę komponentu.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono listę zgłoszeń tak, żeby zamiast kolumny 'Opis problemu' wyświetlana była kolumna 'Temat'. Opis problemu
      wyświetlany jest teraz w dymku po najechaniu na Temat.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.0</h1>
  <h2><%- time.format('2017-03-05', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość definiowania automatycznych przestojów dla grup linii produkcyjnych, a nie tylko na poziomie
      działu. Jeżeli dana linia ma zdefiniowane automatyczne przestoje, to przestoje zdefiniowane w jej dziale
      są ignorowane.</li>
  </ul>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Usunięto wyświetlanie 12NC zlecenia.</li>
    <li>Zmieniono wyświetlanie personelu linii tak, aby wyświetlany był tylko nazwisko oraz iniciał imienia.</li>
    <li>Zmieniono wyświetlanie nr zlecenia tak, aby wyświetlana była także nazwa produktu.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano możliwość skanowania kodów z numerami seryjnymi (tak jak na Formatce operatora).</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Dodano do menu pozycję 'Ustawienia' (widoczna tylko dla użytkownikó z uprawnieniem
      'Dane produkcyjne: zrządzanie').</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano do raportu 'Ilość zgłoszeń' możliwość filtrowania po kategoriach.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.105.0</h1>
  <h2><%- time.format('2017-02-26', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie ilości zrobionej w nowo wybranym zleceniu jako <code>undefined</code>
      (teraz <code>?</code>).</li>
    <li>Dodano możliwość skanowania wirtualnego kodu z numerem seryjnym w celu zliczania ilości i obliczania czasu cyklu
      linii.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zresetowanie wartości 'Ilość' zlecenia poprzez usunięcie ustawionej wartości
      (zamiast ustawienia na 0).</li>
    <li>Dodano możliwość oznaczania zleceń w kolejce jako ignorowane. Ignorowane zlecenie nie jest brane pod uwagę
      podczas generowania planu.</li>
  </ul>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas generowania raportu z godzinowym podziałem czasu.</li>
  </ul>
  <h3>Zlecenie reszty działów</h3>
  <ul>
    <li>Zmieniono importowanie dokumentów zlecenia tak, aby nowa lista była sortowana po numerze, nazwie i 12NC dokumentu,
      w celu ograniczenia ilości zmian zlecenia, gdy w zleceniu zdefiniowane są dokumenty o takim samym numerze.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole 'Data reklamacji/paska'.</li>
    <li>Poprawiono błąd pokazujący kierownikowi pola 'Data zakończenia D5' oraz 'Data zakończenia 8D' jako możliwe do zmiany,
      mimo że po wysłaniu formularza, zmienione wartości nie będą zapisane.</li>
    <li>Zmieniono etykietę pola 'Data rejestracji CRS' na 'Data rejestracji CRS/niezgodności'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby ignorowane były wysyłki e-maili bez przynajmniej jednego odbiorcy.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.1</h1>
  <h2><%- time.format('2017-02-19', 'LL') %></h2>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Dodano importowanie danych zleceń z transakcji SAP ZLF1.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole: Wydział.</li>
    <li>Poprawiono błąd powodujący wysyłanie podójnych e-maili z powiadomieniami o nieukończonych zgłoszeniach.</li>
    <li>Zmieniono pole ID tak, aby było edytowalne przez użytkownika.</li>
    <li>Dodano nowy słownik: Obszary.</li>
    <li>Dodano nowe pola: Obszar oraz Kierownik obszaru.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas aktualizacji klientów.</li>
    <li>Dodano wsparcie dla aplikacji Walkner Xiconf v2.23.0.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.0</h1>
  <h2><%- time.format('2017-02-05', 'LL') %></h2>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano nowy raport: Zaangażowanie.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono importowanie użytkowników z bazy KD tak, aby nieaktywni użytkownicy nie byli importowani.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezmienianie się wartości Takt Time (SAP) po zmianie ilości osób w zleceniu.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd przy wyświetlaniu zaznaczonego zlecenia ze statusami CNF i DLV.</li>
    <li>Poprawiono błąd w algorytmie powodujący tworzenie pustego zlecenia na początku nowej zmiany.</li>
    <li>Zmieniono menu 'Plany godzinowe' na 'Planowanie'.</li>
    <li>Zmieniono algorytm planowania tak, aby ostatnie nieukończone zlecenie na III zmianie było przydzielane do
      pozostałych linii (jeżeli jakieś są).</li>
    <li>Zmieniono drukowanie planu tak, aby kolumna 'Ilość' znajdowała się po kolumnie 'Wyrób'.</li>
    <li>Zmieniono drukowanie planu tak, aby plan był dzielony na kilka stron, jeżeli w planie jest więcej niż 42 zleceń.</li>
    <li>Zmieniono wyświetlanie planowanych zleceń na zmianie danej linii tak, aby zawsze wyświetlany był plan ze wszystkich
      MRP, w których dana linia jest aktywna.</li>
    <li>Dodano ilość osób pracujących na linii do planu w wersji do druku.</li>
    <li>Dodano możliwość wydrukowania planów dla wszystkich linii z danego MRP za jednym razem.</li>
    <li>Dodano wyświetlanie komunikatu informującego o linii aktywnej w tym samym czasie na kilku różnych MRP.</li>
    <li>Dodano oznaczanie zleceń jako nieprawidłowe (czerwone tło), jeżeli zlecenie nie ma żadnej operacji lub statusu.</li>
    <li>Dodano ustawienia umożliwiające konfigurację algorytmu planowania.</li>
  </ul>
  <h3>Wydziały</h3>
  <h3>Kontrolery MRP</h3>
  <h3>WorkCentra</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający użycia znaku <code>-</code> w ID jednostki organizacyjnej.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe informowanie użytkowników o nowej wersji aplikacji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.103.0</h1>
  <h2><%- time.format('2017-01-15', 'LL') %></h2>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono filtr daty na stronie z listą zleceń tak, aby podanie dat nie było wymagane.</li>
    <li>Zmieniono wyświetlanie nazwy wyrobu tak, aby wyświetlana była wartość 'Nazwa' ze zlecenia, jeżeli rozpoczyna się
      od 6 znaków A-Z0-9, a dopiero potem wartość 'Opis' (jeżeli istnieje).</li>
    <li>Dodano do strony szczegółów zlecenia wyświetlanie komponentów z malarnii znajdujących się w podrzędnych zleceniach.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono domyślny limit wyświetlanych klientów z 50 na 100.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Zmieniono ograniczenie dodawania nowego planu tak, aby można było dodawać plany do 7 dni w przyszłości.</li>
    <li>Zmieniono ograniczenie edycji tak, aby można było edytować plany do 24 godzin po dacie planu.</li>
    <li>Dodano funkcjonalność generowania dziennego planu na podstawie kolejki zleceń.</li>
  </ul>
  <h3>Watchdog</h3>
  <ul>
    <li>Zmieniono sprawdzanie żywotności serwerów tak, aby zapytania zostały automatycznie kończone, jeżeli trwają dłużej
      niż 5 sekund.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.102.0</h1>
  <h2><%- time.format('2017-01-01', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono rozpoznawanie starych numerów seryjnych IPT.</li>
    <li>Poprawiono błąd powodujący nieprzeliczanie wartości 'Czas taktu' po operacji 'Poprawa zlecenia'.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono filtry tak, aby można było wybrać kilka opcji na raz.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Dodano możliwość ustawienia dla każdej linii sztywnej planowanej ilości wyświetlanej na ekranie
      'Wydajność godzinowa'.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie wykonanej ilości jako <code>undefined</code>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono akcję 'Znajdź zlecenie' na 'Znajdź zlecenie/dokument'. Nowy dokument dopisywany jest do lokalnej listy
      dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wpisaniu pełnego 15NC, na liście pojawił się dany dokument.
      Po otwarciu nowego dokumentu, dopisywany jest on do lokalnej listy dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wciśnięciu klawisza <kbd>Enter</kbd> otwierany był pierwszy dokument
      na liście.</li>
    <li>Dodano klawiaturę numeryczną do pola 'Filtruj dokumenty' w trybie dotykowym.</li>
    <li>Dodano do nowego wyświetlacza dokumentów zapamiętywanie ostatnio otwartej strony dokumentu.</li>
  </ul>
</div>
