<div class="hidden">
  <h1>v0.114.0</h1>
  <h2><%- time.format('2017-06-18', 'LL') %></h2>
  <h3>Obserwacje</h3>
  <ul>
    <li>Zmieniono kolumny 'Co zaobserwowano' oraz 'Ryzykowne warunki w miejscu pracy' na liście kart tak,
      aby preferowały wyświetlanie 'Trudnych' wpisów.</li>
    <li>Zmieniono filtr 'Trudne do zmiany' tak, aby wyszukiwał karty wg wpisów w tabeli 'Trudności zmian',
      a nie w 'Obserwacje zachowań' i 'Ryzykowne warunki w miejscu pracy'.</li>
    <li>Dodano nowy raport.</li>
  </ul>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano okres czasu 'Ostatnie dwa tygodnie' do filtrów raportów.</li>
    <li>Dodano filtr 'Działy' do raportu 'Zaangażowanie'.</li>
    <li>Dodano kolumny 'Obserwacje zachowań' oraz 'Minuty dla Bezpieczeństwa' do raportu 'Zaangażowanie'.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono domyślny filtr raportu 'Ilości' tak, aby pobierane były dane z ostatnich 6 miesięcy.</li>
    <li>Zmieniono raporty tak, aby dezaktywowane Wydziały nie były wyświetlane.</li>
  </ul>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Zmieniono kolumnę 'Komentarz IPT' tak, aby była pusta, jeżeli zawiera taką samą wartość jak kolumna
      'Status IPT'.</li>
    <li>Zmieniono kolumnę 'Data startu' tak, aby kolor tła zmieniał się tylko dla zleceń ze statusem 'Błąd'.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby błędne zlecenia były automatycznie rozwiązywane, jeżeli otrzymają
      status 'TECO'.</li>
    <li>Zmieniono sprawdzanie zleceń tak, aby błędne zlecenia, których data startu została zmieniona na datę poza
      sprawdzanym zakresem, były usuwane.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość filtrowania listy przestojów i obszarów odpowiedzialności podczas rozpoczynania nowego
      przestoju w trybie dotykowym.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono filtr 'Nr/12NC zleceń' tak, aby można było wyszukać kilka zleceń na raz podając listę numerów zleceń
      oddzielonych przecinkiem.</li>
    <li>Dodano filtr 'Komponenty' umożliwiający wyszukiwanie zleceń wg numeru lub 12NC komponentów.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono przycisk kopiowania uprawnień użytkownika tak, aby działał nawet jak w przeglądarce nie ma technologii
      Flash.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd w polach wyszukiwania użytkowników powodujący niepreferowanie użytkowników z firmy Philips,
      w przypadku wykrycia zduplikowanego użytkownika.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.113.0</h1>
  <h2><%- time.format('2017-06-11', 'LL') %></h2>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający edycję osób odpowiedzialnych dla funkcji, jeżeli dana funkcja nie miała jeszcze
      przypisanych żadnych osób.</li>
    <li>Zmieniono zarządzanie MRP tak, aby wymagało uprawnienia <em>Matryca odpowiedzialności: zarządzanie</em>.
      Wcześniej zmieniać MRP mogli także kierownicy.</li>
    <li>Zmieniono aktualizację dostępności osób odpowiedzialnych na podstawie bazy KD tak, aby brany był pod uwagę
      czas użycia karty (niekiedy wcześniejsze użycia karty na niektórych czytnikach mogą pojawić się w bazie
      z opóźnieniem i będą w takim wypadku ignorowane).</li>
    <li>Dodano listę grup w prawym dolnym rogu w celu ułatwienia nawigacji między grupami.</li>
    <li>Dodano przycisk 'Tryb edycji' do matrycy wyświetlanej w oknie dialogowym.</li>
    <li>Dodano możliwość ukrycia chmurki z danymi użytkownika po kliknięciu na dowolny obszar.</li>
    <li>Dodano uprawnienie: Matryca odpowiedzialności: edycja osób - użytkownicy mogą przypisywać osoby odpowiedzialne
      do funkcji, ale nie mogą zmieniać struktury.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający dodawanie i edycję użytkowników przez formularz.</li>
  </ul>
  <h3>Obserwacje</h3>
  <ul>
    <li>Poprawiono filtr 'Trudne do zmiany zachowania' wybierający karty, które miały przynajmniej jedną bezpieczną
      obserwację zachowań i żadnych ryzykownych, trudnych obserwacji.</li>
    <li>Dodano do listy kolumny: Co zaobserwowano, Ryzykowne warunki w miejscu pracy, Trudne do zmiany zachowania oraz
      Trudne do zmiany warunki pracy. W komórce tabeli wyświetla się pierwszy wpis danego typu, a po kliknięciu na nią
      wyświetlana jest dodatkowa tabelka ze wszystkimi wpisami danego typu.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono tryb pracy Formatki na wszystkich komputerach na dotykowy.</li>
    <li>Zmieniono akcję żądania dostarczenia palet tak, aby można było wybrać ilość palet.</li>
  </ul>
  <h3>Pola odkładcze</h3>
  <ul>
    <li>Dodano wyświetlanie żądanej ilości palet do dostarczenia.</li>
  </ul>
  <h3>Dokumentacja > Dokumenty</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wybranie pliku do edycji przez klinięcie <kbd>ALT+LPM</kbd>.</li>
  </ul>
  <h3>Pulpit</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że kliknięcie na osobę na liście 'Najaktywniejsi w miesiącu' ustawiało nieprawidłowy
      filtr Od-Do na liście zgłoszeń.</li>
  </ul>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zaktualizowano środowisko i pakiety zależne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.112.0</h1>
  <h2><%- time.format('2017-06-04', 'LL') %></h2>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Dodano nowy moduł. Matryca odpowiedzialności dostępna jest po kliknięciu na ikonę <i class="fa fa-group"></i>
      znajdującą się koło wyszukiwarki w górnym pasku.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano przycisk <i class="fa fa-group"></i> otwierający Matrycę odpowiedzialności.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano filtr 'Trudne do zmiany' do listy kart.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Zmieniono skanowanie numerów seryjnych tak, aby można było zarejestrować numer seryjny nawet podczas
      przestoju linii, jeżeli numer seryjny jest z zakończonego zlecenia.</li>
  </ul>
  <h3>Pulpit</h3>
  <ul>
    <li>Usunięto tekst 'Wersja testowa' z przycisków 'Zarejestruj obserwację'
      i 'Zarejestruj Minuty dla bezpieczeństwa'.</li>
    <li>Zmieniono listę 'Najaktywniejsi w miesiącu' tak, aby można było wyświetlić zgłoszenia danego użytkownika
      po kliknięciu na imię i nazwisko.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.3</h1>
  <h2><%- time.format('2017-05-28', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Poprawiono błąd powodujący automatyczne wpisywanie wartości 'Stanowisko (KD)' danego użytkownika
      do pola 'Obserwowane stanowisko'.</li>
    <li>Zmieniono formularz tak, aby wszystkie kategorie zachowań zawsze były wyświetlane.</li>
    <li>Zmieniono wymagane pola w formularzu.</li>
    <li>Dodano możliwość definiowania nowych obserwacji zachowań z kategorii Inne.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Usunięto pola 'Kto?' i 'Kiedy?' z propozycji.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano możliwość skanowania numerów seryjnych dla wszystkich zleceń rozpoczętych na danej zmianie, a nie tylko
      do aktualnie wykonywanego zlecenia.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono pola wyszukiwania użytkowników tak, aby pokazywał tylko jedną opcję o takim samym imieniu i nazwisku
      (jeżeli w bazie istnieje użytkownik Jan Kowalski trzy razy: w firmie PLP, APT oraz Pozostali, to na liście dostępny
      będzie Jan Kowalski z firmy PLP).</li>
    <li>Zmieniono strony błedów tak, aby w razie pilnej potrzeby można było poinformować administratora o błędzie.</li>
    <li>Dodano strony błędów podczas ładowania danych (wcześniej wyświetlała się tylko biała strona).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.2</h1>
  <h2><%- time.format('2017-05-21', 'LL') %></h2>
  <h3>Działy</h3>
  <ul>
    <li>Dodano możliwość dezaktywowania działów.</li>
  </ul>
  <h3>Raporty > Struktura organizacyjna</h3>
  <ul>
    <li>Dodano zapamiętywanie pozycji poszczególnych jednostek organizacyjnych.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono błąd podczas importu zleceń z SAP powodujący nieprzypisywanie wartości 'Opis', 'Zleceniodawca'
      oraz 'Czas utworzenia' w przypadku, gdy dla danego zlecenia sprzedaży istnieje więcej niż jedno
      zlecenie produkcyjne.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono kolumnę 'Ilość popr.' na liście wyników na 'Ilość do sel.'.</li>
    <li>Zmieniono filtrowanie listy inspekcji tak, aby dodatkowe filtry były domyślnie schowane. Dodatkowe filtry można
      zdefiniować wybierając je z listy rozwijanej lub klikając na nazwę kolumny w tabeli wyników.</li>
    <li>Zmieniono filtr 'Kod wady' tak, aby można było wybrać kilka kodów.</li>
    <li>Dodano filtr i kolumnę 'Właściciel niezgodności - Mistrz' do listy wyników.</li>
    <li>Dodano filtr 'Rodzaj inspekcji' do raportu 'Jakośc wyrobu gotowego'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.1</h1>
  <h2><%- time.format('2017-05-14', 'LL') %></h2>
  <h3>Dokumentacja > Dokumenty</h3>
  <ul>
    <li>Poprawiono błędy wywalające serwer podczas serwowania dokumentów, które nie istnieją w katalogu WMES.</li>
    <li>Poprawiono błąd wywalający serwer podczas otwierania dokumentu z katalogu WMES, jeżeli w nazwie zawiera
      polskie znaki.</li>
    <li>Poprawiono błąd powodujący zmianę nazw wszystkich podkatalogów po zmianie nazwy nadrzędnego katalogu
      (tylko po stronie klienta).</li>
    <li>Poprawiono błąd powodujący latanie po całej stronie ikony ładowania dokumentów.</li>
    <li>Zmieniono dodawanie nowych dokumentów tak, aby nazwa domyślnie była ustawiana na 15NC, jeżeli nie udało
      się pobrać nazwy z nazwy pliku i serwera.</li>
    <li>Zmieniono pola dat dostępności tak, aby można było wkleić wartość ze schowka (<kbd>CTRL+V</kbd>).</li>
    <li>Zmieniono zaznaczanie katalogu/dokumentu na liście tak, aby dokument nie był zaznaczany, jeżeli wcześniej
      zaznaczono jakiś tekst.</li>
    <li>Zmieniono drzewo katalogów tak, aby kliknięcie <kbd>CTRL+PPM</kbd> otwierało katalog w nowej karcie
      przeglądarki.</li>
    <li>Dodano pasek narzędzi do głównego widoku oraz przeniesiono do niego wyszukiwanie po 15NC i zmianę trybu
      wyświetlania.</li>
    <li>Dodano możliwość zmiany dat dostępności istniejących plików dokumentów poprzez kliknięcie <kbd>ALT+LPM</kbd>
      na daną datę dostępności.</li>
    <li>Dodano wsparcie dla historii przeglądarki: zmiana katalogu dodawana jest do historii, dzięki czemu można wrócić
      do poprzedniego katalogu korzystając z akcji <em>Wróć</em> przeglądarki.</li>
    <li>Dodano możliwość bezpowrotnego usuwania katalogów i plików ze śmietnika.</li>
    <li>Dodano możliwość oznaczania wielu plików w aktualnym katalogu w celu usunięcia przypisania do aktualnego katalogu,
      przeniesienia ich do śmietnika, przywrócenia ze śmietnika lub bezpowrotnego usunięcia ze śmietnika.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono listę dokumentów na stronie szczegółów zlecenia tak, aby otwierany był dokument z datą dostępności
      danego zlecenia.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono wysyłanie powiadomień e-mail tak, aby powiadomienia nie były wysyłane po restarcie serwera
      oraz co trzy dni po 42 dniu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.111.0</h1>
  <h2><%- time.format('2017-05-07', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono pole 'Stanowisko' na 'Obserwowane stanowisko'.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer po dodaniu wyniku inspekcji z wybranym Właścicielem niezgodności.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń ZLF1 tak, aby zdarzenie pomyślnego importu było tworzone nawet wtedy, gdy lista
      zleceń do zaimportowania była pusta.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Usunięto filtr 'Operacja'.</li>
    <li>Zmieniono kolumnę 'Kontroler MRP' na liście tak, aby najpierw wyświetlany był MRP ze zlecenia
      (MRP w jakim znajduje się linia jest przekreślone, jeżeli różni się od MRP zlecenia).</li>
    <li>Dodano filtr 'Kontroler MRP zlecenia'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano zarządzanie plikami dokumentacji z poziomu WMES.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.110.0</h1>
  <h2><%- time.format('2017-04-24', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Poprawiono błąd umożliwiający dodanie pustej karty.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający komentowanie użytkowników nie będącym inspektorami.</li>
    <li>Poprawiono błąd umożliwiający zmianę wyniku z NOK na OK przez użytkowników nie będących inspektorami.</li>
    <li>Poprawiono błąd powodujący niewysyłanie e-maili do wybranego właściciela niezgodności.</li>
    <li>Zmieniono eksportowanie wyników tak, aby zawierało kolumnę 'Ilość niezgodnych w skontrolowanych'.</li>
    <li>Zmieniono stronę szczegółów wyniku tak, aby 'Właściciel niezgodności - mistrz' nie był wyświetlany w wynikach OK.</li>
    <li>Zmieniono formularz tak, aby Inspektorzy nie mogli zmieniać akcji korygujących.</li>
    <li>Zmieniono pole 'Właściciel niezgodności - mistrz' tak, aby lista zawierała tylko użytkowników z Funkcją na produkcji
      Mistrz.</li>
    <li>Zmieniono uprawnienia do modułu tak, aby Liderzy, Mistrzowie oraz Kierownicy mogli przegladać wyniki inspekcji.
      Dodatkowo Liderzy i wybrani Mistrzowie mogą zmieniać pola: Akcje natychmiastowe, Przyczyna źródłowa oraz Akcje korygujące.</li>
    <li>Zmieniono powiadamianie o przypisaniu do wyniku inspekcji tak, aby powiadamiany był także Kierownik wydziału, w którym
      znajduje się wybrany Mistrz.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono filtr 'Nazwisko' tak, aby ignorował polskie znaki.</li>
    <li>Dodano filtr 'Funkcja na produkcji'.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Zmieniono tworzenie nowych wpisów 'FTE (inne)' tak, aby dezaktywowane Wydziały były ignorowane.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.109.0</h1>
  <h2><%- time.format('2017-04-17', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie listy ostatnich pracowników podczas wyboru personelu linii, w przypadku
      gdy znaleziono tylko jedną osobę.</li>
    <li>Zmieniono wyszukiwanie personelu tak, aby wyszukiwanie po nazwisku ignorowało polskie znaki.</li>
    <li>Dodano wsparcie dla ekranów dotykowych na komputerach UP.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie dymków ze szczegółami niektórych zleceń.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Zmieniono stronę ze szczegółami karty tak, aby puste tabele nie były wyświetlane.</li>
    <li>Zmieniono tabelę 'Obserwacje zachowań' na formularzu tak, aby domyślnie była pusta, zamiast zawierać wszystkie
      dostępne kategorie zachowań.</li>
    <li>Zmieniono pole 'Co zaobserwowano?	Co aktywowało ryzykowne zachowanie?' na dwa oddzielne: 'Co zaobserwowano?' oraz
      'Co aktywowało ryzykowne zachowanie?'.</li>
    <li>Dodano napis 'wersja testowa' do przycisku 'Zarejestruj obserwację' dostępnym na Pulpicie.</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Dodano nowe pole: Właściciel niezgodności - mistrz'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono filtry 'Linia produkcyjna' tak, aby dla użytkowników z przypisanym wydziałem innego typu niż 'Produkcja'
      wyświetlane były wszystkie linie produkcyjne.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.108.0</h1>
  <h2><%- time.format('2017-04-02', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer, gdy przeglądarka z Formatką operatora dla linii, która została usunięta utraci
      połączenie z serwerem.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono listę operacji tak, aby użytkownik bez uprawnień 'Dane produkcyjne: przeglądanie'
      lub 'Zlecenia reszty działów: przeglądanie' nie mógł widzieć czasów operacji.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Zmieniono listę zleceń tak, aby użytkownik bez uprawnienia 'Dane produkcyjne: przeglądanie'
      nie mógł widzieć kolumny 'Wydajność'.</li>
  </ul>
  <h3>Dane produkcyjne > Zmiany</h3>
  <ul>
    <li>Zmieniono oś czasu zmiany tak, aby użytkownik bez uprawnienia 'Dane produkcyjne: przeglądanie'
      nie mógł widzieć wartości 'Wydajność'.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Dodano możliwość przeglądania wszystkich planów.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd powodujący zablokowanie pól podczas edycji dla Inspektorów oraz Specjalistów.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Dodano możliwość rejestrowania 'Kart obserwacji zachowań'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.107.0</h1>
  <h2><%- time.format('2017-03-19', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie aktywnie wykonywanych zleceń po imporcie danych z SAP.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono błąd wywalający serwer importera danych z SAP, gdy nie otrzymano danych zleceń (tylko operacje).</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Zmieniono edycję planów tak, aby nie można było edytować planów z przeszłości.</li>
    <li>Dodano aktualizację 'Ilości do zrobienia', 'Ilości zrobionej' oraz 'Statusów' zleceń po każdym imporcie zleceń z SAP.</li>
    <li>Dodano podświetlanie na pomarańczowo zleceń, w których 'Ilość zrobiona' jest większa od 'Ilości do zrobienia'.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono kolumnę 'Akcje korygujące' na liście wyników tak, aby wyświetlana była akcja najbliższa do aktualnego
      dnia mająca status inny niż 'Zakończona'.</li>
    <li>Dodano nowe pole: Ilość niezgodnych w skontrolowanych.</li>
    <li>Dodano nowy raport: Jakość wyrobu gotowego.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.2</h1>
  <h2><%- time.format('2017-03-19', 'LL') %></h2>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd powodujący utracenie części dużego zlecenia podczas generowania planu, gdy druga część zlecenia
      została przydzielona do tej samej linii co pierwsza część (ponieważ czas dostępności linii nawet po przydzieleniu
      części zlecenia nadal jest najwcześniejszy, co czyni tę linię najlepszym kandydatem do drugiej części zlecenia).</li>
    <li>Zmieniono generowanie planu tak, aby pod uwagę brane były automatyczne przestoje zdefiniowane na poziomie linii,
      a nie tylko na poziomie działu.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.1</h1>
  <h2><%- time.format('2017-03-13', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono wagi komponentów tak, że można zdefiniować minimalną i maksymalną wagę komponentu.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Zmieniono listę zgłoszeń tak, żeby zamiast kolumny 'Opis problemu' wyświetlana była kolumna 'Temat'. Opis problemu
      wyświetlany jest teraz w dymku po najechaniu na Temat.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.106.0</h1>
  <h2><%- time.format('2017-03-05', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość definiowania automatycznych przestojów dla grup linii produkcyjnych, a nie tylko na poziomie
      działu. Jeżeli dana linia ma zdefiniowane automatyczne przestoje, to przestoje zdefiniowane w jej dziale
      są ignorowane.</li>
  </ul>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Usunięto wyświetlanie 12NC zlecenia.</li>
    <li>Zmieniono wyświetlanie personelu linii tak, aby wyświetlany był tylko nazwisko oraz iniciał imienia.</li>
    <li>Zmieniono wyświetlanie nr zlecenia tak, aby wyświetlana była także nazwa produktu.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano możliwość skanowania kodów z numerami seryjnymi (tak jak na Formatce operatora).</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Dodano do menu pozycję 'Ustawienia' (widoczna tylko dla użytkownikó z uprawnieniem
      'Dane produkcyjne: zrządzanie').</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano do raportu 'Ilość zgłoszeń' możliwość filtrowania po kategoriach.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.105.0</h1>
  <h2><%- time.format('2017-02-26', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie ilości zrobionej w nowo wybranym zleceniu jako <code>undefined</code>
      (teraz <code>?</code>).</li>
    <li>Dodano możliwość skanowania wirtualnego kodu z numerem seryjnym w celu zliczania ilości i obliczania czasu cyklu
      linii.</li>
  </ul>
  <h3>Plany dzienne MRP</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zresetowanie wartości 'Ilość' zlecenia poprzez usunięcie ustawionej wartości
      (zamiast ustawienia na 0).</li>
    <li>Dodano możliwość oznaczania zleceń w kolejce jako ignorowane. Ignorowane zlecenie nie jest brane pod uwagę
      podczas generowania planu.</li>
  </ul>
  <h3>Raport Wskaźniki</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas generowania raportu z godzinowym podziałem czasu.</li>
  </ul>
  <h3>Zlecenie reszty działów</h3>
  <ul>
    <li>Zmieniono importowanie dokumentów zlecenia tak, aby nowa lista była sortowana po numerze, nazwie i 12NC dokumentu,
      w celu ograniczenia ilości zmian zlecenia, gdy w zleceniu zdefiniowane są dokumenty o takim samym numerze.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole 'Data reklamacji/paska'.</li>
    <li>Poprawiono błąd pokazujący kierownikowi pola 'Data zakończenia D5' oraz 'Data zakończenia 8D' jako możliwe do zmiany,
      mimo że po wysłaniu formularza, zmienione wartości nie będą zapisane.</li>
    <li>Zmieniono etykietę pola 'Data rejestracji CRS' na 'Data rejestracji CRS/niezgodności'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby ignorowane były wysyłki e-maili bez przynajmniej jednego odbiorcy.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.1</h1>
  <h2><%- time.format('2017-02-19', 'LL') %></h2>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Dodano importowanie danych zleceń z transakcji SAP ZLF1.</li>
  </ul>
  <h3>8D</h3>
  <ul>
    <li>Usunięto pole: Wydział.</li>
    <li>Poprawiono błąd powodujący wysyłanie podójnych e-maili z powiadomieniami o nieukończonych zgłoszeniach.</li>
    <li>Zmieniono pole ID tak, aby było edytowalne przez użytkownika.</li>
    <li>Dodano nowy słownik: Obszary.</li>
    <li>Dodano nowe pola: Obszar oraz Kierownik obszaru.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas aktualizacji klientów.</li>
    <li>Dodano wsparcie dla aplikacji Walkner Xiconf v2.23.0.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.104.0</h1>
  <h2><%- time.format('2017-02-05', 'LL') %></h2>
  <h3>ZPW</h3>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Dodano nowy raport: Zaangażowanie.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono importowanie użytkowników z bazy KD tak, aby nieaktywni użytkownicy nie byli importowani.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezmienianie się wartości Takt Time (SAP) po zmianie ilości osób w zleceniu.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd przy wyświetlaniu zaznaczonego zlecenia ze statusami CNF i DLV.</li>
    <li>Poprawiono błąd w algorytmie powodujący tworzenie pustego zlecenia na początku nowej zmiany.</li>
    <li>Zmieniono menu 'Plany godzinowe' na 'Planowanie'.</li>
    <li>Zmieniono algorytm planowania tak, aby ostatnie nieukończone zlecenie na III zmianie było przydzielane do
      pozostałych linii (jeżeli jakieś są).</li>
    <li>Zmieniono drukowanie planu tak, aby kolumna 'Ilość' znajdowała się po kolumnie 'Wyrób'.</li>
    <li>Zmieniono drukowanie planu tak, aby plan był dzielony na kilka stron, jeżeli w planie jest więcej niż 42 zleceń.</li>
    <li>Zmieniono wyświetlanie planowanych zleceń na zmianie danej linii tak, aby zawsze wyświetlany był plan ze wszystkich
      MRP, w których dana linia jest aktywna.</li>
    <li>Dodano ilość osób pracujących na linii do planu w wersji do druku.</li>
    <li>Dodano możliwość wydrukowania planów dla wszystkich linii z danego MRP za jednym razem.</li>
    <li>Dodano wyświetlanie komunikatu informującego o linii aktywnej w tym samym czasie na kilku różnych MRP.</li>
    <li>Dodano oznaczanie zleceń jako nieprawidłowe (czerwone tło), jeżeli zlecenie nie ma żadnej operacji lub statusu.</li>
    <li>Dodano ustawienia umożliwiające konfigurację algorytmu planowania.</li>
  </ul>
  <h3>Wydziały</h3>
  <h3>Kontrolery MRP</h3>
  <h3>WorkCentra</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający użycia znaku <code>-</code> w ID jednostki organizacyjnej.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe informowanie użytkowników o nowej wersji aplikacji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.103.0</h1>
  <h2><%- time.format('2017-01-15', 'LL') %></h2>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono filtr daty na stronie z listą zleceń tak, aby podanie dat nie było wymagane.</li>
    <li>Zmieniono wyświetlanie nazwy wyrobu tak, aby wyświetlana była wartość 'Nazwa' ze zlecenia, jeżeli rozpoczyna się
      od 6 znaków A-Z0-9, a dopiero potem wartość 'Opis' (jeżeli istnieje).</li>
    <li>Dodano do strony szczegółów zlecenia wyświetlanie komponentów z malarnii znajdujących się w podrzędnych zleceniach.</li>
  </ul>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono domyślny limit wyświetlanych klientów z 50 na 100.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Zmieniono ograniczenie dodawania nowego planu tak, aby można było dodawać plany do 7 dni w przyszłości.</li>
    <li>Zmieniono ograniczenie edycji tak, aby można było edytować plany do 24 godzin po dacie planu.</li>
    <li>Dodano funkcjonalność generowania dziennego planu na podstawie kolejki zleceń.</li>
  </ul>
  <h3>Watchdog</h3>
  <ul>
    <li>Zmieniono sprawdzanie żywotności serwerów tak, aby zapytania zostały automatycznie kończone, jeżeli trwają dłużej
      niż 5 sekund.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.102.0</h1>
  <h2><%- time.format('2017-01-01', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono rozpoznawanie starych numerów seryjnych IPT.</li>
    <li>Poprawiono błąd powodujący nieprzeliczanie wartości 'Czas taktu' po operacji 'Poprawa zlecenia'.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono filtry tak, aby można było wybrać kilka opcji na raz.</li>
  </ul>
  <h3>Plany godzinowe</h3>
  <ul>
    <li>Dodano możliwość ustawienia dla każdej linii sztywnej planowanej ilości wyświetlanej na ekranie
      'Wydajność godzinowa'.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie wykonanej ilości jako <code>undefined</code>.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono akcję 'Znajdź zlecenie' na 'Znajdź zlecenie/dokument'. Nowy dokument dopisywany jest do lokalnej listy
      dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wpisaniu pełnego 15NC, na liście pojawił się dany dokument.
      Po otwarciu nowego dokumentu, dopisywany jest on do lokalnej listy dokumentów aktualnego zlecenia.</li>
    <li>Zmieniono pole 'Filtruj dokumenty' tak, aby po wciśnięciu klawisza <kbd>Enter</kbd> otwierany był pierwszy dokument
      na liście.</li>
    <li>Dodano klawiaturę numeryczną do pola 'Filtruj dokumenty' w trybie dotykowym.</li>
    <li>Dodano do nowego wyświetlacza dokumentów zapamiętywanie ostatnio otwartej strony dokumentu.</li>
  </ul>
</div>
