<div class="hidden">
  <h1>v0.124.0</h1>
  <h2><%- time.format('2018-07-01', 'LL') %></h2>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono zliczanie całkowitych wartości wskaźników w raporcie Wskaźniki tak, aby były równe sumie poszczególnych
      wartości na wykresach.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono grupowanie linii tak, aby grupy bez komponentów nie były ignorowane.</li>
    <li>Dodano wskaźnik procentowego wykonania planu.</li>
  </ul>
  <h3>Zlecenia reszty działów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby niekompletne zrzuty były ignorowane, dzięki czemu brakujące zlecenia nie
      będą usuwane z bazy.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe wyświetlanie klawiatury ekranowej w trybie wsadowym.</li>
    <li>Dodano możliwość filtrowania listy wg farb.</li>
    <li>Dodano możliwość ustawiania drop zone dla farb.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono pola z użytkownikami w formularzu wyniku tak, aby dezaktywowani użytkownicy nie byli wyświetlani.</li>
  </ul>
  <h3>Baza Kanban</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.123.0</h1>
  <h2><%- time.format('2018-05-20', 'LL') %></h2>
  <h3>Plany magazynu</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie planu magazynu po zmianie ustawienia
      <em>Minimalna ilość sztuk w grupie</em>.</li>
    <li>Zmieniono ustawianie <em>Etapu</em> tak, aby ustawienie <em>Wysyłki</em> wymagało podania
      <em>Wysyłanej ilości</em>.</li>
    <li>Dodano automatyczne dodawanie komentarza do zlecenia po ustawieniu <em>Etapu</em> danego zlecenia
      na <em>Wysyłka</em>.</li>
  </ul>
  <h3>Plany dzienne</h3>
  <ul>
    <li>Dodano akcję <em>Wymuś utworzenie planu</em> na liście planów, umożliwiającą stworzenie planu na przyszły dzień.
      Akcja dostępna tylko dla Super administratorów.</li>
  </ul>
  <h3>Minuty dla Bezpieczeństwa</h3>
  <ul>
    <li>Usunięto pole: Reguły zachowania.</li>
    <li>Zmieniono pole <em>Jak muszą się zachować, aby nic się nie stało?</em>
      na <em>Prawidłowe zachowanie/Reguły zachowania</em>.</li>
    <li>Dodano nowe pole: Status.</li>
    <li>Dodano nowy raport: Ilość minutek.</li>
    <li>Dodano możliwość przypisywania ZPW oraz Usprawnień do Minutek.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nowe uprawnienie: Super administrator - użytkownik z tym uprawnieniem ma dostęp do wszystkich funkcji.</li>
    <li>Dodano funkcjonalność anonimizacji danych użytkownika - podczas anonimizacji wszystkie dane na koncie użytkownika
      są usuwane, a imię i nazwisko zapisane w bazach danych różnych modułów zamieniane jest na <code>?</code>.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono ustawienie <em>Ogranicz skanowanie numerów seryjnych do następujących linii</em> na
      <em>Wyłącz skanowanie na następujących liniach</em>. Od teraz skanowanie jest domyślnie włączone na wszystkich
      liniach.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować niezapisanie się danych o wykonywanych MRP we wszystkich jednostkach
      organizacyjnych w poprzednim dniu.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd przy eksporcie danych do formatu XLSX powodujący niewyświetlanie dat w niektórych przypadkach.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.122.0</h1>
  <h2><%- time.format('2018-04-29', 'LL') %></h2>
  <h3>Plany dzienne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie komunikatu o pustym planie, jeżeli dane planu zostały pobrane przed
      ustawieniami.</li>
    <li>Poprawiono nieprawidłowy kolor tła zleceń usuniętych (TECO) w trybie wysokiego kontrastu.</li>
    <li>Zmieniono formularz 'Ustawianie dostępnych linii' na stronie planu tak, aby nie można było usunąć wszystkich linii
      z danego MRP (co skutkowałoby usunięciem MRP z planu). Od teraz MRP można usunąć tylko z poziomu ustawień planu.</li>
    <li>Zmieniono pobieranie niekompletnych zleceń z poprzedniego dnia tak, aby ignorowane były zlecenia, dla których
      różnica między datą zlecenia a datą planu jest większa od 7 dni.</li>
    <li>Dodano nowe ustawienie: Godzina rozpoczęcia opóźnionych zleceń (godzina, od której rozplanowywane są ręcznie
      dodane, pilne zlecenia (opóźnione)).</li>
    <li>Dodano możliwość dodawania do kolejki zleceń MRP wielu opóźnionych zleceń na raz.</li>
    <li>Dodano możliwość grupowania linii wg komponentów zlecenia.</li>
  </ul>
  <h3>Plany magazynu</h3>
  <ul>
    <li>Poprawiono błąd podczas dzielenia zleceń na grupy powodujący, że niektóre części zlecenia mogły należeć do tej
      samej grupy.</li>
    <li>Poprawiono błąd podczas dzielenia zleceń na grupy powodujący, że niektóre części zlecenia mogłby zaczynać się
      w jednej grupie i kończyć w drugiej (zamiast zaczynać i kończyć się w jednej grupie, a w drugiej następna
      część).</li>
    <li>Zmieniono przypisywanie etapu dla zlecenia do kombinacji wartości
      <code>nr zlecenia+nr grupy+linia</code> (było <code>nr zlecenia+czas startu+linia</code>),
      aby zminimalizować szansę utraty ustawionego etapu po zmianie planu.</li>
    <li>Dodano nowe ustawienie: Minimalna ilość sztuk w grupie (jeżeli ilość sztuk zlecenia
      w pierwszej/ostatniej grupie danej linii będzie mniejsza lub równa podanej wartości, to grupa ta zostanie
      scalona z następną/poprzednią grupą).</li>
  </ul>
  <h3>Inspekcja jakości</h3>
  <ul>
    <li>Zmieniono wysyłanie powiadomień o wynikach inspekcji tak, aby powiadamiani byli wszyscy kierownicy mający
      przypisany dany wydział w bazie użytkowników oraz w matrycy odpowiedzialności.</li>
    <li>Zmieniono formularz edycji tak, aby Inspektorzy mogli zmieniać wartość 'Przyczyna źródłowa'.</li>
    <li>Zmieniono formularz edycji tak, aby wszyscy Mistrzowie i Liderzy mogli zmieniać 'Akcje korygujące'.</li>
  </ul>
  <h3>Obserwacje</h3>
  <ul>
    <li>Zmieniono stronę szczegółów karty obserwacji tak, aby panele 'Ryzykowne warunki w miejscu pracy/Trudności zmian'
      były widoczne nawet jak są puste, ale do karty przypisane zostało ZPW/Usprawnienie.</li>
  </ul>
  <h3>Drukarki</h3>
  <ul>
    <li>Dodano nowy słownik: Drukarki - po dodaniu do WMES drukarek zdefiniowanych w systemie operacyjnym, można wysyłać
      wydruki generowane w WMES bezpośrednio na wybraną drukarkę (zamiast otwierać PDF w przeglądarce).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.121.0</h1>
  <h2><%- time.format('2018-03-31', 'LL') %></h2>
  <h3>Planowanie</h3>
  <ul>
    <li>Usunięto możliwość wyłączania najnowszych danych w planie produkcji.</li>
    <li>Usunięto funkcjonalność Drop zone.</li>
    <li>Zmieniono generator planu tak, aby wybieranie linii do podziału dużych zleceń brało pod uwagę pozostały
      dostępny czas na linii.</li>
    <li>Zmieniono 'Zrobioną ilość' zleceń w planie tak, aby ich wartość brana była z ilośći wykonanej dla operacji
      wybranej do planowania, a nie z całkowitej zrobionej ilości zlecenia SAP.
    <li>Zmieniono plan linii w wersji do wydruku tak, aby plan godzinowy był zawsze widoczny, a nie tylko wtedy, gdy
      jest wolne miejsce na ostatniej stronie.</li>
    <li>Zmieniono plan linii w wersji do wydruku tak, aby do każdego zlecenia wyświetlane były wszystkie ikony
      statusów.</li>
    <li>Zmieniono plan magazynu tak, aby wyświetlał jedną listę zleceń dla wybranych MRP.</li>
    <li>Zmieniono filtr 'Wybrane MRP' w planie magazynu na filtr 'Wybrane MRP/Ignorowane MRP/Moje/Magazyn'. MRP magazynu
      można wybrać w ustawiniach.</li>
    <li>Zmieniono listy zleceń do rozplanowania oraz zleceń opóźnionych tak, aby miały maksymalną wysokość. Po osiągnięciu
      maksymalnej wysokości lista robi się przewijalna.</li>
    <li>Dodano wyświetlanie ostatniego komentarza zlecenia w dymkach zleceń do rozplanowania i zleceń rozplanowanych.</li>
    <li>Dodano możliwość dzielenia zleceń dłuższych od określonej ilości godzin na dodatkowe części.</li>
    <li>Dodano możliwość włączenia trybu wysokiego kontrastu w planie magazynu.</li>
    <li>Dodano możliwość wyboru etapu na jakim znajduje się każde zlecenie w planie magazynu.</li>
    <li>Dodano oznaczanie zleceń ze statusem 'TECO'.</li>
    <li>Dodano możliwość ustawiania kilku zakresów aktywności dla każdej linii.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono sposób odczytywania ilości stron w dokumentach PDF konwertowanych na obrazy.</li>
    <li>Dodano listę zaplanowanych zleceń do formularza wybierania zlecenia/dokumentu.</li>
  </ul>
  <h3>Dane produkcyjne</h3>
  <ul>
    <li>Zmieniono uprawnienia wymagane do wyświetlania danych produkcyjnych.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Dodano nową wersję raportu.</li>
  </ul>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Poprawiono błędne wyświetlanie tabel w matrycy podczas korzystania z najnowszej wersji przeglądarki Chrome.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano wyszukiwanie po ID wyników inspekcji, ZPW, usprawnień, obserwacji, minutek i 8D.</li>
    <li>Dodano do wyszukiwarki odnośniki do planu produkcji, magazynu i malarnii po wpisaniu daty.</li>
    <li>Zaktualizowano pakiety zależne</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.120.0</h1>
  <h2><%- time.format('2018-02-15', 'LL') %></h2>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd powodujący brak odświeżania danych na stronach listy i szczegółów farb.</li>
    <li>Poprawiono błąd powodujący niedodawanie do planu malarnii zleceń malarnii niemających zlecenia nadrzędnego
      jeżeli ich MRP zostało zdefiniowane w module planowania.</li>
    <li>Zmieniono odnośnik do malarnii w 'okruszkach' na podstronach modułu tak, aby przekierowywał do planu malarnii,
      z którego użytkownik wszedł na podstronę.</li>
    <li>Dodano filtr do listy farb.</li>
    <li>Dodano komunikat o istnieniu farby o danym 12NC podczas dodawania nowej farby.</li>
    <li>Dodano nową aplikację: Zliczanie obciążenia malarnii.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono obliczanie roboczogodzin tak, aby pod uwagę brana była 'Szybkość planowania'.</li>
    <li>Zmieniono zamrażanie planu tak, aby zamrażane były wszystkie zlecenia, a nie tylko zlecenia z pierwszej zmiany.</li>
    <li>Zmieniono ustawienie 'Szybkość planowania' tak, aby można było ustawić inną wartość dla każdego MRP.</li>
    <li>Zmieniono sortowanie małych zleceń tak, aby rodzina produktu (pierwsze 6 znaków nazwy) miały wagę 6 zamiast 5 oraz
      wymiary produktu 'WnLm' (jeżeli występują w nazwie) miały wagę 4 zamiast 1.</li>
    <li>Zmieniono sortowanie łatwych zleceń tak, aby były sortowane jak małe zlecenia (wcześniej sortowane były po RBH).</li>
    <li>Zmieniono kopiowanie listy zleceń do schowka tak, aby kolumna 'Drop zone' także była kopiowana.</li>
    <li>Dodano nowe ustawienie: godzina zamrożenia planu.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono uprawnienia edycji wyników tak, aby dostęp dodatkowo miieli wybrany lider, właściciel niezgodności oraz
      osoby przypisane do akcji korekcyjnych.</li>
    <li>Dodano nowe pole: Numer seryjny.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono wykresy wskaźników IPR, IPS oraz IPC tak, aby można było zmienić grupowanie danych na całkowite
      lub według działów (tylko jak wybrano podział czasu).</li>
    <li>Zmieniono wykres 'Średnie dzienne FTE' tak, aby można było zmienić grupowanie danych na całkowite lub
      według firm.</li>
    <li>Dodano filtr 'Podział czasu' do raportu 'Wskaźniki'.</li>
  </ul>
  <h3>Obserwacje</h3>
  <ul>
    <li>Dodano do raportu tabelę i wykres 'Ilość przeprowadzonych obserwacji'.</li>
  </ul>
  <h3>Monitoring</h3>
  <ul>
    <li>Zmieniono listę linii produkcyjnych tak, aby wydajność oraz czas cyklu widoczne były w trybie historii.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano automatyczne ładowanie kolejki zleceń dla aktualnej zmiany na podstawie planu na dany dzień.</li>
  </ul>
  <h3>FTE</h3>
  <ul>
    <li>Zmieniono wyświetlanie wartości FTE tak, aby zamiast wartości ujemnych były wyświetlane zera.</li>
    <li>Zmieniono FTE (inne) tak, aby dostępne były wydziały typu 'Inny' oraz nie będące wydziałem o ID 'LD'.</li>
    <li>Dodano FTE (magazyn), w którym dostępne są działy z wydziału 'LD'. We wpisach FTE (magazyn) dostępna jest także
      funkcjonalność 'Zamówienie/Dostarczenie/Braki'.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Poprawiono błąd powodujący brak powrotu do początkowej pozycji paska przewijania po wyjściu z trybu
      pełnoekranowego wykresu.</li>
    <li>Zmieniono wykres 'Obecność' w raporcie HR tak, aby pokazywał 'Ilośc obecnych pracowników' oraz
      'Ilość brakujących pracowników' w trybie domyślnym oraz pełnoekranowym.</li>
    <li>Zmieniono wykres 'Obecność' w raporcie HR tak, aby w trybie pełnoekranowym dane były dodatkowo grupowane
      po dacie.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd podczas konwertowania dokumentów mogący spowodować niepowodzenie, jeżeli w pliku PDF zastosowano
      nieznane czcionki.</li>
    <li>Zmieniono komunikat wyświetlany podczas otwarcia pliku, który nie został jeszcze przekonwertowany
      z 'Nie znaleziono' na 'W trakcje konwertowania'. Strona jest automatycznie odświeżana co 30 sekund, aż do momentu
      otwarcia pliku.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.119.0</h1>
  <h2><%- time.format('2018-01-10', 'LL') %></h2>
  <h3>Nieprawidłowe zlecenia IPT</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera importera zleceń.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Usunięto specjalne przewijania listy rozplanowanych zleceń w zależności od pozycji kursora na liście.</li>
    <li>Poprawiono błąd uniemożliwiający załadowanie planu przez użytkowników z uprawnieniem 'Plany dzienne: przeglądanie',
      ale bez uprawnienia 'Dane produkcyjne: przeglądanie'.</li>
    <li>Poprawiono błąd mogący spowodować wyświetlanie nieaktualnego stanu planu dziennego, jeżeli poszczególne dane
      zostały załadowane w nieprawidłowej kolejności.</li>
    <li>Poprawiono błąd zatrzymujący wyświetlanie MRP planu dziennego, jeżeli do planu dodano maszynę (linia produkcyjna
      z działu typu 'Tłocznia').</li>
    <li>Poprawiono błąd podczas generowania planu polegający na ignorowanie wartości 'Linia aktywna do' podczas fazy
      rozszerzania niekompletnego zlecenia.</li>
    <li>Poprawiono błąd mogący spowodować brak odświeżenia aktualnego stanu planu po otrzymaniu od serwera informacji
      o zmianach w planie.</li>
    <li>Poprawiono błąd powodujący nietworzenie planów godzinowych z nowego planu dziennego, gdy dane plany godzinowe
      wcześniej nie istniały.</li>
    <li>Poprawiono błąd powodujący nieaktualizowanie istniejących planów godzinowych po zmianach w planie dziennym.</li>
    <li>Zmieniono sortowanie wejściowej kolejki zleceń tak, aby zlecenia 'Pilne' i 'Przypięte' były brane pod uwagę
      wcześniej od zleceń tylko 'Pilnych'.</li>
    <li>Zmieniono edycję 'Ilości osób' na linii z poziomu planu tak, aby można było ustawić wartość 0.</li>
    <li>Dodano funkcjonalność wybóru daty planu z poziomu 'okruszków' (jak w malarnii).</li>
    <li>Dodano możliwość włączenia opcji wysokiego kontrastu dla widoku planu dziennego.</li>
    <li>Dodano nowe ustawienie: Szybkość planowania.</li>
    <li>Dodano funkcjonalność zamrażania zleceń. Zlecenia z pierwszej zmiany są automatycznie zamrażane po 23:00.</li>
    <li>Dodano obliczanie wartości 'Sumy RBH do zrobienia' oraz 'Sumy ilości sztuk do zrobienia'.</li>
    <li>Dodano specjalny widok zleceń dla Magazynu.</li>
    <li>Dodano akcje 'Malarnia' oraz 'Magazyn' do strony planu dziennego.</li>
    <li>Dodano możliwość ustawiania 'Grupy drop zone', 'Czasu wywołania', 'Statusu magazynu' oraz 'Komentarzu magazynu'
      dla każdego zlecenia.</li>
    <li>Dodano funkcjonalność skakania do MRP na stronie planu dziennego oraz magazynu za pomocą <kbd>Spacji</kbd>
      lub wpisania na klawiaturze nazwy MRP.</li>
    <li>Dodano słownik farb do Malarnii.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono wartość 'Całkowite średnie dzienne FTE' w raporcie 'Wskaźniki' tak, aby była sumą wartości poszczególnych
      działów, a nie ich średnią.</li>
    <li>Zmieniono liczenie użytkowników w raporcie 'Wskaźniki', aby działało tak jak w raporcie 'Zaangażowanie'.</li>
    <li>Zmieniono liczenie użytkowników we wszystkich raportach tak, aby grupowani byli po imieniu i nazwisku
      zamiast po ID.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono filtr listy wyników tak, aby domyślny wyświetlane były wyniki z ostatnich 14 dni.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wybranie powodu opóźnienia z poziomu listy zleceń.</li>
    <li>Zmieniono filtr 'Godzina' listy zleceń tak, aby akceptował wartość w formacie 'gg' lub 'gg:mm'.</li>
    <li>Zmieniono nazwę kolumny 'Data ukończenia (podst.)' na 'Data ukończenia (plan.)'.</li>
    <li>Zmieniono listę zleceń tak, aby ignorowane były zlecenia ze statusem 'TECO' lub 'DLT'.</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Dodano 'Produktywność' do eksportowanych danych.</li>
    <li>Zwiększono czas generowania raportu o 17%.</li>
  </ul>
  <h3>Raporty > HR</h3>
  <ul>
    <li>Dodano legendę do eksportowanego wykresu 'Obecności'.</li>
  </ul>
  <h3>Zlecenie reszty działów</h3>
  <ul>
    <li>Dodano możliwość wyboru źródła komentarza: Inne, Malarnia, Magazyn.</li>
    <li>Dodano rejestrację komentarzy z malarnii w historii zlecenia.</li>
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Usunięto logo EES z szablonu dla Kętrzyna.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono kolejność nazwy personelu z 'Imię+Nazwisko' na 'Nazwisko+Imię'.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera podczas eksportu wydruku do PDF.</li>
    <li>Zmieniono pole wyszukiwania użytkowników tak, aby w przypadku napotkania kilku użytkowników o takim samym
      imieniu i nazwisku, najpierw preferowany był aktywny użytkowników, poźniej użytkownik mający przypisany adres
      e-mail, a na końcu użytkownik przypisany do firmy 'PHILIPS'.</li>
    <li>Uruchomiono dwa dodatkowe procesy do generowania raportów na oddzielnym serwerze.</li>
  </ul>
</div>
