<div class="hidden">
  <h1>v0.138.0</h1>
  <h2><%- time.format('2019-06-16', 'LL') %></h2>
  <h3>Baza testów > TRW</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający zapisanie zmienionego sterownika podstawki.</li>
    <li>Dodano możliwość ukrycia etykiety grupy I/O.</li>
    <li>Dodano możliwość określenia złącza grupy I/O jako męskie (wtyk; niebieskie) lub żeńskie
      (gniazdo; różowe).</li>
    <li>Dodano możliwość podczepienia do grupy I/O obrazu.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Zmieniono zakładkę 'KSJ Wiercenie' na 'Wiercenie'. Od teraz wszystkie zlecenia bez farby traktowane
      są jako zlecenia wiercenia.</li>
    <li>Zmieniono opis ikony 'Ilość pomalowana' na 'Ilość wywiercona' w przypadku zleceń wiercenia.</li>
    <li>Zmieniono akcje zakładki 'Wiercenie', tak aby uwzględniały tylko zlecenia wiercenia.</li>
    <li>Zmieniono przyciski 'Rozpocznij/Kontynuuj Kabina n' dla zleceń wiercenia na jeden przycisk
      'Rozpocznij/Kontynuuj' (bez kabiny).</li>
    <li>Dodano angielskie tłumaczenie dla wydruku zleceń.</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Zmieniono pole 'Czas pracy operatora' tak, aby było automatycznie wyliczane, jeżeli 'Labor Time'
      wybranej operacji różni się od 'Machine Time'.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować zduplikowanie użytkownika przy testowaniu listy uczestników
      kategorii.</li>
    <li>Zmieniono określanie czy dyżurujący użytkownik otrzyma SMS tak, aby SMS wysyłany był jak
      w definicji dyżuru wybrano jakieś dni lub podano czas dyżuru inny niż 06:00-06:00 (wcześniej
      SMS wysyłany był tylko jak wybrano jakieś dni).</li>
    <li>Zmieniono określanie listy uczestników tak, aby do zgłoszenia dyżurujący byli dodawani bez względu
      na pełnioną funkcję.</li>
    <li>Zmieniono kończenie zgłoszenia bez opisu rozwiązania problemu tak, aby ekran był przewijany do
      formularza edycji opisu rozwiązania problemu i z powrotem do akcji zakończenia zgłoszenia po wpisaniu
      rozwiązania.</li>
    <li>Zmieniono formularz dodawania zgłoszenia tak, aby Podkategoria była wymagana, jeżeli dana Kategoria
      ma przynajmniej jedną Podkategorię.</li>
    <li>Zmieniono filtr 'Kategoria' tak, aby pokazywał tylko aktywne kategorie.</li>
    <li>Dodano nowe pole: Poziom.</li>
    <li>Dodano nowe do Podkategorii takie same pola dot. powiadomień jak w Kategoriach.</li>
    <li>Dodano do raportu wykres 'Ilość zgłoszeń wg poziomów'.</li>
    <li>Dodano do raportu wykres 'Ilość zgłoszeń wg podkategorii'.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Zmieniono filtr 'Etap' w starym module tak, aby separatory oddzielające puste grupy były ukrywane.</li>
    <li>Dodano filtr 'Początek' do starego i nowego modułu.</li>
    <li>Dodano filtr 'Status malarnii' do starego i nowego modułu.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono wybieranie komponentu do zaznaczenia na dokumencie:
      <ul>
        <li>dokument mający w nazwie 'ASSEMBL' dostaje 10 punktów a 'ASS' 5,</li>
        <li>dokument mający w nazwie 'QOP' dostaje -10 punktów a 'PALLET' -20,</li>
        <li>za każdy tekst w treści dokumentu identyczny z nr komponentu dokument dostaje 15 punktów.</li>
      </ul>
      Wybierany jest dokument z największą ilością punktów, a na wybranym dokumencie zaznaczany jest
      w pierwszej kolejności tekst identyczny z nr komponentu znajdujący się na najwcześniejszej stronie.
    </li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe rozpoznanie marginesów w importowanym dokumencie PDF
      podczas parsowania treści w celu znalezienia nr komponentów.</li>
    <li>Dodano do przeglądarki dokumentów możliwość włączenia wyświetlania listy komponentów
      w miejscu listy dokumentów. Każdy dokument ma odnośniki do stron w dokumentach, w których
      (możliwe że) się znajduje.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Zmieniono przeliczanie przypisania MRP do jednostek organizacyjnych w danym dniu tak,
      aby odbywało się także po ręcznym dodaniu/edycji/usunięciu zlecenia zmiany produkcyjnej.</li>
  </ul>
  <h3>Kanban</h3>
  <ul>
    <li>Poprawiono błąd powodujący niedziałanie filtrów <code>?</code> (pusty) oraz <code>!</code> (pełny)
      w kolumnie 'Kanban ID'.</li>
    <li>Usunięte ze słownika nieużywane komponenty.</li>
    <li>Zmieniono nazwę modułu z 'Baza Kanban' na 'Baza Komponentów'.</li>
    <li>Zmieniono określanie pustych wartości związanych z Kanbanami jako prawidłowe dla CCN o Strategii 100.</li>
  </ul>
  <h3>Żądania zmian danych produkcyjnych</h3>
  <ul>
    <li>Zmieniono wymagane uprawnienia do potwierdzania tak, aby Wydział przypisany do Użytkownika nie był
      sprawdzany.</li>
  </ul>
  <h3>Baza testów > Xiconf</h3>
  <ul>
    <li>Zmieniono importowanie pozycji zleceń tak, aby odbywało się ze zrzutu komponentów Zleceń produkcyjnych
      a nie ze zrzutu dedykowanego dla Xiconfa.</li>
    <li>Dodano nową opcję konfiguracyjną w ustawieniach: Wzorce dopasowania komponentów - wykorzystywane podczas
      importowania pozycji zleceń ze zrzutu komponentów.</li>
  </ul>
  <h3>Baza testów > SNF</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie ID linii na liście wyników.</li>
  </ul>
  <h3>LUCA Pick by Light</h3>
  <ul>
    <li>Zmieniono cache definicji zleceń tak, aby cache dla linii był czyszczony po rozpoczęciu lub poprawieniu
      zlecenia na linii oraz manualnym wywołaniu funkcji wysłania definicji zlecenia do serwera LUCA.</li>
    <li>Zmieniono budowanie definicji zlecenia tak, aby czas cyklu obliczany był z danych zlecenia produkcyjnego
      (przyjmując domyślną liczbę pracowników), jeżeli nie dało się pobrać czasu cyklu ze zlecenia rozpoczętego
      na linii.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieładowanie się aplikacji w nowszych wersjach przeglądarki Firefox.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.137.0</h1>
  <h2><%- time.format('2019-05-26', 'LL') %></h2>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieresetowanie nr kabiny po zresetowaniu zlecenia.</li>
    <li>Poprawiono błąd powodujący niewyświetlanie nr kontynuacji zlecenia w niektórych przypadkach.</li>
    <li>Zmieniono ikonę '<i class="fa fa-paint-brush"></i> Ilość do pomalowania'
      na '<i class="fa fa-circle-o"></i> Ilość do wiercenia' dla zleceń wiercenia.</li>
    <li>Zmieniono łączenie zleceń podzielonych ze względu na różne farby tak, aby nie były łączone jeżeli
      jedno z łączonych zleceń jest bez malowania.</li>
    <li>Dodano nową opcję konfiguracyjną: Niemalowane MRP - lista MRP zleceń, które nie będą ignorowane nawet wtedy,
      gdy nie mają ani jednej farby.</li>
    <li>Dodano etykietę 'Wiercenie' do zakładki MRP 'KSJ'.</li>
    <li>Dodano komunikat 'UWAGA! Zlecenie wiercenia.' do podzleceń, które są z MRP 'KSJ' i nie mają żadnej farby.</li>
    <li>Dodano komunikat 'UWAGA! Zlecenie bez malowania.' do podzleceń, które nie mają żadnej farby.</li>
    <li>Dodano eksportowanie sekwencji wykonania planu.</li>
  </ul>
  <h3>LUCA Pick by Light</h3>
  <ul>
    <li>Zmieniono definicję zlecenia wysyłanego do serwera LUCA.</li>
    <li>Dodano możliwość rejestrowania i przeglądania zdarzeń.</li>
  </ul>
  <h3>Baza testów > TRW</h3>
  <ul>
    <li>Dodano nowy typ I/O: Analog.</li>
    <li>Dodano możliwość ignorowania wybranych I/O podczas sprawdzania stanu odłączenia przewodów na koniec testu.</li>
    <li>Dodano nowy słownik: Podstawki.</li>
    <li>Zmieniono 'Testery' na 'Sterowniki'.</li>
    <li>Zmieniono tworzenie Programów tak, aby opierały się na Podstawkach a nie Sterownikach.
      Programowanie od teraz odbywa się metodą drag & drop.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera po zresetowaniu powodu opóźnienia zlecenia.</li>
    <li>Dodano kolumny 'Zlecenie' oraz 'MRP' do 'Listy komponentów zlecenia z malarni'.</li>
    <li>Dodano 'Lista podzleceń' do strony ze szczegółami zlecenia.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do katalogu dokumentów wyświetlanie informacji o ostatniej zmianie dokumentu oraz
      historię zmian w dokumencie.</li>
    <li>Dodano Kartę zlecenia do przeglądarki dokumentów.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Poprawiono błąd w wyświetlaniu pustego wykresu 'Ilość zgłoszeń wg rodzin produktów'.</li>
    <li>Zmieniono 'Rodzinę produktów' tak, aby przy wybraniu opcji 'Inna' możliwe było wpisanie tekstowej wartości.</li>
    <li>Zmieniono wykres 'Ilość zgłoszeń wg rodzin produktów' tak, aby wyświetlana była tekstowa wartość
      wpisana przy wyborze kategorii 'Inna'.</li>
    <li>Dodano do wykresów 'Ilość zgłoszeń' oraz 'Ilość zgłoszeń wg właścicieli' kategorię 'Kaizen Event'.</li>
  </ul>
  <h3>Baza Kanban</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający przywrócenie kolejki drukowania.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Zmieniono sortowanie przepływów tak, aby były posortowane według ID linii produkcyjnej w przepływie,
      a nie według nazwy przepływu.</li>
    <li>Zmieniono wyświetlanie nazwy przepływów tak, aby ID linii było rozdzielone od nazwy przepływu.</li>
  </ul>
  <h3>Baza testów > SNF</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezaznaczanie wybranych styczników na formularzu edycji programu.</li>
    <li>Dodano wsparcie dla testu porcelanki.</li>
  </ul>
  <h3>SAP GUI</h3>
  <ul>
    <li>Zmieniono zrzut dokumentów tak, aby zrzut dla danego dnia był dodatkowo podzielony na maksymalnie
      po 500 zleceń na jedną transakcję (dla dnia z 3700 zleceniami zostanie wykonanych 8 zrzutów).</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie się nieprawidłowych operacji na liście operacji
      rozpoczynanego zlecenia.</li>
    <li>Dodano do formatek kończenia zlecenia sprawdzanie czy w danym zleceniu wykonano wszystkie testy ramki
      (tylko w przypadku, gdy zlecenie ma przynajmniej jeden test pomyślnie wykonany). Jeżeli zlecenie nie ma
      wszystkich testów ramki, to do jego zakończenia należy podać login i hasło uprawnionego użytkownika
      (funkcja 'Inżynier...' lub uprawnienie 'Operator: odblokowywanie zleceń').</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie wszystkich danych dla rozplanowanych zleceń z innego MRP
      w trybie listy.</li>
  </ul>
  <h3>Karty pracy</h3>
  <ul>
    <li>Dodano możliwość wpisywania oddzielnego 'Czasu pracy operatora' dla zleceń w kartach typu
      'Obróbka mechaniczna' i 'Montaż optyki'.</li>
  </ul>
  <h3>Raporty > Operatorzy</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyświetlenie komentarzy z kart pracy.</li>
    <li>Zmieniono obliczanie wskaźników dla operatorów tak, aby korzystały z wartości 'Czas pracy operatora'
      zamiast 'Czas trwania zlecenia'.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.136.0</h1>
  <h2><%- time.format('2019-05-05', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że użytkownik dokonujący zmiany w zgłoszeniu nie pojawiał się dla danego
      użytkownika na liście uczestników (jeżeli wcześniej tam się nie znajdował) bez ponownego załadowania
      zgłoszenia.</li>
    <li>Poprawiono błąd powodujący nieprawidłowe wyświetlanie wartości 'Ilość' oraz 'Przyczyna problemu'
      po dokonaniu zmiany.</li>
    <li>Poprawiono błąd powodujący ciągłe dodawanie i usuwanie osób biorących udział w analizie z listy
      uczestników zgłoszenia po dokonaniu dowolnej zmiany w zgłoszeniu.</li>
    <li>Zmieniono powiadamianie o zmianach tak, aby zgłoszenie nie było oznaczane dla wszystkich
      aktualnych uczestników jako nieprzeczytane, jeżeli jedyna dokonana zmiana to dodanie nowego
      uczestnika.</li>
    <li>Dodano możliwość automatycznego przypisywania planistów do zgłoszeń z wybranych kategorii.</li>
    <li>Dodano nowe pole: Podkategoria.</li>
    <li>Dodano historię zmian zgłoszeń.</li>
  </ul>
  <h3>Zlecenia mechaniczne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że lista operacji na stronie ze szczegółami zlecenia nie miała tłumaczeń.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że po dostarczeniu zlecenia malarnii, w historii zlecenia dodawany
      był komentarz 'Zakończone' zamiast 'Dostarczone'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono blokowanie interfejsu tak, aby przy zablokowanym interfejsie nie działały żadne gesty dotykowe.</li>
    <li>Zmieniono obsługę gestów tak, aby nie można było zmienić strony dokumentu przez ruch w lewo lub prawo.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono wybieranie operatora tak, aby można było wybrać do 7 różnych operatorów na jednej zmianie.</li>
  </ul>
  <h3>Luma gen. 2</h3>
  <ul>
    <li>Dodano możliwość zmiany Czasów trwania przezbrojenia i kontroli pierwszej sztuki z poziomu ustawień.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący resetowanie ilości nierozplanowanej we wszystkich zleceniach MRP,
      które zostało zablokowane, co skutkowało tym, że nierozplanowana ilość nie była przenoszona na
      kolejny dzień.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Dodano możliwość rejestrowania wyników inspekcji komponentów.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość zakończenia zlecenia podczas początkowego skanowania spigota.</li>
  </ul>
  <h3>LUCA Pick by Light</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.135.0</h1>
  <h2><%- time.format('2019-04-14', 'LL') %></h2>
  <h3>Baza testów > TRW</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera po usunięciu Testera, który nie ma zdefiniowanych żadnych
      Programów.</li>
    <li>Poprawiono błąd powodujący ustawienie ID linii jako numer wcześniej wybranego zlecenia po odświeżeniu
      strony.</li>
    <li>Dodano możliwość testowania bez wybrania istniejącego zlecenia.</li>
    <li>Dodano możliwość dodawania nowego programu przez skopiowanie istniejącego.</li>
  </ul>
  <h3>Baza testów > SNF</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Dane produkcyjne > Zlecenia</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieodświeżanie się listy zleceń po zmianach, jeżeli do listy weszło się z modułu
      Planowanie dzienne lub Magazyn.</li>
    <li>Zmieniono obliczanie czasu pracy zlecenia tak, aby czas mniejszy niż 0s był zamieniany na 0s.</li>
    <li>Zmieniono obliczanie czasu przestojów zlecenia tak, aby zlecenia z ujemnym czasem trwania były ignorowane.</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Zmieniono eksportowanie danych wydajności tak, aby zlecenia, których czas pracy nie jest większy od 0
      były ignorowane.</li>
    <li>Zmieniono obliczanie wydajności na wykresach tak, aby pod uwagę brane były te same wartości co podczas
      eksportowania danych.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie się komunikatu z podziękowaniem po dodaniu nowego ZPW
      oraz Usprawnienia.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd mogący zatrzymać zmianę list zleceń do zrobienia oraz zleceń rozpoczętych podczas zmiany
      filtra MRP lub farby.</li>
    <li>Poprawiono błąd zatrzymujący ładowanie zleceń po zmianie filtra daty, jeżeli wybrane było MRP, które
      w nowym dniu nie ma żadnych zleceń.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować brak zmiany wymagania pola 'Nr zlecenia' po zmianie 'Rodzaju inspekcji'
      w starszych wersjach przeglądarki Chrome.</li>
    <li>Poprawiono błąd uniemożliwiający przeglądanie szczegółów starych wyników inspekcji.</li>
  </ul>
  <h3>Przestoje</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieodświeżanie się danych na stronie ze szczegółami przestoju po dokonaniu
      zmiany przestoju przez dowolnego użytkownika.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować niekompletne załadowanie się strony z filtrowalną listą, jeżeli filtr
      zawiera kontrolkę 'Moje MRP' w starszych wersjach przeglądarki Chrome.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.134.0</h1>
  <h2><%- time.format('2019-04-07', 'LL') %></h2>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano możliwość tłumaczenia na język angielski pól 'Nazwa' oraz 'Opis' w słowniku 'Zachowania'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli pobieranie zlecenia do specjalnego
      dokumentu (BOM, ETO) nie powiodło się lub dane zlecenie nie istnieje.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono filtry 'Nr zlecenia' (od teraz 'Zlecenie') oraz '12NC' (od teraz 'Wyrób'),
      tak aby nie były w oddzielnych polach.</li>
    <li>Dodano filtry: Komponent oraz Dokument.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Dodano do 'Czatu', 'Problemu', 'Opisu rozwiązania problemu' oraz 'Opisu kroków rozwiązujących problem'
      zamianę na odnośniki:
      <ul>
        <li>nr zgłoszeń - liczba poprzedzona znakiem #, np. #1429,
        <li>nr zleceń - 9-cyfrowa liczba, np. 122565269,
        <li>12NC - 12-cyfrowa liczba lub 7-znakowa rodzina produktu, np. 822278061596 lub BGP607I,
        <li>15NC - 15-cyfrowa liczba, np. 132828800042351.
      </ul>
      Kliknięcie lewym lub prawym przyciskiem myszy otworzy menu kontekstowe z takimi samymi pozycjami
      jak wyszukiwarka. Kliknięcie środkowym przyciskiem myszy otworzy:
      <ul>
        <li>szczegóły zlecenia produkcyjnego po kliknięciu na nr zlecenia,</li>
        <li>dokument w katalogu dokumentów po kliknięciu 15NC (jeżeli użytkownik ma uprawnienia)
          lub plik dokumentu,</li>
        <li>listę zleceń z 12NC po kliknięciu 12NC wyrobu (jeżeli istnieje przynajmniej jedno
          takie zlecenie),</li>
        <li>listę zleceń z 12NC komponentu po kliknięciu 12NC komponentu (jeżeli istnieje przynajmniej
          jedno takie zlecenie),</li>
        <li>listę kanbanów z 12NC komponentu po kliknięciu 12NC komponentu (jeżeli istnieje komponent
          kanban).</li>
      </ul>
    </li>
    <li>Dodano możliwość zmiany 'Statusu' oraz 'Opis rozwiązania problemu' dla zgłoszeń z Magazynu przez
      użytkowników z funkcją 'Magazynier', 'Magazynier obsługi prod.' lub 'Magazynier przyjęć komp.'.</li>
  </ul>
  <h3>Baza testów > Xiconf</h3>
  <ul>
    <li>Zmieniono akcje 'Pobierz konfigurację TightVNC' oraz 'Przejdź do...' na liście klientów tak, aby
      lepiej rozpoznawały adres IP klienta..</li>
  </ul>
  <h3>Baza testów > TRW</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Usunięto z wyników wyszukiwania po nr zgłoszenia zgłoszenie 8D.</li>
    <li>Dodano nowe pozycje do wyników wyszukiwania:
      <ul>
        <li>zgłoszenia FAP - po nr zlecenia,</li>
        <li>lista zleceń z SAP z komponentem - po 12NC,</li>
        <li>lista zleceń z SAP z dokumentem - po 15NC,</li>
        <li>kanbany - po 12NC,</li>
        <li>komponent kanban - po 12NC,</li>
      </ul>
    </li>
    <li>Dodano funkcję logowania błędów występujących po stronie klienta (w przeglądarce).</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.133.0</h1>
  <h2><%- time.format('2019-03-24', 'LL') %></h2>
  <h3>Karty pracy</h3>
  <ul>
    <li>Poprawiono błąd powodujący niedziałanie skrótu do zaznaczenia ostatniego pola <kbd>Alt+Enter</kbd>.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wydrukowanie planu dla linii, na której zostały rozplanowane brakujące zlecenia
      (zwykle zlecenia niekompletne z poprzedniego dnia, które zostały w planie linii, ale nie ma już ich w kolejce
      zleceń danego MRP, bo zostały całkowicie zrobione, usunięte z listy zleceń planu, ale nie z rozplanowanych
      zleceń na linii, bo MRP było zablokowane).</li>
    <li>Zmieniono generowanie planu tak, aby zlecenia rozplanowane w jednej grupie mogło trafić do nowej
      grupy, jeżeli pierwsza grupa nie ma zdefiniowanych żadnych wymaganych komponentów.</li>
    <li>Dodano nowe opcję konfiguracyjną w ustawieniach: Godzina rozpoczęcia ETO pilotów.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano do listy filtra farb wyświetlanie wag farb użytych w danym dniu.</li>
    <li>Dodano do menu kontekstowego zakładki farb akcję umożliwiającą eksport farb do formatu XLSX.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Zmieniono treść powiadomienia SMS tak, aby zawierało opis problemu zamiast odnośnika do zgłoszenia.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Zmieniono domyślny filtr daty tak, aby wskazywał na ostatni dzień, a nie ostatnie 7 dni.</li>
    <li>Zmieniono wykres CLIP tak, aby wyświetlał dane w kolumnach zamiast punktach, jeżeli wyfiltrowano wyniki tylko
      dla jednego okresu czasu.</li>
    <li>Zmieniono przypisywanie dziennych MRP do jednostek organizacyjnych tak, aby były przypisywane tylko
      na podstawie wykonanych zleceń na liniach produkcyjnych, a nie także na podstawie ustawień planu na dany
      dzień.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono raport Zaangażowanie tak, aby zliczał Obserwacje zachowań według Miejsca pracy obserwatora, a nie
      Miejsca obserwacji.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano nową opcję konfiguracyjną do ustawień sprawdzania spigota: Grupy 12NC Insertów - umożliwia przypisanie
      listy 12NC opraw do skanowanego przez Operatora kodu podczas sprawdzania spigota. Jeżeli zlecenie ma komponent
      spigot oraz znajduje się na liście insertów, to podczas sprawdzania, komponent spigota zastępowany jest
      komponentem inserta.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Dodano nowe pole: Komponent.</li>
    <li>Dodano nowe pole: Dział - wybrany dział wpływa na to jakie dodatkowe pola są wymagane podczas dodawania
      zgłoszenia:
      <ul>
        <li>Montaż - nr zlecenia,</li>
        <li>Tłocznia - komponent oraz linia,</li>
        <li>Magazyn - komponent.</li>
      </ul>
      Dodatkowo wybranie kategorii 'Awaria infrastruktury' zmienia wymagane pola tak, że 'Nr zlecenia' nie jest
      wymagane (nawet w przypadku wybrania działu 'Montaż') oraz 'Linia' jest wymagane.
    </li>
  </ul>
  <h3>Luma gen. 2</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Dodano brakujące tłumaczenia modułów na język angielski.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.132.0</h1>
  <h2><%- time.format('2019-03-03', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować wywalenie się serwera, jeżeli dwóch użytkowników zmieniało zgłoszenie
      w tym samym czasie.</li>
    <li>Poprawiono błąd powodujący brak aktualizacji szczegółów zgłoszenia w czasie rzeczywistym, jeżeli
      FAP otwarto za pomocą ID zgłoszenia.</li>
    <li>Zmieniono treść powiadomienia SMS tak, aby zawierał adres URL do zgłoszenia.</li>
    <li>Zmieniono tabele w wykresach 'Ilość zgłoszeń wg wydziałów' oraz 'Ilość zgłoszeń wg MRP' raportu tak,
      aby zliczały pozycje 'Nieokreślone' (bez wydziału/MRP).</li>
    <li>Zmieniono tabele w wykresach 'Ilość zgłoszeń wg osób' tak, aby pokazywały sumę osób.</li>
    <li>Zmieniono menu oraz stronę ze szczegółami zgłoszenia tak, aby były bardziej użyteczne na urządzeniach
      mobilnych.</li>
    <li>Dodano możliwość wywoływania formularza dodawania zgłoszenia klawiszem <kbd>F1</kbd>.</li>
    <li>Dodano możliwość kopiowania Kategorii i Problemu z ostatniego zgłoszenia użytkownika podczas dodawania
      nowego zgłoszenia.</li>
    <li>Dodano możliwość zdefiniowania 'Kategorii ETO' dla każdej kategorii zgłoszeń. Jeżeli wybrana zostanie kategoria,
      która ma przypisaną kategorię ETO oraz wybrane zlecenie jest ETO, to kategoria automatycznie zostanie zamieniona
      na kategorię ETO (i w drugą stronę).</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Zmieniono poawiadamianie o nowych zgłoszeniach tak, aby specjalny e-mail FM-24 był wysyłany na adres
      zatwierdzającego, jeżeli nazwa zatwierdzającego pasuje do wzorca <code>/fm.?24/i</code>.</li>
    <li>Dodano do formularza dodawania możliwość dołączenia prośby o potwierdzenie przyjęcia zgłoszenia FM-24
      do specjalnego e-maila FM-24.</li>
    <li>Dodano możliwość włączenia powiadomień SMS i e-mail o nowych zgłoszeniach FM-24 przez każdego użytkownika.</li>
  </ul>
  <h3>Operator</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie danych zmiany produkcyjnej po wykonaniu operacji
      'Poprawa zlecenia'.</li>
    <li>Poprawiono błąd powodujący zwracanie pustej kolejki zaplanowanych zleceń po połączeniu się klienta
      z serwerem.</li>
    <li>Dodano osie czasu przedstawiające zaplanowaną oraz wykonaną sekwencję zleceń.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Usunięto komunikat informujący o nowym typie filtra listy.</li>
  </ul>
  <h3>Jednostki organizacyjne</h3>
  <ul>
    <li>Zmieniono usuwanie jednostek organizacyjnych tak, aby nie można było usunąć jednostki nadrzędnej, która
      ma przypisane jednostki podrzędne (np. nie można usunąć WorkCentra, jeżeli jakaś Linia należy do tego WC).</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono generowanie planu tak, aby zlecenia z priorytetem <strong>E</strong> były rozplanowywane
      w całości tylko na pierwszej zmianie.</li>
    <li>Dodano do statystyk wskaźniki realizacji planu z podziałem na zmiany produkcyjne.</li>
    <li>Dodano do statusów zleceń wyświetlanie priorytetu zlecenia <strong>E</strong> - Pilot ETO.</li>
    <li>Dodano możliwość blokowania MRP. Zablokowane MRP nie będzie przeliczane i nie można w nim dokonywać
      żadnych zmian, tak jakby wykonywanie danego planu już się rozpoczęło.</li>
    <li>Dodano możliwość kopiowania niektórych ustawień linii z dowolnego planu do innych wybranych,
      otwartych planów.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Zmieniono rozpoczynanie zlecenia tak, aby wymagało wybranie nr kabiny.</li>
    <li>Dodano możliwość rejestrowania dostarczonej ilości.</li>
    <li>Dodano możliwość logowania się malarzy w trybie wsadowym. Bez zalogowania się nie można dokonywać zmian
      w zleceniach.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Dodano filtr 'Etap' do starej wersji modułu.</li>
    <li>Dodano nową wersję modułu.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że ustawienie przesunięcia daty danych nie miało na nic wpływu.</li>
    <li>Zmieniono ustawienia 'Przesunięcie dniowe ...' oraz 'Przesunięcie godzinowe danych' tak, aby podana
      ilość oznaczała dni robocze (tzn. dla przesunięcia <code>-2</code>, data z poniedziałku zostanie zamieniona
      na czwartek poprzedniego tygodnia, a nie na sobotę, zakładając, że czwartek i piątek to dni robocze).</li>
  </ul>
  <h3>Baza Kanban</h3>
  <ul>
    <li>Poprawiono błąd powodujący ukrycie menu kontekstowego kolumny po użyciu klawisza <kbd>Delete</kbd>
      lub <kbd>Backspace</kbd> w polu filtra.</li>
    <li>Dodano wsparcie dla siódmego stanowiska.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Zmieniono proces logowania tak, aby wymuszona została zmiana hasła dla użytkowników, których hasło
      jest takie samo jak login lub numer kadrowy.</li>
    <li>Zmieniono proces logowania tak, aby nie można było się zalogować, jeżeli jako loginu użytko adresu
      e-mail i w bazie istnieje kilku użytkowników z takim samym adres.</li>
    <li>Zmieniono formularz resetowania hasła tak, aby użytkownik musiał potwierdzić nowe hasło podając
      je dwa razy.</li>
    <li>Zmieniono formularz logowania tak, aby był ponownie dostępny w trybie wsadowym.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono maksymalną szerokość często używanych formularzy tak aby była dynamicznie dostosowywana na większych
      rozdzielczościach ekranu.</li>
    <li>Zmieniono wewnętrzny kalendarz tak, aby traktował dni bez zleceń ze statusem REL jako dni wolne od pracy.</li>
    <li>Dodano do wewnętrznego kalendarza dni ustawowo wolne od pracy dla lat 2019, 2020 i 2021.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.131.0</h1>
  <h2><%- time.format('2019-02-03', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprawidłowe ustawianie filtra 'MRP' po wejściu na listę zgłoszeń
      z filtrem 'Kategoria'.</li>
    <li>Poprawiono błąd powodujący niedziałanie automatycznego dodawania uczestników do nowego zgłoszenia.</li>
    <li>Poprawiono błąd powodujący dodawanie do zgłoszenia plików załadowanych do modułu Dokumentów, jeżeli wcześniej
      użytkownik odwiedził stronę ze szczegółami zgłoszenia FAP.</li>
    <li>Zmieniono nazwy załączników na czacie tak, aby stawały się przekreślone, jeżeli załącznik został usunięty.</li>
    <li>Zmieniono wyświetlanie wiadomości na czacie tak, aby wszystkie wiadomości wysłane przez innych użytkowników
      były po lewej stronie, a wiadomości użytkownika po prawej.</li>
    <li>Zmieniono dodawanie nowych zgłoszeń tak, aby zgłoszenia dodane przez użytkownika bez ustawionej
      'Funkcji na produkcji', ale z przynajmniej jednym 'Uprawnieniem' miały status 'Rozpoczęte' a nie 'Oczekujące'.</li>
    <li>Zmieniono kolumnę 'Linie' na liście zgłoszeń tak, żeby miała maksymalnie szerokość równą 200px.</li>
    <li>Dodano filtr 'Wydział' do listy zgłoszeń.</li>
    <li>Dodano filtr 'Tekst' do listy zgłoszeń przeszukujący: Nazwa produktu, Problem, Rozwiązanie, Dlaczego?,
      Opis kroków rozwiązujących problem oraz czat.</li>
    <li>Dodano do listy kolumnę 'Nazwa produktu'.</li>
    <li>Dodano do listy akcję 'Oznacz jako przeczytane'.</li>
    <li>Dodano raport.</li>
    <li>Dodano możliwość dodawania obrazków znajdujących się w schowku przez skrót <kbd>CTRL+V</kbd>.</li>
    <li>Dodano akcję 'Dodaj załączniki' do sekcji 'Załączniki' na stronie szczegółów zgłoszenia umożliwiającą
      wybranie plików z dysku.</li>
    <li>Dodano do eksportowania zgłoszeń kolumnę z wiadomościami z czata.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Zmieniono listę zleceń tak, aby dane w wygenerowanym raporcie zmieniały się, jeżeli zaktualizowano zlecenie
      (komentarz, powód opóźnienia, opóźniony komponent, M4) zanim raport wygasł.</li>
    <li>Dodano wyświetlanie 'Opóźnionego komponentu' w kolumnie 'Powód opóźnienia' na liście zleceń.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Usunięto przycisk umożliwiający przejście do Pulpitu.</li>
  </ul>
  <h3>Baza testów > Xiconf</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie adresów IP klientów jako <code>127.0.0.1</code>.</li>
  </ul>
  <h3>Badanie Opinia</h3>
  <ul>
    <li>Zmieniono domyślny filtr 'Badania' w raporcie tak, aby pokazywane były wyniki tylko dla badania
      z najnowszymi wynikami zamiast wszystkie.</li>
    <li>Zmieniono nagłówki odpowiedzi w papierowej wersji ankiety z tekstu na ikony.</li>
    <li>Dodano wsparcie dla języka ukraińskiego w przeglądarkowej wersji ankiety.</li>
    <li>Dodano wsparcie dla pytania 'Polecanie' w formacie 1-10 do przeglądarkowej wersji ankiety
      oraz do 'Odpowiedzi'.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący rozplanowanie zlecenia z 0 ilością sztuk na początku drugiej i trzeciej zmiany
      w niektórych przypadkach.</li>
    <li>Zmieniono generowanie planu tak, aby linie były rozplanowywane w kolejności alfanumerycznej wg MRP i ID linii,
      a nie wg kolejności pojawienia się w ustawieniach.</li>
    <li>Zmieniono generowanie planu tak, aby części podzielonych zleceń były wcześniej rozplanowywane na kolejnych
      liniach, jeżeli różnica w czasie rozpoczęcia pierszej części zlecenia i aktualnego czasu rozplanowywanej linii
      jest mniejsza niż 60 minut, a nie 20 minut.</li>
    <li>Zmieniono generowanie planu tak, aby zlecenia, które pasują do przynajmniej jednej grupy ze
      zdefiniowanymi 12NC nie trafiały na linie, które należą do grupy bez żadnych 12NC w przypadku,
      gdy na liniach z grupy 12NC nie ma już miejsca.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający 'przyklejenie' dymka z informacjami o użytkowniku po kliknięciu
      na nazwę użytkownika.</li>
    <li>Dodano do aplikacji uruchomionych w trybie wsadowym akcje resetowania przeglądarki, ponownego uruchomienia
      oraz uruchomienia przeglądarki bez trybu kioskowego. Akcje dostępne po trzykrotnym kliknięciu na przycisk
      menu akcji.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.130.0</h1>
  <h2><%- time.format('2019-01-13', 'LL') %></h2>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować niewyświetlanie się nazwy kategorii, jeżeli użytkownik wszedł bezpośrednio
      na stronę szczegółów zgłoszenia.</li>
    <li>Zmieniono chat tak, aby nie wyświetlał imienia i nazwiska bez żadnych linii (np. w przypadku usunięcia
      załączników).</li>
    <li>Zmieniono czat tak, aby odnośniki podane w wiadomości były automatycznie zamieniane na klikalną wersję.</li>
    <li>Zmieniono 'Opis rozwiązania problemu' tak, aby był podświetlany na zielono, jeżeli podano jakąś wartość.</li>
    <li>Zmieniono uprawnienia niezalogowanych użytkowników tak, aby nie mogli już wysyłać wiadomości, dodawać
      uczestników oraz załączników.</li>
    <li>Zmieniono uprawnienia tak, aby użytkownicy z funkcją 'Konstruktor FD' lub 'Konstruktor ETO' mieli możliwość
      zmiany pól: Status, Kategoria, Problem i Rozwiązanie.</li>
    <li>Zmieniono uprawnienia tak, aby użytkownicy z funkcją 'Inżynier procesu ds. nowych wdrożeń' mieli takie same
      uprawnienia jak 'Inżynier procesu'.</li>
    <li>Dodano do wiadomości 'Zakończono zgłoszenie' czas trwania zgłoszenia.</li>
    <li>Dodano do czatu automatyczne wyświetlanie wiadomości 'Analiza rozpoczęta' oraz 'Analiza zakończona'.</li>
    <li>Dodano do czatu autouzupełnianie imienia i nazwiska użytkownika po wciśnięciu klawisza <kbd>TAB</kbd>.</li>
    <li>Dodano oznaczanie nieprzeczytanych zmian w zgłoszeniach.</li>
    <li>Dodano powiadamianie o nowych wiadomościach w obserwowanych zgłoszeniach.</li>
  </ul>
  <h3>Użytkownicy</h3>
  <ul>
    <li>Dodano nową opcję do kont użytkowników: Powiadamianie SMS o każdym nowym zgłoszeniu FAP (a nie tylko podczas
      dyżuru).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano listę zgłoszeń FAP do strony ze szczegółami zlecenia.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd, który powodował wyświetlanie wszystkich nowych zleceń dodanych podczas przeliczania planu jako
      'Niekompletne'.</li>
    <li>Zmieniono ustawienie 'Ilość pracowników' tak, aby można było zdefiniować różną ilość dla każdej zmiany
      produkcyjnej.</li>
    <li>Zmieniono wyświetlanie listy linii tak, aby wyświetlane były w kolejności alfabetycznej, a nie kolejności
      zdefiniowania.</li>
  </ul>
  <h3>Matryca odpowiedzialności</h3>
  <ul>
    <li>Poprawiono błąd powodujący wywalenie się serwera, jeżeli usunięto Użytkownika, który występował w Matrycy.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Zmieniono etykiety osi x we wszystkich wykresach czasowych tak, aby były zależne od wybranego Podziału czasu.</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Dodano wyświetlanie ID zgłoszeń FAP na liście zleceń.</li>
  </ul>
  <h3>Raporty > Przestoje w obszarach</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie przestojów.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie zleceń.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie zleceń.</li>
  </ul>
  <h3>Kanban</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wyeksportowanie tabeli.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono akcje 'Skocz do ... po ID' tak, aby pole nie było automatycznie zaznaczane na
      urządzeniach mobilnych.</li>
    <li>Zmieniono 'okruszki' prowadzące z powrotem do listy tak, aby miały ustawiony ostatnio wybrany filtr.</li>
  </ul>
</div>
