<div class="hidden">
  <h1>v0.153.0</h1>
  <h2><%- time.format('2020-09-27', 'LL') %></h2>
  <h3>Dopuszczenia</h3>
  <ul>
    <li>Poprawiono błędy związane ze sprawdzaniem uprawnień.</li>
    <li>Dodano możliwość dopuszczania zleceń po planowanej dacie rozpoczęcia zlecenia.</li>
    <li>Dodano do listy komponentów w szczegółach zlecenia oraz w aplikacji do wyświetlania dokumentów podświetlanie
      komponentów dopuszczonych, które znajdują się już w BOM zlecenia.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono 'Sugestia' na 'Pomysł'.</li>
    <li>Zmieniono pole 'Osoba zatwierdzająca' na 'Koordynator Kaizen'. Dodatkowo, jeżeli wybrany dział zgłaszający
      ma zdefiniowaną listę koordynatorów, to użytkownik bez uprawnienia 'Usprawnienia: zarządzanie' nie może przypisać
      dowolnego innego użytkownika jako koordynatora.</li>
    <li>Zmieniono formularz edycji zgłoszenia tak, aby Osoba wykonująca nie mogła edytować Pomysłu, jeżeli zgłoszenie
      ma status W realizacji.</li>
    <li>Dodano Działy koordynujące do słownika Rodziny produktów. Użytkownicy do danego działu pobierani są z Matrycy
      odpowiedzialności tak samo jak Działy koordynujące ze słownika Kategorie, ale z dodatkowym warunkiem, że sekcja
      z Matrycy musi mieć przypisany przynajmniej jeden taki sam Dział WMES jak wybrany Dział koordynujący.</li>
    <li>Dodano możliwość podania Osób wykonujących podczas dodawania zgłoszenia.</li>
    <li>Dodano wyświetlanie Czasu zakończenia na ekranie szczegółów zgłoszenia. Czas zakończenia to moment zmiany
      statusu na Zakończone.</li>
    <li>Dodano możliwość załączania plików podczas wysyłania zgłoszenia do weryfikacji.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano nowy status: W trakcie malowania (MSP). Status nadawany w momencie rozpoczęcia malowania zleceniom,
      które mają farbę MSP oraz ilość pomalowaną równą 0. Pędzel w Planowaniu i Kompletacji ma kolor fioletowy.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający wymuszenie wysyłki wózków przeznaczonych na grupę linii.</li>
    <li>Poprawiono błąd uniemożliwiający dodanie wszystkich powiązanych wózków z innego zlecenia z seta podczas
      kompletacji przez kliknięcie na nazwę funkcji w edytorze wózków.</li>
    <li>Zmieniono przydzielanie do istniejących setów tak, aby pierwszeństwo miały sety utworzone przez wymuszenie
      kompletacji.</li>
    <li>Dodano eksportowanie zdarzeń.</li>
    <li>Dodano wsparcie dla interfejsu dotykowego w trybie wbudowanym aplikacji do kompletacji.</li>
    <li>Dodano wyświetlanie statystyk w każdej sekcji na ekranie Wysyłki.</li>
    <li>Dodano wyświetlanie statystyk dla każdej funkcji na ekranie Kompletacji.</li>
    <li>Dodano możliwość otwarcia szczegółow seta na ekranie Kompletacji przez wpisanie numeru seta za pomocą
      klawiatury w ciągu 0,5s.</li>
    <li>Dodano numer seta oraz kolejnego zlecenia w secie do etykiet kompletacji.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono obliczanie wskaźnika realizacji sekwencji tak, aby porównywana była ilość zaplanowanych zleceń
      do zleceń wykonanych na tej samej linii, w zaplanowanej ilości oraz w czterogodzinnym przedziale od planowanego
      czasu rozpoczęcia zlecenia.</li>
    <li>Dodano możliwość wyświetlenia szczegółów realizacji sekwencji MRP przez kliknięcie na procent realizacji
      sekwencji.</li>
    <li>Dodano do formuły obliczania czasu sztuki oraz roboczogodzin Współczynnik operacji Takt Time.</li>
    <li>Dodano filtr Wydział.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano przeliczanie statusu malarnii dla zleceń nadrzędnych po zmianie numeru zlecenia nadrzędnego w zleceniach
      podrzędnych.</li>
  </ul>
  <h3>Baza komponentów</h3>
  <ul>
    <li>Dodano nowe stanowiska: PRE1, PRE2 oraz PRE3.</li>
    <li>Dodano możliwość dzielenia CCN na części.</li>
  </ul>
  <h3>Raporty > Przezbrojenie</h3>
  <ul>
    <li>Dodano dwa nowe wskaźniki oraz kolumny Bezczynność, Przestoje, Przerwy, Ilość oraz Wydajność.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Zmieniono format tygodni w raporcie Outgoing quality z daty początku tygodnia na numer tygodnia.</li>
    <li>Zmieniono tabele Gdzie/Co tak, aby wyświetlany był opis obok kodu MRP/wady.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Dodano wyświetlanie aktualnego statusu zlecenia w szczegółach zgłoszenia.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano nowy tryb wyświetlania: Wydajność zmiany. Wydajność godzinowa wyświetlana jest przez 20s, a Wydajność
      zmiany przez 40s.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.152.0</h1>
  <h2><%- time.format('2020-08-31', 'LL') %></h2>
  <h3>Magazyn</h3>
  <ul>
    <li>Zmieniono wysyłkę wózków tak, aby Malarnia nie mogła wysyłać wózków Magazynu i na odwrót.</li>
    <li>Zmieniono kompletację tak, aby Malarnia mogła kompletować zlecenia z wierceniem ale bez malowania.</li>
    <li>Zmieniono wymuszenie kompletacji na linię tak, aby akcja była dostępna tylko dla użytkowników z uprawnieniem
      Magazyn: zarządzanie.</li>
    <li>Zmieniono listę problemów tak, aby wyświetlane było tylko kilka pierwszych przypisanych wózków.</li>
    <li>Dodano wymóg wyboru Powodu przekierowania podczas przenoszenia dostarczonego zlecenia na inną linię.</li>
    <li>Dodano filtr Set do listy Zdarzeń.</li>
    <li>Dodano filtr Status wysyłki do listy Kompletacji.</li>
    <li>Dodano nową opcję konfiguracyjną wysyłki: Maksymalna ilość wózków opakowań.</li>
    <li>Dodano możliwość odepnięcia od seta użytkownika przypisanego do funkcji kompletacji.</li>
    <li>Dodano nową opcję konfiguracyjną kompletacji: Opóźnienie automatycznego odpięcia od seta - po upłynięciu
      podanej ilości minut od rozpoczęcia nowej zmiany produkcyjnej, funkcje mające niezakończone sety, które zostały
      stworzone na poprzednich zmianach są automatycznie odpinane.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono aplikację do wyświetlania dokumentów tak, aby nie można było zmieniać rozmiaru interfejsu za pomocą
      dotyku.</li>
    <li>Dodano możliwość odtwarzania dokumentów wideo typu MP4 w trybie wsadowym aplikacji do wyświetlania
      dokumentów.</li>
    <li>Dodano możliwość wyłączenia wymogu potwierdzenia zapoznania się przez operatora z dokumentem powiązanym przez
      komponenty.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Dodano nowy filtr listy: Aktywny użytkownik - pokazuje zgłoszenia, w których wybrany użytkownik bierze
      aktywny udział, tzn. dokonał zmiany w zgłoszeniu lub napisał coś na czacie.</li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Zmieniono szerokość kolumn na liście tak, aby wartość kolumny Wyrób była widoczna w całości.</li>
  </ul>
  <h3>Dopuszczenia</h3>
  <ul>
    <li>Dodano nowy moduł.</li>
  </ul>
  <h3>Raporty</h3>
  <ul>
    <li>Dodano nowy raport: Przezbrojenie.</li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono filtr MRP tak, aby komunikat 'Brak wyników' podpowiadał o możliwości dodania MRP nieznajdującego się
      na liście poprzez wciśnięcie klawisza <kbd>Spacja</kbd>.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.151.0</h1>
  <h2><%- time.format('2020-08-02', 'LL') %></h2>
  <h3>Magazyn</h3>
  <ul>
    <li>Zmieniono przydzielanie do istniejącego seta tak, aby odbywało się wg najwcześniejszego czasu
      rozpoczęcia kompletacji seta a nie wg najwcześniejszego czasu rozpoczęcia zlecenia w secie.</li>
    <li>Zmieniono przydzielanie Platformowego do istniejącego seta tak, aby przydzielany był najpierw
      do setów dla linii, które mają najmniejszy dostępny czas.</li>
    <li>Zmieniono obsługę problemów:
      <ul>
        <li>Problem podczas kompletacji nie usuwa zlecenia z seta. Problem z transakcją LP10 nadal
          usuwa zlecenie z seta.</li>
        <li>Sety z problemami mogą być wysyłane.</li>
        <li>Dostarczone zlecenia, które mają problem są automatycznie blokowane podczas wysyłki.</li>
        <li>Zablokowane, dostarczone zlecenia są automatycznie odblokowywane podczas wysyłki wózków zawierających
          zablokowane zlecenie, jeżeli zlecenie to nie ma żadnego problemu.</li>
      </ul>
    </li>
    <li>Zmieniono wyświetlanie statusu kompletacji Malarnii tak, aby status Kompletacja miał taką samą ikonę
      jak status Oczekiwanie (znak zapytania zamiast wózek), jeżeli do funkcji Malarnii nie została jeszcze
      przypisana osoba.</li>
    <li>Zmieniono automatyczne anulowanie wykonanych zleceń tak, aby zlecenia z magazynu, które otrzymają status
      CNF, DLV, TECO, DLT lub DLFL zostały anulowane, jeżeli ich status to 'Oczekiwanie', a dla zleceń z rozpoczętą
      kompletacją kończone były wszystkie dostarczone zlecenia o takich samych numerach.</li>
    <li>Zmieniono wysyłkę wózków tak, aby dostarczone zlecenia, które w momencie rozpoczęcia wysyłki są oznaczone
      w SAP jako zakończone (status CNF, DLV, TECO, DLT lub DLFL), były automatycznie tworzone ze statusem
      'Zrobione'.</li>
    <li>Zmieniono kompletację setów tak, aby FMX oraz Kitter nie mogli zmieniać statusu zlecenia, jeżeli
      Platformowy skompletował już wózki.</li>
    <li>Dodano automatyczne drukowanie picklisty malarnii po rozpoczęciu kompletacji przez malarnię.</li>
    <li>Dodano do listy stanów linii możliwość wyświetlenia listy zleceń kompletowanych, skompletowanych oraz
      dostępnych (dostarczonych).</li>
    <li>Dodano możliwość podania komentarza do problemu LP10.</li>
    <li>Dodano automatyczne dodawanie komentarza problemu do historii zlecenia.</li>
    <li>Dodano możliwość wymuszenia kompletacji na wybraną linię.</li>
  </ul>
  <h3>ZPW</h3>
  <ul>
    <li>Poprawiono błąd powodujący utratę danych po powrocie do Karty obserwacji/Minut dla Bezpieczeństwa
      po dodaniu/anulowaniu dodawania powiązanego ZPW.</li>
  </ul>
  <h3>Usprawnienia</h3>
  <ul>
    <li>Zmieniono przepływ zgłoszeń.</li>
  </ul>
  <h3>Narzędzia pomiarowe</h3>
  <ul>
    <li>Poprawiono błąd powodujący usuwanie załączników po 30 minutach od momentu załadowania na serwer.</li>
  </ul>
  <h3>Czas cyklu</h3>
  <ul>
    <li>Dodano wsparcie dla linii z systemami Balluff RFID.</li>
  </ul>
  <h3>Dummy paint</h3>
  <ul>
    <li>Dodano nowy moduł do podmiany w SAP komponentów dummy na rzeczywiste farby.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano możliwość otworzenia dokumentu po kliknięciu na 12NC podzlecenia. Otwierany jest dokument
      o 15NC równym <code>110<12NC podzlecenia></code> (jeżeli istnieje).</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono edycję czasu zmiany statusów zlecenia tak, aby akcja dostępna była tylko dla superadministratorów.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.150.0</h1>
  <h2><%- time.format('2020-06-07', 'LL') %></h2>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Poprawiono błąd powodujący traktowanie zeskanowanej etykiety komponentu jako etykiety oprawy z numerem
      seryjnym, jeżeli nr sztuki przekracza wartośc 9999.</li>
    <li>Zmieniono rozpoczynanie nowych zleceń tak, aby nie można było rozpocząć zamkniętego zlecenia (CNF, DLV,
      TECO, DLT lub DLFL).</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Poprawiono błąd mogący spowodować utratę wartości MRP zlecenia podczas edycji wyniku inspekcji.</li>
    <li>Dodano do raportu Outgoing quality wyświetlanie Kategorii błędu do listy wyników 4C oraz w dymku wady
      na wykresie Co.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Zmieniono opcję ignorowania statusów malarnii podczas kompletacji tak, aby można było wybrać poszczególne
      ignorowane statusy.</li>
    <li>Zmieniono wysyłkę wózków tak, aby wózki ze zleceniami zaplanowanymi na początek I zmiany trafiały do realizacji
      pod koniec ostatniej pracującej zmiany fabryki, a nie godzinę przed rozpoczęciem zaplanowanego zlecenia.</li>
    <li>Zmieniono kompletację tak, aby FMX oraz Kitter mogli zignorować kompletację. Od teraz w danym zleceniu musi być
      podany przynajmniej jeden wózek przez dowolną funkcję.</li>
    <li>Zmieniono licznik linii Skompletowane tak, aby zliczał tylko sety, w których kompletacja została zakończona.</li>
    <li>Zmieniono przydzielanie do istniejących setów tak, aby najpierw wybierany był set, który ma najwcześniejsze
      zlecenie (wcześniej wg nr grupy, ID linii, czasu zlecenia).</li>
    <li>Zmieniono kompletację tak, aby użytkownik z uprawnieniami 'Magazyn: zarządzanie' nie mógł zmieniać statusów
      dla funkcji, które jeszcze nie zostały przypisane do seta.</li>
    <li>Dodano licznik linii Kompletowane zliczający sety, w których kompletacja nie została jeszcze zakończona.</li>
    <li>Dodano nową opcję konfiguracyjną kompletacji: Próg czasu dostępności - jeżeli całkowity dostępny czas linii
      (suma czas skompletowanego i dostępnego) podczas tworzenia nowego seta jest mniejszy niż dany próg, to
      traktowany jest jakby wynosił 0. Całkowity dostępny czas ma priorytet w określaniu dla jakiej linii zostanie
      stworzony kolejny set.</li>
    <li>Dodano możliwość wymuszenia rozpoczęcia wysyłki na wybraną linię.</li>
    <li>Dodano blokowanie kompletacji zleceń zaplanowanych na dzień, który nie został jeszcze rozpoczęty na danej
      linii.</li>
    <li>Dodano możliwość przenoszenia dostarczonych zleceń na inne linie.</li>
    <li>Dodano odnośniki do 'Dostarczonych zleceń' do menu 'Planowanie > Magazyn' oraz do wyników wyszukiwania
      po pełnym numerze zlecenia.</li>
    <li>Dodano kompletację i wysyłkę dla malarnii.</li>
    <li>Dodano możliwość filtrowania linii.</li>
    <li>Dodano możliwość dodawania wózków do wysyłki po rozpoczęciu wysyłki.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano do raportu Ilość obserwacji wykres Ilość bezpiecznych zachowań wg kategorii.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano nowy status: Odstawione.</li>
    <li>Dodano nową opcję konfiguracyjną: Dokumenty - umożliwia zdefiniowanie listy dokumentów, które mogą być łatwo
      otwarte z poziomu ekranu kolejki malarnii.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący, że przy Odblokowywaniu MRP komunikat o skompletowaniu zleceń w magazynie
      widoczny jest, jeżeli w planie magazynu na dany dzień istnieje jakiekolwiek zlecenie z danym MRP, zamiast
      sprawdzać czy istnieje zlecenie Rozpoczęte lub Zakończone.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlenie zduplikowanej wiadomości dla użytkownika, który ją wysłał, jeżeli
      dany użytkownik nie znajdował się na liście uczestników.</li>
    <li>Poprawiono błąd powodujący duplikowanie użytkowników na liście uczestników po dodaniu nowego uczestnika.</li>
    <li>Poprawiono błąd powodujący blokowanie dokonywania zmian w zgłoszeniach, które zostały automatycznie
      oznaczne jako przeczytane (starsze niż 14 dni i nieprzeczytane przez przynajmniej 7 dni).</li>
    <li>Zmieniono pole 'Wyślij wiadomość...' w czacie tak, aby jego wysokość dostosowywała się do treści.</li>
    <li>Dodano możliwość włączenia trybu wieloliniowego dla wysyłanej wiadomości w czacie wciskając <kbd>Enter</kbd>
      w pustym polu lub <kbd>Shift+Enter</kbd> po wpisaniu czegokolowiek.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.149.0</h1>
  <h2><%- time.format('2020-05-17', 'LL') %></h2>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd powodujący oznaczenie statusu wysyłki opakowań dla zleceń, które nie mają skompletowanych
      opakowań, jeżeli ich wysyłka została rozpoczęta razem ze zleceniami, które mają opakowania.</li>
    <li>Poprawiono błąd powodujący w niektórych przypadkach brak synchronizacji statusu malowania między
      modułem Malarnii a modułem Magazynu, co skutkowało podawaniem do kompletacji niepomalowanych zleceń.</li>
    <li>Zmieniono zliczanie skompletowanych setów tak, aby sety, które mają problem były pomijane.</li>
    <li>Zmieniono dokładanie brakujących wózków FIFO do wywózki tak, aby brane pod uwagę były wszystkie kolejne
      sety z kwalifikujących się linii: do seta z jednym wózkiem może zostać dołożony kolejny set z tej samej linii,
      tylko, jeżeli mieści się w limicie wózków i następuje dokładnie po poprzednim secie.</li>
    <li>Zmieniono rozpoczynanie akcji kompletacji tak, aby nie była ograniczona do aktualnie wyświetlanego dnia.</li>
    <li>Zmieniono wysyłkę wózków opakowań tak, aby można było zainicjować wysyłkę na kwalifikujące się linie
      bezpośrednio z poziomu wysyłki opakowań, a nie dopiero po rozpoczęciu wysyłki FIFO.</li>
    <li>Zmieniono rozpoczynanie problemu tak, aby problematyczne zlecenie było usuwane z seta.</li>
    <li>Zmieniono rozwiązywanie problemu tak, aby resetowano całe zlecenie.</li>
    <li>Dodano listę zdarzeń.</li>
    <li>Dodano nową funkcję kompletacji: Platformowy.</li>
    <li>Dodano nową opcję konfiguracyjną wysyłki: Maksymalny czas do rozpoczęcia zlecenia - maksymalna ilość minut
      od teraz do zaplanowanego czasu rozpoczęcia zlecenia, aby wózek został przeznaczony do realizacji,
      jeżeli linia w danym momencie nie pracuje.</li>
    <li>Dodano automatyczne anulowanie Oczekujących i Problematycznych zleceń, które zostały zakończone, tzn.
      otrzymały status CNF, DLV, TECO, DLT lub DLFL.</li>
    <li>Dodano wyświetlanie statusu gotowości do kompletacji dla poszczególnych funkcji: FMX, Kitter, Platformowy
      i Opakowania.</li>
  </ul>
  <h3>Czas cyklu</h3>
  <ul>
    <li>Dodano uprawnienia do konfiguracji MRP i UPPH w raporcie Wyniki dla użytkowników z funkcją
      inżyniera produkcji.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono obliczanie % realizacji zaplanowanej sekwencji tak, aby pod uwagę brane były tylko zrobione zlecenia
      z zaplanowaną operacją.</li>
  </ul>
  <h3>Produkcja > Zlecenia</h3>
  <ul>
    <li>Zmieniono sposób wyświetlania zeskanowanych numerów seryjnych na stronie ze szczegółami zlecenia:
      <ul>
        <li>panel widoczny jest tylko, gdy zlecenie ma zeskanowane numery seryjne,</li>
        <li>lista numerów seryjnych wyświetlana jest w jednym przewijalnym wierszu,</li>
        <li>dodano wykres prezentujący rzeczywiste czasy poszczególnych sztuk oraz cel,</li>
        <li>dodano obliczanie średniej, mediany, minimum oraz maksimum z dostępnym danych.</li>
      </ul>
    </li>
  </ul>
  <h3>Monitoring > Układ fabryki</h3>
  <ul>
    <li>Poprawiono błąd powodujący w niektórych przypadkach niedziałanie filtra linii produkcyjnych.</li>
    <li>Zmieniono tytuł z 'Monitoring' na 'Układ fabryki' lub 'Wydajność godzinowa' (jeżeli ten tryb jest włączony).</li>
    <li>Dodano legendę objaśniającą statusy linii.</li>
    <li>Dodano nową opcję konfiguracyjną do trybu wydajności godzinowej: Próg odbiegania od planu [%] - linie, które
      odbiegają od planu o podany procent, są oznaczana innym kolorem.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Dodano możliwość definiowania uwag dla numerów zleceń.</li>
    <li>Dodano możliwość dodawania do zleceń tagów na podstawie MRP, 12NC wyrobu lub komponentów.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie ręcznie zdefiniowanych uwag na liście komponentów.</li>
  </ul>
  <h3>Inspekcja Jakości</h3>
  <ul>
    <li>Dodano nowe pole: Operator.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano do formularza drukowania etykiet komponentów możliwość podania przesunięcia etykiety.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.148.0</h1>
  <h2><%- time.format('2020-04-22', 'LL') %></h2>
  <h3>Czas cyklu</h3>
  <ul>
    <li>Poprawiono błąd powodujący niewyświetlanie na ekranie monitoringu menu z raportami dla użytkowników
      z uprawnieniem 'Dane produkcyjne: przeglądanie'.</li>
    <li>Poprawiono błąd przy liczeniu ilości wszystkich linii montażowych w raporcie Wyniki.</li>
    <li>Zmieniono sposób obliczania unbalance.</li>
    <li>Dodano oddzielne uprawnienia do zarządzania grupami wyrobów.</li>
    <li>Dodano wsparcie dla balansowania operacji.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Usunięto funkcjonalność serwowania plików dokumentów z ustawionego katalogu na dysku lokalnym.
      Od teraz pliki dokumentów zawsze są serwowane z Katalogu dokumentów WMES.</li>
    <li>Dodano możliwość dodawania do katalogu plików innego typu niż PDF: txt, json, docx, xlsx, pptx, mp4.</li>
    <li>Dodano możliwość dodawania do katalogu plików bez podania 15NC. Jeżeli 15NC nie zostanie podane, to dokument
      dostanie automatycznie wygenerowany, unikalny kod z prefiksem 000.</li>
    <li>Dodano wsparcie dla balansowania operacji.</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Poprawiono błąd oznaczający status wysyłki FIFO kompletowanego zlecenia jako 'Zakończone', jeżeli
      zakończono kompletację FMX a następnie zignorowano kompletację Kitter (lub odwrotnie).</li>
    <li>Poprawiono błąd powodujący zawieszenie statusów wózków w secie po rozwiązaniu problemu z transakcją LP10.</li>
    <li>Zmieniono dokładanie brakujących wózków FIFO do wywózki tak, aby brane pod uwagę były tylko pierwsze
      pasujące sety z każdej kwalifikującej się linii (a nie wszystkie), żeby zachować kolejność wywożonych
      zleceń.</li>
    <li>Dodano możliwość przekierowywania linii.</li>
    <li>Dodano możliwość zmiany nr wózków w niewysłanych setach dla użytkowników z uprawnieniem
      'Magazyn: zarządzanie wózkami'.</li>
  </ul>
  <h3>FTE (produkcja)</h3>
  <ul>
    <li>Poprawiono błąd powodujący wyświetlanie w formularzu edycji zasobów `undefined` jako ID linii, jeżeli
      w danym przepływie nie ma żadnych aktywnych linii.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący zatrzymanie procesu automatycznego blokowania MRP po zablokowaniu pierwszego MRP
      od uruchomienia serwera.</li>
    <li>Zmieniono odblokowywanie MRP tak, aby tylko super administrator mógł odblokować MRP, dla którego istnieją
      skompletowane sety w magazynie.</li>
    <li>Dodano wsparcie dla przekierowywania linii z poziomu planu.</li>
    <li>Dodano informację o skompletowanych oraz dostępnych sztukach do dymka linii.</li>
  </ul>
  <h3>Baza PFEP</h3>
  <ul>
    <li>Dodano listy rozwijane z istniejącymi wartościami do pól Jednostka, Rodzaj opakowania oraz Dostawca.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.147.0</h1>
  <h2><%- time.format('2020-04-05', 'LL') %></h2>
  <h3>Baza testów > TRW</h3>
  <ul>
    <li>Dodano możliwość przypisywania komunikatów do poszczególnych kroków programu.</li>
  </ul>
  <h3>Baza testów > Xiconf</h3>
  <ul>
    <li>Dodano możliwość filtrowania importowanych komponentów po 12NC.</li>
    <li>Dodano możliwość ograniczenia importowanych komponentów do wybranych MRP.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nieprzeliczanie wykonanych ilości w zleceniu produkcyjnym po edycji
      nr operacji w zleceniu wykonanym na linii.</li>
    <li>Zmieniono wyświetlanie zagnieżdżonych list w historii zleceń na bardziej użyteczne.</li>
    <li>Dodano możliwość definiowania uwag dla zleceń. Uwagi wyświetlane są w aplikacjach dokumentacji
      oraz malarnii.</li>
    <li>Dodano skróty klawiszowe do poszczególnych paneli na stronie ze szczegółami zlecenia.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Poprawiono błąd powodujący ignorowanie przypisania zlecenia do linii.</li>
    <li>Poprawiono błąd powodujący ignorowanie flagi 'Wymuś dzień pracujący'.</li>
    <li>Poprawiono błąd powodujący niezapisywanie usunięcia grup linii.</li>
    <li>Poprawiono błąd uniemożliwiający zapisanie nowych ustawień linii, jeżeli do linii przypisano MRP, które
      nie występowało jeszcze w planie.</li>
    <li>Poprawiono błąd powodujący dodawanie do zrzutu statystyk planu MRP, które mają opóźnione zlecenia, mimo że nie
      zostały wybrane w filtrze.</li>
    <li>Zmieniono algorytm planowania tak, aby podczas kolejnych przejść planowania, zlecenia zostały usunięte
      z grupy, do której zostały przypisane w pierwszym przejściu, jeżeli ta grupa nie ma zdefiniowanych
      żadnych komponentów.</li>
    <li>Zmieniono akcję 'Komentuj zlecenie' tak, aby zamiast otwierania nowego okna ze stroną szczegółów zlecenia,
      pokazywany był tylko formularz do komentowania.</li>
    <li>Zmieniono obliczanie realizacji sekwencji tak, aby pod uwagę brana była ilość zrobionych sztuk w stosunku
      do ilości zaplanowanych sztuk, a nie ilość całkowicie wykonanych zaplanowanych zleceń.</li>
    <li>Zmieniono przypinanie zleceń do linii tak, aby można było przypiąć zlecenie do kilku linii oraz pilne, przypięte
      zlecenia mogły być rozplanowywane na liniach bez uwzględnienia 'Priorytety zleceń'.</li>
    <li>Dodano nową opcję konfiguracyjną dla MRP: Trudne komponenty bez względu na ilość sztuk lub roboczogodzin
      (oznaczanie małych zleceń jako trudne).</li>
  </ul>
  <h3>Magazyn</h3>
  <ul>
    <li>Dodano wysyłkę wózków FIFO oraz opakowań.</li>
    <li>Dodano rejestrowanie przestojów podczas kompletacji.</li>
    <li>Dodano funkcję tymczasowego blokowania zleceń dostarczonych na linie.</li>
  </ul>
  <h3>Czas cyklu</h3>
  <ul>
    <li>Poprawiono błąd powodujący niezapisywanie podsumowania czasu cyklu dla zlecenia produkcyjnego
      z linii podczas kończenia zlecenia.</li>
    <li>Poprawiono błąd powodujący niewysyłanie stanów lamp natychmiast po ich zmianie.</li>
    <li>Dodano możliwość eksportowania historii sztuk.</li>
    <li>Dodano do raportu Wyniki możliwość przełączenia na znormalizowaną wartość UPPH.</li>
    <li>Dodano nowe opcję konfiguracyjną w ustawieniach: Rodziny UPPH.</li>
  </ul>
  <h3>Malarnia</h3>
  <ul>
    <li>Dodano ilość do zrobienia do zrzutu wykonania planu.</li>
    <li>Dodano ilość roboczogodzin do listy farb oraz zrzutu farb.</li>
    <li>Dodano status wiercenia do zrzutu zleceń.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano odnośniki do formularza w wersji do druku.</li>
    <li>Dodano filtr 'Ryzykowne zachowania'.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Dodano możliwość drukowania etykiet komponentów.</li>
  </ul>
  <h3>Monitoring > Układ fabryki</h3>
  <ul>
    <li>Dodano nowy tryb wyświetlania: Wydajność godzinowa.</li>
  </ul>
  <h3>Wydajność godzinowa</h3>
  <ul>
    <li>Dodano wykres z zaplanowanymi i wykonanymi ilościami na zmianie.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v0.146.0</h1>
  <h2><%- time.format('2020-02-09', 'LL') %></h2>
  <h3>Monitoring > Czas cyklu</h3>
  <ul>
    <li>Dodano nowy raport: Grupy wyrobów.</li>
    <li>Dodano nowy raport: Wyniki.</li>
  </ul>
  <h3>Monitoring > Układ fabryki</h3>
  <h3>Monitoring > Linie produkcyjne</h3>
  <ul>
    <li>Zmieniono kolor dla linii w stanie Przestój na fioletowy, jeżeli typ przestoju to Przerwa.</li>
  </ul>
  <h3>Monitoring > Linie produkcyjne</h3>
  <ul>
    <li>Poprawiono błąd powodujący nie branie pod uwagę 'Współczynnika operacji (Takt Time)' podczas obliczania
      wydajności dla zleceń z historii.</li>
  </ul>
  <h3>Luma gen. 2</h3>
  <ul>
    <li>Zmieniono wysyłanie zleceń do sterownika, tak aby ilość do zrobienia obliczana była na podstawie maksymalnej
      ilości i zrobionej ilości operacji wybranej w zleceniu na Formatce operatora, a nie na całkowitej ilości
      do zrobienia oraz całkowitej ilości zrobionej.</li>
  </ul>
  <h3>Formatka operatora</h3>
  <ul>
    <li>Zmieniono opcję konfiguracyjną 'Takt Time > Współczynniki operacji' tak, aby można było dodatkowo filtrować
      współczynniki po numerze operacji.</li>
  </ul>
  <h3>Raporty > Wskaźniki</h3>
  <ul>
    <li>Dodano nową opcję wyświetlania - Pomiń puste - na wykresie wskaźników pominięte zostaną grupy czasu,
      w których nie pracowano (ilość zleceń równa 0 i/lub, tylko w przypadku działów Montażu, ilość zrobionych
      sztuk równa 0).</li>
  </ul>
  <h3>Raporty > CLIP</h3>
  <ul>
    <li>Poprawiono błąd uniemożliwiający przejście do nadrzędnej jednostki organizacyjnej.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Dodano uprawnienia do zmiany statusu oraz poziomu zgłoszeń dla funkcji 'Inżynier procesu dystrybucji'.</li>
    <li>Dodano do listy uczestników komunikat o automatycznym dodawaniu osób, jeżeli aktualnie zgłoszenie ma
      poziom 0 i jedną osobę na liście uczestników.</li>
  </ul>
  <h3>Planowanie</h3>
  <ul>
    <li>Zmieniono listę planów dziennych tak, aby wyświetlany był cały miesiąc, a nie tylko tydzień.</li>
    <li>Zmieniono formularz edycji ustawień linii tak, aby nie można było dodać/usunąć do priorytetu MRP rodzin,
      które są zablokowane.</li>
    <li>Zmieniono formularz ustawiania dostępnych linii tak, aby nie można było dodać/usunąć zablokowanych
      linii/MRP.</li>
    <li>Dodano do ikony kłódki dymek informujący o źródle blokady danego MRP.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Zmieniono 'Listę komponentów' zlecenia w przeglądarce dokumentów tak, aby pozycje bez 12NC wyświetlane były
      nad tabelą komponentów.</li>
    <li>Dodano do przeglądarki dokumentów wyskakujący komunikat 'Uwagi do zlecenia', jeżeli dane zlecenie ma
      komponenty bez 12NC.</li>
    <li>Dodano do formularza edycji dokumentu możliwość otworzenia pliku przekonwertowanego na obrazki.</li>
    <li>Dodano do formularza edycji dokumentu możliwość wymuszenia ponowego konwertowania dokumentu PDF na obrazki.</li>
  </ul>
  <h3>Zlecenia produkcyjne</h3>
  <ul>
    <li>Zmieniono sortowanie listy komponentów tak, aby pozycje bez 12NC były wyświetlana na początku.</li>
    <li>Dodano możliwość rozszerzania zawartości paneli na stronie ze szczegółami zlecenia.</li>
  </ul>
  <h3>Obserwacje zachowań</h3>
  <ul>
    <li>Dodano filtr 'Trudne do zmiany' do raportu 'Ilość obserwacji'.</li>
  </ul>
  <h3>FAP</h3>
  <ul>
    <li>Poprawiono błąd powodujący niedodawanie do listy uczestników osób z funkcją, która została oznaczona
      w Matrycy odpowiedzialności jako wspólna dla wszystkich grup.</li>
  </ul>
</div>
