<div class="changelog">
  <h1>v0.81.0</h1>
  <h2><%- time.format('2016-02-07', 'LL') %></h2>
  <h3>Monitoring > Lista linii produkcyjnych</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia w dymkach osi czasu zmian produkcyjnych.</li>
  </ul>
  <h3>Badanie opinia</h3>
  <ul>
    <li>Poprawiono brakujące tłumaczenia na stronie szczegółów Odpowiedzi.</li>
    <li>Zmieniono kolejność odpowiedzi w formularzu Odpowiedzi z Tak, Nie, Nie mam zdania na Nie, Nie mam zdania, Tak,
      aby pasowała do kolejności na formularzu fizycznym.</li>
  </ul>
  <h3>Lista zmian</h3>
  <ul>
    <li>Zmieniono listę tak, aby wyświetlała na początku tylko 5 ostatnich wersji. Po kliknięciu 'Pokaż więcej'
      wyświetlone zostanie 10 kolejnych wersji oraz przycisk 'Pokaż wszystkie'.</li>
  </ul>
  <h3>Dokumentacja</h3>
  <ul>
    <li>Dodano do aplikacji klienta wyświetlanie stałej, pierwszej pozycji 'Listy komponentów'. Po wybraniu dokumentu
      'Lista dokumentów' otworzy się BOM aktualnie wybranego Zlecenia.</li>
  </ul>
  <% include ./old.ejs %>
  <p>
    <button id="<%- idPrefix %>-showMore" class="btn btn-link btn-lg btn-block"><%- t('changelog', 'showMore') %></button>
    <button id="<%- idPrefix %>-showAll" class="btn btn-link btn-lg btn-block hidden"><%- t('changelog', 'showAll') %></button>
  </p>
</div>
