<div class="changelog">
  <h1>v0.80.3</h1>
  <h2><%- time.format('2016-01-31', 'LL') %></h2>
  <h3>Baza testów</h3>
  <ul>
    <li>Zmieniono importowanie zleceń tak, aby w danym zleceniu znajdowała się tylko jedna pozycja rodzaju
      'programowanie driverów' (pozycja utworzona z dokumentów 'Zlecenia reszty działów' ma większy priorytet niż
      pozycja z komponentów zlecenia).
    </li>
  </ul>
  <h3>Inne</h3>
  <ul>
    <li>Zmieniono wysyłanie e-maili tak, aby odbywało się przez serwer SMTP a nie serwer Exchange.</li>
  </ul>
  <% include ./old.ejs %>
  <p>
    <button id="<%- idPrefix %>-showMore" class="btn btn-link btn-lg btn-block"><%- t('changelog', 'showMore') %></button>
    <button id="<%- idPrefix %>-showAll" class="btn btn-link btn-lg btn-block hidden"><%- t('changelog', 'showAll') %></button>
  </p>
</div>
