<form class="well filter-form" autocomplete="off">
  <div class="form-group">
    <label for="<%- id('componentCode') %>"><%- t('PROPERTY:componentCode') %></label>
    <input id="<%- id('componentCode') %>" class="form-control" name="componentCode" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('operationNo') %>"><%- t('PROPERTY:operationNo') %></label>
    <input id="<%- id('operationNo') %>" class="form-control" name="operationNo" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('core', 'filter:submit') %></span></button>
  </div>
</form>
