<form class="componentLabels-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: 'componentCode',
        label: 'PROPERTY:',
        required: true,
        pattern: '^[0-9]{12}$',
        maxLength: 12,
        inputStyle: 'width: 120px'
      }) %>
      <%- helpers.formGroup({
        name: 'operationNo',
        label: 'PROPERTY:',
        required: true,
        pattern: '^[0-9]{4}$',
        maxLength: 4,
        inputStyle: 'width: 60px'
      }) %>
      <%- helpers.formGroup({
        name: 'lines',
        type: 'select2',
        label: 'PROPERTY:'
      }) %>
      <div class="form-group">
        <label for="<%- id('template-0') %>" class="control-label is-required"><%- t('PROPERTY:template') %></label>
        <br>
        <% TEMPLATES.forEach(function(template, i) { %>
        <label class="radio-inline">
          <input id="<%- id('template-' + i) %>" name="template" type="radio" value="<%= template %>" required>
          <%= template %>
        </label>
        <% }) %>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input id="<%- id('global') %>" name="global" type="checkbox" value="true">
          <%- t('PROPERTY:global') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'description',
        label: 'PROPERTY:'
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
