<form class="well filter-form oshAudits-filter" autocomplete="off">
  <div class="form-group">
    <label for="<%- id('status') %>"><%- t('PROPERTY:status') %></label>
    <select id="<%- id('status') %>" name="status[]" class="form-control is-expandable" multiple size="1">
      <% ['new', 'inProgress', 'finished', 'cancelled'].forEach(function(status) { %>
        <option value="<%- status %>"><%- t('status:' + status) %></option>
      <% }) %>
    </select>
  </div>
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    labels: {text: t('PROPERTY:date'), ranges: true}
  }) %>
  <div class="form-group">
    <input id="<%- id('userType') %>" name="userType" type="hidden" value="others">
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('section') %>"><%- t('PROPERTY:section') %></label>
    <select id="<%- id('section') %>" name="section[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="max-width: 225px">
      <% sections.forEach(function(section) { %>
        <option value="<%- section.id %>"><%= section.text %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group" data-filter="anyNok">
    <label><%- t('filter:anyNok') %></label>
    <div id="<%- id('anyNok') %>" class="btn-group filter-btn-group" data-toggle="buttons">
      <label class="btn btn-default" style="width: 59px">
        <input type="checkbox" name="anyNok[]" value="true"> <%- t('core', 'BOOL:true') %>
      </label>
      <label class="btn btn-default" style="width: 59px">
        <input type="checkbox" name="anyNok[]" value="false"> <%- t('core', 'BOOL:false') %>
      </label>
    </div>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
