<div class="panel panel-default">
  <div class="panel-heading"><%- t('PROPERTY:results') %></div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover oshAudits-details-results">
      <thead>
      <tr>
        <th class="is-min"><%- t('PROPERTY:results:category') %></th>
        <th class="is-min text-center"><%- t('PROPERTY:results:ok:true') %>/<%- t('PROPERTY:results:ok:false') %></th>
        <th><%- t('PROPERTY:results:comment') %></th>
        <th class="is-min"><%- t('PROPERTY:results:owner') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.results.forEach(function(r) { %>
      <% if (r.ok === null) return %>
      <tr>
        <td class="is-min"><%= r.fullName %></td>
        <td class="is-min text-center"><i class="fa <%- r.ok ? 'fa-check' : 'fa-times' %>"></i></td>
        <td class="text-lines"><%= r.comment %></td>
        <td class="is-min"><%- r.owner %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</div>
