<div class="table-responsive">
<table class="table table-bordered table-condensed table-hover table-striped reports-rearm-table">
  <thead>
  <tr>
    <th class="reports-rearm-table-line">
      <span class="reports-rearm-table-line"><%= line %></span>
      <%- t('rearm:column:orderNo') %>
    </th>
    <th class="is-min"><%- t('rearm:column:mrp') %></th>
    <th style="width: 102px"><%- t('rearm:column:shift') %></th>
    <% [
      'startedAt', 'finishedAt',
      'firstAt', 'lastAt',
      'sapTaktTime', 'avgTaktTime', 'medTaktTime',
      'quantityDone', 'workerCount', 'efficiency',
      'idle'
    ].forEach(k => { %>
    <th><%- t(`rearm:column:${k}`) %></th>
    <% }) %>
    <% downtimeColumns.forEach(c => { %>
    <th title="<%= c.description %>"><%= c.column %></th>
    <% }) %>
    <% metricColumns.forEach(c => { %>
    <th title="<%= c.description %>"><%= c.column %></th>
    <% }) %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% orders.forEach(function(order, i) { %>
  <tr class="<%- orders[i + 1] && order.shiftAt !== orders[i + 1].shiftAt ? 'is-eos' : '' %>">
    <td class="is-min">
      <% if (canViewSapOrder) { %>
        <a href="#orders/<%- order.orderNo %>" target="_blank"><%- order.orderNo %></a>
      <% } else { %>
        <%- order.orderNo %>
      <% } %>
    </td>
    <td class="is-min"><%= order.mrp %></td>
    <td class="text-nowrap">
      <% var shift = t('core', 'SHIFT', {date: time.format(order.shiftAt, 'L'), shift: order.shiftNo}) %>
      <% if (canViewProdData && order.prodShift) { %>
        <a href="#prodShifts/<%- order.prodShift %>" target="_blank"><%- shift %></a>
      <% } else { %>
        <%- shift %>
      <% } %>
    </td>
    <td class="is-min text-center">
      <% var startedAt = order.startedAt ? time.format(order.startedAt, 'HH:mm:ss') : '' %>
      <% if (canViewProdData && order.prodShiftOrder) { %>
        <a href="#prodShiftOrders/<%- order.prodShiftOrder %>" target="_blank"><%- startedAt %></a>
      <% } else { %>
        <%- startedAt %>
      <% } %>
    </td>
    <td class="is-min text-center">
      <% var finishedAt = order.finishedAt ? time.format(order.finishedAt, 'HH:mm:ss') : '' %>
      <% if (canViewProdData && order.prodShiftOrder) { %>
        <a href="#prodShiftOrders/<%- order.prodShiftOrder %>" target="_blank"><%- finishedAt %></a>
      <% } else { %>
        <%- finishedAt %>
      <% } %>
    </td>
    <td class="is-min text-center"><%- time.format(order.firstAt, 'HH:mm:ss') %></td>
    <td class="is-min text-center"><%- time.format(order.lastAt, 'HH:mm:ss') %></td>
    <td class="is-min text-right"><%= order.sapTaktTime %></td>
    <td class="is-min text-right <%- order.avgTaktTime > order.sapTaktTime ? 'is-low' : 'is-high' %>"><%= order.avgTaktTime %></td>
    <td class="is-min text-right <%- order.medTaktTime > order.sapTaktTime ? 'is-low' : 'is-high' %>"><%= order.medTaktTime %></td>
    <td class="is-min text-right"><%- order.quantityDone.toLocaleString() %></td>
    <td class="is-min text-right"><%- order.workerCount.toLocaleString() %></td>
    <td class="is-min text-right <%- order.efficiency >= 100 ? 'is-high' : order.efficiency >= 90 ? 'is-mid' : 'is-low' %>"><% if (order.efficiency) { %><%- order.efficiency %>%<% } %></td>
    <td class="is-min text-right <%- order.idle ? '' : 'is-zero' %>"><%- order.idle.toLocaleString() %></td>
    <% downtimeColumns.forEach((c, i) => { %>
    <td class="is-min text-right <%- order.downtimes[i] ? '' : 'is-zero' %>"><%- order.downtimes[i].toLocaleString() %></td>
    <% }) %>
    <% metricColumns.forEach((c, i) => { %>
    <td class="is-min text-right <%- order.metrics[i] ? '' : 'is-zero' %>"><%- order.metrics[i].toLocaleString() %></td>
    <% }) %>
    <td></td>
  </tr>
  <% }) %>
  </tbody>
</table>
</div>
