<div class="mfs-form-cause col-md-4">
  <input type="hidden" name="causes[<%- i %>].category" value="<%= cause.category %>">
  <label class="control-label"><%- helpers.t('causes:' + cause.category) %></label>
  <% cause.why.forEach(function(why, whyI) { %>
  <div class="mfs-form-cause-why">
    <label for="<%- idPrefix %>-causes-<%- i %>-<%- whyI %>" class="control-label"><%- helpers.t('FORM:causes:why', {n: whyI + 1}) %></label>
    <textarea id="<%- idPrefix %>-causes-<%- i %>-<%- whyI %>" class="form-control" name="causes[<%- i %>].why[<%- whyI %>" rows="2"><%= why %></textarea>
  </div>
  <% }) %>
</div>
