<div class="minutesForSafetyCards-details">
  <div class="panel panel-success">
    <div class="panel-heading"><%- helpers.t('core', 'PANEL:TITLE:details') %></div>
    <div class="panel-details">
      <div class="row">
        <div class="col-md-4">
          <%- helpers.props(model, {first: true, props: ['status', 'section', 'subject']}) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['!owner', '!creator', '!updater']) %>
        </div>
        <div class="col-md-4">
          <%- helpers.props(model, ['date', 'createdAt', 'updatedAt']) %>
        </div>
      </div>
    </div>
  </div>
  <% if (model.observations.length || model.nearMiss) { %>
  <div class="panel panel-default">
    <div class="panel-heading is-with-actions">
      <%- helpers.t('PROPERTY:observations') %>
      <% if (model.nearMiss) { %>
      <div class="panel-actions">
        <p><%- helpers.t('PANEL:ACTION:nearMiss') %> <a href="#kaizenOrders/<%- model.nearMiss %>">#<%- model.nearMiss %></a></p>
      </div>
      <% } %>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th class="minutesForSafetyCards-half"><%- helpers.t('PROPERTY:observations:what') %></th>
        <th class="minutesForSafetyCards-half"><%- helpers.t('PROPERTY:observations:why') %></th>
      </tr>
      </thead>
      <tbody>
      <% if (!model.observations.length) { %>
      <tr>
        <td colspan="2"><%- t('core', 'LIST:NO_DATA') %></td>
      </tr>
      <% } %>
      <% model.observations.forEach(function(observation) { %>
      <tr>
        <td class="text-lines"><%= observation.what %></td>
        <td class="text-lines"><%= observation.why %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <% if (model.safeBehavior) { %>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:safeBehavior') %></div>
    <div class="panel-body">
      <p class="text-lines"><%= model.safeBehavior %></p>
    </div>
  </div>
  <% } %>
  <% if (model.orgPropositions.length || model.suggestion) { %>
  <div class="panel panel-default">
    <div class="panel-heading is-with-actions">
      <%- helpers.t('PROPERTY:orgPropositions') %>
      <% if (model.suggestion) { %>
      <div class="panel-actions">
        <p><%- helpers.t('PANEL:ACTION:suggestion') %> <a href="#suggestions/<%- model.suggestion %>">#<%- model.suggestion %></a></p>
      </div>
      <% } %>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th><%- helpers.t('PROPERTY:propositions:what') %></th>
      </tr>
      </thead>
      <tbody>
      <% if (!model.orgPropositions.length) { %>
      <tr>
        <td><%- t('core', 'LIST:NO_DATA') %></td>
      </tr>
      <% } %>
      <% model.orgPropositions.forEach(function(proposition) { %>
      <tr>
        <td class="text-lines"><%= proposition.what %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <% if (model.techPropositions.length) { %>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:techPropositions') %></div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th><%- helpers.t('PROPERTY:propositions:what') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.techPropositions.forEach(function(proposition) { %>
      <tr>
        <td class="text-lines"><%= proposition.what %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <% if (model.participants.length) { %>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:participants') %></div>
    <div class="panel-body">
      <p class="text-lines"><%= model.participants.map(function(p) { return p.label }).join(', ') %></p>
    </div>
  </div>
  <% } %>
</div>
