<div class="prodDowntimeAlerts-details">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'name',
        {id: 'repeatInterval', value: model.repeatInterval ? time.toString(model.repeatInterval) : ''},
        {id: '!userWhitelist', value: model.userWhitelist ? _.pluck(model.userWhitelist, 'label').join('; ') : ''},
        {id: '!userBlacklist', value: model.userBlacklist ? _.pluck(model.userBlacklist, 'label').join('; ') : ''}
      ]) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:conditions') %></div>
    <div class="panel-details">
      <div class="props first">
        <% _.forEach(model.conditions, function(condition) { %>
        <div class="prop">
          <div class="prop-name"><%- helpers.t('DETAILS:conditions:' + condition.type, {mode: condition.mode}) %></div>
          <div class="prop-value"><%= condition.labels.join('; ') %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PROPERTY:actions') %></div>
    <div class="panel-body prodDowntimeAlerts-details-actions">
      <% _.forEach(model.actions, function(action) { %>
      <div class="prodDowntimeAlerts-details-action">
        <p>
          <% if (action.sendEmail && action.sendSms) { %>
          <%- helpers.t('DETAILS:actions:emailAndSms', {delay: time.toString(action.delay)}) %>
          <% } else if (action.sendEmail) { %>
          <%- helpers.t('DETAILS:actions:emailOnly', {delay: time.toString(action.delay)}) %>
          <% } else { %>
          <%- helpers.t('DETAILS:actions:smsOnly', {delay: time.toString(action.delay)}) %>
          <% } %>
        </p>
        <ul>
          <% _.forEach(['informAor', 'informManager', 'informMaster', 'informLeader'], function(p) { %>
          <% if (action[p]) { %>
          <li><%- helpers.t('actions:' + p) %></li>
          <% } %>
          <% }) %>
          <% if (action.userWhitelist.length) { %>
          <li><%- helpers.t('actions:userWhitelist') %> <%= _.pluck(action.userWhitelist, 'label').join('; ') %></li>
          <% } %>
        </ul>
        <% if (action.userBlacklist.length) { %>
        <p><%- helpers.t('actions:userBlacklist') %> <%= _.pluck(action.userBlacklist, 'label').join('; ') %></p>
        <% } %>
      </div>
      <% }) %>
    </div>
  </div>
</div>
