<form class="orderDocumentTree-editFile" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%= formMethod %>">
  <%- helpers.formGroup({
    name: 'nc15',
    label: 'files:',
    type: 'static',
    value: _.escape(model._id)
  }) %>
  <%- helpers.formGroup({
    name: 'name',
    label: 'files:',
    required: true
  }) %>
  <div class="form-group">
    <label class="control-label"><%- t('files:folders') %></label>
    <% folders.forEach(function(folder) { %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="folders[]" value="<%- folder.id %>"> <%= folder.path %>
      </label>
    </div>
    <% }) %>
  </div>
  <div class="form-group" style="position: relative">
    <label for="<%- id('components') %>" class="control-label" style="display: flex">
      <span title="<%- t('files:components:help') %>">
        <%- t('files:components') %>
        <i class="fa fa-question-circle"></i>
      </span>
      <a id="<%- id('components-addByName-toggle') %>" href="javascript:void(0)" style="margin-left: auto" title="<%- t('files:components:addByName') %>">
        <i class="fa fa-plus"></i>
      </a>
    </label>
    <input id="<%- id('components') %>" name="components" type="text">
    <div id="<%- id('components-addByName') %>" class="hidden" style="position: absolute; top: 0; right: 0; width: 275px; display: flex; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)">
      <input type="text" class="form-control" placeholder="<%- t('files:components:addByName:placeholder') %>" style="flex: 1 1 auto">
      <button type="button" class="btn btn-default" style="flex: 0; margin-left: -1px"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <%- helpers.formGroup({
    name: 'stations',
    label: 'files:',
    placeholder: '1, 2, 3, 4, 5, 6, 7'
  }) %>
  <div class="checkbox">
    <label class="control-label">
      <input id="<%- id('confirmable') %>" name="confirmable" type="checkbox" value="true"> <%- t('files:confirmable') %>
    </label>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('files:files') %></label>
    <% files.forEach(function(file, i) { %>
    <div class="checkbox">
      <label>
        <input class="orderDocumentTree-editFile-checkbox" type="checkbox" name="files[<%- i %>].hash" value="<%- file.hash %>">
        <input type="hidden" name="files[<%- i %>].type" value="application/pdf">
        <input type="date" name="files[<%- i %>].date" class="form-control" required min="2000-01-01" max="<%- time.getMoment().startOf('day').add(1, 'year').format('YYYY-MM-DD') %>">
      </label>
      <a class="btn btn-default" href="/orderDocuments/<%- model._id %>?original=1&hash=<%- file.hash %>" target="_blank" title="<%- t('editFile:openFile:original') %>"><i class="fa <%- file.icon %>"></i></a>
      <a class="btn btn-default <%- file.ext === 'pdf' ? '' : 'disabled' %>" href="/orderDocuments/<%- model._id %>?hash=<%- file.hash %>" target="_blank" title="<%- t('editFile:openFile:img') %>"><i class="fa fa-file-image-o"></i></a>
      <button data-action="forceConvert" data-hash="<%- file.hash %>" class="btn btn-default" type="button" <%- file.ext === 'pdf' ? '' : 'disabled' %> title="<%- t('editFile:forceConvert') %>"><i class="fa fa-wrench"></i></button>
      <% if (file.updatedAt && file.updater) { %>
      <span style="margin-left: 10px; line-height: 34px; vertical-align: middle">
        <i class="fa fa-clock-o"></i><span style="margin-right: 10px"><%- time.format(file.updatedAt, 'D.M.YYYY HH:mm') %></span>
        <i class="fa fa-user"></i><span><%= file.updater.label %></span>
      </span>
      <% } %>
    </div>
    <% }) %>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><%- t('editFile:submit') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('editFile:cancel') %></button>
  </div>
</form>
