<div class="orderDocumentTree-files-item orderDocumentTree-files-file <%- file.selected ? 'is-selected' : '' %> <%- file.marked ? 'is-marked' : '' %>" <% if (file.id) { %>data-id="<%- file.id %>"<% } %>>
  <span class="orderDocumentTree-files-icon"><i class="fa <%- file.icon || 'fa-file-o' %>"></i></span>
  <span class="orderDocumentTree-files-label"><span class="orderDocumentTree-files-label-text"><%- file.text %></span><span class="orderDocumentTree-files-label-smallText"><%= file.smallText %></span></span>
  <% if (file.id) { %>
  <span class="orderDocumentTree-files-files">
    <% _.forEach(file.files, function(f, i) { %>
    <% if (i < 6) { %>
    <a href="/orderDocuments/<%- file.id %>?original=1&hash=<%- f.hash %>" target="_blank" data-file-id="<%- file.id %>" data-hash="<%- f.hash %>" title="<%= f.title %>"><%- f.date %></a>
    <% } %>
    <% }) %>
  </span>
  <% } %>
</div>
