<div class="orderDocumentTree-page <%- uploading ? 'is-uploading' : '' %>">
  <div id="<%- idPrefix %>-foldersContainer" class="orderDocumentTree-folders-container panel panel-default">
    <div id="<%- idPrefix %>-folders" class="panel-body"></div>
  </div>
  <div id="<%- idPrefix %>-filesContainer" class="orderDocumentTree-files-container panel panel-default">
    <div id="<%- idPrefix %>-path" class="panel-heading orderDocumentTree-path-container"></div>
    <div id="<%- idPrefix %>-toolbar" class="panel-body"></div>
    <div id="<%- idPrefix %>-files" class="panel-body"></div>
  </div>
  <div id="<%- idPrefix %>-uploadContainer" class="orderDocumentTree-uploads-container"></div>
</div>
