<form class="orderDocumentTree-uploads panel panel-default">
  <div id="<%- idPrefix %>-uploads" class="panel-body">
    <% uploads.forEach(function(upload, i) { %>
    <%- renderUpload({upload: upload, i: i}) %>
    <% }) %>
  </div>
  <div class="panel-footer">
    <div class="input-group orderDocumentTree-footer-setDate">
      <input id="<%- idPrefix %>-date" type="date" class="form-control" min="2000-01-01" max="<%- time.getMoment().startOf('day').add(1, 'years').format('YYYY-MM-DD') %>">
      <span class="input-group-btn">
        <button id="<%- idPrefix %>-setDate" class="btn btn-default" name="setDate" type="button" title="<%- helpers.t('uploads:setDate') %>"><i class="fa fa-calendar-check-o"></i></button>
      </span>
    </div>
    <div class="btn-group">
      <button id="<%- idPrefix %>-submit" class="btn btn-primary" type="submit">
        <i class="fa fa-upload"></i>
        <span><%- helpers.t('uploads:submit') %></span>
      </button>
      <button id="<%- idPrefix %>-clear" class="btn btn-danger" type="button" title="<%- helpers.t('uploads:clear') %>"><i class="fa fa-remove"></i></button>
    </div>
  </div>
</form>
