<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-_id" class="control-label is-required"><%- helpers.t('PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-_id" class="form-control" type="text" name="_id" required>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-name" class="control-label is-required"><%- helpers.t('PROPERTY:name') %></label>
        <input id="<%- idPrefix %>-name" class="form-control" type="text" name="name" required>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-markerColor" class="control-label"><%- helpers.t('PROPERTY:markerColor') %></label>
        <select id="<%- idPrefix %>-markerColor" class="form-control" name="markerColor">
          <option></option>
          <% colors.forEach(function(color) { %>
          <option value="<%- color.id %>"><%- color.text %></option>
          <% }) %>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label"><%- helpers.t('PROPERTY:lines') %></label>
        <table class="table table-condensed table-bordered" style="width: 450px">
          <thead>
          <tr>
            <th class="is-min"><%- helpers.t('lines:no') %></th>
            <th><%- helpers.t('lines:id') %></th>
            <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
          </tr>
          </thead>
          <tbody id="<%- idPrefix %>-lines">
          <tr>
            <td class="is-min text-right"></td>
            <td><input name="lines[]" type="text"></td>
            <td class="actions">
              <div class="actions-group">
                <button data-action="up" class="btn btn-default" type="button"><i class="fa fa-arrow-up"></i></button>
                <button data-action="down" class="btn btn-default" type="button"><i class="fa fa-arrow-down"></i></button>
                <button data-action="remove" class="btn btn-default" type="button"><i class="fa fa-remove"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button id="<%- idPrefix %>-addLine" class="btn btn-default" type="button"><i class="fa fa-plus"></i><span><%- helpers.t('lines:add') %></span></button>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
