<form class="well filter-form" autocomplete="off">
  <div class="form-group">
    <label for="<%- id('code') %>"><%- t('PROPERTY:code') %></label>
    <input id="<%- id('code') %>" class="form-control text-fixed" name="code" type="text" pattern="^[0-9]{12}$" maxlength="12" style="width: 110px">
  </div>
  <div class="form-group">
    <label for="<%- id('productFamily') %>"><%- t('PROPERTY:productFamily') %></label>
    <input id="<%- id('productFamily') %>" class="form-control text-fixed" name="productFamily" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('lampColor') %>"><%- t('PROPERTY:lampColor') %></label>
    <input id="<%- id('lampColor') %>" class="form-control text-fixed" name="lampColor" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('ledCount') %>"><%- t('PROPERTY:ledCount') %></label>
    <input id="<%- id('ledCount') %>" class="form-control text-fixed" name="ledCount" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('core', 'filter:submit') %></span></button>
  </div>
</form>
