<form class="well filter-form" autocomplete="off">
  <div class="form-group">
    <label for="<%- id('dummyNc12') %>" class="control-label"><%- t('PROPERTY:dummyFamily') %></label>
    <input id="<%- id('dummyNc12') %>" name="dummyNc12" type="text">
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:changed') %></label>
    <div id="<%- id('changed') %>" class="btn-group filter-btn-group" data-toggle="buttons">
      <label class="btn btn-default"><input type="radio" name="changed" value="true"> <%- t('core', 'BOOL:true') %></label>
      <label class="btn btn-default"><input type="radio" name="changed" value="false"> <%- t('core', 'BOOL:false') %></label>
    </div>
  </div>
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'createdAt',
    type: 'date+time',
    startHour: 6,
    labels: {
      text: t('PROPERTY:createdAt'),
      ranges: true
    }
  }) %>
  <div class="form-group" data-filter="job">
    <label for="<%- idPrefix %>-job"><%- t('PROPERTY:job') %></label>
    <input id="<%- idPrefix %>-job" name="job" class="form-control" type="text" maxlength="36" style="width: 77px">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
