<div class="osh-orgUnitPicker-filter">
  <label class="control-label">
    <% if (labelInput) { %>
    <input type="<%- labelInput.type || 'radio' %>" name="<%- labelInput.name %>" value="<%- labelInput.value %>" class="filter-inLabel" <%- labelInput.checked ? 'checked' : '' %>>
    <% } %>
    <span><%- label %></span>
  </label>
  <div class="btn-group">
    <button id="<%- id('showDialog') %>" class="btn btn-default <%- active ? 'active': '' %>" type="button"><%- button %></button>
    <button id="<%- id('clear') %>" class="btn btn-default" type="button" <%- active ? '' : 'disabled' %>><i class="fa fa-eraser"></i></button>
  </div>
</div>
