<% Object.keys(funcs).forEach(function(func) { %>
<div class="wh-problems-column wh-problems-func <%- funcs[func].className %> <%- funcs[func].solvable ? 'wh-problems-solvable' : '' %>" data-func="<%- func %>">
  <div class="wh-problems-prop">
    <div class="wh-problems-prop-name"><%- funcs[func].label %></div>
    <div class="wh-problems-prop-value"><%- funcs[func].status %></div>
  </div>
  <% if (funcs[func].user) { %>
  <div class="wh-problems-prop">
    <div class="wh-problems-prop-name"><%- t('prop:user') %></div>
    <div class="wh-problems-prop-value"><%- funcs[func].user %></div>
  </div>
  <% } %>
  <% if (funcs[func].carts) { %>
  <div class="wh-problems-prop">
    <div class="wh-problems-prop-name"><%- t('prop:carts') %></div>
    <div class="wh-problems-prop-value"><%- funcs[func].carts %></div>
  </div>
  <% } %>
  <% if (funcs[func].problemArea) { %>
  <div class="wh-problems-prop">
    <div class="wh-problems-prop-name"><%- t('prop:problemArea') %></div>
    <div class="wh-problems-prop-value"><%- funcs[func].problemArea %></div>
  </div>
  <% } %>
  <% if (funcs[func].problem) { %>
  <div class="wh-problems-prop wh-problems-problem">
    <div class="wh-problems-prop-name"><%- t('prop:problem') %></div>
    <div class="wh-problems-prop-value"><%- funcs[func].problem %></div>
  </div>
  <% } %>
</div>
<% }) %>
