<div class="wh-problems-details">
  <div class="wh-problems-details-details">
    <div id="<%- id('orderInfo') %>" class="wh-problems-row <%- whOrder.status === 'cancelled' ? 'is-cancelled' : '' %>">
      <%- renderOrderInfo({
        whOrder: whOrder
      }) %>
    </div>
    <div id="<%- id('funcs') %>" class="wh-problems-row">
      <%- renderFuncs({
        funcs: funcs
      }) %>
    </div>
  </div>
  <div id="<%- id('chat') %>" class="wh-problems-chat-container"></div>
</div>
