<div class="opinionSurveys-details">
  <div class="panel panel-primary opinionSurveys-details-props">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, ['_id', 'label', 'template', 'startDate', 'endDate', 'company']) %>
    </div>
  </div>
  <div class="panel panel-default opinionSurveys-details-intro">
    <div class="panel-heading">
      <%- helpers.t('PROPERTY:intro') %>
    </div>
    <div class="panel-body"><%- model.intro %></div>
  </div>
  <div class="panel panel-default opinionSurveys-details-employers">
    <div class="panel-heading">
      <%- helpers.t('PROPERTY:employers') %>
    </div>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th class="is-min"><%- helpers.t('PROPERTY:employers._id') %></th>
        <th class="is-min"><%- helpers.t('PROPERTY:employers.short') %></th>
        <th><%- helpers.t('PROPERTY:employers.full') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.employers.forEach(function(employer) { %>
      <tr>
        <td class="is-min"><%- employer._id %></td>
        <td class="is-min"><%= employer.short %></td>
        <td><%= employer.full %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default opinionSurveys-details-superiors">
    <div class="panel-heading">
      <%- helpers.t('PROPERTY:superiors') %>
    </div>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th class="is-min"><%- helpers.t('PROPERTY:superiors.short') %></th>
        <th class="is-min"><%- helpers.t('PROPERTY:superiors.full') %></th>
        <th><%- helpers.t('PROPERTY:superiors.division') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.superiors.forEach(function(superior) { %>
      <tr>
        <td class="is-min"><%= superior.short %></td>
        <td class="is-min"><%= superior.full %></td>
        <td><%= superior.division %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default opinionSurveys-details-questions">
    <div class="panel-heading">
      <%- helpers.t('PROPERTY:questions') %>
    </div>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th class="is-min"><%- helpers.t('PROPERTY:questions._id') %></th>
        <th class="is-min"><%- helpers.t('PROPERTY:questions.short') %></th>
        <th><%- helpers.t('PROPERTY:questions.full') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.questions.forEach(function(question) { %>
      <tr>
        <td class="is-min"><%= question._id %></td>
        <td class="is-min"><%= question.short %></td>
        <td><%= question.full %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default opinionSurveys-details-employeeCount">
    <div class="panel-heading">
      <%- helpers.t('PROPERTY:employeeCount') %>
    </div>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th class="is-min"><%- helpers.t('PROPERTY:employeeCount.division') %></th>
        <th class="is-min"><%- helpers.t('PROPERTY:employeeCount.employer') %></th>
        <th><%- helpers.t('PROPERTY:employeeCount.count') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.employeeCount.forEach(function(employeeCount) { %>
      <tr>
        <td class="is-min"><%= employeeCount.division %></td>
        <td class="is-min"><%= employeeCount.employer %></td>
        <td><%- employeeCount.count %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</div>
