<form class="well filter-form opinionSurveys-report-filter">
  <% ['surveys', 'divisions', 'superiors', 'employers'].forEach(function(prop) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-<%- prop %>"><%- t('opinionSurveys', 'report:filter:' + prop) %></label>
    <input id="<%- idPrefix %>-<%- prop %>" name="<%- prop %>" type="text" autocomplete="new-password">
  </div>
  <% }) %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('opinionSurveys', 'report:filter:submit') %></span></button>
  </div>
</form>
