<div class="opinionSurveys-report">
  <div id="<%- idPrefix %>-filter" class="filter-container"></div>
  <div id="<%- idPrefix %>-responseCount"></div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-responseCountByDivision" class="panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-responseCountBySuperior" class="panel panel-default"></div>
    </div>
  </div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-responsePercentBySurvey" class="panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-responsePercentByDivision" class="panel panel-default"></div>
    </div>
  </div>
  <div id="<%- idPrefix %>-answerCountBySurvey" class="panel panel-default"></div>
  <div id="<%- idPrefix %>-answerCountBySuperior" class="panel panel-default"></div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-positiveAnswerPercentBySurvey" class="panel panel-default"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-positiveAnswerPercentByDivision" class="panel panel-default"></div>
    </div>
  </div>
  <div class="opinionSurveys-report-columns">
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-npsTable"></div>
    </div>
    <div class="opinionSurveys-report-column">
      <div id="<%- idPrefix %>-npsChart" class="panel panel-default"></div>
    </div>
  </div>
</div>
