<div class="panel panel-default">
  <div class="panel-heading"><%- t('opinionSurveys', 'report:responseCount:title') %></div>
  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
      <th class="is-min"><%- t('opinionSurveys', 'report:responseCount:survey') %></th>
      <% _.forEach(columns, function(byEmployer) { %>
      <% _.forEach(byEmployer, function(columnName) { %>
      <th class="is-min" colspan="3"><%= columnName %></th>
      <% }) %>
      <% }) %>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% _.forEach(rows, function(row) { %>
    <tr>
      <td class="is-min"><%= row.survey %></td>
      <% _.forEach(columns, function(byEmployer, divisionId) { %>
      <% _.forEach(byEmployer, function(totalCount, employerId) { %>
      <% if (row[divisionId] && row[divisionId][employerId]) { %>
      <td class="is-number is-min"><%- row[divisionId][employerId].responseCount %></td>
      <td class="is-number is-min"><%- row[divisionId][employerId].employeeCount %></td>
      <td class="is-number is-min"><strong><%- row[divisionId][employerId].percent %>%</strong></td>
      <% } else { %>
      <td class="is-number is-min">0</td>
      <td class="is-number is-min">0</td>
      <td class="is-number is-min"><strong>0%</strong></td>
      <% } %>
      <% }) %>
      <% }) %>
      <td></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>
