<form class="well filter-form osh-report-filter" autocomplete="off">
  <div class="form-group">
    <label for="<%- id('type') %>" class="control-label"><%- t('wmes-osh-reports', 'rewards:type') %></label>
    <select id="<%- id('type') %>" name="type[]" class="form-control is-expandable" multiple size="1">
      <% ['kaizen', 'observation'].forEach(type => { %>
      <option value="<%- type %>"><%- t('wmes-osh-reports', `rewards:type:${type}`) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- id('status') %>" class="control-label"><%- t('PROPERTY:status') %></label>
    <select id="<%- id('status') %>" name="status" class="form-control">
      <% ['earned', 'paid', 'unpaid'].forEach(status => { %>
      <option value="<%- status %>"><%- t(`status:${status}`) %></option>
      <% }) %>
    </select>
  </div>
  <%- forms.dateTimeRange({
    idPrefix,
    labels: ['createdAt', 'paidAt'].map(value => ({
      text: t(`PROPERTY:${value}`),
      ranges: true,
      value
    }))
  }) %>
  <div class="form-group">
    <label class="control-label">
      <input type="radio" name="mode" value="employee" class="filter-inLabel">
      <span><%- t('filter:employee') %></span>
    </label>
    <input id="<%- id('employee') %>" name="employee" type="text">
  </div>
  <% if (showOrgUnitFilter) { %>
  <div id="<%- id('orgUnit') %>" class="form-group"></div>
  <% } %>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
