<div>
  <div class="panel panel-default">
    <div class="panel-details">
      <%- helpers.props(model, ['srcId', 'srcTitle', 'srcIp', 'srcUuid']) %>
    </div>
  </div>
  <div class="panel panel-<%- model.result === 'success'  ? 'success' : 'danger' %> icpo-details-entry">
    <div class="panel-heading">
      <%- panelTitle %>
    </div>
    <div class="panel-details">
      <%- helpers.props(model, [
        'serviceTag',
        'driver',
        'gprs',
        'led',
        'startedAt',
        'finishedAt',
        'duration',
        '!errorCode',
        'exception'
      ]) %>
    </div>
  </div>
  <div class="icpo-tabs">
    <ul class="nav nav-tabs">
      <li data-tab="log"><a href="#<%- idPrefix %>-log" data-toggle="tab"><%- helpers.t('tab:log') %></a></li>
      <li data-tab="output"><a href="#<%- idPrefix %>-output" data-toggle="tab"><%- helpers.t('tab:output') %></a></li>
      <li data-tab="orderData"><a href="#<%- idPrefix %>-orderData" data-toggle="tab"><%- helpers.t('tab:orderData') %></a></li>
      <li data-tab="driverData" data-highlight><a href="#<%- idPrefix %>-driverData" data-toggle="tab"><%- helpers.t('tab:driverData') %></a></li>
      <li data-tab="gprsData" data-highlight><a href="#<%- idPrefix %>-gprsData" data-toggle="tab"><%- helpers.t('tab:gprsData') %></a></li>
      <li data-tab="inputData" data-highlight><a href="#<%- idPrefix %>-inputData" data-toggle="tab"><%- helpers.t('tab:inputData') %></a></li>
      <li data-tab="outputData" data-highlight><a href="#<%- idPrefix %>-outputData" data-toggle="tab"><%- helpers.t('tab:outputData') %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="<%- idPrefix %>-log">
        <table class="table table-bordered icpo-log">
          <tbody>
            <% model.log.forEach(function(logEntry) { %>
            <tr>
              <td><time datetime="<%- logEntry.datetime %>"><%- logEntry.time %></time></td>
              <td><%- logEntry.text %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="<%- idPrefix %>-output"><pre><code><%= model.output || '-' %></code></pre></div>
      <div class="tab-pane" id="<%- idPrefix %>-orderData"><pre><code class="txt"><%= model.orderData || '-' %></code></pre></div>
      <div class="tab-pane" id="<%- idPrefix %>-driverData"><pre><code class="xml"><%= model.driverData || '-' %></code></pre></div>
      <div class="tab-pane" id="<%- idPrefix %>-gprsData"><pre><code class="xml"><%= model.gprsData || '-' %></code></pre></div>
      <div class="tab-pane" id="<%- idPrefix %>-inputData"><pre><code class="json"><%= model.inputData || '-' %></code></pre></div>
      <div class="tab-pane" id="<%- idPrefix %>-outputData"><pre><code class="xml"><%= model.outputData || '-' %></code></pre></div>
    </div>
  </div>
</div>
