<div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitle %></div>
    <div class="panel-details">
      <%- helpers.props(model, ['createdAt', '!creator', 'survey', 'employer', 'superior', 'division']) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PANEL:TITLE:comment') %></div>
    <div class="panel-body">
      <%= model.comment || helpers.t('noComment') %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PANEL:TITLE:answers') %></div>
    <table class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th class="is-min"><%- t('opinionSurveys', 'PROPERTY:questions._id') %></th>
        <th class="is-min"><%- t('opinionSurveys', 'PROPERTY:questions.short') %></th>
        <th><%- t('opinionSurveys', 'PROPERTY:questions.full') %></th>
        <th class="is-min"><%- helpers.t('PROPERTY:answer') %></th>
      </tr>
      </thead>
      <tbody>
      <% model.answers.forEach(function(answer) { %>
      <tr>
        <td class="is-min"><%- answer.question._id %></td>
        <td class="is-min"><%= answer.question.short %></td>
        <td><%= answer.question.full %></td>
        <td class="is-min"><%- /^[0-9]+$/.test(answer.answer) ? answer.answer : helpers.t('answer:' + answer.answer) %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</div>
