<form class="well filter-form opinionSurveyResponses-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-survey"><%- helpers.t('PROPERTY:survey') %></label>
    <input id="<%- idPrefix %>-survey" name="survey" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-division"><%- helpers.t('PROPERTY:division') %></label>
    <input id="<%- idPrefix %>-division" name="division" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-employer"><%- helpers.t('PROPERTY:employer') %></label>
    <input id="<%- idPrefix %>-employer" name="employer" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-superior"><%- helpers.t('PROPERTY:superior') %></label>
    <input id="<%- idPrefix %>-superior" name="superior" type="text" autocomplete="new-password">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= helpers.t('filter:submit') %></span></button>
  </div>
</form>
