<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- id('_id') %>" class="control-label is-required"><%- t('PROPERTY:_id') %></label>
        <input id="<%- id('_id') %>" class="form-control" type="text" name="_id" required <%- editMode ? 'disabled' : '' %>>
        <a id="<%- id('duplicateKey') %>" class="form-control-static hidden" style="display: inline-block"><%- t('FORM:ERROR:duplicateKey') %></a>
      </div>
      <div class="form-group">
        <label for="<%- id('paintFamily') %>" class="control-label is-required"><%- t('PROPERTY:paintFamily') %></label>
        <input id="<%- id('paintFamily') %>" class="form-control" type="text" name="paintFamily" required>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
