<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('prodShifts', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details row">
    <div class="col-md-4">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:prodLine') %></div>
          <div class="prop-value"><%= model.prodLine %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:date') %></div>
          <div class="prop-value"><%= model.date %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:shift') %></div>
          <div class="prop-value"><%= model.shift %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:createdAt') %></div>
          <div class="prop-value"><%= model.createdAt %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:creator') %></div>
          <div class="prop-value"><%- model.creator %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('core', 'ORG_UNIT:division') %></div>
          <div class="prop-value"><%= model.division %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('core', 'ORG_UNIT:subdivision') %></div>
          <div class="prop-value"><%= model.subdivision %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('core', 'ORG_UNIT:mrpController') %></div>
          <div class="prop-value"><%= model.mrpControllers %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('core', 'ORG_UNIT:prodFlow') %></div>
          <div class="prop-value"><%= model.prodFlow %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('core', 'ORG_UNIT:workCenter') %></div>
          <div class="prop-value"><%= model.workCenter %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:master') %></div>
          <div class="prop-value"><%- model.master %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:leader') %></div>
          <div class="prop-value"><%- model.leader %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:operator') %></div>
          <div class="prop-value"><%- model.operator %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('prodShifts', 'PROPERTY:totalQuantityDone') %></div>
          <div class="prop-value"><%- t('prodShifts', 'totalQuantityDone', totalQuantityDone) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
