<div class="panel panel-<%- panelType %>">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details row">
    <div class="col-md-4">
      <%- helpers.props(model, ['prodLine', 'date', 'shift', 'createdAt', '!creator']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, ['division', 'subdivision', '!mrpControllers', 'prodFlow', 'workCenter']) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        '!master',
        '!leader',
        '!operator',
        'totalQuantityDone',
        {id: 'efficiency', visible: user.isAllowedTo('PROD_DATA:VIEW:EFF')}
      ]) %>
    </div>
  </div>
</div>
