<form class="prodShifts-editForm" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%= formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-master" class="control-label"><%- helpers.t('PROPERTY:master') %></label>
          <input id="<%- idPrefix %>-master" type="text" autocomplete="new-password" name="master">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-leader" class="control-label"><%- helpers.t('PROPERTY:leader') %></label>
          <input id="<%- idPrefix %>-leader" type="text" autocomplete="new-password" name="leader">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-operator" class="control-label"><%- helpers.t('PROPERTY:operator') %></label>
          <input id="<%- idPrefix %>-operator" type="text" autocomplete="new-password" name="operator">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"><%- helpers.t('PROPERTY:quantitiesDone') %></label>
        <table class="table table-bordered table-condensed prodShifts-form-quantitiesDone">
          <thead>
            <tr>
              <th><%- helpers.t('PROPERTY:quantitiesDone:hour') %></th>
              <th><%- helpers.t('PROPERTY:quantitiesDone:planned') %></th>
              <th><%- helpers.t('PROPERTY:quantitiesDone:actual') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (var h = 0; h < 8; ++h) { %>
            <tr>
              <td><%- h + 1 %>.</td>
              <td><input class="form-control" type="number" name="quantitiesDone[<%- h %>].planned" value="0" min="0" required></td>
              <td><input class="form-control" type="number" name="quantitiesDone[<%- h %>].actual" value="0" min="0" required></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
