<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-from"><%- t('core', 'filter:date:from') %></label>
    <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to"><%- t('core', 'filter:date:to') %></label>
    <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-shift-0"><%- t('prodShifts', 'PROPERTY:shift') %></label>
    <div class="filter-radio-group">
      <% [0, 1, 2, 3].forEach(function(shift) { %>
      <label class="radio-inline">
        <input id="<%- idPrefix %>-shift-<%- shift %>" name="shift" type="radio" value="<%- shift %>">
        <%- t('core', 'SHIFT:' + shift) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div id="<%- idPrefix %>-orgUnit" class="form-group"></div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('prodShifts', 'filter:submit') %></span></button>
  </div>
</form>
