<form class="prodShifts-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%= formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-md-4 has-required-select2">
          <label for="<%- idPrefix %>-prodLine" class="control-label is-required"><%- t('prodShifts', 'PROPERTY:prodLine') %></label>
          <input id="<%- idPrefix %>-prodLine" type="text" name="prodLine" required>
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-date" class="control-label is-required"><%- t('prodShifts', 'PROPERTY:date') %></label>
          <input id="<%- idPrefix %>-date" class="form-control" type="date" name="date" required min="2013-12-01" max="<%- time.format(Date.now(), 'YYYY-MM-DD') %>">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-shift-1" class="control-label is-required"><%- t('prodShifts', 'PROPERTY:shift') %></label>
          <div>
            <label class="radio-inline"><input id="<%- idPrefix %>-shift-1" name="shift" type="radio" value="1" checked required> <%- t('core', 'SHIFT:1') %></label>
            <label class="radio-inline"><input name="shift" type="radio" value="2" required> <%- t('core', 'SHIFT:2') %></label>
            <label class="radio-inline"><input name="shift" type="radio" value="3" required> <%- t('core', 'SHIFT:3') %></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-master" class="control-label"><%- t('prodShifts', 'PROPERTY:master') %></label>
          <input id="<%- idPrefix %>-master" type="text" name="master">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-leader" class="control-label"><%- t('prodShifts', 'PROPERTY:leader') %></label>
          <input id="<%- idPrefix %>-leader" type="text" name="leader">
        </div>
        <div class="form-group col-md-4">
          <label for="<%- idPrefix %>-operator" class="control-label"><%- t('prodShifts', 'PROPERTY:operator') %></label>
          <input id="<%- idPrefix %>-operator" type="text" name="operator">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('prodShifts', 'PROPERTY:quantitiesDone') %></label>
        <table class="table table-bordered table-condensed prodShifts-form-quantitiesDone">
          <thead>
            <tr>
              <th><%- t('prodShifts', 'PROPERTY:quantitiesDone:hour') %></th>
              <th><%- t('prodShifts', 'PROPERTY:quantitiesDone:planned') %></th>
              <th><%- t('prodShifts', 'PROPERTY:quantitiesDone:actual') %></th>
            </tr>
          </thead>
          <tbody>
            <% for (var h = 0; h < 8; ++h) { %>
            <tr>
              <td><%- h + 1 %>.</td>
              <td><input class="form-control" type="number" name="quantitiesDone[<%- h %>].planned" value="0" min="0" required></td>
              <td><input class="form-control" type="number" name="quantitiesDone[<%- h %>].actual" value="0" min="0" required></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
