<table class="prodShifts-timeline-popover">
  <tbody>
  <tr>
    <th><%- helpers.t('timeline:popover:wh:current') %></th>
    <td><%- currentQty %> <%- helpers.t('timeline:popover:wh:qtyUnit') %></td>
    <td><%- currentTime %></td>
  </tr>
  <!--
  <tr>
    <th><%- helpers.t('timeline:popover:wh:next') %></th>
    <td><%- nextQty %> <%- helpers.t('timeline:popover:wh:qtyUnit') %></td>
    <td><%- nextTime %></td>
  </tr>
  //-->
  </tbody>
</table>
