<table class="prodShifts-timeline-popover">
  <% if (managing) { %>
  <tfoot>
    <tr>
      <td colspan="2"><button class="btn btn-block btn-success prodShifts-timeline-addOrder"><%- helpers.t('timeline:action:addOrder') %></button></td>
    </tr>
    <tr>
      <td colspan="2"><button class="btn btn-block btn-danger prodShifts-timeline-addDowntime"><%- helpers.t('timeline:action:addDowntime') %></button></td>
    </tr>
  </tfoot>
  <% } %>
  <tbody>
    <tr>
      <th><%- helpers.t('timeline:popover:startedAt') %></th>
      <td><%- startedAt %></td>
    </tr>
    <tr>
      <th><%- helpers.t('timeline:popover:finishedAt') %></th>
      <td><%- finishedAt %></td>
    </tr>
    <tr>
      <th><%- helpers.t('timeline:popover:duration') %></th>
      <td><%- duration %></td>
    </tr>
  </tbody>
</table>
