<table class="prodShifts-timeline-popover">
  <tr>
    <th><%- t('prodShifts', 'timeline:popover:startedAt') %></th>
    <td><%- startedAt %></td>
  </tr>
  <tr>
    <th><%- t('prodShifts', 'timeline:popover:finishedAt') %></th>
    <td><%- finishedAt %></td>
  </tr>
  <tr>
    <th><%- t('prodShifts', 'timeline:popover:duration') %></th>
    <td><%- duration %></td>
  </tr>
</table>
