<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('wmes-osh-common', 'navbar:hr') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="USERS:VIEW" data-module><a href="#users"><%- t('wmes-osh-common', 'navbar:users') %></a>
    <li data-privilege="OSH:HR:VIEW" data-module="wmes-osh"><a href="#osh/employments"><%- t('wmes-osh-common', 'navbar:employments') %></a>
    <li data-privilege="OSH:HR:VIEW" data-module="wmes-osh"><a href="#osh/targets"><%- t('wmes-osh-common', 'navbar:targets') %></a>
    <li data-privilege="OSH:HR:VIEW OSH:LEADER" data-module="wmes-osh"><a href="#osh/brigades"><%- t('wmes-osh-common', 'navbar:brigades') %></a>
  </ul>
