<li data-privilege="USER" data-module="wmes-osh" data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('wmes-osh-common', 'navbar:kaizens') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="navbar-with-button"><a href="#osh/kaizens"><%- t('wmes-osh-common', 'navbar:entries:all') %></a><button class="btn btn-default" data-href="#osh/kaizens;add"><i class="fa fa-plus"></i></button></li>
    <li><a href="#osh/kaizens?exclude(changes)&sort(-createdAt)&limit(-1337)&status=in=(new,inProgress,verification)"><%- t('wmes-osh-common', 'navbar:entries:open') %></a></li>
    <li><a href="#osh/kaizens?exclude(changes)&sort(-createdAt)&limit(-1337)&users.user.id=mine"><%- t('wmes-osh-common', 'navbar:entries:mine') %></a></li>
    <li><a href="#osh/kaizens?exclude(changes)&sort(-createdAt)&limit(-1337)&users.user.id=unseen"><%- t('wmes-osh-common', 'navbar:entries:unseen') %></a></li>
  </ul>
</li>
