<li data-privilege="USER" data-module="wmes-osh" data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('wmes-osh-common', 'navbar:reports') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#osh/reports/metrics"><%- t('wmes-osh-common', 'navbar:reports:metrics') %></a>
    <li><a href="#osh/reports/engagement"><%- t('wmes-osh-common', 'navbar:reports:engagement') %></a>
    <li><a href="#osh/reports/gratification"><%- t('wmes-osh-common', 'navbar:reports:gratification') %></a>
    <li><a href="#osh/reports/observers"><%- t('wmes-osh-common', 'navbar:reports:observers') %></a>
    <li><a href="#osh/reports/count/nearMiss"><%- t('wmes-osh-common', 'navbar:reports:count/nearMiss') %></a>
    <li><a href="#osh/reports/count/kaizen"><%- t('wmes-osh-common', 'navbar:reports:count/kaizen') %></a>
    <li><a href="#osh/reports/count/action"><%- t('wmes-osh-common', 'navbar:reports:count/action') %></a>
    <li><a href="#osh/reports/count/observation"><%- t('wmes-osh-common', 'navbar:reports:count/observation') %></a>
  </ul>
