<form class="well filter-form xiconfOrders-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'reqDate'
  }) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-_id"><%- helpers.t('PROPERTY:orderNo') %></label>
    <input id="<%- idPrefix %>-_id" class="form-control" name="_id" type="text" autocomplete="new-password" maxlength="9" pattern="^[0-9]+$">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-nc12"><%- helpers.t('PROPERTY:nc12') %></label>
    <input id="<%- idPrefix %>-nc12" class="form-control" name="nc12" type="text" autocomplete="new-password" maxlength="12">
  </div>
  <div class="form-group">
    <label><%- helpers.t('PROPERTY:status') %></label>
    <div id="<%- idPrefix %>-status" class="btn-group filter-btn-group" data-toggle="buttons">
      <% [[-1, 'danger'], [0, 'success'], [1, 'warning']].forEach(function(status) { %>
      <label class="btn btn-<%- status[1] %>">
        <input type="checkbox" name="status[]" value="<%- status[0] %>"> <%- helpers.t('status:' + status[0]) %>
      </label>
      <% }) %>
    </div>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= helpers.t('filter:submit') %></span></button>
  </div>
</form>
