<div class="osh-report">
  <div id="<%- id('filter') %>" class="filter-container"></div>
  <h3><%- t('observers:title:orgUnits') %></h3>
  <div id="<%- id('orgUnits') %>"></div>
  <h3><%- t('observers:title:users') %></h3>
  <div id="<%- id('users') %>"></div>
</div>
