<div class="table-responsive">
  <table class="table table-bordered table-hover osh-report-observers-users">
    <thead>
    <tr>
      <th rowspan="2"><%- t('observers:observer') %></th>
      <% months.forEach(month => { %>
        <th class="osh-report-engagement-group" colspan="6"><%- time.format(month, 'MMMM YYYY') %></th>
      <% }) %>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <% months.forEach(month => { %>
        <th class="osh-report-observers-metric osh-report-observers-group" title="<%- t('observers:cards:title') %>"><%- t('observers:cards:header') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:observations:title') %>"><%- t('observers:observations:header') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:safe:title') %>"><%- t('observers:safe:header') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:risky:title') %>"><%- t('observers:risky:header') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:easy:title') %>"><%- t('observers:easy:header') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:hard:title') %>"><%- t('observers:hard:header') %></th>
      <% }) %>
    </tr>
    </thead>
    <tbody>
    <% users.forEach((user, i) => { %>
      <tr>
        <td><%- user.info %></td>
        <% months.forEach(month => { %>
          <% let metrics = user.months[month] || empty %>
          <td class="osh-report-observers-metric osh-report-observers-group <%- metrics[0] < settings.minObsCards ? 'is-invalid' : '' %>"><%- metrics[0].toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- metrics[1].toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- metrics[3].toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- (metrics[4] + metrics[7]).toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- (metrics[5] + metrics[8]).toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- (metrics[6] + metrics[9]).toLocaleString() %></td>
        <% }) %>
        <td></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
