<div class="osh-report-dataTable">
  <% if (!months.length) { %>
  <p><i class="fa fa-spinner fa-spin"></i></p>
  <% } else { %>
  <table class="dataTable-padded cell-border">
    <thead>
    <tr>
      <th class="is-min is-max-rowspan" rowspan="2"><%- t('observers:observer') %></th>
      <% months.forEach((month, i) => { %>
      <th class="text-center <%- i % 2 === 1 ? 'is-odd' : 'is-even' %>" colspan="7"><%- time.utc.format(month, 'MMMM YYYY') %></th>
      <% }) %>
      <th class="is-max-rowspan is-last" rowspan="2"></th>
    </tr>
    <tr>
      <% months.forEach((month, i) => { %>
      <% var parity = i % 2 === 1 ? 'is-odd' : 'is-even' %>
      <% ['cards', 'observations', 'safe', 'safePercent', 'risky', 'easy', 'hard'].forEach((metric, i) => { %>
      <th class="osh-report-dataTable-metric <%- parity %>" title="<%- t(`observers:${metric}:title`) %>"><%- t(`observers:${metric}:header`) %></th>
      <% }) %>
      <% }) %>
    </tr>
    </thead>
    <tbody>
      <% rows.forEach(row => { %>
      <tr>
        <td class="is-min"><%= row.userLabel %></td>
        <% row.months.forEach((month, i) => { %>
        <% var cls = 'osh-report-dataTable-metric ' + (i % 2 === 1 ? 'is-odd' : 'is-even') %>
        <td class="<%- cls %> <%- month.metrics[0] ? '' : 'is-zero' %>"><%- n(month.metrics[0]) %></td>
        <td class="<%- cls %> <%- month.metrics[1] ? '' : 'is-zero' %>"><%- n(month.metrics[1]) %></td>
        <td class="<%- cls %> <%- month.metrics[3] ? '' : 'is-zero' %>"><%- n(month.metrics[3]) %></td>
        <td class="<%- cls %> <%- month.safePercent ? '' : 'is-zero' %>"><%- n(month.safePercent) %>%</td>
        <td class="<%- cls %> <%- month.metrics[4] + month.metrics[7] ? '' : 'is-zero' %>"><%- n(month.metrics[4] + month.metrics[7]) %></td>
        <td class="<%- cls %> <%- month.metrics[5] + month.metrics[8] ? '' : 'is-zero' %>"><%- n(month.metrics[5] + month.metrics[8]) %></td>
        <td class="<%- cls %> <%- month.metrics[6] + month.metrics[9] ? '' : 'is-zero' %>"><%- n(month.metrics[6] + month.metrics[9]) %></td>
        <% }) %>
        <td class="is-last"></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
</div>
