<div class="table-responsive">
  <table class="table table-bordered table-hover osh-report-observers-users">
    <thead>
    <tr>
      <th rowspan="2"><%- t('observers:observer') %></th>
      <% months.forEach(month => { %>
        <th class="osh-report-engagement-group" colspan="7"><%- time.format(month, 'MMMM YYYY') %></th>
      <% }) %>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <% months.forEach(month => { %>
        <th class="osh-report-observers-metric osh-report-observers-group"><%- t('observers:cards:title') %></th>
        <th class="osh-report-observers-metric"><%- t('observers:observations:title') %></th>
        <th class="osh-report-observers-metric"><%- t('observers:safe:title') %></th>
        <th class="osh-report-observers-metric" title="<%- t('observers:safePercent') %>">%</th>
        <th class="osh-report-observers-metric"><%- t('observers:risky:title') %></th>
        <th class="osh-report-observers-metric"><%- t('observers:easy:title') %></th>
        <th class="osh-report-observers-metric"><%- t('observers:hard:title') %></th>
      <% }) %>
    </tr>
    </thead>
    <tbody>
    <% users.forEach((user, i) => { %>
      <tr>
        <td><%- user.label %></td>
        <% user.months.forEach(metrics => { %>
          <td class="osh-report-observers-metric osh-report-observers-group <%- metrics.cardsInvalid ? 'is-invalid' : '' %>">
            <%- metrics.cards.toLocaleString() %>
          </td>
          <td class="osh-report-observers-metric"><%- metrics.observations.toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- metrics.safe.toLocaleString() %></td>
          <td class="osh-report-observers-metric <%- metrics.safeInvalid ? 'is-invalid' : '' %>"><%- metrics.safePercent %>%</td>
          <td class="osh-report-observers-metric"><%- metrics.risky.toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- metrics.easy.toLocaleString() %></td>
          <td class="osh-report-observers-metric"><%- metrics.hard.toLocaleString() %></td>
        <% }) %>
        <td></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
