<div class="paintShop-list <%- showTimes ? 'paintShop-list-with-times' : '' %>">
  <% orders.forEach(function(order) { %>
  <div class="paintShop-list-item <%- selectedMrp === 'all' || order.mrp === selectedMrp ? 'visible' : 'hidden' %>" data-order-id="<%- order._id %>" data-status="<%- order.status %>" data-mrp="<%- order.mrp %>">
    <span class="paintShop-list-order"><%- order.order %></span>
    <% if (showTimes && order.startedAtText) { %>
    <span class="paintShop-list-time"><i class="fa fa-hourglass-start"></i> <%- order.startedAtText %></span>
    <% } %>
    <% if (showTimes && order.finishedAtText) { %>
    <span class="paintShop-list-time"><i class="fa fa-hourglass-end"></i> <%- order.finishedAtText %></span>
    <% } %>
  </div>
  <% }) %>
  <div class="paintShop-list-item">&nbsp;</div>
</div>
