<% tabs.forEach(function(tab) { %>
<div class="paintShop-tab <%- tab.active ? 'is-active' : '' %> <%- tab.dropZone ? 'is-dropped' : '' %>" data-mrp="<%- tab.mrp %>">
  <% if (tab.description) { %>
  <span class="paintShop-tab-description"><%= tab.description %></span>
  <% } else { %>
  <%= tab.label %>
  <% } %>
  <i class="fa fa-level-down"></i>
</div>
<% }) %>
<div class="paintShop-tab"></div>
