<table class="paintShop-orderDetails">
  <thead>
  <tr>
    <th><%- t('paintShop', 'PROPERTY:no') %></th>
    <th><%- t('paintShop', 'PROPERTY:order') %></th>
    <th><%- t('paintShop', 'PROPERTY:nc12') %></th>
    <th colspan="2"><%- t('paintShop', 'PROPERTY:qty') %></th>
    <th colspan="3"><%- t('paintShop', 'PROPERTY:name') %></th>
  </tr>
  </thead>
  <% if (canAct) { %>
  <tfoot>
  <tr>
    <td colspan="8">
      <div class="paintShop-orderDetails-actions">
        <% if (order.status === 'new') { %>
        <button class="btn btn-warning" type="button" data-action="start"><%- t('paintShop', 'action:start') %></button>
        <button class="btn btn-danger" type="button" data-action="cancel" <%- canResetIgnore ? '' : 'disabled' %>><%- t('paintShop', 'action:cancel') %></button>
        <% } else if (order.status === 'started') { %>
        <button class="btn btn-success" type="button" data-action="finish"><%- t('paintShop', 'action:finish') %></button>
        <% } else { %>
        <button class="btn btn-default" type="button" data-action="reset" <%- canResetIgnore ? '' : 'disabled' %>><%- t('paintShop', 'action:reset') %></button>
        <% } %>
      </div>
    </td>
  </tr>
  </tfoot>
  <% } %>
  <%- renderQueueOrder({order: order}) %>
  <% if (canAct) { %>
  <tbody>
  <tr>
    <td id="<%- idPrefix %>-filler" class="paintShop-orderDetails-filler" colspan="8" style="height: <%- fillerHeight %>px"></td>
  </tr>
  </tbody>
  <% } %>
</table>
