<div class="paintShop" style="height: <%- height %>">
  <div class="paintShop-left">
    <div id="<%- idPrefix %>-todo" class="paintShop-list-container is-scrollable"></div>
    <input id="<%- idPrefix %>-search" class="paintShop-search is-empty" data-vkb="numeric" maxlength="9" placeholder="&#xF002;">
  </div>
  <div class="paintShop-center">
    <div id="<%- idPrefix %>-queue" class="paintShop-queue-container is-scrollable"></div>
    <div class="paintShop-tabs-container">
      <div id="<%- idPrefix %>-selectedPaint" class="paintShop-tab paintShop-tab-paint <%- selectedPaint.dropped ? 'is-dropped' : '' %>">
        <div class="paintShop-tab-paint-inner">
          <i class="fa fa-paint-brush"></i>
          <span><%= selectedPaint.label %></span>
          <i class="fa fa-level-down"></i>
        </div>
      </div>
      <div id="<%- idPrefix %>-tabs" class="paintShop-tabs">
        <%- renderTabs({tabs: tabs}) %>
      </div>
    </div>
  </div>
  <div class="paintShop-right">
    <div id="<%- idPrefix %>-done" class="paintShop-list-container is-scrollable"></div>
    <div id="<%- idPrefix %>-totals" class="paintShop-totals">
      <%- renderTotals({totals: totals}) %>
    </div>
  </div>
  <% if (embedded) { %>
  <div class="paintShop-parentControls">
    <button id="<%- idPrefix %>-switchApps" class="btn btn-default" title="<%- t('paintShop', 'parent:switchApps') %>"><i class="fa fa-window-restore"></i></button>
    <button id="<%- idPrefix %>-reboot" class="btn btn-default" title="<%- t('paintShop', 'parent:reboot') %>"><i class="fa fa-refresh"></i></button>
    <button id="<%- idPrefix %>-shutdown" class="btn btn-default" title="<%- t('paintShop', 'parent:shutdown') %>"><i class="fa fa-power-off"></i></button>
  </div>
  <% } %>
  <div id="<%- idPrefix %>-vkb"></div>
</div>
