<form class="paintShop-paintPicker">
  <div class="paintShop-paintPicker-filter">
    <input id="<%- idPrefix %>-filter" type="text" autocomplete="new-password" class="form-control" data-vkb="numeric">
  </div>
  <div class="paintShop-paintPicker-paints">
    <% paints.forEach(function(paint, i) { %>
    <button class="btn btn-<%- paint.className %> paintShop-paintPicker-paint" type="button" value="<%- paint.nc12 %>">
      <span class="paintShop-paintPicker-no"><%- i + 1 %></span>
      <span class="paintShop-paintPicker-nc12">
        <%- paint.nc12 %>
        <% if (paint.totals) { %>
        <span class="paintShop-paintPicker-totals">
          <% Object.keys(paint.totals).forEach(function(status) { %>
          <% if (status !== 'delivered') { %>
          <span class="paintShop-paintPicker-total" data-status="<%- status %>"><%- paint.totals[status] %></span>
          <% } %>
          <% }) %>
        </span>
        <% } %>
      </span>
      <span class="paintShop-paintPicker-name"><%- _.escape(paint.name) || '&nbsp;' %></span>
      <% if (paint.dropped) { %>
      <i class="fa fa-level-down"></i>
      <% } %>
    </button>
    <% }) %>
  </div>
  <div class="paintShop-paintPicker-buttons">
    <button id="<%- idPrefix %>-select" class="btn btn-primary" type="button"><%- t('paintShop', 'paintPicker:select') %></button>
    <button id="<%- idPrefix %>-msp" class="btn btn-warning" type="button">
      <span><%- t('paintShop', 'paintPicker:msp') %></span><%- mspDropped ? ' <i class="fa fa-level-down"></i>' : '' %>
    </button>
    <button id="<%- idPrefix %>-all" class="btn btn-danger" type="button"><%- t('paintShop', 'paintPicker:all') %></button>
  </div>
</form>
