<tbody class="paintShop-order" data-order-id="<%- order._id %>" data-status="<%- order.status %>">
  <tr class="paintShop-properties paintShop-order-order">
    <td class="paintShop-property" data-property="no" rowspan="<%- order.rowSpan %>">
      <%- order.no %><% if (order.followupNo) { %><br><i class="fa fa-level-<%- order.no < order.followupNo ? 'down' : 'up' %>"></i><br><%- order.followupNo %><% } %>
    </td>
    <td class="paintShop-property" data-property="order"><%- order.order %></td>
    <td class="paintShop-property" data-property="nc12"><%- order.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- order.qty.toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit">PCE</td>
    <td class="paintShop-property" data-property="name"><%- order.name %></td>
    <td class="paintShop-property" data-property="mrpPaintPlacement" rowspan="<%- order.rowSpan %>">
      <span class="paintShop-property" data-property="mrp">
        <i class="fa fa-filter"></i><span><%- order.mrp %></span>
      </span>
      <span class="paintShop-property" data-property="paintType">
      <i class="fa fa-paint-brush"></i><span><%- order.paintType %></span>
      </span>
      <% if (order.placement) { %>
      <span class="paintShop-property" data-property="placement">
        <i class="fa fa-truck"></i><span><%- order.placement %></span>
      </span>
      <% } %>
    </td>
    <td class="paintShop-property" rowspan="<%- order.rowSpan %>">
      <% if (order.startedAt) { %>
      <span class="paintShop-property" data-property="startedAt">
        <i class="fa fa-hourglass-start"></i><span><%- order.startedAt %></span>
      </span>
      <% } %>
      <% if (order.finishedAt) { %>
      <span class="paintShop-property" data-property="finishedAt">
        <i class="fa fa-hourglass-end"></i><span><%- order.finishedAt %></span>
      </span>
      <% } %>
    </td>
  </tr>
  <% order.orders.forEach(function(childOrder) { %>
  <tr class="paintShop-properties paintShop-order-childOrder <%- childOrder.last ? 'is-last' : '' %>">
    <td class="paintShop-property" data-property="order" rowspan="<%- childOrder.rowSpan %>"><%- childOrder.order %></td>
    <td class="paintShop-property" data-property="nc12"><%- childOrder.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- childOrder.qty ? childOrder.qty.toLocaleString() : '?' %></td>
    <td class="paintShop-property">PCE</td>
    <td class="paintShop-property" data-property="name"><%= childOrder.name %></td>
  </tr>
  <% childOrder.components.forEach(function(component) { %>
  <tr class="paintShop-properties paintShop-order-component">
    <td class="paintShop-property" data-property="nc12"><%- component.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- component.qty.toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit"><%- component.unit %></td>
    <td class="paintShop-property" data-property="name"><%= component.name %></td>
  </tr>
  <% }) %>
  <% }) %>
</tbody>
