<tbody class="paintShop-order <%- visible ? 'visible' : 'hidden' %> <%- first ? 'is-first' : '' %> <%- last ? 'is-last' : '' %>" data-order-id="<%- order._id %>" data-status="<%- order.status %>" data-mrp="<%= order.mrp %>" data-cabin="<%- order.cabin %>">
  <tr class="paintShop-properties paintShop-order-order">
    <td class="paintShop-property" data-property="no" rowspan="<%- order[rowSpan] %>">
      <%- order.no %>
      <% order.followups.forEach(function(followup) { %>
      <br>
      <span class="paintShop-order-followup" data-followup-id="<%- followup.id %>">
        <i class="fa fa-long-arrow-<%- order.no < followup.no ? 'down' : 'up' %>"></i>
        <br>
        <%- followup.no %>
        </span>
      <% }) %>
    </td>
    <td class="paintShop-property" data-property="order"><%- order.order %></td>
    <td class="paintShop-property" data-property="nc12"><%- order.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- order.qty.toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit">PCE</td>
    <td class="paintShop-property" data-property="name"><%- order.name %></td>
    <td class="paintShop-property"></td>
    <td class="paintShop-property" data-property="mrpTimePlacement" rowspan="<%- order[rowSpan] %>">
      <span class="paintShop-property paintShop-property-mrp <%- order.status !== 'cancelled' && mrpDropped ? 'is-dropped' : '' %>" data-property="mrp" data-mrp="<%- order.mrp %>" title="<%- t('paintShop', 'PROPERTY:mrp') %>">
        <i class="fa fa-filter"></i><span><%- order.mrp %></span><i class="fa fa-level-down"></i>
      </span>
      <% if (order.startTime) { %>
      <span class="paintShop-property" data-property="startTime" title="<%- t('paintShop', 'PROPERTY:startTime') %>">
      <i class="fa fa-clock-o"></i><span><%- order.startTimeTime %></span>
      </span>
      <% } %>
      <% if (order.placement) { %>
      <span class="paintShop-property" data-property="placement" title="<%- t('paintShop', 'PROPERTY:placement') %>">
        <i class="fa fa-truck"></i><span><%- order.placement %></span>
      </span>
      <% } %>
      <% if (order.qtyPaint) { %>
      <span class="paintShop-property" data-property="qtyPaint" title="<%- t('paintShop', 'PROPERTY:qtyPaint' + (order.drilling ? ':drilling' : '')) %>">
        <i class="fa <%- order.drilling ? 'fa-circle-o' : 'fa-paint-brush' %>"></i><span><%- order.qtyPaint.toLocaleString() %></span>
      </span>
      <% } %>
      <% if (order.qtyDone) { %>
      <span class="paintShop-property" data-property="qtyDone" title="<%- t('paintShop', 'PROPERTY:qtyDone' + (order.drilling ? ':drilling' : '')) %>">
        <i class="fa fa-check"></i><span><%- order.qtyDone.toLocaleString() %></span>
      </span>
      <% } %>
      <span class="paintShop-property" data-property="qtyDlv" title="<%- t('paintShop', 'PROPERTY:qtyDlv') %>">
        <i class="fa fa-shopping-cart"></i><span><%- (order.qty - order.qtyDlv).toLocaleString() %></span>
      </span>
    </td>
    <td class="paintShop-property" rowspan="<%- order[rowSpan] %>" data-property="timesCabin">
      <% if (order.startedAt) { %>
      <span class="paintShop-property" data-property="startedAt" title="<%- t('paintShop', 'PROPERTY:startedAt') %>">
        <i class="fa fa-hourglass-start"></i><span><%- order.startedAtDate %></span>
      </span>
      <% } %>
      <% if (order.finishedAt) { %>
      <span class="paintShop-property" data-property="finishedAt" title="<%- t('paintShop', 'PROPERTY:finishedAt') %>">
        <i class="fa fa-hourglass-end"></i><span><%- order.finishedAtDate %></span>
      </span>
      <% } %>
      <% if (commentVisible && order.comment) { %>
      <span class="paintShop-property" data-property="comment" title="<%- t('paintShop', 'PROPERTY:comment') %>">
        <i class="fa fa-comment"></i><span><%= order.comment %></span>
      </span>
      <% } %>
      <% if (order.cabin) { %>
      <span class="paintShop-property" data-property="cabin" title="<%- t('paintShop', 'PROPERTY:cabin') %>">
        <span><%- order.cabin %></span>
      </span>
      <% } %>
    </td>
  </tr>
  <% order.childOrders.forEach(function(childOrder, i) { %>
  <tr class="paintShop-properties paintShop-order-childOrder <%- childOrder.last ? 'is-last' : '' %> <%- childOrder.deleted ? 'is-deleted' : '' %>">
    <td class="paintShop-property" data-property="order" rowspan="<%- childOrder[rowSpan] %>">
      <%- childOrder.order %>
      <span class="paintShop-childOrder-dropZone <%- getChildOrderDropZoneClass(childOrder, order) %>" data-order-id="<%- order._id %>" data-child-order-index="<%- i %>"><i class="fa fa-level-down"></i></span>
    </td>
    <td class="paintShop-property" data-property="nc12"><%- childOrder.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- childOrder.qty ? childOrder.qty.toLocaleString() : '?' %></td>
    <td class="paintShop-property">PCE</td>
    <td class="paintShop-property" data-property="name"><%= childOrder.name %></td>
    <td class="paintShop-property"></td>
  </tr>
  <% if (childOrder.paintCount > 1) { %>
  <tr class="paintShop-properties paintShop-order-component">
    <td class="paintShop-property" colspan="5">
      <span class="paintShop-orderDetails-message paintShop-orderDetails-multiPaint">
        <i class="fa fa-paint-brush"></i> <%- t('paintShop', 'multiPaint', {count: childOrder.paintCount}) %>
      </span>
    </td>
  </tr>
  <% } else if (childOrder.paintCount === 0) { %>
  <tr class="paintShop-properties paintShop-order-component">
    <td class="paintShop-property" colspan="5">
      <span class="paintShop-orderDetails-message paintShop-orderDetails-drilling">
        <i class="fa fa-circle-o"></i> <%- t('paintShop', 'drilling') %>
      </span>
    </td>
  </tr>
  <% } %>
  <% if (childOrder.drilling) { %>
  <tr class="paintShop-properties paintShop-order-component">
    <td class="paintShop-property" colspan="5">
      <span class="paintShop-orderDetails-message paintShop-orderDetails-drilling" data-drilling-status="<%- childOrder.drilling %>">
        <i class="fa fa-circle-o"></i> <%- t('paintShop', 'drilling:' + childOrder.drilling) %>
      </span>
    </td>
  </tr>
  <% } %>
  <% childOrder.components.forEach(function(component) { %>
  <tr class="paintShop-properties paintShop-order-component <%- component.unit === 'G' || component.unit === 'KG' ? 'is-paint' : '' %> <%- childOrder.deleted ? 'is-deleted' : '' %>">
    <td class="paintShop-property" data-property="nc12"><%- component.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- Math.ceil(component.qty).toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit"><%- component.unit %></td>
    <td class="paintShop-property" data-property="name"><%= component.name %></td>
    <td class="paintShop-property" data-property="placement"><%= component.placement %></td>
  </tr>
  <% }) %>
  <% }) %>
</tbody>
