<tbody class="paintShop-order <%- visible ? 'visible' : 'hidden' %> <%- first ? 'is-first' : '' %> <%- last ? 'is-last' : '' %>" data-order-id="<%- order._id %>" data-status="<%- order.status %>" data-mrp="<%= order.mrp %>">
  <tr class="paintShop-properties paintShop-order-order">
    <td class="paintShop-property" data-property="no" rowspan="<%- order[rowSpan] %>">
      <%- order.no %>
      <% order.followups.forEach(function(followup) { %>
      <br>
      <span class="paintShop-order-followup" data-followup-id="<%- followup.id %>">
        <i class="fa fa-level-<%- order.no < followup.no ? 'down' : 'up' %>"></i>
        <br>
        <%- followup.no %>
        </span>
      <% }) %>
    </td>
    <td class="paintShop-property" data-property="order"><%- order.order %></td>
    <td class="paintShop-property" data-property="nc12"><%- order.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- order.qty.toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit">PCE</td>
    <td class="paintShop-property" data-property="name"><%- order.name %></td>
    <td class="paintShop-property" data-property="mrpTimePlacement" rowspan="<%- order[rowSpan] %>">
      <span class="paintShop-property" data-property="mrp" title="<%- t('paintShop', 'PROPERTY:mrp') %>">
        <i class="fa fa-filter"></i><span><%- order.mrp %></span>
      </span>
      <% if (order.startTime) { %>
      <span class="paintShop-property" data-property="startTime" title="<%- t('paintShop', 'PROPERTY:startTime') %>">
      <i class="fa fa-clock-o"></i><span><%- order.startTimeText %></span>
      </span>
      <% } %>
      <% if (order.placement) { %>
      <span class="paintShop-property" data-property="placement" title="<%- t('paintShop', 'PROPERTY:placement') %>">
        <i class="fa fa-truck"></i><span><%- order.placement %></span>
      </span>
      <% } %>
      <% if (order.qtyDone) { %>
      <span class="paintShop-property" data-property="qtyDone" title="<%- t('paintShop', 'PROPERTY:qtyDone') %>">
        <i class="fa fa-check"></i><span><%- order.qtyDone.toLocaleString() %></span>
      </span>
      <% } %>
    </td>
    <td class="paintShop-property" rowspan="<%- order[rowSpan] %>">
      <% if (order.startedAt) { %>
      <span class="paintShop-property" data-property="startedAt" title="<%- t('paintShop', 'PROPERTY:startedAt') %>">
        <i class="fa fa-hourglass-start"></i><span><%- order.startedAtText %></span>
      </span>
      <% } %>
      <% if (order.finishedAt) { %>
      <span class="paintShop-property" data-property="finishedAt" title="<%- t('paintShop', 'PROPERTY:finishedAt') %>">
        <i class="fa fa-hourglass-end"></i><span><%- order.finishedAtText %></span>
      </span>
      <% } %>
      <% if (commentVisible && order.comment) { %>
      <span class="paintShop-property" data-property="comment" title="<%- t('paintShop', 'PROPERTY:comment') %>">
        <i class="fa fa-comment"></i><span><%= order.comment %></span>
      </span>
      <% } %>
    </td>
  </tr>
  <% order.childOrders.forEach(function(childOrder) { %>
  <tr class="paintShop-properties paintShop-order-childOrder <%- childOrder.last ? 'is-last' : '' %>">
    <td class="paintShop-property" data-property="order" rowspan="<%- childOrder[rowSpan] %>"><%- childOrder.order %></td>
    <td class="paintShop-property" data-property="nc12"><%- childOrder.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- childOrder.qty ? childOrder.qty.toLocaleString() : '?' %></td>
    <td class="paintShop-property">PCE</td>
    <td class="paintShop-property" data-property="name"><%= childOrder.name %></td>
  </tr>
  <% if (childOrder.paintCount > 1) { %>
  <tr class="paintShop-properties paintShop-order-component">
    <td class="paintShop-property" colspan="4">
      <span class="paintShop-orderDetails-multiPaint"><%- t('paintShop', 'multiPaint', {count: childOrder.paintCount}) %></span>
    </td>
  </tr>
  <% } %>
  <% childOrder.components.forEach(function(component) { %>
  <tr class="paintShop-properties paintShop-order-component <%- component.unit === 'G' || component.unit === 'KG' ? 'is-paint' : '' %>">
    <td class="paintShop-property" data-property="nc12"><%- component.nc12 %></td>
    <td class="paintShop-property" data-property="qty"><%- Math.ceil(component.qty).toLocaleString() %></td>
    <td class="paintShop-property" data-property="unit"><%- component.unit %></td>
    <td class="paintShop-property" data-property="name"><%= component.name %></td>
  </tr>
  <% }) %>
  <% }) %>
</tbody>
