<form class="settings paintShop-settings">
  <div class="list-group">
    <% ['general', 'planning', 'load'].forEach(function(tab) { %>
    <a class="list-group-item" href="#paintShop;settings?tab=<%- tab %>" data-tab="<%- tab %>"><%- t('settings:tab:' + tab) %></a>
    <% }) %>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="general">
      <div class="form-group">
        <label for="<%- id('general-documents') %>"><%- t('settings:general:documents') %></label>
        <span class="help-block"><%- t('settings:general:documents:help') %></span>
        <textarea id="<%- id('general-documents') %>" name="paintShop.documents" data-setting data-keyup-delay="2500" class="form-control text-fixed" rows="5"></textarea>
      </div>
    </div>
    <div class="panel-body" data-tab="planning">
      <div class="form-group">
        <label for="<%- id('planning-workCenters') %>"><%- t('settings:planning:workCenters') %></label>
        <span class="help-block"><%- t('settings:planning:workCenters:help') %></span>
        <input id="<%- id('planning-workCenters') %>" name="paintShop.workCenters" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- id('planning-mspPaints') %>"><%- t('settings:planning:mspPaints') %></label>
        <span class="help-block"><%- t('settings:planning:mspPaints:help') %></span>
        <input id="<%- id('planning-mspPaints') %>" name="paintShop.mspPaints" data-setting>
      </div>
    </div>
    <div class="panel-body" data-tab="load">
      <label><%- t('settings:load:statuses') %></label>
      <table class="table table-condensed table-with-tfoot">
        <thead>
        <tr>
          <th class="is-min"><%- t('settings:load:statuses:from') %></th>
          <th class="is-min"><%- t('settings:load:statuses:to') %></th>
          <th class="is-min" colspan="2"><%- t('settings:load:statuses:icon') %></th>
          <th class="is-min"><%- t('settings:load:statuses:color') %></th>
          <th></th>
          <th><%- t('core', 'LIST:COLUMN:actions') %></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="7"><button id="<%- id('load-addStatus') %>" class="btn btn-default" type="button"><i class="fa fa-plus"></i><span><%- t('settings:load:statuses:add') %></span></button></td>
        </tr>
        </tfoot>
        <tbody id="<%- id('load-statuses') %>"></tbody>
      </table>
      <div class="form-group">
        <label for="<%- id('load-delayedDuration') %>"><%- t('settings:load:delayedDuration') %></label>
        <span class="help-block"><%- t('settings:load:delayedDuration:help') %></span>
        <input id="<%- id('load-delayedDuration') %>" name="paintShop.load.delayedDuration" class="form-control" type="number" data-setting>
      </div>
    </div>
  </div>
</form>
