<% _.forEach(totals, function(total, status) { %>
<% if (/^started/.test(status)) { %>
<% if (/[0-9]$/.test(status)) return %>
<div class="paintShop-totals-split">
  <div class="paintShop-totals-total" data-status="started1" title="<%= t('paintShop', 'status:started:cabin', {cabin: 1}) %>"><%- totals.started1 %></div>
  <div class="paintShop-totals-total" data-status="started2" title="<%= t('paintShop', 'status:started:cabin', {cabin: 2}) %>"><%- totals.started2 %></div>
</div>
<% } else { %>
<div class="paintShop-totals-total" data-status="<%- status %>" title="<%= t('paintShop', 'status:' + status) %>"><%- total %></div>
<% } %>
<% }) %>
