<div class="fap-attachments fap-details-panel">
  <div class="fap-details-panel-hd">
    <%- t('PROPERTY:attachments') %>
    <button id="<%- id('upload') %>" type="button" class="btn btn-link" title="<%- helpers.t('attachments:upload') %>"><i class="fa fa-upload"></i></button>
    <input id="<%- id('files') %>" type="file" multiple tabindex="-1">
  </div>
  <div id="<%- id('attachments') %>" class="fap-details-panel-bd fap-details-list">
    <div style="border-top: 1px solid #ddd">&nbsp;</div>
  </div>
  <div id="<%- id('preview') %>" class="fap-attachment-preview hidden">
    <span class="fap-attachment-preview-label"></span>
    <img class="fap-attachment-preview-image">
  </div>
</div>
