<form class="well filter-form fap-report-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix
  }) %>
  <div class="form-group">
    <label><%- t('reports', 'filter:interval') %></label>
    <div id="<%- idPrefix %>-interval" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['year', 'quarter', 'month', 'week', 'day'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input type="radio" name="interval" value="<%- interval %>"> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-mrps"><%- helpers.t('PROPERTY:mrp') %></label>
    <input id="<%- idPrefix %>-mrps" name="mrps" type="text" autocomplete="new-password" data-placeholder=" ">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-categories"><%- helpers.t('PROPERTY:category') %></label>
    <input id="<%- idPrefix %>-categories" name="categories" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-subdivisionTypes"><%- helpers.t('PROPERTY:subdivisionType') %></label>
    <select id="<%- idPrefix %>-subdivisionTypes" name="subdivisionTypes" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% subdivisionTypes.forEach(function(subdivisionType) { %>
      <option value="<%= subdivisionType %>"><%- helpers.t('subdivisionType:' + subdivisionType) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-divisions"><%- helpers.t('PROPERTY:divisions') %></label>
    <select id="<%- idPrefix %>-divisions" name="divisions" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% divisions.forEach(function(division) { %>
      <option value="<%= division.id %>"><%= division.text %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-levels"><%- helpers.t('PROPERTY:level') %></label>
    <div id="<%- idPrefix %>-levels" class="btn-group filter-btn-group" data-toggle="buttons">
      <% [1, 2, 3, 4].forEach(function(level) { %>
        <label class="btn btn-default">
          <input type="radio" name="levels" value="<%- level %>"> <%- level %>
        </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
</form>
