<form class="well filter-form fap-entries-filter" autocomplete="off">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'createdAt',
    startHour: 6,
    hidden: true,
    labels: {
      text: t('PROPERTY:createdAt'),
      ranges: true
    }
  }) %>
  <div class="form-group" data-filter="search">
    <label for="<%- id('search') %>"><%- t('PROPERTY:search') %></label>
    <input id="<%- id('search') %>" name="search" class="form-control" type="text" maxlength="50" style="width: 125px">
  </div>
  <div class="form-group">
    <input id="<%- id('userType') %>" name="userType" type="hidden" value="others">
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <div class="form-group" style="min-width: 150px">
    <div class="filter-radioLabels">
      <label>
        <input name="statusType" type="radio" value="specific">
        <%- t('filter:status:specific') %>
      </label>
      <label class="fap-entries-filter-analysis">
        <input name="statusType" type="radio" value="analysis">
        <%- t('filter:status:analysis') %>
      </label>
    </div>
    <select id="<%- id('status') %>" name="status[]" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% statuses.forEach(function(status) { %>
      <option value="<%- status %>"><%- t('status:' + status) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="order">
    <label for="<%- id('order') %>"><%- t('PROPERTY:order') %></label>
    <input id="<%- id('order') %>" name="order" class="form-control text-mono" type="text" pattern="^[A-Za-z0-9]{7,12}$" style="width: 110px">
  </div>
  <div class="form-group hidden" data-filter="mrp">
    <label for="<%- id('mrp') %>"><%- t('PROPERTY:mrp') %></label>
    <input id="<%- id('mrp') %>" name="mrp" type="text" autocomplete="new-password" data-placeholder=" ">
  </div>
  <div class="form-group hidden" data-filter="category">
    <label for="<%- id('category') %>"><%- t('PROPERTY:category') %></label>
    <input id="<%- id('category') %>" name="category" type="text" autocomplete="new-password" data-placeholder=" ">
  </div>
  <div class="form-group hidden" data-filter="subdivisionType">
    <label for="<%- id('subdivisionType') %>"><%- t('PROPERTY:subdivisionType') %></label>
    <select id="<%- id('subdivisionType') %>" name="subdivisionType[]" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% subdivisionTypes.forEach(function(subdivisionType) { %>
      <option value="<%= subdivisionType %>"><%- t('subdivisionType:' + subdivisionType) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="divisions">
    <label for="<%- id('divisions') %>"><%- t('PROPERTY:divisions') %></label>
    <select id="<%- id('divisions') %>" name="divisions[]" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% divisions.forEach(function(division) { %>
      <option value="<%= division.id %>"><%= division.text %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="level">
    <label for="<%- id('level') %>"><%- t('PROPERTY:level') %></label>
    <div id="<%- id('level') %>" class="btn-group filter-btn-group" data-toggle="buttons">
      <% [0, 1, 2, 3, 4].forEach(function(level) { %>
      <label class="btn btn-default">
        <input type="radio" name="level" value="<%- level %>"> <%- level %>
      </label>
      <% }) %>
    </div>
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
