<form>
  <div class="form-group">
    <label for="<%- id('label') %>" class="control-label is-required"><%- t('quickUsers:label') %></label>
    <input id="<%- id('label') %>" name="label" class="form-control" type="text" required>
  </div>
  <div class="form-group">
    <label for="<%- id('funcs') %>" class="control-label"><%- t('quickUsers:funcs') %></label>
    <input id="<%- id('funcs') %>" name="funcs" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('users') %>" class="control-label"><%- t('quickUsers:users') %></label>
    <input id="<%- id('users') %>" name="users" type="text">
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('quickUsers:submit') %></button>
    <button type="button" class="btn btn-link cancel"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
