<form class="settings fap-settings" autocomplete="off">
  <div class="list-group">
    <a class="list-group-item" href="#fap/settings?tab=general" data-tab="general"><%- t('settings:tab:general') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="general">
      <div class="form-group">
        <label for="<%- id('pendingFunctions') %>"><%- t('settings:general:pendingFunctions') %></label>
        <p class="help-block"><%- t('settings:general:pendingFunctions:help') %></p>
        <input id="<%- id('pendingFunctions') %>" name="fap.pendingFunctions" type="text" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- id('categoryFunctions') %>"><%- t('settings:general:categoryFunctions') %></label>
        <input id="<%- id('categoryFunctions') %>" name="fap.categoryFunctions" type="text" data-setting>
      </div>
      <div class="form-group">
        <label for="<%- id('quickUsers') %>"><%- t('settings:general:quickUsers') %></label>
        <input id="<%- id('quickUsers') %>" name="fap.quickUsers" type="text" data-setting>
      </div>
    </div>
  </div>
</form>
