<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:DICTIONARIES') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="USERS:VIEW" data-module><a href="#users"><%- t('NAVBAR:USERS') %></a>
    <li class="divider">
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#divisions"><%- t('NAVBAR:DIVISIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#subdivisions"><%- t('NAVBAR:SUBDIVISIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#mrpControllers"><%- t('NAVBAR:MRP_CONTROLLERS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodFlows"><%- t('NAVBAR:PROD_FLOWS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#workCenters"><%- t('NAVBAR:WORK_CENTERS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodLines"><%- t('NAVBAR:PROD_LINES') %></a>
    <li class="divider">
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#companies"><%- t('NAVBAR:COMPANIES') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodFunctions"><%- t('NAVBAR:PROD_FUNCTIONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#prodTasks"><%- t('NAVBAR:PROD_TASKS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#orderStatuses"><%- t('NAVBAR:ORDER_STATUSES') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#delayReasons"><%- t('NAVBAR:DELAY_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#downtimeReasons"><%- t('NAVBAR:DOWNTIME_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#lossReasons"><%- t('NAVBAR:LOSS_REASONS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module><a href="#aors"><%- t('NAVBAR:AORS') %></a>
    <li data-privilege="DICTIONARIES:VIEW" data-module="printing"><a href="#printers"><%- t('NAVBAR:PRINTERS') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('NAVBAR:pila:osh') %>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenSections"><%- t('NAVBAR:KAIZEN:sections') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenAreas"><%- t('NAVBAR:KAIZEN:areas') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenCategories"><%- t('NAVBAR:KAIZEN:categories') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenCauses"><%- t('NAVBAR:KAIZEN:causes') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenRisks"><%- t('NAVBAR:KAIZEN:risks') %></a>
    <li data-privilege="KAIZEN:DICTIONARIES:VIEW" data-module="kaizen"><a href="#kaizenBehaviours"><%- t('NAVBAR:KAIZEN:behaviours') %></a>
  </ul>
