<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:pila:observations') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header"><%- t('NAVBAR:pila:observations:entries') %>
    <li data-privilege="USER" data-module class="navbar-with-button"><a href="#behaviorObsCards"><%- t('NAVBAR:KAIZEN:all') %></a><button class="btn btn-default" data-href="#behaviorObsCards;add"><i class="fa fa-plus"></i></button>
    <li data-privilege="USER" data-module><a href="#behaviorObsCards?users=mine&sort(-date)&limit(20)"><%- t('NAVBAR:KAIZEN:mine') %></a>
    <li class="divider">
    <li class="dropdown-header"><%- t('NAVBAR:pila:reports') %>
    <li data-privilege="USER" data-module="behaviorObsCards"><a href="#behaviorObsCardCountReport"><%- t('NAVBAR:KAIZEN:reports:observations') %></a>
    <li data-privilege="USER" data-module="kaizen"><a href="#kaizenEngagementReport"><%- t('NAVBAR:KAIZEN:reports:engagement') %></a>
    <li data-privilege="USER" data-module="kaizen"><a href="#kaizenMetricsReport"><%- t('NAVBAR:KAIZEN:reports:metrics') %></a>
  </ul>
