<div class="panel panel-primary users-details">
  <div class="panel-heading">
    <%- t('users', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details row">
    <div class="col-md-4">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:name') %></div>
          <div class="prop-value"><%= model.lastName || '' %> <%= model.firstName || '' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:gender') %></div>
          <div class="prop-value"><%= model.gender ? t('users', 'gender:' + model.gender) : '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:personellId') %></div>
          <div class="prop-value"><%= model.personellId || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:card') %></div>
          <div class="prop-value"><%= model.card || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:active') %></div>
          <div class="prop-value"><%= t('users', 'ACTIVE:' + model.active) %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:orgUnit') %></div>
          <div class="prop-value"><%- model.orgUnit || '-' %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:company') %></div>
          <div class="prop-value"><%= model.company || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:kdDivision') %></div>
          <div class="prop-value"><%= model.kdDivision || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:kdPosition') %></div>
          <div class="prop-value"><%= model.kdPosition || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:aors') %></div>
          <div class="prop-value"><%= model.aors || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:prodFunction') %></div>
          <div class="prop-value"><%= model.prodFunction || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:vendor') %></div>
          <div class="prop-value"><%= model.vendor || '-' %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:login') %></div>
          <div class="prop-value"><%= model.login %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:email') %></div>
          <div class="prop-value"><%= model.email || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('users', 'PROPERTY:privileges') %></div>
          <div class="prop-value">
            <% model.privileges.forEach(function(privilege) { %>
            <span class="label label-<%- /MANAGE/.test(privilege) ? 'warning' : 'info' %>"><%- t('users', 'PRIVILEGE:' + privilege) %></span>
            <% }) %>
          </div>
        </div>
    </div>
  </div>
</div>
