<div class="users-details">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%- t('PANEL:TITLE:details:basic') %></div>
        <div class="panel-details">
          <%- helpers.props(model, [
            'active',
            'login',
            'personnelId',
            'card',
            {id: 'cardUid', visible: !!model.cardUid},
            {id: 'company', visible: !!model.syncData.company, value: () => model.syncData.company},
            {id: 'workplace', visible: !!model.syncData.workplace, value: () => model.syncData.workplace},
            {id: 'division', visible: !!model.syncData.department, value: () => model.syncData.department},
            {id: 'jobTitle', visible: !!model.syncData.jobTitle, value: () => model.syncData.jobTitle}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%- t('PANEL:TITLE:details:contact') %></div>
        <div class="panel-details">
          <%- helpers.props(model, [
            'name',
            'email',
            {id: '!mobile', value: function(mobiles)
            {
              if (_.isEmpty(mobiles))
              {
                return '';
              }

              if (mobiles.length === 1)
              {
                return t('DETAILS:mobile:item', mobiles[0]);
              }

              return '<ul>'
                + mobiles.map(function(mobile) { return '<li>' + t('DETAILS:mobile:item', mobile); })
                + '</ul>';
            }}
          ]) %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><%- t('PANEL:TITLE:details:extra') %></div>
        <div class="panel-details">
          <%- helpers.props(model, [
            {id: 'company', visible: loadedModules.isLoaded('companies')},
            {id: 'prodFunction', visible: loadedModules.isLoaded('prodFunctions')},
            {id: '!prodOrgUnit', visible: loadedModules.isLoaded('orgUnits')},
            {id: 'oshWorkplace', visible: loadedModules.isLoaded('wmes-osh')},
            {id: 'oshDepartment', visible: loadedModules.isLoaded('wmes-osh')},
            {id: '!aors', visible: loadedModules.isLoaded('aors'), value: function(aors)
            {
              if (_.isEmpty(aors))
              {
                return '';
              }

              if (aors.length === 1)
              {
                return _.escape(aors[0]);
              }

              return '<ul>'
                + aors.map(function(aor) { return '<li>' + _.escape(aor); })
                + '</ul>';
            }},
            {id: 'mrps', visible: loadedModules.isLoaded('mrpControllers')},
            {id: 'vendor', visible: loadedModules.isLoaded('vendors')}
          ]) %>
        </div>
      </div>
    </div>
  </div>
  <% if (!_.isEmpty(model.notifications)) { %>
  <div class="panel panel-default users-details-privileges">
    <div class="panel-heading"><%- t('PROPERTY:notifications') %></div>
    <div class="panel-body">
      <% model.notifications.forEach(function(n) { %>
      <span class="label label-default"><%- t('preferences:' + n) %></span>
      <% }) %>
    </div>
  </div>
  <% } %>
  <% if (!_.isEmpty(model.privileges)) { %>
  <div class="panel panel-default users-details-privileges">
    <div class="panel-heading"><%- t('PANEL:TITLE:details:privileges') %></div>
    <div class="panel-body">
      <% model.privileges.forEach(function(privilege) { %>
      <span class="label label-<%- /VIEW/.test(privilege) ? 'info' : 'warning' %>"><%- t('PRIVILEGE:' + privilege) %></span>
      <% }) %>
    </div>
  </div>
  <% } %>
</div>
