<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-personellId"><%- t('users', 'PROPERTY:personellId') %></label>
    <input id="<%- idPrefix %>-personellId" class="form-control" name="personellId" type="text" placeholder="<%- t('users', 'filter:placeholder:personellId') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-lastName"><%- t('users', 'PROPERTY:lastName') %></label>
    <input id="<%- idPrefix %>-lastName" class="form-control" name="lastName" type="text" placeholder="<%- t('users', 'filter:placeholder:lastName') %>">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('users', 'filter:submit') %></span></button>
  </div>
</form>
