<form class="users-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="<%- idPrefix %>-login" class="control-label is-required"><%- helpers.t('PROPERTY:login') %></label>
            <input id="<%- idPrefix %>-login" class="form-control" type="text" autocomplete="new-password" name="login" required maxlength="50">
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-password" class="control-label <%- editMode ? '' : 'is-required' %>"><%- helpers.t('PROPERTY:' + (editMode ? 'newPassword' : 'password')) %></label>
            <input id="<%- idPrefix %>-password" class="form-control" type="password" name="password" <%- editMode ? '' : 'required' %>>
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-password2" class="control-label <%- editMode ? '' : 'is-required' %>"><%- helpers.t('PROPERTY:password2') %></label>
            <input id="<%- idPrefix %>-password2" class="form-control" type="password" <%- editMode ? '' : 'required' %>>
            <% if (editMode) { %>
            <p class="help-block"><%- helpers.t('FORM:HELP:password') %></p>
            <% } %>
          </div>
          <% if (!accountMode) { %>
          <div class="form-group users-form-active">
            <label for="<%- idPrefix %>-active" class="control-label is-required"><%- helpers.t('PROPERTY:active') %></label>
            <div>
              <% ['true', 'false'].forEach(function(active) { %>
              <label class="radio-inline">
                <input type="radio" name="active" value="<%- active %>" required> <%- helpers.t('active:' + active) %>
              </label>
              <% }) %>
            </div>
          </div>
          <% } %>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-6 form-group">
                <label for="<%- idPrefix %>-firstName" class="control-label"><%- helpers.t('PROPERTY:firstName') %></label>
                <input id="<%- idPrefix %>-firstName" class="form-control" type="text" autocomplete="new-password" name="firstName" autofocus maxlength="50">
            </div>
            <div class="col-lg-6 form-group">
                <label for="<%- idPrefix %>-lastName" class="control-label"><%- helpers.t('PROPERTY:lastName') %></label>
                <input id="<%- idPrefix %>-lastName" class="form-control" type="text" autocomplete="new-password" name="lastName" maxlength="50">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="<%- idPrefix %>-personellId" class="control-label"><%- helpers.t('PROPERTY:personellId') %></label>
              <input id="<%- idPrefix %>-personellId" class="form-control" type="text" autocomplete="new-password" name="personellId" maxlength="15">
            </div>
            <div class="col-lg-6 form-group">
              <label for="<%- idPrefix %>-kdId" class="control-label"><%- helpers.t('PROPERTY:kdId') %></label>
              <input id="<%- idPrefix %>-kdId" class="form-control" type="text" autocomplete="new-password" name="kdId" pattern="^-?[0-9]+$">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="<%- idPrefix %>-card" class="control-label"><%- helpers.t('PROPERTY:card') %></label>
              <input id="<%- idPrefix %>-card" class="form-control" type="text" autocomplete="new-password" name="card" maxlength="15">
            </div>
            <div class="col-lg-6 form-group">
              <label for="<%- idPrefix %>-cardUid" class="control-label"><%- helpers.t('PROPERTY:cardUid') %></label>
              <input id="<%- idPrefix %>-cardUid" class="form-control" type="text" autocomplete="new-password" name="cardUid" maxlength="15">
            </div>
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-gender" class="control-label is-required"><%- helpers.t('PROPERTY:gender') %></label>
            <div>
              <% ['female', 'male'].forEach(function(gender) { %>
              <label class="radio-inline">
                <input type="radio" name="gender" value="<%- gender %>" required> <%- helpers.t('gender:' + gender) %>
              </label>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="<%- idPrefix %>-email" class="control-label"><%- helpers.t('PROPERTY:email') %></label>
            <input id="<%- idPrefix %>-email" class="form-control" type="email" name="email" maxlength="100">
          </div>
          <div class="form-group">
            <label class="control-label"><%- helpers.t('PROPERTY:mobile') %></label>
            <div id="<%- idPrefix %>-mobile-list"></div>
            <div id="<%- idPrefix %>-mobile" class="users-form-mobile">
              <input id="<%- idPrefix %>-mobile-number" class="form-control users-form-mobile-number" type="text" autocomplete="new-password" placeholder="+00 000 000 000">
              <span><%- helpers.t('FORM:mobile:from') %></span>
              <input id="<%- idPrefix %>-mobile-from" class="form-control users-form-mobile-hours" type="text" autocomplete="new-password" placeholder="00:00">
              <span><%- helpers.t('FORM:mobile:to') %></span>
              <input id="<%- idPrefix %>-mobile-to" class="form-control users-form-mobile-hours" type="text" autocomplete="new-password" placeholder="00:00">
              <button id="<%- idPrefix %>-mobile-add" class="btn btn-link" type="button"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label"><%- helpers.t('PROPERTY:notifications') %></label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="preferences.fap_sms" value="true"> <%- helpers.t('preferences:fap_sms') %>
              </label>
            </div>
          </div>
        </div>
        <% if (accountMode) { %>
        <div class="col-lg-3">
          <div class="form-group users-form-mrp">
            <label for="<%- idPrefix %>-mrps" class="control-label"><%- helpers.t('PROPERTY:mrps') %></label>
            <input id="<%- idPrefix %>-mrps" name="mrps">
          </div>
        </div>
        <% } else { %>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="<%- idPrefix %>-company" class="control-label"><%- helpers.t('PROPERTY:company') %></label>
            <select id="<%- idPrefix %>-company" name="company" data-placeholder="<%- helpers.t('NO_DATA:company') %>">
              <option></option>
              <% companies.forEach(function(company) { %>
              <option value="<%- company._id %>"><%= company.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-prodFunction" class="control-label"><%- helpers.t('PROPERTY:prodFunction') %></label>
            <input id="<%- idPrefix %>-prodFunction" name="prodFunction" type="text" autocomplete="new-password" data-placeholder="<%- helpers.t('NO_DATA:prodFunction') %>">
          </div>
          <div class="orgUnitDropdowns-container"></div>
          <div class="form-group users-form-aor">
            <label for="<%- idPrefix %>-aors" class="control-label"><%- helpers.t('PROPERTY:aors') %></label>
            <select id="<%- idPrefix %>-aors" name="aors[]" multiple data-placeholder="<%- helpers.t('NO_DATA:aors') %>">
              <option></option>
              <% aors.forEach(function(aor) { %>
              <option value="<%- aor._id %>"><%= aor.name %>
                <% }) %>
            </select>
          </div>
          <div class="form-group users-form-mrp">
            <label for="<%- idPrefix %>-mrps" class="control-label"><%- helpers.t('PROPERTY:mrps') %></label>
            <input id="<%- idPrefix %>-mrps" name="mrps">
          </div>
          <div class="form-group">
            <label for="<%- idPrefix %>-vendor" class="control-label"><%- helpers.t('PROPERTY:vendor') %></label>
            <input id="<%- idPrefix %>-vendor" type="text" autocomplete="new-password" name="vendor" maxlength="15">
          </div>
        </div>
        <% } %>
      </div>
      <% if (!accountMode) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-privileges" class="control-label"><%- helpers.t('PROPERTY:privileges') %></label>
        <div class="input-group">
          <input id="<%- idPrefix %>-privileges" type="text" autocomplete="new-password" name="privileges">
          <span class="input-group-btn">
            <button id="<%- idPrefix %>-copyPrivileges" class="btn btn-default" type="button"><i class="fa fa-copy"></i></button>
          </span>
        </div>
      </div>
      <% } %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
