<form class="users-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="<%- id('login') %>" class="control-label is-required"><%- t('PROPERTY:login') %></label>
            <input id="<%- id('login') %>" class="form-control" type="text" name="login" required maxlength="50">
          </div>
          <div class="form-group">
            <label for="<%- id('password') %>" class="control-label <%- editMode ? '' : 'is-required' %>"><%- t('PROPERTY:' + (editMode ? 'newPassword' : 'password')) %></label>
            <input id="<%- id('password') %>" class="form-control" type="password" name="password" <%- editMode ? '' : 'required' %>>
          </div>
          <div class="form-group">
            <label for="<%- id('password2') %>" class="control-label <%- editMode ? '' : 'is-required' %>"><%- t('PROPERTY:password2') %></label>
            <input id="<%- id('password2') %>" class="form-control" type="password" <%- editMode ? '' : 'required' %>>
            <% if (editMode) { %>
            <p class="help-block"><%- t('FORM:HELP:password') %></p>
            <% } %>
          </div>
          <% if (!accountMode) { %>
          <div class="form-group users-form-active">
            <label for="<%- id('active') %>" class="control-label is-required"><%- t('PROPERTY:active') %></label>
            <div>
              <% ['true', 'false'].forEach(function(active) { %>
              <label class="radio-inline">
                <input type="radio" name="active" value="<%- active %>" required> <%- t('active:' + active) %>
              </label>
              <% }) %>
            </div>
          </div>
          <% } %>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-6 form-group">
                <label for="<%- id('firstName') %>" class="control-label"><%- t('PROPERTY:firstName') %></label>
                <input id="<%- id('firstName') %>" class="form-control" type="text" name="firstName" maxlength="50">
            </div>
            <div class="col-lg-6 form-group">
                <label for="<%- id('lastName') %>" class="control-label"><%- t('PROPERTY:lastName') %></label>
                <input id="<%- id('lastName') %>" class="form-control" type="text" name="lastName" maxlength="50">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="<%- id('personnelId') %>" class="control-label"><%- t('PROPERTY:personnelId') %></label>
              <input id="<%- id('personnelId') %>" class="form-control" type="text" name="personnelId" maxlength="15">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="<%- id('card') %>" class="control-label"><%- t('PROPERTY:card') %></label>
              <input id="<%- id('card') %>" class="form-control" type="text" name="card" maxlength="15">
            </div>
            <div class="col-lg-6 form-group">
              <label for="<%- id('cardUid') %>" class="control-label"><%- t('PROPERTY:cardUid') %></label>
              <input id="<%- id('cardUid') %>" class="form-control" type="text" name="cardUid" maxlength="15">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="<%- id('email') %>" class="control-label"><%- t('PROPERTY:email') %></label>
            <input id="<%- id('email') %>" class="form-control" type="email" name="email" maxlength="100">
          </div>
          <div class="form-group">
            <label class="control-label"><%- t('PROPERTY:mobile') %></label>
            <div id="<%- id('mobile-list') %>"></div>
            <div id="<%- id('mobile') %>" class="users-form-mobile">
              <input id="<%- id('mobile-number') %>" class="form-control users-form-mobile-number" type="text" placeholder="+00 000 000 000">
              <span><%- t('FORM:mobile:from') %></span>
              <input id="<%- id('mobile-from') %>" class="form-control users-form-mobile-hours" type="text" placeholder="00:00">
              <span><%- t('FORM:mobile:to') %></span>
              <input id="<%- id('mobile-to') %>" class="form-control users-form-mobile-hours" type="text" placeholder="00:00">
              <button id="<%- id('mobile-add') %>" class="btn btn-link" type="button"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label"><%- t('PROPERTY:notifications') %></label>
            <% notifications.forEach(function(pref) { %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="preferences.<%- pref %>" value="true"> <%- t('preferences:' + pref) %>
              </label>
            </div>
            <% }) %>
          </div>
        </div>
        <% if (accountMode) { %>
        <div class="col-lg-3">
          <% if (loadedModules.isLoaded('mrpControllers')) { %>
          <div class="form-group users-form-mrp">
            <label for="<%- id('mrps') %>" class="control-label"><%- t('PROPERTY:mrps') %></label>
            <input id="<%- id('mrps') %>" name="mrps">
          </div>
          <% } %>
        </div>
        <% } else { %>
        <div class="col-lg-3">
          <% if (loadedModules.isLoaded('companies')) { %>
          <div class="form-group">
            <label for="<%- id('company') %>" class="control-label"><%- t('PROPERTY:company') %></label>
            <input id="<%- id('company') %>" name="company">
          </div>
          <% } %>
          <% if (loadedModules.isLoaded('prodFunctions')) { %>
          <div class="form-group">
            <label for="<%- id('prodFunction') %>" class="control-label"><%- t('PROPERTY:prodFunction') %></label>
            <input id="<%- id('prodFunction') %>" name="prodFunction">
          </div>
          <% } %>
          <% if (loadedModules.isLoaded('orgUnits')) { %>
          <div class="orgUnitDropdowns-container"></div>
          <% } %>
          <% if (loadedModules.isLoaded('aors')) { %>
          <div class="form-group users-form-aor">
            <label for="<%- id('aors') %>" class="control-label"><%- t('PROPERTY:aors') %></label>
            <input id="<%- id('aors') %>" name="aors">
          </div>
          <% } %>
          <% if (loadedModules.isLoaded('mrpControllers')) { %>
          <div class="form-group users-form-mrp">
            <label for="<%- id('mrps') %>" class="control-label"><%- t('PROPERTY:mrps') %></label>
            <input id="<%- id('mrps') %>" name="mrps">
          </div>
          <% } %>
          <% if (loadedModules.isLoaded('vendors')) { %>
          <div class="form-group">
            <label for="<%- id('vendor') %>" class="control-label"><%- t('PROPERTY:vendor') %></label>
            <input id="<%- id('vendor') %>" name="vendor">
          </div>
          <% } %>
          <% if (loadedModules.isLoaded('wmes-osh')) { %>
          <div class="form-group">
            <label for="<%- id('oshWorkplace') %>" class="control-label"><%- t('PROPERTY:oshWorkplace') %></label>
            <input id="<%- id('oshWorkplace') %>" name="oshWorkplace">
          </div>
          <div class="form-group">
            <label for="<%- id('oshDivision') %>" class="control-label"><%- t('PROPERTY:oshDivision') %></label>
            <input id="<%- id('oshDivision') %>" name="oshDivision">
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
      <% if (!accountMode) { %>
      <div class="form-group">
        <label for="<%- id('privileges') %>" class="control-label"><%- t('PROPERTY:privileges') %></label>
        <div class="input-group">
          <input id="<%- id('privileges') %>" type="text" name="privileges">
          <span class="input-group-btn">
            <button id="<%- id('copyPrivileges') %>" class="btn btn-default" type="button"><i class="fa fa-copy"></i></button>
          </span>
        </div>
      </div>
      <% } %>
      <% if (user.isAllowedTo('SUPER')) { %>
      <div class="form-group">
        <label for="<%- id('apiKey') %>" class="control-label"><%- t('PROPERTY:apiKey') %></label>
        <div class="input-group">
          <input id="<%- id('apiKey') %>" type="text" name="apiKey" class="form-control text-fixed" pattern="^[a-zA-Z0-9-_]{64}$">
          <span class="input-group-btn">
            <button id="<%- id('genApiKey') %>" class="btn btn-default" type="button"><i class="fa fa-refresh"></i></button>
          </span>
        </div>
      </div>
      <%} %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
