<form class="logInForm" method="post" action="/login">
  <div id="<%- id('message') %>" class="message message-inline message-warning hidden"></div>
  <div class="form-group">
    <input id="<%- id('login') %>" name="login" type="text" autocomplete="new-password" class="form-control input-lg" required placeholder="<%- t('LOG_IN_FORM:LABEL:LOGIN') %>" autofocus>
  </div>
  <div class="form-group">
    <input id="<%- id('password') %>" name="password" type="password" class="form-control input-lg" required placeholder="<%- t('LOG_IN_FORM:LABEL:PASSWORD') %>">
  </div>
  <div id="<%- id('password2-container') %>" class="form-group hidden">
    <input id="<%- id('password2') %>" name="password2" type="password" class="form-control input-lg" placeholder="<%- t('LOG_IN_FORM:LABEL:NEW_PASSWORD2') %>">
  </div>
  <button class="btn btn-block btn-lg btn-primary logInForm-submit" type="submit">
    <i class="fa fa-spinner fa-spin logInForm-submit-spinner"></i>
    <span class="logInForm-submit-label"><%- t('LOG_IN_FORM:SUBMIT:LOG_IN') %></span>
  </button>
  <p class="logInForm-links">
    <% if (OFFICE365_TENANT) { %>
    <button id="<%- id('office365') %>" class="btn btn-link hidden logInForm-links-office365" type="button">
      <i class="fa fa-windows"></i>
      <span><%- t('LOG_IN_FORM:LINK:OFFICE365', {OFFICE365_TENANT: OFFICE365_TENANT}) %></span>
    </button>
    <% } %>
    <button id="<%- id('loginLink') %>" class="btn btn-link" type="button"><%- t('LOG_IN_FORM:LINK:LOG_IN') %></button>
    <button id="<%- id('resetLink') %>" class="btn btn-link" type="button"><%- t('LOG_IN_FORM:LINK:RESET') %></button>
  </p>
</form>
