<div class="orderDocuments-compRels-item">
  <div class="orderDocuments-compRels-hd"><%- t('compRels:hd') %></div>
  <div class="orderDocuments-compRels-bd">
    <div class="orderDocuments-compRels-old">
      <%= compRel.oldCode %>
      <small><%= compRel.oldName %></small>
    </div>
    <div class="orderDocuments-compRels-separator">🡆</div>
    <div class="orderDocuments-compRels-new">
      <%= compRel.newCode %>
      <small><%= compRel.newName %></small>
    </div>
  </div>
</div>
