<form class="orderDocuments-localOrderPicker <%- touch ? 'is-touch' : '' %>" autocomplete="off">
  <div class="form-group">
    <label for="<%- idPrefix %>-orderNo" class="control-label is-required"><%- t('orderDocuments', 'localOrderPicker:orderNo') %></label>
    <input id="<%- idPrefix %>-orderNo" name="orderNo" class="form-control" type="text" required maxlength="15" pattern="^([0-9]{9}|[0-9]{15})$" autofocus>
  </div>
  <div class="row">
    <div class="col-md-6 orderDocuments-localOrderPicker-numpad">
      <% include _numpad.ejs %>
    </div>
    <div id="<%- idPrefix %>-plannedOrders" class="col-md-3 orderDocuments-localOrderPicker-plannedOrders">
      <label class="control-label"><%- t('orderDocuments', 'localOrderPicker:plannedOrders') %></label>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div id="<%- idPrefix %>-lastOrders" class="col-md-3 orderDocuments-localOrderPicker-lastOrders">
      <label class="control-label"><%- t('orderDocuments', 'localOrderPicker:lastOrders') %></label>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-primary <%- touch ? 'btn-lg' : '' %>" type="submit"><i class="fa fa-search"></i><span><%- t('orderDocuments', 'localOrderPicker:submit') %></span></button>
  </div>
</form>
