<div class="snf-programs-image">
  <p class="snf-programs-image-label"><%= image.label %></p>
  <img src="/snf/programs/<%- programId %>/images/<%- image._id %>.<%- image.type %>" alt="<%= image.label %>">
</div>
