<div class="panel panel-primary">
  <div class="panel-heading"><%- t('downtimeReasons', 'PANEL:TITLE:details') %></div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:_id') %></div>
        <div class="prop-value"><%= model._id %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:label') %></div>
        <div class="prop-value"><%= model.label %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:type') %></div>
        <div class="prop-value"><%= model.type %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:subdivisionTypes') %></div>
        <div class="prop-value"><%= model.subdivisionTypes %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:opticsPosition') %></div>
        <div class="prop-value"><%- model.opticsPosition %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:pressPosition') %></div>
        <div class="prop-value"><%- model.pressPosition %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:auto') %></div>
        <div class="prop-value"><%- model.auto %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:scheduled') %></div>
        <div class="prop-value"><%- model.scheduled %></div>
      </div>
    </div>
  </div>
</div>
