<div class="panel panel-primary">
  <div class="panel-heading"><%- t('downtimeReasons', 'PANEL:TITLE:details') %></div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:_id') %></div>
        <div class="prop-value"><%= model._id %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:label') %></div>
        <div class="prop-value"><%= model.label || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:pressPosition') %></div>
        <div class="prop-value"><%- model.pressPosition > -1 ? model.pressPosition : '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('downtimeReasons', 'PROPERTY:report1') %></div>
        <div class="prop-value"><%- t('core', 'BOOL:' + model.report1) %></div>
      </div>
    </div>
  </div>
</div>
