<form class="downtimeReasons-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label is-required"><%- t('downtimeReasons', 'PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" autocomplete="new-password" name="_id" autofocus required maxlength="50" pattern="^[a-zA-Z][a-zA-Z_-]*$">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label is-required"><%- t('downtimeReasons', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" autocomplete="new-password" name="label" required maxlength="100">
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-type-maintenance" class="control-label is-required"><%- t('downtimeReasons', 'PROPERTY:type') %></label>
          <% ['maintenance', 'renovation', 'malfunction', 'adjusting', 'break', 'otherWorks', 'other'].forEach(function(type) { %>
          <div class="radio">
            <label>
              <input id="<%- idPrefix %>-type-<%- type %>" type="radio" name="type" value="<%- type %>" required>
              <%- t('downtimeReasons', 'type:' + type) %>
            </label>
          </div>
          <% }) %>
        </div>
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-subdivisions-assembly" class="control-label"><%- t('downtimeReasons', 'PROPERTY:subdivisionTypes') %></label>
          <% SUBDIVISION_TYPES.forEach(function(type) { %>
          <div class="checkbox">
            <label>
              <input id="<%- idPrefix %>-subdivisionTypes-<%- type %>" type="checkbox" name="subdivisionTypes[]" value="<%- type %>">
              <%- t('downtimeReasons', 'subdivisionType:' + type) %>
            </label>
          </div>
          <% }) %>
        </div>
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-scheduled-true" class="control-label is-required"><%- t('downtimeReasons', 'PROPERTY:scheduled') %></label>
          <% ['true', 'false', 'null'].forEach(function(scheduled) { %>
          <div class="radio">
            <label>
              <input id="<%- idPrefix %>-scheduled-<%- scheduled %>" type="radio" name="scheduled" value="<%- scheduled %>" required>
              <%- t('core', 'BOOL:' + scheduled) %>
            </label>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input id="<%- idPrefix %>-defaultAor" type="checkbox" name="defaultAor" value="true">
            <%- t('downtimeReasons', 'PROPERTY:defaultAor') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-aors" class="control-label"><%- t('downtimeReasons', 'PROPERTY:aors') %></label>
        <input id="<%- idPrefix %>-aors" type="text" autocomplete="new-password" name="aors">
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-opticsPosition" class="control-label"><%- t('downtimeReasons', 'PROPERTY:opticsPosition') %></label>
          <input id="<%- idPrefix %>-opticsPosition" class="form-control" type="number" name="opticsPosition">
        </div>
        <div class="col-md-2 form-group">
          <label for="<%- idPrefix %>-pressPosition" class="control-label"><%- t('downtimeReasons', 'PROPERTY:pressPosition') %></label>
          <input id="<%- idPrefix %>-pressPosition" class="form-control" type="number" name="pressPosition">
        </div>
      </div>
      <%- renderColorPicker({idPrefix: idPrefix, property: 'color', label: t('downtimeReasons', 'PROPERTY:color'), value: model.color}) %>
      <div class="form-group-horizontal">
        <%- renderColorPicker({idPrefix: idPrefix, property: 'refColor', label: t('downtimeReasons', 'PROPERTY:refColor'), value: model.refColor}) %>
        <div class="form-group">
          <label for="<%- idPrefix %>-refValue" class="control-label"><%- t('downtimeReasons', 'PROPERTY:refValue') %></label>
          <input id="<%- idPrefix %>-refValue" class="form-control small" type="number" name="refValue" step="0.01">
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input id="<%- idPrefix %>-auto" type="checkbox" name="auto" value="true">
            <%- t('downtimeReasons', 'PROPERTY:auto') %>
          </label>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
