<form class="downtimeReasons-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label"><%- t('downtimeReasons', 'PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" name="_id" autofocus required maxlength="50" pattern="^[a-zA-Z][a-zA-Z_-]*$">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label"><%- t('downtimeReasons', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" name="label" required maxlength="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-type-malfunction" class="control-label"><%- t('downtimeReasons', 'PROPERTY:type') %></label>
        <div class="radio">
          <label>
            <input id="<%- idPrefix %>-type-maintenance" type="radio" name="type" value="maintenance">
            <%- t('downtimeReasons', 'type:maintenance') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" value="renovation">
            <%- t('downtimeReasons', 'type:renovation') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" value="malfunction">
            <%- t('downtimeReasons', 'type:malfunction') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" value="adjusting">
            <%- t('downtimeReasons', 'type:adjusting') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" value="break">
            <%- t('downtimeReasons', 'type:break') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="type" value="other">
            <%- t('downtimeReasons', 'type:other') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-subdivisions-assembly" class="control-label"><%- t('downtimeReasons', 'PROPERTY:subdivisionTypes') %></label>
        <div class="checkbox">
          <label>
            <input id="<%- idPrefix %>-subdivisions-assembly" type="checkbox" name="subdivisionTypes[]" value="assembly">
            <%- t('downtimeReasons', 'subdivisionType:assembly') %>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="subdivisionTypes[]" value="press">
            <%- t('downtimeReasons', 'subdivisionType:press') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-opticsPosition" class="control-label"><%- t('downtimeReasons', 'PROPERTY:opticsPosition') %></label>
        <input id="<%- idPrefix %>-opticsPosition" class="form-control" type="number" name="opticsPosition">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-pressPosition" class="control-label"><%- t('downtimeReasons', 'PROPERTY:pressPosition') %></label>
        <input id="<%- idPrefix %>-pressPosition" class="form-control" type="number" name="pressPosition">
      </div>
      <div class="form-group">
        <label class="control-label checkbox">
          <input id="<%- idPrefix %>-auto" type="checkbox" name="auto" value="true">
          <%- t('downtimeReasons', 'PROPERTY:auto') %>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label checkbox">
          <input id="<%- idPrefix %>-scheduled" type="checkbox" name="scheduled" value="true">
          <%- t('downtimeReasons', 'PROPERTY:scheduled') %>
        </label>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
