<form class="downtimeReasons-form" method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-id" class="control-label"><%- t('downtimeReasons', 'PROPERTY:_id') %></label>
        <input id="<%- idPrefix %>-id" class="form-control" type="text" name="_id" autofocus required maxlength="50">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-label" class="control-label"><%- t('downtimeReasons', 'PROPERTY:label') %></label>
        <input id="<%- idPrefix %>-label" class="form-control" type="text" name="label" required maxlength="100">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-pressPosition" class="control-label"><%- t('downtimeReasons', 'PROPERTY:pressPosition') %></label>
        <input id="<%- idPrefix %>-pressPosition" class="form-control" type="number" name="pressPosition">
      </div>
      <div class="form-group">
        <label class="control-label checkbox">
          <input id="<%- idPrefix %>-report1" type="checkbox" name="report1" value="true">
          <%- t('downtimeReasons', 'PROPERTY:report1') %>
        </label>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
