<div class="osh-report-dataTable">
  <% if (loading) { %>
  <p><i class="fa fa-spinner fa-spin"></i></p>
  <% } else { %>
  <table class="dataTable-padded cell-border">
    <thead>
    <tr>
      <th class="is-min is-max-rowspan" rowspan="2"><%- t('engagement:leader') %></th>
      <% months.forEach((month, i) => { %>
      <th class="text-center <%- i % 2 === 1 ? 'is-odd' : 'is-even' %>" colspan="7"><%- time.utc.format(month, 'MMMM YYYY') %></th>
      <% }) %>
      <th class="is-max-rowspan is-last" rowspan="2"></th>
    </tr>
    <tr>
      <% months.forEach((month, i) => { %>
      <% var parity = i % 2 === 1 ? 'is-odd' : 'is-even' %>
      <% ['members', 'active', 'activePercent', 'nearMisses', 'kaizens', 'actions', 'observations'].forEach((metric, i) => { %>
      <th class="osh-report-dataTable-metric <%- parity %>" title="<%- t(`engagement:${metric}:title`) %>"><%- t(`engagement:${metric}:header`) %></th>
      <% }) %>
      <% }) %>
    </tr>
    </thead>
    <tbody>
      <% rows.forEach(row => { %>
      <tr>
        <td class="is-min"><%- row.userLabel %></td>
        <% row.months.forEach((month, i) => { %>
        <% var parity = i % 2 === 1 ? 'is-odd' : 'is-even' %>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.members.length ? '' : 'is-zero' %>"><%- n(month.members.length) %></td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.active ? '' : 'is-zero' %>"><%- n(month.active) %></td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.members.length === 0 ? 'is-zero' : month.active < month.members.length ? 'is-invalid' : '' %>">
          <%- month.members.length ? n(Math.round(month.active / month.members.length * 100)) : '0' %>%
        </td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.metrics[0] ? '' : 'is-zero' %>"><%- n(month.metrics[0]) %></td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.metrics[1] ? '' : 'is-zero' %>"><%- n(month.metrics[1]) %></td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.metrics[2] ? '' : 'is-zero' %>"><%- n(month.metrics[2]) %></td>
        <td class="osh-report-dataTable-metric <%- parity %> <%- month.metrics[3] ? '' : 'is-zero' %>"><%- n(month.metrics[3]) %></td>
        <% }) %>
        <td class="is-last"></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
</div>
