<div class="table-responsive">
  <table class="table table-bordered table-hover osh-report-engagement-users">
    <thead>
    <tr>
      <th rowspan="2"><%- t('engagement:employee') %></th>
      <% months.forEach(month => { %>
        <th class="osh-report-engagement-group" colspan="4"><%- time.utc.format(month, 'MMMM YYYY') %></th>
      <% }) %>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <% months.forEach(month => { %>
        <th class="osh-report-engagement-metric osh-report-engagement-group"><%- t('engagement:nearMisses:title') %></th>
        <th class="osh-report-engagement-metric"><%- t('engagement:kaizens:title') %></th>
        <th class="osh-report-engagement-metric"><%- t('engagement:actions:title') %></th>
        <th class="osh-report-engagement-metric"><%- t('engagement:observations:title') %></th>
      <% }) %>
    </tr>
    </thead>
    <tbody>
    <% users.forEach((user, i) => { %>
      <tr>
        <td><%- user.info %></td>
        <% months.forEach(month => { %>
          <% let metrics = user.months[month] || empty %>
          <td class="osh-report-engagement-metric osh-report-engagement-group <%- metrics[0] ? '' : 'is-invalid' %>"><%- metrics[0].toLocaleString() %></td>
          <td class="osh-report-engagement-metric <%- metrics[1] ? '' : 'is-invalid' %>"><%- metrics[1].toLocaleString() %></td>
          <td class="osh-report-engagement-metric <%- metrics[2] ? '' : 'is-invalid' %>"><%- metrics[2].toLocaleString() %></td>
          <td class="osh-report-engagement-metric <%- metrics[3] ? '' : 'is-invalid' %>"><%- metrics[3].toLocaleString() %></td>
        <% }) %>
        <td></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
