<div class="panel-body" data-tab="clip">
  <div class="form-group-horizontal">
    <%- renderColorPicker({
      idPrefix: idPrefix,
      property: 'reports.clipOrderCount.color',
      label: t('reports', 'settings:color:clipOrderCount'),
      value: colors.clipOrderCount
    }) %>
    <%- renderColorPicker({
      idPrefix: idPrefix,
      property: 'reports.clipProduction.color',
      label: t('reports', 'settings:color:clipProduction'),
      value: colors.clipProduction
    }) %>
    <%- renderColorPicker({
      idPrefix: idPrefix,
      property: 'reports.clipEndToEnd.color',
      label: t('reports', 'settings:color:clipEndToEnd'),
      value: colors.clipEndToEnd
    }) %>
  </div>
  <div class="row">
    <% ['dateProperty', 'findDateProperty', 'dataDateProperty'].forEach(function(setting) { %>
    <div class="col-md-4 form-group">
      <label for="<%- idPrefix %>-clip-<%- setting %>" class="control-label"><%- t('reports', 'settings:clip:' + setting) %></label>
      <p class="help-block"><%- t('reports', 'settings:clip:' + setting + ':help') %></p>
      <div style="display: flex">
        <select id="<%- idPrefix %>-clip-<%- setting %>" name="reports.clip.<%- setting %>" class="form-control">
          <% ['startDate', 'finishDate', 'scheduledStartDate', 'scheduledFinishDate'].forEach(function(dateProperty) { %>
          <option value="<%- dateProperty %>"><%- t('reports', 'orders:' + dateProperty) %>
            <% }) %>
        </select>
        <input name="reports.clip.<%- setting %>Offset" class="form-control" placeholder="<%- t('reports', 'settings:clip:dateOffset') %>" style="width: 100px; margin-left: 7px">
      </div>
    </div>
    <% }) %>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-clip-dataHoursOffset"><%- t('reports', 'settings:clip:dataHoursOffset') %></label>
    <p class="help-block"><%- t('reports', 'settings:clip:dataHoursOffset:help') %></p>
    <textarea id="<%- idPrefix %>-clip-dataHoursOffset" class="form-control" name="reports.clip.dataHoursOffset" rows="4" data-change-delay="0" data-keyup-delay="10000"></textarea>
  </div>
  <div class="checkbox">
    <label class="control-label">
      <input id="<%- idPrefix %>-clip-ignoreDone" name="reports.clip.ignoreDone" type="checkbox" value="true">
      <%- t('reports', 'settings:clip:ignoreDone') %>
    </label>
    <p class="help-block"><%- t('reports', 'settings:clip:ignoreDone:help') %></p>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-clip-ignoredMrps"><%- t('reports', 'settings:clip:ignoredMrps') %></label>
    <p class="help-block"><%- t('reports', 'settings:clip:ignoredMrps:help') %></p>
    <input id="<%- idPrefix %>-clip-ignoredMrps" name="reports.clip.ignoredMrps" type="text" autocomplete="new-password" data-select2-setting>
  </div>
  <% ['ignoredDelayReasons', 'ignoredStatuses', 'requiredStatuses', 'productionStatuses', 'endToEndStatuses'].forEach(function(setting) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-clip-<%- setting %>"><%- t('reports', 'settings:clip:' + setting) %></label>
    <p class="help-block"><%- t('reports', 'settings:clip:' + setting + ':help') %></p>
    <input id="<%- idPrefix %>-clip-<%- setting %>" name="reports.clip.<%- setting %>" type="text" autocomplete="new-password" data-select2-setting>
  </div>
  <% }) %>
  <div class="form-group">
    <% ['red', 'all', 'any', 'none', 'without'].forEach(function(mode) { %>
    <div class="radio">
      <label class="control-label">
        <input type="radio" name="reports.clip.orderFilterMode" value="<%- mode %>" data-change-delay="0">
        <%- t('reports', 'settings:clip:orderFilterMode:' + mode) %>
      </label>
    </div>
    <% }) %>
    <input id="<%- idPrefix %>-clip-orderFilterStatuses" name="reports.clip.orderFilterStatuses" type="text" autocomplete="new-password" data-select2-setting>
  </div>
</div>
