<div class="panel-body" data-tab="wh">
  <%- renderColorPicker({
    idPrefix: idPrefix,
    property: 'reports.absence.color',
    label: t('reports', 'settings:color:absence'),
    value: colors.absence
  }) %>
  <div class="clearfix">
    <div class="pull-left">
      <h3><%- t('reports', 'settings:wh:comp') %></h3>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-comp-id"><%- t('reports', 'settings:wh:subdivision') %></label>
        <input id="<%- idPrefix %>-wh-comp-id" name="reports.wh.comp.id" type="text" autocomplete="new-password">
      </div>
      <% ['inComp', 'coopComp', 'exStorage', 'fifo', 'staging', 'sm', 'paint', 'fixBin', 'compAbsence'].forEach(function(metric) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-<%- metric %>-prodTask"><%- t('reports', 'settings:wh:' + metric) %></label>
        <input id="<%- idPrefix %>-wh-<%- metric %>-prodTask" name="reports.wh.<%- metric %>.prodTask" type="text" autocomplete="new-password">
      </div>
      <% }) %>
    </div>
    <div class="pull-left">
      <h3><%- t('reports', 'settings:wh:finGoods') %></h3>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-finGoods-id"><%- t('reports', 'settings:wh:subdivision') %></label>
        <input id="<%- idPrefix %>-wh-finGoods-id" name="reports.wh.finGoods.id" type="text" autocomplete="new-password">
      </div>
      <% ['finGoodsIn', 'finGoodsOut', 'finGoodsAbsence'].forEach(function(metric) { %>
      <div class="form-group">
        <label for="<%- idPrefix %>-wh-<%- metric %>-prodTask"><%- t('reports', 'settings:wh:' + metric) %></label>
        <input id="<%- idPrefix %>-wh-<%- metric %>-prodTask" name="reports.wh.<%- metric %>.prodTask" type="text" autocomplete="new-password">
      </div>
      <% }) %>
    </div>
  </div>
</div>
