<form class="productNotes-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="<%- idPrefix %>-nc12" class="control-label is-required"><%- t('PROPERTY:nc12') %></label>
        <textarea id="<%- idPrefix %>-nc12" class="form-control" name="nc12" required rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-target" class="control-label"><%- t('PROPERTY:target') %></label>
        <br>
        <% TARGETS.forEach(function(target) { %>
        <label class="radio-inline">
          <input name="target" type="radio" value="<%- target %>">
          <%- t('target:' + target) %>
        </label>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-priority" class="control-label"><%- t('PROPERTY:priority') %></label>
        <br>
        <% PRIORITIES.forEach(function(priority) { %>
        <label class="radio-inline">
          <input name="priority" type="radio" value="<%- priority %>">
          <span class="label label-<%- priority %>" style="width: 50px; display: inline-block">&nbsp;</span>
        </label>
        <% }) %>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-text" class="control-label is-required"><%- t('PROPERTY:text') %></label>
        <textarea id="<%- idPrefix %>-text" class="form-control" name="text" rows="2" required></textarea>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
