<div class="<%- showPanel ? 'panel panel-default' : '' %> orders-changes <%- noSystemChanges ? 'orders-no-system-changes' : '' %>">
  <% if (showPanel) { %>
  <div class="panel-heading is-with-actions">
    <%- t('PANEL:TITLE:changes') %>
    <div class="panel-actions">
      <button id="<%- id('toggleSystemChanges') %>" class="btn btn-default <%- noSystemChanges ? 'active' : '' %>" type="button"><%- t('changes:toggleSystemChanges') %></button>
    </div>
  </div>
  <% } %>
  <div class="list">
    <div class="table-responsive">
      <table id="<%- id('table') %>" class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th class="is-min"><%- t('changes:time') %>
            <th class="is-min"><%- t('changes:user') %>
            <th class="is-min"><%- t('changes:property') %>
            <th class="is-min"><%- t('changes:oldValue') %>
            <th><%- t('changes:newValue') %>
          </tr>
        </thead>
        <% if (canComment) { %>
        <tfoot>
          <tr>
            <td id="<%- id('commentForm') %>" class="orders-commentForm-container" colspan="5"></td>
          </tr>
        </tfoot>
        <% } %>
        <% if (!changes.length) { %>
        <tbody id="<%- id('empty') %>">
          <tr>
            <td colspan="5"><%- t('changes:NO_DATA') %></td>
          </tr>
        </tbody>
        <% } %>
        <% changes.forEach(function(change, i) { %>
        <%- renderChange(change, i) %>
        <% }) %>
      </table>
    </div>
  </div>
</div>
