<tbody class="<%- change.user.id ? 'is-user-change' : 'is-system-change' %>" data-index="<%- i %>">
  <% if (change.values.length) { %>
  <tr>
    <td class="is-min orders-changes-time" rowspan="<%- change.rowSpan %>">
      <% if (canEditTime && change.timeEditable) { %>
      <a class="link orders-changes-time-editable"><%- change.timeText %></a>
      <% } else { %>
      <%- change.timeText %>
      <% } %>
    </td>
    <td class="is-min orders-changes-user" rowspan="<%- change.rowSpan %>"><%- change.userText %></td>
    <td class="is-min orders-changes-property"><%- renderPropertyLabel(change.values[0], i) %></td>
    <td class="is-min"><%- renderValueChange(change.values[0], i, 'oldValue') %></td>
    <td><%- renderValueChange(change.values[0], i, 'newValue') %></td>
  </tr>
  <% } %>
  <% change.values.forEach(function(valueChange, j) { %>
  <% if (j === 0) return %>
  <tr class="orders-changes-noTimeAndUser">
    <td class="is-min orders-changes-property"><%- renderPropertyLabel(valueChange, i) %></td>
    <td class="is-min"><%- renderValueChange(valueChange, i, 'oldValue') %></td>
    <td><%- renderValueChange(valueChange, i, 'newValue') %></td>
  </tr>
  <% }) %>
  <% if (change.comment !== '') { %>
  <tr class="<%- change.values.length ? 'orders-changes-noTimeAndUser' : '' %>">
    <% if (!change.values.length) { %>
    <td class="is-min orders-changes-time"><%- change.timeText %></td>
    <td class="is-min orders-changes-user"><%- change.userText %></td>
    <% } %>
    <td class="orders-changes-comment" colspan="3"><%- change.comment %></td>
  </tr>
  <% } %>
</tbody>
