<div class="panel panel-default orders-bom <%- empty ? 'hidden' : '' %>">
  <div class="panel-heading"><%- t('PANEL:TITLE:bom' + (paint ? ':paint' : '')) %></div>
  <% if (_.isEmpty(bom)) { %>
  <div class="panel-body">
    <%- t('BOM:NO_DATA') %>
  </div>
  <% } else { %>
  <div class="list <%- colored ? 'is-colored' : '' %>">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <% if (bom.length && bom[0].orderNo) { %>
            <th class="is-min"><%- t('PROPERTY:bom.orderNo') %>
            <th class="is-min"><%- t('PROPERTY:bom.mrp') %>
            <% } %>
            <th class="is-min"><%- t('PROPERTY:bom.item') %>
            <th class="is-min"><%- t('PROPERTY:bom.nc12') %>
            <th class="is-min"><%- t('PROPERTY:bom.name') %>
            <th class="is-min" colspan="3"><%- t('PROPERTY:bom.qty') %>
            <th class="is-min"><%- t('PROPERTY:bom.distStrategy') %>
            <th class="is-min"><%- t('PROPERTY:bom.unloadingPoint') %>
            <th class="is-min"><%- t('PROPERTY:bom.supplyArea') %>
            <th>
          </tr>
        </thead>
        <tbody>
          <% _.forEach(bom, function(component) { %>
          <tr class="<%- component.rowClassName || '' %>">
            <% if (component.orderNo) { %>
            <td class="is-min is-number"><a href="#orders/<%- component.orderNo %>"><%- component.orderNo %></a>
            <td class="is-min"><%= component.mrp %>
            <% } %>
            <% if (component.releasedAt) { %>
            <td class="is-min text-center"><i class="fa fa-exchange"></i>
            <% } else { %>
            <td class="is-min is-number orders-bom-item"><%- component.item || '' %>
            <% } %>
            <td class="is-min is-number">
              <% if (component.nc12) { %>
              <% if (linkPfep) { %>
              <a class="orders-bom-pfep"><%- component.nc12 %></a>
              <% } else { %>
              <%- component.nc12 %>
              <% } %>
              <% } %>
            <td class="is-min"><%= component.name  %>
            <% if (component.releasedAt) { %>
            <td colspan="7">Dopuszczony <%- component.releasedAt %> przez <%- component.releasedBy %></td>
            <% } else { %>
            <td class="is-min is-number" style="padding-right: 0; border-right: 0"><%- component.qty ? component.qty[0] : '' %>
            <td class="is-min is-number" style="text-align: left; padding-left: 0; border-left: 0; border-right: 0"><%- component.qty ? component.qty[1] : '' %></td>
            <td class="is-min" style="border-left: 0"><%- component.unit || '' %>
            <td class="is-min"><%= component.distStrategy || '' %>
            <td class="is-min"><%= component.unloadingPoint || '' %>
            <td class="is-min"><%= component.supplyArea || '' %>
            <td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %>
</div>
