<div class="panel panel-default orders-bom">
  <div class="panel-heading"><%- helpers.t('PANEL:TITLE:bom' + (paint ? ':paint' : '')) %></div>
  <% if (_.isEmpty(bom)) { %>
  <div class="panel-body">
    <%- helpers.t('BOM:NO_DATA') %>
  </div>
  <% } else { %>
  <div class="list">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <% if (bom.length && bom[0].orderNo) { %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.orderNo') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.mrp') %>
            <% } %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.item') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.nc12') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.name') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.qty') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.unloadingPoint') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.supplyArea') %>
            <th class="is-min"><%- helpers.t('PROPERTY:bom.distStrategy') %>
            <th>
          </tr>
        </thead>
        <tbody>
          <% _.forEach(bom, function(component) { %>
          <tr>
            <% if (component.orderNo) { %>
            <td class="is-min is-number"><a href="#orders/<%- component.orderNo %>"><%- component.orderNo %></a>
            <td class="is-min"><%= component.mrp %>
            <% } %>
            <td class="is-min is-number orders-bom-item"><%- component.item %>
            <td class="is-min is-number">
              <% if (component.nc12) { %>
              <% if (linkPfep) { %>
              <a class="orders-bom-pfep"><%- component.nc12 %></a>
              <% } else { %>
              <%- component.nc12 %>
              <% } %>
              <% } %>
            <td class="is-min"><%= component.name  %>
            <td class="is-min is-number"><%- component.qty.toLocaleString() %> <%- component.unit %>
            <td class="is-min"><%= component.unloadingPoint || '' %>
            <td class="is-min"><%= component.supplyArea || '' %>
            <td class="is-min"><%= component.distStrategy || '' %>
            <td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %>
</div>
