<div id="<%- idPrefix %>-jumpList" class="list-group orders-jumpList">
  <% sections.forEach(function(section) { %>
  <a href="javascript:void(0)" class="list-group-item" data-section="<%- section.id %>" data-hotkey="<%- section.hotkey %>">
    <%- section.label %>
    <% if (section.hotkey) { %>
    <kbd><%- section.hotkey %></kbd>
    <% } %>
  </a>
  <% }) %>
</div>
