<div>
  <div class="panel panel-primary orders-details">
    <div class="panel-heading">
      <%- t('orders', 'PANEL_TITLE:details') %>
    </div>
    <div class="panel-details row">
      <div class="col-md-4">
        <div class="props first">
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:_id') %></div>
            <div class="prop-value"><%= model._id %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:nc12') %></div>
            <div class="prop-value"><%= model.nc12 || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:name') %></div>
            <div class="prop-value"><%= model.name || '-' %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="props">
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:mrp') %></div>
            <div class="prop-value"><%= model.mrp || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:qty') %></div>
            <div class="prop-value"><%= model.qtyUnit || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:statuses') %></div>
            <div class="prop-value"><%- model.statusLabels %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="props">
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:startDate') %></div>
            <div class="prop-value"><%= model.startDateText || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:finishDate') %></div>
            <div class="prop-value"><%= model.finishDateText || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:createdAt') %></div>
            <div class="prop-value"><%= model.createdAtText || '-' %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:updatedAt') %></div>
            <div class="prop-value"><%= model.updatedAtText || '-' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default orders-details">
    <div class="panel-heading">
      <%- t('orders', 'PANEL_TITLE:operations') %>
    </div>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th><%- t('orders', 'PROPERTY:operations.no') %>
          <th><%- t('orders', 'PROPERTY:operations.workCenter') %>
          <th><%- t('orders', 'PROPERTY:operations.name') %>
          <th><%- t('orders', 'PROPERTY:operations.qty') %>
          <th><%- t('orders', 'PROPERTY:operations.machineSetupTime') %>
          <th><%- t('orders', 'PROPERTY:operations.laborSetupTime') %>
          <th><%- t('orders', 'PROPERTY:operations.machineTime') %>
          <th><%- t('orders', 'PROPERTY:operations.laborTime') %>
        </tr>
      </thead>
      <tbody>
      <% if (model.operations.length) { %>
        <% model.operations.forEach(function(operation) { %>
        <tr>
          <td><%= operation.no || '-' %>
          <td><%= operation.workCenter || '-' %>
          <td><%= operation.name || '-' %>
          <td><%= operation.qtyUnit || '-' %>
          <td><%= operation.machineSetupTime || '-' %>
          <td><%= operation.laborSetupTime || '-' %>
          <td><%= operation.machineTime || '-' %>
          <td><%= operation.laborTime || '-' %>
        </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="999"><%- t('orders', 'OPERATIONS_LIST_NO_DATA') %>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
