<div class="panel panel-<%- panelType %> orders-details">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details row">
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: '!_id', value: function(orderNo)
        {
          if (linkOrderNo && orderNo)
          {
            return '<a href="#orders/' + orderNo + '" title="' + helpers.t('details:showMoreLink') + '">' + orderNo + '</a>';
          }

          return orderNo;
        }},
        'nc12',
        'mrp',
        'name',
        {id: 'description', value: model.name === model.description ? '' : (model.description || '')},
        {id: '!leadingOrder', value: function(leadingOrder)
        {
          if (leadingOrder && leadingOrder !== model._id)
          {
            if (user.isAllowedTo('LOCAL', 'ORDERS:VIEW'))
            {
              return '<a href="' + window.location.origin + window.location.pathname + window.location.search + '#orders/' + leadingOrder + '">' + leadingOrder + '</a>';
            }

            return leadingOrder;
          }

          return '';
        }},
        {id: 'salesOrder', value: (model.salesOrder || '-') + '/' + (model.salesOrderItem || '-')},
        'soldToParty'
      ]) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: 'qty', value: model.qtyUnit},
        {id: 'qtyDone', value: model.qtyDoneUnit},
        'priority',
        {id: '!statuses', value: model.statusLabels},
        'psStatus',
        'delayReason',
        'delayComponent',
        'm4'
      ]) %>
    </div>
    <div class="col-md-4">
      <%- helpers.props(model, [
        {id: 'sapCreatedAt', value: model.sapCreatedAtText},
        {id: 'startDate', value: model.startDateText},
        {id: 'finishDate', value: model.finishDateText},
        {id: 'scheduledStartDate', value: model.scheduledStartDateText},
        {id: 'scheduledFinishDate', value: model.scheduledFinishDateText},
        {id: 'createdAt', value: model.createdAtText},
        {id: 'updatedAt', value: model.updatedAtText},
        'changedBy'
      ]) %>
    </div>
  </div>
</div>
