<div class="panel panel-<%- panelType %> orders-details">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details row">
    <div class="col-md-4">
      <div class="props first">
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:_id') %></div>
          <div class="prop-value"><%= model._id %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:nc12') %></div>
          <div class="prop-value"><%= model.nc12 || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:name') %></div>
          <div class="prop-value"><%= model.name || '-' %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:mrp') %></div>
          <div class="prop-value"><%= model.mrp || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:qty') %></div>
          <div class="prop-value"><%= model.qtyUnit || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:statuses') %></div>
          <div class="prop-value"><%- model.statusLabels %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="props">
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:startDate') %></div>
          <div class="prop-value"><%= model.startDateText || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:finishDate') %></div>
          <div class="prop-value"><%= model.finishDateText || '-' %></div>
        </div>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:createdAt') %></div>
          <div class="prop-value"><%= model.createdAtText || '-' %></div>
        </div>
        <% if (model.updatedAtText) { %>
        <div class="prop">
          <div class="prop-name"><%- t('orders', 'PROPERTY:updatedAt') %></div>
          <div class="prop-value"><%= model.updatedAtText %></div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
