<div class="panel panel-default orders-documents">
  <div class="panel-heading"><%- helpers.t('PANEL:TITLE:documents') %></div>
  <% if (documents.length) { %>
  <div class="list">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th class="is-min"><%- helpers.t('PROPERTY:documents.item') %>
            <th class="is-min"><%- helpers.t('PROPERTY:documents.nc15') %>
            <th><%- helpers.t('PROPERTY:documents.name') %>
          </tr>
        </thead>
        <tbody>
          <% documents.forEach(function(document) { %>
          <tr data-nc15="<%- document.nc15 %>">
            <td class="is-min is-number"><%= document.item || '' %>
            <td class="is-min is-number">
              <% if (canView) { %>
              <a href="/orderDocuments/<%- document.nc15 %>?order=<%- orderNo %>"><%= document.nc15 %></a>
              <% } else { %>
              <%= document.nc15 %>
              <% } %>
            <td><%= document.name  %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
  <div class="panel-body">
    <%- helpers.t('DOCUMENTS:NO_DATA') %>
  </div>
  <% } %>
</div>
