<div class="panel panel-default orders-documents">
  <div class="panel-heading"><%- t('orders', 'PANEL:TITLE:documents') %></div>
  <% if (documents.length) { %>
  <table class="table table-condensed table-hover table-bordered">
    <thead>
      <tr>
        <th class="is-min"><%- t('orders', 'PROPERTY:documents.nc15') %>
        <th><%- t('orders', 'PROPERTY:documents.name') %>
      </tr>
    </thead>
    <tbody>
      <% documents.forEach(function(document) { %>
      <tr>
        <td class="is-min is-number"><%= document.nc15 %>
        <td><%= document.name  %>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <div class="panel-body">
    <%- t('orders', 'DOCUMENTS:NO_DATA') %>
  </div>
  <% } %>
</div>
