<form class="well filter-form" autocomplete="off">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'scheduledStartDate',
    type: 'date',
    startHour: 6,
    setTime: false,
    labels: {
      text: t('PROPERTY:scheduledStartDate'),
      ranges: '+days:+0+1_-1+0_+1+2_-7+0_+0+7'
    }
  }) %>
  <div class="form-group" data-filter="id">
    <div class="filter-radioLabels">
      <% ['_id', 'nc12', 'bom.nc12', 'documents.nc15'].forEach(function(type) { %>
      <label>
        <input name="idType" type="radio" value="<%- type %>">
        <%- t('filter:id:' + type) %>
      </label>
      <% }) %>
    </div>
    <input id="<%- id('id') %>" class="form-control" name="id" type="text">
  </div>
  <div class="form-group" data-filter="mrp">
    <label for="<%- id('mrp') %>"><%- t('PROPERTY:mrp') %></label>
    <input id="<%- id('mrp') %>" name="mrp" type="text">
  </div>
  <div class="form-group" data-filter="delayReason">
    <label for="<%- id('delayReason') %>"><%- t('PROPERTY:delayReason') %></label>
    <input id="<%- id('delayReason') %>" name="delayReason" type="text">
  </div>
  <div class="form-group" data-filter="statusesIn">
    <label for="<%- id('statusesIn') %>"><%- t('filter:statusesIn') %></label>
    <input id="<%- id('statusesIn') %>" name="statusesIn" type="text">
  </div>
  <div class="form-group" data-filter="statusesNin">
    <label for="<%- id('statusesNin') %>"><%- t('filter:statusesNin') %></label>
    <input id="<%- id('statusesNin') %>" name="statusesNin" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
