<form class="orders-notes-form">
  <div class="form-group">
    <div class="btn-group">
      <% ['docs', 'ps'].forEach(function(target) { %>
      <button type="button" class="btn btn-default" data-target="<%- target %>">
        <%- t('notes:target:' + target) %>
        (<span class="orders-notes-count">0</span>)
      </button>
      <% }) %>
    </div>
  </div>
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th class="is-min"><%- t('core', '#') %></th>
      <th><%- t('notes:edit:text') %></th>
      <th class="is-min"><%- t('notes:edit:priority') %></th>
      <th class="is-min"><%- t('core', 'LIST:COLUMN:actions') %></th>
    </tr>
    </thead>
    <tbody id="<%- idPrefix %>-notes" class="orders-notes">
    <tr>
      <td class="is-min"></td>
      <td><textarea name="text" class="form-control" rows="2"></textarea></td>
      <td class="is-min">
        <select name="priority" class="form-control orders-notes-priority">
          <% ['default', 'info', 'warning', 'success', 'danger'].forEach(function(priority) { %>
          <option value="<%- priority %>"></option>
          <% }) %>
        </select>
      </td>
      <td class="actions">
        <div class="actions-group">
          <button data-action="up" class="btn btn-default" type="button"><i class="fa fa-arrow-up"></i></button>
          <button data-action="down" class="btn btn-default" type="button"><i class="fa fa-arrow-down"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group" style="display: flex">
    <button id="<%- idPrefix %>-add" class="btn btn-default" type="button">
      <i class="fa fa-plus"></i><span><%- t('notes:edit:add') %></span>
    </button>
    <button id="<%- idPrefix %>-clear" class="btn btn-default" type="button" style="margin-left: auto">
      <i class="fa fa-eraser"></i><span><%- t('notes:edit:clear') %></span>
    </button>
  </div>
  <div class="form-actions">
    <button id="<%- idPrefix %>-submit" class="btn btn-primary"><%- t('notes:edit:submit') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('core', 'ACTION_FORM:BUTTON:cancel') %></button>
  </div>
</form>
