<div class="panel panel-default is-with-actions orders-notes">
  <div class="panel-heading">
    <div class="panel-heading-title"><%- t('PANEL:TITLE:notes') %></div>
    <div class="panel-heading-actions">
      <% if (user.isAllowedTo('ORDERS:MANAGE')) { %>
      <button id="<%- idPrefix %>-edit" class="btn btn-default" type="button" title="<%- t('notes:edit:button') %>"><i class="fa fa-edit"></i></button>
      <% } %>
    </div>
  </div>
  <div class="panel-body">
    <% if (_.isEmpty(targets)) { %>
    <%- t('NOTES:NO_DATA') %>
    <% } else { %>
    <% targets.forEach(function(target) { %>
    <h5><%- t('notes:target:' + target._id) %></h5>
    <ol style="list-style: none; margin: 0; padding: 0">
      <% target.notes.forEach(function(note) { %>
      <li class="text-lines text-<%- note.priority %>">► <%= note.text %></li>
      <% }) %>
    </ol>
    <% }) %>
    <% } %>
  </div>
</div>
