<div class="panel panel-default orders-operations">
  <div class="panel-heading"><%- t('orders', 'PANEL:TITLE:operations') %></div>
  <% if (operations.length) { %>
  <table class="table table-condensed table-hover table-bordered">
    <thead>
      <tr>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.no') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.workCenter') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.name') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.qty') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.machineSetupTime') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.laborSetupTime') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.machineTime') %>
        <th class="is-min"><%- t('orders', 'PROPERTY:operations.laborTime') %>
        <th>
      </tr>
    </thead>
    <tbody>
      <% operations.forEach(function(operation) { %>
      <tr class="<%- operation.no === highlighted ? 'info' : '' %>">
        <td class="is-min is-number"><%= operation.no || '-' %>
        <td class="is-min"><%= operation.workCenter || '-' %>
        <td class="is-min"><%= operation.name || '-' %>
        <td class="is-min is-number"><%= operation.qtyUnit || '-' %>
        <td class="is-min is-number" title="<%- operation.sapMachineSetupTime || '' %>">
          <% if (operation.no === highlighted && summedTimes.machineSetupTime && operation.machineSetupTime !== summedTimes.machineSetupTime) { %>
          <%- operation.machineSetupTime || '' %><br><span class="orders-operations-summed">(<%- summedTimes.machineSetupTime || '-' %>)</span>
          <% } else { %>
          <%- operation.machineSetupTime || '-' %>
          <% } %>
        <td class="is-min is-number" title="<%- operation.sapLaborSetupTime || '' %>">
          <% if (operation.no === highlighted && summedTimes.laborSetupTime && operation.laborSetupTime !== summedTimes.laborSetupTime) { %>
          <%- operation.laborSetupTime || '' %><br><span class="orders-operations-summed">(<%- summedTimes.laborSetupTime || '-' %>)</span>
          <% } else { %>
          <%- operation.laborSetupTime || '-' %>
          <% } %>
        <td class="is-min is-number" title="<%- operation.sapMachineTime || '' %>">
          <% if (operation.no === highlighted && summedTimes.machineTime && operation.machineTime !== summedTimes.machineTime) { %>
          <%- operation.machineTime || '' %><br><span class="orders-operations-summed">(<%- summedTimes.machineTime || '-' %>)</span>
          <% } else { %>
          <%- operation.machineTime || '-' %>
          <% } %>
        <td class="is-min is-number" title="<%- operation.sapLaborTime || '' %>">
          <% if (operation.no === highlighted && summedTimes.laborTime && operation.laborTime !== summedTimes.laborTime) { %>
          <%- operation.laborTime || '' %><br><span class="orders-operations-summed">(<%- summedTimes.laborTime || '-' %>)</span>
          <% } else { %>
          <%- operation.laborTime || '-' %>
          <% } %>
        <td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <div class="panel-body">
    <%- t('orders', 'OPERATIONS:NO_DATA') %>
  </div>
  <% } %>
</div>
