<div class="panel panel-default orders-operations <%- operations.length ? '' : 'hidden' %>">
  <div class="panel-heading"><%- t('PANEL:TITLE:operations') %></div>
  <% if (operations.length) { %>
  <div class="list">
    <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
        <tr>
          <th class="is-min"><%- t('PROPERTY:operations.no') %>
          <th class="is-min"><%- t('PROPERTY:operations.workCenter') %>
          <th class="is-min"><%- t('PROPERTY:operations.name') %>
          <% if (showQty) { %>
          <th class="is-min"><%- t('PROPERTY:operations.qty') %>
          <% if (showQtyMax) { %>
          <th class="is-min"><%- t('PROPERTY:operations.qtyMax') %>
          <% } %>
          <th class="is-min">
          <% } %>
          <% if (user.isAllowedTo('PROD_DATA:VIEW', 'ORDERS:VIEW')) { %>
          <th class="is-min"><%- t('PROPERTY:operations.machineSetupTime') %>
          <th class="is-min"><%- t('PROPERTY:operations.laborSetupTime') %>
          <th class="is-min"><%- t('PROPERTY:operations.machineTime') %>
          <th class="is-min"><%- t('PROPERTY:operations.laborTime') %>
          <% } %>
          <th>
        </tr>
        </thead>
        <tbody>
        <% operations.forEach(function(operation) { %>
          <tr class="<%- operation.no === highlighted ? 'info' : '' %>">
            <td class="is-min is-number"><%= operation.no || '-' %>
            <td class="is-min"><%= operation.workCenter || '-' %>
            <td class="is-min"><%= operation.name || '-' %>
            <% if (showQty) { %>
            <td class="is-min is-number">
              <% if (showQtyMax) { %>
                <%- operation.qtyDone.toLocaleString() %>/<%- operation.qty.toLocaleString() %>
              <% } else { %>
                <%- operation.qty.toLocaleString() %>
              <% } %>
              <% if (showQtyMax) { %>
            <td class="is-min is-number" data-action="changeQtyMax">
              <% if (canChangeQtyMax) { %>
                <a href="#" data-operation-no="<%- operation.no %>" data-qty="<%- operation.qty %>" data-qty-max="<%- operation.qtyMax %>"><%= operation.qtyMax.toLocaleString() %></a>
              <% } else { %>
                <%- operation.qtyMax.toLocaleString() %>
              <% } %>
            </td>
            <% } %>
            <td class="is-min"><%= operation.unit %></td>
            <% } %>
            <% if (user.isAllowedTo('PROD_DATA:VIEW', 'ORDERS:VIEW')) { %>
            <% timeProps.forEach(function(timeProp) { %>
            <td class="is-min is-number">
              <% if (operation.times.sap[timeProp] && operation.times.sap[timeProp] !== operation.times.actual[timeProp]) { %>
                <span title="<%- t('details:opTimes:sap') %>"><%- operation.times.sap[timeProp] %></span> -> <span title="<%- t('details:opTimes:actual') %>">
              <% } else { %>
                <span title="<%- t('details:opTimes:sap') %>">
              <% } %>
              <%- operation.times.actual[timeProp] || '-' %></span><% if (operation.no === highlighted && operation.times.summed[timeProp] && operation.times.summed[timeProp] !== operation.times.actual[timeProp]) { %> <span title="<%- t('details:opTimes:summed') %>">(<%- operation.times.summed[timeProp] %>)</span><% } %>
            <% }) %>
            <% } %>
            <td>
          </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else { %>
  <div class="panel-body">
    <%- t('OPERATIONS:NO_DATA') %>
  </div>
  <% } %>
</div>
