<form class="settings orders-settings">
  <div class="list-group">
    <a class="list-group-item" href="#orders;settings?tab=documents" data-tab="documents"><%- t('orders', 'settings:tab:documents') %></a>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body" data-tab="documents">
      <div class="form-group">
        <label for="<%- idPrefix %>-documents-path"><%- t('orders', 'settings:documents:path') %></label>
        <input id="<%- idPrefix %>-documents-path" class="form-control" name="orders.documents.path" type="text" data-change-delay="0">
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-documents-extra"><%- t('orders', 'settings:documents:extra') %></label>
        <textarea id="<%- idPrefix %>-documents-extra" class="form-control" name="orders.documents.extra" rows="20" data-keyup-delay="10000" data-change-delay="0"></textarea>
      </div>
    </div>
  </div>
</form>
