<div class="factoryLayout-legend">
  <% if (heff) { %>
    <% ['off', 'noPlan', 'unplanned', 'under', 'over'].forEach(function(state) { %>
      <div class="factoryLayout-legend-item" data-state="<%- state %>" title="<%- t('legend:heff:' + state + ':title') %>"><%- t('legend:heff:' + state) %></div>
    <% }) %>
  <% } else { %>
    <% ['off', 'idle', 'low', 'mid', 'high', 'downtime', 'break'].forEach(function(state) { %>
      <div class="factoryLayout-legend-item" data-state="<%- state %>" title="<%- t('legend:layout:' + state + ':title') %>"><%- t('legend:layout:' + state) %></div>
    <% }) %>
  <% } %>
</div>
