<tbody class="<%- classNames %>">
  <tr class="factoryLayout-prodLineListItem-header">
    <td class="factoryLayout-prodLineListItem-prodLine"><%= prodLine %></td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em><%- t('core', 'ORG_UNIT:prodFlow') %></em>
        <span id="<%- id('prodFlow') %>"><%= prodFlow %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em><%- t('prop:shift') %></em>
        <span id="<%- id('shift') %>"><%- shift.text %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em><%- t('prop:master') %></em>
        <span id="<%- id('master') %>"><%- master %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em><%- t('prop:leader') %></em>
        <span id="<%- id('leader') %>"><%- leader %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em><%- t('prop:operator') %></em>
        <span id="<%- id('operator') %>"><%- operator %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop" title="<%- order.title %>">
        <em id="<%- id('orderLabel') %>"><%- order.label %></em>
        <span id="<%- id('orderValue') %>"><%- order.value %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop">
        <em id="<%- id('downtimeLabel') %>"><%- downtime.label %></em>
        <span id="<%- id('downtimeValue') %>"><%- downtime.value %></span>
      </div>
    </td>
    <td>
      <div class="factoryLayout-prodLineListItem-prop factoryLayout-quantityDone-prop">
        <em><i class="fa fa-bar-chart"></i> <%- t('prop:qty') %></em>
        <span id="<%- id('quantityDone') %>"><%- quantityDone %></span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="<%- id('timeline') %>" class="factoryLayout-timeline-container" colspan="9"></td>
  </tr>
  <tr>
    <td id="<%- id('quantitiesDone') %>" class="factoryLayout-quantitiesDone-container hidden" colspan="9"></td>
  </tr>
  <tr>
    <td id="<%- id('comments') %>" class="factoryLayout-comments-container hidden" colspan="9">
      <div class="factoryLayout-comments">
        <% for (var i = 0; i < 8; ++i) { %>
        <div class="factoryLayout-comment" data-i="<%- i %>">
          <p></p>
          <% if (canComment) { %>
            <button type="button" class="btn btn-default" data-action="comment"><i class="fa fa-edit"></i></button>
            <form>
              <textarea class="form-control"></textarea>
              <button class="btn btn-primary btn-block" type="submit"><%- t('comments:save') %></button>
            </form>
          <% } %>
        </div>
        <% } %>
      </div>
    </td>
  </tr>
</tbody>
