<table>
  <tbody>
  <% if (heff) { %>
  <% ['totalActual', 'currentPlanned', 'endOfHourPlanned', 'totalPlanned', 'totalRemaining'].forEach(function(prop) { %>
  <tr>
    <th><%- t('popover:heff:' + prop) %>
    <td><%- heff[prop].toLocaleString() %>
  <% }) %>
  <% } else { %>
  <tr>
    <th><%- t('popover:order') %>
    <td><span class="factoryLayout-popover-value"><%= order.name %></span>
  <tr>
    <th><%- t('popover:operation') %>
    <td><span class="factoryLayout-popover-value"><%= order.operation %></span>
  <tr>
    <th><%- t('popover:duration') %>
    <td><%- order.duration %>
  <tr>
    <th><%- t('popover:workerCount') %>
    <td><%- order.workerCount %> (<%- order.sapWorkerCount %>)
  <tr>
    <th><%- t('popover:quantityDone') %>
    <td><%- order.quantityDone %>
  <% if (user.isAllowedTo('PROD_DATA:VIEW:EFF')) { %>
  <tr>
    <th><%- t('popover:taktTime') %>
    <td><%- order.taktTime %>
  <tr>
    <th><%- t('popover:cycleTime') %>
    <td><%- order.cycleTime || '?' %> (<%- order.iptCycleTime || '?' %>)
  <tr>
    <th><%- t('popover:avgCycleTime') %>
    <td><%- order.avgCycleTime || '?' %>
  <% } %>
  <% if (downtime) { %>
  <tr>
    <th><%- t('popover:downtime') %>
    <td><%= downtime.reason %>
  <% ['aor', 'duration'].forEach(function(p) { %>
  <tr>
    <th><%- t('popover:' + p) %>
    <td><span class="factoryLayout-popover-value"><%- downtime[p] %></span>
  <% }) %>
  <% } %>
  <% } %>
  </tbody>
</table>
