<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        name: 'kinds',
        type: 'select2',
        label: 'PROPERTY:'
      }) %>
      <%- helpers.formGroup({
        name: 'shortName',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'longName',
        label: 'PROPERTY:',
        required: true
      }) %>
      <%- helpers.formGroup({
        name: 'description',
        type: 'textarea',
        label: 'PROPERTY:',
        rows: 5
      }) %>
      <div class="form-group">
        <label class="control-label"><%- t('PROPERTY:allowedTypes') %></label>
        <p class="help-block" style="margin-bottom: -5px"><%- t(`FORM:help:allowedTypes`) %></p>
        <% ['nearMiss', 'action'].forEach(type => { %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="allowedTypes[]" value="<%- type %>">
              <%- t('wmes-osh-common', `type:${type}`) %>
            </label>
          </div>
        <% }) %>
      </div>
      <div class="form-group">
        <label class="control-label"><%- t('PROPERTY:resolution') %></label>
        <% ['none', 'implementers', 'resolutions'].forEach(resolution => { %>
          <div class="radio">
            <label>
              <input type="radio" name="resolution" value="<%- resolution %>">
              <%- t(`resolution:${resolution}`) %>
            </label>
          </div>
          <p class="help-block"><%- t(`FORM:help:resolution:${resolution}`) %></p>
        <% }) %>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="participants" value="true">
          <%- t(`PROPERTY:participants`) %>
        </label>
      </div>
      <p class="help-block"><%- t(`FORM:help:participants`) %></p>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="rootCauses" value="true">
          <%- t(`PROPERTY:rootCauses`) %>
        </label>
      </div>
      <p class="help-block"><%- t(`FORM:help:rootCauses`) %></p>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
