<form>
  <div class="form-group reports-7-customTimes-fromTo">
    <label for="<%- idPrefix %>-clipFrom" class="control-label is-required"><%- t('reports', '7:customTimes:clip:date') %></label>
    <input id="<%- idPrefix %>-clipFrom" class="form-control" name="clipFrom" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
    -
    <input id="<%- idPrefix %>-clipTo" class="form-control" name="clipTo" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
  </div>
  <div class="form-group clearfix">
    <label for="<%- idPrefix %>-clipInterval-day" class="control-label is-required"><%- t('reports', '7:customTimes:clip:interval') %></label>
    <div id="<%- idPrefix %>-clipInterval" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['year', 'quarter', 'month', 'week', 'day'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input id="<%- idPrefix %>-clipInterval-<%- interval %>" type="radio" name="clipInterval" value="<%- interval %>" required> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-group reports-7-customTimes-fromTo reports-7-customTimes-separator">
    <label for="<%- idPrefix %>-dtlFrom" class="control-label is-required"><%- t('reports', '7:customTimes:dtl:date') %></label>
    <input id="<%- idPrefix %>-dtlFrom" class="form-control" name="dtlFrom" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
    -
    <input class="form-control" name="dtlTo" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
  </div>
  <div class="form-group reports-7-customTimes-fromTo reports-7-customTimes-separator">
    <label for="<%- idPrefix %>-dtcFrom" class="control-label is-required"><%- t('reports', '7:customTimes:dtc:date') %></label>
    <input id="<%- idPrefix %>-dtcFrom" class="form-control" name="dtcFrom" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
    -
    <input class="form-control" name="dtcTo" type="date" placeholder="<%- t('core', 'placeholder:date') %>" required>
  </div>
  <div class="form-group clearfix">
    <label for="<%- idPrefix %>-dtcInterval-day" class="control-label is-required"><%- t('reports', '7:customTimes:dtc:interval') %></label>
    <div id="<%- idPrefix %>-dtcInterval" class="btn-group filter-btn-group" data-toggle="buttons">
      <% ['year', 'quarter', 'month', 'week', 'day'].forEach(function(interval) { %>
      <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:' + interval) %>" data-interval="<%- interval %>">
        <input id="<%- idPrefix %>-dtcInterval-<%- interval %>" type="radio" name="dtcInterval" value="<%- interval %>" required> <%- t('reports', 'filter:interval:' + interval) %>
      </label>
      <% }) %>
    </div>
  </div>
  <div class="form-actions reports-7-customTimes-actions">
    <button type="submit" class="btn btn-primary"><i class="fa fa-calendar"></i><span><%- t('reports', '7:customTimes:submit') %></span></button>
    <button id="<%- idPrefix %>-reset" type="button" class="btn btn-danger"><i class="fa fa-times"></i><span><%- t('reports', '7:customTimes:reset') %></span></button>
  </div>
</form>