<form class="well filter-form compRel-entries-filter" autocomplete="off">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'createdAt',
    startHour: 6,
    hidden: true,
    labels: {text: t('PROPERTY:createdAt'), ranges: true}
  }) %>
  <div class="form-group">
    <div class="filter-radioLabels">
      <% ['mine', 'creator', 'acceptor', 'others'].forEach(function(userType) { %>
      <label title="<%- t('filter:user:' + userType + ':title') %>">
        <input name="userType" type="radio" value="<%- userType %>">
        <%- t('filter:user:' + userType) %>
      </label>
      <% }) %>
    </div>
    <input id="<%- id('user') %>" name="user" type="text">
  </div>
  <div class="form-group" style="min-width: 150px">
    <label for="<%- id('status') %>"><%- t('PROPERTY:status') %></label>
    <select id="<%- id('status') %>" name="status[]" class="form-control is-expandable" multiple size="1" data-expanded-length="10">
      <% statuses.forEach(function(status) { %>
      <option value="<%- status %>"><%- t('status:' + status) %></option>
      <% }) %>
    </select>
  </div>
  <%- helpers.formGroup({
    name: 'oldCode',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'oldCode'},
    inputClassName: 'text-mono',
    inputStyle: {
      'width': '130px'
    }
  }) %>
  <%- helpers.formGroup({
    name: 'newCode',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'newCode'},
    inputClassName: 'text-mono',
    inputStyle: {
      'width': '130px'
    }
  }) %>
  <%- helpers.formGroup({
    name: 'orderNo',
    label: 'PROPERTY:',
    groupClassName: 'hidden',
    groupAttrs: {'data-filter': 'orderNo'},
    inputClassName: 'text-mono',
    inputStyle: {
      'width': '90px'
    },
    pattern: '^[0-9]{9}$'
  }) %>
  <div class="form-group hidden" data-filter="mrps">
    <label for="<%- id('mrps') %>"><%- t('PROPERTY:mrps') %></label>
    <input id="<%- id('mrps') %>" name="mrps" type="text" autocomplete="new-password" data-placeholder=" ">
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
