<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: 'mrps',
        label: 'PROPERTY:',
        type: 'select2',
        required: true
      }) %>
      <div class="form-group">
        <label class="control-label is-required"><%- t('PROPERTY:oldComponent') %></label>
        <table class="table table-bordered table-condensed" style="margin-bottom: 7px">
          <tbody id="<%- id('oldComponents') %>" data-type="old"></tbody>
        </table>
        <button id="<%- id('addOldComponent') %>" type="button" class="btn btn-default">
          <i class="fa fa-plus"></i><span><%- t('FORM:components:add') %></span>
        </button>
      </div>
      <div class="form-group">
        <label class="control-label is-required"><%- t('PROPERTY:newComponent') %></label>
        <table class="table table-bordered table-condensed" style="margin-bottom: 7px">
          <tbody id="<%- id('newComponents') %>" data-type="new"></tbody>
        </table>
        <button id="<%- id('addNewComponent') %>" type="button" class="btn btn-default">
          <i class="fa fa-plus"></i><span><%- t('FORM:components:add') %></span>
        </button>
      </div>
      <%- helpers.formGroup({
        name: 'reason',
        label: 'PROPERTY:',
        type: 'select2',
        required: true
      }) %>
      <div class="form-group">
        <label for="<%- id('availableFuncs') %>" class="control-label is-required"><%- t('PROPERTY:funcs') %></label>
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group">
              <select id="<%- id('availableFuncs') %>" class="form-control"></select>
              <span class="input-group-btn">
                <button id="<%- id('addFunc') %>" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div id="<%- id('funcs') %>" class="compRel-form-funcs"></div>
      </div>
      <% if (editMode) { %>
      <%- helpers.formGroup({
        name: 'comment',
        label: 'PROPERTY:',
        type: 'textarea',
        rows: 4
      }) %>
      <% } %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
