<table class="table table-bordered table-condensed table-hover suggestions-details-attachments">
  <thead>
    <tr>
      <th class="is-min"><%- t('suggestions', 'PROPERTY:attachments:description') %></th>
      <th><%- t('suggestions', 'PROPERTY:attachments:file') %></th>
      <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if (!model.attachments.length) { %>
    <tr>
      <td colspan="3"><%- t('suggestions', 'attachments:noData') %></td>
    </tr>
    <% } %>
    <% model.attachments.forEach(function(attachment) { %>
    <tr>
      <td class="is-min"><%= t.has('suggestions', 'attachments:' + attachment.description) ? t('suggestions', 'attachments:' + attachment.description) : attachment.description %></td>
      <td><%= attachment.name %></td>
      <td class="actions">
        <a class="btn btn-default" href="/suggestions/<%- model._id %>/attachments/<%- attachment._id %>" title="<%- t('suggestions', 'attachments:actions:view') %>"><i class="fa fa-file-text-o"></i></a>
        <a class="btn btn-default" href="/suggestions/<%- model._id %>/attachments/<%- attachment._id %>?download=1" title="<%- t('suggestions', 'attachments:actions:download') %>"><i class="fa fa-download"></i></a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
