<div class="suggestions-details">
  <div class="panel panel-primary suggestions-details-props">
    <div class="panel-heading">
      <%- panelTitle %>
    </div>
    <div class="panel-details <%- model.changed.all ? 'is-changed' : '' %>">
      <div class="row">
        <div class="col-md-4">
          <div class="props first">
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:rid') %></div>
              <div class="prop-value"><%= model.rid %></div>
            </div>
            <div class="prop">
              <div class="prop-name <%- model.changed.status ? 'is-changed' : '' %>"><%- t('PROPERTY:status') %></div>
              <div class="prop-value"><%- model.status %></div>
            </div>
            <div class="prop">
              <div class="prop-name <%- model.changed.subject ? 'is-changed' : '' %>"><%- t('PROPERTY:subject') %></div>
              <div class="prop-value"><%= model.subject %></div>
            </div>
            <div class="prop">
              <div class="prop-name <%- model.changed.section ? 'is-changed' : '' %>"><%- t('PROPERTY:section') %></div>
              <div class="prop-value"><%- model.section %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:creator') %></div>
              <div class="prop-value"><%- model.creator %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:updater') %></div>
              <div class="prop-value"><%- model.updater %></div>
            </div>
            <div class="prop">
              <div class="prop-name <%- model.changed.confirmer ? 'is-changed' : '' %>"><%- t('PROPERTY:confirmer') %></div>
              <div class="prop-value"><%- model.confirmer %></div>
            </div>
            <div class="prop">
              <div class="prop-name <%- model.changed.superior ? 'is-changed' : '' %>"><%- t('PROPERTY:superior') %></div>
              <div class="prop-value"><%- model.superior %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="props">
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:createdAt') %></div>
              <div class="prop-value"><%- model.createdAt %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:updatedAt') %></div>
              <div class="prop-value"><%- model.updatedAt %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:confirmedAt') %></div>
              <div class="prop-value"><%- model.confirmedAt || '' %></div>
            </div>
            <div class="prop">
              <div class="prop-name"><%- t('PROPERTY:finishedAt') %></div>
              <div class="prop-value"><%- model.finishedAt || '' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (model.kom) { %>
  <div class="suggestions-details-kom">
    <i class="fa fa-trophy"></i>
    <span><%- t('details:kom') %></span>
    <i class="fa fa-trophy"></i>
  </div>
  <% } %>
  <div class="row suggestions-details-types">
    <% include detailsSuggestionPanel.ejs %>
    <% if (showKaizenPanel) { %>
    <% include detailsKaizenPanel.ejs %>
    <% } %>
  </div>
</div>
