<div class="suggestions-detailsPage">
  <div id="<%- id('props') %>"></div>
  <div id="<%- id('coordSections') %>"></div>
  <div class="row" style="margin-top: 20px">
    <div id="<%- id('before') %>" class="col-lg-4"></div>
    <div id="<%- id('after') %>" class="col-lg-4"></div>
    <div id="<%- id('other') %>" class="col-lg-4"></div>
  </div>
  <div id="<%- id('history') %>"></div>
</div>
