<div>
  <% if (!groups.length) { %>
  <p class="well"><%- helpers.t('engagement:empty') %></p>
  <% } %>
  <% groups.forEach(function(group) { %>
  <h3><%- formatHeader(group.key) %></h3>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th class="is-min"><%- helpers.t('engagement:name') %></th>
      <th class="is-min"><%- helpers.t('engagement:nearMisses') %></th>
      <th class="is-min"><%- helpers.t('engagement:suggestions') %></th>
      <th class="is-min"><%- helpers.t('engagement:behaviorObs') %></th>
      <th class="is-min"><%- helpers.t('engagement:minutesForSafety') %></th>
      <th><%- helpers.t('engagement:sections') %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="is-min is-number"><%- group.totals.name.toLocaleString() %></td>
      <td class="is-min is-number"><%- group.totals.nearMisses.toLocaleString() %></td>
      <td class="is-min is-number"><%- group.totals.suggestions.toLocaleString() %></td>
      <td class="is-min is-number"><%- group.totals.behaviorObs.toLocaleString() %></td>
      <td class="is-min is-number"><%- group.totals.minutesForSafety.toLocaleString() %></td>
      <td></td>
    </tr>
    </tfoot>
    <tbody>
    <% group.users.forEach(function(user) { %>
    <tr>
      <td class="is-min"><%= user.name %></td>
      <td class="is-min is-number"><%- user.nearMisses.toLocaleString() %></td>
      <td class="is-min is-number"><%- user.suggestions.toLocaleString() %></td>
      <td class="is-min is-number"><%- user.behaviorObs.toLocaleString() %></td>
      <td class="is-min is-number"><%- user.minutesForSafety.toLocaleString() %></td>
      <td><%- user.sections.join('; ') %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <% }) %>
</div>
