<div>
  <% if (!groups.length) { %>
  <p class="well"><%- t('engagement:empty') %></p>
  <% } %>
  <% groups.forEach(function(group) { %>
  <h3><%- formatHeader(group.key) %></h3>
  <table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
      <th class="is-min"><%- t('engagement:name') %></th>
      <% counters.forEach(function(c) { %>
      <th class="is-min text-center"><%- t('engagement:' + c) %></th>
      <% }) %>
      <th><%- t('engagement:sections') %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="is-min is-number"><%- group.totals.name.toLocaleString() %></td>
      <% counters.forEach(function(c) { %>
      <td class="is-min is-number text-center"><%- group.totals[c].toLocaleString() %></td>
      <% }) %>
      <td></td>
    </tr>
    </tfoot>
    <tbody>
    <% group.users.forEach(function(user) { %>
    <tr>
      <td class="is-min"><%= user.name %></td>
      <% counters.forEach(function(c) { %>
      <td class="is-min is-number text-center <%- user[c] ? '' : 'is-zero' %>"><%- user[c].toLocaleString() %></td>
      <% }) %>
      <td><%- user.sections.join('; ') %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <% }) %>
</div>
