<form class="well filter-form suggestions-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    labels: {text: t('PROPERTY:date'), ranges: true}
  }) %>
  <div class="form-group">
    <div class="filter-radioLabels">
      <label>
        <input name="userType" type="radio" value="mine">
        <%- t('filter:user:mine') %>
      </label><label>
        <input name="userType" type="radio" value="unseen">
        <%- t('filter:user:unseen') %>
      </label><label>
        <input name="userType" type="radio" value="owner">
        <%- t('filter:user:owner') %>
      </label><label>
        <input name="userType" type="radio" value="others">
        <%- t('filter:user:others') %>
      </label>
    </div>
    <input id="<%- idPrefix %>-user" name="user" type="text" autocomplete="new-password">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-status"><%- t('PROPERTY:status') %></label>
    <select id="<%- idPrefix %>-status" name="status[]" class="form-control is-expandable" multiple size="1">
      <% statuses.concat('kom').forEach(function(status) { %>
      <option value="<%- status %>"><%- t('status:' + status) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-categories"><%- t('PROPERTY:category') %></label>
    <select id="<%- idPrefix %>-categories" name="categories[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="max-width: 225px">
      <% categories.forEach(function(category) { %>
      <option value="<%- category._id %>"><%= category.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-productFamily"><%- t('PROPERTY:productFamily') %></label>
    <select id="<%- idPrefix %>-productFamily" name="productFamily[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="max-width: 225px">
      <% productFamilies.forEach(function(productFamily) { %>
      <option value="<%- productFamily._id %>"><%= productFamily.name %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-section"><%- t('PROPERTY:section') %></label>
    <select id="<%- idPrefix %>-section" name="section[]" class="form-control is-expandable" multiple size="1" data-expanded-length="15" style="max-width: 225px">
      <% sections.forEach(function(section) { %>
      <option value="<%- section._id %>"><%= section.name %></option>
      <% }) %>
    </select>
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('filter:submit') %></span></button>
  </div>
</form>
