<div>
  <% if (!users.length) { %>
  <p class="well"><%- t('reward:empty') %></p>
  <% } else { %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th class="is-min" rowspan="2"><%- t('reward:name') %></th>
      <th class="is-min" colspan="2"><%- t('reward:finished') %></th>
      <th class="is-min" colspan="2"><%- t('reward:kom') %></th>
      <th class="is-min" colspan="2"><%- t('reward:total') %></th>
      <th class="is-min" rowspan="2"><%- t('reward:value') %></th>
      <th rowspan="2"><%- t('reward:sections') %></th>
    </tr>
    <tr>
      <th class="is-min"><%- t('reward:count') %></th>
      <th class="is-min"><%- t('reward:part') %></th>
      <th class="is-min"><%- t('reward:count') %></th>
      <th class="is-min"><%- t('reward:part') %></th>
      <th class="is-min"><%- t('reward:count') %></th>
      <th class="is-min"><%- t('reward:part') %></th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach(function(user) { %>
    <tr>
      <td class="is-min"><%= user.name %></td>
      <td class="is-min is-number"><%- user.finished[0] ? user.finished[0].toLocaleString() : '' %></td>
      <td class="is-min is-number"><%- user.finished[1] ? user.finished[1].toLocaleString() : '' %></td>
      <td class="is-min is-number"><%- user.kom[0] ? user.kom[0].toLocaleString() : '' %></td>
      <td class="is-min is-number"><%- user.kom[1] ? user.kom[1].toLocaleString() : '' %></td>
      <td class="is-min is-number"><%- user.total[0].toLocaleString() %></td>
      <td class="is-min is-number"><%- user.total[1].toLocaleString() %></td>
      <td class="text-right"><%- user.value.toLocaleString('pl-PL', {style: 'currency', currency: 'PLN'}) %></td>
      <td><%- user.sections.join('; ') %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <% } %>
</div>
