<form class="well filter-form suggestions-report-filter">
  <div class="form-group">
    <label for="<%- idPrefix %>-from"><%- t('core', 'filter:date:from') %></label>
    <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" placeholder="<%- t('core', 'placeholder:date') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-to"><%- t('core', 'filter:date:to') %></label>
    <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" placeholder="<%- t('core', 'placeholder:date') %>">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-section"><%- t('suggestions', 'PROPERTY:section') %></label>
    <input id="<%- idPrefix %>-section" name="section" type="text">
  </div>
  <% if (showProductFamily) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-productFamily"><%- t('suggestions', 'PROPERTY:productFamily') %></label>
    <input id="<%- idPrefix %>-productFamily" name="productFamily" type="text">
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-confirmer"><%- t('suggestions', 'PROPERTY:confirmer') %></label>
    <input id="<%- idPrefix %>-confirmer" name="confirmer" type="text">
  </div>
  <div class="form-group filter-actions">
    <div class="btn-group">
      <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% ['today', 'yesterday', 'currentWeek', 'prevWeek', 'lastTwoWeeks', 'currentMonth', 'prevMonth', 'q1', 'q2', 'q3', 'q4'].forEach(function(range) { %>
        <li><a data-range="<%- range %>"><%= t('reports', 'filter:submit:' + range) %></a></li>
        <% }) %>
        <li><a data-range="currentYear" data-interval="quarter"><%= t('reports', 'filter:submit:currentYear') %></a></li>
        <li><a data-range="prevYear" data-interval="quarter"><%= t('reports', 'filter:submit:prevYear') %></a></li>
      </ul>
    </div>
  </div>
</form>
