<form class="well filter-form suggestions-report-filter">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix
  }) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-section"><%- helpers.t('PROPERTY:section') %></label>
    <input id="<%- idPrefix %>-section" name="section" type="text" autocomplete="new-password">
  </div>
  <% if (showProductFamily) { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-productFamily"><%- helpers.t('PROPERTY:productFamily') %></label>
    <input id="<%- idPrefix %>-productFamily" name="productFamily" type="text" autocomplete="new-password">
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-confirmer"><%- helpers.t('PROPERTY:confirmer') %></label>
    <input id="<%- idPrefix %>-confirmer" name="confirmer" type="text" autocomplete="new-password">
  </div>
  <div class="form-group filter-actions">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
</form>
