<div class="suggestions-report suggestions-report-summary">
  <div class="filter-container no-print"></div>
  <h3><%- helpers.t('report:title:summary:averageDuration') %></h3>
  <h4>
    <span id="<%- idPrefix %>-averageDuration"></span>
    <span id="<%- idPrefix %>-productFamily" class="suggestions-report-summary-productFamily"></span>
  </h4>
  <div class="suggestions-report-summary-averageDuration"></div>
  <h3 class="no-print"><%- helpers.t('report:title:summary:count') %></h3>
  <h4 id="<%- idPrefix %>-count" class="no-print"></h4>
  <div class="suggestions-report-summary-count no-print"></div>
  <h3><%- helpers.t('report:title:summary:suggestionOwners') %></h3>
  <div class="suggestions-report-summary-suggestionOwners"></div>
  <h3><%- helpers.t('report:title:summary:categories') %></h3>
  <div class="suggestions-report-summary-categories"></div>
</div>
