<form method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        id: 'shortName',
        label: 'PROPERTY:',
        required: true,
        maxLength: 100
      }) %>
      <%- helpers.formGroup({
        id: 'fullName',
        label: 'PROPERTY:',
        required: true,
        maxLength: 200
      }) %>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" name="active" value="true">
          <%- t('PROPERTY:active') %>
        </label>
      </div>
      <%- helpers.formGroup({
        id: 'position',
        type: 'number',
        label: 'PROPERTY:',
        required: true,
        min: 0,
        max: 1000000
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
