<div class="form-group">
  <label for="<%- idPrefix %>-from" title="<%- t('core', 'filter:date:from:info') %>"><span class="fa fa-info-circle"></span> <%- t('core', 'filter:date:from') %></label>
  <input id="<%- idPrefix %>-from" class="form-control" name="from" type="date" placeholder="YYYY-MM-DD">
</div><div
  class="form-group">
  <label for="<%- idPrefix %>-to" title="<%- t('core', 'filter:date:to:info') %>"><span class="fa fa-info-circle"></span> <%- t('core', 'filter:date:to') %></label>
  <input id="<%- idPrefix %>-to" class="form-control" name="to" type="date" placeholder="YYYY-MM-DD">
</div>
