<div class="reports-metricRefs">
  <ul class="nav nav-tabs">
    <li class="reports-metricRefs-tab" data-metric="efficiency"><a href="#reports;metricRefs?tab=efficiency"><%- t('reports', 'metricRefs:efficiency') %></a></li>
    <li class="reports-metricRefs-tab" data-metric="productivity"><a href="#reports;metricRefs?tab=productivity"><%- t('reports', 'metricRefs:productivity') %></a></li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="reports-metricRefs-group">
        <div class="form-group">
          <label for="<%- idPrefix %>-overall"><%- t('reports', 'metricRefs:overall') %></label>
          <input id="<%- idPrefix %>-overall" class="form-control" name="overall" type="number" value="0" step="1">
        </div><!--
        //--><div class="form-group">
          <label for="<%- idPrefix %>-overall-prod"><%- t('reports', 'metricRefs:overall:prod') %></label>
          <input id="<%- idPrefix %>-overall-prod" class="form-control" name="overall.prod" type="number" value="0" step="1">
        </div><!--
        //--><div class="form-group">
          <label for="<%- idPrefix %>-overall-press"><%- t('reports', 'metricRefs:overall:press') %></label>
          <input id="<%- idPrefix %>-overall-press" class="form-control" name="overall.press" type="number" value="0" step="1">
        </div>
      </div>
      <% divisions.forEach(function(division) { %>
      <div class="reports-metricRefs-group">
        <div class="form-group">
          <label for="<%- idPrefix %>-<%- division._id %>"><%= division.label %></label>
          <input id="<%- idPrefix %>-<%- division._id %>" class="form-control" name="<%- division._id %>" type="number" value="0" step="1">
        </div><!--
        <% division.subdivisions.forEach(function(subdivision) { %>
        //--><div class="form-group">
          <label for="<%- idPrefix %>-<%- subdivision._id %>"><%= subdivision.label %></label>
          <input id="<%- idPrefix %>-<%- subdivision._id %>" class="form-control" name="<%- subdivision._id %>" type="number" value="0" step="1">
        </div><!--
        <% }) %>
        //-->
      </div>
      <% }) %>
    </div>
  </div>
</div>
