<div class="well">
  <form id="<%- idPrefix %>-form" class="filter-form">
    <div class="form-group filter-dateRange">
      <div>
        <label>
          <input id="<%- idPrefix %>-mode-online" name="mode" type="radio" value="online">
          <%- t('reports', 'filter:mode:online') %>
        </label>
        <label>
          <input id="<%- idPrefix %>-mode-date" name="mode" type="radio" value="date">
          <%- t('reports', 'filter:mode:date') %>
        </label>
      </div><div>
        <label for="<%- idPrefix %>-from-date" class="control-label"><%- t('reports', 'filter:from') %></label>
        <div id="<%- idPrefix %>-from" class="form-group-datetime">
          <input id="<%- idPrefix %>-from-date" class="form-control" name="from-date" type="date" placeholder="YYYY-MM-DD">
          <input id="<%- idPrefix %>-from-time" class="form-control" name="from-time" type="time" placeholder="hh:mm">
        </div>
        <label for="<%- idPrefix %>-to-date" class="control-label"><%- t('reports', 'filter:to') %></label>
        <div id="<%- idPrefix %>-to" class="form-group-datetime">
          <input id="<%- idPrefix %>-to-date" class="form-control" name="to-date" type="date" placeholder="YYYY-MM-DD">
          <input id="<%- idPrefix %>-to-time" class="form-control" name="to-time" type="time" placeholder="hh:mm">
        </div>
      </div>
    </div><div class="form-group">
      <label><%- t('reports', 'filter:interval') %></label>
      <div id="<%- idPrefix %>-intervals" class="btn-group filter-btn-group" data-toggle="buttons">
        <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:month') %>" data-interval="month">
          <input type="radio" name="interval" value="month"> <%- t('reports', 'filter:interval:month') %>
        </label>
        <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:week') %>" data-interval="week">
          <input type="radio" name="interval" value="week"> <%- t('reports', 'filter:interval:week') %>
        </label>
        <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:day') %>" data-interval="day">
          <input type="radio" name="interval" value="day"> <%- t('reports', 'filter:interval:day') %>
        </label>
        <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:shift') %>" data-interval="shift">
          <input type="radio" name="interval" value="shift"> <%- t('reports', 'filter:interval:shift') %>
        </label>
        <label class="btn btn-default" title="<%- t('reports', 'filter:interval:title:hour') %>" data-interval="hour">
          <input type="radio" name="interval" value="hour"> <%- t('reports', 'filter:interval:hour') %>
        </label>
      </div>
    </div><div class="form-group">
      <label><%- t('reports', 'filter:subdivisionType') %></label>
      <div class="btn-group filter-btn-group reports-1-filter-subdivisionTypes" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="checkbox" name="subdivisionType" value="prod"> <%- t('reports', 'filter:subdivisionType:prod') %>
        </label>
        <label class="btn btn-default">
          <input type="checkbox" name="subdivisionType" value="press"> <%- t('reports', 'filter:subdivisionType:press') %>
        </label>
      </div>
    </div><div class="form-group filter-actions">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary"><%= t('reports', 'filter:submit') %></button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a data-range="currentShift"><%= t('reports', 'filter:submit:currentShift') %></a></li>
          <li><a data-range="prevShift"><%= t('reports', 'filter:submit:prevShift') %></a></li>
          <li><a data-range="today"><%= t('reports', 'filter:submit:today') %></a></li>
          <li><a data-range="yesterday"><%= t('reports', 'filter:submit:yesterday') %></a></li>
          <li><a data-range="currentWeek"><%= t('reports', 'filter:submit:currentWeek') %></a></li>
          <li><a data-range="prevWeek"><%= t('reports', 'filter:submit:prevWeek') %></a></li>
          <li><a data-range="currentMonth"><%= t('reports', 'filter:submit:currentMonth') %></a></li>
          <li><a data-range="prevMonth"><%= t('reports', 'filter:submit:prevMonth') %></a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
