<tr>
  <td><%- no %></td>
  <td><%- division %></td>
  <td><%- _id %></td>
  <td><%- inventoryNo %></td>
  <td><%- totalAvailabilityH %></td>
  <td><%- operationalAvailabilityH %></td>
  <td><%- operationalAvailabilityP %></td>
  <td><%- exploitationH %></td>
  <td><%- exploitationP %></td>
  <td><%- oee %></td>
  <td><%- adjustingDuration %></td>
  <td><%- maintenanceDuration %></td>
  <td><%- renovationDuration %></td>
  <td><%- malfunctionDuration %></td>
  <td><%- malfunctionCount %></td>
  <td><%- majorMalfunctionCount %></td>
  <td><%- mttr %></td>
  <td><%- mtbf %></td>
</tr>
