<form class="reports-9-planUpload">
  <div class="form-group">
    <label for="<%- idPrefix %>-file"><%- t('reports', '9:planUpload:file') %></label>
    <input id="<%- idPrefix %>-file" name="plan" class="form-control" type="file" autofocus>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%- t('reports', '9:planUpload:submit') %></button>
    <button type="button" class="cancel btn btn-link"><%- t('reports', '9:planUpload:cancel') %></button>
  </div>
</form>
