<div class="reports-3-tableSummary">
  <table class="stripe order-column cell-border">
    <thead>
      <tr>
        <th><%- t('reports', 'oee:division') %></th>
        <th data-property="prodLine"><%- t('reports', 'oee:prodLine') %></th>
        <th><%- t('reports', 'oee:inventoryNo') %></th>
        <th><%- t('reports', 'oee:totalAvailability') %></th>
        <th><%- t('reports', 'oee:operationalAvailability:h') %></th>
        <th><%- t('reports', 'oee:operationalAvailability:%') %></th>
        <th><%- t('reports', 'oee:exploitation:h') %></th>
        <th><%- t('reports', 'oee:exploitation:%') %></th>
        <th data-property="oee"><%- t('reports', 'oee:oee') %></th>
        <th><%- t('reports', 'oee:adjusting:duration') %></th>
        <th><%- t('reports', 'oee:maintenance:duration') %></th>
        <th><%- t('reports', 'oee:renovation:duration') %></th>
        <th><%- t('reports', 'oee:malfunction:duration') %></th>
        <th><%- t('reports', 'oee:malfunction:count') %></th>
        <th><%- t('reports', 'oee:majorMalfunction:count') %></th>
        <th><%- t('reports', 'oee:mttr') %></th>
        <th><%- t('reports', 'oee:mtbf') %></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
