<div class="panel panel-primary">
  <div class="panel-heading">
    <%- t('isaPalletKinds', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('isaPalletKinds', 'PROPERTY:shortName') %></div>
        <div class="prop-value"><%= model.shortName %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('isaPalletKinds', 'PROPERTY:fullName') %></div>
        <div class="prop-value"><%= model.fullName || '-' %></div>
      </div>
    </div>
  </div>
</div>
