<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%= formMethod %>">
  <div class="form-group">
    <label for="<%- id('code') %>" class="control-label"><%- t('massUpdate:code') %></label>
    <input id="<%- id('code') %>" name="code" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('old12') %>" class="control-label"><%- t('massUpdate:old12') %></label>
    <input id="<%- id('old12') %>" name="old12" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('new12') %>" class="control-label is-required"><%- t('massUpdate:new12') %></label>
    <input id="<%- id('new12') %>" name="old12" class="form-control" type="text" required>
  </div>
  <div class="form-group">
    <label for="<%- id('newName') %>" class="control-label"><%- t('massUpdate:newName') %></label>
    <input id="<%- id('newName') %>" name="newName" class="form-control" type="text">
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><%- t('massUpdate:submit') %></button>
    <button class="btn btn-link cancel" type="button"><%- t('massUpdate:cancel') %></button>
  </div>
</form>
