<form class="osh-employments-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <%- helpers.formGroup({
        name: 'month',
        type: 'month',
        label: 'PROPERTY:',
        required: true,
        placeholder: 'YYYY-MM',
        min: time.format(window.PRODUCTION_DATA_START_DATE || '2020-01-01', 'YYYY-MM'),
        max: time.getMoment().startOf('month').add(1, 'months').format('YYYY-MM'),
        inputStyle: {
          width: '175px'
        },
        disabled: editMode
      }) %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="locked" value="true">
          <%- t('FORM:locked') %>
        </label>
      </div>
      <div class="form-group">
        <input id="<%- id('enableRecount') %>" type="checkbox">
        <button id="<%- id('doRecount') %>" class="btn btn-default" type="button" disabled>
          <%- t('FORM:recount') %>
        </button>
      </div>
      <div class="table-responsive is-colored osh-employments-form-table" style="margin-bottom: 0">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr>
            <th class="is-min"><%- t('wmes-osh-common', 'orgUnit:division') %></th>
            <th class="is-min"><%- t('wmes-osh-common', 'orgUnit:workplace') %></th>
            <th class="is-min"><%- t('wmes-osh-common', 'orgUnit:department') %></th>
            <th class="is-min"><%- t('PROPERTY:internal') %></th>
            <th class="is-min"><%- t('PROPERTY:external') %></th>
            <th class="is-min"><%- t('PROPERTY:absent') %></th>
            <th class="is-min"><%- t('PROPERTY:total') %></th>
            <th class="is-min"><%- t('PROPERTY:observers') %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr id="<%- id('overall') %>" class="secondary" data-division="0" data-workplace="0" data-department="0">
            <td class="is-min" colspan="3"></td>
            <td class="is-min osh-employments-form-input is-readonly">
              <input name="departments.d0w0d0.division" type="hidden">
              <input name="departments.d0w0d0.workplace" type="hidden">
              <input name="departments.d0w0d0.department" type="hidden">
              <input name="departments.d0w0d0.internal" type="number" readonly class="form-control no-controls">
            </td>
            <td class="is-min osh-employments-form-input is-readonly">
              <input name="departments.d0w0d0.external" type="number" readonly class="form-control no-controls">
            </td>
            <td class="is-min osh-employments-form-input is-readonly">
              <input name="departments.d0w0d0.absent" type="number" readonly class="form-control no-controls">
            </td>
            <td class="is-min osh-employments-form-input is-readonly">
              <input name="departments.d0w0d0.total" type="number" readonly class="form-control no-controls">
            </td>
            <td class="is-min osh-employments-form-input is-readonly">
              <input name="departments.d0w0d0.observers" type="number" readonly class="form-control no-controls">
            </td>
            <td></td>
          </tr>
          <% divisions.forEach(division => { %>
            <tr class="info js-division" data-division="<%- division._id %>" data-workplace="0" data-department="0">
              <td class="is-min" colspan="3"><%= division.label %></td>
              <td class="is-min osh-employments-form-input is-readonly">
                <input name="departments.<%- division.key %>.division" type="hidden">
                <input name="departments.<%- division.key %>.workplace" type="hidden">
                <input name="departments.<%- division.key %>.department" type="hidden">
                <input name="departments.<%- division.key %>.internal" type="number" readonly class="form-control no-controls">
              </td>
              <td class="is-min osh-employments-form-input is-readonly">
                <input name="departments.<%- division.key %>.external" type="number" readonly class="form-control no-controls">
              </td>
              <td class="is-min osh-employments-form-input is-readonly">
                <input name="departments.<%- division.key %>.absent" type="number" readonly class="form-control no-controls">
              </td>
              <td class="is-min osh-employments-form-input is-readonly">
                <input name="departments.<%- division.key %>.total" type="number" readonly class="form-control no-controls">
              </td>
              <td class="is-min osh-employments-form-input is-readonly">
                <input name="departments.<%- division.key %>.observers" type="number" readonly class="form-control no-controls">
              </td>
              <td></td>
            </tr>
            <% division.workplaces.forEach(workplace => { %>
              <tr class="active js-workplace" data-division="<%- division._id %>" data-workplace="<%- workplace._id %>" data-department="0">
                <td class="is-min"><%= division.label %></td>
                <td class="is-min" colspan="2"><%= workplace.label %></td>
                <td class="is-min osh-employments-form-input is-readonly">
                  <input name="departments.<%- workplace.key %>.division" type="hidden">
                  <input name="departments.<%- workplace.key %>.workplace" type="hidden">
                  <input name="departments.<%- workplace.key %>.department" type="hidden">
                  <input name="departments.<%- workplace.key %>.internal" type="number" readonly class="form-control no-controls">
                </td>
                <td class="is-min osh-employments-form-input is-readonly">
                  <input name="departments.<%- workplace.key %>.external" type="number" readonly class="form-control no-controls">
                </td>
                <td class="is-min osh-employments-form-input is-readonly">
                  <input name="departments.<%- workplace.key %>.absent" type="number" readonly class="form-control no-controls">
                </td>
                <td class="is-min osh-employments-form-input is-readonly">
                  <input name="departments.<%- workplace.key %>.total" type="number" readonly class="form-control no-controls">
                </td>
                <td class="is-min osh-employments-form-input is-readonly">
                  <input name="departments.<%- workplace.key %>.observers" type="number" readonly class="form-control no-controls">
                </td>
                <td></td>
              </tr>
              <% workplace.departments.forEach((department, departmentI) => { %>
                <tr class="js-department" data-division="<%- division._id %>" data-workplace="<%- workplace._id %>" data-department="<%- department._id %>">
                  <td class="is-min"><%= division.label %></td>
                  <td class="is-min"><%= workplace.label %></td>
                  <td class="is-min"><%= department.label %></td>
                  <td class="is-min osh-employments-form-input">
                    <input name="departments.<%- department.key %>.division" type="hidden">
                    <input name="departments.<%- department.key %>.workplace" type="hidden">
                    <input name="departments.<%- department.key %>.department" type="hidden">
                    <input name="departments.<%- department.key %>.internal" type="number" min="0" max="99999" class="form-control no-controls">
                  </td>
                  <td class="is-min osh-employments-form-input">
                    <input name="departments.<%- department.key %>.external" type="number" min="0" max="99999" class="form-control no-controls">
                  </td>
                  <td class="is-min osh-employments-form-input">
                    <input name="departments.<%- department.key %>.absent" type="number" min="0" max="99999" class="form-control no-controls">
                  </td>
                  <td class="is-min osh-employments-form-input is-readonly">
                    <input name="departments.<%- department.key %>.total" type="number" readonly tabindex="-1" class="form-control no-controls">
                  </td>
                  <td class="is-min osh-employments-form-input">
                    <input name="departments.<%- department.key %>.observerUsers" type="hidden">
                    <input name="departments.<%- department.key %>.observers" readonly type="number" min="0" max="99999" class="form-control no-controls osh-employments-form-observers js-observers">
                  </td>
                  <td></td>
                </tr>
              <% }) %>
            <% }) %>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
